[2016-05-26 21:45] dlebauer opened #107 "Upload simulated data to bety-test"
### Description

Data from the simulated phenotypes (terraref/reference-data#20) are ready for upload to the bety-test database (https://terraref.ncsa.illinois.edu/bety-test).

The full upload is available as a .zip file here: https://uofi.box.com/v/observationsforbetyupload

There are about 2,700,000 rows in the file, each with 6 traits. So this will be a very large upload.

Trying to upload of a

[2016-05-27 18:11] dlebauer commented on #81
@yanliu-chn yes this issue follows #86 - that is to write the converter, this issue is to add it to the pipeline.

[2016-05-27 20:09] gsrohde commented on #107
I haven't looked at this closely (and may not have time to for a while), but here are a few observations:

* At what stage do you get the 504 error?  I was able to reach the validation page for the 420-row file (but not the 4780-row one) the first time I tried it (but then tried again and got the error).  I was able to validate the 4780-row file on betydb.org, though it took quite a while (I didn'

[2016-05-27 20:35] dlebauer commented on #107
Looks like the time before timeout can be set in ngnix.conf, but I can find it. I'll just generate insert statements in R.

[2016-05-30 22:36] czender commented on #88
Tino on 4/28 you mentioned the need for a Darkreference. My understanding is that this is the exposure (in "counts")  measured when the whitereference is covered by a black surface of known (factory-calibrated) reflectance. What about the exposure (in "counts") measured from the whitereflector with no incident light? In other words, is there dark current/noise in the hyperspectral camera similar t

[2016-05-31 03:27] dlebauer commented on #107
Done. How to do it in R:

[code]

[2016-05-31 03:27] #107 closed

[2016-05-31 05:01] TinoDornbusch commented on #88
Charlie,

Dark current are photoelectric events (counts) triggered randomly on the sensor chip without incident radiation. Typically this is sensor-specific and temperature dependent. I see your point trying to estimate dark counts without actual measurements from other sensors. Worth comparing dark refs between sensors. Lets first see a time-course of dark counts during the day. If in regular dar

[2016-05-31 14:19] max-zilla commented on #85
While this is not a full extractor yet, I created an example stereoTop dataset on our development instance of Clowder and ran the demosaic script on it so we can show as an example this week:
http://141.142.209.122/clowder/datasets/574d9b4fe4b0efbe2dc4bb88

You can see the output images alongside the original .bin files.

[2016-05-31 15:18] robkooper commented on #107
nginx will have a timeout of 60 seconds. If no response is received after 60 seconds it thinks the remote (bety) is not responding and will return a 504.

[2016-05-31 17:02] dlebauer commented on #47
@robkooper would the [Apache Drill](https://en.wikipedia.org/wiki/Apache_Drill) software help with this application, especially since we will need to extend this to other databases?

[2016-06-06 17:45] dlebauer commented on #56
closing this: remaining issues of backups are addressed in #65

[2016-06-06 17:45] #56 closed

[2016-06-07 15:49] dlebauer opened #109 "Convert gantry coordinate system from right handed (x positive to left) to conventional (x positive to right)"
### Description

The coordinate system is currently placed with a 0, 0 point near the SE corner of the gantry. The x axis is positive going west. Units are meters offset from 0,0

When we create data products available for download, we can convert to any coordinate system.
### Further Suggestions / Request for Feedback

There are a few options
1. Change the coordinates used by the lemnatec scanner

[2016-06-07 15:51] dlebauer commented on #109
@rjstrand assigned to you. This is different than what we agreed last week, but after working with the existing reversed coordinate system I realized that it is sufficiently difficult to implement that it would make it more error prone to have each person writing code in gantry coordinate system to understand and handle appropriately.

[2016-06-07 16:54] dlebauer commented on #88
@czender visiting MAC last week, I learned the following:

1. @TinoDornbusch has been taking measurements of a spectralon white reflectance panel. He can point out the dates / times / locations of these
2. Some or all of the field of view will be in the shade. Thus, the downwelling spectrometer may be of limited use.
3. The scanner box acts as a blackbody, though even at 150C the flux below 2000 n

[2016-06-07 17:33] TinoDornbusch commented on #88
@dlebauer  please look for the MetadataKey in user_given_metadata:

"mission or scan": "3d_scan_4m"

between 15-30.5.2016 you should find the white target there.

[2016-06-07 17:36] TinoDornbusch commented on #88
@czender  There has been a cap on the fibreoptics for measurement of dark reference between 6.6.2016 4PM and 7.6.2016 9AM.

Please let me know whether you wish more dark measurements during off scan times. Please note that this requires climbing on top of the gantry.

[2016-06-07 19:02] czender commented on #88
Latest logger data on Roger is 6/3. I assume the dark logger runs will show-up in 3-4 days, and we will look then...

[2016-06-07 19:09] czender commented on #88
1. Does this "TinoDornbusch has been taking measurements of a spectralon white reflectance panel." refer to both hyperspectral imagers?
2. Are we to assume that any images with this metadata ("mission or scan": "3d_scan_4m") have the spectralon somewhere in the image?
3. What is the wavelength-dependent factory-calibrated reflectance of the spectralon?

[2016-06-08 14:14] jdmaloney commented on #80
Weather station is getting close to completion.  NAS for central data dumping should be on its way to MAC.  Tests on an identical unit have been successful, just waiting for the real thing to be in place and gathering data.

[2016-06-08 14:19] jdmaloney commented on #87
Service certificate is possible, starting the process of getting it.  Roadblock through of time delay on files, need to address that before continuing.

[2016-06-08 14:29] dlebauer commented on #64
@TinoDornbusch

@LTBen says 'Tino finished a range of Octave scripts on the control PC such that operators on site can view raw data (Vis, FLIR, PS2, Sensors) and make simple analyses and visualizations.'

Could you please either send these to me or place them in the repository ([you can copy and paste them individually here](https://github.com/terraref/computing-pipeline/new/master/scripts))?

[2016-06-08 15:45] TinoDornbusch commented on #64
@dlebauer  OK it is in gantry_data/Lemnatec/OctaveScripts

DO not laugh, just very simple loading procedures knitted with hot needle

[2016-06-08 16:11] dlebauer commented on #64
@TinoDornbusch thanks! ["if your code is good enough to do the job, then it is good enough to release"](http://www.nature.com/news/2010/101013/full/467753a.html)

[2016-06-08 16:24] TinoDornbusch commented on #64
@dlebauer forgot to mention that Solmaz contributed to by providing the Demosaic algorithm, which is not implemented in Octave

[2016-06-08 16:36] dlebauer commented on #85
@max-zilla is the demosaic script in this repository?

[2016-06-08 16:50] max-zilla commented on #85
@dlebauer looks like you never merged @abby621's pull request for it:
https://github.com/terraref/computing-pipeline/pull/96

That's where I got it from.

[2016-06-08 17:25] dlebauer opened #111 "Sample data for predictive algorithms"
@rmgarnett asks:

[2016-06-08 17:38] dlebauer commented on #111
Here for Mead, Nebraska http://ameriflux-data.lbl.gov:8080/SitePages/siteInfo.aspx?US-Ne3

There are lots of different ways in which the data were 'gap filled'. I chose the ones that use ANN because it sounds fancy. If you want to filter by only the true observed data, you can filter where [NEE_or_f ANNqc == 0]

* [data](ftp://cdiac.ornl.gov/pub/ameriflux/data/Level4/Sites_ByName/Mead_Rainfed/AMF_

[2016-06-08 18:20] caicai89- commented on #101
1. @max-zilla What is the queue name for the queue with message "*.dataset.metadata.added", "dataset.addmetadata"?
2. @robkooper Have you prepared the sample code for me to learn and implement?

[2016-06-08 19:06] max-zilla commented on #101
@caicai89- the queue name should be defined by your extractor in config.py. For example, take a look at my pending pull request for PyClowder example dataset extractor:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder/browse/sample-extractors/dataset-filecount?at=refs%2Fheads%2Fbugfix%2FCATS-554-add-pyclowder-support-for-dataset

- in config.py I give extractorName=data

[2016-06-08 19:12] dlebauer commented on #31
@nfahlgren and @max-zilla what is the status of this?

[2016-06-08 19:14] dlebauer commented on #85
@max-zilla merged ... who is responsible for adding this to the pipeline as an extractor?

[2016-06-08 19:17] dlebauer commented on #91
@robkooper what is the status of this?

[2016-06-08 19:17] abby621 commented on #85
@dlebauer @max-zilla I believe that's on our lab. We prioritized the one off full field stitched mosaic implemented with map tiles for last week's meeting. I did, however, have a call with Max prior to that and have directions on how to move forward on the extractor.

[2016-06-08 19:18] dlebauer commented on #79
@max-zilla have the / will the relevant information from this thread be captured in the documenation?

[2016-06-08 19:18] max-zilla commented on #31
@dlebauer @nfahlgren Noah, I'll look at your pull request before our meeting tomorrow.

[2016-06-08 19:27] max-zilla commented on #79
@dlebauer yes, I have a very rough draft (mostly copied from here) of a pipeline document in my fork of the terra-ref documentation. Once I make it more presentable we can merge into main docs.

[2016-06-08 19:34] dlebauer opened #112 "Add demosaic.py to pipeline to convert stereo images to image files"

[2016-06-09 04:50] caicai89- commented on #101
@max-zilla  thank you!

[2016-06-09 14:39] max-zilla opened #113 "Add new BETYdb API help to documentation"
After issue #77 I added a section for Clowder API and Globus interaction to the Clowder page.

We should add a corresponding entry to the BetyDB documentation page once the API is finalized.

[2016-06-09 14:39] max-zilla commented on #77
There is an API entry for Clowder now. I'm closing this issue and creating a new entry (#113) focused on the BETY API documentation.

[2016-06-09 14:39] #77 closed

[2016-06-09 16:20] rachelshekar commented on #89
@caicai89- where are you with this?

[2016-06-09 16:22] rachelshekar commented on #86
@czender - were you able to test this?

[2016-06-09 16:25] yanliu-chn commented on #86
I think Charlie mentioned that this has been tested.

[2016-06-09 16:29] rachelshekar commented on #81
@yanliu-chn - what is the status on this?

[2016-06-09 16:32] yanliu-chn commented on #81
Now that #86 is in good shape, our team will work with Clowder team and Charlie/Jerome to develop the extractor at dataset level.

The extractor will watch for the readiness of a couple files in a dataset; call Charlie's script to create netcdf files and write them back to the dataset.

[2016-06-09 16:54] czender commented on #86
yes i tested this (two weeks ago) and it works. sorry for not updating this earlier.

[2016-06-09 16:57] max-zilla commented on #31
@caicai89- @robkooper is "terra" the correct exchange to use for this extractor config? as opposed to "clowder"?

@caicai89- we can sit down and try to figure this out tomorrow if you have time. something that would be worth doing is installing a local test instance of Clowder and RabbitMQ to test this on a local environment: https://opensource.ncsa.illinois.edu/confluence/display/CATS/Installing+

[2016-06-09 17:28] dlebauer opened #115 "Create extractor for environmental logger"
The file  [EnvironmentalLoggerAnalyser.py](https://github.com/terraref/computing-pipeline/blob/master/scripts/hyperspectral/EnvironmentalLoggerAnalyser.py) converts the environmental logger stream to a netCDF file

We should add this to the pipeline as an extractor by wrapping its execution in a pyClowder script

@FlyingWithJerome please ask @max-zilla if you need help getting started with this.

[2016-06-10 13:16] caicai89- commented on #89
Based on the URL I provided, I think NetCDF Subset Service (NCSS) can do the thing.

[2016-06-13 00:25] FlyingWithJerome commented on #115
@dlebauer Got it, and sorry for the late reply.
But I need to update the EnvironmentalLoggerAnalyser.py to let it fit the newest format of the environmental logger data before add it to the pipeline.

[2016-06-13 19:00] rachelshekar commented on #86
@czender can this be closed then?

[2016-06-13 19:26] czender commented on #86
i don't think so. there is no clowder extractor that i know of for terraref.sh.

[2016-06-13 19:27] yanliu-chn commented on #86
right. my team will develop the extractor next.

[2016-06-13 20:42] dlebauer commented on #52
@gsrohde please close, create new issue for documentation if necessary

[2016-06-13 20:43] robkooper commented on #101
Quick intro to geostreams:

- datapoints are a measurement at a specific time at a specific location, needs a stream_id
- streams are grouping of datapoints that logially belong together, for example a season at a plot, needs a sensor_id
- sites/sensors is a high level description of a sensor at a location.

In our case we can see a sensor/site as a plot, and a stream as a planting season, and a d

[2016-06-13 21:03] dlebauer commented on #84
@dlebauer please flush this out so it is more general, applies to other platforms e.g. PlantCV. Test first on PlantCV ...

[2016-06-13 21:05] jdmaloney commented on #80
New NAS in place, waiting for data to start dumping it so I can build my script to grab it.

[2016-06-14 03:08] caicai89- commented on #101
Thanks! @robkooper

[2016-06-14 21:28] robkooper commented on #31
yes for plantcv terra is the right one to use. clowder is good for generic extractors.

[2016-06-16 16:49] czender opened #116 "Verify correctness of Logger data before committing changes"
When new capabilities or formatting changes are made to EnvironmentalLogger data files, the changes should be checked for correctness before committing them to a production workflow. Correctness means, at least, verifying properly formatted JSON. Otherwise the downstream workflow might break. Presumably someone at Lemnatec, like @TinoDornbusch, could run such a test.

### Description
There are a f

[2016-06-16 17:08] dlebauer commented on #116
@FlyingWithJerome could you please provide an example of the error messages you get and the file that causes it (or dates that contain the problem)?

[2016-06-16 18:01] TinoDornbusch commented on #116
@czender @dlebauer I am not sure whether this is related to some software upgrade attempts. There were some requests from Solmaz to include e.g. Scanning speed in hyperspec json.

The problem is that MArkus Radermacher, the only one to fix this, is in holiday for two weeks. We have had discussions in our team that changes in the software do not make much sense during an ongoing experiment. Just ca

[2016-06-16 18:43] FlyingWithJerome commented on #116
@dlebauer Yes, I have two error messages here. Both of them are from Professor Zender.
The first one is on the JSONs from 04-17, and it is raised by built-in JSON parser:

zender@cg-gpu01:~/nco$ python ${HOME}/terraref/computing-pipeline/scripts/hyperspectral/EnvironmentalLoggerAnalyser.py /projects/arpae/terraref/raw_data/ua-mac/EnvironmentLogger/2016-04-07/2016-04-07_12-00-07_enviromentlogger.js

[2016-06-16 19:52] dlebauer opened #117 "Create generic extractor for geospatial data from *_metadata.json files"
### Description

All datasets on the gantry come with a file named *_metadata.json. THis includes geospatial information that needs to be

1. converted to bounding boxes
2. converted to standard [0,0] at sw corner coordinate system
3. converted to geographic coordinate system (lat, lon)

See related code / algorithms
  * some is in computing-pipeline/scripts/hyperspectral/CalculationWorks.py
  * @

[2016-06-16 20:00] dlebauer commented on #116
@FlyingWithJerome what is the difference in the format? from 06-01?

In general, we can deal with re-processing older formats (e.g. from 04-17). I think these changes were dealt with in terraref/reference-data#26, but we will deal with re-processing those at the end of the first growing season when we re-process the entire season of data with a common version (alpha release Nov 2016) of all extrac

[2016-06-16 20:05] dlebauer commented on #116
@TinoDornbusch, @LTBen, @markus-radermacher-lemnatec I think two points are:

1) do not change existing structure of meta-data on an ad-hoc basis.
2) If additional information is required, adding fields should not break code, as long as the existing format is valid and the fields are not changed.
3) Requests such as those from @solmazhajmohammadi should be made as a github issue so that people who

[2016-06-16 20:18] czender commented on #116
My apologies for the misunderstanding. The current problem is due a change in the JSON file. The file itself is JSON compliant. Something was either added or changed that broke our python translator to netCDF. Best method to avoid this in the future is to run
`python EnvironmentalLoggerAnalyser.py  logger_input.json output_directory `
and if that does not succeed, notify us and send us the logger_

[2016-06-16 23:46] SolmazHajmohammadi-LemnaTec commented on #116
@dlebauer  Sure, I'll keep on my mind to open a new issue for the next time.
Regarding the issue that Tino mentioned: Right now the recorded speed for hyperspectral data shows the initial speed when measurement got started which is zero in some cases or small number which is the corrective movement of the gantry. The difference will be reporting the target speed instead of the initial speed and I

[2016-06-20 16:54] rachelshekar opened #118 "Finalize prototype architecture diagram"
https://docs.google.com/presentation/d/1LaOI3ESTFwn7b8x5oWZcdOWBLsCh2v4F7yqgQ836etU/edit#slide=id.p

[2016-06-23 16:33] dlebauer commented on #33
@nfahlgren can you send a sample csv file + metadata to Scott

[2016-06-23 16:33] max-zilla opened #119 "Complete PlantCV extractor"
This is a continuation of this discussion:
https://github.com/terraref/computing-pipeline/pull/108

Current plan:
- @nfahlgren has written base code for this functionality. Can currently be called by command line script.
- @yanliu-chn and @fwang29 are going to create a Clowder extractor that will call the PlantCV module of Noah's code.
- This way, someone can use Noah's original script to push dat

[2016-06-23 16:34] nfahlgren commented on #33
Is this accessible to you guys? http://141.142.209.122/clowder/files/574d17f3e4b0efbe2dc4adf1

[2016-06-23 16:35] jdmaloney commented on #118
Made a couple formatting modifications to Slide 3, but otherwise it was already correct in its current state.  I think that's the only slide I'm responsible for, however if not, just let me know.

[2016-06-23 16:40] max-zilla opened #120 "Transfer data from Danforth using Globus"
In order to make Danforth data available in the globus directories on Roger and thus accessible similar to the UA-MAC data, we will modify @nfahlgren script to transfer files to Roger using Globus.

Steps involved:
- Set up Globus endpoint at Danforth with access to correct data directories
- Modify script that currently sends via Clowder API to send via Globus
  - Globus has a python API: https:/

[2016-06-23 16:42] nfahlgren commented on #31
The PlantCV analysis script was merged in #108. @gsrohde is working on inserting PlantCV traits into BETYdb in #33. The Clowder extractor that will run PlantCV is being developed in #119

[2016-06-23 16:42] #31 closed

[2016-06-23 16:50] solmazhajmohammadi opened #121 "Sensor Fusion"
Overlaying the data coming from the stereo-vis camera, hyperspectral and 3D scanner.
All the data separately needs to be stitched/registered and georefrenced. Currently working on rigid object and plants movement/ growth is not considered yet.

[2016-06-23 16:50] #36 closed

[2016-06-23 16:53] nfahlgren commented on #120
@max-zilla Globus is running on our head node. I have a configured endpoint (ddpscbioinfo#apollo) that we can use.

[2016-06-23 17:13] nfahlgren commented on #33
Here's the contents of the file also:

[code]

[2016-06-23 18:55] FlyingWithJerome opened #122 "Verify the organization of logger data before updating"
@dlebauer @solmazhajmohammadi @TinoDornbusch @czender
Hope I refer to the correct people:-)

In issue #116 Professor Zender, Dr. LeBauer and I discussed the errors raised by the EnvironmentalLoggerAnalyser.py in hyperspectral. We found that the organization of the environment logger data had been largely changed (possibly since 06.01); some data had been repositioned and reorganized. (e.g. wavelen

[2016-06-23 19:23] solmazhajmohammadi commented on #122
@FlyingWithJerome I checked the xml files in the gantry system, it has not been modified since 5/23.  Markus Radermacher might be able to direct the issue.

[2016-06-23 20:44] dlebauer commented on #122
@FlyingWithJerome sorry - @czender requested this change in reference-data#26 because it to make it easier and faster. We can consider it fixed now.

The neat thing about Git is you can do

[code]

And then keep changing EnvironmnetalLogger.py. Don't worry about getting the extractor to work with the old versions of files. Once we get the pipeline up and running, we can go back and process the old

[2016-06-24 17:50] FlyingWithJerome commented on #122
@dlebauer Thank you and yes, I agree with it. The new format reduces a huge number of codes.

[2016-06-27 14:03] max-zilla commented on #120
@nfahlgren to get this started, ill create a branch with a version of your script that implements some Globus pieces, specifically the part that communicates with my Roger monitor (so I can make sure the Roger monitor is prepared to receive info from Danforth in addition to MAC). hopefully I can get a first version of that done today.

[2016-06-28 18:55] max-zilla commented on #120
@nfahlgren some discussion with @robkooper this morning. We plan on deploying your PlantCV extractor that @yanliu-chn is working on that we can use to demonstrate the functionality next week, whether on the dev instance of clowder or the production depends on when clowder master branch is updated.

You will use your current script to transfer the files for that - I'm working on the Globus updates,

[2016-06-29 14:54] max-zilla commented on #120
https://github.com/terraref/computing-pipeline/tree/Danforth-PlantCV-globus-mods/scripts/plantcv
Here is the branch I'm working on, by the way.

Yesterday it sounds like @fwang29 and @yanliu-chn got the updated PlantCV extractor working, it's being tested now so hopefully we'll be able to deploy in the next day or two.

[2016-06-29 17:25] nfahlgren commented on #120
@max-zilla sounds good. Right now we have a webservice that is used to extract data from the LemnaTec database (postgreSQL). The uploader code I have reads the exported directory and metadata file from this service. The plan is to replace this webservice with a monitor that watches the database and automatically exports data to our bioinformatics cluster (and triggers an upload to NCSA when necess

[2016-06-29 21:37] gsrohde commented on #43
There is now documentation in GitBook.  Closing this issue.  Will make new issues if and when specific documentation shortcomings become apparent.

[2016-06-29 21:37] #43 closed

[2016-06-29 22:13] gsrohde commented on #113
@max-zilla There is now documentation of the trait-insertion API at https://pecan.gitbooks.io/betydbdoc-dataentry/content/trait_insertion_api.html.  The BETYdb Docs menu will contain a link to the book containing this as soon a new release is done.  Can this issue be closed as soon as that release is done?

[2016-06-30 13:33] max-zilla commented on #113
@gsrohde yep, that looks good for now.

[2016-06-30 15:21] gsrohde opened #124 "Remaining API issues (from issue #52)"
* [ ] Make more complete apipie documentation comments
* [ ] Consider making key optional (can use curl -u option instead, or, for data access, work within a browser)
* [ ] Check error response to SQL validation errors
* [ ] Add more testing

[2016-06-30 15:21] gsrohde commented on #52
Closing.  Any remaining tasks are now in issue #124.

[2016-06-30 15:21] #52 closed

[2016-06-30 16:14] dlebauer commented on #76
@robkooper please document the testing protocol used by Clowder
@max-zilla please add this to the extractor development documentation / instructions

[2016-06-30 16:57] nfahlgren commented on #33
@gsrohde: for the pilot experiment, the genotypes included were:
[code]
The treatments were:
[code]

[2016-07-01 20:20] max-zilla commented on #119
@fwang29 and I tested out her extractor code today, my branch is here: https://github.com/terraref/computing-pipeline/tree/plantcv-clowder-extractor

Should be ready to try deploying at this point.

[2016-07-05 17:12] gsrohde commented on #33
@nfahlgren

Below I’ve listed the column headings used in the sample you sent, together with the sample value you provided.

After each key-value pair, I list the column heading the _should_ be used (if known) along with some further discussion.

After this, I discuss what other information must be included and what other information you may wish to include.

(@dlebauer Please read this over and s

[2016-07-05 17:30] dlebauer commented on #33
@gsrohde please add sv_area, tv_area, hull_area, solidity, height, and perimeter to the variables table. They are defined [in this google doc](https://docs.google.com/spreadsheets/d/13AiwuzlFNBxV1uEXnkQ4aEg4r5WEbxRFTbocxlISL00/edit#gid=0).

[2016-07-05 18:48] gsrohde commented on #33
@dlebauer

Done.  I mapped columns as follows:

name --> name
units --> units
definition --> description
comments --> notes
min_value --> min
max_value --> max (set to +Infinity if not given)

I left `type` blank, since the table column doesn't refer to the data type as the Google doc table does.

I changed `cm^2` to `cm2` in line with CF Guidelines.

I didn't fill in `standard_name` or `standard_

[2016-07-05 21:32] nfahlgren commented on #33
@dlebauer I signed up for a BETYdb account. The information you added looks good. I will have to check on the additional information about the sorghum varieties used in the pilot.

@gsrohde you are correct about plant_barcode, we don't need it in the database (redundant with cultivar and treatment). For the column mappings above (e.g. genotype => cultivar), do we need to change the nomenclature in

[2016-07-06 12:24] gsrohde commented on #33
@nfahlgren The plant barcode could go in the database (in the cultivar notes) if desired, though it looks like David hasn't done this as yet.  My point was that it doesn't need to be in the CSV since it needs only to be entered once for each cultivar.

I think I would prefer keeping the name of the column heading "cultivar" since I imagine for some users of the API, this name will seem more apt.

[2016-07-07 11:16] dlebauer opened #125 "Combine "live data" and "Maricopa" spaces in Clowder"

[2016-07-07 13:56] rachelshekar commented on #88
@czender -where are we with this? Are you waiting for feedback from someone?

[2016-07-07 13:58] rachelshekar commented on #86
@yanliu-chn  - can you/your team create a new issue for the extractor so this issue can be closed?  What is the status of that work?

[2016-07-07 14:00] rachelshekar commented on #81
@yanliu-chn - please have your team update this issue?

[2016-07-07 14:02] yanliu-chn commented on #86
I'm going to close this issue and transit to #81

[2016-07-07 14:04] yanliu-chn commented on #81
@rachelshekar Thanks for you reminder, I'm assigning this task to Xingchen @zodiase

[2016-07-07 14:04] rachelshekar commented on #101
@caicai89- this appears to be a discussion ... is there an actual task associated with this issue?

[2016-07-07 14:05] dlebauer commented on #101
Task is defined by title
On Thu, Jul 7, 2016 at 9:04 AM Rachel Shekar <notifications@github.com>
wrote:

[2016-07-07 14:06] rachelshekar commented on #85
@abby621 can you please let us know how this is going and if you need anything from the NCSA team?

[2016-07-07 14:07] caicai89- commented on #101
https://github.com/terraref/reference-data/issues/32#issuecomment-231086458 is a discussion

[2016-07-07 14:08] rachelshekar commented on #87
@jdmaloney - please update this issue

[2016-07-07 14:15] rachelshekar commented on #101
@caicai89- have you "Stored location and field of view metadata associated with each file in Clowder"?

[2016-07-07 14:18] rachelshekar commented on #80
@jdmaloney please update

[2016-07-07 14:18] rachelshekar commented on #115
@FlyingWithJerome please update this issue

[2016-07-07 14:24] jdmaloney commented on #87
Time delay was only rare occurrence, not worrying about it, continuing pursuit of service cert

[2016-07-07 14:25] jdmaloney commented on #80
Data arrives weekly or monthly, dumping it to gantry-cache, working with Max on log format and naming before full automation

[2016-07-07 14:39] pless commented on #64
@rachelshekar @max-zilla @dlebauer @abby621 Hi, we have a new person onboarding to this project (Zongyang Li, who will shortly get access to this).  While he is getting his clowder development/test environment setup, could we ask that @max-zilla integrate the demosaic script:

https://github.com/terraref/computing-pipeline/blob/master/scripts/stereoImager/demosaic.py

as a clowder extractor, and t

[2016-07-07 14:47] caicai89- commented on #101
Not yet, last week Max helped me set up the testing environment, and I found some errors during testing. In addition, for the geostreams API part, I still have some questions.

[2016-07-07 14:49] pless commented on #85
@rachelshekar @abby621 @dlebauer We have a new person who will take this project on.  But, creating the full field stitched mosaic has requires that the extractor wait until images for a full scan are complete.  Currently, the approach for clowder of listening for the creation of a file does not easily translate to listening for a complete scan to be complete.  Perhaps there are other "listener" p

[2016-07-07 14:55] max-zilla commented on #64
@pless @dlebauer @abby621 yes, I can prepare that extractor as an example.

[2016-07-07 15:39] robkooper commented on #85
Probably the better way to do this is have a user trigger this when they want it. So we can have the code ready to run but trigger a run of the extractor only if a user has shown interest in this. At that point we can disable the button until the process is complete.

Once the extractor is done it can associate the result as a preview with the dataset. Is it possible to zip up the result into a la

[2016-07-07 16:11] max-zilla commented on #64
@pless @abby621 I want to test a bit more, but initial version is here:
https://github.com/terraref/computing-pipeline/tree/demosaic_extractor/scripts/stereoImager/extractor

- the demosaic.py script is unchanged from what is in /scripts, i just put it in extractor folder for simpler importing.
- listens on files being added to datasets and checks for metadata, _left.bin, _right.bin. **the script

[2016-07-07 19:00] pless opened #126 "Mismatch between image size and meta-data field of view"
### Description

Field of view in metadata is not correct and is causing issues with subestting.

This is the original issue as reported by @pless :

In the Stereo image data, the json file has two fields that may be inconsistent with each other:

in:

[code]

### Context

This field of view estimate is used on the creation of the geoTIFFs and the overall field summaries.  The version created for

[2016-07-07 19:30] JeffWhiteAZ commented on #46
A suggested use cases for searches:
To monitor a single plot over time: Identify all imagery (all or selected sensors) for a location. Location might be a plot ID, point location with radius, or bounding rectangle. The time range would be user selected. The images could be retrieved in their original un-stitched form or in whatever stitched format is available (full field or swaths down the center

[2016-07-07 22:02] czender commented on #88
Yes, with regards to (1) I would like to know when/whether we have images of the spectralon for both imagers.
(2) is a straightforward question. @TinoDornbusch can you answer?
The answer to (3) may have some wavelength dependence, but still needs an answer. Not sure if the spectralon is the "99%" or "95%" (or some other) nominal reflectance.
 @TinoDornbusch or @markus-radermacher-lemnatec or @solm

[2016-07-07 22:33] solmazhajmohammadi commented on #88
@smarshall-bmr is running the scans, he might know if all the "3d_scan_4m" scan/missions have spectralon in the image.
I think spectralon is 95% nominal reflectance, Tino or Stuart can correct me if it is not.

[2016-07-08 02:58] smarshall-bmr commented on #88
@solmazhajmohammadi is correct on both accounts. The 3d_scan_4m has the Spectralon target in it until today's scan (7/7) because the plants have overtopped the highest setting on the tripods. The Spectralon target is 95% nominal reflectance.

[2016-07-08 16:17] max-zilla commented on #81
@yanliu-chn I did not realize this was already assigned to you when I spoke with @czender yesterday and offered to look into this.

https://github.com/terraref/computing-pipeline/tree/hyperspectral_extractor/scripts/hyperspectral/extractor

I have committed an initial draft of an extractor for the terraref.sh script, but it doesn't currently work. I haven't tried to really dig into charlie's scrip

[2016-07-08 17:01] czender commented on #81
This is a $PATH issue. terraref.sh does this on roger:
	module add gdal-stack-2.7.10
	module add netcdf nco
Basically it needs a current (4.6.0+) version of NCO.

[2016-07-08 17:24] Zodiase commented on #86
@yanliu-chn Anything I need to work on for this issue?

[2016-07-08 18:47] Zodiase commented on #81
@czender I'm a bit confused by the two parallel threads between #86 and this. I'd like to sort this out: is the steps:

 mentioned in OP still required, given

from @yanliu-chn in #86?

[2016-07-08 18:59] czender commented on #81
No. The OP shows how to build/install NCO yourself. #86 shows that @yanliu-chn did this on roger, and packaged it appropriately. terraref.sh needs NCO (and thus ncks) on its path. It doesn't matter from where. "module add nco" is one option (on roger).

[2016-07-11 14:09] max-zilla commented on #125
@robkooper last week we discussed and you recommended getting list of all datasets in space using API and looping through to assign to other space.

apparently we do not have a /api/spaces/listDatasets endpoint or anything to that effect. it would only take an hour or so to implement, do you know if anyone else has worked on this? if not, I will implement and create a pull request so it can hopefu

[2016-07-11 14:25] dlebauer commented on #125
Please transfer permissions too. Could you keep the Maricopa name instead of 'live data'?

[2016-07-11 15:38] #89 closed

[2016-07-11 15:40] #86 closed

[2016-07-11 15:45] rachelshekar commented on #17
Where is this @robkooper ?

[2016-07-11 15:49] rachelshekar commented on #84
@dlebauer  reminder

[2016-07-11 15:50] #75 closed

[2016-07-11 15:51] robkooper commented on #125
This is task https://opensource.ncsa.illinois.edu/jira/browse/CATS-545 in clowder. I have assigned this issue to you @max-zilla

[2016-07-11 16:12] dlebauer commented on #89
@yanliu-chn can we put one on Roger where users can access the hyperspectral data? If so, perhaps create a new issue?

[2016-07-11 18:09] ZongyangLi commented on #64
Hi, I am working on fix the GeoTIFF creation, because there is something un-regular with these GeoTIFF creations. I am trying to view images in a google map using tile coordinate. When I finish this, I will start working on a Clowder extrator.

[2016-07-11 19:37] max-zilla commented on #125
Pull request created.

[2016-07-11 20:02] dlebauer commented on #99
For now we will use the BETYdb API or bulk upload so I am closing this. We can re-open later when needed.

[2016-07-11 20:02] #99 closed

[2016-07-11 21:12] max-zilla opened #127 "Reprocessing of files after new calibration"
Discussion from email chain regarding how new calibration files are handled.

@jdmaloney @dlebauer @solmazhajmohammadi

From @rjstrand:
New calibration files arrived from the 3D camera manufacturer in the past week or two.  It is possible that they started batch re-processing of the raw 3D data collected previously.

The Globus transfer system monitors FTP logs for files being moved onto the gantr

[2016-07-11 21:16] max-zilla commented on #81
https://github.com/terraref/computing-pipeline/tree/hyperspectral_extractor/scripts/hyperspectral/extractor

[2016-07-11 21:26] gsrohde commented on #113
Updated links to documentation were part of Release 4.10.

[2016-07-11 21:26] #113 closed

[2016-07-11 21:36] max-zilla commented on #81
[Archive.zip](https://github.com/terraref/computing-pipeline/files/358145/Archive.zip)

[2016-07-13 10:44] markus-radermacher-lemnatec commented on #127
Yes I did start the ply files calculation around the 1st of July.
Therefor I deleted the directory gantry_data/LemnaTec/MovingSensor/scanner3DTop with all its content (the ply files where wrong anyway). That triggered a fresh ply calculation that took round about 20s for each single scan and may have taken several days.

Right now the ply calculation workflow still needs to be regarded as prelimin

[2016-07-13 18:36] smarshall-bmr commented on #126
I'm guessing that the field of view is incorrect. Allied Vision does indeed list the sensor as a 4/3 with square 5.5 µm x 5.5 µm pixels.
https://www.alliedvision.com/en/products/cameras/detail/Prosilica%20GT/3300.html

[2016-07-13 20:34] gsrohde commented on #33
@dlebauer Is there a revised CSV file that is ready for me to upload?

[2016-07-13 20:45] dlebauer commented on #33
@nfahlgren has the format changed since https://github.com/terraref/computing-pipeline/issues/33#issuecomment-228118036 ?

[2016-07-13 21:47] nfahlgren commented on #33
Not yet, but I think I need to update some column names to better match the
BETYdb API.

Noah
--
Director, Bioinformatics Core Facility
Donald Danforth Plant Science Center
975 North Warson Road
St. Louis, MO 63132
Email: nfahlgren@danforthcenter.org
Phone: 314-587-1676

On Wed, Jul 13, 2016 at 3:45 PM, David LeBauer <notifications@github.com>
wrote:

[2016-07-13 22:30] Zodiase commented on #81
@max-zilla

I was following the Brown Dog tutorial and encountered this error when trying the text "wc" example. Any ideas?

[code]

[2016-07-13 22:43] czender commented on #81
@max-zilla Thanks for creating a sample hyperspectral extractor. It appears you have copied terraref.sh, but none of the other hyperspectral scripts, into this new extractor directory. We (@FlyingWithJerome  and I) want all the hyperspectral scripts to run from the same directory in order to make it easier to install and to find all required scripts. Please either delete terraref.sh from the extra

[2016-07-13 23:13] dlebauer commented on #33
@nfahlgren not sure which column names you are referring to but the most important thing about the column names is that they don't change.

In principle, the output of PlantCV can be independent of where it is going. Any code that is BETYdb-specific can be executed independent of PlantCV.

If would be great if all extractors wrote to a standard format but we don't currently have one (for traits).

[2016-07-13 23:21] nfahlgren commented on #33
That works too, if it's best to leave them alone and have a translator instead.

Noah

[2016-07-14 02:32] robkooper commented on #81
@Zodiase problem is that the docker container tries to connect to localhost (which is the container itself). When you connect to clowder you need to connect to http://<yourhost>:9000/ not localhost.

[2016-07-14 13:40] max-zilla commented on #81
@czender thanks, meant to fix this earlier. Removed the duplicate of terraref.sh and added a config option to config.py where you can point to the correct directory. The default is "../" so it will look one level above the /extractor directory by default now.

[2016-07-14 14:47] max-zilla commented on #119
@fwang29 has a version of this that includes @nfahlgren's average traits.

this morning I am looking at the small # of changes we made to PlantcvIndoorAnalysis. Noah, I'm going to propose a change to your script based on these - primarily what this will do is move some command-line specific components (such as fetching files from clowder with GET and POSTing results) outside the process_sv_images(

[2016-07-14 14:54] Zodiase commented on #81
@robkooper I'm following the [BD tutorial here](https://opensource.ncsa.illinois.edu/bitbucket/projects/BD/repos/extractors-template/browse) to the step `Build and Start Example Extractor` and so far I couldn't find anywhere to specify a different host option. Also from the log `ConnectionError: HTTPConnectionPool(host='localhost', port=9000)` it appears the extractor is connecting to port 9000. A

[2016-07-14 14:56] Zodiase commented on #81
@robkooper Also I'm wondering what `Error in registering extractor: [Errno 2] No such file or directory: '/home/clowder/extractor_info.json'` is about.

[2016-07-14 15:30] nfahlgren commented on #119
@max-zilla sounds good to me.

[2016-07-14 16:03] dlebauer opened #128 "Add field scanner operational log to data stream; add additional information?"
## Description

According to @smarshall-bmr the field scanner generates a log file. Can this be added to the data stream? It could contain information like start time, stop time, errors, etc.

There may be a list of additional information that could be added, but for starters it would be great if this log could be added to the data stream. Does it contain any sensitive information?

### Planning

[2016-07-14 16:10] dlebauer opened #129 "Some hyperspectral images (e.g., 20160707) missing metadata and frameindex files"
### Description

There are no metadata for 20160707, 20160630 hyperspectral images.

These break our hyperspectral workflow.

### Context

We already have pipeline writing to logstash using pipeline. Need to incorporate these into pipeline / globus transfer monitors?

### Further Suggestions / Request for Feedback

What are these for?

More generally, how should missing data / errors be handled?

[2016-07-14 16:17] dlebauer commented on #127
@markus-radermacher-lemnatec why is the ply workflow run before transfer rather than at NCSA? Is this a special case?

[2016-07-14 16:18] dlebauer commented on #127
@markus-radermacher-lemnatec any ideas how these files got on the server if not by FTP?

[2016-07-14 16:37] dlebauer commented on #117
@caicai89- is this a duplicate of #101?

[2016-07-14 16:39] dlebauer commented on #101
@robkooper Max / Yaping ask how to map this data to geostreams API? (geostreams API has [dataset, collection, location] )

[2016-07-14 16:40] robkooper commented on #101
plot == site
stream == season
datapoint == dataset/collection

[2016-07-14 16:42] dlebauer commented on #101
I think it is not plot, but 'field of view'

[2016-07-14 17:09] smarshall-bmr commented on #128
The PLC log doesn't contain start or stop times.  It's more of a safety record of enabling the laser and PS2 and any errors that have occurred. It would likely be most useful for determining down time.

[2016-07-14 17:12] max-zilla commented on #101
OK @caicai89- some discussion notes.

- first, must enable Postgres plugin in Clowder. Since you're using docker this might be complex to do locally, but @robkooper mentioned enabling on clowder-dev to test: https://terraref.ncsa.illinois.edu/clowder-dev/ then you can use /clowder-dev/api/geostreams to test.
- to start, create one test Sensor/Site and one test Stream. all Datapoints will go into t

[2016-07-14 17:13] max-zilla commented on #117
Yes, this is a duplicate. I will close as discussion is taking place there.

[2016-07-14 17:13] #117 closed

[2016-07-14 17:16] dlebauer opened #130 "How to map data to clowder geostreams API / PostGIS Schema"
### Description

We need to map relevant information to the Clowder PostGIS database.

#101 is the first step - mapping field of view to the datapoint table in the Clowder PostGIS database.

Here we need to determine additional information that we want to store in the Geostreams API.

### Context

The role of Clowder is to store data related to the field scanner operations and sensor box, includin

[2016-07-14 17:17] dlebauer commented on #101
this issue covers storing file id, dataset id, and bounding box in the datapoint table and can be closed once that is complete.

Further discussion of mapping information we have to the rest of the schema is in #130

[2016-07-14 17:47] Zodiase commented on #81
@robkooper
So after some digging in https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder/browse/pyclowder/extractors.py I found the host option used for the HTTPConnection that is causing errors is passed in all the way from the message (https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder/browse/pyclowder/extractors.py#91). How am I supposed to fix

[2016-07-14 19:21] caicai89- commented on #117
Right, the issue here is overlap with part of the #101

[2016-07-14 21:00] ZongyangLi commented on #64
@max-zilla Hi, I am trying to get my Clowder test environment setup. Here are some problems:
1. I try to get my machine ip by running "docker-machine ip" in Docker Quickstart Terminal, but I get this error message: "Error: No machine name(s) specified and no "default machine exists". So I simply use "localhost:9000" in my browser, then complete the sign up. Is that Okay for my test environment?
2.

[2016-07-14 21:08] max-zilla commented on #119
@nfahlgren OK, just pushed a big-ish update. @fwang29 just tested this both by:
- running your upload script
- uploading 10 files in a snapshot to an existing dataset manually
Both paths generate the same outputs:
- average traits CSV into dataset
- metadata for each file with PlantCV outputs
- metadata for dataset indicating extractor has completed successfully

If you wanted to schedule a 20 min

[2016-07-14 21:09] FlyingWithJerome commented on #129
There are 3 critical files for JsonDealer.py: X_frameIndex.txt, X_metadata.json and X_raw.hdr; missing anyone of them would raise error or export a broken file. Right now our solution is the file checking function in JsonDealer.py in Hyperspectral Workflow: It will terminate the module when files are missing and print out a list of them like this:
`[jiarunm@cg-gpu01 hyperspectral]$ python JsonDeal

[2016-07-14 21:18] max-zilla commented on #64
@ZongyangLi yes, if you were able to access localhost:9000 you have things set up correctly.

That error I believe is due to the version of PyClowder you are using. Currently the pyclowder master branch does not support extractors that operate on datasets (such as the demosaic extractor). Instead you must install my branch:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowd

[2016-07-14 22:28] ZongyangLi commented on #64
@max-zilla Thank you! That's really helpful. Clowder starts to process when left/right/metadata are ready. But it choose an incorrect file as an input dataset. I got these output information in the terminal:
"img_left: /var/folders/rw/4bn7m8x90c1_vjxlw94gxk6h0000gn/T/tmpHDehoV/1_left.bin_57880e72e4b07f52668dee40/_metadata.json
img_right: /var/folders/rw/4bn7m8x90c1_vjxlw94gxk6h0000gn/T/tmpHDehoV/1

[2016-07-14 23:40] nfahlgren commented on #119
@max-zilla @yanliu-chn @fwang29 Looks good, thanks for getting this up and running. The only little thing I see is line 103 in the extractor, which looks like the list is hard-coded for 10 images. What if this lines was something like:

[code]

[2016-07-15 03:02] robkooper commented on #81
@Zodiase did you see my comment about not using http://localhost:9000/ in your browser? You will need to use http://ipaddress:9000/ where ipaddress is the ipaddress of either your macine, or of your virtual machine where docker runs.

[2016-07-15 06:01] robkooper commented on #101
This should be enabled now on clowder-dev

[2016-07-15 13:37] max-zilla commented on #119
@nfahlgren I like that, an elegant solution.

That reminded me of one last thing I wanted to do, which is improve the check_message() logic in the extractor - this is the piece that flags a "file added to dataset" message as relevant or not. I just pushed a small update:
- check_message() now checks if dataset already has plantCV metadata and skips if so.
- it also checks if dataset has at least 1

[2016-07-15 13:43] max-zilla commented on #119
Also created a pull request: https://github.com/terraref/computing-pipeline/pull/131

[2016-07-15 15:32] markus-radermacher-lemnatec commented on #127
The core calculation is done by a program shipped by the 3D scanner manufacturer (Fraunhofer). This program is protected by a hardlock key and right now there are only keys available on the gantry PCs.
But in principle it is possible, but with the disadvantage, that changes in the 3D scanner hardware setup also make changes in the ply worker config files nessessary, which might be missed, if those

[2016-07-15 15:34] markus-radermacher-lemnatec commented on #127
-> any ideas how these files got on the server if not by FTP?

No, LemnaTec accesses the storage server only through the FTP access.

[2016-07-15 15:59] Zodiase commented on #81
@robkooper Sorry I didn't realize you were talking about accessing clowder in browser with ip address. I took it as I should configure the extractor to connect to clowder with ip address.

[2016-07-15 17:18] Zodiase commented on #81
@robkooper Using a real IP address the example extractor can finish its task. Although I still get an error:
[code]

Do you know the cause of this?

[2016-07-15 18:43] robkooper commented on #81
You can ignore the ERROR, that is bascially some code we have to register the extractors with a centralized service. In this case it could not find the extractor definition file, for example see: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-dbpedia/browse/extractor_info.json

[2016-07-15 20:44] Zodiase commented on #81
@robkooper Do you know where all the message types are documented?

[2016-07-15 20:57] max-zilla commented on #81
@Zodiase they are not documented anywhere yet (I pointed this out recently and intend to create such a list at some point). One thing you can do is go to the RabbitMQ Management Console > Queues and add a new Queue to the Clowder exchange that listens on #.* (aka it will receive every message). Then you can click stuff in Clowder and see when messages arrive on that queue. I believe Yaping has set

[2016-07-15 21:56] robkooper commented on #81
In general the messages are send to you as needed. The general format is:
*.X.Y.Z...
X == file/dataset/collection/space/metadata
if X == file the Y = mime.major & Z = mime.minor
if X == dataset then Y.Z is add.file and remove.file
if X == metadata then Y == add or remove

[2016-07-15 22:16] Zodiase commented on #81
@robkooper @max-zilla Thanks for the info.

I'm also getting a new error that I did not see in the beginning. It started showing up after I made some changes to `config.py` and `extractor.py` in the template. But the problem is, the error is still there even after I have reset all my changes. Although the error doesn't seem to affect the extractor as the metadata is being written just fine.

[code

[2016-07-15 22:18] robkooper commented on #81
which version of clowder do you have, make sure it is at least 0.9.3.

[2016-07-15 22:18] Zodiase commented on #81
@robkooper From the web UI it says `0.9.x#274 branch:develop sha1:1c1a81c`

[2016-07-15 22:22] Zodiase commented on #81
@robkooper Also there's something strange: the extractor still responds to uploading `.txt` files when its `messageType` has been set to `*.file.image.#`. Is that supposed to happen? I thought in `extractors.connect_message_bus(extractorName=extractorName, messageType=messageType,
                                   processFileFunction=process_file, rabbitmqExchange=rabbitmqExchange,

[2016-07-15 22:27] robkooper commented on #81
If you use the same queue name as before then yes. Once a binding is made between a queue and a message type that binding is there forever until it is forcefully removed. You can do this using the rabbitmq management interface (http://localhost:15672/ and u/p = guest/guest)

[2016-07-15 23:01] max-zilla commented on #81
@Zodiase do you have my branch of pyclowder installed? Check out my last post here:
https://github.com/terraref/computing-pipeline/issues/64#issuecomment-232795385

You need a version of pyclower installed that supports dataset extractors - that error looks like you have the master branch installed. I mentioned it earlier in this topic but I think I edited it in later.

[2016-07-18 20:24] Zodiase commented on #81
@max-zilla I followed the steps in that comment to install pyclowder on my testing environment, but I still get the same error. How do I confirm that the correct version is installed?

[2016-07-18 20:42] max-zilla commented on #81
@Zodiase make a little python script with this (or open IDLE and type this in):
[code]

if you have the right version, you should see:
[code]

If you have wrong version, you should see:
[code]

...if you get the 2nd message, it could be that the extractor is somehow calling a different installation of Python than the one you installed pyclowder into.

[2016-07-18 20:47] Zodiase commented on #81
@max-zilla And I get neither:
[code]

[2016-07-18 20:53] max-zilla commented on #81
@Zodiase ok, that's interesting because in the error you posted above (KeyError: filename) it would've had to import pika before getting that far.

I suspect that when you run python from command line and when you are running extractor, there are 2 different pythons. Looks like you have pika installed but the old pyclowder for extractor, and on "main" installation (that's being used to run test-py

[2016-07-18 21:25] Zodiase commented on #81
@max-zilla With the updated DockerFile I passed that error. Thanks!

[2016-07-19 16:06] rachelshekar opened #132 "TERRA ref architecture"
Please update this versions of the slides with TERRA-REF consistent design.

https://docs.google.com/presentation/d/1be6d12byKo59On--NZHKcRAoh9K-dOQeI23sUJQcgiA/edit?usp=sharing

I’m not sure what the globus connection is (are you just saying you use globus for transfer?) and how the user interacts with BETYdb (it has a separate GUI, right?)

[2016-07-19 16:09] jdmaloney commented on #132
@rachelshekar Yep, just saying that the transfer protocol is Globus, the detailed path breaks down the bandwidth and service providers that are moving data between the locations.  I proof read slide 2 and it looks good to me, I don't see any technical things that need corrected.  Awesome diagram too, it looks nice!

[2016-07-19 22:56] robkooper commented on #91
created initial replication set, testing with another instance of clowder before using for terra.

[2016-07-20 15:02] caicai89- commented on #130
![clowder postgis schema-2](https://cloud.githubusercontent.com/assets/9286213/16991300/b2f2b09a-4e60-11e6-96b7-8b63c3d1f995.jpg)
The above is the schema I draw. I think current relationship is one-many, but it can support many-many and many-one. For the exactly type, maybe @robkooper can add them on.

[2016-07-20 15:31] ZongyangLi commented on #64
@max-zilla I am still working on this problem. Could you please give me more examples that how to access all datasets since I can not run the demosaic extractor successfully.

[2016-07-20 18:57] robkooper commented on #130
It is a one to many. How is the progress, did you manage to get datapoints into the server?

[2016-07-20 20:42] caicai89- commented on #130
@robkooper I have problems when creating the sensor. I tried two ways.
1. use the "Sensor->create" page, but it has no response after clicking the "Create" button
2. use the api directly and the following is the body. However, it returns a 500 error.
{
    "name": "test",
    "type": "Feature",
    "geometry": {
        "coordinates": [-111.974805692, 33.0763081106, 0]
    },
    "properties": {

[2016-07-20 20:47] caicai89- commented on #130
Another question is how to insert a polygon into the geometry?
"geometry": {
"coordinates": [[x1,y1,z1],[x2,y2,z2]]
}
Is that correct?

[2016-07-20 21:07] dlebauer commented on #130
@caicai89- I am not familiar with the geostreams API but geojson (and PostGIS) require the first point to be repeated at the end, e.g. `"coordinates": [[x1,y1,z1],[x2,y2,z2],[x3,y3,z3],[x1,y1,z1]]`

I think we also need to define and specify the site-specific coordinate reference system (terraref/reference-data#32)

Here is the geojson specifications: http://geojson.org/geojson-spec.html
And a nic

[2016-07-20 21:35] caicai89- commented on #130
@dlebauer You are right, for polygon in GeoJSON, the first and the end points should be the same. However, for the PostGIS, it seems do not have the requirement.
https://www.postgresql.org/docs/9.5/static/datatype-geometric.html
In addition, if we use the **type** _box_ for field of view, we might only need to provide 2 points.

[2016-07-21 12:46] robkooper commented on #91
Documentation can be found at https://opensource.ncsa.illinois.edu/confluence/display/CATS/Mongo+Clusters

[2016-07-21 15:46] rachelshekar commented on #132
@max-zilla : please comment on/edit slides - especially 3 and 4.

[2016-07-21 16:14] rachelshekar commented on #33
Dependant on extractor pull reqest

[2016-07-21 16:16] rachelshekar commented on #33
@max-zilla : is there an extractor for meta-data in place yet?  Issue #?

[2016-07-21 16:18] rachelshekar commented on #127
@max-zilla and @jdmaloney : updates?

[2016-07-21 18:15] max-zilla commented on #81
@Zodiase can you give an update, or point me to your code? You can create a new branch on computing-pipeline and push it there if you haven't put it somewhere else.

@czender no updates since 3 days ago, but I will work with him to get something posted next week (I'm out of the office until Tues morning).

[2016-07-21 18:21] max-zilla commented on #33
@nfahlgren @rachelshekar I just merged the extractor pull request. I wasn't sure if the discussion about PlantCV metadata mapping was finalized but I'll start up on this first thing next week if I don't hear otherwise.

[2016-07-21 18:57] solmazhajmohammadi commented on #127
@max-zilla @jdmaloney Do you think that deleting the data might solve the problem? Or maybe we can create a new folder and generate the missing files in the new folder?

[2016-07-21 20:53] jdmaloney commented on #127
@solmazhajmohammadi @max-zilla No.  I have given Max a list of files that can be manually queued for transfer.  @max-zilla let me know if something is a blocker on that.  Rewriting data on the cache is what we don't want to do, so let's avoid anything that involves that.  I did check through and saw all new files are on the cache-server so we should leave those as they are.

[2016-07-22 18:05] ZongyangLi commented on #64
#133

[2016-07-25 15:26] Zodiase commented on #81
@max-zilla @czender My last comment was the point where I finally finished setting up the Docker environment correctly and received a dataset message with the sample wordcount extractor. After that I had to work on another project for the CyberGIS 16 conference so no update so far.

[2016-07-25 16:04] solmazhajmohammadi commented on #127
So, East scanner data looks good, but west camera needs to be recalibrated. We might need to restart the ply worker and regenerate new pointclouds some time soon.
What is the safe way to deal with the new data?

[2016-07-25 16:15] smarshall-bmr commented on #127
@solmazhajmohammadi I have the West scanner as being correct. Can you confirm that? I had it backwards myself for a while.

[2016-07-25 16:21] jdmaloney commented on #127
@solmazhajmohammadi If you're going to reprocessing old data, then the best way is to write out the new files with a new file name so that the original files don't get modified and stay on the system. Something like ${original_file_name}.reproc${date}.bin so that way we know what the original file was that this was a revision of, and what date the revision was done (so if we do multiple revisions

[2016-07-25 16:28] solmazhajmohammadi commented on #127
@jdmaloney  just to be clear, old data would not be useful after the new calibration file is applied and probably they need to be deleted from cache server also.

@smarshall-bmr Check my email that has been sent this morning.
In all the scan that I have access, east camera is off. If you have any other data please send it to me via wetransfer.com
Direction setting needs to be corrected based on th

[2016-07-25 18:37] smarshall-bmr commented on #128
@TinoDornbusch would you happen to know where this log is stored on the PLC computer? I think it would be useful to pull a section of the log data so we can decide what we would like to do with it.

@dlebauer When we talk about adding this to the data stream, do we mean to store this with the field activity log? I have heard conflicting reports on if the gantry log and field log are going to be sp

[2016-07-25 19:36] yanliu-chn commented on #119
Sorry that I was on two consecutive business trips that were intense.

I'm trying to deploy the extractor on Nebular. Looks like the newest plantcv extractor is in the master branch. Two more questions:
- @nfahlgren does the plantcv code still rely on the specific opencv version 2.4.8?
- @max-zilla could you tell me again which pyClowder version to use for running the extractor? is it still bugfix

[2016-07-25 19:59] nfahlgren commented on #119
@yanliu-chn I think any opencv version in the 2.4.x branch will work. I know that currently the 3.x branch will not work.

[2016-07-25 20:00] yanliu-chn commented on #119
@nfahlgren thanks!

[2016-07-26 13:35] max-zilla commented on #119
@yanliu-chn yes that is the correct PyClowder branch to use.

[2016-07-26 13:50] max-zilla commented on #132
@rachelshekar I have revised the deck a bit.

- cleaned up slide 1 KSU box
- Revised Slide 3. I duplicated the original just in case, but updated to reflect the Globus pipeline we are going to use for Danforth.

For slide 4, there were some discrepancies between what I interpreted the extractors to be and who was assigned them.
  - Jerome working on EnvironmentalLogger -> NetCDF extractor: https:/

[2016-07-26 14:48] max-zilla commented on #127
@jdmaloney started the transfer on the current list of files.

[2016-07-26 14:52] max-zilla commented on #33
@nfahlgren @rachelshekar @dlebauer starting work on this under this branch: https://github.com/terraref/computing-pipeline/tree/plantcv_bety_extractor

[2016-07-26 19:02] dlebauer commented on #128
@smarshall-bmr by 'add it to the data stream' I meant 'put it on the cache server and have it transferred alongside the rest of the data' ... at appropriate intervals (daily?) and without duplication.

[2016-07-26 20:07] yanliu-chn commented on #119
@max-zilla @fwang29 did you test the extractor using @nfahlgren upload script? could you provide a test snapshot raw data with the json metadata and SnapshotInfo.csv in it? Noah once told me the location of one. But I couldn't find it on github issues.

[2016-07-26 20:12] fwang29 commented on #119
https://drive.google.com/file/d/0B-_VMDWHLIgCemwtUl9QTnN2OW8/view
Yes. And this link should have what you need.

On Tue, Jul 26, 2016 at 3:07 PM, Yan Liu <notifications@github.com> wrote:

--
Fengling Wang
B.S. Computer Engineering
University of Illinois at Urbana-Champaign, 2017
(217)418-4971 | fwang29@illinois.edu
http://kedamonobaby.co.nf

[2016-07-26 20:38] yanliu-chn commented on #68
I have deployed the most recent plantcv extractor on nebular:

extractor VM: plantcv-extractor-v2 . IP: 141.142.210.195
Clowder pointed to: https://terraref.ncsa.illinois.edu/clowder-dev/

I tested using Noah's test raw data and it worked: https://terraref.ncsa.illinois.edu/clowder-dev/datasets/5797c598e4b0f5630de3be8a

I think we can close this ticket.

[2016-07-26 20:39] yanliu-chn commented on #119
I have deployed the extractor on Nebula . Refer to #68

[2016-07-27 19:32] yanliu-chn commented on #81
Test run on ROGER:
<code>[yanliu@cg-cmp13 hyperspectral] **module purge**

[yanliu@cg-cmp13 hyperspectral] **module load gdal-stack-2.7.10 nco**

[yanliu@cg-cmp13 hyperspectral] **cd /projects/arpae/sw/computing-pipeline/scripts/hyperspectral/**

[yanliu@cg-cmp13 hyperspectral] **/projects/arpae/sw/computing-pipeline/scripts/hyperspectral/terraref.sh -d 1 -O /gpfs_scratch/arpae/tmp/hyperspectral/o

[2016-07-27 19:40] yanliu-chn opened #134 "'readlink -f' in computing-pipeline/scripts/hyperspectral/terraref.sh"
terraref.sh has two places using `readlink` to get the full path to scripts. i think the correct argument is `readlink -f /path/to/fileordir`. could you check and make a quick fix to the master branch?

[2016-07-27 19:59] smarshall-bmr commented on #129
Is there any indication of why metadata wasn't included in these files? Is it for a series of dates or interspersed?

[2016-07-27 21:54] Zodiase commented on #81
A couple of new issues:

I'm mostly adopting @max-zilla 's extractor code.
`subprocess.call(["bash", os.path.join(scriptDirectory, "terraref.sh"), "-i", rawFilePath, "-o", outFilePath])`
After invoking `terraref.sh`, I get this:

[code]

which has two errors:

1.  `dirname` is missing an operand.
2. `nco` is not installed.

I have no idea what to do with the first error. For the second, I tried to

[2016-07-27 22:05] Zodiase commented on #81
New error:
[code]

[2016-07-28 16:04] czender commented on #81
@yanliu-chn that's good news that the hyperspectral extractor works from system directories.
@Zodiase while it's good to know how to build NCO, it's unclear to me why you need to do it. Presumably installation of NCO in system directories should be independent of the extractor. Or am I missing something?

[2016-07-28 16:13] max-zilla commented on #81
@czender I think the NCO build is taking place inside Docker - Xingchen is creating a Docker container that will contain the extractor + all dependencies as a single VM essentially so it's easier to port. @Zodiase I can take a look with you tomorrow if you have time.

[2016-07-28 16:15] yanliu-chn commented on #81
I can also find a time to create the Dockerfile for running the extractor. I built all the needed software on ROGER and can rebuild in a Ubuntu environment.

[2016-07-28 16:19] czender commented on #134
Are you sure "readlink -f" is portable between Linux and Mac? I would like to preserve Mac/Linux portability and I think "-f" means something different on Mac (=BSD) than Linux, and readlink without the "-f" appears to work on both.

[2016-07-28 16:21] czender commented on #81
OK, that makes good sense. I can see how it would be useful to have it all in a Docker container, even though I personally have never used them.

[2016-07-28 16:26] czender commented on #129
@smarshall-bmr Good question. When we get an image, but incomplete metadata, is there something (besides fail) that the hyperspectral workflow should do?

[2016-07-28 16:32] czender commented on #81
@Zodiase your last message indicates that the NCO build fails because netcdf is not installed. That is a pre-requisite. See the NCO home page for a list of all prerequisites.

[2016-07-28 16:33] yanliu-chn commented on #134
I see. I dug a bit to find the diff b/w linux and mac, and with and without -f. I tested CentOS on ROGER and Unbuntu 14.04. My laptop is mac.

On both platforms, without -f, if we readlink a symbolic link, it returns the referenced path. if we readlink a non-symbolic link, it returns empty.
On linux, readlink -f returns the full path regardless the target is a symlink or not.
On mac, -f means some

[2016-07-28 16:36] robkooper commented on #134
I use the following in one of my scripts (will not work on windows):

[code]

[2016-07-28 16:46] czender commented on #134
@yanliu-chn yes, it's purpose is to get the path to script directory, since terraref.sh needs to call other scripts that will be in that directory. i will play with this until i find a solution that works on mac/linux with or without symbolic links (i happen to use symbolic links to run terraref.sh). am looking at solutions suggested here:
 http://stackoverflow.com/questions/59895/can-a-bash-scrip

[2016-07-28 16:52] yanliu-chn commented on #134
cool. thanks!

[2016-07-28 17:00] Zodiase commented on #81
@czender I changed to using `apt-get install nco` instead of building it myself and passed that error. Now here comes a new one:

[code]

I'm still very concerned about the first error `dirname: missing operand` which seems to be from this line: https://github.com/terraref/computing-pipeline/blob/master/scripts/hyperspectral/terraref.sh#L65.

[2016-07-28 17:09] yanliu-chn commented on #81
This error is related to #134 .

[2016-07-28 17:14] czender commented on #81
@Zodiase terraref.sh requires NCO 4.6.0 or newer and the "apt-get" retrieved an earlier NCO version. So you may need to build from source. Yes, the dirname issue is a consequence of #134 .

[2016-07-28 18:09] Zodiase commented on #81
@czender I followed the instructions on the NCO website (http://nco.sourceforge.net/) for the prerequisites:
[code]

and hit an error:

[code]

Then I tried:
[code]

Seems the instructions are outdated?

[2016-07-28 18:24] czender commented on #81
@Zodiase yes, these packages change names every few years so an update is needed. The offender appears to be libnetcdf6. Try libnetcdf or libnetcdf11 instead. I don't know what version of Devian/Ubuntu you're using, so I cannot be more definitive. When you find the right libnetcdf package, please let me know and I'll update the NCO homepage.

[2016-07-28 18:41] Zodiase commented on #81
@czender I could find neither `libnetcdf` nor `libnetcdf11` with `aptitude show`. As far as I understand, if `aptitude show` can't find the package info, it doesn't exist. However what confuses me is the error log `However the following packages replace it:  libnetcdf11`.

[2016-07-28 19:22] Zodiase commented on #81
@czender After successfully installed NetCDF and NCO, I get this new error while running the extractor:

[code]

I assume that's the readlink issue?

[2016-07-28 19:36] czender commented on #81
@Zodiase the first problem is readlink. the second is due to a mismatch between the ncks executable and the shared nco library. either PATH or LD_LIBRARY_PATH must be changed to resolve this issue. also, please post the name of the ubuntu netcdf package you ended up using.

[2016-07-28 19:38] Zodiase commented on #81
@czender I'm using `libnetcdf11`.

[2016-07-28 19:45] Zodiase commented on #81
@czender Also could you explain the `~zender/nco/data/in.nc` at https://github.com/terraref/computing-pipeline/blob/master/scripts/hyperspectral/terraref.sh#L491 ?

[2016-07-28 20:26] czender commented on #134
@Zodiase and @FlyingWithJerome i committed a new version of terraref.sh intended to address the readlink issue. please pull and report any problems...

[2016-07-28 20:28] czender commented on #81
@Zodiase it's an ugly hack that i just made prettier. Please pull latest hyperspectral pipeline from github and test and report any problems.

[2016-07-28 21:37] Zodiase commented on #81
@czender The readlink issue seems to be gone. But I'm still solving the second one, the shared object file.

[2016-07-28 22:23] czender commented on #81
the problem may be related to these lines:
[code]
they are there to ensure NCO is found. but if you are building it yourself from scratch maybe the paths conflict...

[2016-07-29 20:28] rachelshekar commented on #101
@caicai89- is this complete?

[2016-07-29 20:29] rachelshekar commented on #87
@jdmaloney - can this be closed now?

[2016-07-29 20:32] jdmaloney commented on #87
@rachelshekar Not yet, this hasn't been fully implemented yet

[2016-07-29 20:32] rachelshekar commented on #115
@FlyingWithJerome - please update this issue

[2016-07-29 20:59] FlyingWithJerome commented on #115
@rachelshekar Sorry, I think right now @max-zilla and @Zodiase are working on the extractor. I'm maintaining the source code of hyperspectral workflow.

[2016-07-29 21:33] caicai89- commented on #101
Not yet, I will close this once it pass the test.

[2016-08-02 15:55] pless opened #135 "Missing json files in some StereoVis folders"
### Description

For some of the StereoVis data, the folders that contain this data do not have the associate json file, so that we don't know where the imagery was taken.  This seems to be for data collected before May 3, 2016.  An example data folder is, which (as of Aug. 2) has no json file.

/MovingSensor/stereoTop/2016-05-02/2016-05-02__13-27-24-453/

[2016-08-02 22:39] dlebauer commented on #135
I did a quick count of files by extension
[count_stereotop.txt](https://github.com/terraref/computing-pipeline/files/398302/count_stereotop.txt) using this:

[code]

Here are some anomalies:

* (as reported above) there was a period in late April when .bin files were generated but not json metadata files.
* There also appears to be folders with json but no .bin files (e.g. 2016-05-07)
* Others whe

[2016-08-02 23:49] smarshall-bmr commented on #135
I just checked the cache server, I didn't check every folder but I haven't seen any evidence of these data anomalies. Is it a lot of folders that are incomplete in each case or just a handful?
________________________________
From: David LeBauer [notifications@github.com]
Sent: Tuesday, August 02, 2016 5:39 PM
To: terraref/computing-pipeline
Cc: Marshall, Stuart; Mention
Subject: Re: [terraref/com

[2016-08-03 00:35] jdmaloney commented on #135
I spot checked a few on the cache server as well and didn't see the anomalies there.  We have to remember those dates are all pre-pipeline dates, aka before the automatic queuing process we're using now, which by the looks of things after skimming the output file David posted seems to be spot on since it took over in mid-May.  Before that transfers were being done by hand.  After seeing those date

[2016-08-03 02:00] dlebauer commented on #135
Data flow is low because the biggest source of data (VNIR) is not online. Our original estimates are here: https://docs.google.com/spreadsheets/d/1UEwBPG6Y2o-Gp5futzmPvfTbhIcNhY4juVwMojX6SAg and we should revise that sheet now that we have data.

@jdmaloney do transfer logs contain information to create time series of data production rates?

Also note that we don't have the pipeline up so no deriv

[2016-08-03 03:45] jdmaloney commented on #135
Ah, I see, didn't realize VNIR wasn't online, thought we had all sensors going.

@dlebauer Not exactly, we get time stamps (very accurate ones) upon completion of every transferred file into the gantry-cache.  The logs don't contain the file size however, so you'd have to grab all file paths, get their summed size then divide it over the time specified.  Outside the logs I installed a program on t

[2016-08-03 13:46] markus-radermacher-lemnatec commented on #127
Currently all 3D scan are reprocessed with new settings to avoid the skew.
The supposed naming is not supported by the ply worker, instead the following target folder has been used:
[cid:image001.png@01D1ED9D.ACD25950]

Von: JD Maloney [mailto:notifications@github.com]
Gesendet: Montag, 25. Juli 2016 18:22
An: terraref/computing-pipeline
Cc: Markus Radermacher; Mention
Betreff: Re: [terraref/compu

[2016-08-03 15:20] jdmaloney commented on #127
@markus-radermacher-lemnatec Looks good, we see the files coming in, they're already arriving here at NCSA.  Thanks for redirecting the output!

[2016-08-03 18:27] max-zilla opened #136 "Complete Danforth->NCSA pipeline"
PlantCV extractor is now ready V1.

In this branch:
https://github.com/terraref/computing-pipeline/tree/Danforth-PlantCV-globus-mods

I have modified Noah's upload script to work with my Globus monitor script currently deployed in Maricopa. Need to polish/test it and confer with @nfahlgren but it's close to ready. This will let us stand up full pipe.

[2016-08-03 18:28] max-zilla commented on #119
I am going to close this issue. The BETYdb piece remains: https://github.com/terraref/computing-pipeline/issues/33

And getting Globus pipeline from Danforth in place: https://github.com/terraref/computing-pipeline/issues/136

[2016-08-03 18:28] #119 closed

[2016-08-03 18:32] max-zilla opened #137 "Roger Globus directory structure"
Recent discussions have suggested a reorganization of the data on ROGER would make sense for a few reasons:
- division of raw and derived data products
- division of site (MAC, Danforth, KSU...)
- more generalized support for additional sensors and sources

The first version of the Globus monitor would expect a set of sensors under a /MovingSensor directory, and support for EnvironmentalSensor was

[2016-08-03 18:55] craig-willis commented on #137
If the data will be accessible to users via Globus, then it might also be worth considering the relationship between the directory structure, how the data is versioned, and how the directory structure relates to published DOIs.  Some of this is discussed in the doc attached to https://github.com/terraref/reference-data/issues/43.

[2016-08-03 21:19] jdmaloney commented on #80
Full automation of Weather and Lightning data complete, working with Pedro to get a better solution than email for irrigation

[2016-08-03 21:52] dlebauer commented on #80
At a minimum could he upload files directly to Clowder?
On Wed, Aug 3, 2016 at 4:19 PM JD Maloney <notifications@github.com> wrote:

[2016-08-03 22:06] jdmaloney commented on #80
I'm getting ready to email him, I'm going to try and get it so he just transfers it to a folder on the same NAS where we get weather/lightning data, and my same code can grab it from there.  That way there's nothing new to write and we get the files on the ROGER file system so we can see them apart from Clowder and they'll get backed up with normal backup procedures.

[2016-08-03 22:38] jdmaloney commented on #137
![uploads/27e26753-18e9-466d-97e3-27e7b5ed5370/Screen Shot 2016-08-03 at 5.33.27 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F27e26753-18e9-466d-97e3-27e7b5ed5370%2FScreen+Shot+2016-08-03+at+5.33.27+PM.png)

Proposed file tree we can talk about at tomorrow's meeting, Craig the Globus sharing with the above structure could be done out of the sites directory being the Globus

[2016-08-03 22:52] jdmaloney commented on #87
Still trying figure out how backup timing will fit in with data flow, ex. reprocessed data location etc.

[2016-08-04 15:03] max-zilla commented on #127
@jdmaloney think we can close this?

[2016-08-04 15:04] max-zilla commented on #125
Clowder is ready to execute this, but I'm going to wait another few days until the Globus backlog is more relaxed because this will be database intensive.

[2016-08-04 15:10] jdmaloney commented on #127
@max-zilla Yes, as long was we make sure that all future reprocessing does not over write existing data.

[2016-08-04 15:11] max-zilla commented on #120
@nfahlgren I've made progress on my branch. the changes for the monitor ended up being a bit more substantial due to folder structure weirdness, but I think I have a script ready. I need to test my updates more before we stand it up, however.

https://github.com/terraref/computing-pipeline/tree/support-climate-logs
This branch adds a lot of generic code to support new folder structures at a site l

[2016-08-04 15:12] max-zilla commented on #81
@yanliu-chn @Zodiase any updates here?

[2016-08-04 15:14] max-zilla commented on #115
@FlyingWithJerome is this the same extractor as https://github.com/terraref/computing-pipeline/issues/81?

That's the main one I think @Zodiase is working on. Unless @yanliu-chn has updates I haven't heard about, haven't done anything with this. I can get it done if no one else has started.

[2016-08-04 15:14] #68 closed

[2016-08-04 15:15] max-zilla commented on #64
This discussion has moved to #133 and the code is written. closing.

[2016-08-04 15:15] #64 closed

[2016-08-04 15:19] max-zilla commented on #33
After discussion with @gsrohde and @dlebauer it sounds like a generic BETYdb extractor is preferable. This could check for any CSV files or metadata that match some criteria (e.g. recognized column names) to insert into BETYdb. We can start very specific (like looking for avg_traits.csv from @nfahlgren's PlantCV extractor) and generalize as we go forward.

**Some comments from email traffic with S

[2016-08-04 15:19] #127 closed

[2016-08-04 15:23] max-zilla opened #138 "Extractor to process stereo camera files into .jpg"
Email discussion with another team:

we do have some code written that processes files necessary for our algorithms, so perhaps we can upload that and start there?

The code can be found in a private repo

This repo was written with for Ubuntu so I have not tested it.

I have a slightly altered local version (I'm working on mac)
thats not on any remote repo.

The main key thing is after the view f

[2016-08-04 15:38] max-zilla commented on #130
From emails between @caicai89- @robkooper and myself:

Yaping getting errors about datapoints.created column missing in PostGIS database.

Appears the SQL that was executed does not create this column.

Brock suggests running with update flag:
/code ./sbt -Dpostgres.db=gltg -DPOSTGRESUPDATE=1 -DMONGOUPDATE=1 run

Not sure where this is handled in a service context like we have on Clowder dev. Yapi

[2016-08-04 15:53] dlebauer commented on #115
The environmental data extractor should be separate from the hyperspectral
extractor although the environmental data is required by the hyperspectral
data
On Thu, Aug 4, 2016 at 10:14 AM Max Burnette <notifications@github.com>
wrote:

[2016-08-04 16:05] nfahlgren commented on #120
@max-zilla sounds good, let me know is you need to run any tests from the DDPSC. You have a user account right and/or would that be useful?

[2016-08-04 16:06] Zodiase commented on #81
@max-zilla
I think @yanliu-chn is helping me install the correct prerequisites in the Docker container. He's on vacation today though.

[2016-08-04 16:10] max-zilla commented on #115
@FlyingWithJerome is going to update EnvironmentalLogger.py file and then I will help create extractor.

[2016-08-04 16:20] dlebauer opened #139 "Hyperspectral pipeline output is 4x as large as input"
This was initially observed by @yanliu-chn; @czender suggested that it may be related to netcdf-4

[2016-08-04 16:22] FlyingWithJerome commented on #115
Oh, I misunderstood; so the EnvironmentalLogger needs a separate extractor?
Yes. I will keep updating the EnvironmentalLogger.py and create the extractor for it.
@max-zilla Maybe no. I think Dr. LeBauer @dlebauer  means EnvironmentalLogger.py works in Hyperspectral workflow, but needs an extra extractor

[2016-08-04 16:38] max-zilla commented on #120
@nfahlgren for Globus, i think it would make sense to have a Danforth-specific user. This allows me to upload incoming files as different Clowder users, for instance (e.g. a Danforth user vs. a MAC user) and generally helps us partition things.

Up to this point I've been transferring data from MAC as my Globus account maxzilla, but I think we want to do the same with MAC as well (a dedicated user

[2016-08-04 16:44] czender commented on #139
Just checked and the figure is really output = 3.001 x input. This is primarily due to the addition of the output field rfl_img (image reflectance), which is stored as four byte floats. Therefore this field alone is twice the size of the input image, which is also stored in the file. Those two fields alons gets us to output =3x input. The small residual is due to other diagnostic fields that were

[2016-08-04 16:44] #139 closed

[2016-08-04 22:47] dlebauer commented on #115
Correct, the environmental logger extractor needs to work independently
from the hyperspectral extractor
On Thu, Aug 4, 2016 at 11:22 AM JeromeMao <notifications@github.com> wrote:

[2016-08-04 23:15] dlebauer commented on #138
closing issue, moving to source code repository for separate project

[2016-08-04 23:15] #138 closed

[2016-08-05 14:14] rachelshekar opened #140 "Clowder terms of service"
https://terraref.ncsa.illinois.edu/clowder/tos

- [x] ask Erika and Nadia for feedback
- [ ] create shortened version referencing longer version
- [ ] post shortened version in documentation, other locations

[2016-08-05 16:35] jdmaloney commented on #80
Irrigation directory on NAS created, script is also now watching that folder.  Waiting for files to get dropped in, once a test one completes then we're good

[2016-08-08 15:33] max-zilla commented on #137
@jdmaloney I think that outline makes sense. Seems to be the best place to outline a bit more on what will actually happen here.
.
.
.
**how it was done before**
- on gantry, map the following directories in Docker
[code]
- on Globus transfer, replace /gantry_data/LemnaTec in file paths with an empty string to get "base path"
[code]
- transfer to ROGER using that path as destination
[code]

This s

[2016-08-08 15:36] max-zilla commented on #137
Once we migrate over and the pipeline is up and running for this new structure, we can pause the pipeline, migrate old files to the new structure, and run a database update on Clowder so existing file pointers point to the new locations.

[2016-08-08 15:49] ZongyangLi opened #141 "Irregular 3D scanner data in new calibration files"
### Description

Our lab is analyzing re-calibrated 3D data in: "/MovingSensor.reproc2016-8-3/scanner3DTop/" in Globus. There is some unexpected situation in new calibration files here:
1. For some of the 3D scanner data, the folders that contain this data do not have the associate files. Some examples:
   "/MovingSensor.reproc2016-8-3/scanner3DTop/2016-05-04/2016-05-04__15-42-38-654/"
   "/Moving

[2016-08-08 15:57] dlebauer commented on #141
Do you have any thoughts @smarshall-bmr @TinoDornbusch @rjstrand ?

[2016-08-08 16:25] smarshall-bmr commented on #141
@solmazhajmohammadi could probably tell you more about this. The empty folder/blank plys/tilted plants were known issues but I thought that all of the incorrectly generated ply files have been rewritten/replaced. Some may have been missed?

[2016-08-08 16:56] max-zilla commented on #136
@nfahlgren and I are having a call today to go over my proposed changes.

Action items for this rollout, which I anticipate happening after we have migrated the existing MAC pipeline to the new Roger directory structure (#137):

- we should create a unique Globus account for the transfer from Danforth -> NCSA. Can use an existing account.
- map that Globus account on ROGER side to a unique Clowder

[2016-08-08 17:15] robkooper commented on #136
@maxzilla We really should be using something else than your account for uamac. Best is to have an account for each site so it is easy later to find the data from a site in clowder. We can find a way later this week to change the ownership of all file, datasets and collections.

[2016-08-08 19:58] ZongyangLi commented on #85
As we have created demosaic extractor to generate geotif which contains of geographic information, it should be straightforward to create an extractor to generate full stitched map. Primary script is available, but we still have something uncertain:

1. As @pless discussed before, we need some approach to trigger after a scan is complete. For an initial version of the extractor, we input a "tif_li

[2016-08-08 20:52] solmazhajmohammadi commented on #141
1. Original data is available in the server and in the old 3D scanner folder ("/MovingSensor/scanner3DTop/").
PLY worker was stopped during the processing data, probably missing data is related to this issue.  I will make sure to keep record of any unwanted restart for the next run.

2. For the empty pointclouds we can delete them from the server for the next processing.

3. Some of the parameters

[2016-08-08 21:31] ZongyangLi commented on #141
@solmazhajmohammadi Thanks for your reply!
For "tilted plants", I just want to let you know that it is not only happened when the scans started from y=22m. In the folder I provided(full day data), both side(west/east scans) pointclouds are tilted in reprocessing data.

[2016-08-09 13:23] max-zilla commented on #137
@jdmaloney how does this match your thinking:
1. shut down everything - FTP, MAC+Roger monitor services, etc.
2. update Globus on the gantry to mount the /gantry_data level instead of the /gantry_data/LemnaTec level
3. prep new Roger directory structure (looks like already done)
4. update Globus on Roger to mount the /terraref (or /sites, but that would not allow Globus users to access the previou

[2016-08-09 13:29] jdmaloney commented on #80
Done

[2016-08-09 13:42] jdmaloney commented on #137
@max-zilla That looks good to me, a few notes on certain steps.

2. I believe this is already happening, when I log into Globus and open the endpoint it drops me in /gantry_data and I see both Lemnatec and MAC
3. Yes, a bit of tweaking still (user directories created, double check permissions, sticky bits, etc.) but very much mostly done.
4. I need to check on how to best make the move of the Glob

[2016-08-09 13:51] max-zilla commented on #137
@jdmaloney slightly edited your comment so Markdown didn't screw up your numbers.

#7 we can migrate the files with the pipeline running, it'll just mean that Clowder will have a bunch of broken links until we update its database. For updating the database we'll need to stop Clowder and probably the Roger monitor as well, but we can leave the gantry monitor running and it should be fine.

Once the

[2016-08-09 14:28] dlebauer commented on #80
JD could you please create another issue that states where / what these
streams are and adds the new streams to the environmental logger extractor?
On Tue, Aug 9, 2016 at 8:29 AM JD Maloney <notifications@github.com> wrote:

[2016-08-09 16:11] jdmaloney commented on #80
@dlebauer A bit confused on what you mean.  I can open another issue and put the paths for the data on the ROGER side in it, and give a description (based on what little I know about the data). Is the issue going to be for whoever writes the extractor for that data?  If so who should I assign it to? (or just leave it unassigned)

[2016-08-09 16:40] max-zilla commented on #137
@dlebauer @robkooper JD and I plan to make this move on Thursday.

@jdmaloney Rob agreed with your earlier suggestion - we can move the existing Roger files to the new directory structure during the same downtime on Thursday, and update the Mongo pointers later.

[2016-08-09 17:19] dlebauer commented on #80
That is correct, the new issue would be to add the transferred data to the
environmental logger. You can assign it to me for now.

On Tue, Aug 9, 2016 at 11:11 AM, JD Maloney <notifications@github.com>
wrote:

[2016-08-10 16:21] FlyingWithJerome commented on #115
@Zodiase Please note that there are two versions of EnvironmentalLoggerAnalyser.py. They work for environmentallogger.json generated before and after a certain day; details were in #122 .

[2016-08-11 13:08] max-zilla commented on #137
@jdmaloney i'm also preparing a simple script that I realized I would need last night - to go through the received-but-not-yet-uploaded-globus-xfers JSON logs on Roger and change the file paths there. These JSON files are created when a Globus task completes, and added to a queue waiting to go into Clowder. After that they are updated with a SUCCEEDED property (you can fetch the contents of them v

[2016-08-11 16:10] Zodiase commented on #81
BTW the extractor code I've been playing with is here, along with some other scripts and notes I put down: https://gist.github.com/Zodiase/ddcbe628af93401260ef7b9d7e92b400

[2016-08-11 16:46] dlebauer opened #144 "Georeferencing hyperspectral data"
Convert hyperspectral data cubes from pixel space to geographic space (x, y).

@czender needs script or mathematical formula(e) that takes meta-data and creates a coordinate system for hyperspectral data.

@solmazhajmohammadi has been working on taking meta-data and specifies geospatial coordinates in the gantry physical coordinate system.
- y is defined as 1mm (exactly?) per pixel.
- x depends on

[2016-08-11 16:55] max-zilla commented on #137
Created a new user on terraref Clowder production instance.
email: terrarefglobus@ncsa.illinois.edu
first name: Maricopa
last name: Site

This will be the user shown for files coming from Maricopa. When we set up the Danforth pipeline, we will create a corresponding Danforth Site user to receive those files.

[2016-08-11 16:57] jdmaloney commented on #137
Created Globus account with email: terrarefglobus@ncsa.illinois.edu; Globus ID: terraref@globusid.org; that email is a mailing list managed by NCSA major domo

[2016-08-11 17:21] solmazhajmohammadi commented on #144
y is defined as  0.9853 mm per pixel.
Exact number is 0.98526434004512529576754637665 mm

[2016-08-11 17:54] czender commented on #144
@FlyingWithJerome please add bounding box coordinates (i.e., xy coordinates of the four corners of the image, upper-left, upper-right, lower-left, lower right) to the hyperspectral output file using whatever formulae @solmazhajmohammadi  recommends. This will be a good start. Adding coordinates for each pixel (i.e., x(x,y), and y(x,y)) might be overkill because it would triple the filesize, so let

[2016-08-11 20:51] Zodiase commented on #81
Dependencies seem to have been installed correctly.

New error:

[code]

Seems to be an issue with the way `terraref.sh` is invoked. @max-zilla Do you know what is the correct way of calling `terraref.sh`?

[2016-08-11 21:18] Zodiase commented on #81
![image](https://cloud.githubusercontent.com/assets/1815174/17605271/3580eefc-5fdf-11e6-9ea1-ecc31975f354.png)

73d03a9d-a7e0-4147-864d-801f4e5d0083_raw.hdr doesn't seem to be missing to me. But the script still complains about it.

[2016-08-11 21:23] max-zilla commented on #81
@czender any ideas? it looks like the files are indeed in /tmp but I'm guessing there's some kind of path confusion going on here.

[2016-08-11 21:45] czender commented on #81
there seems to be a combination of two problems.
the *.hdr file is clearly present.
in fact terraref.sh has actually read and used it before exiting.
the JsonDealer.py script is what emits the error message and terminates the program.
@FlyingWithJerome what triggers this message?
it looks like the test returns a false positive, at least for *.hdr.
the screenshot above shows that *.json and *.txt A

[2016-08-11 22:46] FlyingWithJerome commented on #81
@czender @max-zilla @Zodiase Investigating. Plan to use regex to match and capture the file names.

[2016-08-14 21:39] robkooper commented on #33
I would love to work with Luigi who has written some code to easily create a mapping between a CSV file and other names.

[2016-08-15 14:00] max-zilla commented on #137
This migration is now complete and the pipeline is back up.

[2016-08-15 14:00] #137 closed

[2016-08-15 14:51] robkooper opened #145 "hdf/netcdf extractor for clowder"
Given the netcdf files we receive we should have an extrctor that takes the properties of the netcdf/hdf file and inserts them as metadata in clowder.

Another user in the CyberGIS group has brought this up as well as an interesting item.

Also see https://opensource.ncsa.illinois.edu/jira/browse/CATS-628

[2016-08-15 15:51] max-zilla commented on #112
Plan to deploy this extractor this week.

[2016-08-15 19:03] yanliu-chn commented on #134
@czender , I tested the updated script. One more fix: it seems the module command used to load gdal stack and nco cleared BASH_SOURCE (after `module load` earlier). Is it possible to save BASH_SOURCE at the beginning?

[2016-08-16 19:21] max-zilla opened #147 "Deploy PlantCV extractor on ROGER production"
Hi @yanliu-chn,

I'd like to deploy PlantCV extractor on the production instance of Clowder for TERRA.

I created a new instance on ROGER Kilo and started to pull the git repo and install PlantCV dependencies when I remembered you have done this before on Nebula. Did you use docker to do this? Do you have instructions or script you can send to me? Or if you think it would be easier/faster can you

[2016-08-16 21:32] yanliu-chn commented on #147
hi @max-zilla , I followed https://opensource.ncsa.illinois.edu/bitbucket/projects/BD/repos/dockerfiles/browse/clowder/plantcv/Dockerfile to set up dependencies with a bit modification on the extractor github location/branch and the correct pyclowder branch.

is it faster to copy the plantcv2 extractor VM in nebular and import it to ROGER kilo?

[2016-08-17 13:13] max-zilla commented on #147
@yanliu-chn copying a working VM is probably easier than trying to build another from scratch. In the Dockerfile you linked, when we run it we'd need to override two environmental variables:

RABBITMQ_URI = "amqp://guest:guest@rabbitmq.ncsa.illinois.edu:5672/clowder"
RABBITMQ_EXCHANGE = "terra"

I haven't gone through the export/import process with a VM on Nebula or ROGER. How is this done? I can

[2016-08-17 14:00] max-zilla commented on #147
@robkooper meanwhile I have a VM on Kilo with the terra demosaic extractor dependencies prepared that I think is ready to run. I wasn't going to use docker here, just run the extractor directly. Would you run the extractor in a screen session, as a service of some kind, or something else?

[2016-08-17 15:16] yanliu-chn commented on #147
@max-zilla @robkooper the Dockerfile needs to be updated to reflect the following changes:
- pull the correct pyclowder branch
- pull the correct extractor repo
- install python-pip first before running pip-install (i forgot to put that in)
- add a 'apt-get upgrade -y -q' at the beginning

The config to RABBITMQ_URI somehow needs to be manually set because it contains secret keys. We currently use

[2016-08-17 15:17] yanliu-chn commented on #147
@max-zilla also, I think @robkooper knows how to move the instance image from Nebula to Kilo

[2016-08-17 15:27] max-zilla commented on #147
@yanliu-chn in that Dockerfile, instead of:
[code]
You should use:
[code]
This will install the correct PyClowder branch.

For the correct extractor branch, this is in this repo now.
[code]
Not sure if this impacts your start.sh script too.

[2016-08-17 15:34] yanliu-chn commented on #147
@max-zilla thanks for the update. it doesn't affect start.sh. I will find a time to update the Dockerfile and test.

[2016-08-17 19:51] rachelshekar commented on #141
has your question been answered @ZongyangLi ?

[2016-08-17 19:53] rachelshekar commented on #140
sent reminder to Erika

[2016-08-17 22:10] Zodiase commented on #81
@FlyingWithJerome Sorry that seems to be caused by a typo.

@czender I'm trying with the complete set of input files that @yanliu-chn used above and got this error reporting insufficient memory. I'll try again after allocating more memory to the testing VM.

[code]

[2016-08-17 22:24] Zodiase commented on #81
New Error:

[code]

[2016-08-17 23:18] yanliu-chn commented on #81
@Zodiase I'm close to get a working Dockerfile file set up. Could you wait a little bit before diving into more bugs.

[2016-08-18 02:30] yanliu-chn commented on #147
@max-zilla @Zodiase @robkooper @czender I have successfully created the docker container of the hyperspectral image conversion. @Zodiase , please use this docker file as your development environment for extractor development. Let me know if you have any questions.

I created a branch to add the docker files:
https://github.com/terraref/computing-pipeline/tree/hyperspectral-extractor-dockerfile/scr

[2016-08-18 14:07] max-zilla commented on #125
Will do this process first thing next week. With help from @robkooper we will:
- temporarily stop pipeline and make new dump of database
- update database pointers for existing files to adhere to new Globus directory structure
- change ownership of previously transferred MAC files from Max to Maricopa Site
- merge these two spaces

[2016-08-18 14:08] max-zilla commented on #46
Making substantial progress here, but not ready to close issue yet. Lots of extractor dev focus as well.

[2016-08-18 14:11] max-zilla commented on #112
I have a VM with this extractor installed and dependencies updated, I think ready to run.

Outstanding question is whether we should support writing resulting JPG to /derived_data directory accessible via Globus, or deploy now and handle that later.

[2016-08-18 14:29] ZongyangLi commented on #141
so far as I know, these Irregular 3D scanner data still exist in the newest dataset.

[2016-08-18 14:39] dlebauer commented on #141
@solmazhajmohammadi could you please investigate and on this error?

Is the incorrect reporting of the z axis related to this? If not, could you or @ZongyangLi please create a new issue?

[2016-08-18 15:05] czender commented on #81
@Zodiase @yanliu-chn Is there still an issue? as you suggest, both failures above look like they are due to inadequate allocation of system resources.

[2016-08-18 15:09] solmazhajmohammadi commented on #141
We are working to fix the issue.
Regarding Z axis, it might be the gantry position. Till 07/04, Z axis was set to 3.615 and on 07/07, it has been set to 3.915m.

[2016-08-18 15:18] czender commented on #81
@FlyingWithJerome does JsonDealer still produce false positives when looking for required input files?

[2016-08-18 15:35] yanliu-chn commented on #81
@max-zilla @Zodiase @robkooper @czender I have successfully created the docker container of the hyperspectral image conversion. @Zodiase , please use this docker file as your development environment for extractor development. Let me know if you have any questions.

I created a branch to add the docker files:
https://github.com/terraref/computing-pipeline/tree/hyperspectral-extractor-dockerfile/scr

[2016-08-18 15:38] ZongyangLi opened #148 "3D Scanner data shift in Z-coordinate"
### Description
Here is an example of height histogram estimation using 3d scanner data:
![plot278](https://cloud.githubusercontent.com/assets/20230686/17778728/ab206ea8-652a-11e6-815a-b6fa4e9986ed.PNG)

X-axis in the diagram denotes Z-coordinates in point cloud data. Since Z-coordinates value are in the range of [-2000, 2000], we divided the histogram into 400 bins, X-axis 0 denotes Z-coordinate

[2016-08-18 16:57] czender commented on #134
@yanliu-chn does this problem occur with the latest version?  i can move the BASH_SOURCE stuff to before the module stuff if necessary. please advise.

[2016-08-18 17:02] yanliu-chn commented on #134
@czender , this issue is still there in the most recent version when running on ROGER (CentOS 6.7) where we will do production runs. It doesn't affect the Dockerfile because in the docker container, we don't use `module load`.

[2016-08-18 17:15] FlyingWithJerome commented on #81
@czender I'm debugging it. I tested it locally and it's all fine, and it will not warn on ROGER if all the files are there. I'm debugging it on ROGER and a possible reason would be Python OS module since the file checker largely depends on it. I will figure it out

[2016-08-18 17:36] czender commented on #81
@FlyingWithJerome that makes sense to me. do you suspect the python used in the extractor is earlier than version 2.7? or something else?

[2016-08-18 17:38] czender commented on #134
@yanliu-chn i moved the check for script name to before the module command, so the issue should be fixed on Roger. please pull and verify when you have a chance.

[2016-08-18 17:42] czender commented on #144
@FlyingWithJerome @solmazhajmohammadi I added x and y offset coordinates to hyperspectral output file. The coordinates are placeholders for real values. Right now x=i*0.001 [m] and y=j*0.0009853 [m], as per above. I made-up x completely since I'm not sure how to compute it. We need to change these from offsets-from-origin to absolute coordinates.

[2016-08-18 17:52] yanliu-chn commented on #134
@czender I verified that the change works now on ROGER. Please feel free to close the ticket. Thanks a lot!

[2016-08-18 17:56] yanliu-chn commented on #145
do you want the generic metadata for netcdf? here is the output of gdalinfo from @czender Charles' hyperspectral netcdf output, see if this is what you want:

<pre>
Driver: HDF5Image/HDF5 Dataset
Files: output/0596c17f-2e4c-4d43-9d77-cde8ffbde663.nc
Size is 1600, 468
Coordinate System is `'
Metadata:
  Conventions=CF-1.5
  created_by=ubuntu
  gantry_system_fixed_metadata_gantry_fixed_data_1=Todo

[2016-08-18 18:07] #134 closed

[2016-08-18 18:12] czender commented on #145
FYI gdalinfo above collapses (loses) the group structure of the netCDF4 metadata, and represents it as a flat namespace by joining path names together with underscores. For example,
gantry_system_fixed_metadata is a group.

[2016-08-18 18:14] yanliu-chn commented on #145
i see. @czender , is there a tool to extract structured metadata for netcdf?

[2016-08-18 18:24] czender commented on #145
This extracts all metadata:
ncks --cdl -m -M /home/zender/a33641c2-8a1e-4a63-9d33-ab66717d6b8a.nc
This extracts only metadata pertinent to variable "y":
ncks --cdl -v y -m /home/zender/a33641c2-8a1e-4a63-9d33-ab66717d6b8a.nc

[2016-08-18 18:29] FlyingWithJerome commented on #81
@czender In my expectation, any version of Python would fine. Since 2.7 is the most common one and numpy is not compatible 3.X version, 2.7 would be the best choice.

[2016-08-18 18:34] yanliu-chn commented on #145
cool. thanks! @czender  does ncks support json output format?

[2016-08-18 18:40] rachelshekar commented on #140
@robkooper  - I just sent you the comments from Todd.  Please respond directly to him and cc me and Erica.

[2016-08-18 18:45] czender commented on #145
No, ncks does not output json. It can output CDL and NcML.

[2016-08-18 18:46] yanliu-chn commented on #145
i see. Thanks!

[2016-08-18 19:26] Zodiase commented on #81
@yanliu-chn Could you rebase your Dockerfile on `ncsa/clowder-extractors-python-base ` as what I have in here? https://gist.github.com/Zodiase/ddcbe628af93401260ef7b9d7e92b400#file-dockerfile

[2016-08-18 19:35] yanliu-chn commented on #81
there is no need to. i have included all the stuff the python based did in the current Dockerfile: https://opensource.ncsa.illinois.edu/bitbucket/projects/BD/repos/dockerfiles/browse/clowder/python-base/Dockerfile

You can modify my Dockerfile to include rabbitmq config. other than that, it's already in good shape. for the rabbitmq part, please refer to the plantcv extractor https://opensource.ncs

[2016-08-18 19:37] yanliu-chn commented on #81
please use my Dockerfile for extractor development, as it's been tested to work with terraref.sh.

[2016-08-18 19:44] czender commented on #129
No one (including me) seems to have a suggestion for doing something besides failing when files are missing. In the past month we have made both the workflow scripts and the extractor better at diagnosing missing files, and this capability will improve as we encounter more anomalous situations. Since there is nothing else concrete to do now, I am closing this issue.

[2016-08-18 19:44] #129 closed

[2016-08-18 19:44] dlebauer commented on #145
FYI [ncdump-json](https://github.com/jllodra/ncdump-json) on github.

[2016-08-18 20:02] Zodiase commented on #81
@yanliu-chn So there are a few differences that I'm not sure how to handle.

1. `USER clowder` v.s. `USER ubuntu`. Is it fine if I replace all appearances of `ubuntu` with `clowder`?
2. `entrypoint.sh`. I believe that was in the extractor template.
3. `CMD ["extractor"]`. What does that do and what would the absence of that do?

[2016-08-18 20:07] yanliu-chn commented on #81
- i suggest to keep user 'ubuntu' because that is consistent with Kilo VM default user name. this way, we can use the Dockerfile as a user guide to create extractor VM, too.
- be it entrypoint.sh or start.sh or anything else, it is just a script to be invoked by Docker at the end and keep it running
- CMD ["script"] calls the script within the container after the container is up. RUN is used to bu

[2016-08-18 20:32] Zodiase commented on #81
@yanliu-chn

For 2. I meant what do I do if the line `ENTRYPOINT ["/home/clowder/entrypoint.sh"]` is not in the Dockerfile? What difference would it make? I also could not find where I got that file. It's not in any of the extractor code directories. Should I add it to your Dockerfile?

For 3. Is there actually a `extractor` command in `ncsa/clowder-extractors-python-base` or does it just gets int

[2016-08-18 20:38] Zodiase commented on #81
@yanliu-chn

In other words and in short, the issue here is your Dockerfile seems to **miss things that weren't written by me** and I don't know what they do and I'm not sure how to modify your Dockerfile to make sure I don't either miss anything important or conflict with your logic.

[2016-08-18 20:54] yanliu-chn commented on #81
for 2. you don't need to care about entrypoint. we don't need that for the extractor.

for 3. the `CMD ["script.sh"]` part in Dockerfile executes the extractor. So in `start.sh` or any script name you want, you should invoke the extractor code. For this extractor, like the following pseudo code:
`cd /home/clower && . .softenv && . pyenv/bin/activate && python <your extractor.py>`

To understand th

[2016-08-18 20:55] yanliu-chn commented on #81
were you able to start my docker container in your Docker environment and test the terraref.sh sample run?

[2016-08-18 21:00] dlebauer opened #149 "How will we use and support logging, provenance, and reproducibility within the pipeline?"
### Description

* Seeking use cases: how will we use provenance and reproducibility within the program?
* What technology(ies) will support these use cases?
* What are priorities?

Please provide use cases below as individual comments. And use the 👍 flag!

[2016-08-18 21:03] dlebauer commented on #149
Use case: re-creating data products with updated code

Each year we will release an expanded set of data products, extending some in time. All data products of a given type should be generated using the same version of code. We should be able to automatically detect any modifications and their dependencies.

[2016-08-18 21:08] dlebauer commented on #149
Use case: allowing users to adjust algorithm settings.

Jane the Postdoc thinks our data product is super awesome but thinks that her code is even awesomer and wants to compare the two. Given a data product unique identifier (type, date, location) she should be able to find the input files, run with her code, and compare her output with the data product.
 * then she should be able to request that

[2016-08-18 21:12] dlebauer commented on #149
Use Case: Find all files generated by miscalibrated sensor when it was operating incorrectly and re-run them

Stewart the scanner operator finds bird droppings on the sensor. He isn't sure when it got there but wants to identify all downstream files and database records derived from images taken since the last time he cleaned the sensor bay. points (including in databases) generated by the sensor

[2016-08-18 21:19] dlebauer commented on #149
Use case (logging):

Pat the algorithm writer sometimes finds that her algorithm fails because the files do not exist / are corrupted. How can she make sure that the failure is automatically detected and notifies the platform operator of this error.

More generally: how should pipeline components log their successes and failures? What information is useful?

[2016-08-19 00:20] robkooper commented on #145
Another option is to use https://github.com/hay/xml2json and do `ncks -xml file | xml2json`

[2016-08-19 15:03] gsrohde commented on #145
If you _do_ use that library, you should be aware that it throws away some of the XML information.  For example, it converts the ordered sequence of elements `<a>text</a ><b>text</b>` into the JavaScript object (hash) `{ "a": "text", "b": "text" }`.  If the order of elements in your XML documents is not significant, then of course this doesn't really matter.  But there may be other cases where inf

[2016-08-19 20:31] rachelshekar commented on #41
@nfahlgren  - where are you on this?

[2016-08-19 21:28] dlebauer opened #150 "Write extractor(s) for NDVI and PRI data"
### Description

Extract NDVI and PRI values, and % reflectance from xml files in ndviSensor and priSensor and insert into geostreams API.
### TODO:
- [x] Determine any dependencies
- [x] Extract values from .bin files (these are actually xml, see below)
- [ ] Check if time and location are in sync for two sensors (if so, records can be combined)
- [x] write extractor to convert files with geospat

[2016-08-19 21:30] dlebauer opened #151 "Write extractor for FLIR data"
### Description

Convert NDVI binary files to png thumbnail + geoTIFF or netCDF raster data product.

(Updated Sept 16 2016)

#### For data generated through Sept (?15?) 2016 (provided in units of mK)

* Per https://github.com/terraref/computing-pipeline/issues/151#issuecomment-247247854 FLIR output was originally calibrated to output Temperature in units of 100mK. (Hence a saved pixel value of 30

[2016-08-19 21:39] dlebauer commented on #150
According to specs, there is one NDVI sensor pointing up, one pointing down:
@terraref/lemnatec could you please confirm?

[2016-08-19 21:41] dlebauer opened #152 "Write extractor for PSII camera"
### Description

Convert binary files to png thumbnail + netCDF raster data product.

Code to read binary files and create a figure are in [`/scripts/PSII/GetPS2.m`](https://github.com/terraref/computing-pipeline/blob/master/scripts/PS2/GetPS2.m). These are written in Matlab / Octave.

Steps:
- [x] Determine any dependencies
- [x] Determine if it is easier to call an Octave script or re-write (e.g

[2016-08-22 13:47] max-zilla commented on #33
@gsrohde @nfahlgren I am modifying the PlantcvClowderIndoorAnalysis script slightly based on Scott's comments above.
- renamed genotype, plant_barcode columns
- ready to rename imagedate - @nfahlgren do you know if you're writing UTC or local time?
- what is a suitable default value for access_level?

- species and site we could hardcode for now, if they already exist in betydb?

[2016-08-22 14:17] dlebauer commented on #33
access_level is 2, this means for internal collaborators
On Mon, Aug 22, 2016 at 8:47 AM Max Burnette <notifications@github.com>
wrote:

[2016-08-22 14:28] nfahlgren commented on #33
@max-zilla it's local time. @dlebauer added the site (https://terraref.ncsa.illinois.edu/bety/sites/6000000866) and species (https://terraref.ncsa.illinois.edu/bety/species/2588) to our BETYdb instance.

[2016-08-22 14:57] gsrohde commented on #33
@max-zilla Note that the columns `site.sitename` and `species.scientificname` are the effective keys that are used when looking up a match for the corresponding data in the CSV file (not the id columns), so in this case, the CSV file should have `Danforth Plant Science Center Bellweather Phenotyping Facility` in the `site` column and `Sorghum bicolor` in the species column.  (If and when we use JS

[2016-08-22 15:25] max-zilla commented on #33
OK, my branch is here:
https://github.com/terraref/computing-pipeline/compare/plantcv_extractor_updates

This changes the fields/default values as suggested above. Only change now I believe is to add a config parameter with a BETYdb URL, which if given will be used to POST the CSV into BETY.

@gsrohde do we know the URL/API endpoint to use already?

[2016-08-22 18:16] gsrohde commented on #33
The URL for the API endpoint is `<host>/api/beta/traits.csv` where I _think_ host is to be `https://terraref.ncsa.illinois.edu/bety/` (that's the host that Noah references above).  You need to set the API key parameter in a query string (`?key=...`).  See the documentation at `https://pecan.gitbooks.io/betydbdoc-dataentry/content/trait_insertion_api.html`.  One thing that isn't (yet) mentioned the

[2016-08-22 18:46] max-zilla commented on #33
OK. I've added BETYdb uploading functionality to the branch I listed shortly above this one. Have not yet tested; will create a pull request once I do.

[2016-08-22 18:46] max-zilla commented on #147
@yanliu-chn can you add Python requests library to the Dockerfile dependencies it installs? I'm updating the extractor slightly to upload results to BETYdb:
https://github.com/terraref/computing-pipeline/issues/33

[2016-08-25 02:23] dlebauer opened #153 "A protocol for checking that scans align with plots"
### Description

We need a protocol to ensure that each scan works and is consistent with the intended mission.

For each sensor, we should generate a set of map layers, one for each sensor, that overly summary images on the experimental layout.

### Context

Field scanner operator needs sanity checks.

### Further Suggestions / Request for Feedback

Here is a proposed SOP - a starting point for f

[2016-08-25 13:17] max-zilla commented on #112
@robkooper before starting up the extractors, we need to mount the Roger /sites directory to the VMs they are going to run on. Then we can write extractor outputs to the /sites/ua-mac/derived_data/Level1/<extractor> directory.

[2016-08-25 13:40] max-zilla commented on #101
@caicai89- has updated the geospatial extractor branch:
https://github.com/terraref/computing-pipeline/tree/geostreams_extractor/scripts/geospatial
some observations:

- right now, the Stream ID is hardcoded into the extractor as "1". Based on discussions with @dlebauer , @yanliu-chn and @robkooper yesterday, I think we want a mapping from sensor name to StreamID. For example:
[code]
...with the i

[2016-08-25 13:44] max-zilla commented on #33
Pull request created: https://github.com/terraref/computing-pipeline/pull/154

@gsrohde, is there a test copy of Bety that already has the relevant metadata to test this, and if not can you briefly list which metadata needs to be in place first? Thanks.

[2016-08-25 13:50] dlebauer commented on #33
Only way to make a test copy would be to dump bety6
On Thu, Aug 25, 2016 at 8:44 AM Max Burnette <notifications@github.com>
wrote:

[2016-08-25 13:55] max-zilla commented on #125
@robkooper is there a regular dump of the production Mongo instance on Roger? i didn't see one in /backup but I want to pull one down to work out the proper queries here.

[2016-08-25 14:37] JeffWhiteAZ commented on #153
What you've outlined is a good start for making sure scripts are properly defined each season. I would prefer a separate, more detailed protocol for each scan, which might be daily or require a few days:
1. Define scan objective
2. Prepare scan script or select from existing script
3. Log planned scan
4. Start scan
5. (monitor scan progress)
6. At end of scan, check start and end scans for data co

[2016-08-25 15:16] Zodiase commented on #81
The Dockerfile and extractor code [temporarily stored in my notes](https://gist.github.com/Zodiase/ddcbe628af93401260ef7b9d7e92b400) were updated and now the extractor can finish running `terraref.sh`. Except the result (`.nc`) file is wrong due to a `malloc` error during a `ncap2` process due to insufficient memory on my testing host machine.

[code]

`ncap2` exhausted all available memory out of

[2016-08-25 15:20] Zodiase commented on #81
I think this memory issue raises a good question: exactly how much memory is needed, when given a certain size of input? Say for example, given a `x` Bytes `_raw` file?

[2016-08-25 15:35] gsrohde commented on #33
So shall I do this?  Perhaps set it up on pecandev?  All that's really needed is to dump the rows that will be referred to in the CSV file(s).

What is the terraref bety-test site for?  Could that be used?

[2016-08-25 15:43] dlebauer opened #155 "Provide Opendap / THREDDS server for netcdf / hdf5 data"
### Description

Provide access to netcdf data via THREDDS Server

First two files to post would be /projects/arpae/met/narr/all.nc and /projects/arpae/met/cruncep/all.nc (these could be provided within /projects/arpae/terraref/derived_data/ but they don't fit the 'site' concept - they are north american (narr) and global products (cruncep) products.

We should also provide access to the environme

[2016-08-25 15:47] dlebauer opened #156 "Extractors for meteorological data"
### Description

We have one script to process the environmental logger data.
- We need scripts to insert data from MAC, Kansas, and UIUC, into the geostreams database
- need to insert data from environmental logger into the geostreams database
- Would be good to update these files daily.
### Further Suggestions / Request for Feedback

@robkooper Can we use BrownDog / PEcAn infrastructure?

How to

[2016-08-25 15:48] max-zilla commented on #33
I think this is one of the primary reasons for the terraref bety-test site. Scott, if you're willing, you can  do the dump+upload faster than I could.

[2016-08-25 15:54] dlebauer commented on #33
bety-test is not just for development, but also for providing simulated
data so that people can test algorithms against 5 years of high resolution
data, etc.

so no, please don't use it. Its slow anyway.

But you could create the dump as 'bety-dev' database on the same bety6
server

[2016-08-25 16:31] robkooper commented on #125
Should be in roger/backup/mongo/clowder

[2016-08-25 16:33] robkooper commented on #112
You will need to send the IP address of the VM to JD, then I'll show how to mount the drive.

[2016-08-25 16:44] max-zilla opened #157 "Modify geostreams API to support polygons"
We want to support geometry/polygons in PostGIS for geostreams API, i.e. to store field of view polygons instead of a single point.

The geospatial extractor already generates the polygons, but @robkooper thought the PostGIS db under clowder is configured for "geography" instead of "geometry".

@yanliu-chn tagging you on this issue so we can figure out what needs to be updated and by who. Hopefull

[2016-08-25 16:47] robkooper commented on #157
Created matching clowder issue : https://opensource.ncsa.illinois.edu/jira/browse/CATS-643

[2016-08-25 17:02] max-zilla commented on #144
@FlyingWithJerome here is the script @caicai89- has worked on:
https://github.com/terraref/computing-pipeline/blob/geostreams_extractor/scripts/geospatial/sensorposition.py

This pulls geospatial info from metadata and converts it into geometries describing the footprint of the file, and adds it to Clowder's PostGIS database.

This would be applied to any files with geospatial info in the metadata

[2016-08-25 17:05] yanliu-chn opened #158 "Add error return code to terraref.sh at ncap2 error on insufficient memory"
@czender as we discussed, it'd be good to return with error when not enough memory is allocated for ncap2 and caused it to fail.

Here is an example of the error. Currently the program continues to finish with return code 0.

<pre>
(pyenv)ubuntu@hyperspectral-ex-vm:~$ ./computing-pipeline/scripts/hyperspectral/terraref.sh -d 1 -I terraref-hyperspectral-input-sample -O output
Terraref hyperspectral

[2016-08-25 17:08] rickw-ward commented on #153
Some background:
Our use of machine planting (versus hand planting) renders our plans for placement of experimental units (Plots) “aspirational”, in the sense that the precise start and end point of each line of seed within a plot is affected by multiple stochastic variables.  “Precision” planting as we are practicing it is a relative concept, especially when compared to common practice in laborat

[2016-08-25 17:28] Zodiase commented on #115
@dlebauer Should this one take priority over the other issues?

[2016-08-25 17:29] Zodiase commented on #156
@dlebauer Should this one take priority over the other issues?

[2016-08-25 18:00] dlebauer opened #159 "Factor out geospatial meta-data extraction into a single extractor that downstream code will depend on"
### Description

The step(s) of converting from the lemnatec-provided metadata to a (to be determined) common reference system currently appears to be done in many different algorithms.

Once we do have a canonical set of reference points (https://github.com/terraref/reference-data/issues/32) on the field scanner field, having only one place that does the conversion will make this easier.
### TODO

[2016-08-25 18:09] dlebauer opened #160 "Reorganize and /scripts folder and make consistent use of script names, README files, tests, etc"
### Description

Clean up and add consistent naming and contents to the [scripts folder](https://github.com/terraref/computing-pipeline/tree/master/scripts). This will make it clear where to find reusable components and reduce duplication of effort.

[Here is a list of sensors and extractors currently under development](https://docs.google.com/spreadsheets/d/1LLiQSFHbEWoo_FkvG1nl-XoSq_lZ_o6VazfxmP

[2016-08-25 18:43] dlebauer commented on #156
@Zodiase #81(hyperspectral extractor) is first priority, then #115. Both of those are outstanding from the July sprint. This one will follow #115.

[2016-08-25 18:45] dlebauer commented on #115
@Zodiase If the output of this extractor is required for #81, then it should be done first or concurrently.

[2016-08-25 18:49] max-zilla commented on #160
This is a nice writeup.

You guys can growl at me if you don't like this idea, I thought it would be a good way to make more evident what extractors might share code/algorithms and how they could interact with one another.

[2016-08-25 19:01] gsrohde commented on #33
@max-zilla I think I've copied enough data over to pecandev so you can use it to test.  The URL is http://pecandev.igb.illinois.edu/beta/api/beta/traits.csv.

[2016-08-25 20:21] FlyingWithJerome commented on #144
@max-zilla Yes, Yaping's script does the similar job as we did; we need to convert the image coordinates to field coordinate and seems Yaping's script had already done so. But we still need each pixel in the graph to be traceable in absolute geographic position.

@dlebauer Should we continue developing the pixel2geogrphic, or it will be assigned to Yaping and we use the interface Yaping's script i

[2016-08-25 20:51] dlebauer commented on #144
@FlyingWithJerome Yaping's extractor should take the raw metadata and convert to a bounding box.

He wasn't going to map geographic coordinates to pixels, but I would want to make sure that you are not duplicating effort with @solmazhajmohammadi, @ZongyangLi, or @pless. That is, if the same algorithm can be used for data from multiple sensors, please coordinate efforts and factor out the steps tha

[2016-08-26 00:24] tmcphillips commented on #149
Another use case for reproducibility is enabling researchers to **independently reproduce any of the  data products and other results** ultimately derived from input sensor data sets and published by TERRA REF.  (This may be implied by use case 3 above, 'Support Journal and Funder expectations of reproducibility').

For this as well as the other use cases for provenance/reproducibility, it may be

[2016-08-26 00:41] tmcphillips commented on #149
It sounds like there is consensus that TERRA Ref products might be more practical to reproduce (especially by others, using their own compute resources) if one could export a representation of the effective workflow (sequence of extractors, parameter settings, and references to data sets) that ultimately yielded a particular product.  Such an exported workflow representation could allow for rerunn

[2016-08-26 14:24] robkooper commented on #149
Most of the code can be run independent. So you can download the code, data and run the code on the data. Any parameters used, should be either documented, in the code, or hopefully stored as metadata.

[2016-08-26 16:16] czender commented on #158
@yanliu-chn the problem was indeed that terraref.sh was ignoring a non-zero return code due to recent changes. now fixed. please  pull and try again and close issue if you receive the non-zero return code on exit.

[2016-08-26 16:21] czender commented on #158
@yanliu-chn also, fyi, i reduced the memory required by ncap2 from 5x sizeof(raw) to 4x sizeof(raw). best to allot 4.1x so as not to cut it too close. the footprint cannot be further reduced without significantly slowing the processing. half the memory holds the original image (promoted from short to float) and the other half holds the computed reflectance (float). so 4x raw image is the smallest

[2016-08-26 17:14] dlebauer commented on #149
The use case that @tmcphillips outlines is important - it is related to the need to be able to deploy algorithms on different platforms (e.g. deploying a pipeline on Arduino so it can compute values of interest before storing them).

I think the key is implementing a SOP and framework so that we can remove the 'most', 'should' and 'hopefully' from @robkooper's  statement, and ensure that the proce

[2016-08-26 17:31] FlyingWithJerome commented on #81
@Zodiase @czender
I did a simple memory profiling on Roger for Hyperspectral workflow, and here are some data might be useful for you.
I run the terraref.sh with a raw file around 1.6 GB (to be precise, 1.647GB, `/projects/arpae/terraref/sites/ua-mac/raw_data/SWIR/2016-04-06/2016-04-06__18-18-30-855/*_raw`) and monitored the memory with my Python script concurrently; the script gathers memory usag

[2016-08-26 17:49] czender commented on #81
@zodiase @FlyingWithJerome @yanliu-chn @dlebauer  I reduced the memory required by ncap2 from 5x sizeof(raw) to 4x sizeof(raw). best to allot 4.1x so as not to cut it too close. the footprint cannot be further reduced without significantly slowing the processing. half the memory holds the original image (promoted from short to float) and the other half holds the computed reflectance (float). so 4x

[2016-08-26 17:55] czender commented on #160
cz's proposed renaming of hyperspectral files. @FlyingWithJerome improvements welcome.
CalculationWorks.py -> unsure (consolidate into others?)
DataProcess.py -> obsolete (delete)
EnvironmentalLoggerAnalyser.py -> environmental_logger_json2netcdf.py
EnvironmentalLoggerUnitTest.py -> environmental_logger_unittest.py
JsonDealer.py -> hyperspectral_metadata.py
dummy.nc -> hyperspectral_dummy.nc
pixel

[2016-08-26 18:11] dlebauer commented on #160
Thanks @czender

Would it be onerous to move the environmental_logger files to their own directory and isolate their functionality for example by replacing their use in the hyperspectral workflow and just expect that the environmental data is available?

[2016-08-26 18:24] FlyingWithJerome commented on #160
@dlebauer I agree. Since environmental_logger is now an independent workflow, it would be good to have their own directory and isolate their functionality.
@czender CalculationWorks.py and pixel2Geographic.py are files to do calculation, and the reason they are separated from main scripts is that we can easily review their algorithms (e.g., coordinate transforming) and constant values (e.g., flx_s

[2016-08-26 19:29] czender commented on #160
@FlyingWithJerome @dlebauer
those names seems fine to me. if others are ok with them we can segregate environmental logger into its own directory. maybe after thursday telecon to make sure names are ok.

[2016-08-27 18:19] doctorroboto commented on #153
@dlebauer : this overall SOP document is sound, and I thought we were already following this format. I would advocate for this path forward, both to help organize based on Rick's comments re: 'precision' (not necessarily accurate) planting, and also to use as a tool for checking data and sharing visual information inside and outside of TERRA-REF. We need to wrap up this RTK-GPS plan, get the close

[2016-08-29 20:08] max-zilla commented on #112
@jdmaloney the VM for the demosaic extractor I created has floating IP 141.142.170.137. Can you do whatever is required to allow mounting of roger to it?

I think in general we want to mount **READ ONLY**
[code]
Don't want to limit it to a particular sensor in this case because it triggers from several sensors.

Then mount for **WRITE** it should be tailored to the specific extractor that VM.
[cod

[2016-08-30 13:34] max-zilla commented on #115
@Zodiase I will begin working on this extractor while you focus on hyperspectral. We can hand off at some point when it makes sense, but I'll keep you updated here. There was an existing branch that was about a month old that didn't appear to have anything done on it, so I created a new branch:
https://github.com/terraref/computing-pipeline/tree/environmentlogger_extractor

[2016-08-30 13:45] dlebauer commented on #115
@max-zilla have you spoken with @robkooper about the extent to which we can make this compatible with the PEcAn/BrownDog met workflow? It is worth understanding how these will link together. I haven't seen the outputs of this extractor, but ultimately we want to provide met products in the PEcAn format. If this isn't already in that format, we can add the conversion to PEcAn-CF as a separate step

[2016-08-30 13:47] max-zilla commented on #122
@FlyingWithJerome do you think we're OK to close this issue?

[2016-08-30 15:36] max-zilla commented on #115
@FlyingWithJerome @Zodiase I have initial version of extractor working:
https://github.com/terraref/computing-pipeline/tree/environmentlogger_extractor/scripts/environmental/environmentlogger

- I **modified EnvironmentalLoggerAnalyser.py** very slightly. My script calls mainProgramTrigger() directly with input/output given, so it would crash when trying to reference sys.argv[1] in that method. Si

[2016-08-30 15:39] max-zilla commented on #156
@dlebauer @Zodiase I have prepared initial version of environmentlogger extractor for #115.

[2016-08-30 15:43] max-zilla commented on #115
Other comment: if the hyperspectral extractor truly only depends on the output to this extractor, we should also remove the Analyser.py/CalculationWorks.py files from the /hyperspectral directory so there is only one copy to maintain.

[2016-08-30 16:09] FlyingWithJerome commented on #122
Yes, I will close this issue.

[2016-08-30 16:09] #122 closed

[2016-08-30 16:30] FlyingWithJerome commented on #115
@max-zilla The Hyperspectral workflow used to depend on EL scripts and need the data collected from them, but I just have a glance at @czender 's script and seems that he had removed the running dependency on EL. So you are correct; for now, I think we can safely move the EL scripts to a new folder. Hyperspectral workflow may still need outputs from EL, but we can find another way to merge their r

[2016-08-30 17:00] FlyingWithJerome commented on #144
@solmazhajmohammadi
Can I have the X realworld length per pixel?

[2016-08-30 18:36] jdmaloney commented on #112
@max-zilla I've created those exports (and the Level 1 demosaic directory).  Make sure the user doing the writing on the VM has the id: 47852 so it can have permission to write.  Let me know if that would be a problem and we can work it a different way, but having that specific uid for that user is preferred if possible.

[2016-08-30 20:36] max-zilla commented on #33
@gsrohde thanks! I made an account and I'm testing things out now.

My first POST of:
![image](https://cloud.githubusercontent.com/assets/14166971/18105914/ea7394c2-6ec6-11e6-8b51-3724e6c75096.png)

returned:
[code]

I can see the columns in the Variables table (sv_area, etc.) but I'm not sure about what I might need to add otherwise. You had mentioned:

In the Bety UI I see Traits and Covariates

[2016-08-31 03:11] czender commented on #115
HS calibration has been put on hold because of problems like non-overlapping spectral regions, shadowing,.... In the future we will use EL-measured flux in HS calibration.

[2016-08-31 13:02] max-zilla commented on #101
@caicai89- does the sensor ID creation make sense?

I think in addition to seeing if the metadata is there, we should check dataset name:
- does it have a hyphen " - " in the name? if so, sensor name is the part before the hyphen
[code]
- if we found the metadata and the sensor name, we should have a map of sensor name to Stream ID. The list of sensors is basically the **SENSOR_DIR** column in thi

[2016-08-31 13:05] max-zilla commented on #130
Based on recent discussions:
- SENSOR will be the plot/source of the data, e.g. UA_MAC, DANFORTH.
- STREAM will be the sensor, e.g. co2Sensor, SWIR.
- DATAPOINT will be the geometry associated with a dataset (a single capture from a single sensor)

[2016-08-31 14:33] gsrohde commented on #33
@max-zilla Sorry I'm just getting back to you.  I was out of town yesterday.

I'm not sure why you are getting this error. I see that, for example, `sv_area` is both the name of a variable in the variables table and that its id is matches the value of `trait_variable_id` in the `trait_covariate_associations` table.  (You can see these associations in the Bety UI by clicking the `Bulk Upload` menu

[2016-08-31 14:44] max-zilla commented on #33
no worries @gsrohde

I've attached **avg_traits.csv** (renamed to .txt so I could attach). I was using this to POST with my user key:
[code]
...with CSV file attached.

[avg_traits.txt](https://github.com/terraref/computing-pipeline/files/447504/avg_traits.txt)

[2016-08-31 16:37] gsrohde commented on #33
I was able to insert these traits using this curl command:
[code]
but not before removing duplicate "height" variables from the database and changing the CSV file by changing the date to `2014-06-23T16:55:57.625` (that is, replacing the space between the date and time with the letter "T"; see my first comment above from July 5).

I'm a little baffled by the error you got.  Was that the full respon

[2016-08-31 16:42] max-zilla commented on #33
That's helpful. I'll try with those changes as a starting point - I believe the "T" should be in the PlantCV output timestamp, but I had pasted that into the CSV from elsewhere to test and I didn't include it. The --data-binary flag might also be significant.

The full response was a 400:
[code]

[2016-08-31 16:46] max-zilla commented on #33
@gsrohde OK, it worked! I got the same 'no trait variable' error using Postman but it was defaulting to 'form data' - changing to binary and adjusting the timestamp and I got a 201 Created response.

This will be a slight adjustment to the extractor, but then we should be in good shape. Thanks.

[2016-08-31 17:12] max-zilla commented on #33
Updated the code, will test the full stack and merge.

[2016-08-31 17:46] gsrohde commented on #33
@max-zilla I only just now remembered that I was supposed to implement handling of the `entity` column.  Currently, an anonymous entity is created for each row, and the traits in that row are associated with it.  As I mentioned in my e-mail to you (quoted above in your note from Aug 4), we decided to call the column containing plant bar codes `entity` and use whatever name is there for the name of

[2016-08-31 18:27] dlebauer commented on #33
@gsrohde

**short answer** For the case of the PlantCV data, please use `select id from entities where name = 'barcode'` to identify the entity_id in the traits table.

**explanation** entities do not have to be at the same time The idea is that they capture a level of replication that is of interest (plot, plant, organ etc) and allow a user to correlate multiple observations on the same 'entity'.

[2016-09-01 01:34] Zodiase commented on #81
I think I've finished the extractor. See the above PR. However I did find something strange. The file uploaded by the extractor can not be deleted on the Clowder Web UI. It says no permission to delete.

[2016-09-01 01:37] dlebauer commented on #81
What is the use case for manually deleting something generated by the
extractor?
On Wed, Aug 31, 2016 at 8:35 PM Xingchen Hong <notifications@github.com>
wrote:

[2016-09-01 03:01] Zodiase commented on #81
@dlebauer Perhaps someone would like to delete an incorrect result (for example, resulted from malloc failures) and rerun the extractor for that dataset?

[2016-09-01 03:48] dlebauer commented on #81
Write access to directories used by extractors is very restricted. Only the
user who runs the extractor should be able to delete the output, and the
user accounts that run the extractors and create data are not the same as
the user accounts that humans will use. Probably would be a good idea if
extractors could only read inputs and could write outputs (preferably only
if there is no error).

How w

[2016-09-01 12:50] max-zilla commented on #81
@Zodiase @dlebauer the reason for this is that the extractors currently upload to Clowder using the API key (not user/password), which is associated with an Anonymous User. @robkooper mentioned that Luigi is working on user-specific keys so we can have the extractor upload files as the Maricopa Site user, for instance (like the raw data) and that user would be able to delete and rerun if necessary

[2016-09-01 15:06] max-zilla commented on #33
Just tested the full stack:
- use Noah's PlantcvUploader (no Globus) to add a snapshot to local file, including ds+file metadatas
- this triggers extractor which generates avg_traits CSV
- avg_traits CSV also sent to configured BETY instance

Discovered this morning the extractor wasn't properly writing attributes from the file metadata (barcode, genotype, treatment, local_datetime) so the upload

[2016-09-01 15:14] max-zilla commented on #157
I am starting on this. Some discussion here: https://opensource.ncsa.illinois.edu/confluence/display/CATS/PostGIS+and+the+Geostreams+API?showComments=true

We can consider two pieces here:
- allow Clowder API to support geometries beyond Point. This is possible using either 'geometry' or 'geography' data type.
- do we want to store our data in 'geography' type as it currently does, or change to 'g

[2016-09-01 15:21] caicai89- commented on #101
@max-zilla Will work on that later.

[2016-09-01 15:30] max-zilla commented on #147
@yanliu-chn I have completed my updates to the PlantCV extractor. If you don't have time to update the dockerfile, please let me know and I can try to do so.

[2016-09-01 15:58] jdmaloney commented on #87
Talked with @max-zilla, we're going to be driving daily backups based off of log output as that will be the easiest and most efficient way to determine new files that are generated as all raw inputs are coming through the same globus pipleline method that ua-mac is using (slight customizations for sites, but all logged the same way which is what we care about).  All pipeline outputs will know what

[2016-09-01 16:03] yanliu-chn commented on #147
@max-zilla That'd be great. I have been swamped recently.

[2016-09-01 16:10] yanliu-chn commented on #158
I confirm, after testing on VM that caused error and ROGER which succeeded, that the changes you made work as expected. Thanks a lot for fixing this!

Please feel free to close this ticket.

[2016-09-01 16:31] max-zilla commented on #33
@gsrohde @dlebauer sorry, didn't see your new comments from yesterday. Am I OK to close this? Is that update something on BETY side?

[2016-09-01 16:41] max-zilla commented on #85
@pless and @ZongyangLi have a script that will take a list of GeoTIFFs and generate a full-field stitched mosaic.

Now the question becomes how to trigger this in Clowder, and on what files. @robkooper had originally mentioned running this extractor manually, but Pless also thought it would be nice to have a low-res full-field mosaic per day automatically.

Clowder would need to support extractors

[2016-09-01 18:50] max-zilla commented on #147
@yanliu-chn your Dockerfile is here: https://opensource.ncsa.illinois.edu/bitbucket/projects/BD/repos/dockerfiles/browse/clowder/plantcv/Dockerfile (in the BD repo)

The Dockerfile I originally created lives with the extractor itself in the compute-pipeline repo:
https://github.com/terraref/computing-pipeline/blob/master/scripts/plantcv/extractor/Dockerfile

Your copy is clearly the one to use. My

[2016-09-01 18:55] #158 closed

[2016-09-01 19:02] yanliu-chn commented on #147
please feel free to merge the two into terraref repo. thanks!

[2016-09-01 19:40] max-zilla commented on #147
@yanliu-chn the only piece I'm not sure how to update is this:
[code]
(https://opensource.ncsa.illinois.edu/bitbucket/projects/BD/repos/dockerfiles/browse/clowder/plantcv/start.sh line 24)

Do you remember what this is looking for? The directory: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/browse
...doesn't really match what we have in computing-pipeline r

[2016-09-01 20:25] yanliu-chn commented on #147
right. This points to the directory under which the extractor can find bin/extract.sh in the old plantcv. I don't think exRootPath is used in the new extractor Fengling developed. If so, we can drop it from config.py.

[2016-09-01 20:55] dlebauer commented on #85
I vote for 'extractor triggers on a sensor x date collection'. The mimimum number of images should be 1 - it is necessary to differentiate between 0 and 1 (and n) for the purposes of QAQC.

I vote against exceptions 'outside of Clowders traditional architecture' because this will be a common use case, and being able to group any arbitrary collection of data that an extractor requires seems logical

[2016-09-01 21:16] max-zilla commented on #147
@yanliu-chn @nfahlgren I have moved the PlantCV extractor code to a new repository under this project:
https://github.com/terraref/extractors-lemnatec-indoor

This is after discussion with @robkooper and @dlebauer. Reasons include:
- simplification of activity tracking for this extractor - computing-pipeline is getting busy and having smaller repos for the different sensor types helps keep things

[2016-09-01 21:18] yanliu-chn commented on #147
Thanks, @max-zilla !

[2016-09-01 21:33] dlebauer commented on #157
Makes sense to start with part 1 as long as someone knows how to convert from gantry coordinates to WGS-84. But we have planned to use the geometry data type from the beginning because of all of its features.

Geometry has more functionality and is faster. The difference in functionality is outlined [in this matrix](http://postgis.net/docs/manual-2.1/PostGIS_Special_Functions_Index.html#PostGIS_Ty

[2016-09-01 21:48] gsrohde commented on #33
@max-zilla I put the "entities" bit into a task in https://github.com/terraref/computing-pipeline/issues/124, so I think it's OK to close this.

[2016-09-02 13:30] #33 closed

[2016-09-02 19:42] czender commented on #160
I renamed most files in hyperspectral directory as described above. @FlyingWithJerome please finish the job by combining/consolidating CalculationWorks.py and pixel2Geographic.py into a file like we discussed. Once this all works from one directory, well move environmental logger scripts into their own directory.

[2016-09-03 15:54] FlyingWithJerome commented on #160
@czender Yes, I will

[2016-09-06 19:48] ZongyangLi commented on #151
@dlebauer Now we have a python script converting flir data into pngs and geotiffs. Here is an example:
![flir](https://cloud.githubusercontent.com/assets/20230686/18288046/647ad4ce-743f-11e6-9c09-064baf998745.png)

FLIR's pixel value range from 2800 to 3300, I re-scale it to a visible range. My question is:
1. how to calibrate values to Temperature in degrees C?
2. Is that means an average value i

[2016-09-06 20:32] max-zilla commented on #112
Extractor is now in this repo: https://github.com/terraref/extractors-stereo-rgb

I updated it to leverage the local-mount ROGER code.

[2016-09-06 20:33] max-zilla commented on #64
This issue was moved to terraref/extractors-stereo-rgb#1

[2016-09-06 21:04] jdmaloney commented on #106
I've come up with these sensor file type requirements to make sure this quantity of these types of files exist for each sensor @dlebauer do these numbers look right?  If so, I'll start the automated check that things are matching up:

co2 Sensor —> 1 json; 1 bin
cropCircle —> 1 json
flirIR —> 1 json; 1 bin
ndvi —> 1 json; 1 bin
prisensor —> 1 json; 1 bin
ps2Top —? 1 json; 102 bin (haven’t seen the

[2016-09-06 21:41] dlebauer commented on #106
looks good. Here is the 'master' list: https://docs.google.com/spreadsheets/d/1LLiQSFHbEWoo_FkvG1nl-XoSq_lZ_o6VazfxmPfOH9Y/edit#gid=0

[2016-09-06 21:47] dlebauer commented on #151
From the [GetFLIR.m](https://github.com/terraref/computing-pipeline/blob/2b8f94140c67767fe3b254ea7107b24e03f4119a/scripts/FLIR/GetFLIR.m) file that @TinoDornbusch wrote, I infer that `temperature = ((value - 2800) / (3300 - 2800))`

Does that produce reasonable values?

@LTBen is this in the protocol for calibrating FLIR data? Can you please share a copy?

[2016-09-06 21:59] ZongyangLi commented on #151
From this equation we will get a value normalized in (0, 1), which I used to re-scale it to (0, 255) creating the visible images. This may not be the temperature in degrees C.

[2016-09-07 14:07] max-zilla opened #162 "KSU UAV data pipeline planning"
This is a followup from call on 9/6/2016 including:
- Mark Lucas, KSU, UAV data preprocessing + db storage and archiving
- Geoff Morris, KSU, sorghum geneticist
- Jesse Poland, KSU, more focused on wheat
- Kevin Wang, KSU, ag engineer & data processing, e.g. NDVI + height from images
- @pless, WashU
- @smarshall-bmr, MAC scanner operator
- myself and @jdmaloney, NCSA

...focused around setting up

[2016-09-07 15:37] max-zilla opened #163 "Clowder extractor requirements"
After discussions with @robkooper and @dlebauer we are starting to migrate initial versions of extractors to separate repositories so this repo can become focused on the pipeline itself (and extractor integration) while development of underlying algorithms and extractor code can be separated.

I've created two so far:
- https://github.com/terraref/extractors-lemnatec-indoor (plantCV)
- https://git

[2016-09-07 19:10] max-zilla opened #164 "Migrate Clowder to ROGER Kilo"
@robkooper @jdmaloney

Tomorrow (thursday the 8th) we plan to migrate the TERRA production instance from Roger Juno to Roger Kilo.

Checklist:
- [x] shut down Maricopa Globus pipeline. JD, we haven't yet transferred all the reprocessed 3dscanner data, but I have a record of the last one queued so we can resume there when we start back up tomorrow/Friday. This is done.

- [x] shut down Roger servic

[2016-09-07 19:49] jdmaloney commented on #164
- [ ] Move Terraref data into File Set, migration starting this afternoon (Wednesday), Max is shutting down Clowder for it

[2016-09-08 14:39] rachelshekar commented on #140
@robkooper - what are you going to do?  Use the Clowder Terms of Service as is?

[2016-09-08 14:47] max-zilla commented on #115
I have created a separate repository for this extractor (and eventually other environmental extractors) now that it is nearly complete:
https://github.com/terraref/extractors-environmental

It has the latest file updates and renamings. I am going to close this issue and make an issue focused on deploying it now.

[2016-09-08 14:47] #115 closed

[2016-09-08 14:50] max-zilla opened #165 "Deploy environmental logger extractor"
https://github.com/terraref/extractors-environmental
The environmental logger extractor is ready to be deployed.

- [x] create a VM on Roger Kilo to host & install dependencies

- [x] Notify @jdmaloney of VM IP so he can mount necessary directories:
- read-only: **/sites/ua-mac/raw_data/EnvironmentLogger**
- read/write: **/sites/ua-mac/Level1/EnvironmentLogger**

- [x] update extractor config to p

[2016-09-08 15:08] robkooper commented on #140
I showed David where he can edit license. He took clowder text and data sharing and combined into a single document.

[2016-09-08 15:09] max-zilla commented on #160
I will give an update on the call today, but I spoke with @robkooper and @dlebauer about structuring going forward, and how we probably can't have this repo be the main discussion for all these different extractors forever as it's already fairly busy.

So we're making some gradual changes to emphasize this repo as focused on the pipeline portion itself:
- scripts and tools to prepare raw data befo

[2016-09-08 15:09] #140 closed

[2016-09-08 16:18] dlebauer commented on #152
There are a lot of files for each observation,

* Picture taken before the flash (fdark to subtract background), then there is a flash, then a Fmin (F0 or Fmin) then a series of photos taken until Fmax.
* Need to identify fdark, Fmin, and Fmax based on mean intensity
  * response curve to maximum fluorescence may be useful, but can be estimated later
* Calculate the photosynthetic efficiency = (fm

[2016-09-08 16:18] dlebauer commented on #152
Here’s an example of data from the DDPSC system: http://plantcv.readthedocs.io/en/latest/psII_tutorial/

[2016-09-08 16:28] dlebauer commented on #152
@nfahlgren can we use PlantCV for this directly, or perhaps after clipping to plot boundaries?

[2016-09-08 16:33] max-zilla commented on #157
@yanliu-chn @robkooper we should discuss PostGIS a bit. Specifically storing multiple projections in a single geometry. If PostGIS is not sufficiently scalable, should we consider alternatives?

[2016-09-08 16:35] max-zilla commented on #147
@yanliu-chn @robkooper sounds like it shouldn't be too difficult to move VM from Nebula to Roger now that both are Kilo.

We should just migrate this VM, and perform any necessary updates based on changes to plantCV since the test VM was set up (there may not be any).

[2016-09-08 16:40] nfahlgren commented on #152
@dlebauer good question, that actually might be pretty straightforward. I will take a look at some example data on Clowder and let you know

[2016-09-08 17:44] yanliu-chn commented on #157
Hi Max,

Nathan Casler from our lab gave me the answer: you can store multiple geometry columns (each project as one column) in the table and when you retrieve from the table, you specify which geometry column to use.

A related discussion online is: http://gis.stackexchange.com/questions/176263/can-a-postgis-table-or-view-have-two-geometry-columns

[2016-09-09 14:31] robkooper commented on #85
We just want to make sure we don't trigger it everytime a new file is added since we then do a lot of unnecessary computations. So maybe every night at midnight we trigger it for that day.

[2016-09-09 17:37] dlebauer opened #166 "Add phenotractor data to pipeline"
### Description

UA MAC is collecting data with a Phenotractor. These data should be processed:

* metadata extracted
  * sensors, datetime
  * location converted from MAC GPS to UTM and gantry coordinates
* raw data visualized
* summary statistics by plot for each sensor inserted into BETYdb
* other?

### Context

Data are collected weekly on Thursdays and are in this collection on Clowder:
https

[2016-09-09 17:43] dlebauer opened #167 "Add maricopa UAV data to pipeline"
### Description

Weekly UAV scans of Maricopa fields, for example: https://terraref.ncsa.illinois.edu/clowder/collection/576d8b20e4b0058ffbb2b20d

* decide how these should be added to data pipeline
* align to gantry coordinates
* visualize
* compute plot level summaries, insert into BETYdb

[2016-09-10 13:58] max-zilla commented on #164
This is done. I'll move the PLY/PNG move to a new issue and close this one.

[2016-09-10 13:58] #164 closed

[2016-09-10 13:58] max-zilla opened #168 "Split 3d scanner PNG/PLY into raw/level1"
Moved from https://github.com/terraref/computing-pipeline/issues/164...
- [ ] Move PLY files under /projects/arpae/terraref/sites/ua-mac/raw_data/scanner3DTop/ into the /sites/ua-mac/Level1 directory - these are the processed 3D files. these should go in the same dataset as their PNG siblings in Clowder
- [ ] Move PNG files under /projects/arpae/terraref/raw_data/ua-mac/3DScannerRawDataTmp/scanner

[2016-09-10 14:13] max-zilla commented on #125
Done.

[2016-09-10 14:13] #125 closed

[2016-09-12 15:40] max-zilla opened #169 "Make Globus monitors log into a Postgres database"
Now that the pipeline structure is more stable, it would be good to write the gantry cache/Roger logs into a couple database tables instead of a ton of JSON files. In addition to expected performance gains for write/retrieve, this will give us more clean ability for @jdmaloney and I to work on reporting/logging from structured tables instead of many individual files.

[2016-09-12 16:45] max-zilla commented on #163
@robkooper I will bring this up at Clowder meeting today. I think we can (at least temporarily) switch TERRA production instance to be sync'd to a different branch than master:

- create new terra_production branch that will be sync'd on 141.142.170.137 (new production VM)
- get my pull request merged into develop: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-req

[2016-09-14 16:34] solmazhajmohammadi commented on #144
@FlyingWithJerome
Imaging in X direction is similar to the normal camera. We can do the measurement for the lens distortion to get the exact length per pixel during the final test. But just for having a bounding box around the data, you can find the X length from the FOV and the distance from the camera. Focal length is small compare to the the working distance, so I ignored it. (25mm << 2m)

![eq

[2016-09-14 16:47] max-zilla commented on #163
@robkooper you mentioned this morning that there are no messages in RMQ right now. so does this mean that we will need to manually submit existing datasets for extraction when I deploy the demosaic extractor? is this intentional? that will also mean we have a backlog of things to generate sha512 for, etc. is the RMQ instance properly configured for terra production instance?

[2016-09-15 06:37] TinoDornbusch commented on #151
I transferred on our findings transformation of FLIR raw values to temperature via Email to the Maricopa team. However it did not end up here. Here it comes:

The output of the FLIR is currently in 100mK. Hence a saved pixel value of 3000 translated into 300K.

FLIR does use a calibration algorithm, which I will post here as MATLAB script. By default this calibration is applied internally by the c

[2016-09-15 06:45] TinoDornbusch commented on #151
[https://github.com/terraref/computing-pipeline/blob/master/scripts/FLIR/FlirRawToTemperature.m](url)

[2016-09-15 06:49] dlebauer commented on #151
So if an image has a rang 2800 to 3300, that is equivalent to 280-330 K / 27-57 C / 80-134F? The range and max seems high.

[2016-09-15 06:49] TinoDornbusch commented on #151
https://github.com/terraref/computing-pipeline/blob/2b8f94140c67767fe3b254ea7107b24e03f4119a/scripts/FLIR/GetFLIR.m

https://github.com/terraref/computing-pipeline/blob/master/scripts/FLIR/FlirRawToTemperature.m

[2016-09-15 06:51] TinoDornbusch commented on #151
Script: https://github.com/terraref/computing-pipeline/blob/master/scripts/FLIR/FlirRawToTemperature.m

[2016-09-15 06:55] TinoDornbusch commented on #151
Forget about the script GetFLIR.m. This was just a helper to display data. Use FlirRawToTemperature.m.

However, here is the problem: Note that until today all data is already processed an output as 100 mK. If you want to change the calibration using different parameters, you need to "revert" the script, computing back the original 16bit raw pixel values and reapply the script with changed paramet

[2016-09-15 07:00] TinoDornbusch commented on #151
Here is the Email conversation I had with scientists at Maricopa. Sorry that this information has not leaked through.

Tino, when is the acceptance test? I am thinking a good cal/val test would rely on a transferred approach, namely use well-calibrated apogee infrared thermometers (do you have any?) in parallel with the FLIR camera. Ive thought about reference field targets but large ones are diff

[2016-09-15 07:09] dlebauer commented on #151
I didn't realize these were calibrated ... So you recommend turning the FLIR to raw mode and then calculating T?

doing the math of updating previous FLIR images with new parameters should be straightforward if deemed necessary.

[2016-09-15 07:18] TinoDornbusch commented on #151
I switched the FLIR to raw output from today on. There is a valueable parameter Tsens (internal FLIR temperature). You can choose, where to measure temperature: Shutter, lens, front

This is currently not included to the Metadata. Do you want us to include this in Metadata? Which Temperature value do you want to output.

[2016-09-15 07:19] dlebauer commented on #151
What will be most useful? @jeffwhiteaz ?

[2016-09-16 15:41] TinoDornbusch commented on #151
Temperature Data from FLIR is written to the variable Metadata. Three temperatures are logged: Shutter, Lens, Front. These temperatures can be used in the script to estimate external Optic temperature as parameter required in the FLIR script.

    "sensor_fixed_metadata": {
      "sensor manufacturer": "FLIR Systems",
      "sensor product name": "A645",
      "sensor serial number": "13070601",

[2016-09-16 15:46] JeffWhiteAZ commented on #151
In response to my query to Andy French about the best ttemperature to use, Andy responded:
_Ideally the reference temperature is the detector temperature, not the lens temperature or shutter temperature , but that temperature is better than ambient air temperature. But I cannot believe FLIR doesn’t incorporate detector temperature in their calibration, which means that I could be accessible if FLI

[2016-09-16 16:06] JeffWhiteAZ commented on #151
Do we know what the "front" temperature actually measures? It sounds like the body surrounding the lens, but it would to know for sure.

[2016-09-16 18:56] dlebauer commented on #151
@TinoDornbusch The calibration parameters have been in the metadata since at least 08/28, but were not there on 08/03.

When were the files changed from mK to radiance? Is this information included in the metadata?

[2016-09-17 07:58] TinoDornbusch commented on #151
Internal FLIR calibration has been changed to raw at 15.9.2016....Do you want us to enter a note in sensor_fixed_metaData, such as:

"sensor_fixed_metadata": {
  "comment sensor output": "Sensor output with internal FLIR calibration in 100mK until 14.9.2016, since 15.9.2016 without calibration in raw 16bit unsigned integer",

[2016-09-17 19:14] robkooper commented on #163
The way clowder/rabbitmq works is that each extractor registers itself with rabbitmq. At that point it creates a persistent queue. Any new messages coming in from that point forward will be routed and can end up in that queue. If there are no extractors the messages will wait in the queue until an extractor is ready to service that queue. If the extractor has never registered itself with rabbitmq

[2016-09-19 20:06] max-zilla commented on #163
The pull request for Clowder to send file paths so I am clear to get these going:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1012/overview

Tomorrow (tuesday) I will get this code moved out to Clowder and work on getting the extractors running.

[2016-09-19 20:42] rachelshekar commented on #98
@solmazhajmohammadi - how is this going?  Have you been able to extract plant height from the data?

[2016-09-19 20:50] max-zilla opened #170 "Store fixed sensor metadata using JSON-LD"
If there is metadata descriptive of the sensors that will not change e.g. for an entire season, we can use JSON-LD to reference one location for that so it isn't duplicated many times and we only have one place to update.

[2016-09-20 13:39] max-zilla commented on #162
Regarding the SQL queries:
I plan to modify my code to use a Python SQL library like: http://www.tutorialspoint.com/python/python_database_access.htm …then I would imagine the logic can be:
- Execute GetFileList SQL query to get a database cursor on a set of result rows – this should return a list of files and if possible their timestamps
- Iterate across files and execute GetFileMetadata on each

[2016-09-20 14:39] marklucascork commented on #162
Thanks Max. I will work on getting example queries to you over the next few days.

There are two tables for the UAS image data sets:
uas_run: which stores information about each flight.
uas_images: which stores information about all of the image files associated with each flight.

For the GetFileList query, there is no timestamp indicating when the file was created stored in the uas_run table itse

[2016-09-20 14:43] marklucascork commented on #162
One question regarding the use of Globus Connect: I got myself set up to use Globus Connect yesterday, and I have tested transferring files between my computer and the Beocat server. In order to do this, I was told that I had to have an account on Beocat.

Does this mean that anyone who wants to retrieve files from Beocat also has to have an account on Beocat? Or is it sufficient to share the fold

[2016-09-20 14:49] max-zilla commented on #162
@jdmaloney can you weigh in on Globus question above?

@marklucascork feedback re: SQL looks good - incrementing field is easier than a timestamp, and we should be able to build a JSON object from a set of metadata rows pretty readily.

[2016-09-20 15:04] TinoDornbusch commented on #151
@dlebauer PLease specify which notification on FLIR Metadata you would like to indicate the change in output data format.

[2016-09-20 17:07] gsrohde opened #171 "Load test BETYdb trait-insertion API"
How will BETYdb perform when given lots of data to process?  Will it handle the amount of data we will be collecting?

[2016-09-20 17:14] gsrohde opened #172 "Remaining trait-insertion API issues (separated out of issue #124)"
- [ ] 1. <b>Add GitBook documentation of JSON and XML format POST requests</b> (#315)
- [x] 2. Consider making key optional (can use curl -u option instead)
- [ ] 3. Check error response to SQL validation errors
- [ ] 4. Add more testing
- [x] 5. Check that CSV API accepts various kinds of line endings
- [x] 6. Check that POST APIs handle character encodings properly (#316)
- [x] 7. <b>Update docu

[2016-09-20 19:01] pless commented on #163
Hi Max,
  This is amazing work that you've been doing.  Please let us know when things are on clowder and/or if there is anything we can work on in the meantime to make it easier for us to deploy subsequent extractors.  Thanks!

[2016-09-21 16:08] Zodiase commented on #156
I'm a bit confused about the goal of this issue.

From the description I see these independent threads:

1. Upload met data
2. Process uploaded met data
3. Provide met data on Roger

(1) doesn't seem to be what an extractor should be responsible for; how is the extractor going to be triggered?

For (2), what are the requirements for the processing?

How is (3) related to extractors?

I'm not sure

[2016-09-22 15:35] craig-willis commented on #170
https://github.com/terraref/reference-data/issues/54 will define the format and  method for storage.

[2016-09-22 15:59] jdmaloney commented on #162
@marklucascork Short answer is it depends.

It is possible to set up a Globus Share on an existing endpoint that does not require users to have valid auth on the underlying system.  This is what we do with the terraref endpoint that we host here at NCSA.  We can add individual Globus ID's to have read-only or read/write permissions on the directory being shared and they never have to have any NCSA

[2016-09-22 16:09] rachelshekar commented on #145
convert xml to JSON

[2016-09-22 16:14] czender commented on #145
Typo above: the ncks commands to produce XML output are
[code]
Hopefully you can pipe these to xml2json as Rob suggests...

[2016-09-22 16:25] Zodiase commented on #145
Do we want the entire output file or just some specific variables or groups?

[2016-09-22 16:31] czender commented on #145
The people requesting the feature should answer this :)

[2016-09-22 16:44] yanliu-chn commented on #145
@dlebauer `ncks -m` output:

<pre>
netcdf 0596c17f-2e4c-4d43-9d77-cde8ffbde663 {
  dimensions:
    wavelength = 955 ;
    wvl_nvr = 1024 ;
    x = 1600 ;
    y = 468 ;

  variables:
    float flx_dwn(wavelength) ;
      flx_dwn:long_name = "Downwelling spectral irradiance" ;
      flx_dwn:standard_name = "surface_downwelling_radiative_flux_per_unit_wavelength_in_air" ;
      flx_dwn:units = "watt

[2016-09-22 16:45] yanliu-chn commented on #145
`ncks -m -M` output:
<pre>
netcdf 0596c17f-2e4c-4d43-9d77-cde8ffbde663 {
  dimensions:
    wavelength = 955 ;
    wvl_nvr = 1024 ;
    x = 1600 ;
    y = 468 ;

  variables:
    float flx_dwn(wavelength) ;
      flx_dwn:long_name = "Downwelling spectral irradiance" ;
      flx_dwn:standard_name = "surface_downwelling_radiative_flux_per_unit_wavelength_in_air" ;
      flx_dwn:units = "watt meter-2

[2016-09-22 17:14] dlebauer commented on #145
Some of this content is a direct dump from the metadata file provided with the raw data, and that does not need to be duplicated. I think the key new parts are dimensions, variables, and global attributes from `ncks -m -M`

[2016-09-22 18:17] dlebauer commented on #156
### For MAC weather station

1. convert to json and instert into Clowder PostGIS sensor database (ask @caicai89- and @robkooper for details)
2. convert to PEcAn standard met data product

The file format and variable names / units should follow specifications for PEcAn here: https://pecan.gitbooks.io/pecan-documentation/content/developers_guide/Adding-an-Input-Converter.html

Here is an example: h

[2016-09-22 18:27] dlebauer commented on #156
For schema see #130

Roughly, the schema looks like:

![clowder postgis schema-2](https://cloud.githubusercontent.com/assets/9286213/16991300/b2f2b09a-4e60-11e6-96b7-8b63c3d1f995.jpg)

* SENSOR will be the plot/source of the data, e.g. UA_MAC, DANFORTH.
* STREAM will be the sensor, e.g. co2Sensor, SWIR.
* DATAPOINT will be the geometry associated with a dataset (a single capture from a single sens

[2016-09-22 18:32] dlebauer commented on #156
Here is an example of a record from one time point from here: https://greatlakesmonitoring.org/clowder/api/geostreams/datapoints?geocode=40.4868888889%2C-84.4817222222%2C0&since=2008-09-22+05%3A00%3A00&until=2014-07-03+19%3A00%3A00&format=json:

[code]

[2016-09-22 18:49] dlebauer opened #173 "Convert met data in clowder to netcdf"
All met and environmental data should be provided on ROGER, ideally via an opendap / thredds interface #155

This depends on #156

Should use similar BrownDog and leverage PEcAn project met workflow.
- As data is added to Clowder
- append to netcdf in PEcAn standard met data product
- Here is an example: http://file-server.igb.illinois.edu/~dlebauer/met/narr/threehourly/champaign.nc

### completio

[2016-09-22 19:13] #132 closed

[2016-09-22 19:15] #112 closed

[2016-09-22 19:19] rachelshekar commented on #101
@caicai89- have you made the updates requested above?  If not, can you put them in a new issue?

[2016-09-22 19:20] rachelshekar commented on #97
@dlebauer - please touch base with Scott about this.

[2016-09-22 19:20] #91 closed

[2016-09-22 19:21] rachelshekar commented on #88
@czender  - can this issue be closed?

[2016-09-22 19:22] rachelshekar commented on #87
@jdmaloney  - can this issue be closed?

[2016-09-22 19:24] #81 closed

[2016-09-22 19:25] rachelshekar commented on #17
@robkooper - - can this issue be closed?

[2016-09-22 19:27] robkooper commented on #17
We lost our free access to ADS, closing issue

[2016-09-22 19:27] #17 closed

[2016-09-22 19:28] jdmaloney commented on #87
@rachelshekar  Sorry still not yet, forward progress is being made.  I'll try to have it done here by end of Sept.

[2016-09-22 19:34] czender commented on #88
Not yet. We need "white reference" reflectance from the spectralon panel. Right now the reflectance we are using is based on fake numbers. Specifically, we need both the wavelength-depdent, factory calibrated reflectance of the spectralon at all VNIR+SWIR wavelengths (currently we just use 95%), and then we need at least one new good image of a spectralon panel from each camera.

[2016-09-22 19:37] rachelshekar commented on #128
@jdmaloney - are we receiving this data?

[2016-09-22 19:41] rachelshekar commented on #135
@jdmaloney - can this issue be closed?

[2016-09-22 19:43] #130 closed

[2016-09-22 19:46] rachelshekar commented on #124
@dlebauer - what is the priority on this?  Pre or post V0 release?

[2016-09-22 19:46] #118 closed

[2016-09-22 19:47] rachelshekar commented on #120
@jdmaloney  - are we receiving this data?  Can this issue be closed?

[2016-09-22 19:49] rachelshekar commented on #148
@ZongyangLi  - did you ever get this resolved?

If not, @solmazhajmohammadi can help.

[2016-09-22 20:03] nfahlgren commented on #152
I talked with @solmazhajmohammadi and figured out I was looking at images that lacked signal. I think I understand the structure of each snapshot now and looking at the data I believe we could definitely use the PlantCV tools we have for PSII data to process data from the scanner PSII camera. I can work up an extractor for this unless @ZongyangLi is working on it instead.

[2016-09-22 21:34] max-zilla commented on #163
Processing is now underway for demosaic extractor. Example output:
https://terraref.ncsa.illinois.edu/clowder/datasets/57e3e58c4f0c2cccebc50c41

On Globus (easiest way to get in bulk) this will be under /sites/ua-mac/Level_1/demosaic - there are a few messy folders there from the deployment debugging that will be cleaned later.

Will watch this tonight to see how it goes and move onto next extract

[2016-09-22 22:15] dlebauer commented on #152
I think @ZongyangLi can work out the conversion from binary to image, but not the analysis of the response.

* Are you planning to compute in on time series on a per pixel basis, or on a per image basis?
* do the images need to be subset to the plot scale?

I suggested using netcdf in the issue description because this will speed up computing on time series (e.g. to calculate the values on a per-p

[2016-09-22 22:22] dlebauer commented on #124
this needs to be done ASAP.

[2016-09-22 22:29] dlebauer commented on #156
Here is the geostreams schema
[geostream.sql.txt](https://github.com/terraref/computing-pipeline/files/488497/geostream.sql.txt)

[2016-09-22 22:38] jdmaloney commented on #128
@rachelshekar I was unaware of this issue, I don't think we are as I haven't seen it explicitly in the directory structure that I can remember.

@smarshall-bmr If the data can make it to a folder on the cache server via FTP, I can make sure it gets moved to ROGER automatically, that last part is not hard to achieve at all.  Just let me know where it's getting dropped in directory-wise.

[2016-09-23 00:13] robkooper commented on #156
Just keep in mind you do not have access to the database, all operations have to be done through the API.

We discussed this in the past and the thinking is to have sites represented as sensors in clowder (ua-mac, ksu, etc). Then have each sensor represented as a stream (VNIR, MET, stereo) and finally have each dataset, or in this case the actual values be represented in the datapoints.

[2016-09-23 06:28] #90 closed

[2016-09-23 09:06] TinoDornbusch commented on #88
Got it...We are chasing the documentation of Spectralon target.

[2016-09-23 13:14] max-zilla commented on #112
This has been deployed. Results accumulating in /ua-mac/Level_1/demosaic.

[2016-09-23 14:50] rachelshekar commented on #156
@dlebauer - is this different from https://github.com/terraref/computing-pipeline/issues/115?  How?

[2016-09-23 14:53] rachelshekar commented on #155
@dlebauer - is this a priority for the V0 release?

[2016-09-23 14:54] rachelshekar commented on #172
@dlebauer - is this a priority for the V0 release?

[2016-09-23 14:55] rachelshekar commented on #170
@max-zilla - can this be closed?

[2016-09-23 15:01] craig-willis commented on #170
@rachelshekar I think this needs to stay open until we are actually storing the sensor metadata.  terraref/reference-data#54 will define the format and method; this will be the actual work to get it stored.

[2016-09-23 15:04] max-zilla commented on #163
Initial extractor deployed. I will close this issue and update other extractors in their respective issues.

[2016-09-23 15:04] #163 closed

[2016-09-23 15:27] dlebauer commented on #156
@rachelshekar #115 just covers the environmental logger that is on the lemnatec gantry / scanner this is for met data more generally. Goal is to get it into a consistent format in Clowder then create an extractor that converts Clowder datastream to netcdf

[2016-09-23 15:30] dlebauer commented on #156
@robkooper I was mostly wanting the sql schema file to define the data model (since it is slightly different from the erd diagram above).

[2016-09-23 15:32] marklucascork commented on #162
Thanks @jdmaloney. I have aske our administrators about whether our Globus Connect endpoit supports sharing with valid Globus User ID.

[2016-09-23 15:45] marklucascork commented on #162
Here are example SQL queries required for retrieving our UAS data:
A: **GetFileList query**

SELECT record_id,flight_id FROM uas_run WHERE record_id > 0;

The above example retrieves information about all entries in the uas_run table. If you wish to retrieve entries newer than the last one retrieved, replace 0 with the record_id of the last data set retrieved:

SELECT record_id,flight_id FROM uas_

[2016-09-23 16:16] max-zilla commented on #162
@marklucascork this looks great. I'll work on getting SQL query support implemented in the pipeline monitor next week.

[2016-09-23 16:44] rachelshekar commented on #153
@dlebauer - is this a priority for the V0 release?

[2016-09-23 16:46] rachelshekar commented on #150
@dlebauer - is this a priority for the V0 release?

[2016-09-23 16:47] max-zilla commented on #165
@jdmaloney I have created a VM called terra-extractor-environmentlogger.

Floating IP: 141.142.170.143

reads ```/sites/ua-mac/raw_data```
writes: ```/sites/ua-mac/Level_1/EnvironmentLogger``` (not yet created)

Is that all the info you need? Not sure if we can reuse anything you did for the demosaic extractor exports on the READS side, can't remember if the mount point is the same. If you need to

[2016-09-23 16:51] rachelshekar commented on #121
Do we need an implementation of 3D-RGB on clowder? This needs to be corrected; the scanners run at separate times so the scale is off. Or should I just focus on 3D reconstruction from RGB. - Solmaz

[2016-09-23 16:55] rachelshekar commented on #98
Can @solmazhajmohammadi provide ply to .LAS?  converter (using gdal?)?
http://www.pdal.io/
LAS is binary = smaller, better tool availability, more standardized.
Solmaz : I can take a look at it. Can you please let me know what is the priority on this? By the release.

[2016-09-23 16:56] #116 closed

[2016-09-23 16:57] #111 closed

[2016-09-23 16:58] rachelshekar commented on #109
@dlebauer - can this issue be closed?

[2016-09-23 16:59] rachelshekar commented on #106
@jdmaloney - can you close this issue?

[2016-09-23 16:59] rachelshekar commented on #95
@dlebauer  - is this a priority for the V0 release?  If so, can you assign it to someone?

[2016-09-23 17:06] dlebauer commented on #48
Why closed?
On Fri, Sep 23, 2016 at 12:05 PM Rachel Shekar <notifications@github.com>
wrote:

[2016-09-23 17:14] rachelshekar commented on #54
@dlebauer can this be deleted?

[2016-09-23 17:15] rachelshekar commented on #70
@solmazhajmohammadi - can this issue be closed?

[2016-09-23 17:16] rachelshekar commented on #55
@robkooper  - can this issue be closed?

[2016-09-23 17:17] rachelshekar commented on #105
@max-zilla - can this issue be closed?

[2016-09-23 17:22] jdmaloney commented on #165
@max-zilla

These exports have been created as well as the directory in Level_1

[2016-09-23 17:28] max-zilla commented on #105
not yet. this has been on back burner.

[2016-09-23 17:35] smarshall-bmr commented on #128
I'm having trouble finding where these logs are stored, any help @TinoDornbusch ?

[2016-09-23 17:36] dlebauer commented on #150
Yes
On Fri, Sep 23, 2016 at 11:46 AM Rachel Shekar <notifications@github.com>
wrote:

[2016-09-23 18:06] nfahlgren commented on #152
It looks like each snapshot is 101 images (Frames 0 - 100), a JSON metadata file, and an XML metadata file that contains the (presumably) Unix time of each frame. Based on my understanding of how the PSII system works at DDPSC, I think frame 0 is the F-dark image, taken before the light pulse, which can be used to remove background signal from the other frames. Frame 1 should be the first image ta

[2016-09-23 18:39] dlebauer opened #174 "Create polygons for sites table in BETYdb"
### Description

The spring planting plots are described in this [spreadsheet on google drive](https://docs.google.com/spreadsheets/d/1QQaWc0UaQQKfEtnSO1G2za8tKU2huC0_VYMBqm5CKAo/edit#gid=1066629008)

* the plot layout is described in the 'experimental plot plan' table, the important bits are:

| dimension | value|
|----|----|
|# rows	|32|
|# rows / plot	|2|
|# plots (2 rows ea)|	864|
|# ranges	|5

[2016-09-23 18:40] dlebauer commented on #174
@JeffWhiteAZ or @smarshall-bmr

1. could you please provide information for mapping these plots to the gantry (0,0) coordinates?
2. do you have similar dimensions for the second planting?

[2016-09-23 18:55] dlebauer commented on #152
@nfahlgren that sounds good for a first pass.

It sounds like you are going to identify three images (dark, min, max) based on an average over all pixesl and the compute Fv/Fm. This would probably be a good first order estimate of Fv/Fm for each pixel.

If it is possible and biologically relevant that different pixels will reach max/min at different time points. I would propose to get better per-p

[2016-09-23 19:18] dlebauer commented on #103
@pless or @ZongyangLi or @max-zilla  if we are going to have to process the old data separately, could someone please close this an make a new issue?

[2016-09-23 19:19] dlebauer commented on #109
No, Ting Lee is working on this

[2016-09-23 19:20] dlebauer commented on #153
@ Yes this is a priority - this represents a very basic sanity check to confirm that our geospatial components are working.

[2016-09-23 19:26] nfahlgren commented on #152
@dlebauer good question, not sure about the biological significance of the response curve for different parts of the plant, but makes sense that it could differ.

[2016-09-23 19:27] ZongyangLi commented on #103
@dlebauer I think we have solve this issue by some coding method. When we load metadata from json files, we simply make all keys into a lower-case. So I think we could close this issue.

[2016-09-23 20:02] nshakoor opened #175 "Create a correlation plot comparing scanner height measurements vs manual height measurements"
### Description

For the November meeting, can someone do the comparison of plot level height distributions calculated from the sensors and the ground truth measurements for height? I know it's not an ideal comparison, but it's a measurement that most of the TERRA teams have to provide in their milestones (e.g. "Demonstrate algorithm predictions are within 20% of ground truth values"). It would be

[2016-09-23 20:09] #103 closed

[2016-09-23 23:03] robkooper commented on #55
Not sure, there is no final conclusion made. @dlebauer

[2016-09-23 23:50] smarshall-bmr commented on #174
https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=883764630

https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=1433617856

These are the plot locations as given in the gantry coordinate system for the first and second planting respectively. The y coordinates change a negligible amount as to the point that the y c

[2016-09-24 03:47] dlebauer commented on #55
Can be closed. There is a Windows computer at MAC running the laser scanner png--> ply conversion and as I understand it Lemnatec will provide code for other extractors that doesn't require a Windows machine with a usb port

[2016-09-24 03:47] #55 closed

[2016-09-26 16:56] rmgarnett commented on #175
@pless and I will work on this for the annual meeting in November.

[2016-09-27 12:35] marklucascork commented on #162
I tried sharing the uas folder on Beocat and found that sharing is not enabled at KSU. I verified this with the Beocat system administrators.

I believe that this means that you will need to get an account on Beocat in order to access the files that you need. I may also need to give you a read-only account on the database. However, we could probably work around this by invoking a script that queri

[2016-09-27 16:44] max-zilla commented on #165
This extractor is deployed and running - results will accumulate in /ua-mac/Level_1/EnvironmentLogger.

[2016-09-27 16:44] #165 closed

[2016-09-27 18:26] max-zilla commented on #147
I've just downloaded an 8 GB image of the Nebula PlantCV VM and I'm in the process of uploading it to Roger images. For those interested @yanliu-chn @robkooper the basic process should be generic for any OpenStack Kilo instances.

- Install the client OS tools:
[code]
- downloaded OpenStack RC files from both Nebula and Roger from browser GUI
http://docs.openstack.org/user-guide/common/cli-set-env

[2016-09-27 19:46] max-zilla commented on #147
OK @jdmaloney I think the VM is ready. Can you prepare exports for VM 141.142.170.130:

reads: /sites/danforth/raw_data
writes: /sites/danforth/Level_1/plantcv

(there's a /danforth/derived_data but we can delete that and use Level_1 instead)

Right now obviously both these directories are empty, but once mounted I can try to get some data moved in there.

[2016-09-28 00:25] solmazhajmohammadi commented on #70
@rachelshekar Yes.

[2016-09-28 00:25] #70 closed

[2016-09-28 00:28] solmazhajmohammadi commented on #148
I think the issue regarding the Z-coordinate shift is resolved.
Future Plan: We will add it to the transformation matrix in metadata.

[2016-09-28 22:10] solmazhajmohammadi commented on #98
PDAL image is available in docker. You can pull it with following command:
`docker pull pdal/pdal:1.3`

Following command will convert the PLY file format to LAS file:

`docker run -v /Path/ToThe/File/data:/data -t pdal/pdal pdal translate --writers.las.dataformat_id="0"  --writers.las.scale_x=".0000001" --writers.las.scale_y=".0001" --writers.las.scale_z=".000001" /data/Input.ply /data/out/Output

[2016-09-28 22:44] nfahlgren commented on #41
I hit two roadblocks:

The Agave API documentation for obtaining a token no longer exists (http://agaveapi.co/authentication-token-management/). I think Ramona told me you have to be on campus to have access to the Agave API currently, but maybe I'm mistaken.

I have access to the `/iplant/home/shared/terraref` data store through the Discovery Environment, but I don't seem to be able to access any

[2016-09-29 13:32] max-zilla commented on #147
Extractor has been deployed. The BETYdb push flag is disabled until @gsrohde and I confirm the BETY instance to use.

Will see about getting the older data Noah had pushed to the dev instance loaded on production so it can trigger on them. Sample output: https://terraref.ncsa.illinois.edu/clowder/datasets/57ec256f4f0c067b0da81887

[2016-09-29 13:34] dlebauer commented on #147
The instance to use is terraref.ncsa.illinois.edu/bety aka bety6
On Thu, Sep 29, 2016 at 8:32 AM Max Burnette <notifications@github.com>
wrote:

[2016-09-29 13:34] max-zilla commented on #46
Once this is merged this should be done, at least for a first cut:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/994/overview

[2016-09-29 13:37] max-zilla commented on #147
@gsrohde I believe that's the instance you mentioned yesterday. Can you please verify the necessary data has been loaded in that instance like we discussed here: https://github.com/terraref/computing-pipeline/issues/33 ?

Then I can add that URL, get an API key and make sure the module is functioning as expected.

[2016-09-29 13:49] max-zilla commented on #136
@nfahlgren the extractor is now running. I'd like to get a set of snapshots on my laptop so I can finish developing the Danforth pipeline code that we can deploy - so I can get the snapshots writing to the correct raw_data directories on Roger, etc.

What do you think the best way to accomplish this is? The snapshots on the clowder-dev instance are in Mongo so not the easiest way to fetch them as

[2016-09-29 13:53] gsrohde commented on #147
@max-zilla Was there a particular comment in #33 where we discussed this?  I think from David's comment https://github.com/terraref/computing-pipeline/issues/33#issuecomment-230545333 that all the metadata is there.

I _think_ that the API rolls everything back if there is a row it can't insert.  I have to double-check this.  In other words, if you tried to do the API call without all the metadata

[2016-09-29 13:53] max-zilla commented on #120
We cannot close this. Now that the extractor is deployed I'll work on this.

[2016-09-29 14:00] max-zilla commented on #147
@gsrohde looks like you're correct, the discussion I saw was relating to a test instance:
[code]

But it looks like we're set. I'm going to close this issue and create another smaller one for the Bety push component.

[2016-09-29 14:02] max-zilla commented on #172
From @gsrohde in https://github.com/terraref/computing-pipeline/issues/147:

The PlantCV extractor is running - when these changes are released, I will update the PlantCV extractor to point to
[code]
...with an API key I generate, and we are good to go.

[2016-09-29 14:02] #147 closed

[2016-09-29 14:37] nfahlgren commented on #136
@max-zilla I'm going to create a user account for you on our infrastructure so you can log into our Globus endpoint. Then we can add some sample data to your home directory for testing. Let me know what username you would like and I will send you a temporary password.

[2016-09-29 14:39] max-zilla commented on #136
@nfahlgren you can use mburnet2 for my account (it's my username on most NCSA systems). Thanks!

[2016-09-29 15:15] nfahlgren commented on #136
@max-zilla sent you an email with the details

[2016-09-29 15:16] solmazhajmohammadi commented on #88
Documentation is available in:
https://github.com/terraref/reference-data/issues/53#issuecomment-250442822

[2016-09-29 15:33] rachelshekar commented on #54
@nshakoor - do you have these data from Steve K?  should this be part of the November release?

[2016-09-29 15:49] max-zilla commented on #136
Thanks @nfahlgren , I was able to login via Globus to that endpoint. If you put some data in /home/mburnet2 I should have access now.

[2016-09-29 15:53] nfahlgren commented on #136
@max-zilla do you just want some snapshot folders, or do you want the whole pilot experiment folder including the SnapshotInfo.csv file? And/or I can make a smaller sample set including the CSV file.

[2016-09-29 15:56] max-zilla commented on #136
@nfahlgren the whole pilot experiment w/ CSV file is fine, if that's easy/feasible.

[2016-09-29 16:01] nfahlgren commented on #136
@max-zilla I added a link to the data, let me know if it doesn't let you access it for some reason.

[2016-09-29 16:04] nfahlgren commented on #136
@max-zilla the data set is 79GB, FYI

[2016-09-29 16:07] max-zilla commented on #136
@nfahlgren cool, I can see it.

I'm at 300/500 GB on my laptop and I already filled it up once with stereoTop data last week, so let's give it a try :)

[2016-09-29 16:12] jdmaloney commented on #135
@rachelshekar Yes

[2016-09-29 16:12] #135 closed

[2016-09-29 16:30] max-zilla commented on #156
goal is to insert data into postGIS and convert to netCDF via extractor

[2016-09-29 16:34] max-zilla commented on #136
@jdmaloney on Roger, I think it would make sense to have:
[code]
...and we can transfer the new data sent via Globus to
[code]
...to differentiate those sets. @nfahlgren what do you think about that?

Also, part of what I'm going try to implement here is checking the metadata for a timestamp for the new data, so instead of snapshot123 in a long list we can have:
[code]
...and so on. Reactions?

[2016-09-29 16:49] nfahlgren commented on #136
@max-zilla I think that will work. Where would the SnapshotInfo.csv file go? There is one per experiment (collection of snapshots, like the pilot data set). Not that it has to stay like that going forward...

[2016-09-29 16:52] max-zilla commented on #98
@solmazhajmohammadi This is helpful. So this can be an extractor that:
- triggers on 2 PLY files being added to a dataset in Clowder
- converts the PLY files to LAS, merge them into one pointcloud, and compress
- Add the LAS file to Clowder

@dlebauer @jdmaloney Right now the folder structures are:
[code]
Do we keep the PLY files once LAS is generated? Is it OK to keep LAS + PLY in same Level_1 di

[2016-09-29 16:59] nfahlgren commented on #41
@mbomhoff and @elyons, could you help me out with the comment above? Thanks!

[2016-09-29 16:59] max-zilla commented on #136
@nfahlgren i'll have to look at the code and how we currently use it. If need be we could introduce a different structure:
[code]
...but another option could be modifying/generating SnapshotInfo.csv during transfer so we generate them for the dates or something. I'll know more soon.

[2016-09-29 17:00] nfahlgren commented on #136
@max-zilla yeah, the CSV file is used by the uploader, but it's not used by the extractor (since the metadata from the file is loaded into Clowder). If that helps.

[2016-09-29 17:02] nfahlgren commented on #136
@max-zilla the uploader also requires an experimental metadata file, I forgot to link to that, but the path is: `/home/nfahlgren/projects/lemnatec/sorghum_pilot/sorghum_pilot_ddpsc_metadata.json`

[2016-09-29 17:04] rachelshekar commented on #155
@robkooper - this has been transferred to you

[2016-09-29 17:05] max-zilla commented on #136
@nfahlgren yeah I thought that was the case - since my Globus transferrer will basically replace what your uploader does, I might be able to use the Snapshot.csv & ddpsc_metadata file there. Basically use some of your uploader snippets will be used in my Globus script to identify what to queue and what metadata to send with each - one idea that is similar to the way we handle other datasets would

[2016-09-29 17:07] mbomhoff commented on #41
Hi Noah, items in the shared folder aren't automatically made public so you will have to share the terraref folder with the "coge" user.

I think Agave reorganized their docs, check here:  http://developer.agaveapi.co/#authorization

[2016-09-29 17:21] pless commented on #85
Status update, Sept. 29, 2016.

Some context on the current status of this issue:

This issue considers the problem of creating a full field mosaic.  We are choosing to create the full field mosaic as a "Google Map" style visualization, so that we don't end up making the 100GB high resolution full field image.  The end to end process for this has 3 parts:

1. Convert .bin files into geoTIFFS and j

[2016-09-29 17:26] maxzilla commented on #136
I believe you're sending emails to me accidentally. Just thought you'd want
to know.

On Sep 29, 2016 11:05 AM, "Max Burnette" <notifications@github.com> wrote:

[2016-09-29 18:21] dlebauer commented on #85
@pless would [NASA's WorldView](https://worldview.earthdata.nasa.gov/) provide an alternative solution? It looks easy to deploy, and it provides a web-based interface to data that automatically does the tiling and also allows users to interactively view, select, and download data products. I gather that this would allow us to generate one big full field dataset that can be subset based on user nee

[2016-09-29 18:33] max-zilla commented on #136
@nfahlgren another step @robkooper alluded to - you'll want to create a Globus user for us to use - not mine or yours, but generic to the pipeline. The MAC user is called 'terraref' but you could use 'terraref_danforth' or whatever you want. But we'll need to have the credentials for that account stored in the config for the pipeline uploader services. @jdmaloney can make sure it has the necessary

[2016-09-29 18:36] dlebauer commented on #98
yes, we can keep PLY and LAS in the same directory. My inclination would be to delete the ply file but lets keep them for now.

[2016-09-29 18:52] solmazhajmohammadi commented on #98
Thanks @max-zilla
you can compress the file at the same time with conversion.
Merging the point clouds is an option. I can take a look to see if we can combine the conversion and merging together. But, my suggestion is to keep the LAS files separately for East and West camera, due to the time difference between the scans.
PDAL by default storing the points in two decimal point, set this based on d

[2016-09-29 19:43] robkooper commented on #85
@pless This seems a lot like zoomable images. We currently have this task as https://opensource.ncsa.illinois.edu/jira/browse/CATS-671 for clowder and I have some ideas on how to store the data. I'd love to chat and see if we can store it in such a way that we can show them in clowder or in google maps using superoverlays https://developers.google.com/kml/documentation/regions?csw=1#superoverlays

[2016-09-29 21:10] dlebauer opened #178 "Create timecourse representations of sensor data from the gantry"
_From @nshakoor on September 28, 2016 22:17_

@pless Can we create movie-like timecourse representations of sensor data from the gantry?

_Copied from original issue: terraref/reference-data#58_

[2016-09-29 23:08] tingli3 commented on #174
@dlebauer I have a few questions related the R code:
1 Q1: the plot number in the picture given by ggplot2 in the R code does not match with the excel below (is it important?)
https://docs.google.com/spreadsheets/d/1QQaWc0UaQQKfEtnSO1G2za8tKU2huC0_VYMBqm5CKAo/edit
For example, the location of plot 17 is not consistent with the excel.

2 Q2: what is the correct lat lon for the four corners that we

[2016-09-30 04:16] dlebauer commented on #174
@tingli3 I answered your questions inline above

[2016-09-30 15:01] tingli3 commented on #174
@dlebauer Thank you.

The true SW and SE lat & lon will be very important in the projection definition. If USDA is the truth lat & lon for the SW and SE, I need to update the projection based on it and make sure after projection the SW will be (0,0) and SE will be something like (2*.***, 0). Please tell me whether my understanding is correct.

However, here the coordinate system we generated using

[2016-09-30 15:20] dlebauer commented on #174
@tingli3 there are two different issues.

First, is to determine the coordinate reference systems. That should be covered in issue https://github.com/terraref/reference-data/issues/32. There are four (or more) points used to align the two (MAC and USDA) GPS systems. These are in concrete posts around the edge of the field. There are also points used to align the gantry coordinate system with the M

[2016-09-30 16:06] tingli3 commented on #174
@dlebauer So, what is the X and Y in the R code corresponds to ? Where is the true (0,0) ?

[2016-09-30 16:43] solmazhajmohammadi commented on #168
It seems that PLY files in the Level1 data still belongs to the old calibration file.
New configuration file has applied and pointclouds are stored in the following path from 2016-04-25 to 2016-08-22:
"LemnaTec/MovingSensor.reproc2016-8-18/scanner3DTop "

[2016-09-30 16:45] dlebauer commented on #174
@tingli3 First, I apologize on behalf of all involved that this is such a mess.

But to try and clarify, there are a three (X,Y) coordinate systems

1. the gantry / lemnatec system that has reversed X. These are
2. the 'corrected' X,Y with (0,0) on the SW reference point. This does not yet exist, but is covered in (https://github.com/terraref/computing-pipeline/issues/109) that this would be helpf