[2015-09-17 15:10] dlebauer opened #1 "Draft pipeline for Lemnatec System at Danforth"
Noah Dahlgren's group at Danforth has a pipeline for running the indoor phenotyping system at Danforth.

Setting up an automated pipeline for data transfer and feature extraction will be a good place to start.

* [x] review and revise notes on the [plant_cv_setup.md](https://gist.github.com/dlebauer/32434a40afe925fc982e)
* [x] Identify and demonstrate software (e.g. Brown Dog, NDS, BETYdb) that ca

[2015-09-17 15:27] dlebauer opened #2 "Existing software that can be leveraged or coupled to the pipeline"
* [x] Collect list of tools
* [x] discuss tools that are useful and ready 'off the shelf'
* [x] which should be supported and how, even if we don't use them directly

[2015-09-24 20:33] dlebauer opened #3 "Protocol for pushing data to NCSA using REST interface"
After a user or sensor platform generates a packet of data, they will need to push the contents NCSA.

* [x] what should meta-data look like? i.e. ghs data similar to json files proposed for field system (terraref/reference-data#2)
* [x] how should data be prepared (compressed? identified?)
* [x] once prepared, how should it be pushed? What permissions are required?
* [x] add end user documentatio

[2015-10-01 21:49] rachelshekar opened #4 "install dependencies on Roger"
@robkooper to email Dan Lapine with specific instructions on dependencies required to install on Roger
* [x] copy technical specifications here (or create page in terraref/documentation)
* [x] Python + virtual env
Dan can contact @yanliu-chn for additional informaiton

required for #13

[2015-10-01 21:50] rachelshekar opened #5 "install and configure Clowder on Nebula OpenStack"
Create persistent VM that holds Clowder. This VM will contain all pieces, such as mongo, elasticsearch, rabbitmq and clowder. This will mount the ADS file system and use this to persist mongo, elasticsearch rabbitmq, and the blobs uploaded to clowder.

[2015-10-01 21:50] rachelshekar opened #6 "install and configure Clowder on Roger OpenStack"
Create persistent VM that holds Clowder. This VM will contain all pieces, such as mongo, elasticsearch, rabbitmq and clowder. This will mount the ADS file system and use this to persist mongo, elasticsearch rabbitmq, and the blobs uploaded to clowder.

[2015-10-01 22:03] rachelshekar opened #7 "develop and configure extractor for meta-data extraction and PlantCV pipeline"
The following pipelines (see [PlantCV documentation](http://plantcv.danforthcenter.org/pages/documentation/)) should be integrated as extractors in Clowder:

* [x] VIS (#30)
* [x] FLU
* [x] NIR

Each extractor should

* [x] extract metadata
* [x] register and publish derived data (images, data files)

Sample data from [Fahlgren 2015 are on Box](https://uofi.app.box.com/files/0/f/4678953842/Lemnate

[2015-10-02 18:42] dlebauer commented on #1
replaced by #4, #5, #6,

[2015-10-02 18:42] #1 closed

[2015-10-02 18:50] dlebauer commented on #6
@robkooper are these the three VMs that you were referring to (Clowder, PlantCV, PEcAn)?

[2015-10-02 18:55] dlebauer commented on #1
[![uploads/9939bfc7-e45a-44c2-9bdb-a0e7eccb80f3/blob](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F9939bfc7-e45a-44c2-9bdb-a0e7eccb80f3%2Fblob)](https://docs.google.com/presentation/d/1LaOI3ESTFwn7b8x5oWZcdOWBLsCh2v4F7yqgQ836etU/edit#slide=id.gbd0c2d9a9_0_1)

[2015-10-03 15:46] robkooper commented on #6
Updated list

[2015-10-08 16:45] dlebauer commented on #4
update:

* will install dependencies on one or more VMs
* will mirror on nebula (these will be separate for testing / system evaluation)

Next steps:

* will mount nebula VM on ADS
* NFS mount to Roger GPFS
  * JD needs VM ip

[2015-10-08 21:34] rachelshekar opened #8 "Containerize Clowder and Brown Dog into NDS"
This will make it easier to experiment with

[2015-10-08 21:37] rachelshekar opened #9 "Data management tools"
- [ ] Recommend service that creates unique IDs for data @David Raila
 - [ ] Choose service that creates unique IDs for data
 - [ ] Recommend data managements system tools @David Raila
 - [ ] Choose data managements system tools

[2015-10-08 21:39] #9 closed

[2015-10-09 13:54] dlebauer opened #10 "Write statement of work"
Write a document that includes definitions of

* [x] specific tasks and milestones for each group at NCSA
* [x] contributions expected by other groups within the program (DDPSC, MAC, KSU, WUSTL, Hudson Alpha)

(migrated from terraref/reference-data#4)

[2015-10-09 22:04] dlebauer opened #11 "Launch VM from Clowder with copy of selected data, PlantCV, and Jupyter interface from Clowder"
Clowder will be set interface is set up for extracting and browsing datasets,

Once a user selects a set of data, launch a docker container from Clowder interface that gives access to the data.

Demo will be done on Nebula, all Clowder dependencies on a single container

* Need to handle authentication, persistence of files.
* Support sharing code with others
  * Save notebook in Clowder?
  * Supp

[2015-10-12 16:36] robkooper commented on #11
See https://opensource.ncsa.illinois.edu/jira/browse/CATS-224

[2015-10-12 16:38] dlebauer opened #12 "Mockup workflow for demo"
* Upload data to clowder
* PlantCV runs
* view results
* launch shell with data attached (would be nice, can also show 'mockup') later, Jupyter

[2015-10-12 16:45] robkooper commented on #4
This should be those dependencies to be able to run plantcv on the HPC. The thought is for the extractor that executes plantcv as a job on roger.

[2015-10-13 14:16] dlebauer commented on #11
Google's Data Lab looks like a similar idea: Jupyter interface to large data https://cloud.google.com/datalab/

[2015-10-14 13:28] #8 closed

[2015-10-14 13:36] robkooper commented on #8
See https://opensource.ncsa.illinois.edu/bitbucket/projects/BD/repos/dockerfiles/browse specifically the clowder (DTS) and polyglot (DAP) folder.s

[2015-10-14 13:59] rachelshekar commented on #11
See https://github.com/terraref/computing-pipeline/issues/12 for description of what this shoud look like

If this can not be ready by Nov 6., produce a screenshot

[2015-10-14 14:01] rachelshekar opened #13 "Ensure that PlantCV runs in Clowder"
TODO:
* [x] commit code to Clowder or PlantCV repository
  * for PlantCV, I made a fork here: https://github.com/terraref/plantcv
  * [PlantCV extractor is in Clowder repo](http://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/browse)
* [x] Document end-user functionality
  * some documentation is in the extractor [README](http://opensource.ncsa.illinois.edu/bitbucke

[2015-10-14 14:01] rachelshekar opened #14 "Design interface"

[2015-10-14 14:06] rachelshekar opened #15 "Create end user how-to file"
Includes what Rob is writing about Clowder, which is aimed at the API protocols
Also should include uploading file and using data, for less technical audience

[2015-10-14 14:11] rachelshekar opened #16 "Check infrastructure capacity, transfer between MAC and UI/NCSA"
Find out how long it takes to transfer 3TB of data from UA. Can the infrastructure handle it?  Can the network handle it?

* this is for whole pipeline, needs to be evaluated against Roger, Nebula/ADS, campus cluster
* how long does it take from sources (UA, Danforth), how long does it take within NCSA?
* what is rate of data loss during transfer? Where / how much / how long to cache locally at AZ

[2015-10-14 14:12] rachelshekar opened #17 "Use ADS for storage in nebula"
This is blocked by #5. Once the VM is up and running we will mount ADS in the VM.

[2015-10-14 14:13] rachelshekar opened #18 "Determine who can capture and downsize data"

[2015-10-14 14:23] rachelshekar opened #19 "Identify method(s) of archiving and publishing data with DOI"
How can NDS incorporate what exists, and what else might be needed.

Agenda:

1. What does Clowder already have and what other features will it need?
2. What methods of archiving / identifying are appropriate for different data sub-sets and releases?
3. How to indicate conditions of reuse, credit, etc.?

Notes:

* assigning identifiers for each pieces for within the system (done by Clowder)
* DOIs

[2015-10-14 14:23] rachelshekar opened #20 "Recommend services that create unique IDs for data"
David Raila

[2015-10-14 14:24] rachelshekar opened #21 "check compression, write to disk speed, and if this can be parallelized"
what information does Dan need to determine what can be done in memory, what needs to be done on site, or should we ingest stream without local storage (could have data loss).

have spoken w. c zender about using NCO to process and compress in memory

[2015-10-14 14:24] rachelshekar opened #22 "look into feasibility of Amazon Glacier, Intel Expoint"

[2015-10-14 14:30] robkooper commented on #20
clowder will already create a unique ID for the data, there is also work done with SEAD datanet project to get the data published to a long term archive and be assigned a DOI.

[2015-10-14 14:31] robkooper commented on #17
I will mount ADS in the filesystem for clowder on nebula.

[2015-10-15 16:22] dlebauer commented on #5
* how can multiple internal users write to disk? three separate processes, ea. must write to disk
  * NFS: easier if matching ids

Users:
* ubuntu user
* elastic search
* mongo

[2015-10-15 16:27] #14 closed

[2015-10-15 16:48] rachelshekar commented on #20
see #19

[2015-10-15 16:48] #20 closed

[2015-10-15 16:53] dlebauer commented on #22
Amazon Glacier too expensive
Scott Wilkin will talk to Intel about potential interest

[2015-10-15 16:55] rachelshekar commented on #18
same as #21

[2015-10-15 16:55] #18 closed

[2015-10-15 17:00] dlebauer commented on #16
to be assigned to Dan Lapine

[2015-10-16 16:58] rachelshekar commented on #10
@dlebauer  - I've tried to start on this but an unsure of the role that everyone will play in the project.  Maybe we can meet to discuss?

https://uillinoisedu-my.sharepoint.com/personal/shekar_illinois_edu/_layouts/15/guestaccess.aspx?guestaccesstoken=ZViV5KKdbRUs%2fJRO8Fm1pluet3hS7SE9oZZZTXBmLX8%3d&docid=1cd5c66e2450f419db87a3fe91a7664fc

[2015-10-16 17:25] #22 closed

[2015-10-16 17:46] dlebauer opened #23 "Install empty BETYdb on Nebula Open Stack for TERRA project"
BETYdb is configured to be deployed and synced across many servers, and is used by distinct projects and research programs. The central database, betydb.org, is hosted at IGB (betydb.org; ebi-forecast.igb.illinois.edu).

I propose that we create a new instance of BETYdb for this project as a subdomain of terraref.ncsa.illinois.edu (on some server). This will distinguish it (and its contents and ap

[2015-10-16 17:47] dlebauer opened #24 "Install empty BETYdb instances for testing + different projects"
BETYdb is configured to be deployed and synced across many servers, and is used by distinct projects and research programs.

The central database, betydb.org, is hosted at IGB (betydb.org; ebi-forecast.igb.illinois.edu). Other databases are listed on the ['Distributed BETYdb'](https://github.com/PecanProject/bety/wiki/Distributed-BETYdb) wiki page. The method used to synchronize and update individ

[2015-10-16 17:48] dlebauer commented on #23
duplicate of #24

[2015-10-16 17:48] #23 closed

[2015-10-16 18:24] robkooper commented on #23
Any reason to start with empty database and pre-populate it with the data from the other sites (i.e. give it a new unique id)?

[2015-10-17 13:50] dlebauer commented on #23
We should have a unique id, and open to pushing data out.

Are you asking why not pull data from EBI, BU, BNL, UW, etc? The reason is
that most (99.99%) of the records are outside the scope of this project,
which will have a few species and sites, and I think it will be much easier
for users if all of the content is specific to our sensors, sites, and
species.

We can discuss next week.

Also, I a

[2015-10-19 15:47] rachelshekar commented on #10
The draft is here:
https://drive.google.com/file/d/0B0lCOAt29Y79dW5uTGFiMzVHWnc/view?usp=sharing

[2015-10-20 21:59] dlapine commented on #16
Are we doing based on real world measurements or starting with theoretical estimates using the known pathways? For real world tests, I'll need access to the resources at AZ

[2015-10-20 22:42] dlebauer commented on #16
@dlapine the goal is to make real-world measurements. I've sent an email to our collaborators at AZ to request access.

[2015-10-22 04:08] dlebauer commented on #2
list of tools, formats and conventions:

* https://github.com/terraref/documentation/blob/master/existing_data_standards.md
* https://github.com/terraref/documentation/blob/master/existing_software.md

Next step, review with group and revise / update

[2015-10-22 16:15] rachelshekar commented on #16
Start with theroretical
They have I2.  100 GB - unsure if they will use this entire bandwith for this project.
Local equipment is more important

[2015-10-22 16:15] rachelshekar commented on #16
It will take ~1 hour to move 3TB

[2015-10-22 16:18] dlapine commented on #16
One hour is a good estimate to the first order of magnitude. Speeds to Nebula or ICC may be slower. Speeds at the Az endpoint may be slower

[2015-10-22 16:29] rachelshekar commented on #17
- [ ] mount
- [ ] test

[2015-10-22 16:32] rachelshekar commented on #6
after #17

[2015-10-22 16:35] rachelshekar opened #25 "Give Max access to Roger"

[2015-10-22 16:43] rachelshekar commented on #13
- Need to be able to reproduce PlantCV worklflow from tutorial and embed on Clowder
- Use perimeters from tutorial. These can be changed using Jupiter later.

Plant CV perimeter settings work for the Danforth system only.  We will focus on this for now.

[2015-10-22 16:46] rachelshekar commented on #13
Ensure that any two steps work - like object shape attributes (height)

[2015-10-22 16:46] dlapine commented on #25
Done, will do followup as necessary

[2015-10-23 04:46] dlebauer commented on #13
1st step is mask. Second is analysis

[2015-10-29 16:12] #25 closed

[2015-10-29 16:29] dlebauer commented on #11
sample data and notes (README) are here: https://uofi.box.com/lemnatec-danforth-data

[2015-10-29 18:00] dlebauer commented on #12
Drafts:

![image](https://cloud.githubusercontent.com/assets/464871/10827435/f5d383a2-7e3c-11e5-927e-43d6fa966775.png)

![image](https://cloud.githubusercontent.com/assets/464871/10827426/e1d1df0c-7e3c-11e5-8b49-9e9e61609da9.png)

[2015-10-29 18:01] dlebauer commented on #11
@davidraila I've put the draft mockup and data flow in #12 and will flush these out per discussion today.

[2015-10-31 17:54] dlebauer commented on #12
I've placed a mockup for the demo as a [presentation on google drive](https://docs.google.com/presentation/d/1LMYKaG61Tj1bREamhy2Mn-OinHza-Z8ewCVJenTj3BM/edit?usp=sharing); anyone should be able to edit

@terraref/developers please comment / revise

[2015-11-02 14:57] max-zilla commented on #12
Here is [my own mockup of the overall workflow](https://drive.google.com/file/d/0B42lleyRvKnlZGJFNENRRjctd2M/view?usp=sharing) I created to help my own understanding after our meeting last week. This might not be perfect but perhaps it could be a useful diagram for the presentation.

The 3rd slide has a few questions that we don't necessarily need to answer before Friday.

[2015-11-02 15:44] yanliu-chn commented on #12
I'd like to clarify a few things:
- The Jupyter component we discussed last week is a technical piece we will need time to develop. It is different from the Jupyter demo defined in the demo workflow.
- That being said, the significance of the Jupyter demo, from implementation point of view, is merely installing a Jupyter docker along with Clowder on Nebula and share a file system.
- The demo workf

[2015-11-02 19:31] dlebauer commented on #12
@max-zilla I've combined your slides with Yan's earlier [architecture draft here](https://docs.google.com/presentation/d/1LaOI3ESTFwn7b8x5oWZcdOWBLsCh2v4F7yqgQ836etU/edit?usp=sharing) to keep the ideas in one place.

@yanliu-chn you are correct about the minimum requirement for the demo. It will also be good to demonstrate pushing via the API.

[2015-11-05 14:51] robkooper commented on #17
Tested both NFS and SAMBA. Problem is with the user permissions on the files. Each application needs it's own user to be able to write. Will try and use SAMBA to mount partition multiple times for each application.

[2015-11-05 14:52] robkooper opened #26 "Use Roger GRIDFS for storage in Roger Clowder"
This will use the roger filesystem mounted in the clowder VM to store all data that we want to persist and grow.

[2015-11-05 14:54] robkooper commented on #11
Initial goal is to launch a single VM, once this works we can work towards adding to Clowder the ability to select a VM and launch the VM.

[2015-11-05 14:55] robkooper opened #27 "Extract lat/lon from metadata"
The JSON associated with the files uploaded will contain the lat/lon of the image. This information should be stored in such a way (GEOJSON + LD) that it can be rendered inside clowder.

[2015-11-05 20:47] max-zilla commented on #3
see this issue for some discussion of GeoJSONas a potential delivery format
https://github.com/terraref/reference-data/issues/2

Some key aspects to this:
* How should the metadata be sent with an image?
  * Each file.img has a file.json sent along with it, and Clowder extractors pull metadata from the .json file and associate it with the .img file
  * Metadata is sent in a followup API call after

[2015-11-05 23:51] doctorroboto commented on #3
How is the LemnaTec system doing this, or rather, what's the preferred
approach? Do we want to adopt the same strategy, or push them in a certain
direction?

On Thu, Nov 5, 2015 at 3:47 PM, Max Burnette <notifications@github.com>
wrote:

[2015-11-09 15:35] yanliu-chn commented on #13
plantcv extractor coding has been done. will create three issues this week to get it into the prototype framework:
- merge source code to dockerfile and create extractors-plantcv
- integrate in nebula
- test sample input images

[2015-11-09 15:36] yanliu-chn opened #28 "plantcv extractor code integration"
Need Rob's help to get dockerfile part and extractor source code into the two code repos on opensource.ncsa.illinois.edu

[2015-11-09 15:45] yanliu-chn opened #29 "plantcv image_analysis script testing"
In plantcv source code, I tested the image_analysis scripts to handle three types of input images: NIR_SV, VIS_SV, VIS_TV. However, when i randomly pick three images from the sample data in box, one from each type, only VIS_SV worked with tweaking. The other two types crashed opencv.

David, could you help test these scripts (under plantcv/scripts/image_analysis/) to see how robust these scripts a

[2015-11-09 15:46] yanliu-chn opened #30 "Integrate plantcv extractor in Clowder"
Need Rob's help to get nebular Clowder info and test plantcv extractor deployed on ROGER.

ROGER plantcv instance: 141.142.168.55

[2015-11-09 15:54] dlebauer commented on #29
@yanliu-chn Did you select random images from multiple folders, or a random folder? As I understand it, the lowest level folder is the atomic unit so there would be no reason to combine random images from multiple folders into a single pipeline.

@nfahlgren should be able to clarify. Please paste the code that you used that caused the above error.

[2015-11-09 16:01] yanliu-chn commented on #29
I did not choose a folder. I tested with one image:
`
~/plantcv/scripts/image_analysis/vis_tv/vis_tv_z3000_L1.py -i ./VIS_TV_z3000_329934.jpg -o output
`
That image is randomly chosen.

If folder is the atomic unit, how do you expect to use Clowder to upload a folder? As I understand it, Clowder works at file level for uploading. So uploading the folder as a zipped file? This is a design issue and

[2015-11-09 16:05] yanliu-chn commented on #29
Maybe I didn't give correct arguments for those images. This is where I need help with. What should be the arguments I give to these scripts? image_analysis.pl accepts a lot of command line arguments. But those analysis scripts only take one input image and an output dir as argument. image_analysis.pl just sorts the image types and call the correct script.

[2015-11-09 18:01] yanliu-chn commented on #30
http://141.142.208.144/clowder/

You can create a username/password, either me or david L will need to give the OK.

If you want to test extractor:
amqp://guest.guest@141.142.208.144/%2F should be possible with exchange == clowder

To see rabbitmq you can use http://141.142.208.144:15672/ (guest/guest)

[2015-11-09 18:07] nfahlgren commented on #29
@yanliu-chn you used the correct arguments, it looks to me like the images that fail cannot be opened by OpenCV because they are either not 8-bit or 32-bit, or they have something other than 1 (gray-scale), 3 (RGB) or 4 (RGB+alpha) channels. Maybe the LemnaTec NIR images are an unusual format?

[2015-11-09 18:10] yanliu-chn commented on #29
I used VIS_TV script and sample image. But NIR images also failed. Only VIS_SV images worked.

[2015-11-09 20:01] dlebauer commented on #29
I downloaded the jpeg versions of these files rather than png since the
jpgs are smaller.

Would that cause a problem?

On Mon, Nov 9, 2015 at 12:10 PM, Yan Liu <notifications@github.com> wrote:

[2015-11-09 22:55] yanliu-chn commented on #30
plantcv extractor is working with nebula Clowder now:

http://141.142.208.144/clowder/files/56411ff5e4b0a81e04e39739

[2015-11-09 23:00] yanliu-chn commented on #29
JPGs worked for VIS_SV.

[2015-11-10 02:07] dlebauer commented on #30
Looks great! @nfahlgren what do you think?

[2015-11-10 17:46] dlebauer commented on #13
Here is an example of plantcv running in Clowder: http://141.142.208.144/clowder/files/564214dce4b086fa6db9104f

TODO:
* [ ] commit code to Clowder or PlantCV repository (for PlantCV, I made a fork here: https://github.com/terraref/plantcv)
* [ ] Document end-user functionality

[2015-11-10 18:53] max-zilla commented on #15
Here are two attachments to serve as an example of uploading a file via API. **Both are .txt so I can attach them here, but the extensions should actually be .py and .sh respectively.**

**Both are configured to connect to Nebula Clowder instance, but valid username and password should be provided. Directory and filename will obviously need to be adjusted.**

[TERRAClowderUploadPython.txt](https:/

[2015-11-10 18:57] max-zilla commented on #3
I uploaded 2 sample files to #15 that illustrate API POST calls using Python and cURL. Not documentation yet, but it's something.

[2015-11-10 19:53] dlebauer commented on #3
@doctorroboto the Lemnatec Indoor system currently stores metadata in a PostgreSQL database as well as folder and image names.

A metadata format for the Lemnatec Field system has been proposed and iterated over in terraref/reference-data#2 but has not yet been fully flushed out and is currently waiting on feedback and revisions from Lemnatec.

[2015-11-10 19:58] dlebauer commented on #15
@max-zilla Please add these to a /scripts/ directory in this repository. Even if this is just a first draft, it will provide versioning as well as language-aware syntax highlighting (if given .py / .sh extensions).

[2015-11-10 20:03] max-zilla commented on #15
Just pushed to the repo with the correct file extensions.

[2015-11-11 15:31] yanliu-chn commented on #29
VIS_TV images works now after adding the `-m masks/vis_tv/**maskfile.png**` in extractor.

[2015-11-11 15:31] #30 closed

[2015-11-11 18:30] #12 closed

[2015-11-11 18:32] dlebauer commented on #24
We can start with two instances of BETYdb: one for the TERRA REF team and the other for TERRA MEPP.

[2015-11-11 19:00] nfahlgren commented on #30
Looks great to me. Would it eventually also display the numerical data extracted from the image?

[2015-11-11 19:07] dlebauer opened #31 "Handle numerical data generated by PlantCV pipeline"
* [x] add normalization / correction step to plantcv scripts @nfahlgren
  * generate plant-level phenotypes
  * posted to danforthcenter/plantcv#19
* [ ] Display in Clowder interface @yanliu-chn
* [ ] Insert traits into BETYdb @gsrohde

[2015-11-11 19:08] dlebauer commented on #30
Yes ... #31; feel free to elaborate there ...

[2015-11-11 19:11] yanliu-chn commented on #31
the image analysis scripts do output quite a bit of text info that looks like numerical data. Is that what you are talking about? I can piggyback that info as part of the metadata.

should I do that before or after David's demo? i don't want to interrupt his demo when I debug.

[2015-11-11 19:12] dlebauer commented on #31
It is not sufficiently urgent to risk breaking the demo. Having a working Jupyter analog would be more valuable.

[2015-11-11 19:15] yanliu-chn commented on #31
Here is an example of vis_tv output:
`
HEADER_SHAPES	area	hull-area	solidity	perimeter	width	height	longest_axis	center-of-mass-x	center-of-mass-y	hull_vertices	in_bounds	ellipse_center_x	ellipse_center_y	ellipse_major_axis	ellipse_minor_axis	ellipse_angle	ellipse_eccentricity
SHAPES_DATA	181008.0	1058060.0	0.171075364346	11704.7172049	1887	1109	1863	828.234149872	866.411694511	19	False	926.676330

[2015-11-11 19:19] nfahlgren commented on #31
Yep, that's the sort of output I mean. This is the raw output from an individual analysis script, which I think is what is integrated into the demo. Alternatively we have a script that parallelizes the processing of individual images and aggregates/reformats the results, but that might not work in the computing-pipeline framework?

[2015-11-11 19:23] yanliu-chn commented on #31
If the script you mentioned works in parallel computing environment, we will take it and deploy on our supercomputers. I believe this is part of the pipeline framework. The current extractor does not work on cluster yet. But it is a work ongoing.

could you share a pointer to that script?

[2015-11-11 19:28] nfahlgren commented on #31
It's currently here: plantcv/scripts/dev/image_analysis.py

We will be working on cleaning up the PlantCV repository soon to make everything clearer and less cluttered. Right now this script only uses multiprocessing but I plan on adding support for batching systems in the near future. We can add support for whatever methods are useful for the system at UIUC if that's helpful.

[2015-11-11 19:33] yanliu-chn commented on #31
ah, I see. for batch processing images, we have quite a few options to achieve automation and max performance on cluster nodes. using your script is one option too. the decision depends on the data pipeline design, e.g., the granularity of image batches, how often to process them, data movement b/w cluster and data storage.

we can have a discussion as next step for these design decisions.

[2015-11-11 20:49] yanliu-chn opened #32 "jupyterhub on plantcv extractor server"
create terra jupyter server on ROGER openstack along with the plantcv extractor to demo interactive analysis on uploaded img files.

[2015-11-11 20:50] yanliu-chn commented on #32
done.

please refer to http://141.142.168.55/user/terra/notebooks/plantcv-bash-yanliu.ipynb for demo.

[2015-11-11 20:50] #32 closed

[2015-11-11 20:52] #29 closed

[2015-11-12 19:56] dlebauer commented on #24
@robkooper could we start with PEcAn VMs for this? A third group has expressed interest, and I am realizing that this is a priority. They would need to be treated as production servers.

[2015-11-17 19:29] dlebauer opened #33 "Insert derived traits and meta-data from PlantCV pipeline into BETYdb"
After phenotypes are extracted from PlantCV pipeline, plant-level traits should be inserted into BETYdb, Traits described in [Fahlgren et al 2015](https://github.com/terraref/computing-pipeline/files/37098/fahlgren_et_al_2015.pdf).

## Meta-data:

* genotype --> cultivars table; traits.cultivar_id
* date / time --> traits.date traits.time
* site --> Danforth Lemnatec System
* method: PlantCV (sens

[2015-11-18 04:05] dlebauer commented on #24
I've reserved a block of database host ids from 10-19 for TERRA-related projects (primarily for ease of keeping track).

(https://github.com/PecanProject/bety/wiki/Distributed-BETYdb)

|Institution | server | url | id | allocated primary key values|
|---|---|---|---|---|
| TERRA test |  | | 10 | 10,000,000,001-11,000,000,000|
| TERRA Ref Danforth |  | | 11 | 11,000,000,001-12,000,000,000|
| TERRA

[2015-11-18 16:04] robkooper commented on #24
I will set them up differently from the pecan vm's. I want a lot more security focus on these servers than a standard vm.

[2015-11-18 23:28] dlebauer commented on #10
@rachelshekar Thank you for preparing the initial draft. My changes were minor. The next step is to get feedback from developers and managers of each group. We can put a review on the agenda for Thursday Dec. 3 (@robkooper, @yanliu-chn, @max-zilla, @dlapine, @mchenry, others can review / comment ahead of that date).

Note that the non NCSA team contributions are put there for reference and context

[2015-11-19 17:09] dlebauer commented on #17
what would work across the variety of storage options that we have? Roger, Campus Cluster, ADS, Blue Waters Lustre (which will be archived on tape), Nebula

[2015-11-19 17:14] dlebauer opened #34 "Discuss Blue Waters data management, archiving"
Introduce project to Jim Glasgow and discuss limits, scenarios for accessing HDFS via Lustre on Blue Waters.

Also (David) discuss with Patrick Mulrooney

Waiting on feedback from Jay about allocations.

[2015-11-19 17:43] dlebauer commented on #28
@yanliu-chn does this duplicate #10?

[2015-11-19 17:45] dlebauer commented on #27
Will add to Clowder as extractor: http://opensource.ncsa.illinois.edu/bitbucket/projects/CATS; #3 depends on this issue

[2015-11-19 17:45] dlebauer commented on #16
We will have a meeting Dec 4 with AZ team

[2015-11-19 18:01] yanliu-chn commented on #28
I don't see any overlapping. #10 is to define statement of work.

[2015-11-19 18:10] dlebauer commented on #24
@ankmichielsen can we ask the IGB CNRG group to host the database instance for TERRA-MEPP?

[2015-11-19 20:01] max-zilla commented on #27
There are two components that could be relevant to this:

I augmented **Clowder image extractor** to extract metadata from EXIF data embedded in images as well - [it is currently committed here](http://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-image/browse/metadata). This will automatically add any lat/lon fields to image metadata as part of the extraction, which could

[2015-11-19 20:08] dlebauer commented on #28
@yanliu-chn sorry wrong repository. I meant - is this a duplicate of #13

[2015-11-19 20:14] max-zilla commented on #3
A rough outline and an expansion on some of the questions raised above has been added here: https://github.com/terraref/computing-pipeline/blob/master/CLOWDER%20GUIDE.md

I'll be augmenting this document as we continue discussions.

[2015-11-19 20:32] ankmichielsen commented on #24
Not sure what you mean by hosting the database. Is this using biocluster?

[2015-11-19 20:41] dlebauer commented on #24
I am not sure which server they will suggest - ebi-forecast would suffice but is nearing its end of life. They have a dedicated web server that may work. I can contact them, but wanted to check with you first.

[2015-11-19 20:57] gsrohde commented on #24
For what it's worth, ebi-forecast is running CentOS 5, which is kind of oldish, a fact that complicated installing some things (Capybara-webkit and PostGIS-related packages for Ruby-on-Rails come to mind).  I'm assuming (hoping) that said dedicated server is running something more up-to-date.  Of course, a new Bety installation on ebi-forecast wouldn't require new installs of the supporting softwa

[2015-11-20 20:15] dlebauer commented on #24
Per discussion with Rob and David Slater, we've decided to start by installing an instance of BETYdb for data management in Steve Long's ARPA-E TERRA project on ebi-forecast (ultimately they plan to deploy OpenStack here, at which point we will migrate this).

David Slater will be the database / website administrator, so please help him get this up and running.

* The MEPP database will be deploye

[2015-11-21 17:05] dlebauer commented on #24
@gsrohde please also set up terra-ref (6) and terra-test (7) on pecandev. Please coordinate with David Slater on this so that he can efficiently deploy the MEPP instance described above.

[2015-11-23 14:51] robkooper commented on #24
@dlebauer so no longer needed to set these up on openstack?

[2015-11-23 16:24] dlebauer commented on #24
No, the goal would be to migrate to open stack when it is available. The
terra MEPP database will stay at IGB and migrate to their opens tack
instance once it is deployed.

If we can put production databases for terra ref on openstack now, that
would be great.

On Monday, November 23, 2015, Rob Kooper <notifications@github.com> wrote:

[2015-11-24 17:30] gsrohde commented on #24
@dlebauer @robkooper

I set up terra-ref on pecandev.  I have yet to do terra-test.

I wrote what I think is up-to-date documentation as I went along and put it on Gitbook at https://dlebauer.gitbooks.io/betydb-documentation/content/installing_a_production_copy_of_betydb.html.  (These instructions assume all of the supporting software is installed, as is the case on pecandev and ebi-forecast.)

To

[2015-11-25 17:14] robkooper commented on #24
The most important step is missing which is what the load.bety.sh takes care of is to set the initial index for all newly genereted id's.

[2015-11-25 22:53] gsrohde commented on #24
So if I use load.bety.sh to create the database but I want one with empty tables, do I have to manually truncate them, or is there a script option for creating a database copy with all the tables empty (except for schema_migrations, which needs to be fully populated)?  -r6 didn't work.

[2015-11-25 22:56] robkooper commented on #24
I think you should be able to use load.bety.sh -f YES -m 6 after you created it

On Nov 25, 2015 2:53 PM, Scott Rohde <notifications@github.com> wrote:

So if I use load.bety.sh to create the database but I want one with empty tables, do I have to manually truncate them, or is there a script option for creating a database copy with all the tables empty (except for schema_migrations, which needs to

[2015-11-25 23:23] gsrohde commented on #24
So you mean first run load.bety.sh with the -c option but without the -f and -m options and then re-run it as above?  I'm still seeing data in the tables.

[2015-11-27 00:12] robkooper commented on #24
I just updated [load.bety.sh](https://github.com/PecanProject/pecan/blob/master/scripts/load.bety.sh) and added a new option to create (almost) empty database. You can use the following command to create an empty database: `./scripts/load.bety.sh -c YES -e YES -m 6 -r 0`.

This will copy only the following tables: formats machines mimetypes users

[2015-11-27 16:32] gsrohde commented on #24
+schema_migrations.

This works well.

One additional request: can we have the guestuser user created (or copied) by default?

[2015-11-27 17:37] gsrohde commented on #24
Is there any reason to copy the users table?  None of the data in the other copied tables refers to it, so I don't see the use of it.

Also, is "-m 6" just an example?  I assume (from reading https://github.com/PecanProject/bety/wiki/Distributed-BETYdb) that this should only be used for the copy that will live at terraref.ncsa.illinois.edu/bety and that other instances should use different numbers

[2015-11-27 20:44] robkooper commented on #24
users table is copied since all rows in all tables should have a created_by and updated_by row (I think). If they don't have it, I think it would be good to have it.

The -m 6 is an example and should be set to the appropriate host number, if not registered 99 (VM) is a good value (and is the default).

[2015-11-27 21:12] robkooper commented on #24
Sure, just add -u YES to the options (see -h for help)

[2015-11-28 12:56] gsrohde commented on #24
My point was that for publicly-available non-test deployments, we want the guestuser account to work, but we probably don't want an admin account carya/illinois as well.

[2015-11-29 19:54] robkooper commented on #24
Use the brand new option -g

[2015-11-30 16:16] gsrohde commented on #24
@robkooper @dlebauer

RE the 4th and 5th comments preceding this one: I perhaps remember we added a created_by and/or updated_by column to one of the tables, but nearly all tables don't have them.
So I still question the usefulness of copying the users table.  I'm not in a position to evaluate the usefulness of copying the formats, machines, and mimetypes tables, but I assume you have some good re

[2015-11-30 17:03] robkooper commented on #24
Because when we sync those databases with the current ones (which is what we want to be able to do) the constraints will kick in and prevent us from syncing if we duplicate the names of mimeformats etc.

[2015-11-30 17:04] dslater82 commented on #24
From https://dlebauer.gitbooks.io/betydb-documentation/content/installing_a_production_copy_of_betydb.html, I am not finding the createdb script anywhere.  Is it suppose to be in the /script folder?  Or is that step needed, according to https://github.com/PecanProject/bety/wiki/Installing-the-BetyDB-Rails-Application, you do not need to run createdb.  Does the update-betydb.sh create the database

[2015-11-30 17:08] dlebauer commented on #24
@dslater82 `createdb` is a psql command documented here: http://www.postgresql.org/docs/9.1/static/app-createdb.html

[2015-11-30 17:24] gsrohde commented on #24
@dslater82 The -e option is new: It makes a nearly-empty database copy.  Try deleting load.bety.sh and then get a new copy by running ./update-bety.sh without options.  (I should really automate this somehow.)

[2015-11-30 17:27] robkooper commented on #24
Also don't use 6, but use 0: `./load.bety.sh -c -e -m 8 -r 0 -g -d bety-mepp`

[2015-11-30 19:13] dslater82 commented on #24
I have the new site up at https://ebi-forecast.igb.illinois.edu/bety-mepp/.  A few things that should be added to the documentation.

mkdir /usr/local/bety-mepp/log
chown apache /usr/local/bety-mepp/log
chown apache /usr/local/bety-mepp/public/javascripts/cache
chown apache /usr/local/bety-mepp/tmp

The application wouldn't start without the cache folder permissions set correctly.  Having the log

[2015-11-30 19:14] dslater82 commented on #24
Also, the apache config is below.  This is different than what https://dlebauer.gitbooks.io/betydb-documentation/content/installing_a_production_copy_of_betydb.html has.

RackBaseURI /bety-mepp
        <Directory /usr/local/bety-mepp/public>
                Options FollowSymLinks
                AllowOverride None
                Order allow,deny
                Allow from all
        </Directory>

[2015-12-01 05:21] gsrohde commented on #24
@dslater82 Regarding the need for making the log directory and chowning the log, cache, and tmp directories: The log directory would have been created automatically I think except that the apache user didn't have permission to do this.

I wrote the instructions under the assumption that the commands would be run as an ordinary user, not as root.  I mentioned this in footnote 1, but I guess I shoul

[2015-12-03 16:33] dlebauer commented on #34
@rachelshekar could you please coordinate a meeting in early 2016? @dlapine, is there anyone else who should attend?

[2015-12-03 17:14] rachelshekar commented on #13
* [ ] pull code

[2015-12-03 17:24] dlebauer opened #35 "Install PlantCV extractor in Nebula; improve documentation"
Need to review documentation from #28, ensure that it works and that it is accessible through / linked from terraref/documentation repository

[2015-12-03 17:38] #7 closed

[2015-12-03 17:44] dlebauer opened #36 "Define meta-data pipeline for PlantCV, not embedded in filename"
Ideally this will be embedded in meta-data uploaded with images

@nfahlgren @max-zilla will discuss

meta-data will be provided at time of upload

[2015-12-03 17:48] dlebauer commented on #10
@rachelshekar please forward link to folk and PMs and PIs

[2015-12-03 17:55] #5 closed

[2015-12-03 20:28] dlebauer commented on #13
@robkooper I think the remaining task before closing this issue is to merge the pull request for the PlantCV docker file

[2015-12-04 17:29] dlebauer opened #37 "Implement genomics pipeline"
## Overview

* TERRA Reference team coordinate implementation of a basic genome seq pipeline (e.g. Process Reads —> Map & Assemble Reads —> Call Variants —> Annotate Variants) described in terraref/reference-data#19 and summarized in fig. below
* Most of our 400 lines will be resequenced, but ~40 lines will be sequenced for de novo assembly, so the pipeline(s) will need to accommodate both of thes

[2015-12-04 17:40] max-zilla commented on #3
Started discussions with @nfahlgren via email:

The script I prepared is stored here: https://github.com/terraref/computing-pipeline/blob/master/scripts/TERRAClowderUploadPython.py

The python version is the one to look at for now. There’s also a bash script but it needs to be updated – the API recently changed so you can’t POST a file directly without creating a destination dataset first, so I’ll

[2015-12-04 18:25] nfahlgren commented on #36
I have some code I can reuse for this in the Clowder uploader we build for the Danforth Center data stream. Below are the metadata terms and formats I have proposed using for uploads to iPlant Data Store and BisQue. Happy to rename/reformat, add/subtract as necessary as the data standards committee develops a framework. Examples below are from our published Setaria experiment.

**snapshot_id** (in

[2015-12-05 02:46] dlebauer opened #38 "Define pipeline for converting bin files to NetCDF/HDF5 data products and transferring from MAC to NCSA"
## Description

Goal is to convert, compress, and efficiently write data from imaging spectrometers to NetCDF / HDF5 data products. The data product format is specified in terraref/reference-data#14 and I posted a longer discussion of related issues, including data volume, transfer, and bottlenecks are described on the [terraref website](http://terraref.ncsa.illinois.edu/articles/spectral-imaging-

[2015-12-08 16:49] robalba1 commented on #37
Sample datasets:  You might want to use tomato or rice, instead of maize, because these two genomes are much closer to the size of the sorghum genome.  The maize genome is almost three times the size of the sorghum genome.  I would suggest tomato, which is a bit larger at 950 Mb.  The benefit of using rice, which is a bit smaller than the sorghum genome, is that it is also a monocot like sorghum.

[2015-12-08 17:01] robalba1 commented on #37
Data sizes:  200 sorghum genomes during the first six months of Year 1 and 200 genomes during the first six months of Year 2.  Most will be resequenced, so 20-30x coverage.  ~40 will be de novo sequenced, which will be more like 75-100x coverage.  We can probably get 50x-70x coverage of a sorghum genome per lane (lots of assumptions here, so this is a crude estimate).  For the re-sequencing, we wi

[2015-12-09 04:40] dlebauer opened #39 "Document data pipeline architecture"
This will require input from Lemnatec, MAC, and NCSA

Summarize data flow, from sensors to NCSA. Can be proposed. Need to know what computer/networking hardware and what it will be doing.

* Start with outline of based on Dec 4 2015 teleconference
* summarize email thread specify cache server (what we ordered and why)
* get Lemnatec to document resources that they will provide (define interface wi

[2015-12-09 15:41] dlebauer commented on #24
@robkooper where should the production instances of these go? On Nebula? Roger?

@gsrohde @max-zilla could you please work together to migrate these instances from the pecandev server?

[2015-12-09 16:22] robkooper commented on #24
in process of creating an instance on nebula right now to host these.

[2015-12-09 16:41] gsrohde commented on #24
@robkooper If you're taking this over, assign it to yourself.

[2015-12-09 16:59] gsrohde commented on #24
Also, @dlebauer, do we need the instances that are on pecandev any more?  I'm assuming there is nothing we need to keep from them.

[2015-12-09 17:02] robkooper commented on #24
not until it is copied and up and running on nebula

[2015-12-10 14:43] egazave commented on #37
I guess we can discuss during the next conference call but I think we don't need 75-100x per genome. If we target 40x (which is already considered high coverage) for the de novo sequenced lines, we are good.

[2015-12-10 15:20] egazave commented on #37
Computer resources:
![computer_resources](https://cloud.githubusercontent.com/assets/11720776/11719204/a241a546-9f27-11e5-8985-a2427bb664d2.jpg)

[2015-12-10 15:24] egazave commented on #37
All the software in the overview are open sources. They all work on unix systems. Installation is very straightforward. I don't think any requires special libraries and dependencies additional to what come native on most systems.

[2015-12-10 15:42] egazave commented on #37
Pipeline implementation: Again, we can discuss during the conference call, but I think we don't want to re-use existing pipelines as is. The set of parameter values to use for read alignment depends on the genome characteristics of each species. Same for SNP and genotype calling, the best calling is achieved differently for different species (expected diversity), and even within a species it varie

[2015-12-10 15:51] nfahlgren commented on #37
Even if settings for individual programs need to change, we can still set up a complete pipeline with test data (from another species like Rob suggested). The pipeline aspect is just how programs are linked together so that raw data can be input on one end and results can be output on the other. The pipeline can of course be tweaked later when we have sorghum data.

[2015-12-10 16:53] dlebauer commented on #37
@robalba1 can you point to any example data? Is there any Sorghum data that we can start with?

[2015-12-10 17:04] #10 closed

[2015-12-10 17:10] dlebauer opened #40 "Submit PlantCV extractors to Roger queue"
Launch job that launches an extractor, this can then start processing images as it comes out. qsub launches extractor on a node, will run until job. So any image that comes in goes to that node.

* [x] setup extractor on Roger node
* [x] Demonstrate with Fahlgren et al sample data sets;
* [x] profile pipeline to get first estimate of computing resources that will be required.

(in the future, sand

[2015-12-10 17:13] #4 closed

[2015-12-10 17:13] dlebauer commented on #4
#40 to put on HPC

[2015-12-10 17:31] dlebauer commented on #36
Need to figure out how data will go to BETYdb.

either extract from images or have Noah populate BETYdb with experimental meta-data. Need to also look at ICASA meta-data formats so that we can support those.

Here are some ideas for metadata mapping to BETYdb:

plant_barcode, species, genotype, --> unique identifier / natural key

plant_barcode --> entities
treatment --> treatment, managements
exp

[2015-12-10 17:33] dlebauer commented on #31
the normalization/calibration step will be integrated into the plantcv pipeline by danforthcenter/plantcv#19

[2015-12-10 17:44] egazave commented on #37
Can we download reads from SequenceReadArchive (SRA) in NCBI? There are some Sorghum, whole genome sequencing with paired-end Illumina HiSeq2000 deposited. For example, http://www.ncbi.nlm.nih.gov/sra/SRX974517%5Baccn%5D

[2015-12-10 17:59] jdmaloney commented on #16
PerfSonar tests between UA and NCSA show up to 6Gbps of bandwidth between the two sites. Testing with MAC will have to wait until 1Gbps fiber is in place, ETA mid January 2016.  The 1Gbps link will be the bottleneck.  If we can saturate it, a 5TB data transfer will take approximate 12.5 hours.

[2015-12-10 18:13] #13 closed

[2015-12-10 21:01] rachelshekar commented on #34
@jdmaloney should anyone be added?
@dlebauer - can you confirm that I should invite Jim Glasgow, JD Maloney, Patrick Mulrooney and you?

[2015-12-10 21:06] dlebauer commented on #34
I'll discuss with Patrick over break, and see if he is interested in participating. Has Jay gotten the letter from Ed specifying NCSA's contributions and the resources we may need? I don't know that it is worth having the conversation without a more concrete statement of the resources that our project will have.

[2015-12-11 23:08] dlebauer opened #41 "Using CoGe for genomics pipeline"
CoGe is a genomics pipeline developed by @mbomhoff and @elyons.

Following the Dec 11 2015 standards committee meeting, CoGe can provide the pipeline defined in terraref/reference-data#19 as well as a web interface and REST API.

There is an instance at U Arizona (https://genomevolution.org/coge/) hosted by Eric Lyons that is available for researchers to use. If prudent we can create VM / docker f

[2015-12-13 16:16] robkooper commented on #3
Should also look at [pyClowder](https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder/browse) since this hides some of the complexities of talking to clowder behind a python api.

[2015-12-15 20:45] max-zilla commented on #36
I've started to path out some pseudo-queries to push these data into BETYdb. Here's an Excel file I created based on the images in snapshot42548 of the sample-data:
[sample_metadata.xlsx](https://github.com/terraref/computing-pipeline/files/63154/sample_metadata.xlsx)

I'm trying to sort not only what queries we'll need, but the order to execute them, and which (if any) should be done by Danforth

[2015-12-15 20:53] max-zilla commented on #36
An example of best practices - the only constraint on **treatments** table is that ID, name and definition are not null, and ID will be automatically assigned if not provided. However, it seems plausible that two different experiments could use two different treatments, but want to give them the same name.

In this case, checking for an existing ID doesn't really make much sense.
* We could check

[2015-12-15 22:10] gsrohde commented on #36
@max-zilla I may have sent you these before, but here's some documentation we have on contraints:
https://docs.google.com/spreadsheets/d/1fJgaOSR0egq5azYPCP0VRIWw1AazND0OCduyjONH9Wk/edit?pli=1#gid=956483089
https://www.overleaf.com/2086241dwjyrd#/5297403/
Many of these constraints haven't been implemented, and some may have changed.

Also, some information about the BETY database semantics can be

[2015-12-16 15:29] robkooper commented on #36
I think we should not be using SQL statements for this. We should be using the rest endpoints provided by BETY and if the right ones don't exist add them. We can not guarantee that the extractor has access to the database, most likely it will not.

[2015-12-16 16:27] max-zilla commented on #36
@gsrohde is it correct that currently the API only supports search, not data entry? I see information about API queries in the [Data Access](https://www.authorea.com/users/5574/articles/7062/_show_article#2-landing-welcome) page, but no mention in the [Data Entry Workflow](https://www.authorea.com/users/5574/articles/6800/_show_article) article.

I also took a look at [lib\simple_search.rb](https:

[2015-12-16 16:36] gsrohde commented on #36
@max-zilla As far as I know, the API currently only supports searching.

Re Rob's remark: It seems to me it would be OK to think in terms of SQL statements for now until we firm up exactly what we want.  At that point, we could add the application interfaces we need to do what we need without opening up full SQL access.

The code in `simple_search.rb` is a bit convoluted and ugly, and I've often t

[2015-12-16 16:44] dlebauer commented on #36
@gsrohde how can we document the API? Is there something like swagger (what
Clowder uses) for Rails?
On Wed, Dec 16, 2015 at 8:38 AM Scott Rohde <notifications@github.com>
wrote:

[2015-12-16 16:50] robkooper commented on #36
One other thing to think about is if we want to separate the API from the web part. In clowder we have a special subset called api that contains all the api calls. Here is a nice article:
https://labs.kollegorna.se/blog/2015/04/build-an-api-now/

[2015-12-16 16:53] gsrohde commented on #36
@dlebauer Ruby has RDoc, and the comments I have in many of the Rails files (`simple_search.rb`, for example) are RDoc-compatible.  But we may want something with different features.  I'll look at what Rob sent.

And don't forget that there is some extensive existing manually-written API documentation.

[2015-12-16 16:57] dlebauer commented on #36
This is useful to me, but @robkooper said developers need something more
like https://clowder.ncsa.illinois.edu/clowder/assets/docs/api/index.html

Probably we can reuse some of the text from the data access tutorial.
On Wed, Dec 16, 2015 at 8:54 AM Scott Rohde <notifications@github.com>
wrote:

[2015-12-16 21:57] gsrohde commented on #24
@max-zilla, @dlebauer, @robkooper I went about vastly simplifying the Apache servers.conf file, including the configuration pertaining to terra-test and terra-ref.  I think everything is working as it should, but let me know if you notice any problems.

[2015-12-16 22:46] gsrohde commented on #24
David: FYI I updated the documentation, adding a step to make a dedicated OS user for the app.  This should prevent the permissions problems you saw.  But we can leave things as they are (that is, with Passenger running this instance as user “apache") for now.

I’m not sure why bundler didn’t install i18n.  Even though it is not in Gemfile, it _is_ listed in Gemfile.lock since it is required (indi

[2015-12-16 23:44] gsrohde commented on #24
David, a few notes:

RackBaseURI is deprecated in favor of PassengerBaseURI. (It still works though.)

While “Options FollowSymLinks” is necessary for the sole sym-link under `/usr/local/bety-mepp/public` (namely, `/usr/local/bety-mepp/public/images/lmodelout`), it is already enabled at the `<Directory “/“>` and `<Directory “/var/www/html”>` levels, so I don’t think you really need it here.

I’ve

[2015-12-18 14:53] max-zilla commented on #3
@robkooper It may make sense to expand pyClowder's capabilities for this. There is upload_file_to_dataset() in **extractors.py**, but in **api.py** there is only upload_file() which may be getting deprecated at this point (expects a secret key and posts directly to /api/files).

I think for @nfahlgren's use case, adding create_dataset() and upload_files_to_dataset() to **api.py** could be sufficie

[2015-12-19 21:34] robkooper commented on #3
Yes, I agree. I think it would be good to add that to the code. It would be nice to allow you to either pass in a key, or a username/password combo and it will pick them appropriately (I would say username+password over key if both specified). Then in the extractors/upload_file_to_dataset we can just call the real function in api. Might want to slowly over time deprecate some of the functions ther

[2015-12-21 17:45] max-zilla commented on #3
Opened a PyClowder pull request with this functionality to make things simpler for @nfahlgren.

https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder/pull-requests/9/overview

[2015-12-27 23:56] dlebauer commented on #21
replaced by #38 and #39

[2015-12-27 23:56] #21 closed

[2015-12-28 23:51] dlebauer commented on #41
I am currently moving some example data for pipeline development to the Roger server (provided by @nfahlgren et al):

* paired-end DNA sequencing files in FASTQ format (for each sample there are two files, one for each end of the DNA fragments).
* files are individually gzipped, with a total compressed size of 600GB. They will be unzipped following transfer
* will be stored on Roger in /home/dleba

[2016-01-04 17:09] rachelshekar commented on #39
Diagram is in progress.  After he visits UA, he will have a better idea of how to complete the diagram.

[2016-01-04 17:10] rachelshekar commented on #16
Some testing has been completed.  We can not test to MAC until line is in but testing for UA is done.

[2016-01-04 17:13] rachelshekar commented on #39
Data transfer architecture (gantry to roger) @jdmaloney

Data processing architecture @max-zilla

Use for reports, users, publications

These should be unified or complementary

This includes machines being used, resources

[2016-01-04 17:15] rachelshekar opened #42 "Coordinate documentation for transfer vs. processing"
Continuation from #16
Data transfer architecture (gantry to roger) @jdmaloney

Data processing architecture @max-zilla

Use for reports, users, publications

These should be unified or complementary

This includes machines being used, resources

[2016-01-04 17:37] rachelshekar opened #43 "Document how to interface with BETYdb"
API for programmers

[2016-01-04 17:46] rachelshekar commented on #11
- [ ] pull from Clowder - needs help from @robkooper

[2016-01-06 00:16] dlebauer opened #44 "rsync unexplained error transferring 600GB from Danforth to NCSA"
I am trying to transfer ~600 GB from Danforth to Roger. I have set up SSH key pairs and use the following command:

[code]

But this fails with the following error (from `tail -n 5 /home/dlebauer/terraref/genomics/nohup.out` on Roger):

Killed by signal 1.
rsync error: unexplained error (code 255) at rsync.c(546) [generator=3.0.6]rsync error: received SIGINT, SIGTERM, or SIGHUP (code 20) at rsync.

[2016-01-06 00:23] yanliu-chn commented on #44
We shall not transfer 600GB to $HOME/. Project dir or scratch space should be used. $HOME size is set to be < 10GB, by policy. I think the quota is not checked for $HOME at this moment. But might be an issue once quota is in place. Project space is in /projects/arpae/ .

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/computing-pipeline <reply@rep

[2016-01-06 00:39] dlebauer commented on #44
@yanliu-chn ok. I am moving them now to /projects/arpae/genomics, once the local files are moved I will restart the remote rsync with

[code]

[2016-01-06 00:43] jdmaloney commented on #44
Hi David,
I will get you access to that node either tonight or tomorrow depending on time as I have a few things tonight.  Important note, I updated the /etc/motd on ROGER this afternoon.  The GPFS file system will be experiencing a planned outage tomorrow morning from 9am to approximately 10am CST as I do some necessary work on the home file system.  Not sure how long the rsync of the current dat

[2016-01-06 00:53] yanliu-chn commented on #44
I didn’t have problem with rsync test. Did you try without nohup? -Yan

From: David LeBauer <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/computing-pipeline <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Tuesday, January 5, 2016 at 6:39 PM
To: terraref/computing-pipeline <computing-pipeline@noreply.github.com<mailto:computing-pipeline@noreply.github.

[2016-01-06 01:02] dlebauer commented on #44
I am using nohup but the error occurs after a few hours. I've started it up again and will let you know.

[2016-01-06 01:22] dlebauer commented on #44
since this is the case, I went ahead and restarted the rsync.

Using ` --progress --stats ` flags I see it is running at 3.7 MB/s, which should be ~14GB/h or ~ 45h for the 600GB transfer (which is 1/6 done).

[2016-01-06 02:45] nfahlgren commented on #44
@dlebauer, setting up Globus is on my to-do list but it has not been set up yet.

[2016-01-06 20:37] dlebauer commented on #44
Using the project directory `/projects/arpae` has not produced the issue - its been going for almost a day now whereas before it would stop after a few hours ... so I am closing this issue.

@jdmaloney feel free to kill these (PID 6018 and 6020) for maintenance you mentioned and let me know when I can re-start.

[2016-01-06 20:37] #44 closed

[2016-01-06 22:00] jdmaloney commented on #44
Hi David,
File System was able to correct itself last night without a downtime which is better than we anticipated so no outage was taken today.  Still working on getting you access to that data mover node, will let you know when that is done.

Best,

J.D. Maloney
Storage Engineer | Storage Enabling Technologies Group
National Center for Supercomputing Applications (NCSA)
University of Illinois Ur

[2016-01-07 03:54] jdmaloney commented on #44
See if you can log on to cg-hm01 from the head node (cg-gpu01) that is the special node for transfers that we like to keep big transfer sessions on and has a dedicated 40GbE link, though it seems like we’re very much limited by the WAN connection of Danforth or something in between.

Best,

J.D. Maloney
Storage Engineer | Storage Enabling Technologies Group
National Center for Supercomputing Appli

[2016-01-07 05:00] dlebauer commented on #44
How do I log on to a specific node? ssh?
On Wed, Jan 6, 2016 at 7:54 PM jdmaloney <notifications@github.com> wrote:

[2016-01-07 05:22] jdmaloney commented on #44
Yep, ssh dlebauer@cg-hm01

Best,

J.D. Maloney

On Jan 6, 2016, at 11:00 PM, David LeBauer <notifications@github.com<mailto:notifications@github.com>> wrote:

How do I log on to a specific node? ssh?
On Wed, Jan 6, 2016 at 7:54 PM jdmaloney <notifications@github.com<mailto:notifications@github.com>> wrote:

—
Reply to this email directly or view it on GitHub<https://urldefense.proofpoint.com/v2/ur

[2016-01-07 15:29] max-zilla commented on #33
Some related discussion in #36 regarding metadata from the LemnaTec source into BETYdb.

[2016-01-07 16:15] max-zilla commented on #42
I put up the initial rough architecture slide on [Google Drive](https://drive.google.com/file/d/0B42lleyRvKnlR205R00zeGZlLWs/view?usp=sharing). We can discuss today.

The first 4 slides are from previous drafts. I tried to simplify and condense into one. @jdmaloney not sure what level of detail you had in mind, I can get further into the weeds if it makes sense.

[2016-01-07 17:48] rachelshekar opened #45 "Front end development"
David, Luigi, Max

[2016-01-07 18:10] dlebauer commented on #44
@jdmaloney I can't log in. I get

[code]

[2016-01-07 18:11] yanliu-chn commented on #45
Docker files for PlantCV is in my fork of Clowder docker files: https://opensource.ncsa.illinois.edu/bitbucket/users/yanliu/repos/dockerfiles/browse/clowder/plantcv?at=refs%2Fheads%2Ffeature%2Fplantcv

Not sure if you could access it. But I have sent Rob a pull request in the main repo.

[2016-01-07 18:32] dlebauer commented on #45
I don't think this is a public repository, and I can't find the pull request here https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests (is that where it should be? @robkooper?)

@davidraila I put the iPython notebook here: https://github.com/terraref/computing-pipeline/blob/master/scripts/PlantCV_demo.ipynb

[2016-01-07 18:32] max-zilla commented on #11
There is a Clowder issue associated with this in JIRA:
https://opensource.ncsa.illinois.edu/jira/browse/CATS-224

I've created a branch for it to add the button that'll launch @davidraila's VM

[2016-01-07 18:36] yanliu-chn commented on #45
This is the request:

https://opensource.ncsa.illinois.edu/bitbucket/projects/BD/repos/dockerfiles/pull-requests/5/overview

[2016-01-07 18:58] max-zilla commented on #45
Somewhat related to #11.

Tracking Clowder UI development with this JIRA issue: https://opensource.ncsa.illinois.edu/jira/browse/CATS-224

[2016-01-07 21:01] max-zilla commented on #41
Are the data to analyze in CoGe (e.g. 600GB sample) totally distinct from the imagery data we're getting from LemnaTec? I was planning to represent the genomics pipeline somehow in revising that architecture diagram - is there a vision for launching a CoGe VM from Clowder with selected data like we are doing with PlantCV, for example? Is it largely separate from the phenomics workflow?

[2016-01-07 21:06] dlebauer commented on #41
Yes. the betydb.cultivars table will link to accessions in the genomics database. A genomics analysis would then query vectors / arrays of data associated with a unique record in the cultivars table.

Yes. In both cases, the VM/docker will need to access to HPC computing resources

Yes. The big picture is that the phenomics workflow will fill rows in the betydb.traits table for each plant, plot, o

[2016-01-08 03:52] jdmaloney commented on #42
Got some work done on my diagram today.  Waiting on info from Noah on the Danforth WAN connection information, and does anyone have a good idea for what we should put for the transfer mechanism between the Gantry and Server.  It’s something I hope to learn more about while I’m in Phoenix.  I’m just attaching the screenshot of my slide in it’s current state as I still need to finish up these last t

[2016-01-08 13:54] robkooper opened #46 "Search clowder for data"
Should have a complex query capability to find data in clowder. This should allow the user to do complex queries like find all data that has LAI > 10 AND is type XYZ.

See https://opensource.ncsa.illinois.edu/jira/browse/CATS-328

[2016-01-08 13:54] robkooper opened #47 "Ability to do search across BETY and CLOWDER"
Should be able to do complex queries that span both BETY and Clowder.

See https://opensource.ncsa.illinois.edu/jira/browse/CATS-552 and subtask https://opensource.ncsa.illinois.edu/jira/browse/CATS-328

[2016-01-08 13:56] robkooper opened #48 "Ability to do data analytics in clowder"
Should be able to do cluster analysis based on the metadata extracted in clowder.

See: https://opensource.ncsa.illinois.edu/jira/browse/CATS-332

[2016-01-08 15:11] robkooper commented on #45
In general we try to tag everything in JIRA with TERRA, so you can do search across all projects using:
https://opensource.ncsa.illinois.edu/jira/issues/?jql=labels%20%3D%20TERRA

[2016-01-08 16:54] max-zilla commented on #42
@jdmaloney I think the screenshot might've been lost in transmission, unless I'm missing it... don't see it on github or in the email reply.

[2016-01-08 17:10] jdmaloney commented on #42
![uploads/55016af7-c30f-431f-886d-ca3a1bc5291d/Screen Shot 2016-01-07 at 9.49.35 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F55016af7-c30f-431f-886d-ca3a1bc5291d%2FScreen+Shot+2016-01-07+at+9.49.35+PM.png)

[2016-01-08 21:22] jdmaloney commented on #42
Is it there now?

J.D. Maloney
Storage Engineer | Storage Enabling Technologies Group
National Center for Supercomputing Applications (NCSA)
University of Illinois Urbana-Champaign
1205 W. Clark St. Urbana, IL 61801

From: Max Burnette <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/computing-pipeline <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Frid

[2016-01-08 21:28] max-zilla commented on #42
Yep! Looking good so far. Thanks.

[2016-01-11 17:13] rachelshekar opened #49 "Globus"
Discuss how the TERRAref team can use Globus and what we want to learn from Stu Martin.

* Globus Share feature - we probably know enough
* Publication and sharing system. May or may not be production ready.
* What can Stu offer? Start with JD's architecture diagram.

[2016-01-14 17:22] jdmaloney commented on #42
[Prototype Architecture.pptx](https://github.com/terraref/computing-pipeline/files/90737/Prototype.Architecture.pptx)

[2016-01-14 17:34] dlebauer opened #50 "Setup Globus endpoint data mover on Roger"
Issues:
* now need NCSA two-factor
* convert endpoint to HTTP?
* does it make sense to set up an NCSA/TERRA share? Or setup with group and add users.

[2016-01-14 17:35] rachelshekar opened #51 "Allow external people access to raw data in projects folder on Roger"
Right now, compressed zip files 1-2 GB each, 600 GB

* [x] Share data with TERRA users
* [x] write documentation file

Issues:

* What will be the authentication? a TERRA endpoint with group membership? Will they need Xsede,or Globus,account?
* now need NCSA two-factor
* convert endpoint to HTTP?
* does it make sense to set up an NCSA/TERRA share? Or setup with group and add users.

[2016-01-14 17:36] jdmaloney commented on #39
![uploads/435f40a8-9c67-48d5-8b4b-000b60a4fa3a/Screen Shot 2016-01-07 at 9.49.35 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F435f40a8-9c67-48d5-8b4b-000b60a4fa3a%2FScreen+Shot+2016-01-07+at+9.49.35+PM.png)

[2016-01-14 17:37] dlebauer commented on #50
duplicated by #51

[2016-01-14 17:37] #50 closed

[2016-01-14 17:44] dlebauer opened #52 "Design next version of BETYdb API"
* [x] Modify limit option to be more usable
* [x] Add comments to API code [used apipie; need more comments for uploading traits]
* [x] Get beta API ready for prime time, merge into master branch and deploy

* Extract API from main controller code. Suggested by @robkooper will make a cleaner code.
* Revise API.
* Next step to meet to define specifications.
* See PecanProject/bety#381

[2016-01-14 17:52] yanliu-chn opened #53 "Agenda for the meeting with Globus team 1/22/16"
I'm helping to create the agenda for the meeting. Please use this ticket to fill in the data needs in our mind that need Globus help. Please feel free to remove/add/edit.

- globus-url-transfer performance tuning details for optimization of data transfer performance for the data we want to transfer; translate to some guidelines/requirements on both ends of the data transfer;
- the role of globus o

[2016-01-14 19:24] dlebauer commented on #49
Duplicated by #53

[2016-01-14 19:24] #49 closed

[2016-01-14 20:20] gsrohde commented on #47
@doracai The existing documentation on doing API searches is here: https://www.authorea.com/users/5574/articles/7062/_show_article

As mentioned there, results are available in both XML and JSON formats.  If I remember correctly, the XML results are a little more expressive and contain more information.  Also, the results contain information that they really shouldn't: The end users don't need to

[2016-01-15 20:23] dlebauer opened #54 "Insert RIL g2p data from Steve K into reference database"
- [ ] Rob Alba to confirm w/ Steve K
  - enter meta-data (site, treatment, genotypes) into BETYdb
  - upload raw phenotype data
- [ ] enter with access_level = 1 until publication

[2016-01-16 19:05] dlebauer opened #55 "Setup Windows 7 VM for Lemnatec software"
* This is for Lemnatec to set up their software suite
* 4 Cores + 16 GB RAM
* mount the /projects/arpae/terraref directory
  * read access to raw data from gantry
  * write out to mounted file system

requires:

* authentication (currently lemnatec software requires usb security key)
* Windows license (easiest if provided by Lemnatec)

[2016-01-20 22:39] dlebauer commented on #41
@nfahlgren This is the coge pipeline I ran https://genomevolution.org/r/j8c7

I'd appreciate feedback on the settings, the pipeline configuration, and if we will be able to run the fastq files through CoGe in this way.

[2016-01-21 15:38] #28 closed

[2016-01-21 16:32] nfahlgren commented on #41
@dlebauer I can only see the steps that were run but it looks good in general. The FPKM/cufflinks section would not be needed in this case since the uploaded fastq files are DNA sequences rather than RNA. I'm not familiar with all the programs they use, but based on the file exchange formats it looks like the right steps that we need to get polymorphism calls. An hour and a half to completely proc

[2016-01-21 16:42] nfahlgren commented on #41
@dlebauer I can only see the steps that were run but it looks good generally. This input file has genomic DNA sequences, so the steps involving FPKM/cufflinks would not be necessary since those are for RNA expression.

I'm not familiar with all the particular programs they implement but it looks like it outputs what we need (polymorphism calls) and takes care of all the steps in between.

One thin

[2016-01-21 16:53] elyons commented on #41
Yes, CoGe supports both single and paired end reads.

[2016-01-21 17:24] robkooper commented on #6
Created a dev machine.

[2016-01-25 18:27] dlebauer opened #56 "Point utilities to terraref.ncsa.illinois.edu/*"
Currently we are hosting two instances of BETYdb on pecandev.igb.illinois.edu. @robkooper is setting them up on the Nebula instance of OpenStack (#24, #65). Once he reports the ip addresses, We can point the production instances of Clowder and Bety to these URLs:

  * http://terraref.ncsa.illinois.edu/clowder
  * http://terraref.ncsa.illinois.edu/bety
  * http://terraref.ncsa.illinois.edu/bety-tes

[2016-01-25 18:32] dlebauer commented on #55
@robkooper how hard will it be to deploy a Windows 7 VM on Nebula?

[2016-01-26 00:49] dlebauer commented on #38
(from #2)

The file level-0 (root) group would contain a level-1 group called "lemnatec_measurement_metadata", which would contain six level-2 groups "user_given_data"..."measurement_additional_data" and each of those groups would contain group attributes for the fields listed above. We will use the appropriate atomic data type for each of the values encountered, e.g., String for most text, float

[2016-01-26 00:50] dlebauer commented on #38
Sorry the details of the hyperspectral data formats are specified in issue terraref/reference-data#14

[2016-01-26 01:29] czender commented on #38
I will treat this (issue #38) as the correct place to discuss development of the pipeline. IMHO, aim to produce a CF-compliant file now. Later map that to whatever ISO flavor you want.

My understanding is that we will receive much metadata in JSON format and need to store it in the final product. Once the JSON is in the netCDF file, the JSON file will be redundant. JSON in no way is the final pro

[2016-01-26 01:53] dlebauer commented on #38
I see your point, but maybe I wasn't clear and /or not familiar enough with the technical aspects but I think we need to save the xyz location of the camera at the time of capture, which is distinct from the xyz of each pixel. The camera position seems like immutable metadata required for 'level 0 products' while downstream projection and calibration will be required to assign coordinates to pixel

[2016-01-26 05:48] dlebauer commented on #38
@czender

A few notes

2. To clarify, above you proposed to pass the json tree to netcdf attributes in the same data structure of nested key-value pairs. That should make it easy, and flexible as we refine the format, correct?
1. The  basic structure of the sensor metadata files have a good chance of being stable,  major changes should include addition of fields -  (terraref/reference-data#2).
3.

[2016-01-26 15:16] rachelshekar opened #57 "Mount ADS to VM"
different users can write to file system without their ID being added to file
Make genomics data available in clowder

[2016-01-26 15:19] rachelshekar commented on #38
@czender Can you use Gdal?  Talk to @robkooper

[2016-01-26 15:21] robkooper commented on #38
@ch1eroe1 has done some work on this as well and is working on some code to add it to BrownDog. I believe we just used the gdal_convert to convert the .hdr file to a cdf file.

[2016-01-26 15:22] rachelshekar commented on #27
@dlebauer - what do we want to do besides put the geospatial info on a map?

Info for pixel lat/lon (not a flat plane) is different than global lat/lon

[2016-01-26 15:32] rachelshekar opened #58 "Move TERRA Ref instances of BETYdb from pecandev.ncsa.illinois.edu to Roger or Nebula"
* [ ] Two instances currently on pecandev should be migrated to Roger or Nebula Open Stack
* [ ] Add an additional development instance (can be same as used by PEcAn VM)

[2016-01-26 15:34] rachelshekar opened #59 "Redirect URLs to http://terraref.ncsa.illinois.edu/"
secure
backed up
Paul W.

[2016-01-26 15:37] rachelshekar commented on #56
help+neteng
host at NCSA instead of Github (nebula as vm?)
Talk to Bill Glick about redirects

[2016-01-26 15:37] rachelshekar commented on #59
same as #56

[2016-01-26 15:37] #59 closed

[2016-01-26 15:52] rachelshekar commented on #19
How do researchers cite the data they use?
Acknowledgement clause

[2016-01-26 16:10] rachelshekar opened #60 "ARPAe tech summit"
users can
 [ ] look at files
 [ ] open plant cv
 [ ] manipulate plant cv

[2016-01-26 16:12] rachelshekar opened #61 "MAC demo preparation"
* [ ] gantry data is avaiable
* [ ] implement extractors for image #64 and hyperspectral sensors #38
* [ ] show thumbnails, links to files

[2016-01-26 16:17] max-zilla commented on #11
I will demonstrate current status of this functionality on Thursday 1/28. We have the ability to launch tools with Clowder data included - currently the tool is a Jupyter notebook without PlantCV, but core components are written.

[2016-01-26 16:23] max-zilla commented on #3
@nfahlgren and I will be discussing this on a call at 1pm today.

I have two pull requests that @robkooper needs to approve before the simpler files+metadata API call is available:
- [Clowder API component] (https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/684/overview)
- [PyClowder python connection into that new API component](https://opensource.ncsa.illin

[2016-01-26 16:25] dlebauer commented on #39
@jdmaloney do you have the source file for this architecture diagram? can you please move it to google drive https://drive.google.com/drive/u/0/folders/0By_PDCcY5g2JNWd5ajdtQzcwS2s

[2016-01-26 16:28] dlebauer commented on #39
also please put information about the globus endpoints in documentation?

[2016-01-26 16:30] jdmaloney commented on #39
Document uploaded, is it okay if I put all the documentation together with issue #51?

[2016-01-26 16:32] max-zilla commented on #15
Current plan is to collect all documentation in the terraref documentation repo. My example scripts should be integrated into that location for consistency.

[2016-01-26 16:34] yanliu-chn commented on #40
Discussed with Rob and Rui on the architecture change for batch processing of images using plantcv on ROGER. The batch processing module will include:
- A scheduling agent: this agent watches the rabbitmq through the management API of rabbitmq. Whenever it sees the number of plantcv uploads is over a threshold, it makes a decision to submit jobs to ROGER. Job submission parameters affected by the

[2016-01-26 16:38] dlebauer commented on #39
"Add documentation if necessary" is an implicit step before closing any issue. Merge if necessary.

[2016-01-26 17:11] dlebauer commented on #19
@rachelshekar next step would be to have a meeting with Heidi Imker, Sarah Williams, and (Rob or Kenton) in which we discuss options about where in the pipeline to 'publish' data and how to do so. The biggest challenge will be ensuring to trace the provenance of contributed data sets, so that we can make it easy for researchers to publish their own data and accurately cite the data that they use,

[2016-01-26 17:17] dlebauer commented on #24
Closing this issue - remaining tasks are in separate issues #56 and #24

* migrate terra-ref and terra-test to a stable open stack instance (nebula or clowder)  (#24)
* assign terraref.ncsa.illinois.edu domains to these (terra-ref, terra-sample, terra-dev) (#56)

[2016-01-26 17:17] #24 closed

[2016-01-26 17:28] dlebauer commented on #38
@ch1eroe1 do you have a link to the code that you wrote (or if it is a one-liner, paste here).

@czender Not necessary to use gdal, but will be useful to coordinate with @ch1eroe1, @robkooper and the BrownDog team. From what I understand, the gdal tool converts the file type but does not address optimization, handling of metadata, or developing data products.

[2016-01-26 17:32] nfahlgren commented on #3
@max-zilla last Friday we got a Globus endpoint setup on our system, so it is ready if we want to use it for the image transfers from Danforth.

[2016-01-26 17:43] czender commented on #38
@dlebauer on the clarification
1. Yes. If we have JSON as input then we will transfer its structure straight into metadata. Changes in structure can be made upstream (to the JSON by Lemnatec). We're assuming they've already grouped the metadata logically.
2. That's all fine.
3. Getting the location into a standard form that is simultaneously useful for analysis will require care, and probably some

[2016-01-26 17:55] czender commented on #38
@robkooper and @ch1eroe1 yes just looked and we can try to use gdal_convert. if you already have a command to convert .hdr files (or similar) please post it with a link to a .hdf file that it works on and we will modify that to work on the reference images above. thanks!

[2016-01-26 19:24] max-zilla commented on #3
@nfahlgren and I just spoke on the phone. For now, the feeling is that Globus won't really be necessary for ~300 images/hour from Danforth. The general plan is:

1. Before the API enhancement pull requests are approved, I propose putting the file+metadata transfer code out on the Terra dev instance (http://141.142.209.122/clowder/) so that Noah and I can use it to get the API transfer process lock

[2016-01-27 00:02] robkooper commented on #55
Not sure that is ready for production yet. Will need to check with the nebula admins. Other issues are going to be the license of windows. We should check to make sure we can use Illinois license. What is the goal of this VM and who will have access to this VM?

[2016-01-27 00:06] dlebauer commented on #55
This will be used primarily by the Cat5 team and Lemnatec developers to
provide extractors for our pipeline using Lemnatec software. It does not
need to be public or replicated.
On Tue, Jan 26, 2016 at 6:02 PM Rob Kooper <notifications@github.com> wrote:

[2016-01-27 00:07] dlebauer commented on #55
But there are other options like running the software on site in AZ.
On Tue, Jan 26, 2016 at 6:06 PM David LeBauer <dlebauer@gmail.com> wrote:

[2016-01-27 21:47] robkooper commented on #3
wrt 1. we can make a special branch that has multiple branches merged for deployment on the dev server.

[2016-01-28 17:42] robkooper commented on #38
[code]

convert bil file to netcdf. Need to specify the bil file as the first argument, assumption is that there is a second file with .hdr. Second argument is output. `-of netCDF` makes it so netcdf is output instead of GeoTiff.

[2016-01-28 18:24] czender commented on #38
Thanks Rob. I have this working now.

[2016-01-29 21:35] max-zilla commented on #3
we now have an API to start pushing some files into.
http://141.142.209.122/clowder/
This is the dev instance for TERRA. In the upper-right you can click Login then sign up.

Noah will be starting transfer tests shortly.

[2016-01-29 21:59] robalba1 commented on #3
Hi Max,

This is great!  Keep us posted as your testing results come in.

Rob

Sent from my iPhone

[2016-01-29 23:17] dlebauer commented on #38
@czender Sorry about the trouble with the Box link. I've put the SWIR sample files (~600MB) here: http://file-server.igb.illinois.edu/~dlebauer/terraref/

[2016-02-03 00:30] nfahlgren commented on #3
I have the basic workings of the script done to push data from the Danforth Center (https://github.com/terraref/computing-pipeline/blob/master/scripts/PlantcvClowderUploader.py). It creates a collection first to contain all the datasets uploaded for an experiment. It creates a dataset for each snapshot and uploads all the images associated with a snapshot to the dataset. I uploaded a test data set

[2016-02-03 04:40] #53 closed

[2016-02-03 13:22] max-zilla commented on #3
Previously, you would've needed the add metadata API call. However, I've expanded the api/uploadToDataset endpoint to support sending metadata in the same call as the file.

I think the easiest route would be to expand your upload_file_to_clowder() function to also take the JSON metadata for the file, and send that in your POST on line 218. Something like this should work:

[code]

Let me know if

[2016-02-03 15:05] robkooper commented on #3
user metadata is more intended for a claim a user makes and is always associated with a user. So for example you add your description to an image. Metadata is used for those that are not created by user but is either information you have beforehand (type of instrument etc), or information that is extracted (as done by plantcv).

[2016-02-03 15:12] dlebauer commented on #3
We should also require terms of use / license / copyright for all datasets.
Defaults for the Cat 5 products should be CC-By, but streams that we do not
set up should require terms of use in metadata. We can chat further (among
us, w/ library and collaborators) about details. @robkooper, how does SEAD
handle this?
On Wed, Feb 3, 2016 at 9:05 AM Rob Kooper <notifications@github.com> wrote:

[2016-02-03 15:21] robkooper commented on #3
Only when publishing to certain places does SEAD require specific licenses. I can setup the system to default to cc-by as the license if that is what we want. The default right now is copyrighted by the uploader. If we want to change it, we should make it clear to all users.

[2016-02-03 15:33] dlebauer commented on #3
Or perhaps just require it be specified and use cc-by when setting up pipelines.

This is related to https://github.com/terraref/reference-data/issues/8

[2016-02-04 16:27] dlebauer opened #62 "Globus transfer status checker"
Write a script that will periodically check Globus to determine if transfer has finished successfully.

daemon listens to directory

This is required because Globus doesn't currently do this.

This will run next to Clowder.

[2016-02-04 17:10] dlebauer commented on #3
https://github.com/terraref/computing-pipeline/blob/master/scripts/PlantcvClowderUploader.py

https://github.com/terraref/computing-pipeline/tree/master/scripts

[2016-02-04 17:14] dlebauer opened #63 "Implement clowder processing of local files"
Currently clowder works on upload. need to be able to point to a local file.

This is described in and will be implemented by https://opensource.ncsa.illinois.edu/jira/browse/CATS-324

[2016-02-04 17:22] dlebauer commented on #15
dupe of #42?

[2016-02-04 17:34] max-zilla commented on #42
I will migrate the key aspects of this discussion and the attached slides to #15 - the main issue regarding documentation. Then I'll close this issue.

[2016-02-04 17:40] max-zilla commented on #15
Migrated from #42...

[Prototype.Architecture.pptx](https://github.com/terraref/computing-pipeline/files/117908/Prototype.Architecture.pptx) (architecture slides from myself and @jdmaloney)

[2016-02-04 17:41] #42 closed

[2016-02-04 18:01] robkooper commented on #26
Working now thanks to @jdmaloney

[2016-02-04 18:01] #26 closed

[2016-02-04 18:02] robkooper commented on #6
Done http://141.142.168.72/clowder/

[2016-02-04 18:02] #6 closed

[2016-02-04 19:37] robkooper commented on #63
See https://opensource.ncsa.illinois.edu/jira/browse/CATS-324

[2016-02-11 14:31] max-zilla commented on #3
From @nfahlgren vial email on 02/10/16, for posterity:

I have been working on the metadata component of the data transfer. I split that into two parts: 1) user-provided experimental metadata; 2) metadata automatically provided by the LemnaTec system. #2 is easy and just requires some reformatting. I am planning on attaching metadata for #2 on each image record using the API call you provided. For

[2016-02-12 20:35] max-zilla commented on #3
Some ideas when thinking about what we might do with JSONLD looking at the example json above...

- Have a context link for "experiments" (e.g. http://terraref.ncsa.illinois.edu/experiments) where we can explain a bit about that experiment object - what does growth_medium mean here? what does location mean (i.e. it's a research facility rather than XY coordinates)? So that my grandma could explain

[2016-02-15 19:34] dlebauer opened #64 "Write code to convert binary image files to full resolution geoTIFF + jpg preview"
The field scanner sensors are exporting binary files (with .bin extension) along with .json files that with a field "Output Data format" that describes how the binary file was written, e.g. the FLIR camera files are    `"Output data format": "Bayer GR8 3296x2472", stereo cameras are  `"Output data format": "Bayer GR8 3296x2472",`

Here are the datasets: https://uofi.box.com/s/c9ngkwi3xvtfr0ei5zfzg

[2016-02-15 20:04] max-zilla commented on #64
I don't have much experience here but I found [this Quora page](https://www.quora.com/How-can-I-convert-a-binary-file-to-a-raw-Bayer-image-in-Java) which suggests using an [ImageJ](http://imagej.nih.gov/ij/) [plugin](http://ij-plugins.sourceforge.net/plugins/dcraw/) - here's [a list of cameras the plugin supports](http://www.cybercom.net/~dcoffin/dcraw/) (Find "Supported Cameras"). Perhaps a place

[2016-02-15 20:15] dlebauer commented on #52
@gsrohde could you please summarize your updates and any outstanding questions from the last meeting ([notes are here](https://docs.google.com/document/d/1ffVqRJgXx6p2idW4RgDbDz6UopxNljzCHnLUjw02qy8/edit)) here and bring them up at the meeting Thursday?

[2016-02-15 20:24] nfahlgren commented on #64
The code we have used for converting images in RAW format from our system is here: https://github.com/danforthcenter/PhenoFront/tree/master/src/main/java/src/ddpsc/results. The Bayer2Rgb.java is probably the most relevant for example.

[2016-02-15 20:28] solmazhajmohammadi commented on #64
Currently I am using JSON-input parser MATLAB toolbox to parse the meta-data files to find the format. Then simply you can open the file and save it in specific filetype.

[2016-02-15 22:12] yanliu-chn commented on #64
From what I know in general:
Droid from National Archives: http://digital-preservation.github.io/droid/ is a metadata identification and recording tool.

Commercial software https://www.safe.com/ provides conversion support for a lot of file formats, esp. GIS data.

[2016-02-16 00:36] nfahlgren commented on #3
@max-zilla I just pushed a new version of the PlantcvClowderUploader.py script. It is able to attach metadata to a dataset but uploading metadata with files is not working for me (I don't get an error but don't see the metadata either).

[2016-02-16 12:55] max-zilla commented on #3
@nfahlgren the metadata JSON needs to be itself in a JSON object with the filename as the key - this is so that one can upload 2+ files and metadata in a single call if desired.

Try changing line 117 to:
[code]

[2016-02-16 17:41] nfahlgren commented on #3
@max-zilla that works (no errors) and makes sense but I still don't see the metadata on Clowder at the file level. In trying to simplify testing, I did this (leaving out username, password and URL):

[code]

This returns status code 500. Maybe I'm not setting the file and metadata keys correctly?

[2016-02-16 20:25] dlebauer opened #65 "Migrate TERRA Ref BETYdb instances to openstack server"
The remaining task from #24 is to migrate the simulated and ref instances of BETYdb from pecandev to openstack (Nebula or Roger)

Next steps:

* [x] deploy an empty Ubuntu 14.04 LTS virtual machine on the Roger Server
* [x] @gsrohde to migrate terra-ref and terra-test instances of BETYdb from pecandev to this server
* [x] @gsrohde to have daily backups of both betydb instances saved somewhere in /

[2016-02-16 20:50] dlebauer opened #66 "Upload sample field scanner data to Clowder"
We have two sets of sample data from the field scanners: https://uofi.box.com/s/c9ngkwi3xvtfr0ei5zfzgf4jya0dmrlc

Would be good to start testing out the use of Clowder for distribution of these datasets.

* [x] upload the .zip files
* [x] unzip and upload the directories

    perhaps there should be one clowder dataset per scanner x timepoint and collection per date (?)
* [x] provide API calls to

[2016-02-16 20:58] dlebauer commented on #58
duplicated by #65

[2016-02-16 20:58] #58 closed

[2016-02-17 14:45] max-zilla commented on #66
I have an initial batch upload in the Terra dev instance:
http://141.142.209.122/clowder/collections
I will need to modify the script to upload to the production instance (141.142.208.144) because it doesn't currently have the code to push file+JSON metadata at once. But this will let you see the structure - please let me know if you can see it.

A couple notes:

- We have a model one step up from

[2016-02-17 15:19] robkooper commented on #66
I would like to work and see if we can use the new folder in dataset functionality (https://opensource.ncsa.illinois.edu/jira/browse/CATS-367) that exists in clowder. We can add a function that will allow us to upload a zip file that would automatically be extracted to a bunch of folders/files inside a dataset.

[2016-02-17 15:21] robkooper commented on #66
@max-zilla can you add the collection to a test space that all developers on the server belong to?

[2016-02-17 15:45] max-zilla commented on #66
@robkooper created one and added you, Dora, Yan Liu, Noah. will add David L. and others once accounts are created.

[2016-02-17 17:48] max-zilla commented on #66
In terms of programatically downloading files, there are a couple API calls one might want:

[code]

[2016-02-17 17:49] dlebauer commented on #66
@max-zilla could you please convert that to a curl command that I can copy-paste to the command line?

[2016-02-17 17:50] dlebauer commented on #66
Looking at the datasets at here are a few thoughts:

* often there are many files and one metadata file. We can assume that each high-level folder ( a lemnatec 'snapshot') will have one or more 'raw' data files and one .json metadata file (the Feb 09 had some xml, but these are deprecated)
* This set of files is the unit of interest - the files are not as useful alone (e.g. two images for stereo 3

[2016-02-17 18:06] max-zilla commented on #66
You'll need to add your credentials but an example call and response:

[code]

returns:

[code]

From there, one could list datasets in one of these collections:

[code]

returns:

[code]

From there one can download a dataset:
[code]

[2016-02-17 18:19] dlebauer commented on #66
got it. where `USER` = email address. Can I use an API key instead of a password?

[2016-02-17 22:01] rachelshekar commented on #34
@dlebauer - Did you speak with Patrick?
Should I follow up with Jay about NCSA resources or did he get back to you?

[2016-02-17 22:24] dlebauer commented on #34
Jay got the letter, and it is attached. Sorry I forgot to update here.

[TERRA Project BW Storage and CyberGIS Roger Support Letter Final v2.pdf](https://github.com/terraref/computing-pipeline/files/135274/TERRA.Project.BW.Storage.and.CyberGIS.Roger.Support.Letter.Final.v2.pdf)

[2016-02-17 22:24] #34 closed

[2016-02-17 22:41] gsrohde commented on #52
I've created a full-fledged draft API for inserting trait data from an XML file.  This includes:
* Effective defaulting, so that species, site, citation, and date-time (for example) can be specified for groups of traits and not have to be repeated for each trait.
* The ability to specify associations using any unique set of column values; for example, a citation can be specified using a doi value

[2016-02-17 23:02] gsrohde commented on #52
#### Testing out the API

To try out the API for inserting traits, try this:

1. Copy `TEST_XML_DATA` from https://github.com/PecanProject/bety/blob/draft_insertion_api/api_stuff/TEST_XML_DATA
2. In the directory where you saved this file, run

[code]
This should return a JSON response listing the ids of the traits that were inserted.  (Entities and covariates were also inserted, but these aren't

[2016-02-17 23:11] gsrohde commented on #52
#### Schema of the XML data files

An extensive description of the required format of a trait data XML file is contained in an annotation at the top of the schema document here: https://github.com/PecanProject/bety/blob/draft_insertion_api/api_stuff/TraitData.xsd

A barebones sample file—the simplest possible—is here: https://github.com/PecanProject/bety/blob/draft_insertion_api/api_stuff/SIMPLE_X

[2016-02-17 23:42] gsrohde commented on #52
#### Error handling in the insertion API

Errors may occur at various stages:
1. **Validation stage**: The XML is parsed to see that it has the required form.  Due to limitations of W3C XML Schema, some formal errors can't be caught at this stage.  (I'm considering replacing or supplementing W3C XML Schema for this reason.)  The reason for using an XML schema is so that errors are caught early.  I

[2016-02-18 16:42] gsrohde commented on #52
#### Remaining issues and to-do list
1. No authentication or authorization is in place.  Should we use the `users` table, and if so, should we authenticate with username and password, with API keys, or both (either)?  Should authentication credentials be passed in the data, where they are less likely to get stored (e.g.) in the server logs?
2. Error output is fairly complete, but there is probably

[2016-02-18 17:51] max-zilla commented on #3
@nfahlgren the JSON metadata for each file needs to be string-encoded. I think all you need to do is:

[code]

Basically, wrap the md for each file in json.dumps() to stringify it. Also if you're only passing one file, you can simplify your code by using the same key for metadata instead of filename. So in your example,
[code]
...should work just as well as using the filename instead of 'File'.

[2016-02-18 18:35] nfahlgren commented on #3
Thanks @max-zilla that did the trick. I just pushed the new working version.

[2016-02-18 21:32] max-zilla commented on #66
I've created a V3 space and invited people to it:
http://141.142.209.122/clowder/spaces/56c632d3e4b0627842cb26fd

This is slightly smarter about the foldername-derived metadata in naming datasets. I also modified my script to create collections for sensor height and named group (parsed from folder name) - it's mostly illustrative.

Also fixed bug that only expected one file and one .json per folde

[2016-02-19 22:50] yanliu-chn commented on #40
Stress test 1 is done
- 1500 images
- the agent booked 4 nodes, each with 10 extractors on ROGER, so 40 extractors ran for 600 seconds.
- all images were processed in 422 seconds. results appear to be correct.

[2016-02-22 14:50] max-zilla commented on #63
There is currently a pull request for this - just needs to be reviewed.

[2016-02-22 14:56] max-zilla commented on #27
I have a [more official branch](http://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/browse/public/javascripts/previewers/geospatial-geojson?at=refs%2Fheads%2Ffeature%2FCATS-432-show-preview-map-of-geojson-metadata) now where I've ported the map to OpenLayers instead of GoogleMaps.
![image](https://cloud.githubusercontent.com/assets/14166971/13221512/72507f5c-d941-11e5-9a7a-88

[2016-02-22 16:46] rachelshekar commented on #19
pending

  http://doodle.com/poll/f567s9q9fr7k7wut

[2016-02-22 21:23] #60 closed

[2016-02-22 21:23] rachelshekar commented on #60
not needed

[2016-02-22 23:49] dlebauer commented on #52
Scott, this looks like a great start, though I would like @max-zilla, @robkooper, and @doracai to also weigh in.

I was wrong about having wanting to have the API accept .csv files - this was related to my incorrect understanding of data, but @robkooper patiently explained to me why converting tables to key:value pairs is useful.  To import and return tables, we can either write client-side import

[2016-02-25 16:53] gsrohde commented on #52
@dlebauer Regarding your first (and third) bullet points, I generally used attributes for all data values, which are either numbers or short snippets of text.  The exception is the `trait/notes` element, which is the only _element_ having type `string`.  This is because I wanted to allow free-form text.  (I should probably use an element rather than an attribute for the entity notes column as well

[2016-02-25 18:06] dlebauer commented on #52
Here are some examples of ICASA data

[2016-02-29 02:04] nfahlgren commented on #3
The sorghum pilot experiment from the Danforth Center indoor system is uploading now. Can you all see it or do I need to share it somehow?

[2016-02-29 02:18] dlebauer commented on #3
I am looking at http://141.142.209.122/clowder/collections and don't see it the files. Is that where you are pushing to? @max-zilla or @robkooper how can we make the data that Noah is pushing publicly accessible?

[2016-02-29 04:59] nfahlgren commented on #3
@dlebauer I created a space called "Danforth Center Phenotyping Facility" and added the collection for the sorghum pilot experiment to it. I added everyone to the space, can you see the collection now?

I had to start the transfer over because I ran into a problem. I realize I need to add in the ability to restart the transfer without having to start over.

[2016-02-29 05:16] dlebauer commented on #3
I can see the collection but when I try to open it I get

'You are not authorized to access dataset "snapshot295493"'

This is the same behavior I get with the data Max posted; perhaps an issue
with Clowder.
On Sun, Feb 28, 2016 at 11:59 PM Noah Fahlgren <notifications@github.com>
wrote:

[2016-02-29 13:56] robkooper commented on #3
datasets need to be added to a space as well for the permissions to be applicable.

[2016-02-29 14:00] dlebauer commented on #3
OK. Is there an easy way to add datasets to the space? Should there be default inheritance (of permissions and datasets)? Here are the issues I've found:

1. I have permission to a collection but not a dataset

On the ["tool test" page](http://141.142.209.122/clowder/collection/56ce0960e4b0ed49ad02f59e), there are two links "users who have access to this [dataset / collection]. I am listed as havi

[2016-02-29 14:33] max-zilla commented on #3
@nfahlgren in the short term you can go to the [Danforth Center Phenotyping Facility collection](http://141.142.209.122/clowder/collection/56d3ce9ce4b0c7e3b16747cd) you created, click into a few of the snapshot datasets, and add the snapshots to the DCPF space. This is show David can show some of the snapshots this week in discussions if he wants to.

In the medium term, we can use a script to ass

[2016-02-29 14:41] robkooper commented on #3
I would love to hear what people have to say about the permissions. Our thinking is that datasets and collections should be treated as separate entities for security. The reasoning is that is the following scenario:

There are 3 users, A, B and C, and 2 spaces K and L. User A and B are part of space K and users B and C are part of space L.

User A uploads a dataset and adds it to space K. Only use

[2016-02-29 14:52] nfahlgren commented on #3
@dlebauer @max-zilla adding some now.

[2016-02-29 18:04] nfahlgren commented on #3
2,725 snapshots containing 10 images each were uploaded in 775 minutes (3.5 snapshots/minute). I am running a script to add each dataset (snapshot) to the shared space, so @dlebauer you should see them all soon.

[2016-03-03 16:01] dlebauer commented on #3
@nfahlgren this was really great. However, the PlantCV pipeline was not triggered. Is this a bug (@max-zilla, @yanliu-chn)?

[2016-03-03 16:38] dlebauer commented on #48
@robkooper can you please clarify the use case for this within the scope of the TERRA project? In general, our focus is not on implementing new analytical methods but on facilitating data discovery and use.

[2016-03-03 16:45] robkooper commented on #48
This is dealing with the ability to do analytics such as clustering of different datasets based on their metadata of the files and dataset. Given a group of datasets this will allow the scientist to easily find correlations between different metadata that is extracted and allow them to find a subset of datasets that have common data for further analysis.

[2016-03-03 17:08] robkooper commented on #3
They are triggered, there is no extractor running right now. There is 33,821 datasets waiting to be processed right now. Might be a good use case for the scalability tests that @yanliu-chn has been doing.

[2016-03-03 17:42] dlebauer opened #67 "clowder tool launcher broken"
When I launch a tool from this page: http://141.142.209.122/clowder/datasets/56d48443e4b0c7e3b16ea67e#

I get "webpage not available" here: http://141.142.210.18:32810/

The tools were working yesterday. Today, neither the tools launched yesterday and nor the new ones will load.

[2016-03-03 18:50] max-zilla commented on #67
from discussion - this may be related to IllinoisNet wifi blocking ports.

[2016-03-03 19:43] robkooper commented on #67
This is an issue related to the way illinoisnet and the openstack have their IP addresses setup. Both use the 172.X.Y.Z subnet and when you from your laptop try to talk to openstack cluster the networking code thinks you are on the same subnet and tries to have you connect directly using the internal ip address and not the public address.

Will try to reassign ip addresses to the 192.168.100.X sub

[2016-03-03 19:43] #67 closed

[2016-03-03 20:42] dlebauer opened #68 "add PlantCV extractor to demo clowder on Nebula"
Following from #3, after sending some test files from Danforth to Clowder, we realized that the PlantCV extractors were not running on the nebula instance of clowder (141.142.209.122/clowder). There are 33,821 datasets waiting to be processed.

@yanliu-chn can you: add the PlantCV extractors and perform the scalability tests that you did on Roger?

[2016-03-03 22:01] dlebauer commented on #51
closing: now data can be accessed through globus

[2016-03-03 22:01] #51 closed

[2016-03-07 16:14] max-zilla commented on #3
Closing this issue. Discussion can move to #68. Will move some info to my documentation.

[2016-03-07 16:14] #3 closed

[2016-03-08 15:46] max-zilla commented on #52
I'm taking some time this week to look over the draft_insertion_apis branch at the work @gsrohde has done.

Yesterday @doracai stopped by my office and we discussed how, eventually, she intends to query BETYdb based on a set of images that are returned in a Clowder query. In order for this to be possible Clowder must provide whatever unique identifiers necessary to get the relevant data from BETY

[2016-03-08 16:28] gsrohde commented on #52
@max-zilla As noted above, I temporarily moved http://pecandev.igb.illinois.edu/beta off the draft_insertion_api branch.  If this is inhibiting your work in any way, let me know and I'll set it back up.

[2016-03-08 17:16] gsrohde commented on #52
@max-zilla I've restored this.  I've also added some rudimentary authentication, so you now need to use the `-u` option to curl.  I've modified the "Testing out the API" notes above accordingly.

[2016-03-09 18:13] dlebauer commented on #63
Have you added this to the documentation? Is this something that I should assign to @robkooper to merge?

And .. is it enabled on the http://141.142.208.144/clowder/collections instance?

[2016-03-09 18:15] dlebauer commented on #40
@yanliu-chn are you still working on this? could you add instructions for setting this up and triggering it to the [terraref clowder docs](https://github.com/terraref/documentation/blob/master/clowder.md) and / or [README file in the clowder repository](http://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/browse/README.md)?

[2016-03-09 18:22] max-zilla commented on #63
@dlebauer I'll add it to the documentation - not specifically described yet.

It is not currently enabled on that instance - that instance is running the Clowder master branch which is even further behind than the develop branch at 209.122, but the team hopes to have a "v1.0" for the master branch in the near future. Once my [pull request](https://opensource.ncsa.illinois.edu/bitbucket/projects/CA

[2016-03-09 18:34] dlebauer commented on #41
@elyons and @mbomhoff

* We currently have some sample files for testing on our server 'Roger' (roger-login.ncsa.illinois.edu) in `/projects/arpae/terraref/raw_data/hudson-alpha/test_data`.
* The CoGe API documentation indicates that it can take data from the CyVerse Data Store, HTTP, or FTP. I gather the Cyverse data store is easiest / most commonly used and our project has a 2TB allocation.

Are

[2016-03-09 18:40] yanliu-chn commented on #40
This is done already. I just added instructions to the readme.md.

[2016-03-10 15:50] dlebauer commented on #63
@robkooper I believe this is waiting on your to review this pull request: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/743/overview

@max-zilla I don't see how to upload local files in the instructions, which I think is separate from the 'listening daemon'. Presumably this is referring to #62 'globus file status checker'?

[2016-03-10 15:54] dlebauer commented on #62
@robkooper (or reassign) please flush out specifications of this feature, making sure it is clear what is required and what would be nice to have (I am naiive but what other than a cron job to check for newly finished transfers every X min would is necessary? nice to have?).

[2016-03-10 16:10] max-zilla commented on #63
@dlebauer yes, the listener refers to #62.

As far as the local file upload instructions, I can write something up but it depends on the use case you're thinking of here. For typical users, they would just load files into clowder the usual way (sending via UI or API). These local file instructions would, I imagine, be intended for someone deploying a new instance of Clowder who wanted to set up a

[2016-03-10 16:21] robkooper commented on #62
Here is the pseudo code for the program:

/upload : expects following data to be passed in, will only accept request if globus username is known. Once it accepts it, add to a local queue that is checked all the time (and saved to disk).
[code]

/upload/:id checks to see if the globus id is finished (i.e. is no longer in the list of uploads in progress), if in upload.list return "IN PROGRESS", othe

[2016-03-10 16:55] dlebauer commented on #63
Specific use case is https://github.com/terraref/computing-pipeline/issues/41#issuecomment-194440338

I downloaded a bunch of files that will be run through a genomics pipeline (could be done independently of Clowder, but seems useful to have an extractor run the remote pipeline). Perhaps we won't need to do this on local files; in this case I can move them elsewhere and then upload them to the AP

[2016-03-10 17:06] robkooper commented on #63
Looking at pull request, there are some issues with it that needs to be cleaned up before it can be merged.

[2016-03-10 18:46] mbomhoff commented on #41
@dlebauer Setting up icommands and transferring the data to the CyVerse
Data Store is ideal method due performance -- the icommands perform
parallel transfers.  For testing small datasets the FTP/HTTP method is
adequate.

On Wed, Mar 9, 2016 at 11:34 AM, David LeBauer <notifications@github.com>
wrote:

[2016-03-10 20:04] dlebauer opened #70 "Images from full grown plants"
_From @solmazhajmohammadi on March 10, 2016 19:28_

In order to validate the algorithm for image alignment and stitching, I need images from full-grown plants.

_Copied from original issue: terraref/reference-data#23_

[2016-03-10 20:05] dlebauer opened #71 "Give Roger access to beta testers"
_From @rachelshekar on January 7, 2016 17:21_

Noah Fahlgren, Rob Pless at WUSTL and Charlie Zender

Include sample data

Private owncloud server?

_Copied from original issue: terraref/reference-data#21_

[2016-03-10 20:05] dlebauer commented on #71
_From @yanliu-chn on January 7, 2016 18:13_

the ldap groups they should be assigned to: prj_cg_users and prj_cg_arpae

[2016-03-10 20:05] dlebauer commented on #71
_From @yanliu-chn on January 7, 2016 18:14_

If they don't have ncsa account, please let me know their email addresses. i can contact them to create sponsored guest forms.

[2016-03-10 20:05] dlebauer commented on #71
@yanliu-chn email addresses and github usernames are

| name | email | github |
|----|----|----|
| Charlie Zender | zender_at_uci.edu | @czender |
| Noah Fahlgren | nfahlgren_at_danforthcenter.org | @nfahlgren |
| Robert Pless | pless_at_wustl.edu |  |

[2016-03-10 20:06] dlebauer commented on #71
@jdmaloney have you been able to give Charlie, Noah, and Robert access to Roger?

[2016-03-10 20:34] mbomhoff commented on #41
I just updated the CoGe API spec ("Experiment Add with Downstream Analyses") to reflect minor changes to the JSON request format when we recently added Methylation and ChIP-seq pipelines.

[2016-03-10 23:23] dlebauer commented on #41
I've started to transfer the files to the iplant datastore. We have a project allocation at `/iplant/home/shared/terraref/`

(transfer details in the [TERRA REF documentation](https://github.com/terraref/documentation/blob/master/coge_comparative_genomics_platform.md))

The test files are in `raw_data/hudson-alpha/test_data/`. I've created a folder `output/` for CoGe output (perhaps in `output/cog

[2016-03-10 23:54] jdmaloney commented on #71
Wasn’t aware that was on my to-do list.  I’ll inquire about getting them accounts as I don’t have power to do that directly.

Best,

J.D. Maloney
Storage Engineer | Storage Enabling Technologies Group
National Center for Supercomputing Applications (NCSA)
University of Illinois Urbana-Champaign
1205 W. Clark St. Urbana, IL 61801

From: David LeBauer <notifications@github.com<mailto:notifications@g

[2016-03-10 23:56] dlebauer commented on #71
Or maybe Yan?
On Thu, Mar 10, 2016 at 5:55 PM jdmaloney <notifications@github.com> wrote:

[2016-03-10 23:57] jdmaloney commented on #44
Looks like things got blown away when all systems got rebuilt with some of the recent security patches, I’ve add you to cg-hm02…see if that works?

Best,

J.D. Maloney
Storage Engineer | Storage Enabling Technologies Group
National Center for Supercomputing Applications (NCSA)
University of Illinois Urbana-Champaign
1205 W. Clark St. Urbana, IL 61801

From: David LeBauer <notifications@github.com<

[2016-03-11 20:21] gsrohde commented on #52
@max-zilla et al.: I've added a JSON-based API for inserting data analogous to the XML API, and I've added a sample file which can be used to test it out.  Here's the call:
[code]
This assumes you have a copy of the file `TEST_JSON_DATA` in the working directory.

I still need to implement better error handling, and I need to document the JSON format.  But if you understand the XML formatting requ

[2016-03-11 20:57] max-zilla commented on #15
I'm going to close this since files have been created. We should create more issues in the /documentation repo as we have specific needs. I will create one to address action items from this issue -
https://github.com/terraref/documentation/issues/5

[2016-03-11 20:57] #15 closed

[2016-03-11 21:45] #40 closed

[2016-03-11 21:46] dlebauer commented on #40
see #68

[2016-03-11 21:55] dlebauer commented on #38
@czender : please create additional issues, add documentation / links to scripts in github.com/terraref/documentation (make a new file called hyperspectral_data_pipeline.md or similar and then close this

1. how does this tie into bigger picture?
  * where should files land, where should the outputs go?
  * inputs: `/projects/arpae/terraref/raw_data/lemnatec_field/`
  * outputs: `/projects/arpae/t

[2016-03-11 21:56] #27 closed

[2016-03-11 21:57] dlebauer commented on #17
do we want to use ADS? David and Rob need to discuss if this is still applicable

[2016-03-11 21:58] #2 closed

[2016-03-11 21:59] rachelshekar commented on #57
duplicate

[2016-03-11 21:59] #57 closed

[2016-03-11 22:03] rachelshekar commented on #43
Embed documentation with source code
Have process that runs over it and generates document
Talk to @robkooper

[2016-03-11 22:05] #11 closed

[2016-03-14 23:28] czender commented on #38
An alpha version of the pipeline now exists. As requested, I will close this issue and open a new issue at terraref/documentation#6

[2016-03-14 23:28] #38 closed

[2016-03-15 19:50] rachelshekar commented on #19
https://docs.google.com/document/d/1UtbhumdL9VPGaoVlkos_s2WkUvosZTBwJr2ea1UMCuk/edit

[2016-03-15 19:50] #19 closed

[2016-03-16 16:43] max-zilla commented on #62
Assigning this to myself because I'm working on it now.

Not currently sure where the components of this will go (standalone service? hooks to some Clowder plugin? etc.) but I've created a Clowder branch for now:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/browse?at=refs%2Fheads%2Fglobus-status-checker

[2016-03-16 18:05] robkooper commented on #62
Should be standalone i think. We can put this in the scripts folder here in computing-pipeline. It will use the clowder api, but that is it.

[2016-03-16 18:09] dlebauer commented on #62
Standalone if possible - except where it is onerous or interferes with the scientific goals of the project, we should keep pipeline components modular and reusable.

[2016-03-16 18:41] max-zilla commented on #62
Roger that. Moved the code to a branch of computing-pipeline and deleted the clowder branch.

https://github.com/terraref/computing-pipeline/tree/globus-monitor-api

[2016-03-16 19:24] yanliu-chn opened #75 "Spatial image processing software tools and methods investigation"
@solmazhajmohammadi, @czender  , Yan, and Xingchen are investigating the spatial image processing capabilities needed in this project and software and methods available to provide the capabilities.

We set up a [wiki page](https://github.com/terraref/documentation/wiki/Georeferencing-software-for-TerraRef-geoimages) to document the findings.

This ticket is created to coordinate the investigation.

[2016-03-16 19:29] yanliu-chn commented on #75
We will ask Liujun Li, postdoc at cybergis center, to do a presentation and demo of the current UAV data pipeline prototype in another project during Purdue group's visit on March 31. @rachelshekar will put the presentation on the agenda.

[2016-03-16 20:42] gsrohde commented on #52
@dlebauer , @robkooper , @doracai (and @max-zilla): I've put some sample queries using recent extensions to the query API into bety issue https://github.com/PecanProject/bety/issues/381.  You might want to at least take a look before the meeting tomorrow.

[2016-03-17 15:12] #66 closed

[2016-03-17 15:54] dlebauer opened #76 "Develop testing and continuous integration framework"
Implement and document a framework for testing and continuous integration.

Features
* Test that pipeline works, that each component produces expected outputs from test input files
* Test that outputs meet data product specifications
* Tests should be modular

Structure:

* `test.sh` file and test data (if necessary) for each component of the pipeline
* `test.sh` in root directory points to each t

[2016-03-17 16:01] #39 closed

[2016-03-17 16:16] dlebauer opened #77 "Add API section to documentation"
Should include pointers to BETYdb, Clowder and any other API documentation (with a few examples)

[2016-03-17 16:18] dlebauer commented on #71
I think everyone who needs access to Roger has it, others have access to data via Globus

[2016-03-17 16:18] #71 closed

[2016-03-17 16:19] dlebauer commented on #70
@yanliu-chn or @pless do you have some sample images that Solmaz can start working with?

[2016-03-17 17:09] yanliu-chn commented on #70
@dlebauer : I think the sample images need to be from the field/indoor scanners this project has. For software evaluation purpose, each software should have its test datasets.

[2016-03-17 17:25] dlebauer commented on #70
@rjstrand is the wheat canopy closed (or close enough)? [The live stream suggests 'perhaps'](https://www.youtube.com/watch?v=Pp6IdkPtFC8)

@solmazhajmohammadi presumably you can get to the sample data on roger - either via ssh or globus, currently we have data from the following sensors:

- stereoTop
- VNIR
- stereoEast
- ps2Top
- SWIR
- flirIrCamera

will one of those work?

[2016-03-18 18:30] dlebauer opened #78 "Deploy BETYdb API to TERRA instances"
Scott just committed the v0 API to the BETYdb master  branch https://github.com/PecanProject/bety/commit/494767e03af17dc33eb590eba3367da90af34823

Please:

* Create a new release
* deploy these to the existing TERRA instances of BETYdb (mepp, terra-test, and terra-ref)

@robkooper when will the test and references instances be migrated to their more permanent location (#65)?

[2016-03-21 19:53] max-zilla opened #79 "Complete Gantry -> Globus pipeline"
@jdmaloney and I met today to discuss the remaining pieces of the puzzle for getting data from gantry -> globus -> NCSA. We were talking about who should do what and I wanted to start by writing things up. There are two main components:

**1 MAC transfer initiator**
This will track files coming from the gantry. It should monitor the place on disk where files are being sent, and periodically initia

[2016-03-22 13:46] max-zilla commented on #79
Thought about this last night, and I think we might be able to use a good chunk of my code for 2 with some modifications to address 1 as well.

2 has methods for tracking the status of file transfers including flags (i.e. IN-PROGRESS, FAILED, SUCCEEDED) and writing those to disk in a logfile every second. A similar process could monitor the directory structure where the gantry files are being stor

[2016-03-23 14:42] dlebauer opened #80 "Integrate secondary MAC Irrigation and met data streams"
Pedro is setting up two new data streams:
### Irrigation data:

basestation with web interface. I think http://www.baselinesystems.com/products.php/basemanager-central-control (please confirm with Pedro)

Data types:
- Flow rate
- Pressure
- Irrigation performance
- Soil moisture
### Weather station

Independent from Lemnatec data stream. Will be captured in field by Campbell data logger
## TODO
-

[2016-03-23 23:17] robkooper commented on #79
We need to know when the file transfer is finished. We can probably use IN_CLOSE_WRITE of inotify, but the problem is that inotify does not do recursive checks. I ran into this problem with crashplan where it needs to put an inotify on each folder and each file to know when a file is modified, or a new folder/file is added. The result is that the sytem ran out of inotify handles.

One other option

[2016-03-24 01:21] dlebauer commented on #79
Just to clarify, is (2) being implemented in #62?

[2016-03-24 01:29] robkooper commented on #79
yes

[2016-03-28 19:48] dlebauer commented on #70
@solmazhajmohammadi does the wheat data that we have on Roger meet your needs here? If so, can this be closed?

[2016-03-28 19:53] solmazhajmohammadi commented on #70
I took couple of images from grass and used it. But I still need hyperspectral data (with 30% overlapping).

[2016-03-28 19:55] dlebauer opened #81 "Add hyperspectral data extractor to pipeline"
The steps for converting the sensor binary output to a netcdf data product are documented (https://github.com/terraref/documentation/blob/master/hyperspectral_data_pipeline.md).

Next steps:

* [ ] Create extractor (docker image?) contact @czender w/ questions (#86)
  * requires development version of nco installed, on Roger or in Docker container (?)
[code]
* [ ] add converter to Clowder
* [ ] ru

[2016-03-28 21:01] max-zilla commented on #79
I can give an update this week, but I have some big chunks of this done. the code is in my branch here: https://github.com/terraref/computing-pipeline/tree/globus-monitor-api/scripts/globusmonitor

**1 MAC transfer initiator**
```gantry_monitor_service.py, config_gantry.json```
- I have a service that will monitor a folder on disk for new files.
- When new files are ready, this will add them to th

[2016-03-28 22:26] dlebauer commented on #79
I'll answer based on the way the raw data are being written out, which was discussed in terraref/reference-data#2

metadata will be provided for each 'dataset'. A 'dataset' is defined as a single time point captured by a single sensor (or group of related sensors in the case of, e.g. weather data and stereo cameras). see terraref/reference-data#2

Lets start with the assumption that we send at lea

[2016-03-29 04:12] dlebauer commented on #65
@robkooper is there anything blocking this? Or anything that JD, Scott, Max, or I could do to move this forward?

[2016-03-29 14:07] max-zilla commented on #79
That helps, @dlebauer.

I don't think there's a reason to split up datasets unless datasets start to get extremely large which seems unlikely. The remaining question would be how a dataset is recognized as ready to transfer on the gantry side - "once the whole directory is available". One file in a ds could exist for 15+ minutes before another file has completed transfer - we don't want to process

[2016-03-29 15:08] dlebauer commented on #79
@max-zilla how about assume folder at time t is finished when when the folder at time t + 1 is created?

[2016-03-29 15:49] robkooper commented on #79
This would not work since that would leave the last folder of the day pending until the next day.

[2016-03-29 15:54] robkooper commented on #79
I think we should allow for files to be added to the dataset. We can find the dataset based on some metadata we store with the dataset. This way we can upload a file and add it to a dataset that was created earlier.

[2016-03-29 16:48] max-zilla commented on #79
I would propose this general process:
```/gantry/sensorname/YYYY-MM-DD/YYMMDD_HHMMSS/file.bin```
- once a file is ready in gantry, look at folder path to determine sensor and timestamp (YYMMDD_HHMMSS). <sensor> <timestamp> will be name of dataset.
- queue file for transfer in globus. POST transfer details to NCSA monitor API, including dataset name the file should go into.
- if we find a JSON file

[2016-03-29 16:53] dlebauer commented on #79
That sounds good, but the met / environmental data is sent as .json files (terraref/reference-data#26). We could use a rule the file is called `metadata.json` (or perhaps `metadata*` is better)

[2016-03-30 14:30] dlebauer opened #82 "Integrate second weather station and irrigation monitor into data stream"
There is a second weather station and irrigation control / logger at the MAC station.

This is outside of the Lemnatec Scanner data stream. It has a wifi connection. These data should be transferred to cache server then over globus to Roger. These will be converted to a common weather data product following terraref/reference-data#3

[2016-03-30 14:35] dlebauer commented on #82
duplicate of #80

[2016-03-30 14:37] #82 closed

[2016-03-30 15:49] robkooper commented on #65
vacation and the fact that I can load a blank BETY for some reason. Troubleshooting this tomorrow (Thursday).

[2016-03-30 20:39] jdmaloney commented on #16
Performance seems to be within expectations, transfers at this point are running at 80%+ network capacity with minimal tuning.  Closing issue.

[2016-04-01 21:20] max-zilla commented on #79
Just created a pull request this afternoon with initial code. It'll still need some polish but I think it's close to ready.

[2016-04-04 14:48] max-zilla commented on #79
@robkooper I want to test the services outside my local environment, but Globus Plus is required for transfer between two personal endpoints. You suggested using either Roger or Campus Cluster - I was able to go through the RSA process and get access to Roger's globus endpoint.

I want to be careful in the next step. I can SSH into Roger and git clone the computing-pipeline repo to get my script i

[2016-04-04 15:29] dlebauer commented on #79
Did you try `qsub -I` for interactive node?

@jdmaloney or @yanliu-chn thoughts?

[2016-04-04 15:33] robkooper commented on #79
@max-zilla use openstack to create a docker image. You should be able to use the existing coreos image we have for the toollauncher (running on nebula) or you can create a new coreos on roger and launch it there.

You can monitor the data going to roger, but you can not transfer it there using your code (unless you get the secrets from @jdmaloney for the transfer user). You can however do the tran

[2016-04-04 17:43] jdmaloney commented on #79
@max-zilla I can get you set up to transfer to Roger this afternoon.  I think it would be good to do transfer testing on there directly as that's where we're going to be putting the data.

Speaking of data, I've written a temporary parallel transfer tool that is moving data between the gantry and here for now (we're up to 5.4TB of data, and now accumulating multiple TB a day, the gantry seems to b

[2016-04-04 17:58] max-zilla commented on #79
@jdmaloney I was actually planning on transferring from Roger -> my laptop endpoint as the test so I wouldn't need to write to roger right away, but would be good to set that up either way.

[2016-04-05 15:00] jdmaloney commented on #79
@robkooper @dlebauer I just stopped by and talked to @max-zilla I found a handy bit of information this morning.  The program linux uses for setting up the ftp server (vsftpd) has the built in ability to log incoming and outgoing transfers.  I've had this logging on since Day 1, and it prints the full path for the transferred file in the log as well as the completion status of the transfer (either

[2016-04-05 15:03] max-zilla commented on #79
And the logfile that @jdmaloney describes should mean we don't need to ask LemnaTec to modify their transfer script - the FTP action will appear in the logfile regardless and we can just initiate transfers based on that.

Only question would be, how big will that logfile get, when are things purged from it, best way to avoid duplication of transfer. Do we think about e.g. every week moving the log

[2016-04-05 15:17] jdmaloney commented on #79
@max-zilla I can set it up with logrotate.d so that every day a new log file is created and the old one is either moved over (newest log file is just xferlog, all others are xferlog-yyyymmdd), or both moved over and compressed to save space.  Both are very easy, just a couple lines in a conf file.  This way your script only has to consider a day at a time, would that be beneficial?

In terms of si

[2016-04-05 15:39] max-zilla commented on #79
@jdmaloney do you control the ncsa#roger-gantrytest globus endpoint? I'm running into trouble initiating transfers in python from ncsa#roger - I get a 409 Conflict expired credentials error, as far as I can tell it's because Roger has this as ID provider:
[code]
...while the globus test endpoint I've successfully used before in a similar way is:
[code]

Their Oauth documentation talks about web ap

[2016-04-05 18:00] jdmaloney commented on #79
@robkooper @max-zilla Just wanted to update the thread.  Max and I talked about the above comment.

Also I just finished analyzing the logs from the gantry over the past couple days.  Lemnatec is doing a fairly continuous dump of the EnvironmentLogger data, however, all the moving sensor data (the vast majority of data) kicks off around midnight and continues until it is finished dumping that day'

[2016-04-05 18:18] dlebauer commented on #79
@markus-radermacher-lemnatec at what frequency are you planning to dump sensor data?

[2016-04-05 18:20] dlebauer commented on #79
@jdmaloney where is the log file?

Do you or @markus-radermacher-lemnatec know what sensor(s) are producing the large number of files?

[2016-04-05 18:43] jdmaloney commented on #79
@dlebauer Log file is at /var/log/xferlog on the gantry cache server; below is a snapshot of the sensor data quantities at this time.  This is an accumulation of all data gathered so far.

![uploads/d065ad2a-5960-4a07-8006-fdde0e0a31cb/Screen Shot 2016-04-05 at 1.44.06 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2Fd065ad2a-5960-4a07-8006-fdde0e0a31cb%2FScreen+Shot+2016-04-0

[2016-04-05 19:18] jdmaloney commented on #79
@dlebauer Misread your question, file counts are now below as well.  File count is actually just shy of 1.1 million

![uploads/0ca1817d-0bc0-414a-b258-480362cb1ffe/Screen Shot 2016-04-05 at 2.18.07 PM.png](https://s3-us-west-2.amazonaws.com/prod.huboard.com/uploads%2F0ca1817d-0bc0-414a-b258-480362cb1ffe%2FScreen+Shot+2016-04-05+at+2.18.07+PM.png)

[2016-04-06 13:46] dlebauer commented on #55
@jdmaloney could you work with @markus-radermacher-lemnatec to clarify what he will need to add and develop Lemnatec software as part of our pipeline?

[2016-04-06 14:52] jdmaloney commented on #55
@dlebauer @markus-radermacher-lemnatec Just talked to @robkooper and Dan Lapine on this.  The two approaches above (VM vs machine on site) are at the following stages:

General: Mounting ROGER's file system to Windows is not straight forward.  Samba(windows native protocol) export capabilities on ROGER will not be available until we move to Spectrum Scale 4.2 on ROGER which is looking to be a Late

[2016-04-07 14:04] max-zilla commented on #63
This was merged and is currently the means by which incoming Globus files are added to Clowder in the gantry -> Clowder pipeline - #83

Closing issue. Adding a note in the documentation issue 5 to get this documented as well:
https://github.com/terraref/documentation/issues/5

[2016-04-07 14:04] #63 closed

[2016-04-11 22:56] JeffWhiteAZ opened #84 "Quality control for initial assessment and planning"
Below are some initial thoughts on QC for data acquired via the scanner. From a Maricopa perspective, we want a quick way to know whether data were obtained from the right plots and whether values pass an initial quality check. This is to detect errors in the control scripts and to detect possible issues with sensor alignment/focus/sensitivity/calibration etc.
## Quality Control during Data Acquis

[2016-04-12 15:30] dlebauer opened #85 "Create full field stitched mosaic"
For purposes of QAQC, a rough and imperfectly aligned mosaic of the full field.
- [x] Create a script that will process and align RGB images. Can be rough and low res
- [ ] Add to pipeline
- [ ] Add basic QAQC analysis

[2016-04-14 15:43] dlebauer opened #86 "Test bil --> netcdf converter and build Clowder extractor"
@yanliu-chn and @czender

* Need to test the script [terraref.sh](https://github.com/terraref/computing-pipeline/blob/master/scripts/hyperspectral/terraref.sh) on SWIR and VNIR sample data in the roger environment
  * Give the raw image file, takes raw image & assumes header + metadata will be present, then chews away.
  * Parallelized to take a bunch of images, will spawn a bunch of images & put

[2016-04-14 15:47] yanliu-chn commented on #86
@czender : Charlie, if you could send the following information to yanliu@illinois.edu , I can then go ahead to set up your account on ROGER cluster:
your organization name and mailing address (for sending NCSA paperwork)
phone number
org email adress

[2016-04-14 16:00] max-zilla commented on #79
email update from 04/12:

JD and I had discussed Thursday as a possible point to pause the manual transfer from the gantry and try to slide in my monitor code. To that end, I’m trying to test the heck out of it with as many edge cases as possible, but generally the sooner the better to start getting things working at the other end while the data is less critical if we lose a file here and there.

[2016-04-14 16:38] max-zilla commented on #79
Todos that remain which may not be done before first rollout:
- Collate the Environmental Logger JSON files. There are a ton of these and they're small - either LemnaTec or us should combine these into one longer file before transmission.
- Refinement of Clowder organization - are there additional collections/spaces that should be created from metadata? Rob and I discussed a 'smart collection' not

[2016-04-14 18:05] dlebauer commented on #79
Proposed changes to the environmental logger file are listed in issue reference-data#26

[2016-04-14 18:46] czender commented on #86
Done

[2016-04-14 18:57] dlebauer opened #87 "Create daily process to compress and archive gantry data"
- Each day, compress and move raw gantry data to near-line tape storage
- Keep redundant copy on Roger
- Can delete the original data (that has been compressed and has copies on roger + near line tape)

[2016-04-14 22:04] czender opened #88 "Convert hyperspectral exposure image to reflectance"
This is a draft algorithm to retrieve spectral reflectance based on my understanding of the (possibly soon-to-be) available inputs. Suggestions and correction welcome (the more specific, the better). For simplicity, the algorithm description currently omits the time dimension. It is implicit in all quantities below except rfl_wht.

NOTE: proposal below has been migrated to documentation which supp

[2016-04-14 22:14] dlebauer commented on #79
Answers regarding Globus from @bd4 (via email):

and/or destination endpoints, likely because the credentials they were
activated with have expired. It's a confusing name, but it's
referring to the endpoint activation credentials, not the credentials
used to authenticate to the REST API.

endpoint, for the entire user identity. This means that if you use an
endpoint via www.globus.org, you will en

[2016-04-14 22:23] yanliu-chn commented on #86
I have submitted the request to set up an NCSA account for you. Will let you know when it's done.

[2016-04-15 15:20] yanliu-chn commented on #86
@czender  NCSA account created. Paperwork will be sent to you today shortly.

[2016-04-15 16:41] max-zilla commented on #79
I'm going to look into using
```api.endpoint_autoactivate(<endpoint_id>)```
when this error is encountered to hopefully avoid the endless error state I was running into before.

[2016-04-15 17:01] bd4 commented on #79
Autoactivate will help, in that it will use credentials available for other endpoints if available. For example, if you have used one XSEDE endpoint on the web and activated it, any other XSEDE endpoint can be autoactivated, by copying the credential to the second endpoints activation record. This is basically a hack to make activation look more like it's per identity provider, when the model we c

[2016-04-15 20:05] max-zilla commented on #79
@robkooper @dlebauer
After a few last-minute things that needed to happen, the plan is for JD and I to switch over to my gantry monitor service on Monday morning.

@jdmaloney  – you installed docker already, so on the cache server here's what we need to do.

Copy over a prepared version of **config_custom.json** with some key parameters filled in - I'll leave a 2nd comment to address this. The fol

[2016-04-15 20:25] max-zilla commented on #79
**GANTRY SIDE**
The script will load parameters from config_default.json, then update any overrides from config_custom.json. The default values I think we can avoid changing:

[code]
...and the ones we might want to override:
[code]

**ROGER SIDE**
Same deal, the few default params that work:
[code]
...and ones to change:
[code]

[2016-04-19 15:37] max-zilla commented on #79
Monitors are currently running, but there won't be much activity over the next couple days while they plant in the field it sounds like.  We're going to try a couple FTP tests in the meantime.

Once the basics are confirmed functioning, there are still refinements to be made. One is to make sure the FTP logs are being archived/handled as expected. right now code expects "xferlog", "xferlog-1", "xf

[2016-04-19 19:28] max-zilla commented on #79
I wrote up the deployment process in a google doc for now:
https://docs.google.com/document/d/1TxBOgaJBYd5YA-c0J2B11XU4Vm_jYc1PPgpeSLmAQD4/edit?usp=sharing

[2016-04-19 20:40] max-zilla commented on #79
And the pull request for the new monitor code (in the computing-pipeline repo) is here: https://github.com/terraref/computing-pipeline/pull/83

[2016-04-21 17:10] yanliu-chn opened #89 "opendap exploration on subsetting netcdf"
Explore the online way to subset a big netcdf in order to query partial data/metadata out of it.

See THREDDS Data Server Documentation here: http://www.unidata.ucar.edu/software/thredds/current/tds/TDS.html

[2016-04-21 17:26] robkooper commented on #64
One command that used to convert some of the raw data is:
[code]

[2016-04-21 17:42] dlebauer commented on #64
@robkooper thanks. That looks like a good first step, additional steps for this issue include:

1. creating geoTIFF.
  * presumably requires subsequent step with gdal or similar
  * also requires knowledge of image extent
2. thumbnail generation:
  * Does Clowder already have a thumbnail extractor that we can use?
  * Or, what resolution or max pixel count do you recommend? to handle sensors with

[2016-04-21 17:56] dlebauer opened #90 "Clowder user roles"
1. What privileges should we provide users? They should be able to use the system, add metadata, create tools and collections but not delete or modify existing information.
3. To prevent accidental corruption of the data stream, would it be worthwhile to give anyone who has delete / edit permissions two accounts, one for editing / deleting and the other for viewing / annotating?  (is there ever a

[2016-04-21 18:03] robkooper commented on #90
in general you can only delete that which you are the owner of. So you can not delete something that I did (unless you have super powers see https://opensource.ncsa.illinois.edu/jira/browse/CATS-486)

[2016-04-21 18:05] robkooper commented on #64
yes clowder uses imagemagick to do this. One option which makes it easier is to make an extractor that will look at the metadata for octet-stream files and convert them to an image that is attaches as preview to the file.

[2016-04-21 21:19] czender commented on #86
i received the password. how do i ssh to the roger cluster? i.e., what's the address of the login node?

[2016-04-21 21:34] dlebauer commented on #86
the login node is roger-login.ncsa.illinois.edu

On Thu, Apr 21, 2016 at 4:19 PM, Charlie Zender <notifications@github.com>
wrote:

[2016-04-21 21:45] czender commented on #86
roger does not accept my password. old or new, doesn't matter. do i actually have an account?
zender@roger-login.ncsa.illinois.edu's password:
Connection closed by 141.142.169.31

[2016-04-21 22:32] czender commented on #86
my password started to work an hour later, everything's ok now

[2016-04-21 22:35] yanliu-chn commented on #86
it should work now. I just added your account to ROGER.

[2016-04-22 17:18] czender commented on #86
is there project disk space I should use?
pipeline needs volatile space for intermediate datasets (e.g., /tmp), and a few GB to permanently store sample data for pipeline testing.
where are the realtime/latest lemnatec data (expected to be) stored?

[2016-04-22 17:51] yanliu-chn commented on #86
/projects/arpae is the project space
/gpfs_scratch/arpae is the scratch space. you can use as temp space.

@dlebauer @jdmaloney could you help answer the question of realtime lemnatec data location?

[2016-04-22 18:11] czender commented on #86
i found the raw lemnatec data in, e.g., /projects/arpae/terraref/raw_data/ua-mac/MovingSensor/VNIR. next question: where to put output from hyperspectral workflow?
options:
1. alongside input (add a .nc file to existing directory)
2. dedicated directory somewhere else that does not touch input directories, e.g., /projects/arpae/terraref/hyperspectral_workflow_output
3. other?
what say ye?

[2016-04-22 18:51] yanliu-chn commented on #86
I vote for 2.

[2016-04-22 19:18] dlebauer commented on #86
2 is good.

* 1 is out because `/projects/arpae/terraref/raw_data/` is read-only by design
* additional thoughts on 2, 3
  * maintaining some consistency in directory would make it easier to find and abstract file paths, for example, `/projects/arpae/terraref/raw_data/ua-mac/MovingSensor/VNIR/2016-04-11` has structure `$PROJECT/<data_level>/<site>/<sensor_class>/<date>` that for a derived level 0

[2016-04-22 19:25] czender commented on #86
hyperspectral workflow is installed and breaks when it can't find python netCDF4 module (yes i tried module load python and pythonlibs). hints on how to find it or use it would be appreciated (i'm a novice at python) or please someone who's a python guru install it in a central location consistent with the "module load python" paths...

[2016-04-22 20:00] yanliu-chn commented on #86
could you try "module load gdal-stack"? it loads netcdf4 correctly.

[2016-04-22 20:04] yanliu-chn commented on #86
is python module for netcdf a separate software not included in netcdf source code?

[2016-04-22 20:04] czender commented on #86
yes

[2016-04-22 20:07] yanliu-chn commented on #86
i will install it as soon as possible.

[2016-04-22 20:09] yanliu-chn commented on #86
what else does the code depend on? i will install them too.

[2016-04-22 20:15] jdmaloney commented on #86
Just got back in town from Globus to come to a 3pm meeting (my fill in had to leave as his wife had a baby today...legit excuse).  I definitely think Option 2 is the best, something like: /projects/arpae/terraref/processed_data/ua-mac/..... to keep things consistent.  Keeping all derivative data separate from the raw (for all processing, not just hyper-spectral) should be a template going forward.

[2016-04-22 20:24] czender commented on #86
Thanks, @yanliu-chn. Only thing missing is Python's netCDF4 module. It would also be helpful for system NCO to be updated. module load nco gives version 4.5.1, which is pretty old. 4.5.9 is latest stable version.

I don't have write permission in /projects/arpae/terraref. Ping me when there's a writable directory for the hyperspectral workflow output and then I'll make that the default...

[2016-04-22 20:29] yanliu-chn commented on #86
@dlebauer what is your policy for the write permission to /projects/arpae/terraref ? can we make it writeable by group but make subdir in it writeable by only owner for readonly dirs?

[2016-04-22 20:56] dlebauer commented on #86
@yanliu-chn I like your suggestion and also defer to others (like you and JD) with more knowledge and experience

So we can go with:

But regarding the subdirectories: I think very restricted access to the `raw_data` and `processed_data` folders would be ideal. By very restricted, perhaps `raw_data` only writable by root and globus, and `processed_data` only by root and clowder. Specifically:

1.

[2016-04-22 21:08] czender commented on #86
Yes, that works for me. Default will be /gpfs_scratch/arpae/imaging_spectrometer. Clowder would just need to use the option: -O /projects/arpae/terraref/processed_data/subdir/subdir...

[2016-04-22 21:11] czender commented on #86
@yanliu-chn try this, if you dare:
module load anaconda
sudo conda install netcdf4

[2016-04-25 17:25] yanliu-chn commented on #86
i didn't dare to do that. :) on the cluster, all the software packages are installed as non-root to support modules system.

I have installed python support for netcdf5, also upgraded nco to 4.5.5. I didn't find 4.5.9 src tarball.

if you do `module load gdal-stack nco`, you will load pythonlibs/0.2 which includes netCDF4 python. let me know if it works.

[2016-04-25 17:54] czender commented on #86
Thanks, @yanliu-chn. However, the Terraref workflow requires Python 2.7+. /usr/bin/python is 2.6.6 (too old). module load python gives 3.4.4 (fine). The netCDF4 that comes with gdal-stack seems to be installed against 2.6.6, so is unusable the Terraref workflow. Unless I am doing something wrong? In any case, need help getting python 2.7+ at same time as netCDF4 python module.

[2016-04-25 17:58] yanliu-chn commented on #86
let me build a version using 2.7+

[2016-04-25 18:22] yanliu-chn commented on #86
done. could you do "module load gdal-stack-2.7.10 nco" and test if it works? or you can give a test command and I can try that first.

[2016-04-25 18:34] czender commented on #86
Progress. it fails, but it breaks somewhere new (that you might be able to fix). first, the test command is...
terraref.sh -d 1 -i ~zender/data/terraref/whiteReference_raw -o whiteReference.nc
where terraref.sh =
https://github.com/terraref/computing-pipeline/tree/master/scripts/hyperspectral/terraref.sh
Second, here is the failure output I get:
zender@cg-gpu01:~$ !terraref.sh
terraref.sh -d 1 -i

[2016-04-25 18:50] yanliu-chn commented on #86
could you do "module purge" first before module load? I ran the last debug line `python /home/zender/terraref/computing-pipeline/scripts/hyperspectral/JsonDealer.py /home/zender/data/terraref/whiteReference_raw /gpfs_scratch/arpae/hyperspectral_imager/terraref_tmp_jsn.nc.pid24628.fl00.tmp` and it worked.

[2016-04-25 19:39] yanliu-chn commented on #86
i guess the module load command needs to be included in ~/.bashrc .

[2016-04-25 21:21] czender commented on #86
yes, it works now that i put "module load gdal-stack-2.7.10" directly in the script. in general, do not load the nco module yourself because the script points to the latest NCO in my home directory, and the terraref.sh script may rely on some more recent features. users of terraref.sh need not load any modules by hand. running some benchmarks now. thanks for your speedy help, yanliu.

[2016-04-26 03:10] yanliu-chn commented on #86
glad that it works now.

[2016-04-26 17:51] nfahlgren commented on #31
@dlebauer @gsrohde @robkooper @max-zilla I have a script setup now that can be run by the Clowder extractor (in theory). It takes an RGB and NIR image as inputs and also needs the "perspective" metadata value from Clowder (side-view or top-view). It currently spits out a table-like raw output, but it would be easy for me to reformat it. What is the best way I can output data for both Clowder and B

[2016-04-26 17:59] dlebauer opened #91 "Setup dedicated, replicated mongo server for Clowder"
In order to prevent data loss and, set up a dedicated mongo database server for use with the Clowder instances.

[2016-04-26 18:12] dlebauer commented on #31
I think we decided to put the data in tabular (csv?) format. @gsrohde is writing the data importer that will convert the table to the xml format required by BETYdb. BETYdb will then be able to export as json, xml, or a table.

I would like to re-visit the idea of running this on the same Clowder instance as the field scanner, mostly because it will reduce the number of different instances we have

[2016-04-26 19:21] nfahlgren commented on #31
If the script output a CSV file, would it need to be explicitly added to Clowder? Or I guess in other words I'm not necessarily certain how Clowder captures the output or whether I need to post it.

[2016-04-26 19:26] yanliu-chn commented on #31
@nfahlgren , could you give some details about the new script? the git branch version, script location, sample run commands, sample data, etc.? that way, @caicai89- can pick it up and start working on integrating into plantcv extractor.

[2016-04-26 19:33] nfahlgren commented on #31
@yanliu-chn the new script relies on the latest development version of PlantCV: https://github.com/danforthcenter/plantcv/commit/ead12f2b97deb082e2d5d7181463b34f78cc9a89. I just pushed the draft version of the script to the computing-pipeline repository here: https://github.com/terraref/computing-pipeline/blob/master/scripts/plantcv/PlantcvClowderIndoorAnalysis.py. In addition to needing the Plant

[2016-04-26 19:38] dlebauer commented on #31
@robkooper can you address this? I think that the csv file should be explicitly added to Clowder, and that the code that inserts into BETYdb will need to find the csv file and the metadata file.

[2016-04-26 19:47] yanliu-chn commented on #31
@nfahlgren @dlebauer how do I know if an NIV or VIS image is a top or side view?

@caicai89- Yaping, on ROGER, please check out Noah's plantcv version and the script mentioned above. We have a few sample images in /gpfs/largeblockFS/scratch/arpae/plantcv-input/samples/ . To set up opencv and plantcv environment, please refer to /gpfs/largeblockFS/projects/arpae/sw/extractors-plantcv/bin/extract.sh

[2016-04-26 21:29] yanliu-chn commented on #31
in image metadata:
- camera_type differentiates NIR or VIS
- perspective tells top-view or side-view
- rotation_angle: number

Rule to pair two images as input to Noah's script: camera_type is different; rotation_angle must be the same; perspective must be the same. Each snapshot currently contains 10 images. The pairing process should create 5 pairs and call Noah's script 5 times.

e.g.: http://1

[2016-04-26 22:33] yanliu-chn commented on #31
Summary for the discussion with Noah and Luigi:

Inside of file extractor, we can access dataset metadata. We can leverage this feature to implement dataset-level plantcv extractor.

We define field in dataset metadata, say plantcv_file_info, as an array. Each element in the array has the following info:
<pre>
{ "fileid": "$fileId", "camera_type": "NIR|VIS", "perspective":  "side|top-view", rotati

[2016-04-26 22:54] nfahlgren commented on #31
@dlebauer @yanliu-chn I just thought of one more thing, do we want to populate BETYdb with data for a plant or the individual images? If we need to aggregate the data from a snapshot (all one plant) then we will need to process the whole Clowder dataset and not just an image pair. We would then post only one result file back to Clowder.

[2016-04-26 23:29] yanliu-chn commented on #31
Either way i guess we have to append the tabular output of each pair to dataset metadata since there is no dataset-level extractor.

[2016-04-27 03:36] dlebauer commented on #31
@nfahlgren the general idea is that BETYdb will hold the 'trait vectors' that could be used in GWAS. It can store data at the subsample, replicate plant / plot, or site level. I think it would make sense to aggregate to the plant level for each time point.

[2016-04-27 15:21] dlebauer opened #92 "data capture logs"
To meet the milestone of 'successful data capture', we need to

* confirm that gantry is collecting all expected data streams
* all of the data being generated by field gantry is making it to roger and made available in Clowder

We need to record:

* what data was transferred, from what sensors, per day
* did all files generated by gantry make it to Roger?
* did all datasets get captured by Clowde

[2016-04-27 15:24] robkooper commented on #92
As a FYI clowder will compute a SHA-512 for every file that you can get.

[2016-04-27 15:27] dlebauer opened #93 "Missing data in gantry stream at beginning of Sorghum trials (04-2016)"
For the Sorghum trial (starting April 20), I am looking at the

The following are generating empty folders:

* co2 sensor
* crop circle
* ndvi
* pri

The following sensors are not generating any folders

* ps2Top
* SWIR
* VNIR
* scanner3DTop

These are currently sending data:

* flir thermal
* stereoTop

Not expected:

* stereo[west, east]
* scanner3D[west, east]

@jdmaloney are these landing on t

[2016-04-27 15:32] TinoDornbusch commented on #93
I am going through the list, sensor by sensor. Will update you in due course of the day.

[2016-04-27 15:46] jdmaloney commented on #93
@dlebauer Many of these sensor, haven't check every single one, have folders on the gantry for yesterday only

[2016-04-27 16:09] dlebauer commented on #93
note that many have folders but no data and that I only looked for data
generated since April 10 in `MovingSensor/*/2016-04-[12]*`

[2016-04-27 16:11] rjstrand commented on #93
Over the weekend, I was drilling down on the Stereo.  It is possible that I did not add the auxiliary sensors back in.  That should be a pretty quick add.

For now, you should also add PSII and hyperspec cameras to the unexpected list.  PSII can only be truly tested at night and that will only be allowed in certain portions of the field.  Hyperspec will also have isolated operation due to both spe

[2016-04-27 16:48] jdmaloney commented on #87
@dlebauer Script written to bundle and compress, launches a batch job on ROGER everyday to bundle the prior day's data (will start this up once our data flow in is stable).  The automation of the send to Nearline is currently be pursued.  While the gantry endpoint, and the terraref endpoint are either personal endpoints or non-two factor endpoints, the Nearline system requires two factor authoriza

[2016-04-27 17:39] nfahlgren commented on #31
@dlebauer makes sense. I wonder if the extractor could just provide the script with the dataset key? Then I can query out the files with the API.

The general format of the output would looks similar to this (but with more traits):
[code]

[2016-04-27 17:47] dlebauer commented on #88
@ashiklom added some comments to the documentation https://terraref.gitbooks.io/terraref-documentation/content/hyperspectral_data.html

but the commenting system doesn't work well so I am pasting them here:

indeed, this appears to be the case here. Not to be confused with the fact that we are using an x,y coordinate system with units of meters east and north of the SW corner of the gantry (see te

[2016-04-27 17:51] yanliu-chn commented on #31
that is possible. @nfahlgren so this output is generated by looking at all 10 images or just 2?

[2016-04-27 17:59] caicai89- commented on #89
http://www.unidata.ucar.edu/software/thredds/current/tds/reference/NetcdfSubsetServiceReference.html

[2016-04-27 18:07] dlebauer commented on #33
@gsrohde

Noah defined the output csv file in terraref/computing-pipeline/issues/31#issuecomment-215169871 as:
[code]

which can be mapped to BETYdb as:

plant_id --> entity
datetime
treatment
genotype --> cultivar
group --> ??
date -->
dap  --> managements (a single entry w/ planting_date = date - days(dap))

the following are traits:

solidity,outlier,sv_area,tv_area,extent_x,extent_y,height_abo

[2016-04-27 18:29] dlebauer commented on #93
@jdmaloney by 'have folders for yesterday only' are you saying that the files have been transferred from the gantry-cache to roger, and are no longer on the cache? I assume that they are only deleted from the gantry-cache _after_ they have been archived to near-line storage (correct?).

[2016-04-27 18:34] jdmaloney commented on #93
So all data through April 7th has been brought to ROGER and Nearline, and cleaned off the cache server.  There was no data sent to the gantry between the 7th and yesterday when data began coming in again.  The data that came in yesterday (and today/going forward) has not been moved anywhere yet as Max's moving program isn't working.  Yes the policy will be to not clean data off the cache until it

[2016-04-27 18:52] dlebauer commented on #87
Has this been implemented? Can you add the script to the repository?

Are there any checks to ensure that it is working, i.e. what happens if it fails?

[2016-04-27 18:57] jdmaloney commented on #87
I haven't made it automatic as I'm waiting for when the data flow is consistent from MAC (Max gets back and we get his code working for a while).  Also there is the issue with the certificates.  Once it all gets ironed out I'll add the code to the repository.  It emails me a summary so I'll know if it breaks.

[2016-04-27 18:57] dlebauer commented on #62
@max-zilla what remains to be done on this issue? What happens when it fails?

[2016-04-27 19:03] dlebauer commented on #36
@nfahlgren one task that remains here is to provide experiment-level metadata. I am not sure what is necessary, but things like planting_date, medium, container size, fertilizer / other treatments, irrigation_rate should be included.

[2016-04-27 19:04] nfahlgren commented on #31
@yanliu-chn that's right, the output would be the result of looking at all 10 images instead of only two. Internally the image pairs would be analyzed together, but the overall results would be aggregated.

[2016-04-27 19:07] dlebauer commented on #37
Closing this now.

Sample data is on iPlant; genomics pipeline will use CoGe as described in https://github.com/terraref/computing-pipeline/issues/41

[2016-04-27 19:10] #37 closed

[2016-04-27 19:13] yanliu-chn commented on #31
@nfahlgren So does it mean you will have a separate script to look at all 10 images? the current script takes one NIR and one VIS as input.

[2016-04-27 19:36] jdmaloney commented on #92
@dlebauer @robkooper  Is a good chunk of this something that should be implemented in Max's code?

[2016-04-27 19:48] dlebauer commented on #92
that seems reasonable, as long as we have a fall back or three if the code stops running ...

[2016-04-27 20:07] nfahlgren commented on #31
@yanliu-chn I will modify the current script to read all image files in a given dataset.

[2016-04-27 20:10] nfahlgren commented on #36
@dlebauer right now I added experiment-level metadata to the dataset itself. This is what I added for the pilot experiment, we can add more and edit what's there:

author: Noah Fahlgren
growth_medium: MetroMix360 potting mix with 14-14-14 Osmocote
title: Sorghum Pilot Experiment - Danforth Center Phenotyping Facility - 2014-05-27
project: TERRA-REF
instrument: Bellwether Phenotyping Facility
locat

[2016-04-27 20:44] yanliu-chn commented on #31
Cool. Where should we do the pairing, inside or outside of your script? That's equivalent to ask what should be the new input parameters the script takes. They can be either paired NIR/VIS array or an array of image files, each element in the array having filepath, perspective, camera_type, and rotation_angle as attributes.

[2016-04-27 21:25] TinoDornbusch commented on #93
Brought all environmental sensors online and made by-eye evaluation. Look OK at first glance.

First tests with SWIR and VNIR running.

3D still not working in triggered mode and calibration data from Fraunhofer missing.

Please do not move data. I need to evaluate.

[2016-04-28 03:47] czender commented on #88
Good questions. x and y are currently pixels. when the transformation is available from pixel to geographic horizontal dimension we may change from x,y to lat,lon or some other system like the gantry x,y.

White reference in theory only has a wavelength dimension but in practice the one snapshot (called whiteReference) I know of is dimensioned wavelength by x. it's as if the camera scanned only on

[2016-04-28 06:10] dlebauer commented on #36
What about

* genotypes
* watering and weighing logs
* anything else that could help interpret the data?

[2016-04-28 12:51] TinoDornbusch commented on #88
Who of you is expert in hyperspectral analysis? My current idea is to do the dark reference measurement before each scan and have the white target mounted on the gantry, such that one part (~10%) of the image is always "white".
Any other ideas on that?

[2016-04-28 14:08] TinoDornbusch commented on #36
Please continue evolving the experiment meta data structure. I will update here. Regarding experimental details I need input from experimentators in Maricopa.

[2016-04-28 14:52] #61 closed

[2016-04-28 15:04] czender commented on #88
Glad to know there is a dark reference available too. I can modify the calibration algorithm to account for that.

[2016-04-28 15:50] rachelshekar opened #94 "test hyperspectral extractor"
Hyperspectral workflow ready to be triggered by "extractor"

talk to @czender for more info

[2016-04-28 20:09] pless commented on #88
My understanding of the headwall VNIR sensor is that the sensor has a grid
of pixels.  The x-axis of the grid of pixels are all the same, but as you
move up the sensor, the y-axis of the pixels are sensitive to difference
frequencies.  The "lens" of the camera may not look like this, but you can
think of it as a slit that is capturing the world one row at a time.

This slit is rotated in order for

[2016-04-28 20:18] TinoDornbusch commented on #88
In Scanning mode the mirror is always at position 0 and does not move. Therefore you have the entry "use rotating mirror":0.

[2016-04-28 21:18] TinoDornbusch commented on #36
Any idea how to include the imaging script (text file) in the meta data?

[2016-04-28 21:27] nfahlgren commented on #36
The metadata is currently uploaded as JSON but I need to update it to JSON-LD eventually. In the JSON-LD file I can provide links to the sources of the information. One new metadata value could be the processing script information with a link to the version (on GitHub) that was used.

[2016-04-28 21:39] nfahlgren commented on #31
@yanliu-chn I am not sure what is the best method, from a Clowder point of view. I suppose it is partly a matter of where we want to put more or less computation, what is most robust as far as flexibility across experiments, what is more likely to need updating later, etc.

All of the following would work I think:

1. The extractor would input the Dataset key to the PlantCV script, the script woul

[2016-04-29 08:36] markus-radermacher-lemnatec commented on #88
Danke für die Klarstellung, du hast genau recht, die Start/Stop Einstellungen sind irrrelevant, wenn der Spiegel nicht benutzt wird.
-Markus

Dipl.-Ing. Markus Radermacher
Teamleiter Software

[cid:LemnaTec_Logo_SW_c3f797e0-9ab6-4657-b308-6834360da5bb.jpg] LemnaTec GmbH
Pascalstr. 59
52076 Aachen
Germany Phone: +49 2408 9383 207
Fax: +49 2408 9383 300
                E-Mail: markus.radermacher@lem

[2016-04-29 15:03] rmgarnett commented on #88
I think that last comment was meant to be a private email, but I'll translate:

Thank you for the clarification.  You're exactly right.  The start/stop settings are irrelevant if the mirror is not being used.

[2016-05-03 15:16] max-zilla commented on #68
@yanliu-chn have there been any updates on this? doesn't seem like the extractor is running yet, or on terraref.ncsa.illinois.edu - we have some data starting to flow into the latter. didn't see the thumbnails being generated on either instance.

[2016-05-03 15:34] yanliu-chn commented on #68
@max-zilla There has been a change on Noah's script on how to process the images. Now that files are uploaded as snapshot dataset. We need dataset-level extractor or 'pseudo' dataset extractor implementation.

This work is ongoing in issue #31 . Could you and @robkooper participate the discussion there? @caicai89- is doing the development work.

[2016-05-03 15:35] yanliu-chn commented on #68
Mon-Wed I'm on vacation. I will be back on Thur.

[2016-05-03 16:28] robkooper commented on #31
@nfahlgren that looks good. Yes you can get all files in a dataset, and this allows us to put more generic metadata at the dataset level, and file specific information at the file level.

As for the CSV files, we can create those and add them to the dataset so we have them there. One of the things we are looking at is the ability to add relation ships, so this could be a good use case for this.

@

[2016-05-03 22:45] nfahlgren commented on #31
@max-zilla @robkooper I'm not sure how to access file metadata using the Clowder API. I can retrieve basic metadata with something like /clowder/api/files/{id}/metadata but how do you retrieve extractor metadata?

[2016-05-04 15:20] dlebauer commented on #56
@robkooper thank you for getting the redirects working, but the redirects fail for API calls, e.g. using terraref.ncsa.illinois.edu/betydb/search?genus=Miscanthus should work but it just redirects to the pecandev url.

@gsrohde it is not clear from the online docs (betydb.org/api/docs) how to construct an API call from the current api docs. e.g. shouldn't https://www.betydb.org/api/beta/citations:

[2016-05-04 15:21] dlebauer commented on #78
@gsrohde it is not clear from the online docs (betydb.org/api/docs) how to construct an API call from the current api docs. e.g. shouldn't https://www.betydb.org/api/beta/citations:50 work?

[2016-05-04 16:21] max-zilla commented on #31
@nfahlgren you should be able to use this to get extracted metadata:
```http://141.142.168.72/clowder/api/datasets/57296731e4b03269d7087fb7/metadata.jsonld```

[2016-05-04 16:39] dlebauer opened #95 "Import map of elevation and electrical conductivity"
This is a first use case for a converter for geospatial data.

I imported a map of electrical conductivity to Clowder. It was provided as .csv, and I converted it to geojson. The idea is that the geojson would be an OGC-compliant geospatial data product.

I created it using ogr2ogr and posted the inputs, outputs, and VRT definition file [on Clowder](https://terraref.ncsa.illinois.edu/clowder/datas

[2016-05-04 16:54] nfahlgren commented on #31
@max-zilla thanks, that worked!

[2016-05-04 17:26] gsrohde commented on #56
It’s https://www.betydb.org/api/beta/citations/50<https://urldefense.proofpoint.com/v2/url?u=https-3A__www.betydb.org_api_beta_citations-3A50&d=CwMCaQ&c=8hUWFZcy2Z-Za5rBPlktOQ&r=oJsSpSeia9tFOpzHxC6EpYUew62qA42qdvjRrEjQywI&m=kzu7Ez0X3KC9Qd3OqSj6iLTBDSWaD1Ey5390aMMSZXA&s=7_0tH66B77bXvraSCM1Ruh4zenIEZ5umbl5Xd-Z3ML8&e=>, and you have to add a query string with key=<your api key>.  I’ve thought about r

[2016-05-04 17:31] gsrohde commented on #78
@dlebauer It’s https://www.betydb.org/api/beta/citations/50, and you have to add a query string that includes `key=<your api key>`.  I’ve thought about removing the requirement for a key so that you could easily view the result in a browser once logged in; or, if using curl, you could use the `-u username:password` option instead of a key.  Though, actually, if you are logged in, even a bad key (o

[2016-05-04 19:57] dlebauer commented on #78
This is where examples come in. I can't recall - does apipie and / or the testing suite provide a framework for this?

The other bit that is not clear to me is how to chain parameters together multiple parameters.

[2016-05-04 21:16] caicai89- commented on #31
I have two questions. One is that how to get dataset ID based on a file ID. Another one is that we may have several extractors working on the same dataset, so how does one of them know the data are ready for running PlandCV script?

[2016-05-04 22:38] dlebauer opened #97 "Insert experimental design for 2016 Sorghum trials at MAC into TERRAREF BETYdb"
## Detailed Description

The Experimental design for Sorghum trials is defined in this [google spreadsheet](https://docs.google.com/spreadsheets/d/1QQaWc0UaQQKfEtnSO1G2za8tKU2huC0_VYMBqm5CKAo/edit?usp=sharing)

Next steps
1. Define intended plot layouts and plant locations on the gantry reference system (meters offset from [0,0]. We need:
   - [x] plot and alley dimensions
   - [x] row spacing

[2016-05-05 13:44] yanliu-chn commented on #31
I want to clarify what @caicai89- mentioned above: the problem arises when multiple extractors are used in processing the images in the same dataset (snapshot):

suppose Noah's script is invoked when we see 5 pairs (10 NIR|VIS images) of images. Without dataset-level extractor, we can only, in file-level extractor, scan dataset metadata which stores the info on how many images have been seen. howe

[2016-05-05 14:31] dlebauer commented on #85
Is this solved by #96?

[2016-05-05 14:34] dlebauer commented on #94
closing - this is a duplicate of #86 (I think, reopen if not)

[2016-05-05 14:34] #94 closed

[2016-05-05 14:36] dlebauer commented on #75
What are the action items here? Is it to set up a separate call for @yanliu-chn, @caicai89-, @pless and @solmazhajmohammadi to coordinate?

[2016-05-05 14:36] dlebauer commented on #43
@gsrohde what is the status of this issue?

[2016-05-05 16:07] nfahlgren commented on #31
Summarizing our conversation:

I will add additional metadata to each dataset to document the number/type of raw data expected to be in the dataset. The extractors, triggered each time the dataset is updated, will check to see if all the expected files are present. Only when all the files are present will the PlantCV script be executed.

[2016-05-05 17:24] yanliu-chn commented on #31
There will be dataset extractor with *.dataset.image.# MIME type. Also, in each <dataset, file_added> message, there will be an attribute `num_files` to denote how many files the dataset has at the time the message is created. This attribute will determine whether to trigger the plantcv script or just skip.

[2016-05-05 20:05] solmazhajmohammadi opened #98 "STEREO3D height scanner"
Register two point cloud data from the 3D stereo scanner pair to generate a single point cloud per row scan.

[2016-05-05 20:38] caicai89- commented on #31
@robkooper could you help to add me to the extractors-plantcv repository? I do not have an account yet. https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/browse

[2016-05-05 20:39] robkooper commented on #31
you will need to sign up for an account at opensource.ncsa.illinois.edu, once that is done let me know and I'll add you.

[2016-05-05 20:43] caicai89- commented on #31
@robkooper OK, I set up one. User name is cai25, and email is cai25@illinois.edu

[2016-05-05 20:44] robkooper commented on #31
Added you to the repository. Please keep in mind that all code changes need to be done with pull requests. Only Yan and I have permission to write into the repository.

[2016-05-06 14:11] max-zilla commented on #79
Pipeline has been up and running for about 16 hours now. It's still processing the substantial amount of backlog on Roger so it hasn't yet tried to scan a metadata file - not sure yet if @jdmaloney's permission adjustments will fix that issue. I bumped up max Globus transfer size to 500 files per, and put restrictions on max # of active transfers and pending files at a time to avoid running out of

[2016-05-10 22:35] czender commented on #86
@yanliu-chn please set-up an account on Roger for @FlyingWithJerome Jerome Mao, my student who is developing the environmental logger workflow. He will send you his 411.

[2016-05-11 01:53] yanliu-chn commented on #86
Jerome @FlyingWithJerome , could you send the following information to yanliu@illinois.edu , I can then go ahead to set up your account on ROGER cluster:
your organization name and mailing address (for sending NCSA paperwork)
phone number
org email adress

[2016-05-11 13:53] yanliu-chn commented on #86
I have created the request for your NCSA and ROGER account. It will take a few business days for the paperwork to arrive. Please check your mailbox.

[2016-05-11 14:28] max-zilla commented on #79
@jdmaloney one thing I noticed is that Globus autoactivation in code wasn't working - I was still needing to authenticate the gantry endpoint in the Globus UI periodically. I looked into their source code and realized they will not store the gantry creds for autoactivation - this would be the data_mover creds, not my maxzilla globus account.

To use manual activation I need 3 pieces: user/pass for

[2016-05-11 15:09] bd4 commented on #79
@max-zilla The cert does need to be created using the private key. Proxy certificates are certificates 'issued' by a normal end entity cert, instead of a by CA, but the process is similar to a CA issuing a certificate. In this case creates a new certificate using the public key provide by the Globus Transfer API, issued by the credential you provide, and signed by the corresponding private key you

[2016-05-11 15:51] max-zilla commented on #79
Thanks for the quick response, @bd4! I think I understand what's necessary. My familiarity is fairly nonexistent but it's improving, I'll follow up if I have more questions.

[2016-05-11 16:17] caicai89- commented on #31
Hi, when I go through the plantCV-extracror, I met the following error.
Any idea about this?

2016-05-11 10:45:12,007 INFO    : terra.plantcv - RABBITMQ_URI=amqp://xxxx:xxxxxx@rabbitmq.ncsa.illinois.edu:15672  PLANTCV_HOME=/projects/arpae/test/plantcv PLANTCV_JOBID=
RABBITMQ_URI=amqp://xxxx:xxxxxx@rabbitmq.ncsa.illinois.edu:15672  PLANTCV_HOME=/projects/arpae/test/plantcv PLANTCV_JOBID=
2016-05-11

[2016-05-11 16:47] FlyingWithJerome commented on #86
@yanliu-chn  thanks!

[2016-05-12 13:25] max-zilla commented on #62
This discussion has largely moved to #79. The basics of what is described here are implemented and committed in this branch:
https://github.com/terraref/computing-pipeline/tree/globus-monitor-api/scripts (globusmonitor/gantrymonitor)

[2016-05-12 13:25] #62 closed

[2016-05-12 14:16] max-zilla opened #99 "Imports from FieldBook/field data to BETYdb"
Look into importing from field data collection environments to BETYdb.

Most important is FieldBook > BETY (via BRAPI?)
- http://www.wheatgenetics.org/field-book
- https://play.google.com/store/apps/details?id=com.fieldbook.tracker

Also worth looking at existing Excel templates that researchers use: ICASA, BMS, genomes2fields (which will be replaced by BMS)

[2016-05-12 14:29] max-zilla commented on #90
There's also a separate permission for being able to launch analysis tools - seems like anyone who can view the files ought to be able to do that?

but we should probably also flesh out the management piece of those tool instances so people can't launch 400 tools and forget about them for 6 months - there's nothing of that nature in the code right now.

[2016-05-12 14:37] max-zilla opened #100 "IllinoisNet tool launcher connection problems"
Tools launched to the tool server on 141.142.210.18 can't be accessed on IllinoisNet. This was addressed once before but I don't recall specifics - believe there is a port conflict or something along those lines. Works on NCSAnet.

[2016-05-12 14:54] dlebauer commented on #99
See also terraref/reference-data#18, https://github.com/terraref/documentation/blob/master/existing_data_standards.md

[2016-05-12 15:26] max-zilla commented on #87
The gantry monitor is current right now (it's getting new FTP entries as they appear) but I think there are still some gaps from the transition between @jdmaloney's manual transfers and my monitor. We should generate file lists between gantry and Roger before e.g. 5/4 and transfer any files that are missing on Roger. Then we can start archiving.

[2016-05-12 15:28] #16 closed

[2016-05-12 15:37] max-zilla commented on #31
@robkooper does this pika IncompatibleProtocolError look familiar? I've not encountered this before.

2016-05-11 10:50:12,015 ERROR : pika.adapters.base_connection - Read empty data, calling disconnect
2016-05-11 10:50:12,016 ERROR : pika.adapters.base_connection - Incompatible Protocol Versions

[2016-05-12 15:40] robkooper commented on #31
I think this might be related to an older version of pika, try and see if you can upgrade it.

[2016-05-12 15:48] max-zilla commented on #31
2 other pieces that @caicai89- is waiting for:
- new plantCV script that works on dataset - @nfahlgren is working on this
- new dataset messages on update that include number of files changed - @robkooper said this may come along with this pull request: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/816/overview (hopefully that's the correct one)

[2016-05-12 15:58] caicai89- commented on #31
@robkooper  I tried and it did not work.
My configuration is the following.

import os

# name to show in rabbitmq queue list
extractorName = os.getenv('RABBITMQ_QUEUE', "terra.plantcv")

# URL to be used for connecting to rabbitmq
rabbitmqURL = os.getenv('RABBITMQ_URI', "amqp://xxx:xxxxxxx@rabbitmq.ncsa.illinois.edu:15672")

# name of rabbitmq exchange
rabbitmqExchange = os.getenv('RABBITMQ_EXCHA

[2016-05-12 16:00] max-zilla commented on #92
ok so...

what data was transferred, from what sensors, per day
- this is captured in several places (FTP log, gantry monitor log, ROGER completed logs) - however there's no step on Roger side to aggregate these into a report. Needs to be implemented.

did all files generated by gantry make it to Roger?
- When files arrive on Roger, message is sent back to gantry to create a symlink in /delete fol

[2016-05-12 16:01] robkooper commented on #31
you will need to specify the host in the rabbitmq url, in our case that should be clowder-dev for now. so set your environment variable  RABBITMQ_URI="amqp://xxx:xxxxxxx@rabbitmq.ncsa.illinois.edu:15672/clowder-dev"

[2016-05-12 16:15] caicai89- commented on #31
@robkooper  same error...

[2016-05-12 18:17] caicai89- commented on #31
@robkooper  currently, the pika version is 0.10.0

[2016-05-12 19:53] max-zilla commented on #56
Can this be closed now?

[2016-05-12 20:03] dlebauer commented on #56
@max-zilla no, please do not close. Two urls for the BETYdb instances do redirect to pecandev.igb.illinois.edu, but we still need to

1. migrate BETYdb from pecandev.igb.illinois.edu to OpenStack on Nebula or Roger
2. have daily backups of both instances
3. the API endpoints on both http://terraref.ncsa.illinois.edu/bety and
http://terraref.ncsa.illinois.edu/bety-test need to function

[2016-05-12 20:21] robkooper commented on #47
Start with searching geospatially
1) query bety for sites with geno-type
2) use sites lat/lon to find in clowder geostreams information

[2016-05-12 20:56] dlebauer opened #101 "Store location and field of view metadata associated with each file in Clowder"
## Description

Metadata files provide geospatial information that we should add to meta-data and also to the Clowder PostGIS database
- convert sensor location and field of view into geojson location metadata in Clowder and
- add field of view to PostGIS database to enable cross-database queries
  - For more information about Clowder PostGIS database, speak with Luigi Marini and Rob Kooper.
### P

[2016-05-12 23:26] nfahlgren commented on #33
@dlebauer @gsrohde I filled out the table more, can you guys take a look and let me know what you think?

[2016-05-13 03:32] robkooper commented on #100
This is due to docker and illinoisnet having the same IP address. I changed the ip address that docker uses in the hope it will solve this. Unfortunately I ended up restarting all tools.

Following is what was needed for the container to work:

[code]

or if launching it with cloud-config

[code]

If the issues persists please reopen this ticket

[2016-05-13 03:32] #100 closed

[2016-05-16 03:41] dlebauer commented on #85
Next step: add to pipeline. Comments from @max-zilla

@abby621 @pless  @robkooper it looks like it should be pretty straightforward to turn this into a Clowder extractor using the PyClowder library: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder/browse
Take a look under sample-extractors/wordcount.py for a simple extractor that counts the words in a text document. It

[2016-05-16 03:47] dlebauer commented on #85
@abby621 does this make sense? You can reach @max-zilla here or on the terraref computing pipeline chat https://gitter.im/terraref/computing-pipeline if you have questions

[2016-05-16 13:32] max-zilla opened #102 "504 gateway timeouts on TerraRef Clowder"
Regularly over the past week as ingest of data from gantry has ramped up, the Clowder instance at https://terraref.ncsa.illinois.edu/clowder/ has been issuing 504 Gateway timeouts. Initially @robkooper identified this as MongoDB running out of memory and was able to expand the amount of memory available to the VM, but this was only temporary as the problem has continued.

You'll likely encounter t

[2016-05-16 15:11] #78 closed

[2016-05-16 15:14] dlebauer commented on #56
bety --> bety6 -->  https://terraref.ncsa.illinois.edu/bety --> http://141.142.209.94/bety
bety-test --> bety7 -->  https://terraref.ncsa.illinois.edu/bety-test --> http://141.142.209.95/bety-test

[2016-05-16 15:56] robkooper commented on #102
I think one step is to move the mongo database to a better place with more memory and being replicated.

Also we can increase the timeout time in nginx so you get an answer back (after some more time). Right now this is the default which I believe is 60s, we can increase this to 300s (5 min) so if the server is busy we don't run into this issue.

[2016-05-16 17:05] max-zilla commented on #102
Here is the Clowder upload workflow on the Roger side, with each API call in bold. When Globus task comes in from gantry, service monitors until it is SUCCEEDED or FAILED. Upon SUCCEEDED, it adds the task to a queue of 'unprocessed tasks'. There is one main Space everything goes into.

For next unprocessed task, iterate through each dataset (SENSOR - DATE):
- Is dataset in DatasetMap (name -> Clow

[2016-05-16 19:03] max-zilla commented on #92
Just updated my comment after discussions with @jdmaloney

[2016-05-17 04:38] caicai89- commented on #101
location: position (gantry_system_variable_metadata)
            +location in camera box (sensor_fixed_metadata)
Question: 1. Are both the location and position in UTM coordinate?

"Field of view at 2m in X- Y- direction [m]": "[1.857 1.246]"
Question: 2. Does Field of view equal to "Field of view at 2m in X- Y- direction [m]" ?

[2016-05-17 04:43] dlebauer commented on #101
This is relative to the SW corner of the gantry.

[2016-05-17 04:48] caicai89- commented on #101
OK, so all positions are in gantry coordinate?

[2016-05-17 04:51] dlebauer commented on #101
Yes. There is a separate issue for transforming from gantry to other
coordinate systems
On Mon, May 16, 2016 at 11:48 PM caicai89- <notifications@github.com> wrote:

[2016-05-17 04:58] caicai89- commented on #101
For this task, which extractor I should work on?
It seems that "Field of view at 2m in X- Y- direction [m]": "[1.857 1.246]" is already in metadata, what "Field of view" do you expect to be added into metadata?

[2016-05-17 07:47] TinoDornbusch commented on #101
note that the [0,0] coordinate of the gantry is at south east corner.

[2016-05-17 12:11] dlebauer commented on #101
South east or south west?
On Tue, May 17, 2016 at 2:47 AM TinoDornbusch <notifications@github.com>
wrote:

[2016-05-17 12:39] TinoDornbusch commented on #101
South east. Wagner&Müller (the company that programmed the gantry) has strange ideas on definitions & procedures.

[2016-05-17 12:41] TinoDornbusch commented on #101
@caicai89-   Field of view would describe the size of the rectangle you would see at 2m distance with the sensor.

Note that for line sensors (3d, Hyperspec) this is a y dimension only.

[2016-05-17 12:55] dlebauer commented on #101
So positive is to the west?
On Tue, May 17, 2016 at 7:41 AM TinoDornbusch <notifications@github.com>
wrote:

[2016-05-17 13:03] TinoDornbusch commented on #101
yes positive y-axis movement is towards the setting sun in the evening.

[2016-05-17 16:09] dlebauer commented on #88
@TinoDornbusch or @rjstrand have you been doing hyperspectral calibration / images of the white / dark references? If so, where are these?

[2016-05-17 17:28] max-zilla commented on #102
As an example (I'm watching this process in the background) - this simple GET request to verify if a dataset exists takes **15 seconds** to return this much data when the memory is full (which it has been for a couple days now):
[code]
...and this is one of the simplest calls in the list above. It should take like 20 milliseconds. This is the bottleneck on Roger right now.

I've streamlined my upl

[2016-05-17 18:04] TinoDornbusch commented on #88
I have not had time to work on the data. I am bringing "home" data and we want to look at them next week.

[2016-05-17 19:30] robkooper commented on #102
Not sure what is happening:

[code]

[2016-05-17 19:33] dlebauer commented on #88
Is it in the gantry data stream?
On Tue, May 17, 2016 at 1:04 PM TinoDornbusch <notifications@github.com>
wrote:

[2016-05-17 20:09] max-zilla commented on #102
The database calmed down when I stopped my upload service for a few minutes to push a couple code updates to improve the logging. Once I started the pipeline back up and the API calls came in, it slowed down again. Two consecutive calls before restarting/after restarting:

[code]

The homepage returns 504 for me nearly every time when this occurs (i.e. after Login) I think because it's trying to s

[2016-05-17 20:27] robkooper commented on #102
The good thing is that it is clowder that takes all the CPU, the bad thing is that it is clowder, from top

[code]

Can you see what happens if you add a sleep 1 in your code after you submit a dataset.

[2016-05-17 20:36] max-zilla commented on #102
Added a 1s sleep after a new dataset is created or a new collection is created. No sleep when uploading files for now - don't want to add too much sleep time yet.

Seems to be a bit faster than before - will watch for a bit and see how it's looking.

[2016-05-17 21:03] #65 closed

[2016-05-17 21:26] max-zilla commented on #102
After talking with Rob, we are thinking this is also related to heavy IO load. The script is writing a lot of logs and reading from logged completed tasks regularly - I wanted to write things a lot for safety in event of crash, but it's bogging things down. Going to adjust balance of <data in memory> vs <data on disk> to have more recent data in memory so it isnt reading from disk so much and hope

[2016-05-20 14:02] max-zilla commented on #102
After I rewrote some of the API calls/IO frequency and Rob expanded the VM memory to 8 GB, this has been running without issue for ~18 hours with a fairly consistent mem usage:

[code]

Even for me using the Clowder site itself and executing searches is behaving satisfactorily. Going to close this issue for now.

[2016-05-20 14:02] #102 closed

[2016-05-20 14:03] max-zilla commented on #92
Assuming no new issues arise with the pipeline, improving these logs will be one of my main focuses for next week in anticipation of end of May milestone.

[2016-05-20 14:08] max-zilla commented on #77
The updates in my [pull request to the Clowder documentation](https://github.com/terraref/documentation/pull/12/files) include a bit of detail on the Clowder API and the Globus pipeline API. Not complete but enough to get someone started.

[2016-05-20 14:11] max-zilla commented on #87
@jdmaloney assuming no other hiccups on transfer over the weekend, lets discuss how to start addressing these data gaps next week.

[2016-05-20 15:12] dlebauer commented on #102
😀😀😀😀😀😀😀😀😀😀😀😀

[2016-05-20 16:41] abby621 commented on #85
This makes sense to me and it should be straightforward to convert the demosaic script to a Clowder extractor. That demosaic script, however, seems to be more related to [64](https://github.com/terraref/computing-pipeline/issues/64), if I'm not mistaken? It converts the binary files to jpgs at present, and it shouldn't be too difficult to change that to incorporate the field of view and gps inform

[2016-05-23 16:29] max-zilla commented on #101
Followup from meeting on 05/23 with @dlebauer @caicai89- @yanliu-chn @robkooper.

Summary workflow:
1. Add message for RabbitMQ on dataset.addmetadata
2. Write extractor to listen for new metadata on dataset - if we find XYZ position in meters, use Southeast origin lat/long + meter offset of camera box + sensor to determine sensor coordinates
3. Use geostream API to add sensor coordinates to PostG

[2016-05-23 16:33] max-zilla commented on #101
Here is info from Solmaz on converting XYZ in meters to coordinates (for hyperspectral, but has SE corner origin points): https://github.com/terraref/documentation/issues/9

[2016-05-23 17:37] pless opened #103 "Capitallization in StereoTop Metadata changed 5/23/2016"
The metadata format for the StereoTop sensor seems to have changed.
Specifically, in the json file, there is a different capitalization on variable names.

### Description

Example:

in file:
StereoTop/2016-05-23/2016-05-23__04-27-02-912/bd82d326-8faf-42e1-b64d-31199410024a_metadata.json

there are fields:
  "gantry_system_variable_metadata": {
      "Time": "05/23/2016 04:27:02",
      "Position

[2016-05-23 17:52] dlebauer commented on #103
@TinoDornbusch or @rjstrand can you comment on why this is happening / fix it? I was not aware that the metadata formats were still being updated.

[2016-05-23 18:16] TinoDornbusch commented on #103
Markus was updating the environmentlogger files to accommodate for the CO2 sensor being integrated in the data stream. He apparently used an older version with capital letters. Will fix that asap

[2016-05-24 06:30] TinoDornbusch commented on #103
@dlebauer must have happened during some software update / test. Data format is back to previous stage. At this stage we do not touch metadata unless you specify.
We still need to define and work on the usergiven.xml metadata to store experiment specific data.

[2016-05-24 16:21] caicai89- commented on #101
@dlebauer  Could you share the sample data here

[2016-05-24 16:22] caicai89- commented on #101
@robkooper Could you share the geostream example with me and @yanliu-chn

[2016-05-24 16:43] dlebauer commented on #101
Here is the example file from above (renamed to .txt to allow upload here)

[2016-04-13_00-38-15_environmentlogger.json.txt](https://github.com/terraref/computing-pipeline/files/279998/2016-04-13_00-38-15_environmentlogger.json.txt)

[2016-05-25 18:10] max-zilla commented on #85
@abby621 I'm actually going to add a few things to PyClowder that might make this easier for you - I've created a branch here: https://opensource.ncsa.illinois.edu/jira/browse/CATS-554

Our extractor can listen on *.dataset.# (the add_file bit isn't necessary) and I'll make a small utility function in pyclowder that you'll use to fetch the files in the dataset if it's a stereoTop dataset - you sho

[2016-05-25 21:04] max-zilla commented on #85
@abby621 OK, so I ended up writing some new stuff and hope to make a pull request tomorrow.

- our extractor should listen on *.dataset.file.added - this will avoid the extractor being triggered when empty datasets are created or files are removed, for example.
- your check_message() function will get an object that includes:
  - the new file added to the dataset
  - dataset name & ID
  - list of

[2016-05-25 23:41] nfahlgren commented on #31
@max-zilla @robkooper I'm finishing up the PlantCV extractor code and am running into an issue when I try to post results back to the files in Clowder. I might just be using the wrong API call. I have the PlantCV results encoded in a JSON string and am using a call like:

[code]

I get an error 500 when I do this.

[2016-05-26 04:23] nfahlgren commented on #35
@dlebauer can we close this? Partially duplicate of #68 and open a separate issue(s) for documentation review for #68 and #31?

[2016-05-26 05:26] dlebauer commented on #35
OK heres the issue for documentation with a rough outline https://github.com/terraref/documentation/issues/13

[2016-05-26 05:26] #35 closed

[2016-05-26 15:02] max-zilla commented on #101
@caicai89- I think we will need to add a *.dataset.metadata.added message, there does not currently seem to be one.

*.dataset.file.added is valid, for example. Will talk with @robkooper but this should be a simple addition to Clowder along the lines of:
[code]
...adjusted for metadata and triggered in the right places.

There are separate pull requests to add a dataset.file.added message and to a

[2016-05-26 15:11] #45 closed

[2016-05-26 15:13] dlebauer commented on #93
@jdmaloney I think this can be closed. Please reopen if necessary

[2016-05-26 15:13] #93 closed

[2016-05-26 15:15] dlebauer commented on #81
@yanliu-chn what is the status of this? I know the extractor isn't finished, but can it be added as an extractor and tested out on data so that we have some examples to show?

[2016-05-26 15:17] dlebauer commented on #79
@max-zilla what is the status of this issue? what tasks remain before this can be closed?

[2016-05-26 15:18] yanliu-chn commented on #81
Is this related to https://github.com/terraref/computing-pipeline/issues/86 ?

[2016-05-26 15:21] max-zilla commented on #79
Yes, we can close this. The pipeline is functional - I will create a separate issue for the remaining adjustment that might be needed (related to Globus authentication certificates) but not sure if this is necessary yet. Will close shortly.

[2016-05-26 15:24] max-zilla opened #105 "Address Globus authentication renewal"
Right now I'm still manually reactiving the gantry-cache Globus endpoint once a week (1 week is max time it'll stay activated).

@jdmaloney mentioned some potential changes to the Globus endpoint that might solve this issue, but if not we can generate the necessary certificates to let the gantry monitor reactivate itself. I will need to seek input from some security people because this would be a

[2016-05-26 15:24] max-zilla commented on #79
https://github.com/terraref/computing-pipeline/issues/105 new issue here. Closing this one.

[2016-05-26 15:24] #79 closed

[2016-05-26 15:27] max-zilla commented on #31
@nfahlgren can you share the metadata object you're sending? I'll look into it.

I know that the metadata we had for a while had a field name that was something like "other metadata here..." and the three periods in the name were causing errors with the JSON parsing in Clowder - I had a little "clean_json" method to change those periods to underscores.

[2016-05-26 15:43] czender commented on #86
@yanliu-chn in the last few weeks we released NCO 4.6.0 which contains all the features necessary for Terraref. If system NCO is updated to 4.6.0, then hyperspectral workflow can be run with stable system executables rather than bleeding-edge snapshots from my personal directory :) https://github.com/nco/nco/releases

[2016-05-26 15:45] yanliu-chn commented on #86
I will update the NCO version on ROGER asap and let you know when it is done.

[2016-05-26 15:50] nfahlgren commented on #31
@max-zilla they are a bit different, depending on the image, but it definitely dies on the first one which looks like this:

[code]

[2016-05-26 15:58] yanliu-chn commented on #31
@nfahlgren : is the new extractor code somewhere online?

[2016-05-26 16:01] nfahlgren commented on #31
@yanliu-chn: https://github.com/terraref/computing-pipeline/blob/plantcv-clowder-extractor/scripts/plantcv/PlantcvClowderIndoorAnalysis.py

[2016-05-26 16:12] yanliu-chn commented on #86
Done. I have built 4.6.0 and make it the default to load when doing "module load nco".

@czender could you test if the build works as expected?

[2016-05-26 16:20] max-zilla commented on #31
@nfahlgren can you try:
- changing in_bounds: true to "True" - python likes capitalized True/False
- post to /metadata as opposed to /metadata.jsonld - we want to use jsonld metadata eventually but your JSON object there does not have a @context entry which is expected in a JSON-LD standard:
http://json-ld.org/

If posting to /metadata works we're in pretty good shape - we'll need to identify some

[2016-05-26 16:44] nfahlgren commented on #31
@max-zilla posting to metadata instead of metadata.jsonld did the trick. The in_bounds thing was converted to lowercase by the json.dumps function. It's working now though!

[2016-05-26 16:47] max-zilla opened #106 "Use LogStash to create log report/digest"
LogStash can be used to define templates that can parse log files (like we are generating with the gantry/globus monitors) to create aggregate reports for things like:
- files per day
- files per sensor
- times per transfer

We can use this (ideally on centralized log server) to create transfer reports and provide dashboards for monitoring.

[2016-05-26 16:47] max-zilla commented on #92
We are now capturing all necessary information listed in this issue:
- gantry -> Roger transfers
- Roger -> Clowder updates
- files and metadata uploads are tracked

..with the exception of verifying sanity ranges in the metadata fields. I will create a followup issue for refining logs by using something like LogStash to create reports/digests to make them more readable.
https://github.com/terrare

[2016-05-26 16:47] #92 closed

[2016-05-26 17:19] czender commented on #86
It fails because the system NCO package was not installed with ncap2. Building ncap2 requires first building or installing ANTLR as described on the NCO homepage nco.sf.net

[2016-05-26 18:36] dlebauer commented on #106
Can this be used to track the entire pipeline ... from MAC to UI, Clowder, BETYdb and beyond?

Would be good to track data access as well (but only publicly report aggregate rather than user-specific stats)

[2016-05-26 18:41] max-zilla commented on #106
@robkooper may know offhand, but in general I expect moving to a centralized server would let us concentrate those things in one place. We just need those components (e.g. an extractor that would push data into BetyDB) to write their log to the right place and configure it.

http://stackoverflow.com/questions/18330541/how-to-handle-multiple-heterogeneous-inputs-with-logstash

[2016-05-26 19:18] yanliu-chn commented on #86
I see. I rebuilt nco 4.6.0 with ncap2 and antlr-2.7.7 . could you load it with `module load gdal-stack-2.7.10 nco` and test it again?