[2017-04-04 18:51] solmazhajmohammadi commented on #257
Bounding box representation depends on  [Issue 44](https://github.com/terraref/reference-data/issues/44)

[2017-04-04 19:09] max-zilla commented on #221
I've been updating my first comment as this has progressed, although at some points I prioritized ingesting new data so others could access before getting back to this rebuild.

priSensor is about 1/3 done, then we are 99% done. the last few sensors have a small amount of data to restore comparatively, and we might restore parts of the Level_1 data but others have been subsequently deprecated by u

[2017-04-04 19:34] craig-willis commented on #290
From neteng:

"Yes the domain can be transferred. I think it costs usually around $12 and some
change (basically the cost of an additional year of renewal). The admin contact
is [ ], so he'll need to provide NCSA with the Authorization
Code which you can retrieve from inside your Registrar portal. NCSA will then
make the request for transfer with that Code, and the Admin contact  will
get an email

[2017-04-04 21:58] robkooper commented on #296
Correct backed up in cron:
0 11,23 * * * /usr/bin/pg_dumpall | gzip --rsyncable > /home/backup/postgresql/dumpall.sql.gz

and the /home/backup folder is:
/gpfs/largeblockFS/projects/arpae/terraref/backup

[2017-04-05 14:24] max-zilla commented on #252
@FlyingWithJerome for the met extractor, we are using a location off to the side of the field (on the building nearby) to represent "full field" data:

[code]

I would replace "Weather Station" with EnvironmentLogger but otherwise you can use the same Full Field sensor we're using for the weather data.

The connector is passed into the process_message method for you.

[2017-04-05 15:33] ZongyangLi commented on #193
@dlebauer @rmgarnett
I am working on this, insert existed 'height' trait into BETYdb, using the formula.

There is one question I am not quite sure:
@rmgarnett said 'Note that 2-row plots aren't really used anymore (not since the first season); it's probably best to divide the field into 32 rows by 54 ranges = 1728 plots, for all data from now on.'

So is that a good timing to convert this dataset

[2017-04-05 15:40] rmgarnett commented on #193
@ZongyangLi Yes, the 864 plots are _meaningless_ and have been since the beginning of the second planting season last year.

See here: https://github.com/terraref/reference-data/issues/60

The 1728 plots ("1-row") is a much more meaningful and useful division that can be reaggregated as seen fit.

[2017-04-05 15:48] FlyingWithJerome commented on #252
@max-zilla
In PyClowder2 the create_sensor() takes 7 arguments, but you only pass 4?

[2017-04-05 16:06] max-zilla commented on #252
@FlyingWithJerome ah yes, didn't realize the example function was custom before pyClowder 2 had geostreams.

[code]

So for using PyC2:

geom = {
				"type": "Point",
				# These are a point off to the right of the field
				"coordinates": main_coords
			}

type = {
				"id": "MAC Field Scanner",
				"title": "MAC Field Scanner",
				"sensorType": 4
			}

region = "Maricopa"

[2017-04-05 16:08] dlebauer commented on #257
What about the other metadata? Have you looked into the OGC specifications?
On Tue, Apr 4, 2017 at 1:51 PM Solmaz Hajmohammadi <notifications@github.com>
wrote:

[2017-04-05 16:13] dlebauer commented on #261
Have you submitted a pull request? You can visualize html checked into
GitHub with htmlpreview.github.io/ or http://rawgit.com/

Perhaps put the html in a separate repository or gist for review.
On Tue, Apr 4, 2017 at 1:40 PM Nick Heyek <notifications@github.com> wrote:

[2017-04-05 16:21] nickheyek commented on #261
I have not submitted a pull request, I will do so today.
Because the HTML is not static it won't render without the backend,
but I can create a static HTML equivalent with placeholder data.
I'll also do that today.

[2017-04-05 17:56] FlyingWithJerome commented on #252
@max-zilla
These are extremely helpful! Thanks!

[2017-04-05 19:09] dlebauer commented on #252
Just to be clear - the EnvirontmentLogger and WeatherStation should be listed as distinct locations (sensors).

* The WeatherStation coordinates are 33.074457 N, 111.975163 W https://github.com/terraref/computing-pipeline/issues/252#issuecomment-279223800
* The EnvironmentLogger is on top of the gantry system so it is moving around. For the EnvironmentLogger I think it would be better to have a po

[2017-04-05 19:14] max-zilla commented on #252
@dlebauer noted. we can change that location/geometry at any time fortunately, will make a note.

[2017-04-05 19:23] dlebauer commented on #271
Any updates @phloz and/or @mbomhoff ?

[2017-04-05 19:42] FlyingWithJerome commented on #252
@dlebauer
I think the EL records have the weather station data, but has no position data (i.e., seems that we cannot trace the EL Logger position like what we do on hyperspectral cameras). Only the weather station in EL records is in a fixed position, and every sensors else (sensor par, sensor co2, etc.) are movable?

[2017-04-05 19:58] max-zilla commented on #252
@FlyingWithJerome i think that's correct - that's why David suggests using a polygon to represent the entire field or something else off to the side if there are overlap issues. We can experiment with that a bit later.

[2017-04-05 20:13] FlyingWithJerome commented on #252
@max-zilla
Sounds like a plan. I will finish the geostream stuff these days and send to David and you for review

[2017-04-05 21:35] rachelshekar commented on #261
@max-zilla where will we put html files like this?

[2017-04-05 21:45] max-zilla commented on #261
talked with @robkooper @craig-willis @jterstriep

Initial plan is to create a new /html directory under /sites/ua-mac alongside raw_data and Level_1. We can deploy the python code to pull from BetyDB and generate the HTML page with a cron job running in a VM that has Roger mounted, maybe the terra.org VM even. That cron job will run python script to generate latest HTML. Then we serve the static H

[2017-04-05 21:58] rachelshekar commented on #245
@max-zilla please advise

[2017-04-05 22:12] smarshall-bmr commented on #281
At the moment I'm still working with LemnaTec trying to get the SWIR and VNIR to take full data stripes. I'll get to this as soon as possible but I'm working through issues one at a time.

[2017-04-05 22:15] smarshall-bmr commented on #289
VNIR is writing data again. We are working on fixing this 10,000 line scan limit right now, calibration is up next on my priority list.

[2017-04-05 22:17] smarshall-bmr commented on #126
I'm dropping hyperspectral for a moment to do this, check back soon.

[2017-04-05 22:19] dlebauer commented on #281
Do the sensors need to take full data stripes to generate the calibration images? Or can this be prioritized (please)?

[2017-04-05 22:30] smarshall-bmr commented on #128
@max-zilla I'm assuming that these files are size limited, in that case the one currently being used is about 80% full. The few errors that happen the longer it will take to fill up and the HMI is much better behaved now then it has been, so it might take a while.

@dlebauer I'll have to get help on the Git commands again at some point. I made the mistake of updating Git to a new version and it no

[2017-04-05 22:39] dlebauer commented on #261
@max-zilla here is the pull request: https://github.com/terraref/reference-data/pull/110

[2017-04-05 22:45] smarshall-bmr commented on #281
@dlebauer We tend to get help from Headwall in bursts so I'm try to take advantage of their help while we have it.

@rjstrand Who do I need to talk to about the 50% grey target again?

Our current plan is to calibrate the VNIR on a 50% target, does this have to be a spectralon target or do we have other options on material? The calibration run will now include the SWIR as well, I haven't heard if

[2017-04-05 22:54] dlebauer commented on #281
@smarshall-bmr makes sense. I think that the 'every target you can get your hands on' approach makes sense. From the summary of a previous call https://github.com/terraref/computing-pipeline/issues/208#issuecomment-280513034 it sounded like both a 4% and a 50% target were available and would be sufficient, but that having a target in between these values would also be useful.

[2017-04-05 23:04] smarshall-bmr commented on #281
@dlebauer It occurred to me that the 50% target may not be spectralon, hopefully @rjstrand is able to chime in here.

[2017-04-05 23:37] smarshall-bmr commented on #126
At 2m the field of view of each camera is 101.5x74.9cm or 28.4 degrees on the x and 21.2 degrees on the y axis if my trig serves me correctly.

[2017-04-06 16:07] jdmaloney commented on #128
@dlebauer I think there should be a distinction between the PLC logs and those other two inputs.  Having @smarshall-bmr FTP the log over once it fills is a good way for us to get that information.

The other two inputs are more human driven and consistent in content types (columns), which to me indicates those should just get inserted into a database.  I think our most logical direction would be t

[2017-04-06 16:28] phloz commented on #271
Thus far, we have SNP call for 11/382 samples

[2017-04-06 16:38] czender commented on #281
The brand of, or material used for, the target is immaterial as far as I can tell. If a non-Spectralon target is used then we should (and will) reword some of the documentation and scripts to use a more generic term (e.g., "target") than Spectralon, so as to prevent confusion.

[2017-04-06 16:38] dlebauer commented on #265
What is a robust, simple approach that we can use at this point?
Should we differentiate between images before and after canopy closure?
* when plants are small and lots of ground is visible, adjust plot boundary for scanner height so that ground footprint is consistent
* when canopy is fully closed, use plot boundary  at canopy height?
Does it help if we stitch using both the image features and g

[2017-04-06 17:00] dlebauer commented on #128
@jdmaloney you can programmatically get the field scanner log as:

[code]

There are also libraries in R (googlesheets) and python (gspread) that provide more advanced functionality.

[2017-04-06 17:37] solmazhajmohammadi commented on #265
Feature based registration without considering the z height, this is working for registration in small area. When the image area gets bigger, number of the features increases and it is hard to register the images after that. (due to false match)
I did a little bit research on this: ASIFT algorithm seams to be a solution for this problem. This is a great opensource work, which forces the algorithm

[2017-04-06 19:27] dlebauer commented on #261
This is a flask application. It has a cache. @nickheyek is planning to have it update the cache each day. It could be dynamic except that the API call is too slow.

[2017-04-06 19:32] Paheding commented on #265
@solmazhajmohammadi  SIFT based algorithms are very robust to image translation, rotation, and scaling, however the SIFT might be still patented. Alternatively, we can use SURF method ( article:
 [http://www.vision.ee.ethz.ch/~surf/eccv06.pdf](url)). As for mismatched features, RANSAC [http://www.cs.columbia.edu/~belhumeur/courses/compPhoto/ransac.pdf](url) method can be used before feature extrac

[2017-04-06 19:32] dlebauer commented on #261
@gsrohde is there an experiments API endpoint ready to be deployed?

[2017-04-06 19:35] dlebauer commented on #261
@gsrohde actually I realized that I submitted a PR a few weeks ago https://github.com/PecanProject/bety/pull/484 that --should-- add the experiments endpoint.

[2017-04-06 19:38] smarshall-bmr commented on #126
@pless @max-zilla @craig-willis @rachelshekar @dlebauer

Just to prevent any panic about how different these values are from the metadata reported ones I wanted to say that I roughly checked the FOV before programming StereoVIS scans. The current scans are based on a 100cmx75cm estimated FOV so scans take images every 50cm on the y axis and the gantry moves 105cm on the x between scans with a tota

[2017-04-06 19:56] solmazhajmohammadi commented on #265
@Paheding take a look at the figure 26 on the paper I posted. I have not tried ASIFT in the big plot size images yet, I think this approach warranty the affine transformation between the features.  When the number of the registered images get higher RANSAC didnot help on the false matches.

[2017-04-06 20:58] Paheding commented on #265
@solmazhajmohammadi Correct, there are some drawbacks of RANSAC.  Here is an optimized RANSAC algorithm [https://pdfs.semanticscholar.org/6dc8/6d312ca1c5b18e53ecb98fa6b5fc1053e023.pdf](url), which tends to be better than the classic RANSAC.  Source code: [http://www.cb.uu.se/~aht/code.html](url). Combination of the optimized RANSAC and ASIFT would be more robust.
Besides, another quick solution co

[2017-04-06 21:59] gsrohde commented on #261
OK, I pulled that request.

[2017-04-06 22:02] robkooper commented on #261
So since this is a flask app, we should either create a docker container, or a VM that hosts the machine and add a link in the terraref web app.

@nickheyek is this a docker container already?

[2017-04-07 16:08] nickheyek commented on #261
It is not. Unfortunately I do not have any experience with Docker.

[2017-04-07 16:10] robkooper commented on #261
We will need to create you a VM and give you access to the VM so you can deploy your code there. @dlebauer can you work with me to get @nickheyek access to NCSA accounts.

[2017-04-07 16:11] gsrohde commented on #261
@robkooper Can you figure out why Travis is failing after I pulled this?  It complains 'relation "experiments" does not exist'.

[2017-04-07 16:12] robkooper commented on #261
@gsrohde can you create a new issue for that. That is not related to this issue.

[2017-04-07 16:15] dlebauer commented on #261
Indirectly related because the app will eventually use the experiments
table

I think Nick already has an NCSA account as a guest. Is that correct Nick?
On Fri, Apr 7, 2017 at 11:12 AM Rob Kooper <notifications@github.com> wrote:

[2017-04-07 16:16] nickheyek commented on #261
Not that I know of.

[2017-04-07 17:10] rjstrand commented on #281
Hi, Sorry for my absence from this conversation...

@dlebauer @smarshall-bmr As I remember, Nadia has money budgeted to buy panels specifically for this purpose.  I think she is only waiting for someone to tell her how many, what size, and what reflectance values... within the budget constraints and then she can order them.

ALARC has panels and tarps.  As I remember, the panels are 50 (Spectralon

[2017-04-07 17:25] NewcombMaria commented on #281
The ALARC set of big tarps have been deployed near the scanner field on some of the UAV flight days around solar noon.  The tarps are too large to place within the scanner field.  While Stuart is out of town I've offered to help with the calibration scan, with Bob's help to get the correct targets in the correct positions etc.

[2017-04-07 17:35] dlebauer commented on #281
@remotesensinglab will 20% and 40% suffice? Could you advise @nshakoor on which additional standards (if any) we will need?

@rjstrand thanks for your help! I understand we also these 95% reflectance and and color targets:
[SphereOptics-Diffuse-Reflectance-Standards-Targets-Materials-Zenith-Polymer.pdf](https://github.com/terraref/computing-pipeline/files/906344/SphereOptics-Diffuse-Reflectance-St

[2017-04-07 19:56] max-zilla commented on #126
@smarshall-bmr thanks. @ZongyangLi I am going to run some new results with this FOV:
[code]

[2017-04-11 13:50] max-zilla commented on #126
@smarshall-bmr @ZongyangLi @yanliu-chn I added those new FOV to the get_fov() method of bin_to_geotiff():
[code]

...but that is not sufficient:
![screen shot 2017-04-11 at 8 44 17 am](https://cloud.githubusercontent.com/assets/14166971/24912214/14b63f2e-1e93-11e7-812c-11089efa98ad.png)
[code]
...you can see the little half-crescent shadow that does not align. There are also alignment issues betwe

[2017-04-11 14:43] harshagrawal28 commented on #245
I have created a pull request for this extractor here terraref/extractors-meterological#4.

[2017-04-11 15:10] max-zilla commented on #245
@harshagrawal28 thanks, will take a look

[2017-04-11 15:58] smarshall-bmr commented on #126
@max-zilla Do you think we could use the initial georegistration as a starting point for a feature matching algorithm to do final alignment?

[2017-04-11 19:04] ZongyangLi commented on #126
@max-zilla
I am using the following code to estimate the FOV now.

`
def get_fov(metadata, camHeight, shape):
        fov_x = 1.015
        fov_y = 0.749

        HEIGHT_MAGIC_NUMBER = 1.64
        PREDICT_MAGIC_SLOPE = 0.574
        predict_plant_height = PREDICT_MAGIC_SLOPE * camHeight
        camH_fix = camHeight + HEIGHT_MAGIC_NUMBER - predict_plant_height
        fix_fov_x = fov_x*(camH_fix/2

[2017-04-11 19:12] ZongyangLi commented on #126
Stitching map looks fine to me both for ground visible and ground non-visible.

<img width="1337" alt="screen shot 2017-04-11 at 2 10 59 pm" src="https://cloud.githubusercontent.com/assets/20230686/24926337/dfd2af58-1ec0-11e7-9396-ff892be759b6.png">
<img width="1212" alt="screen shot 2017-04-11 at 2 11 46 pm" src="https://cloud.githubusercontent.com/assets/20230686/24926340/e2eb922c-1ec0-11e7-940a

[2017-04-11 19:55] max-zilla commented on #126
@ZongyangLi can you list which datasets/images you're using to show those examples?

[2017-04-11 20:44] ZongyangLi commented on #126
@max-zilla They are datasets among '2016-05-07__12-59-33-639' and '2016-05-07__13-01-03-699', '2016-06-30__09-23-46-258' and '2016-06-30__09-24-02-948'.

[2017-04-12 13:54] max-zilla commented on #126
@ZongyangLi can you try a few spot-checkes with 2017 recent data? I ran the pipeline on some data from 02-10:

<img width="342" alt="screen shot 2017-04-12 at 8 54 06 am" src="https://cloud.githubusercontent.com/assets/14166971/24961168/9f602be2-1f5d-11e7-8e58-13a27ce0a794.png">
<img width="844" alt="screen shot 2017-04-12 at 8 54 12 am" src="https://cloud.githubusercontent.com/assets/14166971/249

[2017-04-12 14:23] ZongyangLi commented on #126
@max-zilla Here is the stitching result in those images.
<img width="1347" alt="screen shot 2017-04-12 at 9 21 36 am" src="https://cloud.githubusercontent.com/assets/20230686/24962435/922da856-1f61-11e7-80fc-f963df77676d.png">
If this works for you, I could update the code to the repo.

[2017-04-13 15:13] czender commented on #208
I don't know how to "merge" issues but this should be merged with #289.

[2017-04-13 15:17] czender commented on #76
@hmb1 has written a hyperspectral test.sh. it requires a (fairly large) hyperspectral test file for input. where should we store such "test datasets"?

[2017-04-13 15:37] rachelshekar commented on #208
@czender - I added it to the epic.  Looks like this issue can be closed.

[2017-04-13 15:43] rachelshekar commented on #274
@dlebauer - update?

[2017-04-13 15:54] rachelshekar commented on #193
Regarding plots - see discussion https://github.com/terraref/reference-data/issues/114

[2017-04-13 16:12] dlebauer commented on #126
@ZongyangLi could you please write a test that passes if and only if the images are properly aligned?

[2017-04-13 16:13] dlebauer commented on #126
@pless could you please review this issue and comment on what a test for proper alignment would look like? What is good enough? What are appropriate input files and output conditions?

[2017-04-13 16:16] rachelshekar commented on #76
@jdmaloney and @robkooper will make a test folder in ROGER for these files.  This will be available from Clowder and from terraref.org.
This will be set up you can access locally and using http.
Also include expected output.

[2017-04-13 16:21] rachelshekar commented on #76
Other option for large test files is to use compression, use subset of files, or use Git RFS

[2017-04-13 16:36] solmazhajmohammadi commented on #126
@max-zilla @ZongyangLi
If the mismatch happened in the recent dataset, It might be caused by the wheel change back in November 22, 2016

[2017-04-13 16:37] max-zilla commented on #126
The mismatches I've seen have all been from Feb 2017.

[2017-04-13 16:58] dlebauer opened #297 "Specify sensor metadata with less redundancy in flat files"
@czender commented on [Thu Apr 13 2017](https://github.com/terraref/extractors-environmental/issues/9)

Now that the EL has a flat (not grouped) structure to simplify metadata appearance, we attach the sensor metadata directly to each field it measures. This leads to redundancy as shown below. Shall we make this less redundant? e.g., by creating a "dummy" sensor variable and pointing to it from ea

[2017-04-13 16:58] robkooper opened #298 "Downtime for Terraref Clowder May 2, 2017"
I will need to bring down TERRAREF clowder instance for about 1 day to migrate the database and elasticity search capabilities to new servers. My goal is to do this Wednesday April 19, 2017.

* [x] Create elasticsearch machines (3 for now)
* [x] Create mongodb machines (3 for now)
* [x] Create postgresql machine (1 for now)
* [x] Modify clowder page to maintainance page
* [x] Migrate mongo databas

[2017-04-13 17:02] czender opened #299 "Document method/provide module to access pyclowder on Roger and elsewhere"
### Description
Environmental Logger (EL) now uses pyclowder.geostreams which is not provided in any module on roger. Formerly EL could be fully exercised from command line after `module load gdal-stack-2.7.10`.  Would be great to have a generic module that allowed EL to run with geostreams from command line for testing purposes.

[2017-04-13 17:08] ZongyangLi commented on #126
@max-zilla @dlebauer
Maybe I didn't describe clear enough here: https://github.com/terraref/computing-pipeline/issues/126#issuecomment-293368555
I think you may not get a properly aligned map without update the code I mentioned. I have updated my code here: https://github.com/terraref/computing-pipeline/tree/demosaic_extractor/scripts/stereoImager

With the code 'full_day_to_tiles.py', I can get a

[2017-04-13 17:10] robkooper commented on #298
@dlebauer @rachelshekar please send to appropriate people.

[2017-04-13 19:25] NewcombMaria commented on #281
@remotesensinglab and @dlebauer we are tentatively planning for April 15 for the 'clear sky diurnal hyperspectral spectralon images for calibration' scan.  Weather permitting.  @smarshall-bmr wrote a scan for sun-up to sun-down passes over targets before he left.  We've borrowed spectralon targets from Kelly Thorp (ALARC).  @remotesensinglab please advise on protocol.  If Solmaz is able to bring t

[2017-04-13 20:39] dlebauer commented on #261
@robkooper I've submitted a guest account request for Nick. Is it possible for him to use terraref.ndslabs.org to deploy the VM/docker image?

[2017-04-13 20:43] remotesensinglab commented on #281
@NewcombMaria this is great, the planning on April 15.
I have given a list of targets to purchase to Nadia months ago. Having multiple targets are good (99%, 75%, 50%, 40%, and 2%), but 75% and/or 50% targets would be great if we have just one or two are available.

ALARC Tarps 68, 48, 8, and 4% may work but good to collect spectroscopy reflectance of these tarps as well just to confirm their refl

[2017-04-13 20:48] dlebauer commented on #285
@max-zilla do you have any suggestions for implementation (in python and/or d3.js)? I've asked @nickheyek to begin protoyping this. What would eventually be easiest to integrate into geodashboard? Or should we just add this to html reports?

[2017-04-13 21:16] dlebauer commented on #281
Everyone: very excited that there is a date for this, thanks for making it happen!

@remotesensinglab and @czender I'd like to confirm that we need to / plan to collect images of the spectralon targets at 15 minutes. I believe I saw a protocol written up somewhere but now am unable to locate said protocol.

[2017-04-13 21:34] dlebauer opened #300 "How would you like to be notified of resource downtime?"
Following #298 we need to find a way of notifying users of upcoming downtime. Should this be an email list, or is it effective to notify people by mentioning teams via GitHub?

As a test, the following mentions should notify @terraref/developers, @terraref/principle-investigators and @terraref/users-testers-onlookers and this issue will serve as a survey

Can anyone who sees this please reply with

[2017-04-13 21:35] dlebauer commented on #298
@robkooper until we resolve #300 I'll send the notifification thus:  @terraref/developers, @terraref/principle-investigators @terraref/users-testers-onlookers

[2017-04-13 21:39] dlebauer commented on #299
Would also be nice (for the purposes of modularity / flexibility) if EL continued to produce the netcdf file even if geostreams / pyclowder are not available (e.g. try-catch) so that @czender's original workflow does not fail.

[2017-04-13 21:46] rjstrand commented on #281
@remotesensinglab - This is essentially the same set of targets that we used last fall, with the exception of replacing the 99% with yours.  So, panels at 99, 75, 20%, Tarps at 68, 48, 8, 4%.  I believe that some of these same tarps are documented in the attached paper published by my former USDA colleagues Moran, Clarke, and Qi.
[2001_mar_273-286.pdf](https://github.com/terraref/computing-pipelin

[2017-04-13 21:57] dlebauer commented on #281
@remotesensinglab The importance of a target near the max for vegetation (50-60%) has been repeatedly discussed. The paper that @rjstrand linked to shows that tarps are not substitutes for spectralon targets. Can you please confirm that the available targets are sufficient?

[2017-04-13 22:48] czender commented on #300
I prefer GitHub
--
Charlie Zender, Earth System Sci. & Computer Sci.
University of California, Irvine 949-891-2429 )'(

[2017-04-13 23:14] czender commented on #281
Calibration targets should have reflectances in the range of plant reflectances. Targets that are too reflective (like the 99% Spectralon) provide information that is never used (unless you want to detect and produce reflectances for shiny metallic or specular surfaces that are also in the FOV). Pick calibration reflectances that bound the desired reflectances (so we get accurate brights and darks

[2017-04-13 23:28] czender commented on #281
Regarding temporal frequency of sampling, 15 minutes sounds good to me. It gives no worse than 36/(24*4) = 3.75 degree zenith angle resolution. It might be overkill if the zenith angle dependence is weak. But we've never measured it before so we don't know what to expect. There is no written protocol to my knowledge other than this, #208, and #289. And, to be clear, what I try to stress is that ma

[2017-04-14 17:06] NewcombMaria commented on #281
Thanks @remotesensinglab @czender and @dlebauer for helpful input.  We discussed our plan this morning and still have a couple questions:
1)  Is it better to adjust the height of the sensor box so that the panels are in sun for much of the day?
  During the winter season and still at this time, the sun angle allows for sunshine in the field of view.  However during the summer sorghum season with t

[2017-04-14 19:59] remotesensinglab commented on #300
Github is good for this.

[2017-04-14 20:11] czender commented on #281
Sun/shade is undoubtedly an important issue, perhaps as or more important as cloud/clear. I listed Sun/shade after cloud/clear in the #281 completion criteria for mainly subjective reasons. Ideally we will obtain one set of calibration images for direct sun and another with targets shaded by the sensor box, in both clear and overcast skies (i.e., 4 calibration images for each zenith angle, for eac

[2017-04-14 20:25] NewcombMaria commented on #281
Thanks @czender.  Our plan is do run the full-day scan tomorrow (Saturday) because it may be the only day before planting on the 19th and sprinkler irrigation after planting when we have clear skies and no equipment or sprinklers through the field.  If we run the scan from sun-up to sun-down, we need to select either sun or shade exposure.  Or do you mean run a sun-scan in the morning and a shade-

[2017-04-14 21:11] czender commented on #281
@NewcombMaria If you can do sun in the morning and shade in the afternoon, please do. Then if nothing unforeseen happens we'll have both. Otherwise (if you can't do a half-day of each) please do a full day of sun. For the exposure, we want to use the maximum exposure for sun that does not saturate any wavelength at the maximum plant reflectance of interest. My understanding is that this is ~25ms f

[2017-04-14 21:34] jterstriep commented on #299
This should be handled as a virtualenv in Python. Basically, create a
virtualenv for EL and have a requirements.txt file with the following:

wheel==0.24.0
pika==0.10.0
requests==2.11.1
urllib3==1.19
https://opensource.ncsa.illinois.edu/bitbucket/rest/archive/latest/projects/CATS/repos/pyclowder2/archive?format=zip

Then 'pip install -r requirements.txt'. If that sounds like gobbly-gook,
let me kn

[2017-04-14 21:40] rjstrand commented on #281
@czender 1) In "max(plant_reflectance)*exposure_time*max(counts_per_time) is ~2^16" can you please define counts_per_time

2) Ideally we don't want to move the targets between passes.  I see two basic means of attaining predominant shade or sun on a target, either raising the camera box, or shifting the gantry on the x-axis to change the location of the target in the field of view of the cameras.

[2017-04-14 22:29] czender commented on #281
`counts_per_time` depends on the sensitivity of the camera and the incident sunlight. It can only be inferred from measurements. Pick the longest exposure that does not saturate the camera for the brightest sunlight and most reflective wavelength. This should be the same as the exposure time at which the cameras normally operate.
If typical operation from now until October means that the FOV will

[2017-04-14 22:57] remotesensinglab commented on #281
Re: exposure time. 25 ms is good, no more than 30 ms per our analysis of data collected in Fall 2016 with 99% (?) target. If there is a room to collect longer exposure for experiment with the new calibration targets (20% and 75%), it is worth collecting at longer exposure times as well. So, we will have a better understanding of the matter, or confirm with the new calibration targets.

Re: Spectra

[2017-04-15 00:54] NewcombMaria commented on #281
Thanks for responses.  During the summer, there is more shadow due to the sensor box and we are able to get most or all of the field of view in shadow if we restrict day-time scans to approx 10am to 2:30/3pm.  We talked as a group and have a plan for bracketing exposures and will do the best possible tomorrow.  Thanks to @rjstrand and @solmazhajmohammadi and Ricardo for working on the scan script

[2017-04-15 03:47] SolmazHajmohammadi-LemnaTec commented on #300
GitHub.
Maybe only one github issue that people can subscribe for email notifications as well. So it will cover the both options

[2017-04-15 23:29] NewcombMaria commented on #281
The scan is going well and files are transferring to the cache server.  During the mid-day hours the targets are in shade.  See photo taken at 11:33am.
![diurnalhyperspec_april15_1133am](https://cloud.githubusercontent.com/assets/22008637/25067428/300e05fa-21f8-11e7-8536-7cecd53f2144.jpg)
  Solmaz wrote the script with a range of exposure settings.  If it's possible to get a quick review of the da

[2017-04-18 14:19] max-zilla commented on #126
@ZongyangLi your comment made sense, I had implemented the code you posted on the extractor and ran it to get the latest images I posted. But perhaps there is other updated code I was missing.

I will check your updated code... note that we are not using the directory you linked anymore! I created a new repo for this code several months ago:
https://github.com/terraref/extractors-stereo-rgb/tree/m

[2017-04-18 15:05] max-zilla commented on #126
@ZongyangLi @pless these results are indeed looking better.
![screen shot 2017-04-18 at 10 02 52 am](https://cloud.githubusercontent.com/assets/14166971/25137739/40f8d78c-241e-11e7-8bc9-30004fafe470.png)

4:25 only:
![screen shot 2017-04-18 at 10 02 57 am](https://cloud.githubusercontent.com/assets/14166971/25137756/4f4fb30a-241e-11e7-8437-22381f851093.png)

4:25 + 4:24:
![screen shot 2017-04-18 a

[2017-04-18 15:34] dlebauer commented on #281
Just got the transfer stats and it looks like for SWIR we typically expect
1 hdr file per dataset but we're getting 5 per dataset. Is this an error?

On Sat, Apr 15, 2017 at 6:29 PM MariaNewcomb <notifications@github.com>
wrote:

[2017-04-18 15:37] ZongyangLi commented on #126
@max-zilla The magic number I tested comes from left side image, It will be closer when you use left side image.
I didn't try right image yet because I am not sure whether the method I used is a good way to solve the problem.

[2017-04-18 15:59] czender commented on #281
@NewcombMaria @solmazhajmohammadi What do we know about how level the targets were when imaged? Won't make much difference for shaded targets, but could be important for clear sky sunny targets. If/when this is repeated please measure any tilt with an inclinometer.

[2017-04-18 16:11] dlebauer commented on #281
We can extract the angle from the RGB stereo camera. @pless can you process the target images from April 14 and provide a map of angles?

[2017-04-18 16:19] NewcombMaria commented on #281
Thanks for input.  The scan was April 15, started around 6:10am and stopped just before 7:00pm.  The fixed metadata still says 'Wheat season', but the scan is named something like 'diurnal hyperspectral calibration'.  It will be great to define what needs to be altered if there needs to be a repeat of the diurnal scan.  Thanks.

[2017-04-18 16:21] solmazhajmohammadi commented on #281
@dlebauer It seems that the sensor setting file was set to measure dark current, white reference and calibrate the data on the sensor machine and write back data cube in addition to raw data cube.
For the data with 30ms and 35ms, you will see 14 files instead of 6.  Following files can be deleted:
XXXXdarkOffset
XXXXdarkOffset.hdr
XXXXdarkReference
XXXXdarkReference.hdr
XXXXdata
XXXXdata.hdr
XXXXw

[2017-04-19 17:38] robkooper commented on #298
Process has started, creating machines. Waiting for increased quotas on openstack to finish creation of all machines needed.

[2017-04-19 22:26] dlebauer commented on #210
@ZongyangLi is this extractor ready to deploy?

[2017-04-19 22:35] ZongyangLi commented on #210
@dlebauer
Insert existed 'height' trait into BETYdb is ready, the only thing I need your confirm is using 864 plots or 1728 plots.
To make it as an extractor in clowder, I still need some support mentioned here:
https://github.com/terraref/computing-pipeline/issues/193#issuecomment-290507753

[2017-04-19 23:37] dlebauer commented on #101
@max-zilla at this point, where can I find the bounding box for the image files? For example, where are the field-of-view bounding boxes for the geotiffs here: https://terraref.ncsa.illinois.edu/clowder/datasets/58dd375a4f0c430e2bff1b21

[2017-04-20 13:37] max-zilla commented on #210
@ZongyangLi sorry if I missed it, where is code for this extractor? I know the canopycover extractor is in https://github.com/terraref/extractors-stereo-rgb

If you can share what you have I can contribute to the Clowder part.

[2017-04-20 14:24] craig-willis commented on #297
@dlebauer @czender I'll need to look at this in more detail but in short yes we can and I understand the requirement.

[2017-04-20 14:26] ZongyangLi commented on #210
@max-zilla Insert existed 'height' trait into BETYdb is not an extractor, 'height' data for season 2 is on my desktop, I have a local script can upload them to BETYdb.

To make it as an extractor in clowder there are something I am not sure:
1. (0,0,0) point in the point cloud is somewhere in middle of the field, I have no idea where is this (0,0,0) point in gantry coordinate system, and what's th

[2017-04-20 14:44] max-zilla commented on #101
@dlebauer those are stored in the geostreams plots. The sensorposition extractor has this JSON data for each dataset/file it processes:
[code]

...in this case, what you're looking for are file_ids. I just created this pull request:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1128/overview

that will add a datapoints search filter so you can search like

[2017-04-20 14:51] max-zilla commented on #210
@ZongyangLi for #2, unless @dlebauer says different I say we do your second option:

Another way of solving this problem is create several traits for a plot for one day if it is acceptable, and that will be much easier.

...when the field stitching is done, we can modify this extractor to trigger on the full merged PLY file and avoid the need to generate multiple traits, but we can do that for now

[2017-04-20 15:15] max-zilla commented on #283
@jdmaloney i've implemented this in demosaic. code looks like this:
[code]

Duration of completed job and # of files generated to start. Does this look ok to you?

[2017-04-20 15:28] ZongyangLi commented on #210
@max-zilla
This comment is from @dlebauer 'While It is possible to add replicate measurements for a single plot (we are already doing this for field data), we should do this when it is scientifically useful and not because of the way that the data are written.'

[2017-04-20 15:35] rachelshekar commented on #300
email list for registered alpha testers is terraref-users@lists.illinois.edu

i think we should do email and github.  hopefully this won't happen so often to bother people.

[2017-04-20 15:38] #221 closed

[2017-04-20 15:44] jdmaloney commented on #283
@max-zilla Looks good to me, only thing additional that may be useful is bytes created, not sure how easy that is for you to determine.  Outside of that, that looks great.  The duration of the job isn't something I would have thought of, but is a great idea.

[2017-04-20 16:03] jdmaloney commented on #296
@robkooper This is for the postgres on the machine in AZ (doesn't mount ROGER), will sync it to that directory though.

[2017-04-20 16:09] max-zilla commented on #210
PLY chunks...
1) need to consider sampling rates across PLY files so we dont mix and match.
2) better to stitch & subset according to a design.
3) we can deploy what we have now & replace with final version by end of May.

[2017-04-20 16:18] rachelshekar commented on #126
David suggests that offset be annotated so users know that we are aware of it.

[2017-04-20 16:24] pless commented on #126
I think this has gotten to a good point.  There remains a magic number in the process which I don't understand (but must have to do with some coordinate system scaling), *but* Zongyang has derived a way to automatically reset this magic number as the gantry height changes.

@rachelshekar, I think that the correct annotation to this should say something like:

"This stitched image is computed based

[2017-04-20 16:30] craig-willis commented on #290
From neteng:

"I've created terraref.org on NCSA DNS servers, and setup an A record to point
to the IP you provided. You can log into your registrar now and change the name
servers to NCSA DNS server. So replace: ns1.aplus.net ns2.aplus.net with dns1.ncsa.illinois.edu
dns2.ncsa.illinois.edu."

I've done this via aplus.net interface.

[2017-04-20 16:35] max-zilla commented on #126
Excellent. Will get this started up. I think for clarity I am going to create a new Level_1 output going forward:
[code]
...that will have the full field result. This will operate on another new Level_1 directory that will include the raw -> geoTiff temporary files:
[code]

So pipeline will be:
1) datasets come in every few seconds, are converted to TIF and JPG in the 2nd directory
2) full field s

[2017-04-20 16:39] robkooper commented on #296
this is the cronjob for postgresql

[2017-04-20 16:40] rachelshekar commented on #275
Robert Pless would like to have full field image available via webpage.

[2017-04-20 16:43] rachelshekar commented on #295
@robkooper please update

[2017-04-20 16:47] jdmaloney commented on #126
@max-zilla I'd say create a directory in /gpfs/largeblockFS/scratch/terraref/stereoTop_geotiff (on nodes their should be a symlink from /scratch to /gpfs/largeblockFS/scratch, so you can use that shortened path if you want)  This way the ephemeral data doesn't live within the production data structure.

[2017-04-20 16:52] robkooper commented on #295
We should have  a better location than users/dlebauer/webapps

Talked to @nickheyek, created a VM for now to place his servcer on. Next step is to make into a docker container.

[2017-04-20 17:34] czender commented on #289
@solmazhajmohammadi @dlebauer The recent calibration images brought to my attention that the SWIR naming convention has diverged from the VNIR. SWIR files now have an extra date string (right after the UUID) in their names, and also are missing an underscore before the english suffix. Was there a good reason for changing the naming convention? It would be helpful if SWIR used the same convention a

[2017-04-20 18:51] dlebauer commented on #124
please parse remaining tasks into separate issues and close

[2017-04-20 22:27] dlebauer opened #301 "Does UIUC MATLAB license cover the computing pipeline on ROGER?"
Many contributors write code in MATLAB. We need to support this. Although it is preferable to have algorithms that run in Octave or Python, for the purposes of portability,  we should enable not make rewriting Matlab code as Python a condition of deployment. (though where practical, making it compliant with Octave should be sufficient.

Hopefully in most cases code will run in Octave and that ther

[2017-04-21 00:53] dlebauer commented on #301
Matlab is installed on ROGER and It can be used by any one who has access to ROGER login
node.

[2017-04-21 03:03] remotesensinglab commented on #275
A full field stitch image would be very helpful for us, too. Especially, a full field hyperspectral image.

[2017-04-21 03:44] dlebauer commented on #275
I'm fairly certain that the hyperspectral scans aren't adjacent, though
perhaps we could fill gaps with missing values that would compress well.
The file would still be ~TB scale.
On Thu, Apr 20, 2017 at 10:03 PM remotesensinglab <notifications@github.com>
wrote:

[2017-04-21 03:53] dlebauer commented on #295
I moved the existing web apps to `/projects/arpae/terraref/sites/ua-mac/www` (since these are data products specific to the ua-mac site).

[2017-04-21 14:31] max-zilla commented on #126
@ZongyangLi in your full_day_to_tiles.py, I have a question:
[code]
This looks like it stitches the GeoTIFFs into a large VRT, then chops the VRT into google maps-ready tiles.

For our extractor, we basically just want to stop at the !!!!!!!! for now and write that VRT to the permanent full-field output, right? The google tiles part we can do separately if we want.

[2017-04-21 14:44] ZongyangLi commented on #126
@max-zilla I am not quite sure if we can stop before 'Generate tiles from VRT'.

The .vrt is a virtual TIFF, which is a way of storing all of the information for the overlapping TIFFs without actually creating the full stitched TIFF. Generating that full TIFF would result in an absurdly large file, so having this "virtual TIF" is a really nice alternative, and one that the map tiler handles well.

[2017-04-21 14:53] max-zilla commented on #126
@ZongyangLi the goal of this extractor is to generate an absurdly large TIFF, I think... can you load a VRT into GIS? Can you view it like a TIF file? The new plan is to generate the plot-level clips of the large VRT on-demand, not generating them all every time automatically.

If users are happy with a VRT, my thinking was to load the VRT into Clowder and let people use that. Is the VRT just a me

[2017-04-21 15:05] ZongyangLi commented on #126
@max-zilla To my understanding, this VRT just contains tif path and Geo-information to the tif file. to view the large stitching map, you have to create tile files.

For our new plan, to generate the plot-level clips, we may first use the metadata to collect all the 'in the plot' tiffs, then use these classified tiffs to create VRT and plot-level stitching map.

[2017-04-21 15:28] dlebauer commented on #270
for relevant (raster) files, include the comment For RGB and other relevant images, please include comment https://github.com/terraref/computing-pipeline/issues/126#issuecomment-295800623

[2017-04-21 17:21] yanliu-chn commented on #126
Yes, we handle a lot of VRTs.

VRT is open source geospatial software community "standard". Esri has a similar format called _mosaic dataset_. As Zongyang said, it is just an XML file that contains geo metadata such as projection, extent, resolution, plus a list of file entries, each including attributes of a file included in VRT, e.g., data type, spatial metadata, file path, and relative position

[2017-04-21 17:28] yanliu-chn commented on #126
One example of a VRT file. This is the VRT for the national elevation dataset at 10m resolution. We use absolute path in it.

[code]

[2017-04-21 18:08] rachelshekar commented on #298
This totally passed me by.  Please notify downtime to: terraref-users@lists.illinois.edu

[2017-04-21 19:27] ZongyangLi commented on #210
@max-zilla I am going to upload my code associate with plant height. Is there anywhere on Github may I upload and update my code?

[2017-04-21 19:37] max-zilla commented on #210
@ZongyangLi if using PLY data, please upload here: https://github.com/terraref/extractors-3dscanner

[2017-04-21 19:40] ZongyangLi commented on #210
@max-zilla
Okay! Could you please create a new directory there?

[2017-04-21 19:43] max-zilla commented on #210
@ZongyangLi created 'plantheight' directory

[2017-04-24 19:10] dlebauer opened #302 "Add PosgreSQL Studio application to terraref.ndslabs.org"
It would be great to have access to BETYdb using PostgreSQL Studio with either a) read-only access to bety6 or b) a local 'sandbox' copy.

_For a read only connection_, this is how we have provided support for GIS users ([as described in documentation](https://github.com/terraref/documentation/blob/master/accessing-betydb-with-arcmap.md)).

Users can request ssh login access. But it would be ideal

[2017-04-24 19:12] smarshall-bmr commented on #281
First of all, big thanks to @solmazhajmohammadi @rjstrand and @NewcombMaria for doing this while I was away!

@czender I just wanted to clarify our operating times for being in the shadow of the sensor box. Because the hyperspectral cameras are located on the far west side of the sensor box they image in the shade for roughly 3.5 hours until a bit after solar noon, after that the imaging area is e

[2017-04-24 19:16] dlebauer commented on #210
I don't see the plantheight directory, but could you change it to
plant_height to match the naming in BETYdb?

On Fri, Apr 21, 2017 at 2:43 PM Max Burnette <notifications@github.com>
wrote:

[2017-04-24 20:07] ZongyangLi commented on #210
codes updated to https://github.com/terraref/extractors-3dscanner/tree/master/plantheight

[2017-04-24 22:44] czender commented on #281
@smarshall-bmr Thanks, I'm starting to "get the picture" of the sun/shade exposure. I think if/when we re-calibrate we can do it more quickly by identifying and eliminating sub-optimal exposure times.

[2017-04-24 22:56] czender commented on #289
IMHO the best way to proceed here is to remove the extra date string recently introduced into (some of) the SWIR filenames, i.e., "2017_04_15_12_05_11" in the above example, in all but the metadata.json file. That way the VNIR and SWIR will have the same naming convention. Otherwise we need to re-write the filename handling in the SWIR workflow to handle both conventions. @dlebauer should we wait

[2017-04-24 23:19] dlebauer commented on #289
Wait on sysadmin. If you send me the appropriate command I can run it.
On Mon, Apr 24, 2017 at 5:56 PM Charlie Zender <notifications@github.com>
wrote:

[2017-04-26 13:29] rachelshekar commented on #252
@FlyingWithJerome can this issue be closed?

[2017-04-26 13:31] rachelshekar commented on #128
@jdmaloney please update this issue

[2017-04-26 13:37] max-zilla commented on #252
@rachelshekar yes I merged @FlyingWithJerome 's pull request.

[2017-04-26 13:37] #252 closed

[2017-04-26 16:33] max-zilla commented on #210
@dlebauer @ZongyangLi renamed to plant_height:
https://github.com/terraref/extractors-3dscanner/tree/master/plant_height

[2017-04-26 23:48] czender commented on #289
This should work for a sufficiently priveleged user:
[code]
As shown it just does the calibration day. However, all SWIR data since 2016-11-08 appear to use this new convention. @solmazhajmohammadi @LTBen is there a reason for the new convention? If not will Lemnatec please revert to the original (and current VNIR) convention? I do not understand how the hyperspectral extractor ever worked on SWIR

[2017-04-27 02:54] dlebauer commented on #289
@czender I think everything worked. I added looping over dates

[code]

Let me know if it looks okay.

[2017-04-27 02:57] dlebauer commented on #289
@LTBen and @markus-radermacher-lemnatec can you please confirm that this will be fixed?

[2017-04-27 13:44] SolmazHajmohammadi-LemnaTec commented on #289
The reason for different naming lays in different headwall software. LemnaTec software is only adding prefix to the file name.
I am in touch with headwall costumer support to see if it is an easy fix in the software.

[2017-04-27 13:54] #170 closed

[2017-04-27 14:45] max-zilla commented on #283
This is now correctly working, so I'll add code to other extractors and close.

[2017-04-27 14:45] #283 closed

[2017-04-27 15:50] dlebauer commented on #283
Can you link to an example?
On Thu, Apr 27, 2017 at 9:45 AM Max Burnette <notifications@github.com>
wrote:

[2017-04-27 15:54] max-zilla commented on #283
@jdmaloney will have to configure a dashboard to display the data here:
http://terra-logging.ncsa.illinois.edu:3000/

(JD, these are in extractor_db database)

but the data table looks like:
[code]
duration is in seconds. filecount and bytes indicate # of files/bytes generated by each run of the extractor. We will aggregate these into daily totals for the graphs (or some aggregation)

[2017-04-27 16:05] rachelshekar commented on #183
@solmazhajmohammadi - please update

[2017-04-27 16:12] rachelshekar commented on #289
Next step: @max-zilla will run SWIR extractor this week.  April 15 is the priority date. @czender will modify the workflow after that.

[2017-04-27 16:30] robkooper commented on #295
Running see:
https://terraref.ncsa.illinois.edu/webapps/ua-mac/canopy_cover/page.html
https://terraref.ncsa.illinois.edu/webapps/ua-mac/canopy_height/page.html

Bugs / Improvements
- both html files refer to JPG images, but only PNG images are in the folder
- rename page.html to be index.html

[2017-04-27 16:30] #295 closed

[2017-04-27 16:31] max-zilla commented on #231
we should schedule a meeting:
max
@dlebauer
@Zodiase
@craig-willis
@robkooper and/or Luigi (geodashboard rep)

...to figure out v1 with regard to:
- whether or not to use Geodashboard, v2 (w charts) or v3 (react.js, no charts)
- whether to create our own mapping/visualization component
- whether faceted search could be sufficient to make map views less necessary

Basically nail down initial search

[2017-04-27 17:56] solmazhajmohammadi commented on #289
@czender @dlebauer  it is fixed now

[2017-04-27 18:37] dlebauer commented on #183
All indices have been inserted into the database following review in https://github.com/terraref/reference-data/issues/105

To query Reflectance Indices via API: https://terraref.ncsa.illinois.edu/bety/api/beta/variables?key=9999999999999999999999999999999999999999&limit=none&type=%7EReflectance+index

[2017-04-27 18:56] dlebauer commented on #295
I've changed page.html to index.html

I've also added https://terraref.ncsa.illinois.edu/webapps/ua-mac/canopy_cover_alpha which has the jpg images. The png images are the plots and jpg are the RGB images.

[2017-04-27 19:05] ZongyangLi commented on #295
The jpg RGB images are generated only in first testing data in May 2016, to demonstrate what's the plot represent for. It will be too much RGB images for a whole season visualization. So I didn't create them in the following webpage.

[2017-04-28 16:23] max-zilla commented on #289
@czender I just pulled the latest hyperspectral code and queued 4/15 for VNIR (first) then SWIR. we'll see how things go over the weekend.

[2017-05-01 14:29] max-zilla commented on #230
@czender I ran the newest code on 04/15 of 2017. Outputs are in:
[code]
The VNIR ran ok from the look of things, but SWIR failed. However it looks like there might be some broken links in Clowder SWIR datasets that could be responsible - going to diagnose today and try some re-runs.

[2017-05-02 13:59] max-zilla commented on #230
@jdmaloney i traced this problem back to the bulk rebuild script we ran to create the SWIR datasets:
[code]

Simpler example of one file:
[code]
It's like the timestamp from the next dataset got appended onto the filenames of the previous somehow.

I'm a bit confused though, because the list I'm pasting from didn't include up to 04/15, but datasets on 04/15 have this problem:
https://terraref.ncsa

[2017-05-02 20:07] robkooper commented on #298
![terraref](https://cloud.githubusercontent.com/assets/1580696/25636877/62f0e6d8-2f48-11e7-8e15-af7302e8419a.png)

Overview of the system as it is running now
- terraref is the frontend for everything, runs nginx
- terra-clowder runs the data management system clowder, connected to terra-mongo-[123], terra-es-[123], terra-postgres and roger filesystem (using NFS mount)
- terra-geodashboard runs th

[2017-05-02 21:05] #298 closed

[2017-05-03 02:43] gsrohde commented on #241
Closing.  This is superseded by issue https://github.com/PecanProject/bety/issues/475 and pull request https://github.com/PecanProject/bety/pull/504.

[2017-05-03 02:43] #241 closed

[2017-05-03 12:41] hmb1 commented on #183
Hi David,
 the following index names don't play nice with ncap2 as they contain the chars '/' or '-':
 We have a few options for how to deal with them
 1) change '/' to '_'
 2) truncate '_' and what follows
 3) for DWSI just remove the '-'

 We can do the name mods in BETYDB or I can mangle the names in my python script - its your call ?

        "name": "ND900/680",
        "name": "SR900/680",

[2017-05-03 13:01] hmb1 commented on #183
nb the following names are already being used in hyperspectral_indices_make.nco
( but we can rename if @ac-gl-chris agree's

SR->SR900/680
RERI->SR700/R670
ZM    ->SR750/R710
PRI570->PRI531/570
msr705->MSR705/445
DWSI1->DWSI-1
DWSI2->DWSI-2
DWSI3->DWSI-3
DWSI4->DWSI-4
DWSI5->DWSI-5
DWSI3
DWSI4
DWSI5

[2017-05-03 13:42] dlebauer commented on #183
I'd you can send me a file with oldname,newname pairs I can update them in
the database
On Wed, May 3, 2017 at 8:01 AM hmb1 <notifications@github.com> wrote:

[2017-05-03 14:25] craig-willis commented on #290
Received message from NCSA neteng that transfer failed because it was not approved.   Will re-initiate transfer.

[2017-05-03 14:39] max-zilla opened #303 "Check scanner3D height code"
@ZongyangLi I am trying to deploy the scanner3D plant height extractor today:
https://github.com/terraref/extractors-3dscanner/tree/master/plant_height

However I'm getting errors when trying to scan the west PLY:
https://github.com/terraref/extractors-3dscanner/blob/master/plant_height/terra_plant_height.py#L133
[code]

Can you check to see if your code handles that PLY file properly to see if it

[2017-05-03 14:43] max-zilla commented on #126
@czender @ZongyangLi @yanliu-chn @dlebauer @jterstriep
I have generated a VRT for 2017-04-27...
[code]
the VRT file is only 13 MB.

I'm manually running
[code]
in that same directory on the VM to see what kind of size/look the output TIF has. but it's gonna be massive and take a while - after 45 mins this morning, it's at like 2%.

[2017-05-03 14:45] max-zilla commented on #286
https://github.com/terraref/extractors-stereo-rgb/blob/master/fieldmosaic/full_day_to_VRT.py
I am working to get this triggering properly on stereoTop as part of pipeline, but in meantime I have this python script (modification of @ZongyangLi script) that we can run on my extractor VM on a per-day basis like:
[code]
...it doesn't care how many TIFs there are in the directory, but this uses the TIF

[2017-05-03 14:51] yanliu-chn commented on #126
I'm not sure how useful the big geotiff is. Even ppl are patient to download it, desktop software would have hard time to display it.

[2017-05-03 14:53] hmb1 commented on #183
Hi David,
  pls use this list instead of the one I sent earlier
  Many Thanks
...Henry
...

On 03/05/17 14:42, David LeBauer wrote:

[2017-05-03 14:53] craig-willis commented on #185
@dlebauer

The attached document appears to contain per-device (RedEdge/Sequoia)  reflectance values for two different panels.   In the past, I've created objects for the panels themselves (i.e., LabSphere or SphereOptics) or for the RSR values on particular devices. In this case, it looks like I should create separate devices for the RedEdge and Sequoia and add the reflectance values for each dev

[2017-05-03 14:55] max-zilla commented on #126
@yanliu-chn is there a simple arg to gdal_translate to downsample that might speed up generation and still give a useful "human-readable" idea of the data? The VRT still requires you to download 8,000 (!) geoTIFFs in this case or have visibility to them on Roger.

[2017-05-03 14:56] dlebauer commented on #183
@hmb1 I don't think there was an updated file attached to your last message. copy-paste is fine

[2017-05-03 15:05] max-zilla commented on #210
created this issue to finish deployment: https://github.com/terraref/computing-pipeline/issues/303

There was an error scanning the PLY, but code is 90% there. Last missing piece is how to extract the actual values to geostreams - I can create the datapoints if you can show how to get an array of values from the histogram.npy file

[2017-05-03 15:08] max-zilla commented on #193
This has been deployed and is pushing traits - the plot discussion can play out in another issue and we can make changes spinning out from there.

[2017-05-03 15:08] #193 closed

[2017-05-03 15:10] max-zilla commented on #128
@jdmaloney can we close this? is this just a cron thing we have running/need to run?

[2017-05-03 15:11] #255 closed

[2017-05-03 15:13] yanliu-chn commented on #126
@max-zilla yes. use the "-outsize" option to give it a percentage or num of pixels for the output geotiff. And select a good resampling method with "-r". I don't know which resampling method is better for such images. @czender or @ZongyangLi can decide. Nearest neighbor is the fastest, but we rarely use it because it is too simple.

[2017-05-03 15:18] max-zilla commented on #126
thanks. it's gone to 10% in the last half hour so I'm gonna wait and see if it finishes by the end of day today.

[2017-05-03 15:19] dlebauer commented on #155
Problem

There is no easy way to update the server as new files come in.

Rob can you please contact the developers?

[2017-05-03 15:20] craig-willis opened #304 "Update Workbench Docker images"
We currently have multiple Docker images each with different dependencies. Consolidate or add broader support for tutorials in a single container:

### Completion Criteria
* [x] Add Python to Rstudio environments
* [x] Combine the Rstudio environments
* [x] PlantCV and pyClowder dependences
* [x] Geospatial support in Jupyter

[2017-05-03 15:20] dlebauer commented on #155
@robkooper can you start with something that is static by the end of April?

[2017-05-03 15:32] gsrohde commented on #183
@dlebauer @hmb1  I think it's worth considering how you want to the names to display in the BETYdb Web app.  Are the original names with the offending characters more universally recognizable?  If so, it would be best to display them that way, either by storing them that way or "decoding" them before display.

[2017-05-03 15:52] ZongyangLi commented on #303
@max-zilla I downloaded the exactly ply file you were testing and ran
`plydata = PlyData.read(ply_path)`
on my test env, I do not get any error report.
This is quite wired, could you please try that 'PlyData.read()' again in another separated env or another ply file and see if it is still reporting the same error?

[2017-05-03 15:55] dlebauer opened #305 "Visualize full field geotiff / VRT files"
given a VRT, how can a user visualize it? Preferably through a web interface

Discussion

* would be nice to also be able to do basic gis analysis /
* overlay plot boundaries

## Options:

* set up mapserver.org
* another gis software that is a web browser and can be mounted?
* mount directory using desktop gis software?

Are there other solutions?

What is the quickest

## Completion Criteria

*

[2017-05-03 16:06] dlebauer commented on #183
I don't think the original names are that much more recognizable, though
they do (should) match index database.de

Maybe we could put these in the label field
On Wed, May 3, 2017 at 10:32 AM Scott Rohde <notifications@github.com>
wrote:

[2017-05-03 16:14] gsrohde commented on #183
My general philosophy is that the end user should be exposed to machine idiosyncrasies as little as possible.  In this case, this can either be effected by storing the name you want displayed or making the Rails code utilize some well-defined mapping from stored name to display name.  I leave it up to you to decide how important this is to you.

[2017-05-03 18:12] max-zilla commented on #303
@ZongyangLi I was able to also run this with no errors in a separate py environment, I suspect I'm not passing args properly. Let me take another look.

[2017-05-03 18:22] max-zilla commented on #303
@ZongyangLi ok, just had to wrap unicode name in str() before passing to read()

Now I am encountering missing metadata field:
[code]
This is likely an old metadata key. if you look at the metadata here:
https://terraref.ncsa.illinois.edu/clowder/datasets/590238f74f0c38c084d7b75a
...do you know if we could use any of the other fields to determine correct value here? is that key just a boolean valu

[2017-05-03 18:22] max-zilla commented on #303
@ZongyangLi ok, just had to wrap unicode name in str() before passing to read()

Now I am encountering missing metadata field:
[code]
This is likely an old metadata key. if you look at the metadata here:
https://terraref.ncsa.illinois.edu/clowder/datasets/590238f74f0c38c084d7b75a
...do you know if we could use any of the other fields to determine correct value here? is that key just a boolean valu

[2017-05-03 18:29] ZongyangLi commented on #303
@max-zilla
This is a really important value to determine the algorithm and the output, in each scan there should be one key tells us the scan direction.

One other field I know relate to this value is 'position y [m]' in 'gantry_system_variable_metadata', if 'position y [m]' is '0', 'scanIsInPositiveDirection' should be 'True',  else if 'position y [m]' is '22.135' or something else that I didn't

[2017-05-03 18:33] max-zilla commented on #303
@ZongyangLi ok, I'll add the simple position y check for now so I can run it.

In meantime, @smarshall-bmr @solmazhajmohammadi @dlebauer @craig-willis anyone know why this metadata field might've disappeared at some point? Not sure when this was changed.

[2017-05-03 18:36] czender commented on #230
@max-zilla and @jdmaloney is this the same issue as recently addressed/solved in #281 ?
@solmazhajmohammadi says the extra date was introduced by "headwall software" and is now fixed.

[2017-05-03 18:59] max-zilla commented on #303
first successful output run!
https://terraref.ncsa.illinois.edu/clowder/datasets/5909d38f4f0c2ca933f8a603

Closing this issue for now. In the other issue I mentioned that we need to get the values (at least the highest value) to geostreams which should be quick.

[2017-05-03 18:59] #303 closed

[2017-05-03 19:05] max-zilla commented on #230
@czender yes that's exactly what it is. I had not seen @dlebauer  rename script on the SWIR data, but the Clowder upload happened when that data landed and thus still has pointers to the old filenames so it couldn't find them.

thanks for pointing that out, I'll work with @robkooper and @jdmaloney to get the corrected filenames in Clowder database and run it - as you saw about looks like the SWIR

[2017-05-03 19:27] dlebauer commented on #271
Updates from @mbomhoff via @sdavey

* Support for basic SNP analysis pipeline finished (BBDuk trimmer, BWA aligner, and GATK).  See test run:  https://geco.iplantcollaborative.org/coge-qa/LoadExperiment.pl?wid=44582
* Support for SNP merge finished (GATK GenotypeGVCFs).
* @phloz is testing on GECO in QA installation (/opt/apache2/coge-qa) in preparation for loading 384 samples onto PROD.
* Possibl

[2017-05-03 19:35] dlebauer commented on #271
@sdavey and @phloz note that we have reorganized the data somewhat (https://github.com/terraref/reference-data/issues/117) so the paths may need to be updated.

Data that was currently in `/terraref/sites/hudson-alpha/year[12]/` have been moved to `terraref/genomics/raw_data/bap`.

The new directory structure is:
[code]

@nfahlgren @phloz would CoGe use the same `/raw-data/bap/resequencing`? Where

[2017-05-03 19:53] phloz commented on #271
@dlebauer CoGe allows use of the Cyverse data store so I’ve been using the updated paths since they were committed.  Yes, I was planning on putting the data into the derived_data directory once they are all finished.  I believe 30/390 are complete with .g.vcf files.

—
Philip Ozersky
Bioinformatics & Database Developer
Todd C. Mockler Lab
(314) 587-1697
pozersky@danforthcenter.org

[id:4341330D-33

[2017-05-03 19:54] dlebauer commented on #271
@phloz thanks! do you have a link to the completed runs?

[2017-05-03 19:58] phloz commented on #271
@dlebauer They output into my personal Cyverse file path but I can share or move them to the derived_data dir as the finish.

—
Philip Ozersky
Bioinformatics & Database Developer
Todd C. Mockler Lab
(314) 587-1697
pozersky@danforthcenter.org

[id:4341330D-33AF-46FF-ADEE-DA71A045B276]

From: David LeBauer <notifications@github.com>
Reply-To: terraref/computing-pipeline <reply@reply.github.com>
Date

[2017-05-03 20:14] hmb1 commented on #183
HI David here are the renames list:

"ND900/680", "ND900_680"
"SR900/680", "SR900_680"
"SR700/670", "SR700_670
"SR750/710", "SR750_710"
"PRI531/570","PRI531"
"MSR705/445", "MSR705_445"
"TCARI/OSAVI", "TCARI_OSAVI"
"DWSI-1","DWSI1"
"DWSI-2","DWSI2"
"DWSI-3","DWSI3"
"DWSI-4","DWSI4"
"DWSI-5","DWSI5"

[2017-05-04 03:42] remotesensinglab commented on #183
I vote for using "_" in lieu of "/" or "-"

[2017-05-04 10:52] hmb1 commented on #183
Hi David
found the following anomalies in the BETYDB indices

names "PRI" and  "PRI531/570" have same formula
name "NDVI" - Has no description field (formula field)
name "RDVI"  two entries with  different formula's

...Henry

[2017-05-04 15:53] dlebauer commented on #286
@max-zilla for the VRT, I notice that the files have paths like `/home/extractor/sites/ua-mac/Level_1/stereoTop_geotiff/2017-04-27/2017-04-27__09-58-42-323/stereoTop`

but the physical path (from `pwd -P`) is `/gpfs/largeblockFS/projects/arpae/terraref/sites/ua-mac/Level_1/`. I think @jterstriep mentioned that it is sufficient to have relative paths, which would facilitate migration to another mac

[2017-05-04 15:53] max-zilla commented on #210
@ZongyangLi will mention on phone, but remaining piece is to extract values from height file for BETYdb and histogram file for geostreams. Right now these outputs are just uploaded to Clowder as .npy files.

[2017-05-04 15:54] ZongyangLi commented on #210
@max-zilla I think there are still some other issues on this extractor. Maybe we could ignore them for now, but it will not be a true pip-line without solving these problem

1. The single scan covers about 1 meters in NS-direction, a plot length in NS is around 4 meters, we will need to integrate 4 or 5 scan's data to get a plot-level height.
2. The existed 'yshift' value here https://github.com/t

[2017-05-04 15:54] max-zilla commented on #286
@dlebauer yes, those are the paths on the VM where I'm generating the VRT. relative paths are probably the way to go, I'll take a look and ask @jterstriep if I can't figure it out - when I generate VRTs for other days today/tomorrow I'll try to apply relative paths.

[2017-05-04 16:11] max-zilla commented on #210
@solmazhajmohammadi is going to share the point cloud offset to gantry for #2.

for #1, calibrated in august and validation in November. Saw misalignment between two different point clouds ~4cm. Suspect that alignment is shifting with temperature. @smarshall-bmr will do that scan. maximum we recorded up to now is about ~5cm between hot summer and middle winter.

[2017-05-04 16:14] max-zilla commented on #210
@ZongyangLi will look at 2017 data for the merge and ignore season 1 issues for the moment.

I will add the geostreams function and then we can deploy initial version.

[2017-05-04 16:23] solmazhajmohammadi commented on #210
@smarshall-bmr it seems that the misalignment in pointclouds is due to the temperature change. It would be great if you can do multiple scan in different time of the day to see the variation with changing the temperature.
Thanks

[2017-05-04 16:46] dlebauer opened #306 "Review of full field stitched data"
Now we have the full field stitching pipeline, it would be great to review the algorithm.

### Dealing with sun/shade:

* Could we do a better job of accounting for exposure when converting 16 bit .bin to tif files?
* Where there is overlap, can we select the best or do something more sophisticated when merging
* Or would it help if the scans were done at a time during the day when there was less

[2017-05-04 16:52] dlebauer commented on #186
@rickw-ward any updates on this?

[2017-05-04 16:53] jdmaloney commented on #128
@max-zilla We'll just be getting a manual push from @smarshall-bmr once the file fills (which isn't a set time).  We're watching the destination on the cache server so we'll get it when we get it.  I am closing the ticket.

[2017-05-04 16:53] #128 closed

[2017-05-04 16:55] dlebauer commented on #172
@gsrohde will you be able to finish this up by the end of May? If so, please change the milestone, if not, please convert to an epic and break into smaller pieces that you can complete. (same for #124)

[2017-05-04 16:55] ZongyangLi commented on #126
This mismatch issue in stereo camera can be closed. Further discussion #265

[2017-05-04 16:55] #126 closed

[2017-05-05 15:40] ZongyangLi commented on #210
@dlebauer I'm going to insert height data into BETYdb. Here is an example of csv file. Could you please review and have a check. Thanks!

https://drive.google.com/open?id=0B5QCp_Onc6nOUGR0WVpsREl5NWc

[2017-05-05 15:40] dlebauer commented on #304
@craig-willis is it possible to also hook these containers up to bety by keeping an SSH tunnel open like

[code]

[2017-05-05 15:57] dlebauer commented on #210
@zongyangli that looks good. Go ahead and upload. Thanks!

[2017-05-05 16:15] ZongyangLi commented on #210
@dlebauer
When I do that, I receive below error report:
`"mean": "31.505",
            "local_datetime": "2016-08-08T12:00:00",
            "access_level": "2",
            "error": "bad date specification; see error output",
            "species": {
              "scientificname": "Sorghum bicolor"
            },`
`"site": {
              "sitename": "MAC Field Scanner Field Plot 1603 Season 2",

[2017-05-05 16:18] craig-willis commented on #304
@dlebauer Probably -- but just curious, why is it necessary/desirable to connect to BETY via localhost instead of the full name?

[2017-05-05 16:21] dlebauer commented on #304
Good question. That is the method @robkooper suggested ... also how we are
connecting GIS software.
On Fri, May 5, 2017 at 11:18 AM Craig Willis <notifications@github.com>
wrote:

[2017-05-05 16:23] dlebauer commented on #304
I know some instances of betydb allow anyone to connect locally but
restrict remote access for security. Not sure if that is related.
On Fri, May 5, 2017 at 11:21 AM David LeBauer <dlebauer@gmail.com> wrote:

[2017-05-05 22:13] robkooper commented on #304
this is using a ssh tunnel to create so that we don't not have to open the postgres database to anybody that does not have access to the machine itself.

[2017-05-05 23:05] dlebauer commented on #183
@hmb1 I updated the names from https://github.com/terraref/computing-pipeline/issues/183#issuecomment-299022115

* NDVI with no formula is a generic NDVI that has no formula w/ specific wavelenghts for hyperspectral
* RDVI were duplicates (the difference was sqrt vs ^0.5)
* I deleted the Duplicate PRI

[2017-05-08 05:42] ac-gl-chris commented on #183
Hi

sorry I was in vacation last week.
RDVI: We took the formular from [here](http://harrisgeospatial.com/docs/broadbandgreenness.html#Renormal)
PRI: Was a duplicate I missed

Chris

[2017-05-08 23:56] dlebauer commented on #210
@zongyangli

1. The date looks correct - what is the error output?
2. The sitename needs to match a record in the database terraref.ncsa.illinois.edu/bety/sites
2. the method name needs to match a name in the methods table terraref.ncsa.illinois.edu/bety/methods

[2017-05-09 00:12] dlebauer opened #307 "Change extractors to query plot boundaries from betydb"
I've added all plots through the current season At Maricopa

This means that extractors should be able to query terraref.ncsa.illinois.edu/bety/api/beta/experiments

Ideally extractors can now query experiments to find all experiments given the date and location, and then find the associated sites. This will require @gsrohde to deploy the experiments endpoint.

This will replace the current user o

[2017-05-09 14:14] ZongyangLi commented on #210
@dlebauer
1. the error is 'bad data specification', I think it's because of error 2 and error 3.
2. This is a plot number definition problem I mentioned here: https://github.com/terraref/computing-pipeline/issues/210#issuecomment-295475495, here I upload a totally 1728 plots data, maybe this makes error 2.
3. the method name comes from you comment here: https://github.com/terraref/computing-pipeli

[2017-05-09 15:01] dlebauer commented on #210
1. Hmm. error 1 is the only one that says 'see error output'. @gsrohde any ideas?
2. For season 1, Plot names for the 1728 plots are the same as for the 864 plots, but with E, W appended. We don't have the same 1728 plots specified for season 2; I can create the 1728 plots for Season 2 or we could go with the 864 plots.
3. sorry I was not clear. for the method, please create a new record here: htt

[2017-05-09 16:07] pless commented on #306
_Could we do a better job of accounting for exposure when converting 16 bit .bin to tif files?_
a) We could.  First, if the data is going to be used directly for downstream processing, we should produce 16 bit tiff files so we don't lose data there.  Second, we could do a variant of high-dynamic range rendering --- IF the areas are washed out are just because the screen shows 8 bits of resolution,

[2017-05-09 17:44] craig-willis commented on #304
@robkooper I met with David to discuss this.  It sounds like the basic requirement is to allow Workbench users to easily connect to the BETY read-only Postgres user.  To support SSH tunneling, the user would either need to have an account/key or we would need to have some generic account available to Workbench users.  I could setup a service to proxy the request via SSH tunnel.  Another option wou

[2017-05-09 17:47] craig-willis opened #308 "Create "terrautils" python library/repository"
Create a new terrautils repository and stub out a Python library (setup.py, requirements.txt, etc). This repo and library will be used going forward for TERRA-specific helper functions (e.g., interfacing to BETY, Clowder, sensor metadata, etc) from extractors and globus pipeline.

Completion criteria:
* [x] Create repo
* [x] Create basic library/framework
* [x] Review

[2017-05-09 17:50] craig-willis opened #309 "Implement terrautil interfaces for BETY, Clowder, Extractors, and Logging"
As outlined in the [Terra Utils library discussion](https://docs.google.com/document/d/16pxlpmI0Re6Zp5eCRcqF9tuyJ20aBoFtf9nho5DBHQw/edit), add support for the following to the terrautils library:

* BETY
** get_experiment(date)
** get_plot(bounding box)
** get_cultivar(plot)
** See also https://github.com/terraref/reference-data/pull/110/
* Extractors
** get_output_filename()
** log()
** Zongyan's

[2017-05-09 17:52] craig-willis opened #310 "Implement terrautil interfaces for metadata"
As outlined in the [Terra Utils library discussion](https://docs.google.com/document/d/16pxlpmI0Re6Zp5eCRcqF9tuyJ20aBoFtf9nho5DBHQw/edit), add support for the following to the terrautils library:

* Fixed metadata
** get(sensor)
** clean(json)
** clean(sensor metadata)
* Variable thesaurus
** get_synonym(variable

Completion criteria
* [x] Design documentation
* [x] Implement
* [ ] Documentation
*

[2017-05-09 18:39] max-zilla commented on #308
Created: https://github.com/terraref/terrautils

Craig, feel free to close this once you take a look. Tried to add stubs for initial methods we're adding as well.

[2017-05-09 19:16] gsrohde commented on #304
@craig-willis I'm not sure if this helps (you may already understand this) but bety6.ncsa.illinois.edu is "local" once you are through the ssh tunnel.  So the full name is specified in setting up the tunnel but needn't then be specified in the database connection.  While one could allow remote connections directly to the database, Rob considers it more secure to restrict to local connections and t

[2017-05-09 19:30] solmazhajmohammadi commented on #281
@czender I was looking at the calibration data and I noticed that the position of the spectralon targets is not same all the times. This is caused by free running mode. The pause between the scans created few extra lines, so the targets will not show up exactly at the same pixel positions in all the hypercubes. The maximum shift that I have noticed was 100 lines, you will be safe if you are choosi

[2017-05-09 19:31] craig-willis commented on #304
Thanks, @gsrohde. From my understanding, this method also requires each user to have an account on the BETY server with associated credentials (either u/p or SSH key).  In talking with David, it sounded like we want to allow Workbench users to access BETY readonly without requiring a separate OS account to access the BETY server.

[2017-05-09 19:42] gsrohde commented on #304
@craig-willis Conceivably you could use a shared machine account with limit permissions.  One problem with this is that if the credentials need to be changed, then everyone needs to be notified.  Possibly there are other better ways of doing this that are beyond my ken.  See also https://github.com/terraref/computing-pipeline/issues/262 for some background on this.

[2017-05-09 19:55] czender commented on #281
Thanks @solmazhajmohammadi This shift will complicate the reduction procedure by requiring more person-time verifying the target locations. Nevertheless, it's good to know in advance that this will be required.

[2017-05-09 20:04] max-zilla commented on #309
started on this: https://github.com/terraref/terrautils/blob/implement-extractor-methods/terrautils/extractors.py

[2017-05-09 22:03] ZongyangLi commented on #210
@dlebauer I successfully create a new method called: 'Scanner 3d ply data to height', and error 3 goes away. Since the 1728 plots still not work, I used the 864 plots definition to finish the operation.

One another error comes out:
`"model_validation_errors": "{:mean=>[\"The value of mean for the height trait must be at most 120.\"]}",`

By the way, @solmazhajmohammadi gave us the origin in point

[2017-05-09 22:22] dlebauer commented on #210
@ZongyangLi thanks,

* the error you observed is caused by the fact that each variable has a valid range, and in the case of 'height' the valid range is [0, 120]. And the variable height has units in meters (as you can tell, these ranges are generally very generous; the tallest known tree is 115m).
* however, I think that we should be using the variable [`canopy_height](https://terraref.ncsa.illin

[2017-05-10 01:06] robkooper commented on #304
We can look and see what needs to be done to allow for a viewer that can access the database inside NCSA. I do want to spend some time to make sure this is secure. I want to make sure we limit this user to only those tables that are needed. For example this viewer account should not need to see the users table (which contains the encrypted passwords, and api keys).

[2017-05-10 04:27] dlebauer commented on #193
I've flagged the 95th quantile height dataset as having errors thus:

[code]

It had errors related to the fraction of points at ground level and related to the errors in the scanner calibration.  New heights from a regression model have been inserted in https://github.com/terraref/computing-pipeline/issues/210

[2017-05-10 06:18] gsrohde commented on #210
@dlebauer and @ZongyangLi The message should probably say "See error list" instead.  The error list contains the key-value pair `date_data_errors=>[\"You can't have a local_datetime attribute on a trait-group's defaults element if no default site has been specified.\"]`.  But this itself is unclear except when an XML file, not a CSV file, is being uploaded.  And I think the error itself is bogus i

[2017-05-10 14:05] dlebauer opened #311 "Deploy BETYdb summary app"
The app in PR terraref/reference-data#110 provides a Python Flask app that summarizes available data in BETYdb, with daily updates

I got it close to running thus:

[code]

### Discussion

This is a lightweight job, so could run on head node without anyone noticing (a single web page w/ a few charts. I've put a sample (compiled on laptop and moved to the webapps folder) here: https://terraref.ncsa

[2017-05-10 14:28] robkooper commented on #311
This is already running on a special node: http://141.142.211.143:5000/ right now. Eventually it needs to be linked into the nginx server. This was done by @nickheyek

[2017-05-10 14:38] dlebauer commented on #311
@nickheyek is the scheduler and cache working? The most recent files in the cache on the terra-traitvis server /home/nheyek/reference-data/experiment-trait-data-visualizer/api_data_cache/ are from April 20. We've updated a bunch of the data. How can this be re-triggered?

[2017-05-11 10:36] hmb1 commented on #183
@dlebauer
one more typo
"name": "Chl index"

[2017-05-11 10:45] hmb1 commented on #183
@dlebauer, @ac-gl-chris
HI Guys heres the latest meta data
pls check for typo's etc
...Henry
[n2_ind.txt](https://github.com/terraref/computing-pipeline/files/992724/n2_ind.txt)

[2017-05-11 13:51] max-zilla commented on #230
I tried running the field stitching script on 04/15, but the VRT creation process failed:
[code]

This is the result on the .nc files.

Trying to sort out the SWIR query fix today.

[2017-05-11 13:56] dlebauer commented on #230
@max-zilla did you try gdal_translate nc-->tif?

[2017-05-11 14:58] craig-willis commented on #290
Re-initiated transfer to NCSA.  This will likely be done next week.

[2017-05-11 15:02] craig-willis opened #312 "Add Google analytics to Workbench"
Add TERRA project analytics ID to workbench instance for tracking purposes.

Completion criteria
* [x] Tracking ID added to webui configuration
* [ ] Confirm tracking information appearing in analytics.

[2017-05-11 15:07] craig-willis commented on #312
Spoke with Mike from Workbench team and we recommend that you have a single TERRA "Account" with multiple applications/properties.  We would just need the tracking ID that I can put in the webui container to start tracking.

[2017-05-11 15:08] max-zilla commented on #309
@ZongyangLi today on the call I will discuss effort to generalize the stereo-rgb geometry code - I've been comparing it to the code we have for FLIR -> GeoTIFF and have a few questions.

Here's my branch:
https://github.com/terraref/terrautils/blob/implement-extractor-methods/terrautils/extractors.py

...but I'll plan to share my screen.

[2017-05-11 15:12] craig-willis opened #313 "Workbench approval and support emails"
Currently Workbench has a single email address for all account approval and support requests. For NDS, we use a mailing list -- ndslabs-support@... -- and membership is managed through the list.

We discussed this, but I'm not sure what's the best solution at this point.  My inclination is to setup a TERRA support list similar to NDS that can be used across all services.  We also discussed setting

[2017-05-11 15:13] dlebauer commented on #281
Can this be automated? From my naiive perspective, relative to other
problems, it seems straight forward to clarify large homogeneous groups of
pixels as one of n targets or other.
On Tue, May 9, 2017 at 2:55 PM Charlie Zender <notifications@github.com>
wrote:

[2017-05-11 15:20] robkooper commented on #313
@mchenry set up a special address support@nationaldataservices to allow for this. We can use support+terra@national to send it to the right domain.

Right now me and kenton get this email, but the goal is to have this go into a jira for a specific group.

[2017-05-11 15:21] craig-willis opened #314 "Update Workbench to 1.0.10"
Workbench 1.0.9 has a bug in the approval process, preventing approval flag from being respected. This is fixed in 1.0.10, but will require additional changes/considerations:

* [x]  What is the support email address for approval/support requests? terraref-support@lists.illinois.edu
* [x] Need to update the UI customization to 1.0.10 (minor bugfixes)
* [x] Set correct forum (no forum) and chat ser

[2017-05-11 15:34] dlebauer commented on #312
Tracking ID sent via Slack PM

On Thu, May 11, 2017 at 10:07 AM Craig Willis <notifications@github.com>
wrote:

[2017-05-11 15:41] dlebauer commented on #314
support email address: terraref-support@lists.illinois.edu

[2017-05-11 15:44] max-zilla commented on #286
I've updated the VRT script with a flag to use relative paths:
[code]

[2017-05-11 15:45] #286 closed

[2017-05-11 16:13] craig-willis commented on #304
As discussed in weekly meeting: Some users have access to the machine and a postgres account (separate from the web UI). It sounds like there are security issues we'd need to address to allow direct access to BETY. Otherwise, we can use the sync feature to a separate copy. Rob is talking with NCSA security about allowing access to Postgres.  One option would be to setup a Postgres container on Wor

[2017-05-11 16:13] dlebauer commented on #304
related: https://github.com/terraref/reference-data/issues/111

[2017-05-11 16:22] max-zilla commented on #230
http://www.gdal.org/frmt_various.html

GMT -- GMT Compatible netCDF

GDAL has limited support for reading and writing netCDF grid files. NetCDF files that are not recognised as grids (they lack variables called dimension, and z) will be silently ignored by this driver. This driver is primarily intended to provide a mechanism for grid interchange with the GMT package. The netCDF driver should be us

[2017-05-11 16:33] dlebauer commented on #210
* change to plant_height

[2017-05-11 16:42] dlebauer commented on #309
* The R interface to the BETYdb API is here: https://github.com/terraref/traits/blob/master/R/betydb.R and might be useful. (It doesn't include pushing).
* The experiments endpoint is https://github.com/PecanProject/bety/pull/484 waiting on @gsrohde to deploy

[2017-05-11 17:01] dlebauer commented on #306
@pless and @ZongyangLi What are the next steps?

There was a related discussion on using feature matching starting at https://github.com/terraref/computing-pipeline/issues/265#issuecomment-292232377

[2017-05-11 17:04] craig-willis commented on #313
David provided a different email address for https://github.com/terraref/computing-pipeline/issues/314

[2017-05-11 17:04] dlebauer commented on #306
@pless and @ZongyangLi can you comment on the compressed files that @jterstriep generated? Some have 25x size reduction.

[2017-05-11 20:00] craig-willis commented on #313
Closing this in favor of #314.

[2017-05-11 20:00] #313 closed

[2017-05-11 21:03] dlebauer commented on #314
@robkooper regarding which email address to use for account approval ... I don't have a preference between support+terra@nationaldataservice.org and terraref-support@lists.illinois.edu so long as the approval requests are forwarded to Rachel, me, and anyone else who can be trusted and is willing to accept this great responsibility.

[2017-05-11 21:23] craig-willis commented on #314
Upgrade is complete.  This includes fix for the approval process, change to use terraref-support@lists.illinois.edu for registration and support requests, and addition of Google analytics tracking ID.  I'll leave this open until we've had the chance to confirm the changes.

[2017-05-11 21:23] robkooper commented on #314
I think in this case we should just use the terraref-support.

[2017-05-11 21:31] #225 closed

[2017-05-11 21:32] craig-willis commented on #302
I've added PG studio to the catalog. Given the discussion today, it sounds like the second requirement will require me to come up with a strategy to sync the BETY data to a local instance on the Workbench server.

[2017-05-11 21:34] craig-willis commented on #312
Looking at the real-time report, this appears to be working.

[2017-05-11 21:34] #312 closed

[2017-05-11 21:39] craig-willis commented on #314
Email, approval, and analytics changes all appear to be working.  Closing this.

[2017-05-11 21:39] #314 closed

[2017-05-11 22:38] dlebauer commented on #302
Strategy for syncing BETYdb: @robkooper is the architect of the system, but there should be two steps

1. On bety6.ncsa.illinois.edu, set cron job to dump **all** contents of bety6
2. on a local postgres server run `load.bety.sh -c -r 6`
3. Once this is worked out, document steps required to clone & keep current the terraref trait database (bety6)

A draft workflow that will likely require feedbac

[2017-05-11 22:55] gsrohde opened #315 "Add GitBook documentation of JSON and XML format POST requests"

[2017-05-11 23:02] gsrohde opened #316 "Check that POST APIs handle character encodings properly"

[2017-05-12 18:59] max-zilla commented on #306
@ZongyangLi @pless @dlebauer I generated a VRT, TIFF and 10% resolution TIFF for 05/09. There are plants in this one. More interesting light effects too, in the north half this time.
![screen shot 2017-05-12 at 1 58 51 pm](https://cloud.githubusercontent.com/assets/14166971/26012731/28bfc49a-371b-11e7-83f4-e577fd9648bb.png)

[2017-05-15 21:09] czender commented on #281
@solmazhajmohammadi or @NewcombMaria or @smarshall-bmr
Here is a representative unshaded image:
/projects/arpae/terraref/sites/ua-mac/raw_data/VNIR/2017-04-15/2017-04-15__16-00-00-124/2e4f6f9d-2193-4f3c-8fcd-45010237a9cd_image.jpg
Please post the name/model/factory-calibrated reflectance of each panel from top-to-bottom, left-to-right. We will manually draw bounding boxes. @dlebauer or @remotesens

[2017-05-15 22:49] NewcombMaria commented on #281
@czender for the 20% and 75% panels and also the 48% small tarp, I've sent an email to the USDA researchers who lent us these targets.  I'll post the info for these when we learn more.  Stuart and Solmaz might have info on the remaining targets.

[2017-05-16 13:49] craig-willis commented on #290
Transfer complete!  Next steps are to request the new workbench domain and TLS certificates.

@dlebauer My plan is to use workbench.terraref.org, unless you have another suggestion?

[2017-05-16 13:57] dlebauer commented on #290
@craig-willis I think workbench.terraref.org is fine but can we have terraref.ndslabs.org redirect here at least for a few months so we can update links in documentation?

At some point it would be nice to point, e.g., bety to traits.terraref.org and clowder to sensors.terraref.org - is that difficult to do?

[2017-05-16 15:52] czender commented on #281
@NewcombMaria @smarshall-bmr @solmazhajmohammadi We need a legend with the target name/reflectance written on top of each target in the picture. It's not obvious to me which target is which :) And of course to be accurate we need the full spectral factory calibration of each target. Currently we only have that for the nominal 95% reflectance Spectralon. Please upload all factory calibration data.

[2017-05-16 16:13] solmazhajmohammadi commented on #281
![a](https://cloud.githubusercontent.com/assets/17046539/26116394/9c8ebe3e-3a28-11e7-8605-464d3455f648.jpg)

[2017-05-17 14:52] max-zilla commented on #307
@dlebauer @gsrohde do we currently have a means to query sites table by lat/lon?

I am working on terrautils and hoping to replace the "query a local shapefile for overlapping polygons and assign sites that way" code with "query BETYdb with my centroid lat/lon and get any site(s) that is within".

@robkooper didn't think such an endpoint existed yet - does it?

A middle ground could be querying by

[2017-05-17 14:56] max-zilla commented on #268
The code used in terrautils will enforce a standard method for generating geotiffs:
https://github.com/terraref/computing-pipeline/issues/308

Will need help from others to enforce CF standards however.

[2017-05-17 15:02] max-zilla commented on #159
This is going into the terrautils library:
https://github.com/terraref/terrautils

I've already done synthesis of existing geospatial code into one place - last remaining issue is to get plot definitons from BETY as discussed here:
https://github.com/terraref/computing-pipeline/issues/307

Will close this issue so that issue can reflect last remaining task.

[2017-05-17 15:02] #159 closed

[2017-05-17 15:04] #308 closed

[2017-05-17 16:52] dlebauer commented on #262
I've revoked `SELECT` access from the users table for purposes of security.

[code]

I've also revoked access from the PEcAn modeling tables so that only relevant tables are visible (to reduce the overhead of having to read through a long list of obscure tables. All of these "REVOKE" statements are here:
https://gist.github.com/dlebauer/4aae063ac38d1dba9859da1ddfb5d2c5

[2017-05-17 16:52] #262 closed

[2017-05-17 17:06] rachelshekar commented on #80
@jdmaloney - please give an update

[2017-05-17 17:10] rachelshekar commented on #261
@dlebauer  -  this is waiting for review.

[2017-05-17 17:14] rachelshekar commented on #173
@dlebauer - can this be closed?

[2017-05-17 18:19] max-zilla commented on #307
@jterstriep FYI, we can both use this.

[2017-05-17 18:47] gsrohde commented on #307
@max-zilla I'm almost certain no such query is currently possible within the API.  It seems like such a filter wouldn't be difficult to implement.  I'm imagining an additional parameter such as `containing=40,-88`.

[2017-05-17 18:49] max-zilla commented on #307
@jterstriep gonna dump this on ya since I just wrote it for terrautils:
[code]

Can be used like so:
[code]
I think since GDAL is already a requirement for terrautils, until the API is extended I'll try writing a quick function to parse the geometry field and allow you to provide a lat/lon and return all sites that intersect it.

[2017-05-17 19:05] dlebauer commented on #307
@max-zilla there is a geometry endpoint on the API but I doubt you can query sites w/ a lat/lon point using the API as this is a special type of geospatial query.

but using SQL to find sites containing a file with the point 33.075950795147, -111.975025821879 and date 2016-11-01

[code]

Is it possible to query the database directly to perform such queries? Currently the API is very slow and lacks

[2017-05-17 21:58] jterstriep commented on #307
@max-zilla, the sitename is pretty non-standard within bety. Generally, I had to string search for '%Season N%' but Season 2 has two different definitions of plots. The different formats are as follows:

MAC Field Scanner Season 1 Field Plot N
MAC Field Scanner Field Plot N Season 2
MAC Field Scanner Season 2 Range N Pass N   # non-standard plot boundaries
MAC Field Scanner Season 3 Range N Column

[2017-05-18 01:21] gsrohde opened #317 "For GET API endpoints, make more complete apipie documentation comments (Import from psql table and field comments (more info + examples on summary page))"

[2017-05-18 01:27] gsrohde opened #318 "Make sure GitBook documentation of GET requests is up to date"
GitBook should provide examples and point to api/docs/beta for full docs. Perhaps add link DOCS --> API.

[2017-05-18 01:30] gsrohde opened #319 "Add more testing of API GET endpoings"

[2017-05-18 01:34] gsrohde opened #320 "Change API endpoint from /api/beta to /api/v1"
For now, simply make v1 a duplicate of beta and deprecate the beta path.  We should plan on maintaining beta for a few years before removing it.

[2017-05-18 13:35] max-zilla commented on #307
FYI @gsrohde has implemented support for lat/lon sites filter into BETY and it's in testing:
https://github.com/PecanProject/bety/pull/514

[2017-05-18 14:03] dlebauer commented on #265
Is this ready to be closed? #306 covers some remaining issues.

[2017-05-18 14:07] max-zilla commented on #265
Yes, I believe so - current plan is for @jterstriep to develop service to query plots on-demand instead of mass conversion ahead of time. There are other issues where this is being discussed.

[2017-05-18 14:07] #265 closed

[2017-05-18 14:08] jdmaloney commented on #80
This was completed and integrated into the transfer pipeline.

[2017-05-18 14:08] #80 closed

[2017-05-18 14:09] dlebauer commented on #276
Static pages can be served from https://terraref.ncsa.illinois.edu/webapps/ua-mac/. Presumably any extractor can write out a page to  to  terraref/sites/ua-mac/www/ on ROGER and then the website will be available.

@nickheyek generated a dynamic app (updated daily) that is being served here: http://141.142.211.143:5000/ (how is this different? what is required to post this?)

## TODO:

* [ ] add s

[2017-05-18 14:23] dlebauer commented on #80
@jdmaloney The final step was to add this data to the geostreams database ... not sure if this has been done, so I am re-opening. @harshagrawal28 did you finish adding the irrigation data? Can you point to it?

[2017-05-18 14:25] dlebauer commented on #265
@jterstriep could you link to or create the issue that covers the on demand plot subsetting?

[2017-05-18 14:26] max-zilla commented on #80
@dlebauer yes, this was done several weeks ago.

https://terraref.ncsa.illinois.edu/clowder/api/geostreams/datapoints?stream_id=750

(you'll need to add &key=SECRETKEY to get results right now, i need to finish making those endpoints public)

[2017-05-18 14:40] dlebauer commented on #173
Yes, these functions have been added to the PEcAn.data.atmosphere package. https://github.com/PecanProject/pecan/tree/develop/modules/data.atmosphere/R

Thanks @infotroph!

[2017-05-18 14:40] #173 closed

[2017-05-18 14:42] dlebauer commented on #261
The first draft is here: http://141.142.211.143:5000/

But it has a few issues:

* does not dynamically update
* only has data from one season.

@nickheyek and I will work on this this summer. A good target would be the July Sprint. I'll convert this to an epic.

[2017-05-18 14:45] jdmaloney commented on #296
Database is being backed up twice a day and the dump is sent over to ROGER for safety

[2017-05-18 14:45] #296 closed

[2017-05-18 14:55] dlebauer commented on #268
Who takes the lead on this and when can it be finished (please add a milestone for May or June or ...)

[2017-05-18 14:57] dlebauer commented on #279
This can be closed. I'll follow up w/ @ludaesch

[2017-05-18 14:57] #279 closed

[2017-05-18 14:59] rachelshekar commented on #167
@SaraHarders and @rickw-ward - please provide an update.

[2017-05-18 15:19] max-zilla commented on #268
Based on other discussions I think it would make sense for @craig-willis to take the lead on this, but I will talk more about this/terrautils at the meeting today.

[2017-05-18 15:27] dlebauer commented on #240
@TinoDornbusch are you working on this? Will it be ready by the end of May?

[2017-05-18 15:30] dlebauer commented on #260
@nshakoor what are the next steps on this? Should we discuss at the next Tuesday teleconference?

[2017-05-18 16:19] rickw-ward commented on #167
@SaraHarders and I will respond asap.  We are close.  I added @NewcombMaria

[2017-05-18 16:57] rachelshekar commented on #281
@solmazhajmohammadi please add a link to the factory calibration information for the borrowed panels.

[2017-05-18 18:43] ZongyangLi commented on #309
I am going to review flir extractor codes and will update to https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/Get_FLIR.py

[2017-05-18 20:15] dlebauer commented on #281
Updates from slack

* on April 15 Solmaz captured a time-series of spectometer readings for all the targets using the spectrometer that she brought with her.  Either Solmaz or Bob @rjstrand or both have the spectrometer data.
* The 75% and 20% are borrowed from Kelly Thorpe @kthorp at ALARC ... Kelly has measured them with his (very good) spectrometer. I'll try and get those readings for you.
* Th

[2017-05-18 20:33] ZongyangLi commented on #309
@dlebauer @max-zilla
The existed flir extractor will create a 'color coded png' base on the pixel range in the target bin file and a geotiff that store true temperature value.

There is something we need to discuss here:
1. The png file is just for visualization, there is no real temperature value in it,  the existed normalize method only focus on one source data, but not a full screen normalizati

[2017-05-18 20:54] ZongyangLi commented on #309
Great!

So the only remaining thing is to determine the scale for each day.
I will make it as an input of the function. Then it will be easy to add the air temperature when it is available.

[2017-05-18 22:08] dlebauer commented on #309
@ZongyangLi the air temperature data is available and you should be able to query it with the pyClowder package, though I don't know how ... (@max-zilla?)

[2017-05-18 22:13] dlebauer commented on #309
... and for the scale, would it make sense to stitch the entire field first and then get the range for the scale? Perhaps rounded to the nearest 10s (may take some experimentation)

[2017-05-19 13:38] max-zilla commented on #309
@dlebauer @ZongyangLi if I understand correctly, perhaps we blend these ideas:
1. convert all flirIrCamera raw bin files to geoTiff, with temp as value (I propose no PNG thumbnails for each dataset, BUT if we generate them it's just a dataset-scaled reference and it won't be used for the full field stitching)
2. stitch a day of geoTiffs into full field (px values = temp)
2a. query the weather geos

[2017-05-19 14:23] craig-willis commented on #302
@robkooper  Looking again at how best to do this.  David mentioned that he's remove viewer access from the users table (https://github.com/terraref/computing-pipeline/issues/262) , so direct connection may be an option again. As discussed last week, we have a few options:
* Workbench users can connect directly to TERRA bety instance via internal network to 5432
* Periodically copy either dumpall.s

[2017-05-19 14:45] ZongyangLi commented on #309
@max-zilla
That sounds reasonable to me.
I will focus on the GIS in flir geotiff creation now.

[2017-05-19 14:58] robkooper commented on #302
You can use the updated load.bety.sh script from https://raw.githubusercontent.com/PecanProject/pecan/357b70e21592375827e9c55bc5e1ce8e3426bd78/scripts/load.bety.sh

This allows you to specify the URL to get the data from:
load.bety.sh -c -u -m 99 -r 0 -w https://terraref.ncsa.illinois.edu/bety/dump/bety0/bety.tar.gz
load.bety.sh -m 99 -r 6 -w https://terraref.ncsa.illinois.edu/bety/dump/bety6/bety

[2017-05-19 15:27] dlebauer commented on #304
@craig-willis in the R container, please replace `devtools::install_github("ropensci/traits")` with `devtools::install_github("terraref/traits")`. Once it is live I will probably have a few simple r package dependencies to add since I haven't tested the code on a single container yet.

[2017-05-19 17:02] craig-willis commented on #302
Thanks, Rob. I have an almost working postgis container that uses the above load process. Just doing some sanity checking, I noticed the traits table has no rows?

[2017-05-19 17:19] dlebauer commented on #302
@robkooper did you set up a cron job to dump and load the data? If so could you paste it here so it will be added to the documentation? https://github.com/terraref/documentation/issues/153

[2017-05-19 17:19] dlebauer commented on #302
@robkooper PS thanks for such a quick turnaround!

[2017-05-19 17:24] dlebauer commented on #302
@robkooper regarding the traits table not having any rows ... did you use `-l 2` in the `dump.bety.sh` script to dump data with access_level = 2?

[2017-05-19 18:32] robkooper commented on #302
The following runs every hour on the hour:

[code]

[2017-05-19 18:33] dlebauer commented on #309
@max-zilla I agree. I would add that at the full field level it will be important to know the temperature (and perhaps time and other environmental variables) for each pixel. These would be one value within each image but variable over the field (though should be highly compressible). I am not sure where it would fit into the workflow, or if it is something 'nice to have' that we should stage for

[2017-05-19 18:36] robkooper commented on #302
@craig-willis can you check on the import and see if there is any errors. Looking at the dump there should be traits data:
[code]

[2017-05-19 18:45] craig-willis commented on #302
Thanks, @robkooper . My mistake, it looks like I was querying the table before the traits data had completed loading.

[2017-05-19 18:49] max-zilla commented on #309
@dlebauer my gut feeling is that we'd want 3rd option: query the air temp and time as we convert from bin to geotiff and add to each tile. then the VRT algorithm stitch will select the appropriate temp/time from the source that gets propagated into the field stitching - this would also support down-the-road enhancements like pixel thresholding (so if portions of a tile are removed due to sun refle

[2017-05-19 19:30] dlebauer commented on #309
@ZongyangLi does the FLIR camera or the pipeline use emissivity as a parameter? Is this parameter in the sensor metadata (If anything it would go in the variable metadata)?

What value are you using? Are there other parameters / assumptions? We can add this parameter either as a covariate or as part of the method definition. (would be better in the method if we are using a fixed value for everythi

[2017-05-19 19:53] ZongyangLi commented on #309
@dlebauer For now I didn't use any value for the scale. The way of determine scale is re-scale from [min, max] in bin file to [0,1], then remap it into a matplotlib color map.

I don't fine such an emissivity parameter in the metadata.

Another way of storing air temp in geotiff is to add a Band and put the data you want into it.

[2017-05-19 19:59] max-zilla commented on #230
@czender I corrected the SWIR datasets and pulled the latest hyperspectral code, then submitted 04/15. Got errors:
[code]

[2017-05-19 20:29] craig-willis commented on #302
@dlebauer @robkooper

I have a first-pass at this running on terraref.ndslabs.org. The Dockerfile is on github:

https://github.com/terraref/toolserver-dockerfiles/tree/kitchensink/bety

You can connect to the DB via the Postgres Studio
IP: 10.0.0.183
Database: bety
User:  bety
Password: bety

This is only accessible from within workbench. You should also be able to connect via any postgres client

[2017-05-19 20:50] dlebauer commented on #302
@craig-willis thanks! could you run commands to restrict read access to tables from the bety user? I think it helps to clear the clutter  https://gist.github.com/dlebauer/4aae063ac38d1dba9859da1ddfb5d2c5#file-revoke_select_from_bety_user-sql

Also, when I load the SQL Worksheet and try to run

[code]

I get the error message as popup

![image](https://cloud.githubusercontent.com/assets/464871/2626

[2017-05-19 20:54] dlebauer commented on #302
Actually, that only happens if I hit enter in the window and then try to run it. Somehow hitting enter causes it to log out because when I reload the page I am redirected to login. If I just click the green 'play' button it returns the expected result. Perhaps a bug in the interface, not a big deal.

[2017-05-19 21:07] craig-willis commented on #302
I've run your SQL statements and will add to the container.

[2017-05-19 22:04] craig-willis commented on #304
I've created an rstudio-terraref image that contains Rstudio, Python2, Python3, Plantcv dependencies.   You can test this in Workbench by importing the following service spec:

[code]

Dockerfile is here:
https://github.com/terraref/toolserver-dockerfiles/blob/kitchensink/kitchensink/rstudio/Dockerfile

Let me know if you need any changes.  I'll start working on the Jupyter environment.

[2017-05-20 21:04] FlyingWithJerome commented on #230
@max-zilla
There are two possibilities.
1. The *.hdr file is lost (or broken).
2. The *.hdr file is OK, but the wavelength number is no longer 955 (VNIR) or 272 (SWIR). If this is the case, and @czender says it is fine, I will replace this assertion.

[2017-05-22 20:11] czender commented on #230
This is our fault because we never updated the validator for the new SWIR configuration. Will submit PR today that fixes it.

[2017-05-22 20:21] czender commented on #230
@max-zilla we just merged the fix for SWIR data. please retry extractor...

[2017-05-22 20:33] max-zilla commented on #230
@czender thanks for quick turnaround, will get that going tonight or tomorrow morning.

[2017-05-23 15:30] max-zilla commented on #230
@czender I just reran for SWIR 04-15 and it looks like things were processed this time - I see some .nc files in the hyperspectral_swir Level_1 directory.

[2017-05-23 20:35] ZongyangLi commented on #309
@max-zilla
flir extractor core code updated here:
https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/Get_FLIR.py

[2017-05-24 20:58] NewcombMaria commented on #281
Suzette and Kelly Thorp (USDA ALARC) provided the following information about the 20% and 75% panels.  Both are from LabSphere.  There's a calibration certificate for the 75% panel and an ID tag for the 20% panel.  Both are attached here, along with the spectralon target  specs from the website.
[spectralon_targets (from website).pdf](https://github.com/terraref/computing-pipeline/files/1027231/sp

[2017-05-24 21:49] dlebauer commented on #281
I've added data for the 75% target to the ['Target Calibration Datasets'](https://drive.google.com/drive/u/0/folders/0By_PDCcY5g2JS3BWX2MydTJhZDQ) folder on google drive. I noticed that the color target spectral reflectance response curves are also available in there, but those are only calibrated to 830nm

I also opened terraref/reference-data#132 to address compiling the calibration data and mak

[2017-05-25 13:31] rachelshekar commented on #249
@rmgarnett @nfahlgren @solmazhajmohammadi @pless  @ZongyangLi
Please review the extractors at https://docs.google.com/spreadsheets/d/1LLiQSFHbEWoo_FkvG1nl-XoSq_lZ_o6VazfxmPfOH9Y/edit#gid=1888797382
Confirm that you intend to have these extractors ready for the November release.

Please let us know if anything is missing.

[2017-05-25 13:40] craig-willis opened #321 "PI4 instance"
This is just to track work done to deploy the TERRA-REF Workbench for the upcoming PI4 class.  The PI4 class will run 5/26 - 6/9 with ~20 students accessing R/Jupyter/OpenRefine containers to access the TERRA-REF dataset.

* [x] Provision Workbench instance
* [x] Create custom catalog using existing TERRA-REF containers
* [x] NFS exports/mounts for data
* [x] Add OpenRefine container
* [x] Import

[2017-05-25 13:44] max-zilla commented on #230
@czender also pulled latest code and I'm rerunning 04-15 for VNIR this morning. had to also update my extractor with an --overwrite flag to force it to replace the previous versions.

[2017-05-25 13:45] craig-willis commented on #290
DNS request for *.workbench.terraref.org submitted. Will address the bety/traits and clowder/sensors requests in a separate ticket. (It should be possible, but in discussions with Rob there are configuration changes for Clowder/Bety).

[2017-05-25 13:48] craig-willis opened #322 "DNS entries for traits and sensors.terraref.org"
From issue #290.

DNS for terraref.org is now managed by NCSA.  We have setup workbench.terraref.org. It would be useful to setup these additional entries:

* traits.terraref.org > bety (currently https://terraref.ncsa.illinois.edu/bety)
* sensors.terraref.org > clowder (currently https://terraref.ncsa.illinois.edu/clowder)
* thredds.terraref.org --> https://terraref.ncsa.illinois.edu/thredds
* tr

[2017-05-25 14:09] craig-willis commented on #302
@dlebauer I still need to implement the cronjob on this, but is it otherwise working as hoped?

[2017-05-25 14:10] craig-willis commented on #304
I still need to complete the Jupyter image.

[2017-05-25 15:15] rachelshekar commented on #249
For November release:
Due date for extractors = May 31
Due date for 2016 data = May 31

[2017-05-25 15:18] dlebauer commented on #306
@ZongyangLi can you please create a new issue that covers the implementation of these changes, and then close this one?

[2017-05-25 15:41] czender commented on #281
This is a good start. The 75% target data looks usable.

[2017-05-26 03:45] dlebauer commented on #281
FYI I parsed the calibration table to CSV
https://drive.google.com/open?id=0By_PDCcY5g2JWlU4R1VzMHFhejg

It is in the target calibration folder on Google drive alongside the
measurements Solmaz made

Label here doesn't have calibration files for the 20% target. They
suggested they might not be valid and could be recalibrated.
On Thu, May 25, 2017 at 10:41 AM Charlie Zender <notifications@github.co

[2017-05-26 03:46] dlebauer commented on #302
Yep it is awesome. Thanks!
On Thu, May 25, 2017 at 9:09 AM Craig Willis <notifications@github.com>
wrote:

[2017-05-26 03:53] dlebauer commented on #322
To be clear this would be nice but isn't essential. And I think there is
value in keeping these at default paths like /bety because that might be
easier in the long run. Would terraref.org/bety be easier to implement?

Would it help to do the change alongside the beta release? Then use sed to
find/replace everything in docs and code?
On Thu, May 25, 2017 at 8:48 AM Craig Willis <notifications@gith

[2017-05-26 03:59] dlebauer commented on #321
It's awesome, thanks for pulling this together. I'll let you know if anything comes up but seems ready to go. If you could set up the cron job of do ones more import of betydb before next Tuesday then please close the issue.

[2017-05-26 12:52] craig-willis commented on #321
I've added the bety postgis instance.  For pi4.ndslabs.org, you should be able to connect with the following:

Host: terra-bety.default
Port: 5432
User: bety
Password: bety
DB: bety

[2017-05-30 15:16] remotesensinglab commented on #249
Hi Rachel,
The due date for the milestones highlighted in yellow is May 31? it will take some time for us as it rely on field data collected in this summer.

Thanks,

[2017-05-31 14:26] craig-willis commented on #290
Workbench DNS entry in place.  Will need to update the instance configuration and add the redirect from terraref.ndslabs.org

[2017-06-01 14:12] rachelshekar commented on #261
@nickheyek do you have a more recent draft with a different URL than http://141.142.211.143:5000/
I think David showed me something a bit different...

[2017-06-01 14:25] rachelshekar commented on #283
http://terra-logging.ncsa.illinois.edu:3000/dashboard/db/sensor-file-counts-and-size?from=now-6M&to=now

[2017-06-01 14:43] jdmaloney commented on #283
Should be this:
http://terra-logging.ncsa.illinois.edu:3000/dashboard/db/extractor-statistics

[2017-06-01 14:48] #245 closed

[2017-06-01 14:58] rachelshekar commented on #306
@ZongyangLi - reminder

[2017-06-01 15:25] rachelshekar commented on #167
@rickw-ward @dlebauer will this be trait data?  Will we also store raw data in clowder?

[2017-06-01 16:17] #157 closed

[2017-06-01 16:22] rachelshekar commented on #183
waiting for plot level data processing; reassigning to June

[2017-06-01 16:27] rachelshekar commented on #230
@max-zilla please close the issue and create a new one for running the full season

[2017-06-01 16:28] rachelshekar commented on #207
moved to June; dependent upon https://github.com/terraref/computing-pipeline/issues/265

[2017-06-01 16:30] robkooper commented on #276
@dlebauer the webapp from @nickheyek needs to be served under a different name (traitvis for example) and we can have http://terraref.ncsa.illinois.edu/traitvis point to this. The other options is give each of these a seperate URL (i.e. traitvis.terraref.org).

[2017-06-01 16:32] #302 closed

[2017-06-01 16:37] rachelshekar commented on #155
use THREDDS 4.6, not 5.0.

Rob is still working on this.

[2017-06-01 16:44] dlebauer commented on #167
we can put the full field stitched scans on ROGER under sites/ua-mac/Level_1, upload these to Clowder, and separately insert the plot level summaries into BETYdb as traits.

[2017-06-01 17:06] ZongyangLi opened #326 "Dealing with sun/shade in stereo image"
- [x] We are planning to deal with sun/shade in full field stitched rgb image by choosing a darker tile in a set of tiles, since we have overlap images.

- [ ] If above method do not work well, we may try a variant of high-dynamic range rendering, this is not the best choice because the data is missing.

[2017-06-01 17:07] ZongyangLi commented on #306
further work will discuss in #326

[2017-06-01 17:07] #306 closed

[2017-06-01 17:09] nickheyek commented on #261
That is the most recent draft. I had planned to begin working on creating a higher quality R/Shiny version when the SPIN internship period begins on the 12th.

[2017-06-01 22:34] rickw-ward commented on #167
@SaraHarders can we meet soonest?

[2017-06-02 12:57] max-zilla opened #327 "Generate full field flirIR image from week of May 22"
@nshakoor reports a need of the group:

We have converters for the IR data to geoTIFF and code written for the stereo RGB camera to stitch geoTIFFs into a full field mosaic, but we haven’t tested how the RGB parameters look when applied to IR camera – it may end up that we need different FOV calibrations from Stuart.

But we’re probably talking ~inches of misalignment I’d guess, so you can likely

[2017-06-02 14:05] ZongyangLi commented on #327
@max-zilla
parameters for flir data stitching has been created, please see comment here:
https://github.com/terraref/computing-pipeline/issues/309#issuecomment-303523904

[2017-06-07 14:47] max-zilla opened #328 "fix data type on flirIrCamera geoTIFFs"
While trying to generate a full field mosaic for flirIr Camera (https://github.com/terraref/computing-pipeline/issues/327) my first result was an entirely blank field.

I looked further and all the flirIR geoTIFFs are black (including back in 2016). Apparently no one's tried to use these for anything yet - the PNGs look great so I was scratching my head over it.

After some detective work I discov

[2017-06-08 14:15] max-zilla commented on #327
@ZongyangLi did you implement a fix for rotating 90 degrees? i included the parameters I believed you meant:
[code]

...but the full field stitch has everything rotated 90 degrees.
![screen shot 2017-06-08 at 9 09 26 am](https://user-images.githubusercontent.com/14166971/26933040-00c82994-4c2b-11e7-9b70-159899243534.png)

I fixed the Byte/Float32 issue, but this rotation issue still remains.

[2017-06-08 14:24] ZongyangLi commented on #327
@max-zilla
I had made that 90 degrees fix here: https://github.com/terraref/extractors-multispectral/blob/master/flir2tif/Get_FLIR.py#L287

I am going to try this again. BTW, thanks a lot for the fix of Byte/Float32 issue, that is really something I was missing.

[2017-06-08 14:29] max-zilla commented on #327
@ZongyangLi that's it! thanks. The dockerfile i was running was missing the rot90 piece.

As an aside, why are we reshaping these to 640x480? Is there a reason not to use default resolution?

[2017-06-08 14:38] ZongyangLi commented on #327
@max-zilla You're right, we should not use default resolution, the reason I use a default value is at the time I created the code, there is only a parameter call: `"sensor description": "IR Sensor 640x480",` and I think this might not be a exactly resolution parameter, so I leave it in the origin code. Maybe it's time to update the resolution from metadata now?

[2017-06-08 14:41] max-zilla commented on #327
for what it's worth, 640x480 doesn't seem too bad. Heres a full-res image (in red) overlaid with the full field mosaic that I generated at 10% resolution:
![screen shot 2017-06-08 at 9 40 55 am](https://user-images.githubusercontent.com/14166971/26934286-958c15ec-4c2e-11e7-9b81-b607e9553450.png)

![screen shot 2017-06-08 at 9 39 58 am](https://user-images.githubusercontent.com/14166971/26934244-78

[2017-06-08 15:07] jterstriep opened #329 "Full field and plot level viewer and API"
# Description
Users would like to have a way to review full field images and easily extract plot level data. Two use cases exist 1) user reviews full field/plot image as a map service for display within a browser and/or 2) an API provides easy access to full field/plot images for UIs, extractors, desktop tools, etc.

### Discussion Issues
* Deploy map service, API, or both?
* Full field image can

[2017-06-08 15:16] ZongyangLi commented on #326
Here is an initial result for this issue. Testing date 2017-04-27 which the same as those in #306
<img width="1165" alt="screen shot 2017-06-08 at 9 42 13 am" src="https://user-images.githubusercontent.com/20230686/26935932-e7750b4e-4c32-11e7-8948-23af989fa11b.png">

And this comes from a method can be describe as 'darker pixel choice from different set of tiles'.

@dlebauer Is that work for the p

[2017-06-08 15:22] max-zilla commented on #326
@ZongyangLi what an improvement!

[2017-06-08 15:35] dlebauer commented on #326
How robust is it? What happens when there are no shaded pixels?
On Thu, Jun 8, 2017 at 10:22 AM Max Burnette <notifications@github.com>
wrote:

[2017-06-08 15:44] ZongyangLi commented on #326
More test should be done to see whether it is robust enough.

If there are no shaded pixels, it will choose a darker pixel in the tiles set.

[2017-06-08 15:50] craig-willis commented on #321
Closing this.  Will open a new ticket to address lessons learned from pi4 workshop.

[2017-06-08 15:50] #321 closed

[2017-06-08 15:56] ZongyangLi opened #330 "Recover missing scanner 3d height data using stereo image"
Scanner 3d data from 2016-10-10 to 2016-11-04 is missing, I and @pless  tried to recover height data using stereo image.

Normal 3d data:
![normal_3d_data](https://user-images.githubusercontent.com/20230686/26936950-b87c5bc8-4c35-11e7-9264-f7e3f0a86007.png)

Missing points data:
![missing_data](https://user-images.githubusercontent.com/20230686/26937003-d17667e0-4c35-11e7-9730-7b6c43d4cee7.png)

H

[2017-06-08 15:57] craig-willis commented on #290
Requested wildcard SSL cert.

[2017-06-08 15:58] craig-willis commented on #291
I will be at the BRAPI hackathon all next week.  More to come.

[2017-06-08 16:09] #328 closed

[2017-06-08 16:10] dlebauer commented on #249
@remotesensinglab can you write this against the 2016 data, or else put up a draft that uses simulated / sample data?

[2017-06-08 16:11] craig-willis opened #331 "Scale up Workbench instance based on PI4"
The TERRA-REF Workbench instance is currently a single-node 4VCPU/32GB RAM instance.  This has worked reasonably for local development work.   For comparison, the PI4 workbench instance is a multi-node configuration with 4 instances for a total of 16VCPU/96GB RAM.  This has been generally effective for supporting ~30 simultaneous users accessing Jupyter/Rstudio/Openrefine/PGstudio instances for wo

[2017-06-08 16:12] max-zilla commented on #249
For what it's worth, we also have some 2017 imagery with plants in them from the last couple weeks, not sure what your criteria is but perhaps those could work?

[2017-06-08 16:15] max-zilla commented on #327
The rotation fix looks good:
<img width="380" alt="screen shot 2017-06-08 at 11 14 08 am" src="https://user-images.githubusercontent.com/14166971/26939054-b00e9130-4c3b-11e7-8b05-c4bde319ce4b.png">
05/29 isn't quite complete yet, but I should have a full field example for Nadia over the weekend.

[2017-06-08 16:20] craig-willis commented on #185
Notes from 6/8 meeting:

What we have is information about the percent reflectance observed by the imagers, what we need is:
* Factory reflectance for the panel.
* Ideally RSR curves for sensors or some clarification of what the information in the document means.

@solmazhajmohammadi  Says they took measurements of these and uploaded.

[2017-06-08 16:22] dlebauer commented on #185
I think @solmazhajmohammadi put that on google drive

are the values the camera sensitivies in each of these or the %reflectance given the panel, in which case to get RSR we may need to divide these values by reflectance of the panel in given wavelengtht

[2017-06-08 16:25] dlebauer commented on #327
@smarshall-bmr can you confirm that the FLIR sensor resolution is 640x480 pixels?

[2017-06-08 16:46] dlebauer commented on #329
key search parameters / endpoints:

* cultivar_id + optional date
* sitename
* filetype: (netcdf &or geotiff), jpg?

Should extractors call API or directly query BETYdb and clip files on disk

[2017-06-08 17:20] rickw-ward commented on #185
REDEDGE Camera (micasense):  Each panel from MicaSense has a different set of values for calibration.   We have used at least two different micasense panels.  We are tracking the identity of the reflectance panels so can provide the info about the panel ID and its factory reflectance values.

Sequoia (Sensefly):  It is possible to use the same panel used for the RedEdge, but in fact we use Airinov

[2017-06-08 17:31] rickw-ward commented on #185
BTW- i'm out of my comfort zone- but if co-registered orthomosaics can be combined into a data cube is that a way to reduce the complexity of folder structures/file names, etc.?

[2017-06-14 02:47] remotesensinglab commented on #249
We can write a model/index however the it is still ongoing research which requires grout-truth data to calibrate for the sorghum. I would not be comfortable to throw out some indices that are not tested. I hope to have something in a couple of months with the data to be collected this summer. Stomatal conductance and fluorescence data to be measured this summer would be very helpful for this.

[2017-06-14 03:02] remotesensinglab commented on #185
I think storing both RAW and calibrated ones would be very helpful. There are possibility that new methods can be developed for calibration which requires raw data. The raw data has other uses as well, e.g., 3D point clouds from UAV RGBs and LiDAR, or other systems.

[2017-06-15 00:13] Paheding commented on #185
@dlebauer The average values in the above word document are albedos for the reference panels corresponding to each specific band.  These average values should be used in Pix4D for obtaining absolute reflectance image and accounting for effects for illumination. Utilizing the albedos values in Pix4D can be found here:  https://support.pix4d.com/hc/en-us/articles/203891879#label3&gsc.tab=0

[2017-06-15 05:06] jterstriep commented on #329
The current service takes the sensor name and date and returns a geotiff clipped to the boundary of the sitename. The current clipping service requires site, sensor, and date. Using those three parameters we can navigate the filesystem to locate the full field stitched image.

We can either assume that users will first query betydb to get a list of sitenames (ie based on cultivar_id and date) or w

[2017-06-15 14:02] max-zilla commented on #309
@nickheyek is going to implement his bety code into terrautils, then we can close this issue as a v1.0 of terrautils.

[2017-06-15 14:04] #266 closed

[2017-06-15 14:06] max-zilla commented on #327
I have

[2017-06-15 14:06] #327 closed

[2017-06-15 14:07] max-zilla commented on #270
terrautils has been implemented across extractors to provide one gateway for filename and metadata conventions, so this is coming along nicely.

[2017-06-15 15:11] max-zilla opened #332 "update 3dscanner plant_height"
Currently this extractor generates two numpy files:
[code]

In #303 we mention pushing the max value to geostreams - this isn't implemented yet.

Additionally we should convert the .npy files to an image or geotiff.

[2017-06-15 15:12] max-zilla commented on #332
@nickheyek maybe in next day or two you can sit with me while I make this update & can double as a more in-depth explanation of this extractor and geostreams.

[2017-06-15 15:14] nickheyek commented on #332
Sounds great

[2017-06-15 15:37] dlebauer commented on #261
@nickheyek has this been replaced by a new epic?

[2017-06-15 15:38] nickheyek commented on #261
Yes

[2017-06-15 15:38] dlebauer commented on #261
Can you link to the new epic and close this one?

[2017-06-15 15:40] nickheyek commented on #261
https://github.com/terraref/reference-data/issues/142

[2017-06-15 15:40] #261 closed

[2017-06-15 15:45] craig-willis commented on #291
@nfahlgren or @dlebauer
Looking at the BrAPI Germplasm call, for example:
http://docs.brapi.apiary.io/#reference/germplasm/germplasm-details-by-germplasmdbid

Do we have information for the fields marked MCPD aside from what's in Genesys?  For example, acquisitionDate, seedSource.

[2017-06-15 15:55] dlebauer commented on #291
@craig-willis we do have and/or can get this information: @nshakoor should have this information if not Noah. Do you need it today or just want to know if it exists?

[2017-06-15 16:03] dlebauer commented on #332
Not just max height but 5% quantiles

[2017-06-15 16:07] nfahlgren commented on #291
@craig-willis @dlebauer can we add/update the fields here (https://docs.google.com/spreadsheets/d/1ntnps0u0c8O4xxrv_VVqfxDkpmppCGdFIIWLMmRCeSM/edit?usp=sharing) that you are looking for?

[2017-06-15 16:15] rachelshekar commented on #332
closing; https://github.com/terraref/computing-pipeline/issues/210 has more information

[2017-06-15 16:16] rachelshekar commented on #210
Currently this extractor generates two numpy files:
[code]

In #303 we mention pushing the max value to geostreams - this isn't implemented yet.

Additionally we should convert the .npy files to an image or geotiff.

[2017-06-15 16:16] #332 closed

[2017-06-15 16:25] craig-willis commented on #291
Thank you -- I just need to know that it exists for now.  I'll add to the spreadsheet.

[2017-06-15 16:43] rachelshekar opened #333 "Hyperspectral solstice calibration diurnal scan"
@dlebauer and @czender @solmazhajmohammadi - please update and assign to Stuart

Fixed x and y location of target preferred to reduce man hours of finding targets; best to run in same mode  every time (trigger mode v. free-running).  However, VNIR isn't working in trigger mode right now so this may not be possible.

[2017-06-15 16:48] rachelshekar opened #334 "Increase exposure time for hyperspectral camera"
To compensate for most images being in the shade.
@czender - please add additional information here.

[2017-06-15 16:54] rachelshekar commented on #185
@craig-willis - please comment

[2017-06-15 16:59] nfahlgren opened #335 "Process data from the Danforth Center LemnaTec system from 2016/2017"
### Description (REQUIRED)

This epic defines the steps required to upload, process, store, etc. data from phenotyping experiments done at the Danforth Center on the indoor LemnaTec system. The data upload and extractor systems are in place already but will need to be updated to be more flexible for handling changes in the experimental design of each dataset.

**Available datasets**:

- TM015
- TM

[2017-06-15 17:02] nfahlgren opened #336 "Process data from the Danforth Center LemnaTec system from 2016/2017"
### Description (REQUIRED)

This epic defines the steps required to upload, process, store, etc. data from phenotyping experiments done at the Danforth Center on the indoor LemnaTec system. The data upload and extractor systems are in place already but will need to be updated to be more flexible for handling changes in the experimental design of each dataset.

**Available datasets**:

- TM015
- TM

[2017-06-15 20:41] ZongyangLi commented on #210
@max-zilla I have just uploaded recent codes to https://github.com/terraref/extractors-3dscanner/tree/master/plant_height
And I know it's really a mess code, I need to take some time to make it much more beautiful.

[2017-06-15 20:46] ZongyangLi commented on #330
@max-zilla Could you please create another directory in https://github.com/terraref/extractors-stereo-rgb, and I will upload my files there.

[2017-06-15 20:51] max-zilla commented on #330
@ZongyangLi created a "height_recovery" directory

[2017-06-15 21:40] nfahlgren commented on #335
@dlebauer I closed this because I accidentally created it as an issue instead of an epic. The epic/issue is #336

[2017-06-15 22:51] dlebauer commented on #335
OK I'll re-close

Note that the epic button in the right panel gives the option to convert any issue to an epic (it is the first option):

![image](https://user-images.githubusercontent.com/464871/27204876-4728788a-51f3-11e7-94a5-53cbfad4d976.png)

[2017-06-15 22:51] #335 closed

[2017-06-16 21:22] dlebauer commented on #274
I'll discuss with @craig-willis about this based on what he has learned at the BRAPI hackathon about what breeding database we need, if any, to meet the needs of the TERRA program. Then we will open new issues as needed.

[2017-06-16 21:22] #274 closed

[2017-06-19 20:14] max-zilla opened #337 "Synthesize existing BETYdb python code"
In order to complete #309 we need to add BETYdb functions for getting and posting data to Bety Postres database.

Some code already (partially) exists:
- https://github.com/terraref/terrautils/blob/master/terrautils/betydb.py (Max's placeholder - some extractors use submit_traits)
- @nickheyek has looked at the bety R package and has some code I believe.
- @jterstriep and his team have some code f

[2017-06-19 20:29] nickheyek commented on #337
The functions I had implemented existed originally for the BETYdb Trait Summary Flask app which has been replaced by an R/Shiny app that uses the OpenSci package.
There were only a couple of functions for accessing trait records within a date range, and accessing additional data from variable ids.
While it's no longer on Github, replicating those functions could be done pretty quick.
Is there a li

[2017-06-20 01:25] gsrohde commented on #337
@max-zilla, @nickheyek: Regarding date ranges, please be aware that dates stored in the traits table are (or should be) stored in UTC if the time zone of the trait site is known and populated in the database.  This means, for example, that a trait measured at a Maricopa site with `date` value `2017-06-07 00:02:02` was actually measured on 2017-06-06 local time.

For trait measurements with `timelo

[2017-06-20 14:02] max-zilla commented on #337
@nickheyek not a specific list but key things I think based on discussions with @dlebauer

- generic API bety_get(endpoint, parameters) function where endpoint is just "sites" or something and we have all the BETY url & requests stuff hidden in there. I think David pointed to a similar generic method in R.

- a few nice functions that wrap bety_get() with explicit parameters, e.g. get_sites_by_dat

[2017-06-20 14:19] nickheyek commented on #337
Got it, I'll get started on this today, thanks!

[2017-06-21 15:19] solmazhajmohammadi commented on #281
@czender I have not heard from you regarding the repetitive patter in the target positions in the calibration files.
Please see the plotted output from the multiple scans below. The file size is changing, however, if you set the origin to the 20% target, the targets seems to be staying at the same position:
![screenshot from 2017-06-21 10 13 51](https://user-images.githubusercontent.com/17046539/2

[2017-06-21 19:04] czender commented on #281
@hmb1 and @FlyingWithJerome can you please find the largest possible hyperslab for each target that remains on the target for the entire day (20170415)? It looks like it may not be possible for the 75% target which is relatively small, but might be possible for the 20%, 48%, and 95% targets. And keep @solmazhajmohammadi in the loop.

[2017-06-21 22:18] czender commented on #334
This issue is based on a question I asked: given that so much of the image is shadowed, and looks fairly dark in the visible, does it make sense to increase the exposure time to get brighter images in the shadowed portions? One downside would be over-exposing the sunlit portion. Another is that @solmazhajmohammadi said, IIRC, that the exposure time cannot be increased beyond 45ms, which it is curr

[2017-06-21 22:25] czender commented on #333
One reason to re-calibrate is to potentially avoid the need to manually identify the target location, which currently drifts with the 20170415 images as shown in #281. If that issue cannot be eliminated , then a new calibration will require just as much work as the 20170415 calibration. Aother reason to recalibrate is to obtain imagery at peak solar zenith angles (~10 degrees) that are reached nea

[2017-06-21 22:39] SolmazHajmohammadi-LemnaTec commented on #334
I think Stuart was able to increase the exposure time up to 65ms. But this will mess up the triggering signal and data will be downsample by a random factor.

[2017-06-22 10:53] hmb1 commented on #281
@FlyingWithJerome, @czender   is there any way I can view nc/image files on roger without downloading to my local machine as some of the files are huge ?

[2017-06-22 12:20] czender commented on #281
I don't know of methods than ncview and panoply. Both should be able to display remotely from roger if your X DISPLAY environment is suitable. Maybe @ZongyangLi or @yanliu-chn know a better way.

[2017-06-22 14:24] max-zilla commented on #210
@ZongyangLi I ran a PLY file from feb through the plant_height extractor - I'm making a pull request to show @nickheyek that writes .tif instead of .npy and pushes some values to geostreams.

The "highest" numpy array looks like this for sample file:
[code]

What exactly do these 16 numbers represent? I see the "hist" array is also length 16, but each of its members is itself an array:
[code]

If

[2017-06-22 14:42] rachelshekar commented on #167
@rickw-ward please update

[2017-06-22 14:49] rachelshekar commented on #249
Data list: https://docs.google.com/spreadsheets/d/1dpO8HTnBVF-ql79hbLkqHiyaWN3tibrzTCuefe2iL8U/edit?usp=sharing

[2017-06-22 14:50] rachelshekar commented on #276
@robkooper said these can be supported on the new website using Bootstrap

[2017-06-22 15:13] craig-willis commented on #290
Update from NCSA CA group -- apparently they have to submit to InCommon to allow NCSA to sign certs for terraref.org. This is still being processed.

[2017-06-22 15:16] rachelshekar commented on #281
@czender - Do you think this can be completed by then end of July? I want to make sure that it goes into the V1 release.

[2017-06-22 15:19] ZongyangLi commented on #210
- What exactly do these 16 numbers represent?
Every ply file supposes to cover one row between east boundary and west boundary in the field. At the very beginning, field were divided into 16 column, these 16 numbers represent for the highest point in the column, and the unit is mm. Please use the most recent updated function named
`gen_height_histogram_for_Roman(plydata, scanDirection, out_dir, se

[2017-06-22 15:28] rachelshekar commented on #299
@czender can this issue be closed?

[2017-06-22 15:29] #300 closed

[2017-06-22 15:40] czender commented on #299
yes

[2017-06-22 15:40] #299 closed

[2017-06-22 15:41] dlebauer commented on #210
Would it make sense to use the same workflow as we are using with other image data, i.e.:
* full field stitch
* plot subset
* analysis,

so that each result represents a single plot?

[2017-06-22 15:42] czender commented on #281
I doubt it will be complete by the end of July.

[2017-06-22 16:04] yanliu-chn commented on #281
@czender I tried to install ncview on ROGER before, but it requires system upgrade to install dependent X11 libraries. So I gave up.

If this is a need from TerraRef, I will ask ROGER admin to take care of the system upgrade. Let me know.

[2017-06-22 16:08] dlebauer commented on #281
@yanliu-chn Some method of viewing large netcdf files is required. Ncview and Panoply are two options - but if we can deploy a THREDDS server ( @robkooper is working on https://github.com/terraref/computing-pipeline/issues/155, what is ETA) then Panoply and a few other options will be available.

[2017-06-22 16:09] max-zilla commented on #144
The downsampling has been fixed and terrautils has standard routines we will use for georeferencing.

[2017-06-22 16:09] #144 closed

[2017-06-22 16:09] yanliu-chn commented on #281
ok. I will follow up with ROGER admin to get ncview installed.

[2017-06-22 16:13] max-zilla commented on #210
i believe we've discussed stitching point clouds into plots - I will try to track down comments from @solmazhajmohammadi

[2017-06-22 16:16] max-zilla commented on #326
@ZongyangLi can you share sunshade code?

[2017-06-22 16:25] max-zilla commented on #297
this could fall into same scope as metadata cleanup.

[2017-06-22 16:27] dlebauer commented on #297
@czender please speak w/ @FlyingWithJerome and close if this has been covered by recent PR.

[2017-06-22 16:30] max-zilla commented on #240
do we want to come back to this, or is this issue obsolete now given our other approach with Solmaz' extractor?

[2017-06-22 16:32] ZongyangLi commented on #326
codes updated to https://github.com/terraref/extractors-stereo-rgb/blob/master/fieldmosaic/shadeRemoval.py

[2017-06-22 16:33] max-zilla commented on #155
@robkooper has been making PEcAn VM hopefully this week, then talk to @jdmaloney to get good way to list .nc files on Roger.

[2017-06-22 16:35] dlebauer commented on #240
extractor in https://github.com/terraref/extractors-multispectral (is that the best place for this?)

[2017-06-22 16:38] nfahlgren commented on #240
@dlebauer looks like we put all the extractors that deal with specific wavelengths in some way in there.

[2017-06-22 16:38] max-zilla commented on #185
@dlebauer @craig-willis need specifics on this - david will take a look and we should discuss.

@solmazhajmohammadi spectrometer measurements for hyperspectral calibrations on Drive -  havent uploaded anything for UAV yet.

[2017-06-22 16:44] dlebauer commented on #185
@Paheding and @remotesensinglab should provide information about what needs to be stored; @craig-willis can help provide information about how this can be stored so that it can be handled by downstream extractors.

[2017-06-22 16:45] max-zilla commented on #224
issue that affects fusion algorithm - temp changes alignment, due to expansion of metal. may be few cm movement from this shift.

[2017-06-22 16:51] craig-willis commented on #185
Just to be clear, there are two different concerns here.

1) Information about the panels themselves with the factory values.  I think this can be covered by the information offered by @rickw-ward. We've done this for the LabSphere and SphereOptics panels.

2) Information needed by extractors. In other cases, we've stored RSR curves in the sensor fixed metadata.  For example https://github.com/ter

[2017-06-22 18:17] max-zilla commented on #297
@craig-willis this is the PR I was talking about earlier: https://github.com/terraref/extractors-environmental/pull/14/files

[2017-06-22 18:37] solmazhajmohammadi commented on #240
@max-zilla 2017-5-26 is the only day that light and dark adopted data was collected.

Here is the set of collected output data:
FM_Dark:
![test_fm_dark](https://user-images.githubusercontent.com/17046539/27449384-de3ac958-574d-11e7-893f-7a4a1eabea65.png)
FM_Light:
![test_fm_light](https://user-images.githubusercontent.com/17046539/27449421-f8b574d6-574d-11e7-9002-901fcc5484ae.png)
Fv_Dark:
![test_

[2017-06-22 18:54] max-zilla commented on #337
@nickheyek @jterstriep I took a look at Nick's PR and Benny's branch:
https://github.com/terraref/terrautils/pull/2
https://github.com/terraref/terrautils/compare/gdal_functions

I would generally summarize:
- nick's code provides bulk of bety utility functions - a basic query() function with some wrappers for traits/sites/etc.
- benny's code provides a lot that doesn't overlap (gdal, sensor files

[2017-06-22 21:37] robkooper commented on #276
More specific, we can make them styled looking like the rest of webpages if we use something like bootstrap to get a theme (also clowder in that case), but we can always do this if we have something that contains a header and a footer, and place in the body where we can insert the actual webpage.

[2017-06-23 14:22] solmazhajmohammadi commented on #333
@smarshall-bmr please update the script that you are running, comment out the delays for dark measurement in SWIR camera. and disable the dark measurement in SWIR (this should be done in a separate night scan). This would make it easier to georeference the datacube.

[2017-06-27 18:18] craig-willis commented on #290
NCSA is now able to sign SSL certificates for terraref.org. In the future, we can request new certificates by emailing help+ca@ncsa.illinois.edu.  I have the wildcard certs for Workbench now and need to install and add a redirect entry from the old URL.

[2017-06-28 15:35] ZongyangLi opened #338 "Leaf angle distribution from laser scanner"
**Abstract**
Leaf angle distribution is a key parameter to characterize canopy structure and plays a crucial role in controlling energy. From our great infield phenotype system in Maricopa, we have laser scanner available to create 3d plant models. With 3d plant data we are able to compute leaf normal orientation and then leads to leaf angle distribution. At last we use a 'two-parameter beta distr

[2017-06-29 15:44] max-zilla commented on #326
@ZongyangLi I think you also need to upload an imported file:
[code]

...don't think this file was included unless it was renamed.

[2017-06-29 16:18] max-zilla commented on #326
https://terraref.ncsa.illinois.edu/clowder/datasets/5936a3ad4f0c0ead2da27389 example output

[2017-07-06 14:05] #240 closed

[2017-07-06 15:13] yanliu-chn commented on #281
`ncview 2.1.7` has been installed. ROGER admin found a time to install a dependent library libXaw-devel on ROGER.

To use, please do the following:
On your computer:
`ssh -Y youraccount@roger-login.ncsa.illinois.edu`

On ROGER:
`module purge; module load gdal2-stack udunits ncview`
`ncview /path/to/your/netcdffile.nc`

On mac, you need `XQuartz` to set up X b/w mac and remote X on ROGER; on Window

[2017-07-06 16:06] max-zilla commented on #155
@robkooper and @jdmaloney should discuss.

[2017-07-06 16:11] czender commented on #281
This is great. Works for me. Thanks much @yanliu-chn

[2017-07-06 16:14] dlebauer commented on #329
Two pull requests are open:
* Nick made BETYdb api
* Jeff's student hooked into GDAL

Extractors via terrautils don't need API, API is mainly aimed at end users and search interface.

Next steps (by end of July)

* terrautils merged
* API draft
  * flask app w/ API + web interface
  * need to know - where is it going to live and how will it be integrated into the search interface that @craig-willi

[2017-07-06 16:22] dlebauer commented on #210
* I don't think that the files overlap (after R and L ply are merged into a single las)
* I think using the stitch then subset approach is okay.

@solmazhajmohammadi can you confirm that independent passes do not overlap each other.

[2017-07-06 16:25] dlebauer commented on #210
I think we can close this issue and open a new one with low priority that will deal with full field merge then split.

[2017-07-06 16:35] dlebauer commented on #216
https://terraref.ncsa.illinois.edu/clowder/datasets/5936a3ad4f0c0ead2da27389 example output

[2017-07-06 16:40] dlebauer commented on #326
@pless can you please review / comment on / approve or suggest further changes to the updated algorithm?

[2017-07-06 16:43] dlebauer commented on #333
@smarshall-bmr any updates on this? Have you been able to run another calibration?

[2017-07-09 16:31] czender commented on #183
Current behavior is:
if you add the -h switch to HS workflow invocation it will create an indices file in the same location  as the hyperspectral netcdf file. Name is same as HS file with "_ind" suffix:

 `hyperspectral_workflow.sh -h  -i "$DATA/2017-04-15__06-11-47-765/1a15d90f-cd79-471e-b593-0b466fff557a_raw -O ~/rgr -o tst_vnir.nc`

 creates the hyperspectral file "~/rgr/tst_vnir.nc"  and the i

[2017-07-10 12:10] hmb1 commented on #281
@yanliu-chn
I tried to run ncview on the login node on ROGER and got the following:
should i try "startx" with my ROGER login ?

`[butowskh@cg-cmp14 rgr]$ ncview i1.nc &
[1] 42728
[butowskh@cg-cmp14 rgr]$ Ncview 2.1.7 David W. Pierce  29 March 2016
http://meteora.ucsd.edu:80/~pierce/ncview_home_page.html
Copyright (C) 1993 through 2015, David W. Pierce
Ncview comes with ABSOLUTELY NO WARRANTY; for

[2017-07-10 12:33] hmb1 commented on #281
OK Yan,
got it working -great ...Thanks

[2017-07-11 13:05] dlebauer commented on #183
I like the default behavior you propose. We can devide into two steps in the future when it becomes necessary.

[2017-07-11 22:42] pless commented on #326
I think the current algorithm is appropriate for making a stitched whole field image for quality assurance and some simple processing. I'm not sure that any simple stitching process (or any more complicated process that would be called stitching) is good enough to be used for more complicated analysis.

[2017-07-12 03:23] dlebauer commented on #326
I'm not clear - what is the current stitched image suitable for and what is
it not suitable for? What is the alternative?
On Tue, Jul 11, 2017 at 5:42 PM Robert Pless <notifications@github.com>
wrote:

[2017-07-12 14:47] max-zilla commented on #183
yeah this makes sense. i added the -h flag to the extractor already so if we change this i'll need to remove the flag but that's easy.

[2017-07-12 17:40] czender commented on #183
@hmb1 Can you please implement this? i.e., automatically produce the L2 indices file in the same directory as the L1 output, and give the user a switch that can turn-off producing the L2 file.

[2017-07-12 21:01] pless commented on #326
I think the current stitched image is suitable for most data quality and coverage assessments and some data analysis.

For data quality, the stitched image, as is, is good for:
- Understanding what part of the field was imaged,
- Understanding if the imaging script is correctly capturing the plots (in the context of not imaging the whole field), or if there is a problem it is missing some of the p

[2017-07-12 22:50] rachelshekar commented on #309
@nickheyek - please update

[2017-07-12 22:52] rachelshekar commented on #230
@max-zilla reminder

[2017-07-12 22:56] rachelshekar commented on #330
@ZongyangLi please update this issue

[2017-07-12 23:02] rachelshekar commented on #307
@max-zilla please update

[2017-07-12 23:02] nickheyek commented on #309
Implemented the BETYdb code into Terrautils, was merged if I'm not mistaken.

[2017-07-13 03:48] jterstriep commented on #309
I still have an open pull request with enhanced support for betydb as well as clipping of full field data sets.

[2017-07-13 14:05] max-zilla commented on #309
I'm cleaning up the PR a bit this morning and will merge shortly.

[2017-07-13 14:06] max-zilla commented on #307
@gsrohde has the "contains" bety code been pushed to the terra instance, and if not can we do so? I have the python code to request plots by location but wasn't sure if your API update has been deployed yet (I know you merged the pull request)

[2017-07-13 14:12] max-zilla opened #339 "Queue hyperspectral data for extraction"
With latest hyperspectral extraction code (including the -h flag recently added for additional outputs) I need to queue all hyperspectral datasets for another round of extraction and, once complete, purge any deprecated results from previous extractions that are not needed.

- [x] queue hyperspectral datasets from 2016
- [x] queue from 2017
- [ ] run batch extraction jobs on Roger until queue comp

[2017-07-13 14:12] max-zilla commented on #230
action item for me created in #339.

[2017-07-13 14:12] #230 closed

[2017-07-13 15:21] craig-willis commented on #290
Need to discuss strategy for storing keys (i.e., Last Pass)

[2017-07-13 15:45] dlebauer commented on #326
@pless thank you for the description.

Regarding the alternative you suggest 'always do all initial feature selection or image analysis on the original images', what do we need to do to support algorithms that use the original images? Should we support both the current (stitch-->clip-->analyze) approach as well as the alternative (clip-->analyze-->combine)?

For the clip-->analyze-->combine  appro

[2017-07-13 15:49] max-zilla commented on #309
Merged with a fair amount of cleanup. Revised the STATIONS json object quite a bit to support file paths for various things:
[code]

[2017-07-13 15:49] #309 closed

[2017-07-13 16:12] #210 closed

[2017-07-13 16:19] dlebauer commented on #331
Lets wait until we observe that terraref users need additional resources. For future workshops, we will use the workshop specific instance to enable scaling up if necessary (and possible)

[2017-07-13 16:22] solmazhajmohammadi commented on #144
@smarshall-bmr
Based on the recent update on SWIR, I remember that you have observed that each SWIR line is about 2mm(twice the VNIR line).
Can you please confirm this and update this issue for @czender to update the pipeline.

[2017-07-13 17:02] solmazhajmohammadi commented on #210
@dlebauer to confirm the independencies between passes, we need to apply the transformation to all the ply files from a single day and merge them together.
The transformation is available in [Issue 44](https://github.com/terraref/reference-data/issues/44)

[2017-07-14 02:18] gsrohde commented on #307
@max-zilla It hasn't been pushed yet.  I'd like wait until I get sign-off from @robkooper on pull request https://github.com/PecanProject/bety/pull/522 and then do a formal release which includes that as well, but if this is really holding you up, I could perhaps just push those changes to terra-ref sooner.

[2017-07-14 02:35] dlebauer commented on #307
https://github.com/PecanProject/bety/pull/522/files is for sites cultivars
constraints. Why is that holding this up?
On Thu, Jul 13, 2017 at 9:18 PM Scott Rohde <notifications@github.com>
wrote:

[2017-07-14 02:35] dlebauer commented on #307
Sorry I misunderstood. Can max review the PR?
On Thu, Jul 13, 2017 at 9:35 PM David LeBauer <dlebauer@gmail.com> wrote:

[2017-07-14 02:54] gsrohde commented on #307
Perhaps.  Or if not, I'm pretty sure I got it right, so maybe I can just go ahead and incorporate it.  Rob is the one who urged me to put Rails changes in pull requests (I assumed he mainly meant those involving database changes), but we also need to be able make changes in a timely manner.

Of course, we also were going to try not to do new releases at the very end of the week, but we could make

[2017-07-14 03:06] dlebauer commented on #307
I think it is good to have pull requests, but also ok for max to review them
On Thu, Jul 13, 2017 at 9:54 PM Scott Rohde <notifications@github.com>
wrote:

[2017-07-14 09:43] hmb1 opened #340 "Visualization Tools on ROGER and Docker"
@yanliu-chn
@craig-willis

Hi Yan, thanks for adding ncview to ROGER. Now that I can see the data quite a few new problems have come to light. If  it is doable could you please   add Panoply  to ROGER. Panoply is a java based NetCDF view.
See []https://www.giss.nasa.gov/tools/panoply/(url)
Thanks ...Henry

[2017-07-14 10:07] hmb1 commented on #281
@smarshall-bmr
@solmazhajmohammadi

Have the following observations about the VNIR calibration data.
Comments below are by Solmaz.

-

1. Exposure time  cycles as  25ms,30ms,35ms,40ms,44ms
    ( except for The First two series where exposure starts at 20ms)

2. all exposures have samples==1600  (thats the X dimension)
    exposures at 40ms have lines  ( 17 to 48 )  (thats Y  dimension)
If there is

[2017-07-14 18:08] mabitter-x opened #341 "What is the Stereocam Field of View (FOV)?"
### Description

Hello!
My questions are relating to the top-view Stereocams, specifically relating to their calibration and general operation.  Forgive me if this information is somewhere in the documentation, however I have done an extensive search and not found any clarity on a few issues.

1) Is the FOV set throughout the season?  As the height of the gantry is changing as the plants grow, is

[2017-07-14 18:20] craig-willis commented on #340
@hmb1
I've been trying to get Panopoly to work via Docker via NoVNC and don't yet have it working.  I'll let you know if I can get it working.

[2017-07-14 18:32] dlebauer commented on #340
Will it work if installed on Roger using X similar to how Henry is using
ncview?
On Fri, Jul 14, 2017 at 1:20 PM Craig Willis <notifications@github.com>
wrote:

[2017-07-14 18:46] craig-willis commented on #340
@dlebauer
Yes, if the ROGER team is willing to install the Java JRE on the head node.

[2017-07-14 20:35] dlebauer commented on #341
I'll take a stab at 1 and 4.

@pless, @smarshall-bmr, @solmazhajmohammadi could you please respond to questions 2. 3, and 5?

@craig-willis and / or @max-zilla can you please confirm my assertions about the metadata?

### Question 1

_Is the FOV set throughout the season? _

The FOV should be fixed relative to a plane 2m below the camera

_As the height of the gantry is changing as the plants grow

[2017-07-15 02:43] yanliu-chn commented on #340
I just got back from a conference travel. Panoply 4.8.1 is installed. In initial test, I was able to launch it and view netcdf files.

To use, do the following:
`ssh -Y yourname@roger-login.ncsa.illinois.edu`
`module purge; module load java/1.8.0_131 panoply/4.8.1`
`export JAVA_OPTS="-Xms512m -Xmx2048m"`
`$PANOPLY_HOME/panoply.sh`

Again, if you use mac, you need `XQuartz`; if you use windows, you

[2017-07-17 15:35] hmb1 commented on #340
Hi Yan,
 This is the command line I am now using to launch Panoply.

Its  working but the GUI is very slow to respond to mouse-clicks. Also resizing windows  is a real no-no (as with ncview). If you wanna test with some real NetCDF data see  "/home/butowskh/tmp"

...Henry

[2017-07-17 16:34] yanliu-chn commented on #340
I'm not sure how to speed this up. This is not memory size issue, it's more of the network delay. I will explore some fast X software to see if it helps.

Also, ROGER login node is usually busy. To get around that, you can do the following to allocate a computing node for panoply use:
#### in one terminal
`ssh  youraccount@roger-login.ncsa.illinois.edu`
`qsub -l walltime=12:00:00,nodes=1:ppn=20 -I

[2017-07-17 16:37] smarshall-bmr commented on #341
Question 1

The field of view is fixed at 28.4 degrees on the x and 21.2 degrees on the y axis for each camera. This equates to 101.5x74.9cm at 2m. @dlebauer we need to make sure this value gets updated everywhere since the original values given by LemnaTec are still floating around.

Question 2

There have been many calibration images taken, many of which were used in the LemnaTec calibration rep

[2017-07-17 19:02] robkooper commented on #290
Use lastpass for sharing, that is what NCSA supports. I already have an account there for some information.

[2017-07-18 10:42] hmb1 commented on #340
Hi Yan,
 I gave it a crack. Its still pretty slow though
...Henry

[2017-07-18 11:50] craig-willis commented on #340
@hmb1 @yanliu-chn
I've been exploring running Panopoly via Workbench using Xpra+OpenBox.  In short, this is a CentOS Docker container running Xpra (https://xpra.org/) with a lightweight desktop environment (OpenBox).

@hmb1 It's still very rough, but if you want to give it a try I've written up some instructions:
[panopoly-xpra.pdf](https://github.com/terraref/computing-pipeline/files/1155728/pano

[2017-07-18 13:58] max-zilla commented on #339
Data has been queued, updated extractor on Roger, submitted 5 48-hour extractor jobs. They're in the queue waiting to start - it'll do 2017 first, then 2016.

[2017-07-18 14:01] max-zilla commented on #307
The SQL looks functional to me but I'm not familiar with the "why" for this sequence fix - probably still good to have @robkooper take a quick look, but the pull request is small so hopefully that'll be quick.

[2017-07-18 14:25] craig-willis commented on #340
On Docker+Xpra+OpenBox, I've been playing with this a bit this morning and was able to open and plot one of the smaller hyperspectral files from /data/terraref/ua-mac/hyperspectral/Level_1 and it seems functional.  As with any remote desktop application, it's not perfect, and Xpra has a lot of features to explore.   I'm able to resize windows (with lag).  The main hassle for me is the absence of c

[2017-07-18 19:50] yanliu-chn commented on #340
I want to explore FastX, which our univ has site license. But installing any service daemon on the login node of ROGER needs a process for evaluation for security, policy... I don't see that is happening soon.

[2017-07-19 10:00] hmb1 commented on #340
@craig-willis
I followed the instructions in your pdf above and it finally opened an  empty "Open Box" Desktop  in a browser tab. NO sign of Panoply. Should I install xpra on my local Ubuntu machine ?
...Henry

[2017-07-19 10:19] craig-willis commented on #340
@hmb1 Were you able to right click to start an xterm and run the panopoly.sh?

[2017-07-19 10:23] hmb1 commented on #340
OKay - Craig  I have an xterm window open. I am not seeing panoply.sh any where in my PATH ?

[2017-07-19 10:25] craig-willis commented on #340
Sorry, I was lazy and didn't put it in the path:

/PanoplyJ/panoply.sh

If this works out, we can talk about what I can do to make it easier to use.

[2017-07-19 10:42] hmb1 commented on #340
Great its certainly now usable. Is there still a 4GB memory limit on files ?

[2017-07-19 11:00] craig-willis commented on #340
The JSON spec I provided sets a 1G memory limit on the container. You can increase that by either editing the JSON and re-importing or editing the app in Workbench (Resource Limit > Max Memory
 -- you'll need to stop/remove the app first).  By default, users on the Workbench system have an 8GB limit per account. The VM itself only has 32GB.

Of course, this can all be changed.  How much memory do

[2017-07-19 11:08] hmb1 commented on #340
OK 8 GB should be OK for now.
if I have a super -huge var I can always hyperslab it
if I wanna have NCO and Netcdf as well -- shall I just hack the JSON file ?

looking down the road a little.- if I add xpra to my local machine will I be able to use OpenBox on my desktop ?

[2017-07-19 11:15] craig-willis commented on #340
I'll need to add any additional dependencies to the Docker image.  I can build on the existing NCO/NetCDF environment I put together a while back.

If you mean connecting to Workbench via the Xpra client instead of browser, this is something I'm working on.  I just need to make sure the Xpra sessions authenticated.  Let me know if you meant something different.

[2017-07-19 11:16] hmb1 commented on #340
Yep thats what i mean

[2017-07-19 11:25] craig-willis commented on #340
OK, so I'll add the NCO/NetCDF dependencies and see if I can get things working with the Desktop client.

Is there anything else you can think of that could make this better for you?

[2017-07-19 11:32] hmb1 commented on #340
OK is my ROGER home directory already mounted some-where  in Docker ?

[2017-07-19 11:37] craig-willis commented on #340
No and I'm not sure that this will be possible.  I'll see what we can do.

[2017-07-19 12:02] craig-willis commented on #340
@yanliu-chn or @jdmaloney

If we wanted to share user data between ROGER and Workbench, what would be the best approach?   What about some sort of scratch space under gpfs/largeblockFS/projects/arpae/terraref/?

[2017-07-19 13:06] dlebauer commented on #340
There is a user directory I think
gpfs/largeblockFS/projects/arpae/terraref/users
On Wed, Jul 19, 2017 at 7:02 AM Craig Willis <notifications@github.com>
wrote:

[2017-07-19 13:07] dlebauer commented on #340
@robkooper when will thredds be available?

[2017-07-19 13:59] hmb1 commented on #340
@yanliu-chn
sorry to be tedious, but when I try and create an interactive node on ROGER it seems to take ages to start

Am using the command:   qsub -l walltime=24:00:00,nodes=1:ppn=20 -I

...Henry

[2017-07-19 14:08] jdmaloney commented on #340
@hmb1  Will answer here for @yanliu-chn depending on ROGER's job load it may take a while for interactive jobs to start.  They reserve a couple nodes for interactive work, but if those are already taken by other interactive jobs then your interactive job will have to sit and wait for a compute node to become available (any compute node in that case, interactive jobs aren't exclusive to those two n

[2017-07-19 14:13] #249 closed

[2017-07-19 15:45] hmb1 commented on #340
Thanks Jd ,

[2017-07-19 16:03] yanliu-chn commented on #340
@jterstriep and @craig-willis can talk a bit to mount a specified directory into the VM via NFS.

[2017-07-20 15:19] hmb1 commented on #281
@smarshall-bmr
@solmazhajmohammadi

I have averaged the  data over the targets and created the variable:
**ushort xps_img_wht(time, exposure, target, wavelength)**

In the afternoon  14.07 to 17.14 the reading seem too high - regardless of the target (20%,48%, 95%,99%) or exposure time ( 20ms,30ms,35ms,45ms ) if somebody else could please take a look
that would be grand.

I have checked and rechec

[2017-07-20 16:11] craig-willis commented on #341
Per team meeting, there are two additional questions for (me and @max-zilla)
 a) is the sensor fixed metadata in Clowder the right place to look for the FOV data
 b) has it been applied to the data (@max-zilla )

[2017-07-20 16:37] rachelshekar commented on #330
@craig-willis - please advise where to store calibration reference images

[2017-07-20 16:41] rachelshekar commented on #330
the two height extractors should run in parallel - missing data should not be replaced by data from other extractor

[2017-07-20 16:48] craig-willis commented on #340
Update based on 7/20 meeting:
* Mount ROGER /gpfs/largeblockFS/project/arpae/terraref/users to workbench (will need @jdmaloney to export RW to 141.142.210.18)
* This directory will be available to containers running in Workbench under /data/terraref/users
* From this point forward, these and similar visualization tools can be added to the container in Workbench (I'm updating the current image to i

[2017-07-20 16:50] rachelshekar commented on #338
Please insert plot mean and SD for leaf angle trait in one data row
campbell and norman chi square can be a trait with mean and sd

Keep multiple leaf angles for each plant - this can be inserted as level 2 data in clowder - as geotiff file and/or geostreams database as histogram

[2017-07-20 17:25] robkooper commented on #155
Following script is run every day at midnight, the list of files is created by JD

See https://terraref.ncsa.illinois.edu/thredds/catalog.html

[code]

[2017-07-20 17:25] #155 closed

[2017-07-20 20:38] lhx-x opened #342 "Data transfer speed"
### DISCUSSION: is the expected downloading speed ~ 7MB/s?

### Details

Hello!

I am transferring data from terraref data to a VM in Google Cloud, via Globus Python SDK. The downloading speed seems to be around 7M/s based on the Globus website. Could you please check if that's the expected transferring speed, or it should be much faster, but limited by some settings?

Thanks!
Hongxiao

### Comple

[2017-07-21 11:16] hmb1 commented on #281
@smarshall-bmr
@solmazhajmohammadi
this is a plot  of max wavelength through the calibration days.
target 48%  Exposure 25ms
X-Axis is Hour:min
Y-Axis counts

![xps_img_wht in xps_max](https://user-images.githubusercontent.com/6428656/28461382-4d3a42ee-6e0e-11e7-8dff-fb52ec69d46f.png)

[2017-07-21 15:54] sirosen commented on #342
Hi, not sure I can be of much help, but I'll do my best. It may also help to start an email thread with support@globus.org to try to track down the issue, with details like endpoint IDs and examples of tasks which ran slowly.

Before digging in too deeply, is this problem specific to Globus Transfers, or do tools like `iperf` show you similar throughput?

If you can confirm that the problem is Glo

[2017-07-21 16:44] solmazhajmohammadi commented on #281
@hmb1
Hi Henry,
I am trying to understand your question... you are asking why the average of digital raw counts, in a single spectralon target is changing?
So different time in a day, different sun angle and we want to see this change... digital counts should be max around solar noon. However, this might not be true in our case, since we have the effect of gantry shading the targets.
If the change

[2017-07-21 17:54] lhx-x commented on #342
Thanks for the help!

When I upload those downloaded files to Google Cloud Storage, it can reach a speed > 100 MB/s. But I have not test the downloading side. Could you please let me know how to test it? Seems iperf needs to pair the server and client side.

Here I'm transferring data from terraref(I suspect it is a Globus subscription node?) to my own VM(which is not a subscription). So I think I

[2017-07-21 19:22] jdmaloney commented on #342
@lhx-x I took a look at your current transfer that's running against the endpoint right now and I see the below:
{
"type": "GridFTP Transfer",
"concurrency": 1,
"protocol": "Mode S"
}

with the sync_level = 3

While an easy way to ensure only the data you need moved in a partially synced directory is moved, sync mode is not the fastest way to move the data and the sync level being 3 (going up to c

[2017-07-21 22:22] lhx-x commented on #342
@jdmaloney Thanks JD! Yes -- the sync mode really matters. I change it to 0 and the speed doubled to 14 at once :) Let's wait and see for a while, to check if that's the current upper bound. We may schedule a iperf test after that.

[2017-07-21 22:36] jdmaloney commented on #342
@lhx-x Indeed it appears to be going faster, DTN node is reporting speeds to your cloud instance fairly consistent around 15MB/s now, which is indeed much improved.  Up to nearly 1.2TB/day at that rate. The concurrency is also now running at 6, which should be helping you too.

[2017-07-22 17:00] sirosen commented on #342
Perhaps my expectations are too high, but 15M/s still sounds slow if max from laptop to VM is 100M/s.
If you want to investigate further with Globus personnel, a support ticket with task and endpoint details remains the best path.

It does make sense that setting the sync level to 3 ("checksum") would slow things down. Most likely, the bottleneck in that case was checksumming on the VM.
I would re

[2017-07-23 05:34] lhx-x commented on #342
@sirosen Thanks Stephen! Here the 100M/s is from VM, uploading to GCS. Seems like the transferring speed from Globus is not stable: when I post this reply it is only 5M/s, with sync level = 0. I guess it would be helpful if we make a bandwidth test as @jdmaloney suggested.

[2017-07-23 14:05] craig-willis commented on #340
Status update: still waiting on NFS export for users directory.

[2017-07-23 14:17] craig-willis commented on #341
@dlebauer @max-zilla
Per @smarshall-bmr comment, the values in the fixed metadata in Clowder are wrong.  This was apparently all covered in https://github.com/terraref/computing-pipeline/issues/126. It looks like the correct values were likely harcoded in the extractor in question, but I didn't see an issue to update these values in the fixed metadata.

I've created a PR for the fixed metadata.  O

[2017-07-24 10:58] craig-willis commented on #304
Added gdal to Jupyter image, fixed plantcv branch (dev > master).

[2017-07-24 11:18] craig-willis commented on #290
@dlebauer
I need to schedule downtime for workbench to install the SSL certificates.  I'll need <1 hour, but will need to shutdown your running applications.  I'd like to get this done this week, if possible.  Let me know if there are any good/bad times to do this.

[2017-07-24 13:41] dlebauer commented on #290
I don't see any bad times this week. If anyone is using it please send an email warning in advance.

[2017-07-24 14:32] dlebauer commented on #304
@craig-willis what steps are remaining before closing this issue?

[2017-07-24 14:34] jdmaloney commented on #340
@craig-willis Exported added

[2017-07-24 14:40] craig-willis commented on #304
Create automated builds in Dockerhub (in process) and confirm builds are working (smoke test). Hopefully close out today.

[2017-07-24 14:41] dlebauer commented on #340
Per https://github.com/terraref/computing-pipeline/issues/155 the hyperspectral data are now available via THREDDS so can be visualized using Panoply installed locally (file --> open remote catalog --> at https://terraref.ncsa.illinois.edu/thredds/catalog.html). My understanding is that this catalogis updated daily and only includes the data products, so will not be useful in its current state for

[2017-07-24 17:11] craig-willis commented on #290
@dlebauer You are the only person running with active containers at the moment.

I'll likely take it down tonight to take care of several maintenance tasks: install SSL certs, mount the ROGER users directory, resize the storage volume.

[2017-07-25 16:36] craig-willis commented on #340
@hmb1

ROGER's /gpfs/largeblockFS/projects/arpae/terraref/users is now available as /data/terraref/users on Workbench.  I had to create a user directory via ROGER and open permissions (777), since we don't have consistent UID/GID in Workbench. I was able to copy a sample netcdf file to my users directory on ROGER and open that file via Panoply in Workbench.

Any running applications/containers wil

[2017-07-25 17:11] craig-willis commented on #340
I've added a new "NetCDF Visualization" application to the main TERRA-REF Workbench catalog. This is the Xpra+OpenBox container with NCO/NetCDF dependencies, NCView, Panoply.  I need to add documentation on how to use these environments before closing.

[2017-07-26 10:36] hmb1 commented on #281
@dlebauer
@solmazhajmohammadi
@czender
@smarshall-bmr

From what I can tell with the 2017-04-15 VNIR calibration data we have

1.  **6:11** - **13.39**   targets in the shade of the Gantry
2.  **14:07** - **16.21**  targets in direct sunlight
( can this be confirmed  ? )

This means  we have sufficient  zenith angles  to calibrate for 1) but NOT for 2)

From  the above comments I understand, there

[2017-07-26 12:12] max-zilla opened #343 "PR to use Bety Postgres contains query in terrautils"
@nickheyek

Last week @gsrohde updated the Bety instance for TERRA to include the "contains" patch allowing us to query Bety sites by lat/lon.

https://github.com/terraref/terrautils/blob/master/terrautils/betydb.py#L131

can you make a PR updating this method to use get_sites(contains=...) as suggested there, and test it? You should be able to just get a couple random sites from Bety, get their c

[2017-07-26 14:13] nickheyek commented on #343
Sure!

[2017-07-26 14:28] nickheyek commented on #343
The BETYdb API still seems to ignore contains as a valid keyword argument for the sites table. Is it possible that the API has not yet been updated with this change?

[2017-07-26 15:24] max-zilla commented on #343
https://github.com/PecanProject/bety/pull/514

Here @gsrohde suggests it has been deployed, but I didn't try to test yet

[2017-07-26 15:25] max-zilla commented on #343
containing= is the correct parameter actually I think.

[2017-07-26 15:28] nickheyek commented on #343
Yup that's right, works perfectly, I'll implement this into terrautils now

[2017-07-26 15:55] rachelshekar commented on #311
@nickheyek please update

[2017-07-26 15:57] rachelshekar commented on #305
@dlebauer please tag people for discussion

[2017-07-26 16:01] nickheyek commented on #311
This issue describes the previous version of the BETYdb trait data summary app.
The current version is still not ready for full deployment, in the process of ironing out some issues.
Hopefully will be able to deploy to VM by early next week.

[2017-07-26 16:19] dlebauer commented on #311
Nick if this one is replaced by a new epic please add a link and close this
On Wed, Jul 26, 2017 at 11:02 AM Nick Heyek <notifications@github.com>
wrote:

[2017-07-26 16:20] dlebauer commented on #305
@jterstriep

[2017-07-26 16:20] nickheyek commented on #311
https://github.com/terraref/reference-data/issues/142

[2017-07-26 16:20] #311 closed

[2017-07-26 16:29] rachelshekar commented on #289
@max-zilla - please update

[2017-07-26 16:46] rachelshekar commented on #329
@jterstriep reminder

[2017-07-26 17:06] craig-willis commented on #304
New Docker Images:
* https://hub.docker.com/r/terraref/rstudio-terraref/: RStudio (rocker/geospatial) + TERRA packages + Python + PlantCV
* https://hub.docker.com/r/terraref/jupyter-terraref/: Jupyter + NetCDF + GDAL + PlantCV

I've updated the original "RStudio Server" application to use the new image instead of the original rocker image.  One snag, I'd like to delete some of the other applicatio

[2017-07-26 17:07] #304 closed

[2017-07-26 17:09] craig-willis commented on #310
Design notes
https://docs.google.com/document/d/16pxlpmI0Re6Zp5eCRcqF9tuyJ20aBoFtf9nho5DBHQw/edit

[2017-07-26 17:10] craig-willis commented on #310
PR:
https://github.com/terraref/terrautils/pull/5

[2017-07-26 21:24] dlebauer commented on #342
@lhx-x any progress on this?

[2017-07-26 22:13] lhx-x commented on #342
Sorry not yet. @jdmaloney do you mind if we start a bandwidth test on this?

[2017-07-26 23:48] craig-willis commented on #304
@dlebauer  Do you want to re-open this ticket or start a separate discussion?  Is this something we need to think about before the November release?

[2017-07-27 02:45] gsrohde commented on #320
This should be fixed by pull request https://github.com/PecanProject/bety/pull/527.

[2017-07-27 04:33] dlebauer commented on #304
I think open another issue for future (target the Nov 2018 release). I
think it should be sufficient for now if we retain home directories from
deleted containers and encourage people to use github repositories for the
code that they write. Isn't reproducibility planned as part of a core NDS
workbench feature?

On Wed, Jul 26, 2017 at 6:48 PM Craig Willis <notifications@github.com>
wrote:

[2017-07-27 10:56] craig-willis opened #344 "Protocol for reproducible research and archiving of analyses"
Question from  https://github.com/terraref/computing-pipeline/issues/304:

What would be an appropriate protocol for reproducible research / archiving
analyses?

* encourage people to keep their work on GitHub or similar external repository.
* retain ~/ directories
* can old containers be archived?

I think it should be sufficient for now if we retain home directories from deleted containers and e

[2017-07-27 11:04] craig-willis commented on #344
I've opened a new issue in Workbench to discuss this. It isn't a current priority, but certainly a good topic.

For now, as with the extractors in TERRA-REF, github is essential.   We already retain home directories and should make sure we have backup.  I don't think that archiving home directories is the right approach.  Taking archiving in it's strictest sense (i.e., library preservation) -- old

[2017-07-27 11:04] craig-willis commented on #304
https://github.com/terraref/computing-pipeline/issues/344

[2017-07-27 14:24] robkooper commented on #344
Another option is to do is just copy the new files from the container. You can use `docker diff <container>` to get a list of files changed and then use a loop using `docker cp -a <container>:<path> outputfolder/<path>` and just tar that file up as provenance.

[2017-07-27 14:39] craig-willis commented on #344
Thanks, Rob.  Of course, this will need to be implemented as a feature of Workbench since the user doesn't have direct access to Docker on the system.  Whether diff/cp or commit/push, we'd need to add this feature.

[2017-07-27 15:08] robkooper commented on #344
One thing though is to make sure the user knows this is going to happen so they don't put any private info (such as private keys/passwords) in the container.

[2017-07-27 16:08] craig-willis commented on #341
FOV data updated in Clowder
https://terraref.ncsa.illinois.edu/clowder/datasets/5873a8ae4f0cad7d8131ac0e

[2017-07-27 16:09] rachelshekar commented on #341
@mabitter-x do you have any further questions or can this be closed?

[2017-07-28 18:53] mabitter-x commented on #341
Thank you all for this wealth of information, looks good to me!

On Thu, Jul 27, 2017 at 9:09 AM, Rachel Shekar <notifications@github.com>
wrote:

--

Matthew Bitterman
Senior Design Engineer
919-649-0337 <(919)%20649-0337>
solveforx.com

[2017-07-31 01:18] #341 closed

[2017-07-31 13:17] max-zilla opened #345 "Update all TERRA extractors to release readiness"
With pull requests to terrautils regarding metadata and directory location from @jterstriep @craig-willis we can make final adjustments to extractors in run-up to August reprocessing.

- use standardized directory structure from terrautils, not hard-coded
- reference standard metadata from terrautils, not raw metadata
- use calls to BETYdb to get plot associations and IDs, not shapefiles
- check l

[2017-07-31 15:23] max-zilla commented on #345
Made a branch for terrautils called integration_cleanup where I'm moving some older code from extractors.py into the new sensors.py.

Basically we have a nice dictionary for validating if an incoming file path is valid (using 'filename' or 'pattern' in the dict). But that didn't quite fill what extractors needed - "given this incoming raw_data dataset, what should output filename(s) be?" so I move

[2017-07-31 18:10] max-zilla commented on #345
I've also standardized the geostreams creation now that we're fetching sitenames from betydb. Extractors can rip out all their datapoint/sensor/stream handling code and instead just prep their datapoint metadata & timestamps and make one call:
[code]
"create with dependencies" will auto check geostreams if sensor/stream already exist, and if not hit bety for name of plot and create them before pos

[2017-08-02 18:39] gsrohde commented on #316
This doesn't seem to be a problem.  Closing.

[2017-08-02 18:39] #316 closed

[2017-08-03 16:08] rachelshekar commented on #207
Full field image may not be accurate for this extractor because there is no rule when there are multiple observations for each point.
If individual images, will use last image recorded per plot.
@dlebauer  - Should we run this on full field or individual images?  If individual, then close.

[2017-08-03 16:09] rachelshekar commented on #257
@solmazhajmohammadi can this be closed?

[2017-08-03 18:00] craig-willis opened #346 "Add extractor version information to metadata"
For provenance/tracking we want to relate the version of the extractor (via Github tag/hash) to the downstream data.

[ ] Define extractor version strategy
[ ] Tag extractors
[ ] Incorporate tag/commit hash into metadata for downstream data

[2017-08-08 13:01] hmb1 commented on #76
@jdmaloney
@robkooper
Hi there, where is the test folder on ROGER ?

[2017-08-08 13:56] jdmaloney commented on #76
@hmb1 I think we decided on using people's directories in ../projects/arpae/terraref/users/$username @max-zilla is whitelisting the .../users directory for clowder so things can show up there too.  Does that sound satisfactory?

[2017-08-08 14:02] hmb1 commented on #76
That's fine by me - but it doesn't sound a good long term solution ....

[2017-08-08 18:15] max-zilla commented on #307
These updates are in progress.

@dlebauer @craig-willis do we have a mapping for season to date? @jterstriep pointed out these patterns in Bety sitenames:
[code]

I would like to add a small method to terrautils that will determine season to use based on a dataset's timestamp, akin to this (dates are placeholder):
[code]

[2017-08-08 18:54] dlebauer commented on #307
@max-zilla

The experiments table lists seasons with start / end dates: https://terraref.ncsa.illinois.edu/bety/api/beta/experiments?key=9999999999999999999999999999999999999999

Each experiment is linked to a set of plots via the experiments_sites table that can be queried thus:

[2017-08-08 19:15] max-zilla commented on #307
@dlebauer thanks, this is much simpler.

[2017-08-08 19:35] NewcombMaria commented on #186
Update August 8:  the 2016 Maricopa UAV data needs to be re-run in Pix4D to correct some geo-referencing alignment issues before accurate orthomosaics for each flight are ready to go to ROGER.  This is in process and Rick thinks that corrected sorghum season 2 orthomosaics for 4 spectral flights and 1 thermal flight can be uploaded to a Google directory later today or tomorrow.

Plot-level summary

[2017-08-10 14:08] hmb1 opened #347 "Environmental Logger data to Netcdf"
@czender
@solmazhajmohammadi

Have created a python script that converts Environmental Logger files in json format to NetCDF.
The script is located at https://github.com/terraref/extractors-hyperspectral/blob/master/hyperspectral/EnvironmentLogger2NetCDF.py[](url)

For the first timestamp (record) it extracts the sensor's "wavelength". This var is repeated in all records and "as far as I can tell"

[2017-08-10 15:07] rachelshekar commented on #276
shiny app https://terraref.shinyapps.io/traitvis/

[2017-08-10 15:43] rachelshekar commented on #186
@dlebauer please follow up

[2017-08-10 15:47] czender commented on #347
It sounds like you "duplicated" work of @FlyingWithJerome in
`git clone git@github.com:terraref/extractors-environmental.git
`
Specifically, environmental_logger_json2netcdf.py. Unsure if you're aware of that.
Is there a problem you trying to solve that can't be done with that?

[2017-08-10 15:58] hmb1 commented on #347
Hi Charlie,
I couldn't get Jerome's 'hyperspectral_flux_based_calibration.py' script to work ( I think he used some third-prty software to do the intial conversion to netcdf ) also some of the script did not make sense

[2017-08-10 16:19] jdmaloney commented on #342
@lhx-x Is there a time this afternoon or tomorrow we could schedule the test?

[2017-08-10 16:29] rachelshekar commented on #333
Rerun on 8/9 with these targets: 75, 25, 99, 2 color, ceramic tile

[2017-08-10 16:31] rachelshekar commented on #333
@hmb1 please check data and close issue

[2017-08-10 16:34] dlebauer commented on #333
@hmb1 will you be able to use scans where targets are in 1/2 shade, 1/2 sun?

[2017-08-10 16:44] rachelshekar commented on #257
@solmazhajmohammadi  - @max-zilla needs to know if anything needs to be changed with extractor before the code freeze on Aug 15

[2017-08-10 17:24] lhx-x commented on #342
@jdmaloney sure! How about 2:00 pm PDT? Feel free to change it if that's not work for you. Also could you please post the commands we will need?

[2017-08-10 21:36] solmazhajmohammadi commented on #257
The LAS files are in standard format as long as we are using the PDAL version >1.3
double checked with Max, we are using version 1.5
However, the ply files are still in pointcloud origin. I have updated the issue [44](https://github.com/terraref/reference-data/issues/44), in order to do the transformation.
This would georeference the LAS files.

[2017-08-11 14:34] max-zilla opened #348 "Send hyperspectral indices to BETYdb"
@czender @hmb1

I am updating hyperspectral extractor to use latest terrautils code. I'm also going to add support for the -m flag if an appropriate soil mask is found.

However, one last piece is @dlebauer wants to push the indices to BETYdb. I began with a snippet of code something like this:
[code]

As you have more experience with netCDF, can you help me extract appropriate trait from that Dat

[2017-08-11 14:54] hmb1 commented on #348
HI Max,
This is the typical meta-data for an index  in  the first part of the NetCDF file:

       float NDVI705 ;
                NDVI705:_FillValue = 1.e+36f ;
                NDVI705:cell_methods = "y, x: mean" ;
                NDVI705:description = "Formula: (R750 - R705)/(R750 + R705); Citation: Gitelson and Merzlyak (1994)" ;
                NDVI705:label = "Reflectance Index" ;

[2017-08-11 17:18] dlebauer commented on #348
@max-zilla the variable name should match one in BETYdb, e.g.

https://terraref.ncsa.illinois.edu/bety/api/beta/variables?key=9999999999999999999999999999999999999999&name=NDVI705

[2017-08-15 18:35] dlebauer commented on #183
I looked at these files and it appears that they are larger than the input files, in part because they retain the rfl_img and xps_img variables. Here are a few additional things that we should do:

1. remove xps_img and rfl_img from the `_ind.nc` files
2. move these files to Level_2
3. Propagate the same updates to meta-data as specified in https://github.com/terraref/reference-data/issues/83, exc

[2017-08-15 20:47] max-zilla commented on #345
first pass of updates mostly done. beginning testing phase with small touchups to hopefully finalize with all submitted code this week.

[2017-08-16 14:20] dlebauer commented on #271
@phloz @nfahlgren what is the status of this?

[2017-08-16 14:36] phloz commented on #271
70+/390 are complete with .g.vcf files

[2017-08-16 14:40] dlebauer commented on #271
What is the ETA for completion?

[2017-08-16 15:35] max-zilla commented on #348
@hmb1 @czender I feel like I'm close, but can't get a value for NDVI705 by plot.

On Roger:

[code]
then in python...
[code]
Can you show me correct python here? Unless the problem is more complex than I understand - do we have per-plot values for NDVI705 in this file and we need to iterate over something?
I'm trying to use http://unidata.github.io/netcdf4-python/#netCDF4.Dataset to figure this ou

[2017-08-16 15:50] dlebauer commented on #348
@max-zilla the `_ind.nc` files are full resolution. I believe that these still need to be averaged by plot before exporting to BETYdb. This is covered by #183, where the task of averaging at plot level has been checked, though it is not clear if this has actually been done.

I suspect @hmb1 or @czender can provide an efficient implementation using NCO or similar.

[2017-08-16 16:27] hmb1 commented on #348
HI Max,
 the actual netcdf name of the variable is 'NDVI705'
and  standard_name = "normalized_difference_chlorophyll_index_750_705"

the data for **NDVI705** is a  scalar and represents the average value over the plot

The variable **NDVI705_pxl** below is the per-pixel value over the plot

float NDVI705_pxl(y, x) ;
                NDVI705_pxl:_FillValue = 1.e+36f ;
                NDVI705_pxl:cel

[2017-08-16 16:29] max-zilla opened #349 "Add ability to filter sites by experiment in BETYdb"
Currently I need to get sites limited by experiment. in python my pseudocode is kind of ugly:
[code]

It would be nice if something like experiment_id or experiment is supported when querying sites table, but my attempts didn't seem to work.

Is this currently possible? If not, my code above works for now but could be done more efficiently on psql side.

[2017-08-16 17:03] phloz commented on #271
I have ~150 samples that will take 5-7 days each to run through the pipeline and ~150 samples that will take 1-2 days to run through the pipeline.  Currently, I can run ~5 at a time....If I'm super on top of keeping this going and there aren't failures...~May 2018

[2017-08-16 17:59] dlebauer commented on #349
To clarify, given a date and a city, you want to find all of the plots associated with a given experiment?

It doesn't solve the immediate problem but note that you can also query sites with full info. https://terraref.ncsa.illinois.edu/bety/api/beta/sites?city=Maricopa&key=9999999999999999999999999999999999999999&limit=none&associations_mode=full_info&limit=10

[2017-08-16 18:33] max-zilla commented on #349
@dlebauer that could actually work in fewer steps, didn't realize sites supported associations also. This might be enough

[2017-08-16 18:58] gsrohde commented on #349
@max-zilla "full_info" mode actually gives full site information when querying on experiments.  For example, https://terraref.ncsa.illinois.edu/bety/api/beta/experiments?name=MAC+Season+1:+BAP&associations_mode=full_info will show not only the 384 `experiments_sites` rows associated with site "MAC Season 1: BAP", but also the 384 associated `sites`.  In fact, in most cases, I turn off display of t

[2017-08-16 19:14] gsrohde commented on #349
P.S.: If you use https://terraref.ncsa.illinois.edu/bety/api/beta/experiments.xml?name=MAC+Season+1:+BAP&associations_mode=full_info, you could get the results as an XML document instead of the (default) JSON, and there are quite sophisticated and succinct methods of extracting information from an XML document using XPATH or XML style sheets.  I've had quite a bit of experience working with XML in

[2017-08-17 14:08] max-zilla commented on #349
@gsrohde perfect! my python IDE was truncating the JSON result and I missed that sites object - looks like you've already given me this functionality so I'll close this issue.

[2017-08-17 14:08] #349 closed

[2017-08-17 15:42] dlebauer commented on #348
The file spans many plots, so one average value will not be particularly meaningful. I think @max-zilla has implemented code to subset by the plot boundary, average, and insert into BETYdb.

I think that the averages from above can be dropped from the file and the suffix "_pxl" removed from these variable names.

[2017-08-17 15:44] dlebauer commented on #333
The scan has been completed; this issue can be closed.

[2017-08-17 15:44] #333 closed

[2017-08-17 15:47] dlebauer commented on #329
Current implementation is here: http://141.142.170.38:8000/api/v1/sites/ua-mac/sensors/stereoTop/2017-04-27?sitename=MAC

Where will this be deployed? What are next steps?

[2017-08-17 15:48] dlebauer commented on #337
Has this been deployed? If so, can it be closed?

[2017-08-17 15:50] max-zilla commented on #337
yes, this is done.

[2017-08-17 15:50] #337 closed

[2017-08-17 15:50] dlebauer commented on #340
Closing

Remaining task of adding to documentation is here: https://github.com/terraref/documentation/issues/158

[2017-08-17 15:50] #340 closed

[2017-08-17 15:59] hmb1 commented on #348
Thats quite a bit of work and all the attributes are associated with the  root name and not the _pxl name

[2017-08-17 16:05] max-zilla commented on #348
@dlebauer @hmb1 in this snippet of python code:
[code]

...my thinking had been that I could use Dataset() with x/y coordinates to query only a subset of the .nc file (if that's possible), collect all the per-pixel values for that bounding box and average them.

Since the file is 100 GB, i could see that being slow.

A middle ground that is probably not satisfying would be to assign the single NDV

[2017-08-17 16:08] dlebauer commented on #333
For 8/9 the calibration images are every 5th scan

[2017-08-17 16:11] max-zilla commented on #207
We have full field stitching completed and have added code to iterate across the full field for each plot. Just need to finish tests to verify the plot-level means are generated properly, but this will be included in terrautils PR for tomorrow.

[2017-08-17 16:11] dlebauer opened #350 "Make list of files w/ calibration images from 8/9"
@smarshall-bmr provide list of hyperspectral image files from 8/9 and 8/16 that contain the calibration targets

[2017-08-17 16:13] dlebauer commented on #350
Stereo images can be used to extract the angle of the targets for calibration.

[2017-08-17 16:22] dlebauer commented on #348
@hmb1 what is nco command to take a hyperslab and average the values in the array?

[2017-08-17 16:29] dlebauer commented on #329
* update to use terrautils library
* most important is the API full field clipper
  * has a form and a map interface

[2017-08-17 16:30] dlebauer commented on #329
@jterstriep please close this, create an epic that links associated tasks.

[2017-08-17 16:31] hmb1 commented on #348
with the indices file we have the coordinates x,y
so to   subset using the bounding box xmin,xmax ymin, ymax
ncks -d x, xmin,xmax -d y ymin,ymax    <netcdf_in_file> <netcdf_out_file>

Very important the xmin,xmax etc must be floating point numbers other wise NCO will interpret them as an index number

e.g

...Henry

[2017-08-17 16:54] dlebauer opened #351 "Updates to soil mask data product"
* look at hyperspectral inputs for example (see https://github.com/terraref/reference-data/issues/83)
* add definitions for x, y coordinates
* add latitude and longitude
* name and define the soil variable
   * e.g. soil_area_fraction (~inverse of cf vegetation_area_fraction) with units = 1
   * or could use attributes 'flag_values' and 'flag_meanings' for categorical var.
* should be either level

[2017-08-17 17:28] dlebauer commented on #101
@max-zilla has this been implemented? Does geostreams now store the FOV as a PostGIS geometry for each file?

[2017-08-17 17:33] smarshall-bmr opened #352 "Sensor relocation following sorghum 4 harvest"
This issue is to serve as a warning and discussion area for upcoming changes to sensor locations in the sensor box. I'm not sure of all the methods the downstream extractors are using but be prepared for slightly differently structured data after this season!

Sensors "confirmed" to be moved are:

- Top 3D laser scanners will be moved around 2cm south in the sensor box
- NDVI/PRI and CROPCircle wi

[2017-08-17 18:06] max-zilla commented on #101
yes, postGIS stores FOV now in sensorposition. closing.

[2017-08-17 18:06] #101 closed

[2017-08-17 19:08] smarshall-bmr commented on #350
List of VNIR measurements with targets from Wednesday 8/16

2017-08-16_7-28-10-447
2017-08-16_08-23-30-532
2017-08-16_09-18-51-027
2017-08-16_10-14-11-561
2017-08-16_11-09-33-766
2017-08-16_12-04-55-281
2017-08-16_13-00-18-945
2017-08-16_13-55-40-810
2017-08-16_14-51-03-595
2017-08-16_15-46-26-089
2017-08-16_16-41-48-344
2017-08-16_17-37-12-578
2017-08-16_18-32-34-443
2017-08-16_19-27-56-548

[2017-08-17 20:28] dlebauer commented on #101
@max-zilla can you give examples? For example, if I want the bounding box for

https://terraref.ncsa.illinois.edu/clowder/files/598fa7f74f0c7dbcc8c0da69?dataset=598fa7f74f0c7dbcc8c0da5e&space=571fb3e1e4b032ce83d95ecf

Wouldn't I use the query https://terraref.ncsa.illinois.edu/clowder/api/geostreams/datapoints?filter={%22file_ids%22:%22598fa7f74f0c7dbcc8c0da69%22}

? This returns the error in
[err

[2017-08-17 21:33] craig-willis commented on #268
@dlebauer Is there anything specific you're looking for in terms of metadata?  Looking at the EnvironmentLogger and hyperspectral nc files, aside from variables I see primarily sensor information.