[2016-09-30 17:15] tingli3 commented on #174
@dlebauer
So, the first step is to convert the gantry system based on its bounding box to make sure that X starts at 0 and increases to the East using something like x'=-y+22.135 and y'=x-3.8. But this assumes that the six point given is the bounding box (22.135m*203.5m) of the gantry field.

If this is not the case, I think the first step is to find out the bounding box of gantry field , and how

[2016-09-30 17:50] max-zilla commented on #168
Thanks for reminder @solmazhajmohammadi , still need to finish transferring these.

[2016-09-30 19:28] dlebauer commented on #174
@tingli3 I think it would help if you could create a map with the different coordinates reference systems and available reference points. I am confused that x'=f(y) instead of f(x), and it would really help to clarify. Otherwise, I am afraid that the discussion we are having here will add to the confusion.

... and as you sort this out please document the issues and solutions https://github.com/te

[2016-09-30 19:31] dlebauer commented on #174
@tingli3  RangeCentersSorghum1 and RangeCentersSorghum2 are for the first and second planting seasons, respectively.

I believe the GPS reference points that compare UA MAC and USDA GPS's correspond to concrete pylons that are in the ground a few meters outside of the planted area.

[2016-09-30 20:10] tingli3 commented on #174
@dlebauer
Using x'=f(y) instead of f(x) is to transpose X and Y as the X goes S to N in the gantry coordinates (the X and Y of the gantry should be inversed).

For the two planting seasons, are the coordinates recorded in the same gantry coordinate system? Which one should be used? Finding the exact bounding box of the gantry data is very important.

[2016-09-30 21:12] dlebauer commented on #174
@tingli3

For the two planting seasons, the coordinates are recorded in the same system. We will need to recreate the plot boundaries each time a new crop is planted, and the bounding box of the planted area as well as the plots themselves will change.

[2016-09-30 21:35] ZongyangLi commented on #85
@dlebauer @robkooper Thanks! I think you are providing great ideas for visualizing the stitched map, I will check it asap.

At the same time, I would like to describe the way we are using. Here is an example of [one day’s tiles](https://drive.google.com/open?id=0B5QCp_Onc6nOcFlwbHZJYlhBZGc) created by our local extractor, stored with a ‘google map structure’ in my laptop.

And we are currently usi

[2016-09-30 21:36] gsrohde commented on #172
@max-zilla I _think_ I'm done with all the high-priority items in this issue (except for updating the documentation, which isn't quite done), but I won't do a new release until sometime next week.  (Precisely when depends on how much else I want to try to include.)  In the meantime, you are welcome to pull the updates to your own BETYdb copy and re-test (if that's useful and feasible).

The main c

[2016-09-30 21:43] #148 closed

[2016-09-30 22:51] tingli3 commented on #174
@dlebauer
From the information, I assume we are going to use one system and put all the data with different bounding box into it.  Also, the two planting seasons at least must have to have the same (0,0) point (though we do not know where it is  ) and XY axes (I think this should be true). That means the same gantry coordinate in both two seasons should exactly point to the same point. Is this cor

[2016-09-30 22:56] dlebauer commented on #174
Yes that is okay. Only the plots change. I think we should discuss in
person, but please map what you have so it is easier to understand.
On Fri, Sep 30, 2016 at 5:51 PM Ting Li <notifications@github.com> wrote:

[2016-10-01 05:26] dlebauer commented on #174
I was very confused and when you (@tingli3) pointed out x'=f(y) I realized that I misunderstood the gantry coordinate system.

But drawing a map helped me. This may be incorrect, but it is my current working hypothesis of how the different coordinate systems overlay.

If x goes positive to the north and y goes positive to the east, we don't need a coordinate system with x going east. That was only

[2016-10-03 15:18] solmazhajmohammadi commented on #168
@ZongyangLi You can follow up the issue here.

[2016-10-03 15:23] ZongyangLi commented on #168
@solmazhajmohammadi Got it, thanks!

[2016-10-03 18:24] max-zilla commented on #136
@nfahlgren @robkooper @jdmaloney Today I have completed work (I hope) updating and testing the Globus transfer monitor for Danforth. This afternoon I am initiating the Globus transfers for the sorghum_pilot_experiment snapshots. If it's similar to downloading the data, this will probably take 16 hours or so - the PlantCV extractions will begin once the files are uploaded to Clowder, which will hap

[2016-10-03 19:30] max-zilla commented on #136
**PREP**
Create/determine which Globus user will do these transfers. I will need the credentials so I can whitelist and add to the checking registry on Roger. This can be anyone but we recommend making a Globus user specific to this project for clarity.

**COMPONENTS**
- The **docker image for the monitor service**. This is the piece that will accept new lists of files, generate Globus transfers t

[2016-10-04 19:27] nfahlgren commented on #136
@max-zilla when you say Globus user, do you mean a Globus ID and/or a local user account on apollo?

[2016-10-04 19:29] nfahlgren commented on #41
@mbomhoff thanks! The group who generated these data want to keep it private until the publish, does sharing with the coge user make the data public or just makes it available through CoGe?

[2016-10-04 20:29] max-zilla commented on #136
@nfahlgren Globus user, i.e. the user who will perform the Globus transfers. We are using the 'which Globus account made this transfer?' as the way to know which Clowder user should upload the data into Clowder, and for logging purposes.

[2016-10-04 20:40] mbomhoff commented on #41
@nfahlgren I see, yes it will effectively make them public for any user logged into the CoGe web site, however they will remain private within the DE.

[2016-10-04 22:47] tingli3 commented on #174
This R code corrects the order of plotID and add column and range ID to each plot. Grid[i,] corresponds to plot i. The X1, X2, Y1 and Y2 need to be updated using the true gantry coordinates.
[code]

[2016-10-05 13:39] rachelshekar commented on #141
@solmazhajmohammadi : is this fixed?

[2016-10-05 13:49] rachelshekar commented on #109
@tingli3 - please give an update.

[2016-10-05 13:54] TinoDornbusch commented on #128
@smarshall-bmr  Sorry I did not see that. The logs are saved on the control PC of the PLC. You can access it via remote desktop. The windows bar is hidden on the left. Mouse over opens the menu and you can start Windows Explorer. You can either Copy&Paste via remote desktop or use an external USB device to copy data.

[2016-10-05 15:56] dlebauer opened #179 "Create custom spatial reference systems for PostGIS"
_From @max-zilla on September 8, 2016 19:26_

@yanliu-chn talked today about creating 3 custom SRS's for this project that I didn't capture very well in my notes:
- Arizona MAC coordinate system
- USDA coordinate system
- (0,0) inversion

Could you say a tiny bit about these? I wanted to create an issue to capture that. For my own understanding, I found this:
http://geeohspatial.blogspot.com/2013/

[2016-10-05 15:56] dlebauer commented on #179
I think the 3 reference coordinate reference systems should be

* Arizona MAC coordinate system
* Raw gantry with x positive west
* inversion of gantry coordinate with 0,0 in SW corner

The USDA points can be treated as truth because unlike the UA MAC System it was accurately calibrated.

RTK GPS data corresponding to these are on Clowder along with a long email thread uploaded as PDF (hint, start

[2016-10-05 15:56] dlebauer commented on #179
_From @JeffWhiteAZ on September 8, 2016 19:43_

I agree with the list of three as reference systems for public consumption. However, may want to conserve the MAC coordinate system as well because as long as MAC is using their field equipment for planting and tractor scans, we will receive data with the biased MAC coordinates.
Alternately, we need to clarify with Pedro about coordinate adjustments

[2016-10-05 15:56] dlebauer commented on #179
@jeffwhiteaz the UA MAC system is first on the list for that reason

[2016-10-05 15:56] dlebauer commented on #179
_From @JeffWhiteAZ on September 8, 2016 20:0_

I'm sorry. I misread the previous messages. My understanding:
- "USDA" is based on a correctly located base station and hence is the most accurate and useful for long-term use. What we are really saying is that we're using standard geocoordinates (UTM referenced to a specific datum?). USDA ALARC's base station + rover is simply the best available sour

[2016-10-05 15:56] dlebauer commented on #179
Inversion of gantry coordinate with 0,0 in SW corner is standard for people **and computers**.  UTM magnitudes are too large,  reversed x axes cause errors but don't fail, and the gantry + its data are not square with UTM. Some of this discussion goes in #32 ; lets keep this issue is about implementation.

(max fixed issue #, it pointed to unrelated #29 on accident)

[2016-10-05 15:56] dlebauer commented on #179
_From @yanliu-chn on September 28, 2016 16:13_

[usdagps_TerraRef_Lemnatec_Field_AZ_UTM.txt](https://github.com/terraref/reference-data/files/498718/usdagps_TerraRef_Lemnatec_Field_AZ_UTM.txt)

This is the specialized UTM projection definition developed by @tingli3 for the Lemnatec field based on USGS RTK GPS data.

Need to verify the accuracy by comparing with ground truth points.

[2016-10-05 15:56] dlebauer commented on #179
@yanliu-chn and @tingli3

Could you please elaborate on how this was developed, and how it can be used?

Also, I have summarized the GPS and Lemnatec coordinates in this spreadsheet: https://docs.google.com/spreadsheets/d/1pTgmpf9kltYW1SHo_K51cynVTYs6-JdS6rt4usfwV10/edit#gid=0

Is this the data that you used? Otherwise, can these be used as ground truth points?

[2016-10-05 15:56] dlebauer commented on #179
_From @yanliu-chn on September 29, 2016 22:34_

@dlebauer Thanks a lot for the new google sheet! This is what we wanted. The original excel file was hard to understand the diff b/w USDA and MAC gps.

The projection file I uploaded is in WKT format and is recognized by most of GIS software for reprojection. It was developed by tuning the central meridian line of AZ's UTM projection so that the line

[2016-10-05 15:57] dlebauer opened #180 "Converting lemnatec scanner metadata to absolute geographic positions"
_From @dlebauer on May 25, 2016 20:54_

_From @solmazhajmohammadi on March 18, 2016 20:31_

@czender, At the moment there is no accurate GPS at the gantry box. It is planned to add geographical coordinates to metadata, based on the fixed point on the ground and a RTK GPS location.
Here are locations from each corner of the field that @rjstrand sent from his phone:

SE Corner 33° 04.470' N / -111°

[2016-10-05 15:57] dlebauer commented on #180
_From @rjstrand on May 25, 2016 21:8_

@dlebauer Thanks for the reminder.  I just uploaded a .zip file to Box that contains RTK GIS measurements in various shape files.  It is located in UA Site Information\GIS Shape Files.  There are shape files for rail extents, foundation locations, sprinkler locations, a set of calibration points through the field, and a single point that represents the refere

[2016-10-05 15:57] dlebauer commented on #180
Thanks @rjstrand since the Box folder is restricted I uploaded them here for quick reference:

 [Gantry_Adjusted.zip](https://github.com/terraref/reference-data/files/283002/Gantry_Adjusted.zip)

[2016-10-05 15:57] dlebauer commented on #180
_From @czender on May 25, 2016 21:18_

We are at an impasse with calibrating the radiometric data, so this is a good time to try to implement the above geolocation. @FlyingWithJerome please read this thread and try to implement the suggested algorithm within JsonDealer, i.e., decorate the hyperspectral output file lat(x,y) and lon(x,y) where x and y are the existing pixel dimensions.

[2016-10-05 15:57] dlebauer commented on #180
_From @SolmazHajmohammadi-LemnaTec on May 25, 2016 22:59_

@czender @FlyingWithJerome
I think it would be better to wait for the triggered data from Hyperspectral camera. I think it is currently working for VNIR.  Using external trigger will solve the problem, and you only need to convert from Gantry coordinate system to GPS coordinate(if you want GPS location)

[2016-10-05 15:57] dlebauer commented on #180
@rjstrand, I think cz is referring to issues computing down welling radiance a from the ocean optics hyper spectral sensor https://github.com/terraref/reference-data/issues/30

[2016-10-05 15:57] dlebauer commented on #180
I meant @SolmazHajmohammadi

[2016-10-05 15:57] dlebauer commented on #180
_From @rjstrand on May 26, 2016 14:49_

@czender @dlebauer
Just for clarification, the SWIR is functioning with the external trigger.  The VNIR is the instrument that has been giving us problems with the external trigger.  Additionally, VNIR is currently down.  I will look at it when I return to Maricopa on 31 May.

[2016-10-05 15:57] dlebauer commented on #180
_From @caicai89- on May 27, 2016 21:16_

When calculating the positions, we found that we need more information about the gantry and field.
1. Are the sensors fixed on the gantry?
2. In what direction can gantry move, or what is the direction of the track?
3. What is the exact point on gantry that have the position recorded in the metadata? And what is the coordinate origin, SE corner?
4. What is

[2016-10-05 15:57] dlebauer commented on #180
@caicai89- see some of the discussion here: https://github.com/terraref/reference-data/issues/25#issuecomment-219126297

I'll answer but will want someone from Lemnatec (@rjstrand or @TinoDornbusch?) to confirm.

First lets define rails, gantry is the big two-legged bit attached to rails and sensor box is moved around by the gantry.

![image](https://cloud.githubusercontent.com/assets/464871/15622

[2016-10-05 15:57] dlebauer commented on #180
@caicai89- see also https://github.com/terraref/reference-data/issues/32

[2016-10-05 15:57] dlebauer commented on #180
_From @TinoDornbusch on May 28, 2016 6:11_

@dlebauer all correct. Godd drawing. May be the schematic drawing of the sensorbox helps to understand the Relations inside the box.
[7100019_20160215_Kamerabox_Koordinaten.pdf](https://github.com/terraref/reference-data/files/287591/7100019_20160215_Kamerabox_Koordinaten.pdf)

[2016-10-05 15:57] dlebauer commented on #180
_From @rjstrand on May 28, 2016 15:26_

A few clarifications...

(0,0) - the X,Y origin is not at the SE foundation.  If you look at the set of shape files, there is one called "reference".  This is the single point representing the SE corner of the camera box when the gantry coordinates read (0,0).  This location was set by our electrical/control contractor.  We did not have a chance to modify th

[2016-10-05 15:57] dlebauer commented on #180
_From @caicai89- on June 8, 2016 14:11_

@rjstrand With the .dbf file and gantry coordinates from @TinoDornbusch , I think we can check if the error. Where could I find the file? Do you mean current field is with size of  203.5 (207.3-3.8)   * 22.135?

[2016-10-05 15:57] dlebauer commented on #180
_From @caicai89- on June 8, 2016 16:51_

@rjstrand  the gantry coordinate system is right-handed.
1. Is the camera box coordinate also right-handed?
2. to = [+xg+Vx*(t) +yg +zg]', for this formula, where can I find the t value? The sample metadata is the following.
"gantry_system_variable_metadata": {
      "Time": "05/07/2016 15:58:43",
      "Position x [m]": "203.6",
      "Position y [m]": "2.

[2016-10-05 15:57] dlebauer commented on #180
_From @gsrohde on June 9, 2016 17:15_

@dlebauer @rjstrand I just thought I should clarify "right-handed" coordinate system vs. "left-handed" coordinate system.  "right-handed" (also called "standard orientation") is what mathematicians usually use.  I means that if the positive x-axis is going off to your right and the positive y-axis is going up, then the positive z-axis is coming toward you.  W

[2016-10-05 15:57] dlebauer commented on #180
_From @rachelshekar on July 7, 2016 14:1_

@caicai89-  please update this issue

[2016-10-05 15:57] dlebauer commented on #180
_From @rachelshekar on July 29, 2016 20:27_

@yanliu-chn - please update this issue

[2016-10-05 15:57] dlebauer commented on #180
_From @yanliu-chn on July 29, 2016 20:34_

@caicai89- could you update the status of this issue? as we discussion, we need a timeline to deliver the first version of this feature.

[2016-10-05 15:57] dlebauer commented on #180
_From @caicai89- on July 29, 2016 21:34_

This work will be closed once https://github.com/terraref/computing-pipeline/issues/101 is finished.

[2016-10-05 15:57] dlebauer commented on #180
_From @caicai89- on August 18, 2016 4:54_

#			N(x)
#			^
#			|
#			|
#			|
#W(y)<------SE

SE point has gantry position (3.8,0.0) and GPS position (33.0745,-111.97475).

When transforming a point from gantry coordinate to GPS position, we follow the following 3 steps.
1. Calculate the UTM position of the SE point
2. Calculate the UTM position of the point taking SE point as reference
3. Get the G

[2016-10-05 15:57] dlebauer commented on #180
@rjstrand @smarshall-bmr any ideas?

[2016-10-05 15:57] dlebauer commented on #180
_From @max-zilla on August 18, 2016 18:52_

@caicai89- You mentioned current metadata format during the meeting. I looked at several sensor metadata JSON files from August 17th for the geospatial format.

The gantry data (gantry_system_variable_metadata) is available with every sensor:
[code]

More detailed information (sensor_fixed_metadata) varies by sensor as you might expect. Here are the fiel

[2016-10-05 15:57] dlebauer commented on #180
@max-zilla why don't you think z would matter?

For a fixed bounding box describing the field of view, if the box is on the ground the view at the top of the canopy is much smaller than the box. I think the field of view is always defined as 2m from the base of the sensor box see also original post / comments here and terraref/computing-pipeline#101

[2016-10-05 15:57] dlebauer commented on #180
_From @max-zilla on August 18, 2016 19:59_

@dlebauer just meant not every sensor has a "location in camera box z" in the metadata like they do x and y. We have the gantry z position however. Perhaps this is already accounted for in @caicai89-'s script.

[2016-10-05 15:57] dlebauer commented on #180
@max-zilla two sensors facing up (PRI and NDVI) neither have z nor field of view.

@TinoDornbusch and @SolmazHajmohammadi-LemnaTec @markus-radermacher-lemnatec is there a reason that scanner3DTop doesn't provide any information about sensor position or field of view in its metadata?

[2016-10-05 16:26] tingli3 commented on #109
see #174

[2016-10-05 16:31] tingli3 commented on #174
This is the R code for projection. Lat&lon can be returned through gantry2latlon(gantry_x, gantry_y) e.g. gantry2latlon(3.8,0). How the choose of the point (currently CE) and projection will effect the error needs to be experimented later.
[code]

[2016-10-05 16:35] yanliu-chn commented on #174
Next:
- generate polygons to be inserted to betydb in postgis sql statements. send to Scott.
- two site tables for two seasons. tables use USDA GPS reference points.
https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=883764630

https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=1433617856

- work out sql query stat

[2016-10-05 17:14] Zodiase commented on #156
@max-zilla Do you know what the extractor should subscribe to in order to monitor new met data files? I was thinking about subscribing to any new files in any dataset (with `*.dataset.file.added`), count the `.dat` files in that dataset and process them once I count 24. Do you have a better way of doing this?

[2016-10-05 18:04] yanliu-chn commented on #174
From Andy French on Sept 2, 2016:

1.     Use the USDA RTK system as the base reference, it is likely more accurate than the M&S (this is not CASE IH as understand). The USDA RTK system was checked a while ago (2007 so not so recently) three AZ base stations  (designations AZMO, AZSC, AZCLL) and differed from the NAD83 reference frame by 2, 1.2, 1.9 cm for the X,Y, Z coordinates respectively. We r

[2016-10-05 18:40] yanliu-chn commented on #174
@tingli3 Upon Andy comment 3: need to confirm with him the EPSG number:
http://spatialreference.org/ref/epsg/26948/
http://spatialreference.org/ref/epsg/26949/
http://spatialreference.org/ref/epsg/26950/

[2016-10-05 18:41] yanliu-chn commented on #174
@tingli3 Need to clarify if the 2.5m is on x or y or both directions by going through the email. Ask if needed.

[2016-10-05 18:43] yanliu-chn commented on #174
@tingli3 Upon Andy comment 2: need to ask Andy or Bob whether the Lematec coord derived using the linear regression results for MAC coord system has been corrected in the definition of b0, b1 and b2.

[2016-10-05 18:45] yanliu-chn commented on #174
@tingli3 Need to confirm with Andy and Bob or @dlebauer whether the lat lon info associated with Lemnatec gantry raw data is the corrected values based on Andy's comment 1.

[2016-10-05 18:57] dlebauer commented on #174
@yankiu-chn are you are asking if the gantry points were corrected to the USDA coordinates? I believe the answer is 'no', as they are labeled UA MAC but maybe @rjstrand @JeffWhiteAZ or @Andrade-Pedro can comment

[2016-10-05 19:06] yanliu-chn commented on #174
@dlebauer I meant column B and C from row 4-9 in [UA-MAC-F13_RTKRef_9-2-2016](https://docs.google.com/spreadsheets/d/15OxGNJCMsQC4xUCvMiv8i-ERBx1hAKp_LiDIW31tIVA/edit?usp=sharing) sheet.

[2016-10-05 19:11] yanliu-chn commented on #174
@dlebauer ok, so UA-MAC-F13_RTKRef_9-2-2016 is all about MAC coord. I revised my comment.

[2016-10-05 19:47] Zodiase commented on #156
@robkooper Could you explain a bit more about where (a specific dataset?) the extractor should get data from and where the output should go to?

[2016-10-05 20:18] ZongyangLi commented on #151
Uploaded [python script](https://github.com/terraref/computing-pipeline/tree/demosaic_extractor/scripts/FLIR) to convert flir binfile

[2016-10-05 20:24] dlebauer commented on #151
@ZongyangLi could you suggest a solution to @TinoDornbusch (see two comments starting with  https://github.com/terraref/computing-pipeline/issues/151#issuecomment-247756163) regarding how to describe in metadata the calibrated vs. uncalibrated data (presumably in a way that your script can handle)?

[2016-10-05 20:29] dlebauer commented on #156
@Zodiase the extractor should get data from the 'weather' direcotory (sites/ua_mac/weather) and insert into the geostreams API.

[2016-10-05 20:50] dlebauer commented on #174
@yanliu-chn yes, it is from the UA-MAC RTK GPS; the comments say 'from the tractor', which implies the UA-MAC data.

@JeffWhiteAZ will we be getting any data (other than for correction of the UA-MAC system) from the USDA RTK GPS coordinates?

[2016-10-05 20:53] ZongyangLi commented on #151
@dlebauer Is that means @TinoDornbusch  can provide a parameter in json file indicates whether data in binfile is a 'calibrated' or 'uncalibrated'? If yes, my suggestion is
"sensor_fixed_metadata": {
"output type": "calibrated" / "raw"
}
Is that make sense?

And thanks for reminding that the calibration metadata is in the new json file, I will update the  script

[2016-10-05 21:04] tingli3 commented on #174
Here is another example of Rcode using the linear regression method to get the lat and lon.
All the files need are in [projection.zip](https://github.com/terraref/computing-pipeline/files/512326/projection.zip).

[code]

[2016-10-05 21:28] dlebauer commented on #151
@ZongyangLi how about

[code]

[2016-10-05 21:31] ZongyangLi commented on #151
@dlebauer That's good for me.

[2016-10-05 22:09] Zodiase commented on #156
@dlebauer Do you know how to use `pyclowder` to achieve that?

[2016-10-05 22:39] robkooper commented on #156
You will need to register with clowder and say you are interested in a spcific mimetype of files. The file will be downloaded and you are given a pointer to the file on disk. You can now work with that file and write the results in any location and notify clowder (using pyclowder) about this.

[2016-10-05 23:06] Zodiase commented on #156
@robkooper I know about the overall process but I don't know how exactly to save the results back to clowder. How can I use `pyclowder` to "insert into the geostreams API" and is there a specific location the results should go?

I think what @dlebauer wants is to process those `.dat` files on a dataset basis (from what I have found, each dataset contains one day of data separated in 24 files). For

[2016-10-06 08:54] TinoDornbusch commented on #151
To confirm: You want us to put in all sensor metadata a statement, whether it is calibrated.

"sensor_fixed_metadata": {
"calibrated": "true" or "false"
}

[2016-10-06 12:46] max-zilla commented on #156
@Zodiase for the TERRA project our extractors have to be slightly more careful than others, because we want to write the output files to a specific location on Roger.
- ```*.dataset.file.added``` and counting 24 .dat files is probably a reasonable place to start to trigger the extractor.
- David is correct that the raw files will live on Roger at ```/sites/ua-mac/weather```. When an extractor is t

[2016-10-06 12:58] max-zilla commented on #172
I have updated the PlantCV extractor config with the terraref.ncsa.illinois.edu/bety instance and my API key there (account mburnet2). The Clowder upload process is into the first 2 weeks of September so we should start seeing some PlantCV extractions trigger over the weekend or very early next week.

[2016-10-06 13:04] dlebauer commented on #151
I think it is only necessary for FLIR.
On Thu, Oct 6, 2016 at 3:54 AM TinoDornbusch <notifications@github.com>
wrote:

[2016-10-06 14:03] JeffWhiteAZ commented on #174
Short term, we should not receive more data using the USDA GIS system. In the medium term, possible sources of such data would be:

1.       Mapping additional concrete pylons, etc. under the Gates Foundation project.

2.       Specific measurements made by A French or others using USDA equipment
Note also that any work done with WAAS GPS (e.g. in UAVs) should match the USDA coordinates, albeit wi

[2016-10-06 18:18] dlebauer commented on #156
@max-zilla this issue does not require inserting polygons ... are the other geostreams api endpoints available (I don't see them here: https://terraref.ncsa.illinois.edu/clowder/assets/docs/api/index.html.

[2016-10-06 18:18] yanliu-chn commented on #173
@Zodiase TODO: schedule a conversation with @robkooper on the browndog workflow and in pecan standard. To learn which lib or tools are avail for outputting the netcdf.

[2016-10-06 18:43] max-zilla commented on #168
I just queued all of these up, they should get transferred over tonight.

[2016-10-06 18:45] solmazhajmohammadi commented on #168
Great thanks @max-zilla

[2016-10-06 19:10] max-zilla commented on #151
@ZongyangLi the script looks good. I think it should be fairly easy to put this into an extractor for Clowder. Basically you just need to add a bit of python code using pyClowder. An example is how I took this python demosaic script: https://github.com/terraref/computing-pipeline/tree/master/scripts/stereoImager
...and added extractor files to call that script when files are uploaded into Clowder:

[2016-10-06 19:35] ZongyangLi commented on #151
@max-zilla Thanks! I will follow your advise to put it into extractor.

@dlebauer mention that this does not need an extractor, so I didn't upload a clowder extractor script. If an extractor is needed, I will follow the examples in demosaic to write a first version of flir extractor.

[2016-10-06 20:16] yanliu-chn commented on #174
@tingli3 @dlebauer Summary of today's working meeting:

https://github.com/terraref/documentation/blob/version1/spatial-reference-system-data.md

@tingli3 please read the sites table section to be clear about the input and output.

[2016-10-06 20:45] Zodiase commented on #156
@dlebauer Could you help me understand the format of the `.dat` files?

[code]

The data part looks like a typical CSV file and it looks like there are 11 columns. But what are the 4 lines above the data? Which one should I use as the column header? I tried to make sense of these 4 lines and it looks to me the second line should be the column header and the third line is unit? The first and the fo

[2016-10-06 20:52] ZongyangLi commented on #151
@max-zilla Hi, I am testing flir extractor in my laptop, but the clowder develop version in my laptop do not support the input of 'mountedPaths'. Could you give me a new version that I can test in my laptop?

[2016-10-06 20:54] max-zilla commented on #156
@Zodiase I am not positive, but I think this might help: https://www.manualslib.com/manual/538296/Campbell-Cr9000.html?page=43

Doesn't really explain the first line - I think that's just some information on the sensor/weather station that collected the data.

The fourth line looks like a description of how data was collected:
- Smp = sampled
- Tot = total
- Avg (from the manual link) = average
et

[2016-10-06 20:59] max-zilla commented on #151
@ZongyangLi the mountedPaths is only necessary for local paths - you could remove it and add it back later if that solves the error.

But if you want to fix, I think you just need to install the branch of PyClowder where I added the mountedPath support (which lets extractors locate files on locally mounted directories instead of downloading if possible). Clone this repo (or go to where you've clon

[2016-10-06 21:08] tingli3 commented on #174
@yanliu-chn
Why UTM 13 zone?
UTM 13 zone is from -108 degree to -102 degree.
I think UTM 12 zone is more suitable as the longitude is around -111degree.

[2016-10-06 21:14] JeffWhiteAZ commented on #174
Not sure of context of question, but AZ is mostly within UTM 12.
- Jeff

From: Ting Li [mailto:notifications@github.com]
Sent: Thursday, October 6, 2016 2:09 PM
To: terraref/computing-pipeline <computing-pipeline@noreply.github.com>
Cc: White, Jeffrey - ARS <Jeffrey.White@ARS.USDA.GOV>; Mention <mention@noreply.github.com>
Subject: Re: [terraref/computing-pipeline] Create polygons for sites table

[2016-10-06 21:16] tingli3 commented on #174
I mean in this document https://github.com/terraref/documentation/blob/version1/spatial-reference-system-data.md. All projection is in UTM 13

[2016-10-06 21:19] dlebauer commented on #156
That looks correct
On Thu, Oct 6, 2016 at 3:54 PM Max Burnette <notifications@github.com>
wrote:

[2016-10-06 21:30] Andrade-Pedro commented on #174
Is a typo, it should be UTM Zone12

[2016-10-06 22:12] Zodiase commented on #156
@dlebauer So the extractor code I've worked on so far is able to be triggered and parse the raw input files without issues. Now the next step is to compose the JSON output you want. So what I understand is that such a data row `"2016-08-30 00:06:24",7276223,12.61,27.37,26.74,27.48,0,0,65,2.45,0` should be converted into one single JSON document. And I know that last time we discussed that each col

[2016-10-06 22:19] yanliu-chn commented on #174
I inherited the type from Andy's earlier email. :) I have corrected it in both the document MD and the comment in this issue.

[2016-10-06 22:20] ZongyangLi commented on #151
@max-zilla This first version of flir extractor works in my testing environment now. Could you please help me checking whether it works in other environment?   [https://github.com/terraref/computing-pipeline/tree/demosaic_extractor/scripts/FLIR](url)

[2016-10-06 22:55] robkooper commented on #151
@max-zilla do you think you can maybe take the wordcount extractor from pyclowder2 and use that to write a a single page here on the wiki how to get started.

[2016-10-06 23:23] dlebauer commented on #156
[code]

* 'properties' should follow CF conventions as used by PEcAn: https://pecan.gitbooks.io/pecan-documentation/content/developers_guide/Adding-an-Input-Converter.html
* the udunits library should be very useful (there is a [python interface](https://pypi.python.org/pypi/udunitspy)

[2016-10-06 23:25] dlebauer commented on #156
@Andrade-Pedro could you please confirm

* is wind direction the direction the wind is coming or going?
* is Pyro = surface downwelling solar radiation?
* what is PTemp_C?

[2016-10-06 23:26] dlebauer commented on #156
@robkooper could you please review the json sample I posted above - is this what we should post at each time point (1/s)?

[2016-10-06 23:29] dlebauer commented on #151
@max-zilla by wiki I think Rob is referring to  https://github.com/terraref/documentation/blob/master/developing-clowder-extractors.md

[2016-10-07 00:13] Zodiase commented on #156
@dlebauer So I see that you are mapping `"PTemp_C"` to `relative_humidity`, `"AirTC"` to `surface_downwelling_shortwave_flux_in_air, W m-2`, `"WindDir"` to `wind_to_direction`, `"WS_ms"` to `wind_speed, m/s` and `"Rain_mm_Tot"` to `precipitation_rate, mm/s`. Now I assume `source` and `sensor_name` are constant (for this extractor). But where did `air_temperature, K`, `surface_downwelling_photosynt

[2016-10-07 00:58] Andrade-Pedro commented on #156
@dlebauer I edited your comment above to answer questions on weather table

[2016-10-07 01:21] dlebauer commented on #156
@Zodiase my apologies if I didn't line them up right. Here is the correct mapping:

|source | destination|
|----|----|
|AirTC| air_temperature|
|RH |relative_humidity|
|Pyro| surface_downwelling_shortwave_flux_in_air|
|PAR_ref |surface_downwelling_photosynthetic_photon_flux_in_air|
|WindDir |wind_to_direction|
|WS_ms| wind_speed|
|Rain_mm_Tot | precipitation_rate|

Note that, for rain, I am transl

[2016-10-07 01:43] dlebauer commented on #156
@Zodiase FYI the geostreams API is not documented, but there is some useful information in #101 starting with https://github.com/terraref/computing-pipeline/issues/101#issuecomment-225702337

[2016-10-07 23:03] robkooper commented on #156
@dlebauer looks good. created should be now(), start/end should be timestamp of when the sensor was read (make sure you are in the right timezone).

[2016-10-07 23:12] robkooper commented on #156
the geostreams api is available on terra/clowder-dev for example here are the [sensors](https://terraref.ncsa.illinois.edu/clowder-dev/api/geostreams/sensors)

[2016-10-10 09:49] TinoDornbusch commented on #180
@dlebauer  Should be included in Fixed Meta data of the 3D Scanner:

        <entry9 type="KeyValueUnitTriple">
            <Key type="String" value="scanner east location in camera box x" />
            <Value type="String" value="2.070" />
            <Unit type="String" value="m" />
        </entry9>
        <entry10 type="KeyValueUnitTriple">
            <Key type="String" value="scanner east

[2016-10-10 13:25] max-zilla commented on #151
Started working on documentation on the Clowder wiki that we can link to from TERRA documentation so we don't have to write it twice: https://opensource.ncsa.illinois.edu/confluence/display/CATS/Extractor+Development

@ZongyangLi I will test out the extractor before our meeting on Thursday this week. Thanks!

[2016-10-10 18:17] Zodiase commented on #145
@rachelshekar Could you explain the reason for changing the title while this issue is not specific to anything "hyperspectral"?

[2016-10-10 19:44] max-zilla opened #181 "PLY files not being generated"
@jdmaloney @rmgarnett and I noticed there do not appear to be PLY files generated for the 3D scanner data since 08/22.

[code]

04/25 - 10/08
Actual raw PNG files.

[code]

04/25 - 08/02
PNG + PLY files. Some empty directories in the last few days I spot-noticed.

[code]

04/25 - 08/18
PNG + PLY files. Initial reprocessing.

[code]

04/25 - 08/22. Second batch of reprocessing.

Since the reprocess

[2016-10-10 20:05] dlebauer commented on #181
Any thoughts @TinoDornbusch, @smarshall-bmr, @ZongyangLi or @pless?

[2016-10-10 20:30] smarshall-bmr commented on #181
After the 8/18 reprocessing the ply generator has been nonfunctional on the LemnaControl computer. This was a known issue but it wasn't fixed because of concerns at the time about the ply generator's resource usage. There had been talk of running the ply generator elsewhere in the pipeline but given my current understanding it could probably simply be reimplemented here.

[2016-10-10 20:33] rmgarnett commented on #181
In addition to the dates listed in the issue, there are also hand measurements available for September 29.  It would be fantastic if we could extract the PLY files for these seven dates to complete the requested correlation analysis.

[2016-10-11 08:14] TinoDornbusch commented on #181
The ply worker has been restarted and ply conversion is resumed.

[2016-10-11 17:09] max-zilla commented on #157
Here is a pull request that adds support for polygons/GeoJSON for streams/sensors/datapoints:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1051/overview

This for now will let our extractors post GeoJSON - still geography, so still needs WGS 84. @caicai89- FYI. There's an example of how it works in the pull request.

[2016-10-11 18:22] rmgarnett commented on #181
@TinoDornbusch: any idea when they'll complete for the requested dates?

[2016-10-11 18:26] TinoDornbusch commented on #181
@rmgarnett I checked today. The ply worker roughly needs 1h per field scan. Hence transformations should be finished by Thursday morning.

[2016-10-11 18:28] rmgarnett commented on #181
Fantastic, thanks!

[2016-10-11 18:44] smarshall-bmr commented on #181
As of right now the ply worker is working on 9/2/16, just for reference.

[2016-10-11 18:55] ZongyangLi commented on #181
@TinoDornbusch Could you please tell me where can I find these ply worker's output, I can not find new ply data in Globus Terraref in "/ua-mac/Level_1/scanner3DTop/" or "/ua-mac/raw_data/scanner3DTop/"

[2016-10-11 19:01] max-zilla commented on #181
@ZongyangLi they are being generated on the server in Arizona.

As they are generated they should be logged in the FTP log, where they will be queued for transfer to NCSA. They should appear in Level_1/scanner3DTop. @jdmaloney we don't need to do anything special for these right?

[2016-10-11 19:02] ZongyangLi commented on #181
@max-zilla Thanks!

[2016-10-11 19:14] max-zilla commented on #181
@TinoDornbusch @smarshall-bmr @jdmaloney

These are not being moved into
[code]
They are being generated into
[code]

Currently that directory is not whitelisted - files in the log going in there are ignored. (The whitelist was introduced to avoid transferring temp/test files on that machine). We thought the reproc folder was a one-time thing - JD generated a list and I manually submitted them.

I

[2016-10-11 19:18] TinoDornbusch commented on #181
@max-zilla According to Makus Radermacher this directory was requested to keep track of the different 3D transformation matrices

[2016-10-11 19:18] max-zilla commented on #181
@TinoDornbusch OK, thanks. I'll just keep it in the whitelist for now.

[2016-10-11 19:47] max-zilla commented on #181
@jdmaloney are these captured automatically? I tail'd xferlog on the cache server and:
[code]

These two files are 26 minutes apart and I'm pretty positive PLY files were generated during that time.

[2016-10-11 20:41] rachelshekar commented on #145
I didn't realize that it's a general extractor.  I'll change it back.

[2016-10-11 20:46] max-zilla commented on #151
@ZongyangLi do you know when your test data is from? I downloaded a flirIr dataset from Oct 11 (2016-10-11__08-26-24-955) and got errors running extractor:
[code]

This is due to the obviously missing data in metadata file:
[code]
Have you heard anything about PLC control not available? I'm wondering if I missed a change or news that something was temporarily down...

[2016-10-11 21:05] ZongyangLi commented on #151
@max-zilla  Sorry, I didn't notice these missing data in metadata, my bad.

I have no idea about these"PLC control not available", I think I should add some code to avoid these fail.

[2016-10-11 21:07] max-zilla commented on #151
@ZongyangLi seems like we SHOULD fail there, at least more gracefully. we can't generate the geotiff without position right?

[2016-10-11 21:11] ZongyangLi commented on #151
@max-zilla Yes, you are right. We can't generate the geotiff without Gantry position.

Should we just return "empty" instead of letting the extractor fail?

[2016-10-11 23:17] yanliu-chn commented on #145
Tried xml2json, it doesn't work since it converts what is supposed to be {"key1": "value1"} to {"@name": "key1", "@value": "value1"}

[2016-10-11 23:55] yanliu-chn commented on #145
Tried ncdump-json. It's not trivial to set up. The experience is:
- code: download from https://github.com/jllodra/ncdump-json. Modify src/ncdump.c:
[code]
- compile: get cmake module file from https://github.com/jedbrown/cmake-modules/blob/master/FindNetCDF.cmake ; save to `${ncdump-json}/cmake/`
- compile: change CMakeLists.txt to add netcdf module:
[code]
- compile: change one line in CMakeList

[2016-10-11 23:57] yanliu-chn commented on #145
@robkooper @dlebauer @czender please review my comments above and suggest a better solution. And, before we get a good way to convert, we should output CDL.

[2016-10-12 00:12] yanliu-chn commented on #145
@czender would it be a good feature to have in `ncks --json`?

[2016-10-12 01:59] czender commented on #145
@yanliu-chn I don't know of an alternative to get JSON from netCDF. I do know that ncks emits correct CDL (with --cdl) and XML (with --xml). I tried to add a JSON backend to ncks then gave up about 3 years ago. It's certainly doable, though it cannot leverage much of the CDL/XML backend code structure because JSON is quite different. If there is truly no alternative to writing our own then we (me

[2016-10-12 02:07] robkooper commented on #145
since we will have python, maybe:
http://stackoverflow.com/a/10201405

[code]

[2016-10-12 02:54] yanliu-chn commented on #145
i don't think xml2dict does things differently than xml2json. the issue here is to customize the parser to put node, attributes, value, namespaces into perspective.

[2016-10-12 13:13] max-zilla commented on #151
@ZongyangLi I think we want to fail on the extractor... unless we want to generate the PNG images, doesn't look like those need position.

Not really sure what else we can do, if the PLC control was missing when it was captured I don't know how we can go back and recover that information later that will allow us to re-run the extractor once it's fixed. I think all we can do on TIFF is fail.

[2016-10-12 13:22] max-zilla commented on #151
@jdmaloney I have created a VM for this extractor on Roger.

- IP 141.142.170.73
- reads:
[code]
- writes:
[code]

Can you possibly set up the bindings before you're out at the end of the week? Thanks.

[2016-10-12 13:26] jdmaloney commented on #151
@max-zilla Yeah, I'll get this done here today or tomorrow.  I'm prepping the ROGER system today for it's maintenance tomorrow, I'll work to get this in there as well.

[2016-10-12 14:16] max-zilla commented on #181
@TinoDornbusch @smarshall-bmr

This morning @jdmaloney and I did some detective work. We think the PLY pipeline still needs a little attention:
- New .ply files are going into the 8-18 reproc folder.
- The FTP log file "xferlog" has entries for SOME .ply files, but not all. On Tuesday 10/11 there was activity before 3am and after ~11pm, but no .ply entries between those times.
- We see .ply files

[2016-10-12 15:52] gsrohde commented on #145
For what it's worth, in BETYdb I'm using a JSON—XML mapping where the JSON version keeps most of the information of the XML so that theoretically, you could do a XML—>JSON—>XML round trip.  I distinguish elements and attributes, but I don't think I take namespaces into consideration.  Examples of corresponding documents are https://github.com/PecanProject/bety/blob/master/app/lib/api/test/TEST_JSO

[2016-10-12 16:12] yanliu-chn commented on #145
@gsrohde @dlebauer so BETYdb is the receiver of this metadata?

Could you sketch the pipeline for me? Should I use a BETYdb API in the extractor to directly send the metadata to BETYdb, or should I send it as Clowder metadata of the netcdf file; then you have a way to extract the metadata of the Clowder dataset? If latter, what is the protocol you are using to know which metadata part you will ext

[2016-10-12 16:17] gsrohde commented on #145
No, I wasn't saying BETYdb would be part of this pipeline.  I was only giving an example `XML<—>JSON` mapping (which just happens to be part of BETYdb).

For more perspective on various mappings of XML to JSON, you might look at https://github.com/bramstein/xsltjson, even if you aren't interested in doing the conversion with XSLT (though I've found `xsltproc`, part of the libxml2 library, to be ve

[2016-10-12 16:23] yanliu-chn commented on #145
I see. Thanks for the information!

Most of the xml2json libraries do the conversion based on http://www.xml.com/pub/a/2006/05/31/converting-between-xml-and-json.html , which is not sufficient to convert the ncks output. At least the xml2json python one didn't do its job. Some mapping to consolidate attribute/element names in XML to correct json key-value is needed.

[2016-10-12 16:43] czender commented on #145
if continued investigation shows no robust method to convert netCDF to JSON, and JSON is important to Terraref, then @hmb1 and I can discuss making this a medium-term goal.

[2016-10-12 17:23] tingli3 commented on #174
[sql.zip](https://github.com/terraref/computing-pipeline/files/525164/sql.zip)
This is an example of generating SQL statements with range.csv and row.csv as example input. Please make sure that range.csv (must have 54 entries) and row.csv (must have 32 entries) have correct values (For the row.csv, I assume all the row start at y=0 and each plot covers one column = two rows). I am using the values

[2016-10-12 20:31] Zodiase commented on #156
Just putting down the titles of the columns and their associated properties in the raw `.dat` files for reference.

[code]

[2016-10-12 20:41] Zodiase commented on #156
@robkooper When I visit `http://localhost:9000/api/geostreams/sensors` on my local testing environment, it says `"Geostreaming not enabled"`. Is there a way to enable it?

My local testing environment is setup with (in Docker compose file):
[code]

[2016-10-12 20:47] robkooper commented on #156
you need postgresql as well as a database setup. that is not normally done during the docker-compose.

[2016-10-12 20:50] Zodiase commented on #156
@robkooper So is there a way for me to quickly test my code that may or may not make irreversible changes to the testing environment?

[2016-10-12 22:25] yanliu-chn commented on #145
I have finished the metadata extraction part, now outputing .xml and .cdl, instead of json until we find a good solution on generating json.

Pull request: https://github.com/terraref/computing-pipeline/pull/182

@max-zilla please review the request. This request is based on Xingchen's previous pull request on the hyperspectral_extractor branch.

[2016-10-13 16:08] max-zilla commented on #181
@ZongyangLi the PLYs should be transferred through August 25 and we'll work with the MAC team to determine why later PLYs didn't appear in the FTP logs. @jdmaloney and I can work to get these manually transferred if necessary - in the very short term I can transfer the ~5 days you need to Roger if there are no updates tomorrow.

[2016-10-13 16:18] max-zilla commented on #151
We will deploy with just PNG functional and can generate the TIF later.

POSSIBLE SOLUTION: flirIr camera is running at the same time as stereoCamera so we can compare timestamps and get location from stereoCamera if we have a match. thanks @solmazhajmohammadi

[2016-10-13 16:27] smarshall-bmr commented on #181
@max-zilla @rmgarnett The ply worker is working on October now, all the days that manual measurements were taken should be available soon if they aren't already.

[2016-10-13 16:29] dlebauer opened #183 "Compute indices, Extract plot level indices and spectra from HSI data"
Given output of the hyperspectral extractor and the plot boundaries
- [x] compute indices defined in [documentation under "Spectral Indices"](https://github.com/terraref/documentation/blob/master/spectral_indices.md) (Start with NDVI and EVI until we have the system down)
- [x] add as layer to hyperspectral datasets
- [x] compute means by plot
  - @czender do the hyperspectral datasets contain gan

[2016-10-13 16:29] Zodiase commented on #156
@dlebauer Could you check if the following looks like what you need? Fields marked with "???" are still being worked on. The extractor is doing some processing on the properties to meet "CF conventions as used by PEcAn" and it's also converting `wind_direction` to `eastward_wind` and `northward_wind`.

From a sample source data:
[code]

Generated (in order):
[code]

[2016-10-13 16:31] max-zilla commented on #181
@rmgarnett I'm going to send these days manually:
[code]
This is just Globus, not the pipeline, so it won't appear in Clowder (yet), but for your purposes this will make these dates available on Roger for access. I'll start that transfer now.

[2016-10-13 16:36] max-zilla commented on #181
@rmgarnett @ZongyangLi @jdmaloney to avoid polluting the long-term directory for the pipeline I made a temporary directory for this purpose:
[code]

...this is because the manualcheck stuff also includes the original PNG files too and it's hard to exclude them via Globus UI. But this at least gives you data to work with. The files are big so they'll probably be transferring for a few hours...

[2016-10-13 16:49] ZongyangLi commented on #181
@max-zilla That's great, actually I need both json file and ply file to get that height distribution. Files all in a directory should be great for me.

[2016-10-13 16:59] dlebauer commented on #174
@gsrohde could you please review and run the SQL boundaries?

[2016-10-13 18:29] max-zilla commented on #181
Update after 2 hours:
[code]

~60% done.

[2016-10-13 19:37] max-zilla commented on #151
@jdmaloney today while you create exports for the FLIR export up there, can you also create exports for the new geospatial VM I created?

IP - 141.142.170.182

reads
[code]

This doesn't need to write anything, it pushes metadata to Clowder and geostreams.

Thanks, I can bug your neighbor Chad about these things next week if he's the right person too and you're out of time.

[2016-10-13 19:57] dlebauer opened #184 "Add clowder dev. envt to terraref/clowder-dev"
user can select data, launch clowder dev environment

[2016-10-13 20:32] max-zilla commented on #181
@ZongyangLi @rmgarnett all done:
[code]

[2016-10-13 20:45] ZongyangLi commented on #181
@max-zilla Thanks!
I am trying to run script on Roger. After uploading a shell script with some python script to my space on Roger, I try to run that shell script and got a permission denied. I think it might be the wrong way I was used for PBS commands. Is there any much easier example for me to run execution on Roger rather than that in [https://wiki.ncsa.illinois.edu/display/ROGER/ROGER+User+Gu

[2016-10-13 20:49] max-zilla commented on #181
@yanliu-chn @robkooper any help you can provide Zongyang? I've not used the HPC stuff on Roger before.

[2016-10-13 20:56] yanliu-chn commented on #181
Simplified user guide:
- use `module load` to load software; use `module avail` to see avail software;
- run shell script using `bash scriptname.sh` or `chmod +x scriptname.sh; ./scriptname.sh`

If you could paste both the command line and error message here, I could be of more help.

[2016-10-13 21:04] ZongyangLi commented on #181
@yanliu-chn
I input `bash height_distribution.sh` and it shows `ImportError: No module named numpy`.
So I use `module avail` to search a `numpy` module for python. It seems there is not numpy module available.

[2016-10-13 21:42] dlebauer commented on #174
@tingli3 thank you for doing this.

Could you please

1. fix the insert statements so that they work on BETYdb, e.g. if you look at the original post / examples the insert statement should be something like
[code]
2. run this for both the first and second planting seasons
  * I've added the border information for season 1 in the [spreadsheet]( https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li

[2016-10-13 21:46] dlebauer commented on #174
@tingli3 also, could you please check your code and inputs into the repository?

[2016-10-13 21:58] Mamatemenrs opened #185 "UAV data preprocessing calibration information"
There are calibrated reference panels and blackbody images taken with UAV sensors before and/or after the each flight mission.   There are also 4 white,grey and black panels laid on the ground during the flight. Knowing the  proprieties of these targets would helps us radiometrically correct the UAV images.
### Description

What are the reflectance properties of calibrated reference panels for mul

[2016-10-13 22:11] yanliu-chn commented on #181
Do the following before you run anything:
[code]

[2016-10-13 22:13] dlebauer commented on #174
@tingli3 please also add elevation 353

[2016-10-13 22:15] yanliu-chn commented on #174
@gsrohde could you test the sql statements and let us know what to improve?

[2016-10-13 22:20] yanliu-chn commented on #174
@dlebauer could you ask the right person to define the format in the excel so that we know for sure how to extract columns in order to figure out the number of rows and columns explicitly and implicitly? An explicit way is to specify the number of rows and columns in the sheet and tell us where the numbers are.

And, if you want to derive the plot coord for any number of rows and columns, tell us

[2016-10-13 22:22] ZongyangLi commented on #181
@yanliu-chn Thanks! My test script is running now.
May I close the terminal that connect to Roger when the program is running?

[2016-10-13 22:28] yanliu-chn commented on #181
if you run `qsub -I ...` before you run the script, you shouldn't close the terminal. if without the `-I`, you don't even get a terminal.

[2016-10-13 22:33] dlebauer commented on #174
@yanliu-chn will the ranges and rows worksheets that I created work? If not, please go ahead and define what you need, and we can work backward from there.

@JeffWhiteAZ is there a standard way of naming / numbering plots based on the ranges and columns? Is there a reason that the numbers increase alternatively going L-->R and then R--> Left going North?

[2016-10-13 22:52] yanliu-chn commented on #174
@dlebauer i think we need one single format that does not change across years. In that format, we should have enough info to derive the geom and plotid. That's all.

Our current assumption on the range-column sheet is:
- the `range` column defines range index, starting from 1, incremented by 1. The largest number we can get, say `X`, is used to calc the number of ranges: `X-1+1`;
- the same assump

[2016-10-13 23:20] jdmaloney commented on #181
@yanliu-chn It appears he's just running on the head/login-node.

@ZongyangLi This is not recommended to do, the head/login-node is not meant for running jobs, just for logging into the cluster and things like code compilation or simple file movement/editing.  You can use the command Yan gave if you want to watch the job run (aka leave terminal window open):
qsub -I -l walltime=12:00:00,nodes=1:pp

[2016-10-13 23:21] dlebauer commented on #174
@yanliu-chn please move forward with this assumption - since it doesn't currently exist, once you specify the format (in documentation) then it becomes the de-facto standard!

[2016-10-13 23:28] dlebauer commented on #174
I tweaked the code to insert polygons for season 2 by adding

[code]

to the final for loop.

and then filled out the information by running

[code]

the `geom_gantry` information will be useful for extractors that use the gantry coordinate system, but it does not fit into BETYdb. Where can it be stored? Or can we modify the geometry column so that it can optionally return these points?

[2016-10-13 23:33] rickw-ward commented on #185
Can you invite Andy French to join and answer?

[2016-10-14 00:19] gsrohde commented on #174
@dlebauer (and @tingli3) Please **don't** include the `created_at` and/or `updated_at` columns in the insert and update statements!  A trigger function handles these automatically so that `created_at` and `updated_at` are set to the current time when a row is inserted, and `updated_at` is reset to the current time when a row is updated.  Setting them explicitly overrides this behavior, and using `

[2016-10-14 01:32] gsrohde commented on #174
@yanliu-chn I think the lines in the MAC --> USDA (M2U) section of https://github.com/terraref/documentation/blob/version1/spatial-reference-system-data.md are mis-labelled: Mx/Ux is the longitude and My/Uy is the latitude, correct?  So is 0.000020308287 the longitude offset or the y-offset (which is really latitude)?  Also, are you still assuming Mx/Ux are in UTM units here, or are these in degre

[2016-10-14 04:33] yanliu-chn commented on #174
@gsrohde Thanks for pointing this out. I just fixed it. It was a typo. You are right. Mx/Ux is longitude in degrees; My/Uy is latitude in degrees. I have specified in the original doc that it was to convert from MAC lat,lon to USDA lat,lon.

[2016-10-14 05:54] dlebauer commented on #145
@czender and @yanliu-chn here is an [hdf5-json](http://hdf5-json.readthedocs.io/en/latest/examples/tall.html) example that doesn't seem to have the problem of xml2json mentioned in https://github.com/terraref/computing-pipeline/issues/145#issuecomment-253075024

[2016-10-14 14:22] ZongyangLi commented on #181
@max-zilla Got it. I will try it in this way today.

[2016-10-14 16:13] gsrohde commented on #174
@yanliu-chn Thanks for fixing.  I guess using the terms "lat" and "lon" makes it clear that in the MAC --> USDA (M2U) section we are no longer working in UTM coordinates.  What was confusing to me is that in the Gantry --> MAC section, the variable `Mx` is used to represent the easting coordinate in the UTM system whereas in the MAC --> USDA section, `Mx` is used to represent the longitude.  (Simi

[2016-10-14 16:37] gsrohde commented on #174
@dlebauer, @yanliu-chn I'm not sure which SQL statements I should be looking at.  The statements generated by the code in SQL.zip mentioned in comment https://github.com/terraref/computing-pipeline/issues/174#issuecomment-253279547 doesn't seem to directly relate to BETYdb, but @dlebauer references SQL statements designed for BETYdb in his comment https://github.com/terraref/computing-pipeline/iss

[2016-10-14 16:57] ZongyangLi commented on #181
@jdmaloney I am running jobs on Roger now. And I save the result in the directory of "/projects/arpae/terraref/users/zongyang/heightDistribution" on Roger.

When those jobs are finished, should I transfer those result by Globus Online? If yes, I guess I still need a NCSA RSA token. Is that right?

[2016-10-14 17:11] max-zilla commented on #181
@ZongyangLi unforutnately @jdmaloney is out for 2 week vacation starting today. If @yanliu-chn and @robkooper do not know, I can try to find someone else to help.

[2016-10-14 17:24] ZongyangLi commented on #181
@max-zilla Thanks!
@yanliu-chn told me that I can copy files to my directory. It works for this issue since the result in this issue are some text files. But I am going to generate full field stitched creation and it will create tons of images. It seems it's not a good idea of copying files to my home directory space.
@robkooper any ideas?

[2016-10-14 17:34] dlebauer commented on #181
@ZongyangLi `/home/zongyang/` is your home directory; `/projects/arpae/terraref/users/zongyang/` and everything under `/projects/` is part of the large file system.

But ... should this be written to a subdirectory of `/projects/arpae/terraref/sites/ua-mac/Level_1` ?

[2016-10-14 17:37] dlebauer commented on #174
@gsrohde I unassigned you when I realized more work needed to be done. But I went ahead and inserted these  ....
[insert_season2_sites.sql.txt](https://github.com/terraref/computing-pipeline/files/530098/insert_season2_sites.sql.txt)

for this case I am not worried about the incorrect use of now(), but now that I know I won't worry about it.

[2016-10-14 17:44] ZongyangLi commented on #181
@dlebauer
For this issue I am providing data in special dates for @rmgarnett about #175 so I'm not sure whether should this be written to `/projects/arpae/terraref/sites/ua-mac/Level_1`

For that full field stitched creation, I think it's great to put that tile files to Level_1 directory. Maybe we should discuss it in #85

[2016-10-14 17:50] dlebauer commented on #185
@Mamatemenrs I've assigned this to @rickw-ward and @anfrench who can hopefully answer your questions

[2016-10-14 18:02] dlebauer opened #186 "Compute plot level information from UAV data"
### Description

* Use polygons here: to subset calibrated UAV data to plot level data that can be inserted into BETYdb: https://terraref.ncsa.illinois.edu/bety/api/beta/sites?key=<your API key>
* Add methods as necessary to
 * github.com/terraref/documentation
 * cross reference these in https://terraref.ncsa.illinois.edu/bety/methods
* Add variables as necessary to https://terraref.ncsa.illinois

[2016-10-14 18:05] anfrench commented on #185
there are two sets of reference reflectance panels: one that PDS uses, it is small, PDS will need to provide the specs; the second set consists of 4 8m x 8m canvas tarps, nominally 4%, 8%, 48% and 64% reflectance across vnir bands. We have data from an ASD spectrometer on many but not all flight days that can be used to give the most accurate actual reflectances for each. Kelly Thorp can provide t

[2016-10-14 18:16] max-zilla commented on #181
@ZongyangLi I think it makes sense to put the full field mosaic in Level_1, you might give it a name with _manual at the end or something so we know this was not generated as part of the Globus pipeline. Other people will probably be interested in that output so it makes sense to put it in one of the more exposed data locations. Just my 2 cents.

[2016-10-14 18:25] ZongyangLi commented on #181
@max-zilla Okay, i will start working on that.

[2016-10-14 19:05] dlebauer commented on #185
@anfrench
* I assume you accidentally closed this (the 'close and comment' button is next to the 'comment' button). ...
* Can you contact or provide contact information for PDS?
* Can you (or Kelly) provide the ASD spectrometer values (we also have data from a sky-facing radiometer on the Gantry, and these data are available)

@Mamatemenrs can you collate all of the information and work with @crai

[2016-10-14 19:16] anfrench commented on #185
Phoenix Drone Service contact is Mark Yori, mark@phoenixdroneservice.com; I think Mark is out of town currently but back next week. Kelly too is out until Monday, kelly.thorp@ars.usda.gov; i have some of the data but it is best if they come from him directly. roughly the actual reflectances are 6%, 13%, 44%, 55% for blue-NIR if that helps stage the analyses.

[2016-10-14 20:30] ZongyangLi commented on #181
@max-zilla It seems I can not create a directory on Level_1: permission denied.
Also, I didn't try to create files by script to /ua-mac/Level_1 yet, I think it might be not allow.

[2016-10-14 20:32] max-zilla commented on #181
@ZongyangLi in that case, you should try writing to your /users directory David mentioned. We can move the files later if we want to.

[2016-10-14 21:21] czender commented on #88
@solmazhajmohammadi please send me a number where we can call you Monday 10 AM PT. @FlyingWithJerome and I will be reachable at 9498912429.

[2016-10-14 21:39] solmazhajmohammadi commented on #88
@czender sounds good, you can reach me at 9063706659

[2016-10-14 22:38] dlebauer opened #187 "Confirm that plot boundaries for sorghum crop 2 generated from field scanner coordinates are consistent with those based on RTK GPS"
Update: they don't match, so will make new polygons. https://github.com/terraref/computing-pipeline/issues/187#issuecomment-256760060 below:

For reference, we have two sets of polygons
1. those made by @tingli3 based on gantry measurements (transformed from gantry xy) these are already in BETYdb and can be queried as json here: https://terraref.ncsa.illinois.edu/bety/api/beta/sites?sitename=~Seas

[2016-10-14 22:50] anfrench commented on #187
how do i read this xml file above?

[2016-10-14 23:11] dlebauer commented on #187
... it's json but that is all I know, I think the geometries are in WKT format. If you prefer postgis you can import this dump of the database https://terraref.ncsa.illinois.edu/bety/dump/bety.tar.gz and look at the sites table, but it should be very similar (for the record the database dump includes metadata but excludes all of the trait data until we make it public).

[2016-10-14 23:41] anfrench commented on #187
Ok , looks like I have some reading to do, WKT isn’t something I know anything about, I tried the ArcGIS JSON conversion tool and it failed. Maybe QGIS will handle more easily.
Since the issue was raised I created one-row polygons. The attached will need to be checked and edited, it has one polygon per one-row plot and includes buffers between plots (but not buffers on the outside).

From: David L

[2016-10-15 04:15] dlebauer commented on #187
@anfrench I think Wasit or Matt can do this, as it will be a good opportunity for them to give me feedback on the data formats and how they can interoperate.

[2016-10-15 23:12] Mamatemenrs commented on #187
We can work with the shapefile that Rick has been using after it is confirmed. I'll further check with Wasit though.

Thanks.

[2016-10-16 17:58] Mamatemenrs commented on #186
Sounds great ! we'll work on this once we have the finalized shapefile and orthomosaicked UAV data.

[2016-10-16 18:42] craig-willis commented on #184
@max-zilla two questions:

The tool server container appears to be running, but the analysis environment dropdown in the clowder-dev instance is empty.  Is there something that needs to be configured in the clowder-dev instance?

I'm trying to use JupyterLab as a development environment for pyClowder. JupyterLab uses Python3, but it looks like pyClowder requires 2.x? If this is the case, I'll cust

[2016-10-17 14:54] dlebauer commented on #186
@Mamatemenrs and @remotesensinglab could you please create a separate issue defining the deliverables for Rick and his employee what they need to provide (e.g. georeferenced geotiff files for each sensor x flight combination?

[2016-10-17 17:13] tingli3 commented on #174
@dlebauer Please give me an example of the sql statement I should generate.

[2016-10-17 17:41] dlebauer commented on #174
@tingli3 please see https://github.com/terraref/computing-pipeline/issues/174#issuecomment-253869609

[2016-10-17 18:13] gsrohde commented on #174
@tingli3 ... but leave out the `created_at` and `updated_at` columns.

[2016-10-17 18:16] tingli3 commented on #174
@gsrohde Can you give me an example sql?

[2016-10-17 18:27] gsrohde commented on #174
@tingli3 The file David attached to the comment https://github.com/terraref/computing-pipeline/issues/174#issuecomment-253869609 has several example insertion statements.  Here's the first (but with the timestamp columns omitted, as they should be):
[code]

[2016-10-17 20:16] tingli3 commented on #174
[season1_sql.txt](https://github.com/terraref/computing-pipeline/files/534607/season1_sql.txt)
[season2_sql.txt](https://github.com/terraref/computing-pipeline/files/534609/season2_sql.txt)
Could someone please help me to verify these results?

[2016-10-17 21:31] dlebauer commented on #174
@tingli3

* I've already generated and inserted the season2 plots.
* The season 1 plots should have update rather than insert statements; the sitenames do not include  Season 1` for the first season
* please add your code to the github repository here: https://github.com/terraref/computing-pipeline/blob/master/scripts/geospatial/field_scanner_plots.R

[2016-10-17 21:33] dlebauer commented on #174
@tingli3 issue #187 will check for consistency with other field measurements.

[2016-10-17 22:40] tingli3 commented on #174
@dlebauer The season 1 and season 2 sql statements are based on the example given. If season 1 is different from season 2, please give me another example. Also, I have added the code.

[2016-10-18 14:15] solmazhajmohammadi commented on #181
@max-zilla Can you please check the PLY files from October
I can see the PLY files have been generated in the gantry cache server and some of the PNG files have been transferred, but PLY files are missing from Level1_data
Thanks

[2016-10-18 14:37] max-zilla commented on #181
@solmazhajmohammadi no one responded to my message from 6 days ago:

The short answer is, everything after August 25 hasn't been sent because it isn't being logged. I can find some time to transfer these manually  ( @jdmaloney is out for 2 weeks) but the FTP logs are the intended way for the pipeline to work - we don't want to manually queue these more than we have to, especially because it takes

[2016-10-18 17:35] yanliu-chn commented on #145
@dlebauer @czender tried hdf5-json. I tried both the output of TerraRef.sh and example netcdf4 examples at http://www.unidata.ucar.edu/software/netcdf/examples/files.html .

Here is what I got:
- got `IOError: Unable to read attribute (No appropriate function for conversion path)` error on parsing extractor output nc file
- got segmentation fault on the basic netcdf4 example file listed on netcdf

[2016-10-18 17:42] solmazhajmohammadi commented on #181
@max-zilla There was an update on system last week, but I dont think that will affect this. I'll ask Markus and post his response here

[2016-10-18 18:02] czender commented on #145
@yanliu-chn @hmb1 @dlebauer Not  surprised anymore that nc->json converters break. I tried a few, and Henry tried a promising solution mentioned on netCDF group, where the consensus was also that no robust tool exists. Those that are robust will only work on flat files or single groups. None of them will do the job. Terraref netCDF files are not too complex, yet not completely simple either. Your

[2016-10-18 18:08] nfahlgren commented on #41
@dlebauer it looks like you have to modify the sharing, I don't have permission. Can you share the terraref volume with the users `coge` and `pozersky` (Phil from Todd's lab)?

[2016-10-18 20:17] max-zilla commented on #120
@nfahlgren I am troubleshooting the PlantCV extractor right now. The tests worked locally on a couple snapshots, but now that I've deployed and let it run on a couple datasets in production I'm seeing:

[code]

I'm trying to figure out what's throwing this error on nx.concatenate, but figured I'd post it here in the meantime in case you've seen this before. The filenames look to match up properly

[2016-10-18 20:50] remotesensinglab commented on #183
[List of VIs_18Oct2016.docx](https://github.com/terraref/computing-pipeline/files/537312/List.of.VIs_18Oct2016.docx)

[2016-10-18 20:52] nfahlgren commented on #120
@max-zilla I think it's a "normal" failure, probably because there was no plant in the image or another processing problem. I looked up that image and confirmed that the plant is very small and was probably missed in one of the angles. We try to catch these failures but are obviously still missing checks in some places, does this create problems with the pipeline?

[2016-10-18 20:55] max-zilla commented on #120
@nfahlgren that's actually a bit of a relief. I can add some try/catch messages for now, and we can maybe indicate them somehow in the outputs (certainly the logs).

The 2014 pilot data was transferred and is now standing by to go through the extractor, so I'll get this cleaned up and try it again. Thanks for the quick feedback.

[2016-10-18 20:57] nfahlgren commented on #120
Thanks @max-zilla

[2016-10-18 23:22] nfahlgren commented on #136
@max-zilla do you have time tomorrow to have a phone call to get the monitor going? There are a couple parts I could use some advice on.

[2016-10-18 23:53] max-zilla commented on #136
@nfahlgren sure. just shoot me an email, i should be around all day.

[2016-10-19 02:01] dlebauer commented on #145
@tedhabermann / @jreadey any thoughts on issues in https://github.com/terraref/computing-pipeline/issues/145#issuecomment-254581578 re: hdf5-json or json dumping utilities in general? Would it help to post an issue there?

[2016-10-19 02:25] dlebauer commented on #41
@nfahlgren I gave you owner permissions, and Phil and the CoGe team write permissions on the following directories:

* raw_data/
* output/
* sites/

I put the `sites` folder on there to be consistent with the directory structure on Roger and Globus. But it is redundant with the original raw_data and output folders. It looks like the original test data is in the raw_data folder. Could you please cl

[2016-10-19 03:34] jreadey commented on #145
@dlebauer,  I could take a look at some of the files on the netcdf site.
If you could post issues to https://github.com/HDFGroup/hdf5-json, that would be helpful.

There are a few issues already cataloged that might be relevant:

1.  Support for opaque types: https://github.com/HDFGroup/hdf5-json/issues/55
2. Failures related to VLEN strings: https://github.com/HDFGroup/hdf5-json/issues/19
3. Supp

[2016-10-19 03:56] dlebauer commented on #183
@remotesensinglab thanks for posting. I copied these to documentation (https://github.com/terraref/documentation/blob/master/spectral_indices.md) ... which supports Latex markup if anyone is feeling ambitious.

One question that comes up: the inputs are reflectances at the specified wavelengths (e.g. NDVI=(R900-R680)/(R900+R680)), however the VNIR imaging spectrometer measures at intervals of 2/3

[2016-10-19 13:10] markus-radermacher-lemnatec commented on #181
The software update should not affect your ftp transfer. Currently the final output folder of the ply files is set to MovingSensor.reproc2016-8-18 and will stay there. Let me know, when you want the output folder to be changed.
Important to know is, that the process from a scan to the final ply files is separated into two steps.
1. Writing the scan data to the 3DScannerRawDataTmp folder
2. Reading

[2016-10-19 13:45] rachelshekar commented on #85
http://www.cs.wustl.edu/~pless/TERRA/page.html

[2016-10-19 13:45] max-zilla commented on #120
@nfahlgren I didn't end up changing anything in your PlantcvClowderIndoorAnalysis code, but I added a try/catch to my terra.plantcv.py extractor code. Pseudocode:
[code]

I ran this on the specific trouble dataset and it handled most of the SV images fine, just the 90 image that was problematic. avg_traits.csv still looks fine. I'm going to push this update for now and see if that lets us proceed

[2016-10-19 13:54] max-zilla commented on #120
@gsrohde I am getting a 400 error on the BETYdb upload:

[code]

In this issue it sounded like citation was optional:
https://github.com/terraref/computing-pipeline/issues/33

...but we are including treatment so it seems I need it. The CSV contents:
[code]

Treatment = "80%: 173.6 ml water (37.5% VWC)" can you assist in what citation would correspond to this? If the citation will be the same acro

[2016-10-19 13:57] rachelshekar commented on #173
@Zodiase - can you please update this issue?

[2016-10-19 13:57] rachelshekar commented on #173
GeoStream message hooks for triggering the extractor?

[2016-10-19 14:05] rachelshekar commented on #144
@FlyingWithJerome : can you update this issue?

[2016-10-19 14:12] rachelshekar commented on #150
@ZongyangLi - can you please update this issue?

[2016-10-19 14:16] rachelshekar commented on #172
@gsrohde - please update this issue

[2016-10-19 15:05] ZongyangLi commented on #150
I look into bin files in `/raw_data/ndviSensor/` several weeks ago. The content in the bin file is like:

`<LemnaTecData>
    <Entry name="NDVI" value="0.486768492611564" unit="-" />
    <Entry name="Channel1TOP633" value="259.2523123703" unit="umol/m^2/s" />
    <Entry name="Channel4TOP800" value="230.8212727595" unit="umol/m^2/s" />
    <Entry name="Channel1DOWN633" value="8.0706465413" unit="um

[2016-10-19 15:23] ZongyangLi commented on #152
@dlebauer Just for a double check.

Is this extractor work for creating 101 pngs and 101 geotiffs(or 101 rasters in one geotiff file) for a sub-directory's raw data. Also create a text file for 'timestamp value'?

[2016-10-19 15:44] remotesensinglab commented on #183
I suggest using the band closest to the specified wavelengths.

[2016-10-19 16:02] max-zilla commented on #151
@ZongyangLi I made some modifications to address the missing data issue above:
https://github.com/terraref/extractors-multispectral/pull/2/files

Basically just return None for the parse_metadata() results, and in the extractor if None is returned we skip the GeoTIFF portion. The PNG file is still generated and uploaded. I added this check to your get_flir() method as well so this error should be

[2016-10-19 16:13] ZongyangLi commented on #151
@max-zilla  I have review those codes. it's great! Thanks!

[2016-10-19 16:28] dlebauer commented on #120
@max-zilla this citation
https://terraref.ncsa.illinois.edu/bety/citations/6000000003
On Wed, Oct 19, 2016 at 9:54 AM Max Burnette <notifications@github.com>
wrote:

[2016-10-19 16:41] max-zilla commented on #120
@dlebauer @gsrohde thanks. Added these fields to avg_traits.csv outputs:

[code]

I'll give this a try.

[2016-10-19 16:45] remotesensinglab opened #188 "Requirements for UAV data products needed for plot level analysis"
### Description

For plot level analysis, it would be ideal to have the UAV data processed and prepared in Geotiff file format.
1. mosaicked and georeferenced.
2. Multispectral data are calibrated using white reference panel data taken before and after the flights.
3. Thermal data are calibrated with blackbody readings and corrected for emissivity when vegetation fraction is less than 1.

Thanks

[2016-10-19 17:06] wheatbreeder commented on #188
Agreed.  We also need annotation regarding camera specs, conditions during flight, flight pattern specs, date, time, etc.

Should original imagery be warehoused?

How do we add more people to this?  I am a neophyte with github
rick

[2016-10-19 17:18] remotesensinglab commented on #188
Good point, Rick! Flight conditions, date and time, etc are very helpful to correlate the data to plant physiology.

Wasit

[2016-10-19 17:18] remotesensinglab commented on #188
To add more people, go to Assignees, and select the people you want to add.

[2016-10-19 17:58] solmazhajmohammadi commented on #88
@czender @FlyingWithJerome
We did the dark measurement for VNIR camera at the following exposure times: 20, 25, 30, 35, 40, 45, 50, and 55 nm
Data are in the same hypercube format with (180-220) lines, 955 bands and 1600 pixel samples. You can use the average over lines.
You can download them from here:
https://drive.google.com/file/d/0B9h5V5JdLLXmSkdpTmd6QmN3dTQ/view?usp=sharing

@max-zilla  Data

[2016-10-19 18:35] max-zilla commented on #120
@gsrohde @dlebauer

The code when I developed the extractor (and I believe successfully tested) was generating:
[code]

...so OK, I'll add the time zone to each record in that case (not sure if we intended for site to have a time zone).
[code]

I could use python to convert this to UTC time, but perhaps this represents a problem in BETY that should be fixed.

The extractor was working otherwise: h

[2016-10-19 19:01] gsrohde commented on #120
@max-zilla It's the _site_ that needs a time zone, not `local_datetime`.

The time zone name for Danforth should be `America/Chicago`.

You are correct that there is no way to edit the time zone in the UI.  (Perhaps I should add the timezone table I used to populate this column on ebi-forecast and have it set automatically from the geometry when a new site is created.)

[2016-10-19 19:03] max-zilla commented on #120
@gsrohde is it possible update that record in the database directly? if so, would you be so kind?

[2016-10-19 19:08] gsrohde commented on #120
@max-zilla Done.

[2016-10-19 19:44] max-zilla commented on #120
[code]

https://terraref.ncsa.illinois.edu/clowder/datasets/58062c2f4f0caeb1e4afe57a

Looks like we're in business!

[2016-10-19 23:11] Zodiase commented on #156
Almost all done except getting 500 errors when inserting datapoints.

[2016-10-20 00:11] FlyingWithJerome commented on #144
@rachelshekar  Yes, we basically had the x and y coordinates for the pictures in hyperspectral outputs in both latitude longitude and xy forms, along with the Google map view for the location of the certain picture.

[2016-10-20 01:13] dlebauer commented on #136
@nfahlgren does it make sense for the method be called 'PlantCV' and the citation 'Fahlgren et al 2015'?

@max-zilla can you update the insert script for the PlantCV extractor to add 'PlantCV' as the method for these? The SQL equivalent is:

[code]

[2016-10-20 02:15] dlebauer commented on #150
@ZongyangLi I just realized that the .bin files are actually XML text and that this is not an imaging sensor. So it may not be appropriate to convert to an image.

The most important value is NDVI. First step might be to extract x, y, NDVI for each observation and look at the points. Perhaps this should be inserted into the Clowder geostreams API as a first step.

@anfrench, @remotesensinglab do y

[2016-10-20 02:17] dlebauer commented on #152
@ZongyangLi I will let @nfahlgren answer your question; I think the idea of a png is for thumbnails; in this case it might make more sense to have a movie than thumbnails.

@nfahlgren Would it make sense to either make a movie or a netcdf file with dimensions x, y, t? Or, should we convert each to tiff, find the dark, min, and max, and discard the rest?

[2016-10-20 02:20] dlebauer commented on #120
@max-zilla can this be documented and closed?

[2016-10-20 02:42] dlebauer commented on #106
@jterstriep feedback appreciated

[2016-10-20 02:50] dlebauer commented on #174
@tingli3 I already inserted season 2

For season 1, the first line would be

[code]

P.S. I reformatted your R code following http://adv-r.had.co.nz/Style.html so ... please pull changes before updating.

[2016-10-20 13:12] max-zilla commented on #136
@dlebauer  I've updated the script to add a column 'method' at the end with value 'PlantCV'. will deploy update now.

@gsrohde let me know if I should be sending method_id = 600000000001 instead, but if Bety throws errors on the API upload I guess i'll know sooner.

[2016-10-20 13:14] max-zilla commented on #120
@dlebauer yes, we can close. The final Danforth Globus piece is finishing up discussion here: https://github.com/terraref/computing-pipeline/issues/136

I'll move pertinent discussion from here to the README on the extractor.

[2016-10-20 13:14] #120 closed

[2016-10-20 13:18] max-zilla commented on #136
@gsrohde I must be missing something:

[code]

for Method = "PlantCV"

I have citation_author, _year, _title in other columns.

[2016-10-20 14:39] dlebauer commented on #136
@maz-zilla the citation is different (data gets Fahlgren etal 2016 unpublished; method is Fahlgren et al 2015)

[2016-10-20 14:55] max-zilla commented on #136
@dlebauer I'm not quite following. The error message seems to suggest I need a 'citation' column in the CSV - but #33 only lists citation_author, _year, _title and _doi as valid fields.

Here's what's going in them now:
[code]
...so that seems to be the 'data gets Fahlgren etal 2016 unpublished' part of your comment.

But if 'method is Falhgren et al 2015' then do I need a "citation" column in the

[2016-10-20 16:54] gsrohde commented on #136
@max-zilla Unfortunately (confusingly), the error message you are seeing pertains to XML uploads.  All upload formats are converted to XML internally, so the error message you are seeing comes from the post-conversion stage.  CSV files should only contain `citation_*` columns.

[2016-10-20 16:59] gsrohde commented on #136
@dlebauer Are you saying the citation for the trait datum and the citation connected with the method are different?  If so, I may not have accommodated this case.  I'll have to check.

[2016-10-20 17:06] dlebauer commented on #136
@gsrohde different citations on data and methods is the standard case; having the same citation would be an exception. However we can require methods.name to be unique and sufficient to identify a record in the methods table so stating a method should _not_ require a citation.

[2016-10-20 17:09] dlebauer commented on #136
To clarify methods.citation_id must be not null and point to a record in citations. However only the method name should be an option in the insertion API.

[2016-10-20 17:18] gsrohde commented on #136
@dlebauer, @max-zilla: I will have to make a few changes to the API code.

@dlebauer There is, fortunately, only one violation of the uniqueness condition for methods.name in `ebi_production`.

[2016-10-20 18:37] tingli3 commented on #174
[season1_sql.txt](https://github.com/terraref/computing-pipeline/files/542606/season1_sql.txt)

[2016-10-21 15:29] dlebauer commented on #174
@tingli3 all set - thanks! Closing - can you please update documentation (https://github.com/terraref/documentation/issues/7)?

[2016-10-21 15:29] #174 closed

[2016-10-23 19:59] remotesensinglab commented on #150
I do not think it is necessary! Just keep the % reflectance (two values), and NDVI.

[2016-10-23 22:19] anfrench commented on #150
I dont know the instsrument, is this a ratioing algorithm: upwelling divided by downwelling? Unfortunate choice of sensor labels TOP and DOWN since Id think the TOP captures the downwelling radiation and the bottom sensor captures the reflected signal?? Would be good to relabel but I suspect not possible. In that case some note ought to be added to metadata to clarify which sensor is which. Otherw

[2016-10-25 13:47] max-zilla commented on #151
Extractor has been deployed and a test extraction was verified:
https://github.com/terraref/extractors-multispectral

New FLIR outputs will appear in ua-mac/sites/Level_1/flirIrCamera as they arrive via Globus. Some point soon we'll initiate processing of backlog for all these extractors.

[2016-10-25 13:47] #151 closed

[2016-10-25 13:52] max-zilla commented on #101
@dlebauer @robkooper I finished up the remaining tasks on this extractor and deployed to clowder-dev instance. the process is ready:

[code]

- this requires a "sensor" in Geostreams to exist (I created a UA-MAC sensor)
- will accept a map of "instrument name" -> "stream ID" in config.py. when a new dataset is processed the instrument name, e.g. stereoTop is checked against this map to see whether

[2016-10-25 16:24] dlebauer commented on #187
@Mamatemenrs have you had a chance to compare the data in betydb with the shapefile? It looks like we will need to insert new bounding boxes in the database that correspond to the interior two row subset.

[2016-10-25 19:53] Mamatemenrs commented on #187
Anyone can confirm what is the coordinate system and datum on the JSON file? I see geographic long/lats, but wondering the datum? Currently, it does not align with the file Rick shared.

[2016-10-25 20:01] dlebauer commented on #187
@Mamatemenrs I think it is WGS84. Please confirm with @tingli3

[2016-10-25 20:12] rachelshekar commented on #54
@nshakoor following up on this

[2016-10-25 21:54] nshakoor commented on #54
I'll follow up with Steve, but I do not think there is data he is willing
to share yet as part of the reference dataset.

On Tue, Oct 25, 2016 at 3:12 PM, Rachel Shekar <notifications@github.com>
wrote:

[2016-10-26 00:25] czender commented on #88
which piece of metadata is the exposure time?
is it frameperiod or exposure?
are the time units ms?
if so, why do you say nm above?

   "sensor_variable_metadata": {
      "current setting frameperiod": "50",
       "current setting exposure": "45",

[2016-10-26 03:43] dlebauer commented on #187
@mamatemenrs can you show a map overlaying the two?

@mamatemenrs and/or @tingli3 can you convert the shapefile to a postgis insert statement?

[2016-10-26 03:47] dlebauer commented on #101
Are two points enough to define a polygon? I don't think we can assume that the edges are parallel to lat/lon ( @tingli3 ?)

[2016-10-26 04:45] Mamatemenrs commented on #187
Tried to open the JSON file in QGIS and it only opened part of the shape file, but still able to overlay them somehow. Basically, they don't align.

![gantry_shp](https://cloud.githubusercontent.com/assets/22641377/19713531/737e3c38-9b0c-11e6-9d00-4c6fbdada6d6.jpg)

[2016-10-26 05:02] dlebauer commented on #187
@Mamatemenrs to start, can you output a version of Ricks shape file that looks like the json file? (Only sitename and geometry fields are necessary)

@smarshall-bmr and @tingli3 can you please try to resolve these differences?

[2016-10-26 05:19] anfrench commented on #187
The two sorghum trials have different plot layouts, they will not align. I think there are 8 'ranges' in first one and 7 in the second. What we are going for is season 2 as noted earlier by @dlebauer above. If I knew how betdb works I could see about converting the shape file to json format in scanner coordinates; i created the shp files in UTM zone 12 using WGS84 via proj4 library in R.

[2016-10-26 05:44] jterstriep commented on #106
Logstash, or more accurately the ELK stack (Elasticsearch, Logstash, Kibana), can be used to centralize logs from multiple sources with different formats. Basically, anything that creates a log file can be sent to Logstash where it is transformed prior to being stored in Elasticsearch.

So without knowing much about the "entire pipeline ... from MAC to UI, Clowder, BETYdb and beyond", I would give

[2016-10-26 13:52] Mamatemenrs commented on #187
Here is JSON format of Rick's file.  projection is UTM zone 12 using WGS84.

[Rick_JSON.zip](https://github.com/terraref/computing-pipeline/files/553385/Rick_JSON.zip)

[2016-10-26 14:19] solmazhajmohammadi commented on #88
Dark Measurment has been done through the main software(headwall software). So there is no associated Json file for the dark measurments. Name of the folder is showing the exposure time that has been used to take the dark measurement.
It was a type. corrected.
In the regular scans, "current setting exposure" is showing the exposure time in ms.

[2016-10-26 14:54] markus-radermacher-lemnatec commented on #88
"exposure" is the image exposure time, "frameperiod" is the timespan between two images, The difference  5ms is needed to handle the data.

[2016-10-26 15:01] rickw-ward commented on #187
Shape files of current (10-26-16) sorghum layout at MAC are at: https://drive.google.com/open?id=0B5btztQSCEFxVUZ6SlRHVDBpdWM .

Original file of foundation xyz from USDA RTK is in this zip:
[foundation shape file.zip](https://github.com/terraref/computing-pipeline/files/553648/foundation.shape.file.zip)

orthomosaic as geotiff from four weeks ago (NDVI) from UAV flight is at: https://drive.google

[2016-10-26 15:30] dlebauer commented on #187
@rickw-ward et al

* I think that the shape files Rick linked to above are the same listed in my original task description.
* The foundation points are an additional data set that would be useful to archive with metadata ( @craig-willis )
* I believe that the plots in the image above labeled "David" are from season 1.
  * We need something similar for season 2, which should be available at http://

[2016-10-26 15:32] rickw-ward commented on #187
Is there significance to the fact that the season one plots are geo-located in only the south 1/5 of those for the current season?

[2016-10-26 15:39] dlebauer commented on #187
@rickw-ward that is just the first 200 records returned by default since I forgot to add `&limit=none` to the API call.

[2016-10-26 15:41] rickw-ward commented on #187
It appears to be shifted south two ranges, which should not be the case.  But perhaps an artifact.

[2016-10-26 15:45] czender commented on #88
@markus-radermacher-lemnatec thank you for the clarification.
@solmazhajmohammadi it is unfortunate that there are no JSON files for the calibrations. If there were, we could use the existing workflow to process the calibration files. Without JSON files we must write custom workflow for the calibration files.

[2016-10-26 16:21] czender commented on #88
@markus-radermacher-lemnatec @solmazhajmohammadi I was told that dark counts for VNIR must be handled by using the calibrations Lemnatec just made, and that dark counts for SWIR are handled internally, so that no calibration files for SWIR would be necessary. Why can't dark counts for VNIR be done the same way as SWIR? i.e., be handled upstream of the hyperspectral workflow?

[2016-10-26 17:13] nshakoor opened #190 "QA/QC for VNIR scans"
With the VNIR installed and operational, we need to determine scanning parameters and camera settings to make sure we are getting usable data.

@czender What are the current sanity checks for the VNIR data?

[2016-10-26 17:22] dlebauer commented on #190
@nshakoor it is not clear how this is related to QA/QC.  Given the description above, is this buidling on the work that @JeffWhiteAZ began in the [Hyperspectral calibration and deployment campaign](https://drive.google.com/drive/u/0/folders/0B4JvLJOau3GmR3JRcHZRZEwwR1E)?

[2016-10-26 17:24] czender commented on #190
We archive xps_img_max:
xps_img_max=xps_img.max($y,$x);
xps_img_max@long_name="Maximum image exposure at each wavelength";
xps_img_max@units="Counts on scale from 0 to 2^16-1 = 65535";
No light was detected for wavelengths where xps_img_max==0.
Light was overexposed (saturated) for wavelengths where xps_img_max==65535.
Procedures could be put in place to monitor/respond to these situations.

[2016-10-26 17:30] nshakoor commented on #190
@dlebauer From what I understood on the call this morning, we have no idea if the VNIR data is usable and this needs to be addressed. Maybe QA/QC is not the right terminology, but what can we do to get this sensor operating so that it is producing viable data? It might be a number of things.

[2016-10-26 17:48] ZongyangLi opened #191 "Upside-down in GeoTiffs"
When I used stitched field map to understand ply files, I notice that it seems upside-down in our field map creations: a higher X position shown in the bottom of the map.
<img width="1346" alt="unormal" src="https://cloud.githubusercontent.com/assets/20230686/19737114/c39c01d0-9b77-11e6-8361-a8e93eebbcc0.png">
In this field map, there is a moscaic in the right-bottom corner, the position of the so

[2016-10-26 17:48] #190 closed

[2016-10-26 17:57] dlebauer commented on #190
I think @smarshall-bmr and @solmazhajmohammadi were describing the night-time operations. There are many github issues that cover the individual steps; I think #88 is one of the more relevant @czender. We do still need a good automated QA/QC for all of the sensors; some of this is covered in #84 - but that could be broken out into more sensor-specific analyses.

[2016-10-26 18:02] dlebauer commented on #187
@anfrench do you have the R code and original data that you used to generate these polygons?

[2016-10-26 18:14] smarshall-bmr commented on #190
VNIR data collected during the day should be usable. Right now the only issue with daytime scanning is the amount of time it takes and the fact that the spectralon panel we are using to calibrate images is more than twice as reflective as anything else in the image. This means we have to crank the exposure time way down to avoid overexposing the spectralon panel and the rest of the image is very d

[2016-10-26 18:17] solmazhajmohammadi commented on #88
Here is the raw files from white spectralon reference. Measurement has been done for the following exposure times 20, 25, 30, 25, 40, 25, 50, 55 ms.

https://drive.google.com/file/d/0ByXIACImwxA7akhfLTdTS01vTTA/view?usp=sharing

Exposure time is included in the folder name. Also, in the file named "settings.txt" you can check the exposure time as well.
Data are 1600 sample, 955 bands and 268-298 l

[2016-10-26 18:20] czender commented on #190
During the calibration telecon a few months ago, it was suggested that the most appropriate spectralon panel to use for calibration would have reflectance closer to that of the brightest plant or soil, e.g., r ~ 30%. Using spectralon r ~95% reduces the dynamic range of the crop measurements by factor of ~3, if my understanding is correct.

[2016-10-26 18:21] dlebauer commented on #88
@czender could you work with @solmazhajmohammadi and @craig-willis to make sure that these files are moved to an appropriate place (Roger / Clowder ) where they are available to the hyperspectral workflow and **documented**?

[2016-10-26 18:25] max-zilla commented on #191
@ZongyangLi yes, please update those repositories directly and let me know if you don't have permission. I'll push the updates to Clowder extractors. Thanks!

Reprocessing files can be included in the discussions I have this week with the NCSA team about running the extractors on old files as well (before we finished the code).

[2016-10-26 18:25] solmazhajmohammadi commented on #88
@czender White reference data doesn’t have JSON file.
@craig-willis Please move the following dataset which has similar format:

https://drive.google.com/file/d/0ByXIACImwxA7akhfLTdTS01vTTA/view?usp=sharing

[2016-10-26 18:34] ZongyangLi commented on #191
@max-zilla Yes, I don't have operate permission to those repo. Please give me the permission. Thanks!

[2016-10-26 18:44] max-zilla commented on #191
@ZongyangLi just added you to both as a collaborator with write permissions.

[2016-10-26 19:01] ZongyangLi commented on #191
@max-zilla I finished updating scripts.

[2016-10-26 19:01] #191 closed

[2016-10-26 19:11] smarshall-bmr commented on #190
I have the simulated time of the VNIR scan down to 5:56. Does anyone have an opinion on if it is better to run this in a single day or split it over two?

[2016-10-26 19:19] solmazhajmohammadi commented on #190
@smarshall-bmr I think it is better to split it over two days and run it around noon.

[2016-10-26 21:27] Zodiase commented on #156
@max-zilla The basic version of this extractor is done and the code is at https://github.com/terraref/extractors-meterological/tree/localdev. However I'm still getting 502 Bad Gateway errors and not able to test it with `clowder-dev` instance so far. Could you check it out?

[2016-10-26 21:40] anfrench commented on #187
[Sorghum2_DataFile_AugustPlanting.csv.txt](https://github.com/terraref/computing-pipeline/files/554489/Sorghum2_DataFile_AugustPlanting.csv.txt)
[makeshape_F13B2_Fall2016.r.txt](https://github.com/terraref/computing-pipeline/files/554490/makeshape_F13B2_Fall2016.r.txt)

[2016-10-26 21:45] Zodiase commented on #173
@czender Could you tell me how to save a JSON document into a netCDF file? The JSON document would look like:

[code]

[2016-10-26 21:47] Zodiase commented on #173
@rachelshekar It makes more sense to manually trigger the processing job or have it triggered periodically with a cron job for example.

[2016-10-26 22:30] dlebauer commented on #173
@Zodiase, @robkooper had some thoughts on the geostreams database --> netcdf conversion, with respect to making this consistent with the PEcAn and BrownDog utilities.

[2016-10-27 14:24] Mamatemenrs opened #192 "Tractor data: GPS positions do not match for NDVI and temperature"
### Description

There are some differences between the number of GPS points measured for thermal, sonar and NDVI data. Basically, on all sampling dates, the number GPS points for NDVI are fewer (140 - 180 samples) than for the other types of data.

Can any one comment on that.

[2016-10-27 14:45] dlebauer commented on #192
@Mamatemenrs I've assigned this to @Andrade-Pedro. I believe @anfrench and @kthorp also run the tractor. For reference, here is a paper that describes the tractor
[(Sanchez et al 2014)](https://github.com/terraref/computing-pipeline/files/556186/sanchez2014def.pdf)

[2016-10-27 14:46] max-zilla commented on #145
@yanliu-chn just merged your pull request.

If I understand correctly, we basically want this portion of the hyperspectral code:
[code]
...to go into a separate extractor, since the hyperspectral extractor is not the only one generating .nc files. I think we want to write an extractor that triggers on any .nc file in Clowder and calls
[code]
Have we solved the XML -> JSON or CDL -> JSON piece, or

[2016-10-27 14:55] yanliu-chn commented on #145
@max-zilla If this is the case, I think we should wrap this as a function for other extractors to call.

ToJSON function is being considered by Charlie and his team. We don't have a good solution so far.

[2016-10-27 14:57] max-zilla commented on #145
@yanliu-chn I don't think we need the extractors to call this function - the function just creates XML and CDL metadata files from any netCDF file. we set this up to trigger on netCDF files being added to clowder, and that way it can process both .nc files from extractors and .nc files that people upload manually.

[2016-10-27 15:42] rachelshekar commented on #181
May need @jdmaloney  to look at the FTP log if LemnaTec doesn't control.

[2016-10-27 15:47] max-zilla commented on #145
@yanliu-chn https://github.com/terraref/extractors-metadata/tree/master/netcdf FYI.

[2016-10-27 15:57] yanliu-chn commented on #145
@max-zilla cool! you already got it done.

[2016-10-27 16:01] czender commented on #173
@Zodiase There is no generic JSON->netCDF converter. We custom wrote one for the Environmental Logger that might give you some ideas...

[2016-10-27 16:06] czender commented on #145
@yanliu-chn @max-zilla The netCDF->JSON converter is almost working. It is invoked with ncks --jsn, analogous to the NCO CDL and XML converters. @hmb1 will post when it is in-tree, and then NCO will need to be re-built from latest source to give the extractor access to this new functionality.

[2016-10-27 16:18] yanliu-chn commented on #145
great! let me know when it is available and i will install it on ROGER.

[2016-10-27 16:21] dlebauer opened #193 "Insert plot level height and / or percent cover into BETYdb"
### Description

@ZongyangLi has generated extractors that summarize plot level phenotypes. The first two are height and percent cover.

These need to be inserted into the BETYdb API.
### TODO
- [x] Need to make sure that we have plots defined in BETYdb consistent with the geospatial bounding boxes that you used.
  - Season 2 bounding boxes based on gantry coordinates are here: http://terraref.ncs

[2016-10-27 16:32] Zodiase commented on #173
@dlebauer
@robkooper and I had talked and if I remember correctly the only conclusion is to use `netCDF4-python` for operating netCDF files. But I know next-to-nothing about netCDF format and don't know the source data should be stored. I just learned the term `"Dataset"`, `"Dimension"` and `"Group"` but I have yet any idea what they are used for. Could you or somebody give me an idea how exactly

[2016-10-27 16:44] craig-willis commented on #184
@robkooper Please provide updated RabbitMQ password for dev instance.

[2016-10-27 17:16] czender commented on #173
@Zodiase @robkooper the environmental logger JSON->netCDF converter uses netcdf4-python:

https://github.com/terraref/extractors-environmental/blob/master/environmentlogger/environmental_logger_json2netcdf.py

Many of the variables it handles are the same as met station data. This converter might be more complex than met stations would require, or it might not. Much of the "complexity" is needed t

[2016-10-27 19:10] FlyingWithJerome commented on #173
@robkooper @Zodiase
Sorry, the [environmental_logger_json2netcdf.py](https://github.com/terraref/computing-pipeline/blob/master/scripts/environmental_logger/environmental_logger_json2netcdf.py) in the computing-pipeline master branch is the most up-to-date.

If you have a sample JSON file, we can look at it together and figure out a best solution.

[2016-10-27 19:13] dlebauer commented on #173
@robkooper we discussed developing download.CLOWDER and met2cf.CLOWDER functions in the PEcAn.data.atmosphere package so that it will fit within the existing BrownDog / PEcAn met workflow (?). That has a lot of tools for unit conversion and standard formatting of netcdf files. Is it otherwise?

[2016-10-27 19:18] Zodiase commented on #173
@FlyingWithJerome The sample JSON is above [here](https://github.com/terraref/computing-pipeline/issues/173#issuecomment-256486827). The format is final except some additional minor fields added (such as the extractor info and a full copy of the raw data).

@max-zilla When you are testing the first-stage extractor, could you get a copy of one output JSON document and post it here?

[2016-10-27 19:22] dlebauer commented on #192
@Mamatemenrs is there an open issue specifying tasks related to the tractor data?

[2016-10-27 19:35] robkooper commented on #173
@dlebauer thanks for the reminder. @Zodiase yes please look at PEcAn code and use R to download the data and process it. To do this there are 2 parts you will need to implement:

download.clowder which just does a query and downloads the geostream to disk, see for example https://github.com/PecanProject/pecan/blob/master/modules/data.atmosphere/R/download.Ameriflux.R

met2CF.clowder which converts

[2016-10-27 19:46] dlebauer commented on #192
@Mamatemenrs See also #150 because the workflows are similar for these platforms
![image](https://cloud.githubusercontent.com/assets/464871/19782328/fa658d22-9c52-11e6-8551-d5dc324f2d7c.png)

[2016-10-27 20:08] max-zilla commented on #193
@ZongyangLi here is an example of creating a CSV to push into BETYdb:
https://github.com/terraref/extractors-lemnatec-indoor/blob/master/plantcv/terra.plantcv.py

[code]

The CSV file is generated here:
https://github.com/terraref/extractors-lemnatec-indoor/blob/master/plantcv/PlantcvClowderIndoorAnalysis.py
[code]

[2016-10-27 20:18] tingli3 commented on #187
The polygons I generated are based on the [plot plan](https://docs.google.com/spreadsheets/d/1QQaWc0UaQQKfEtnSO1G2za8tKU2huC0_VYMBqm5CKAo) and [field book]( https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=883764630), which has 54 ranges and 16 columns (32 rows) in total. The coordinates of gantry field are converted into latitude and longitude (in WGS84

[2016-10-27 20:30] dlebauer commented on #187
@tingli3 I think you can ignore those files since they were used to generate a [shape file](https://github.com/terraref/computing-pipeline/files/530579/sorghumexpfall2016v5.zip) that @Mamatemenrs has exported as [json](https://github.com/terraref/computing-pipeline/files/553385/Rick_JSON.zip). The next step is to create the BETYdb insert statements for these polygons - they will be listed as new '

[2016-10-27 20:36] max-zilla commented on #173
@Zodiase can you give me write access to the extractors-meterological repo?

Also we don't have to change this now but there's a typo in repo name (I updated filenames in my local branch im going to push):
[code]

[2016-10-27 21:04] Zodiase commented on #173
@max-zilla I've granted write access to the developer group. You should be able to push now.

[2016-10-27 21:34] ZongyangLi commented on #193
Start working on this. @dlebauer

- Make sure that we are using same plots definition
      1. For 'Percent Cover' traits, I believe I am using a same plot plan and field book that @tingli3 was using. For now I only generated some Season 1 data.
      2. For 'plot level height', although we have some of position parameters like 'scan position, scan direction, scan distance' and so on, we don't hav

[2016-10-27 21:45] tingli3 commented on #187
@dlebauer
Can you give me some example of the insert statements I should generate? Or what does the table I will be working on look like?

What do you mean by "they will be listed as new 'sites'. But instead of Plot 123 the sitename field should have Row x Col y (where x and y are integers of the row and column fields)" ?

[2016-10-27 21:56] rickw-ward commented on #187
Please retain the data for range and pass and note just rowxcol.

[2016-10-27 22:08] tingli3 commented on #187
Also, the shape file is projected in UTM 12 N. Should the output coordinates XY be converted to WGS84 or still kept in UTM?

[2016-10-27 22:15] dlebauer commented on #187
@tingli3 same table (BETYdb sites) and insert statements as #174. Row and col values Come from the shape file and should be used in the plot name. Like `sitename = Field Scanner Season 2 Row 1 Col 1`

@rick-ward please specify a standard plot naming scheme if you prefer.

[2016-10-27 22:16] dlebauer commented on #187
@tingli3 same projection as #174 as well

[2016-10-27 22:23] rickw-ward commented on #187
https://github.com/anfrench, see questions above about UTM vs WGS84 above.

[2016-10-27 22:32] rickw-ward commented on #187
For the RIL experiment, the experimental units have addressses composed of two variables: range and pass.   Those, plus the entry number, replication, blocks within reps, etc. can be retrieved through a shared, unique plot#.     Range-Pass enables instant recognition of where an experimental unit is, and is the grid system used for planning envelope filling, planting, and plot labeling.    Not sur

[2016-10-28 14:36] craig-willis commented on #184
@robkooper
I have a working pyClowder development environment on clowder-dev. However, when I upload a file, the extractor immediately gets a 502 (HTTPError: 502 Server Error: Bad Gateway for url: https://terraref.ncsa.illinois.edu/clowder-dev/api/files/58136174e4b03d6eb3588568/metadata.jsonld?...)  I've seen this error with the sensor data too -- if I GET immediately after a POST, I see a 502. If

[2016-10-28 14:40] max-zilla commented on #184
@robkooper this could be that same ElasticSearch indexing issue we were talking about yesterday - the metadata gets posted but 502 trying to index it (maybe). i havent tried the local test yet

[2016-10-28 14:50] NewcombMaria commented on #187
I wonder if it would be helpful in this plot-boundary issue/discussion to define some terminology, or come up with standard definitions in the context of a data or metadata dictionary.  A 'Range' extends in the Y direction (East-West) and in sorghum crop1 and sorghum crop2 there have been 54 ranges.  A 'Row' extends in the X direction (North-South) and in sorghum crop1 and sorghum crop2 there have

[2016-10-28 15:47] jtheun commented on #192
Yes sir. There are less points for NDVI due to 'skips' in the serial output of the RT200 controller. The green seeker sensors are on a can bus network with the RT200 unit. The output message from the RT200 on the serial port was configured to output at 5Hz. Every once and awhile, there is a blank message (contains only the new line and carriage return characters). It appears to be random and no ad

[2016-10-28 15:49] ZongyangLi commented on #193
@dlebauer I am writing to let you know my plan of this task, please let me know if I made any misunderstanding.

1. Get leaf area index value(percent cover) for each vis-image, that means each image have a value to submit.
2. Create a .csv file that records all the information about the trait(location, row#, col#, time and trait value).
3. use clowder extractor to sent this .csv file into BETYdb

[2016-10-28 16:22] dlebauer commented on #193
@ZongyangLi yes, this is correct. However, instead of using the row and column, you will need to construct a `sitename` field.

* Currently they are constructed as `MAC Field Scanner Field Plot <plotid>`
  * For season 1 these will match the records here that do not include "Season 2" https://terraref.ncsa.illinois.edu/bety/api/beta/sites?sitename=~Field+Scanner&limit=none&key=
  * do you have the

[2016-10-28 16:24] dlebauer commented on #193
@ZongyangLi regarding the position of the points in the ply files - I was under the impression that these were in the gantry xyz coordinate system. If this is not the case, please open a separate issue and assign to @solmazhajmohammadi.

[2016-10-28 16:39] ZongyangLi commented on #193
@dlebauer I am not quite understand the link above?
`{
  "metadata": {
    "URI": "https://terraref.ncsa.illinois.edu/bety/api/beta/sites?sitename=%7EField+Scanner&limit=none&key=",
    "timestamp": "2016-10-28T11:29:24-05:00",
    "count": null
  },
  "errors": "authenication failed"
}`
Is that means I should construct a `sitename` field in the .csv file that contains of 'timestamp, cont, errors'

[2016-10-28 16:55] dlebauer commented on #187
Lets move discussion of the plot definitions here: terraref/reference-data#60

[2016-10-28 16:57] dlebauer commented on #193
@ZongyangLi you need a key. Try https://terraref.ncsa.illinois.edu/bety/api/beta/sites?sitename=~Field+Scanner&limit=none&key=9999999999999999999999999999999999999999

[2016-10-28 16:59] dlebauer commented on #193
@ZongyangLi if you use the plot numbers in the field book and construct the sitename as  `MAC Field Scanner Field Plot <plotid>` where `<plotid> is [1, 2, ...849] that will work.

[2016-10-28 17:39] max-zilla commented on #145
@jdmaloney I have this extractor built as it currently is, and a VM prepared on Roger. Can you create these exports:

IP - 141.142.170.192

READS
```/sites/ua-mac/```
I think this needs read access to both raw_data and Level_1, because it will extract metadata from both raw netCDF files (if there even are any?) as well as extractor outputs like the environmentlogger extractor.

WRITES
```/sites/ua

[2016-10-28 18:11] remotesensinglab commented on #193
Has anyone measured in-situ leaf area index, vegetation fraction so that can be used to validate/refine extraction algorithms?

[2016-10-28 18:15] dlebauer commented on #193
@remotesensinglab there is radiation interception but I am not sure of LAI - @NewcombMaria would know

[2016-10-28 18:18] dlebauer commented on #193
@remotesensinglab I think this issue just refers to % cover - it seems like the camera is the most accurate way to directly measure this, and most of any error would come from the identification of leaf vs soil. This isn't a direct measure of LAI. By 'vegetation fraction', do you mean 'canopy cover'?

[2016-10-28 18:20] max-zilla opened #194 "Reduce mem requirements of hyperspectral extractor"
@robkooper @yanliu-chn @jterstriep @czender

Jeff might be able to write a preprocessing script to slice the _raw file into smaller chunks for processing instead of loading the entire 62 GB file at once, but in general we should figure out some way to reduce memory requirements of the hyperspectral extractor. The mem requirements are pushing up against upper limit of RAM on Roger nodes we have ava

[2016-10-28 18:21] remotesensinglab commented on #193
Yes, Fraction of Vegetation = canopy cover in %, which is different than LAI.

[2016-10-28 18:37] yanliu-chn commented on #194
@jterstriep here is the HPC launcher script for plantcv extractor, for your reference: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/browse

[2016-10-28 18:46] max-zilla opened #195 "Launching batch extractors on Roger"
@robkooper @yanliu-chn @jterstriep follow up from meeting today. Goal is to get all TERRA data from the summer processed through all extractors.

**Yan** will update the nco module on Roger to new version.

**Max** will get dependencies installed on Roger and write launcher.sh for each extractor that will load virtualenv, modules, etc. and runs extractor. This will start one instance. **Rob** can

[2016-10-28 18:55] yanliu-chn commented on #195
@jterstriep here is the HPC launcher script for plantcv extractor, for your reference: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/browse

[2016-10-28 20:45] anfrench commented on #187
@tingli3 at the risk of saying things you already know: WG84 is a reference ellipsoid. UTM zone 12 is a projection. Projections need a corresponding ellipsoid. In the NAD83 system that ellipsoid is GRS80, not WGS84, but they are very nearly the same.
When you create a latlon to UTM transformation in proj4 (PROJCS) you specify the semi-major axis and flattening.
GRS80 is 6378137m; 1/298.25722210088

[2016-10-28 21:02] czender commented on #194
The HS workflow completed processing a 62GB raw file in the batch queue. I had thought it was hanging because it did not finish in < 1 hr. I resubmitted with a 3 hour limit and it finished in 94 minutes. Setting the batch time to 2 hours will should be sufficient. I think the peak usage was ~232 GB RAM. Hence I would expect similar results for RAM demands < ~250 GB (raw files < ~67 GB). Whether it

[2016-10-28 22:37] dlebauer commented on #193
For these heights, the json trait snippet from above would look more like this:

[code]

notes: In order for this to work I manually created the variable [`canopy_cover`](https://terraref.ncsa.illinois.edu/bety/variables/6000000012) and method [(see here)](https://terraref.ncsa.illinois.edu/bety/methods/6000000002) via the web interface since we don't have api's for inserting metadata into these t

[2016-10-29 17:09] Mamatemenrs commented on #187
Shapefiles for seanson2

Projected Coordinate System for both files: WGS_1984_UTM_Zone_12N

![season2 plys](https://cloud.githubusercontent.com/assets/22641377/19831468/37fda1d2-9dd0-11e6-96d2-60e4015fec55.jpg)

[2016-10-29 18:04] remotesensinglab commented on #187
Can tingli3 or dlebauer

[2016-10-29 18:10] Mamatemenrs commented on #187
Season 2 shapefiles

Projected Coordinate System for these files:	WGS_1984_UTM_Zone_12N

![season2 plys](https://cloud.githubusercontent.com/assets/22641377/19831802/c9b482fa-9dd8-11e6-8b6b-9d0beb59e692.jpg)

[2016-10-29 18:51] dlebauer commented on #187
@remotesensinglab the plots from BETYdb json file were generated thus:  https://github.com/terraref/computing-pipeline/blob/master/scripts/geospatial/field_scanner_plots.R; @tingli3 can comment on technical details.

It looks like Ricks shp file plots are a subset of Tings json plots, and close enough that there represent the same concept of a plot but different enough that this represents measure

[2016-10-29 19:55] czender commented on #183
Answering question above:

Coordinates are in gantry(x,y) space. Bounding box info is in both x,y and lat,lon. So, in partial answer to next question, presumably x,y values in meters from southeast corner would be most straightfoward.

@hmb1 please respond.

[2016-10-31 12:48] #192 closed

[2016-10-31 15:32] max-zilla commented on #195
@jterstriep  I have installed dependencies for demosaic extractor on Roger head node as a first extractor.

(@robkooper @jdmaloney @yanliu-chn FYI)

- started in ```/home/mburnet2/extractors```
- created a python virtualenv called ```pyenv```
- activated it & installed dependencies & cloned+installed pyClowder
- git clone the extractor repo
- update extractor config.py for our terra Clowder instan

[2016-10-31 15:47] rickw-ward commented on #187
Something is amiss.   The array of Polygons from andys ('ricks') shape file should be aligned east west at the same center point as the yellow polygons.  But they aren't.  The yellow is shifted significantly east   Why?  Can someone send. E the two shape files and I'll check them in qgis.

[2016-10-31 16:55] max-zilla commented on #195
@jterstriep @robkooper @yanliu-chn @jdmaloney @dlebauer

OK, updated the code to address the "file name too long issue":
- extractor will generate the TIFF files as temp files (e.g. ```/tmp/tmpZ1VjGH```)
- temp files are copied over to the destination in Level_1 as full filename
- original temp files removed
- full paths in Level_1 are sent to clowder

This might be required for other extractors t

[2016-10-31 16:58] max-zilla commented on #195
I'll get the other extractors prepped in the meantime (git clone on Roger, install additional dependencies) but we can use this first one as a test case. Note that I have an instance of this extractor running on separate VM at the moment - i will leave it running in the meantime.

[2016-10-31 17:53] craig-willis commented on #184
@dlebauer @max-zilla
I have Cloud9/pyClowder and JuptyerLab/pyClowder environments installed on clowder-dev.   Both of these support basic extractor development with the following steps:

- Launch the desired tool
- For Cloud9, login with hardcoded credentials (terra/pyclowder) -- see note below about auth
- Open terminal
- For JupyterLab, "export PATH=/usr/bin:$PATH" -- this is because JupyterLab

[2016-10-31 18:34] rickw-ward commented on #187
@anfrench and I just discussed the frameshift of yellow vs red polygons.  This included a reveiw of the R script here https://github.com/terraref/computing-pipeline/blob/master/scripts/geospatial/field_scanner_plots.R .   Query for @smarshall-bmr and @dlebauer, what point in the field is zero, zero for the gantry?   in attached screen shot of QGIS with layers of orthomosaic geotiff of field/gantry

[2016-10-31 19:53] Mamatemenrs commented on #187
Shapefiles for the second map on this page.

[Rick_David_shps.zip](https://github.com/terraref/computing-pipeline/files/562750/Rick_David_shps.zip)

[2016-10-31 20:03] ZongyangLi commented on #193
@max-zilla I have just finished [terra_canopyCover.py](https://drive.google.com/open?id=0B5QCp_Onc6nOa1Z2dTlDc1lydW8) extractor on 'Canopy Cover' and tested it on my desktop(made little change in config). Could you review these codes and help me test it?

@dlebauer The example .csv file is [here](https://drive.google.com/open?id=0B5QCp_Onc6nOVVFvSm90ZmdzaW8), could you please take a look on it and

[2016-10-31 20:05] max-zilla commented on #195
@jterstriep also ready:

[code]

[2016-10-31 20:11] max-zilla commented on #193
@ZongyangLi Yes I'll try to look at it in next couple days.

[2016-10-31 21:22] dlebauer commented on #193
@ZongyangLi that looks good except:

* the sitename should match one of these exactly https://terraref.ncsa.illinois.edu/bety/sites
* this is not essential - since we can fill this in later - but there should be a cultivars field that contains the name of the genotype that was planted in the plot, It should be possible to look this up based on the entry field 'entry' here: https://docs.google.com/

[2016-10-31 21:22] rickw-ward commented on #187
thanks @Mamatemenrs .   I pulled your json file into my QGIS project, and also added a shape file from @rjstrand  at Lemnatec with a single feature that is Lemntatec's (ie. the gantry's) zero,zero point (red dot above feature attributes box).   The east edge of your east-most plot  (green polygons) is closely aligned with the Y axis position of the Gantry zero,zero.   But that point is outside of

[2016-10-31 21:41] ZongyangLi commented on #193
@dlebauer
I still feel a little confused.
1. So I should use the 'Entry Number' instead of 'Plot Number' in the google sheet?
2. If point 1 is yes, why there are totally 864*4 different plots in the sites page, like
`MAC Field Scanner Field Plot 864
MAC Field Scanner Field Plot 864 E
MAC Field Scanner Field Plot 864 W
MAC Field Scanner Field Plot 864 Season 2`
shouldn't it be 401 different 'Entry

[2016-10-31 21:50] dlebauer commented on #193
@ZongyangLi

* Use plot number, not entry number
  * We can use plot number to look up the genotype name later so you don't have to worry about entry number.  (genotype name is in the ['source' field here](https://docs.google.com/spreadsheets/d/1QQaWc0UaQQKfEtnSO1G2za8tKU2huC0_VYMBqm5CKAo/edit#gid=796817704) and that would map to cultivars.name). But again, ignore this if it is confusing.
* Don't

[2016-11-01 13:23] max-zilla commented on #181
@jdmaloney and I manually queued a bunch of these yesterday in the meantime, but I think JD is going to follow up with LemnaTec as we think this needs to be fixed on the MAC side.

[2016-11-01 14:17] max-zilla commented on #195
@jterstriep I just moved the hyperspectral extractor latest code out there as well:
[code]

...I haven't really been able to test this fully due to the memory requirements, but it seemed to get at least that far in my local testing. Charlie reports here that he was able to get it running successfully:
https://github.com/terraref/computing-pipeline/issues/194
...not sure if it will require a differ

[2016-11-01 14:40] #168 closed

[2016-11-01 14:41] max-zilla commented on #168
I believe @jdmaloney and I have moved the remaining PLY files from raw_data into Level_1, and new PLY files should be going into Level_1. closing this isse

[2016-11-01 15:39] max-zilla commented on #98
@solmazhajmohammadi I'm putting the extractor together based on the PDAL code you provided above, but it's running into errors on my local tests:
[code]

"Unable to convert scaled value to int32" - have you seen this before, and do you know of a workaround? Thanks.

[2016-11-01 16:03] gsrohde commented on #193
@ZongyangLi One other small (but important!) detail is that the date (`local_datetime`) should be in the form `2016-06-06T11:28:06`.  (For what it's worth, the GitBook documentation explains this here: https://pecan.gitbooks.io/betydbdoc-dataentry/content/trait_insertion_api.html, in item 1.ii. of the section "Schema for CSV Data Files".  This documentation is still in progress, however, so the nu

[2016-11-01 16:13] max-zilla commented on #98
here is the extractor, i think it is close to ready if we can solve this int conversion: https://github.com/terraref/extractors-3dscanner

[2016-11-01 16:28] ZongyangLi commented on #193
@dlebauer @gsrohde
Thanks for giving me these information!
I have just update my scripts. And now it looks like this: [ccTraits.csv](https://drive.google.com/open?id=0B5QCp_Onc6nOcUYtWTBsQXlUN3M)

[2016-11-01 16:31] rickw-ward commented on #187
@ZongyangLi  and @rmgarnett .  See the thread above.  My perspective is strictly 2D at this stage.

[2016-11-01 17:15] solmazhajmohammadi commented on #98
@max-zilla I have not had this error, but  instead of using --writers.las.scale_x=".0000001" use following command  --writers.las.scale_x=".000001" with reduced scale. It should solve the problem

[2016-11-01 18:36] max-zilla commented on #98
@solmazhajmohammadi looks like that resolved it, thanks!

[2016-11-01 19:48] max-zilla commented on #173
@Zodiase do I have this right? there are two extractors for meteorological data being discussed:
- read 24 .dat files and add each record to geostream
- convert the .dat files to netcdf (?)

So it looks like you've written the first one. I don't totally understand the second one, why is it dependent on the first one?

I'll try to test out the first one - it's in the same place as the geospatial me

[2016-11-01 20:09] max-zilla commented on #195
the PLY -> LAS converter for 3d scanner data should also be ready:
[code]

[2016-11-01 20:13] Zodiase commented on #173
@max-zilla This issue depends on the first one because it pulls the JSON data stored in the geostream and saves them to some netcdf file. The JSON data in geostream should align to PEcAn format standards. If it's simpler to directly convert .dat files into netcdf them that's certainly better.  I don't know. Wouldn't that repeat the same PEcAn standard conversion again?

[2016-11-01 20:14] max-zilla commented on #193
@ZongyangLi I'm starting to look at extractor - it looks like this operates on the left/right stereo bin files, correct?

I'm thinking I'll commit this here if so: https://github.com/terraref/extractors-stereo-rgb

[2016-11-01 20:17] max-zilla commented on #173
@Zodiase yeah, we wouldn't want to redo the PEcAn conversion.

Could we just do both at the same time? Loop over 24 DAT files, send to datapoint for each line, while also saving to netCDF? Then at the end we did both the geostreams + netCDF at once?

It doesn't make for perfectly modular extractor, but since the extractors would need to be chained together anyway (one depends on the other) I think

[2016-11-01 20:20] Zodiase commented on #173
@max-zilla Everything could be put into one extractor. I suggested splitting the whole objective into two issues so they could be implemented in parallel. But they both ended up assigned to me so it makes no difference.

[2016-11-01 20:21] ZongyangLi commented on #193
@max-zilla Yes, that's right. Please review [this scripts](https://drive.google.com/open?id=0B5QCp_Onc6nORm0yYnB2bHBKOTQ), I have just make some update.

[2016-11-01 20:30] max-zilla commented on #193
@ZongyangLi thanks. I have put your latest code in this repo:
https://github.com/terraref/extractors-stereo-rgb/tree/canopycover/canopycover

Currently just my branch, but I'll merge soon and then we can update this copy directly.

[2016-11-01 20:38] yanliu-chn commented on #173
@Zodiase let's focus on the tech issue here (only). You said .dat->netcdf needs to get JSON data from geostream in order to convert .dat to netcdf? @max-zilla meant since the JSON data you send to geostream is already generated in the first extractor, we can use that to do .dat->netcdf conversion.

So the only difference is whether we put the 2nd extractor logic inside of the first one since the f

[2016-11-01 20:39] nfahlgren commented on #41
@dlebauer I met with @phloz today to discuss this issue. One thing I realized is that I don't know what our goal is here. What specific things do we want to accomplish? We are (mostly) able to process individual samples, but it's less clear to me how we would aggregate the data into a full data set.

[2016-11-01 20:50] max-zilla commented on #173
@yanliu-chn @Zodiase I think we're on the same page here.

I will test the current .dat -> geostream function on clowder-dev to make sure it works, since Xingchen was getting 502s. I'll commit my branch and that can be new 'base' version.

Then, we can add .dat -> netcdf in that same extractor, building on top off working version.

I should have an update on this tomorrow morning.

[2016-11-02 14:39] rickw-ward commented on #187
Any updates @dlebauer or @Mamatemenrs ?

[2016-11-02 14:47] jterstriep commented on #195
@max-zilla I can't see anything in your home directory. Can you place the code in the project space?

[2016-11-02 14:53] max-zilla commented on #195
@jterstriep I'll try to do so after the terra call from 10-11.

I think if I understand python virtualenv correctly, I should be able to just move the pyenv directory outside my home and still have it functional (we'll have to update the batch_launcher scripts to point to correct place).

I'll put things here:
[code]

[2016-11-02 14:54] Mamatemenrs commented on #187
I do not have anything to update regarding these shapefiles.

[2016-11-02 14:58] max-zilla commented on #195
@jterstriep OK, just copied the files over, since it's /shared i hope you can access.

I'll update other scripts soon but I quickly updated one in-place for you:
[code]

[2016-11-02 15:00] rachelshekar commented on #101
Deployed to clowder-dev.  @robkooper  - Ready to move to production

[2016-11-02 16:21] tingli3 commented on #187
[new_sql.txt](https://github.com/terraref/computing-pipeline/files/567097/new_sql.txt)
This is the sql generated for the shapefile.  Not sure about whether the shift from UA-MAC to USDA should be applied. Currently, the coordinates are just transfromed from UTM12.

[2016-11-02 16:30] max-zilla commented on #173
@Zodiase just made a pull request, got it working on my local instance but haven't tested on clowder-dev yet. asked you to review

[2016-11-02 19:07] Zodiase commented on #173
@robkooper OK I'll learn a bit R and netCDF to understand the two functions and then continue from there.

[2016-11-03 04:01] dlebauer commented on #187
@tingli3 from the figure in https://github.com/terraref/computing-pipeline/issues/187#issuecomment-257424469 it looks like your R code from #174 may have two issues:
1. the eastern side of the plot boundaries is aligned to y = 0, whereas the minimum value of y measured by @smarshall-bmr on the gantry was 0.632 ([see spreadsheet](https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmd

[2016-11-03 05:00] tingli3 commented on #187
@dlebauer
For the first issue, I have asked question about the start of y more than once and I got no answer. So I have to assume y start at 0 and I wrote this assumption when I uploaded the sql for the first time. There are only 32 records of y and I need 33 records to get 32 rows so I have to assume y start at 0.

For the second issue, if you look at
![gantry_shp](https://cloud.githubusercontent

[2016-11-03 13:01] max-zilla commented on #98
This extractor is done and deployed.

[2016-11-03 13:01] #98 closed

[2016-11-03 16:06] max-zilla commented on #181
@jdmaloney can you give a little update here on current thinking? I will be in AZ next week and could potentially look at this with @TinoDornbusch @smarshall-bmr @markus-radermacher-lemnatec

[2016-11-03 16:12] ZongyangLi commented on #85
full field stitch examples can be accessed on roger in the space of:
`/projects/arpae/terraref/users/zongyang/fullFieldStitch/`
@max-zilla @dlebauer Could you access into my working space?

[2016-11-03 16:18] max-zilla commented on #145
@yanliu-chn the new NCO is ready to install on roger.

[code]

[2016-11-03 16:25] max-zilla commented on #85
@ZongyangLi looks like I can access that directory

[2016-11-03 16:26] dlebauer commented on #184
@craig-willis I don't any tools to launch

<img width="353" alt="screen shot 2016-11-03 at 11 25 43 am" src="https://cloud.githubusercontent.com/assets/464871/19974999/61e92818-a1b8-11e6-8dbb-e6e2445840d4.png">

[2016-11-03 16:29] ZongyangLi commented on #85
@max-zilla Okay, for now I just created full map for the date of 2016-09-29, tile files is in the directory of `tiles_2016-09-29`, web page file is `opengooglemaps.html`.

Do I need to create full map for other dates?

[2016-11-03 16:30] max-zilla commented on #85
@ZongyangLi I'll leave that up to you - if it's easy go ahead, but one good example is sufficient for what I had in mind - @dlebauer ?

[2016-11-03 16:33] ZongyangLi commented on #85
Yes it's easy for me to create more full maps on roger. But it will take a lot of storage space and computing resources.

[2016-11-03 16:36] dlebauer opened #196 "Insert Rick's plots into bety6"
From https://github.com/terraref/computing-pipeline/issues/187#issuecomment-257916657

Please insert new sites into bety6 [new_sql.txt](https://github.com/terraref/computing-pipeline/files/567097/new_sql.txt)

[2016-11-03 16:40] czender commented on #88
@craig-willis @solmazhajmohammadi Here is the script I used to process the HS white and dark reference values

[code]

[2016-11-03 16:47] yanliu-chn commented on #145
I have deployed nco-4.6.2-beta01 on ROGER. The test works!!! Thank you, @czender !

Here is how to use it. Please see if the json output looks good.

[code]

[code]

[2016-11-03 16:55] czender commented on #88
The above script reduces the ~10 GB raw image files to a series of area-averaged white and dark reference data that we actually use in the HS workflow. xps_tm is the exposure time in ms. The minimal files to retain are these 17 kb files:

vnir_wht_avg_${xps_tm}.nc
vnir_drk_avg_${xps_tm}.nc

the *img* files are essentially the same ~10 GB as the raw files. the *cut* files are each ~50 MB and contai

[2016-11-03 16:56] yanliu-chn commented on #145
@max-zilla To make change to dockerfile, here is the change you can refer to to replace the current nco build part:

[code]

[2016-11-03 17:02] craig-willis commented on #184
@dlebauer Unclear why, but the toolserver process was stopped again.  I've restarted and will look through the logs, but you should be able to launch now.

[2016-11-03 17:02] robkooper commented on #145
maybe make a NCO_VERSION variable so we can easily update it.

[2016-11-03 17:03] yanliu-chn commented on #145
good idea.

[2016-11-03 17:12] gsrohde commented on #196
Done.

[2016-11-03 17:12] #196 closed

[2016-11-03 17:39] max-zilla commented on #195
@jterstriep OK, here's something you can use for testing.

- we'll use the environmentlogger extractor for initial testing. it's nice because it operates on a file (vs. a dataset of many files) and in normal operation we only see one of these environmentlogger.json files per hour so there won't be new files appearing on the queue very often)
- the queue is already empty in RMQ
- I shut down the en

[2016-11-03 18:25] nfahlgren commented on #136
@max-zilla working on starting the gantry-monitor docker service, pointed at a small test dataset (one snapshot). I ran:

[code]

and had two errors:

[code]

The permission error might have to do with the permissions on the monitor_log directory, but not sure about the Python error.

[2016-11-03 18:52] smarshall-bmr commented on #187
For what it's worth I have updated the range centers document to include row boarders. All I did was place midpoints between each row and use the average row width to place a start and end point.

[2016-11-03 19:17] craig-willis commented on #88
@czender @solmazhajmohammadi

Thanks for the script details.  I'm just now reading through this full thread and have a few questions/clarifications.
* It sounds like the dark/white reference data will need to be [collected periodically](https://github.com/terraref/computing-pipeline/issues/88#issuecomment-222592880). If so, @czender will your script need to be re-run?
* @solmazhajmohammadi You men

[2016-11-03 19:26] max-zilla commented on #136
@nfahlgren I think what you need to do is add a custom_config.json file to your /monitor_logs directory. This will get mounted into docker container at /home/gantry/data and loaded.

I think you roughly want this:

**custom_config.json**
{
  "log_path": "/home/gantry/data/log",
  "completed_tasks_path": "/home/gantry/data/completed",

  "gantry": {
    "incoming_files_path": "/home/gantry/snapshot

[2016-11-03 20:17] max-zilla commented on #156
Closing this; #173 covers the other half of met extractor work.

[2016-11-03 20:25] max-zilla opened #197 "(re)processing all data"
objective is to run all deployed extractors on all applicable files/datasets that haven't been processed yet. intend to use Roger job scheduling to do so.

**extractors**
For each of these, implied is that files/datasets will only be queued if metadata belonging to the extractor in question is not found already attached to the document.

_file extractors_
[code]

_dataset extractors_
[code]

More

[2016-11-03 21:01] max-zilla commented on #197
@robkooper
The basic template for mongo query I've come up with for datasets:
[code]

I think we may need to introduce an index on metadata collection for this, it was pretty sluggish locally for me handling the metadata subquery.

[2016-11-03 21:04] dlebauer commented on #187
@ZongyangLi when you used the plots as defined by Stewart, did you realize that his measurements were the plot centers rather than the plot boundaries?

[2016-11-03 21:09] dlebauer commented on #85
@ZongyangLi How much storage space? I don't think it is necessary for each day, but it would be great to have a few - perhaps every few weeks?

[2016-11-03 21:30] ZongyangLi commented on #85
@dlebauer No more than 30 GB for one day. If that's Okay, I will find some full scanned dates to create maps for season 2.

[2016-11-03 21:34] dlebauer commented on #85
@ZongyangLi Go for it!

[2016-11-03 21:36] solmazhajmohammadi commented on #88
@craig-willis  yes sure it makes sense to collect them separately for now.

[2016-11-03 21:43] ZongyangLi commented on #187
@dlebauer To my understanding, 54 ranges in N/S direction is the centers and 16 rows in W/E direction is the boundaries, is that right?

[2016-11-03 21:46] pless commented on #85
The full field stitched mosaic requires the most storage space for the very highest resolution images.  Perhaps you can make a medium resolution mosaic for 10% of the space (but if I recall how the geoTIFF creation works, I think this would take the same amount of computation).

[2016-11-03 22:10] gsrohde commented on #124
@dlebauer Regarding item 8: Now doing a query to, say, https://terraref.ncsa.illinois.edu/bety-test/api/beta/citations?key= won't try to show you a list of all ids of traits associated with each citation in the list (and then possibly time out because it takes too long).  Instead, it only shows a count of the number of associated traits.

I've checked this fix into the master branch.  I also chang

[2016-11-03 22:25] nfahlgren commented on #136
@max-zilla closer. It's running but not finding the custom_config.json file (now in /monitor_logs).

[code]

[2016-11-03 22:41] czender commented on #88
I'm planning to store the area-averaged files in the hyperspectral workflow script directory, i.e., the same directory as hyperspectral_workflow.sh, so they can easily be found and modified until they are stable. It would be good to have a location not in the scripts directory for the other files.

[2016-11-04 13:07] max-zilla commented on #195
@robkooper FYI the demosaic queue went from ~104,000 last night when i stopped the pipeline to ~36,000 this morning with one extractor running.

[2016-11-04 13:11] max-zilla commented on #136
@nfahlgren sorry, i didn't check the filename when I sent you that.

The file should be called **config_custom.json** (i flipped the two parts) Sorry about that!

[2016-11-04 13:17] max-zilla commented on #197
@robkooper FYI the demosaic queue went from ~104,000 last night when i stopped the pipeline to ~36,000 this morning with one extractor running.

About to shut down Clowder and dump the database so I can run the update queries.

(posted this in other issue initially)

[2016-11-04 13:24] max-zilla commented on #197
@craig-willis @jterstriep @dlebauer I've stopped Terra Clowder (production) for an hour or two this morning while I run some database updates in prep for next week. Will get it back up ASAP.
- update Clowder file paths for the PLY files we moved, to point to correct location
- assigning Danforth pilot data to "Danforth Site" ownership instead of Max Burnette
- moving Danforth pilot data into Bellw

[2016-11-04 16:28] max-zilla commented on #197
This database update has been completed and Clowder is back up.

@jterstriep I am starting to generate lists of dataset IDs for various extractors - I'll loop over these when the time comes to queue them all for extraction.

[2016-11-04 17:34] nfahlgren commented on #136
@max-zilla awesome, that worked! How should we proceed with testing?

[2016-11-04 18:48] max-zilla commented on #136
@nfahlgren sweet.
next step is to try and send your snapshot:
[code]

replace with your JSON file if the name is different.

**However let's hold off a few more hours**, @jterstriep might be testing some extractors on Roger so I have the NCSA side of the pipeline offline right now so it doesn't trigger them accidentally.

I'll check with him but I should be able to start it back up later today.

[2016-11-04 21:01] max-zilla commented on #136
@nfahlgren I'm putting the pipeline back up, so if you want to test this now you can. No worries if you want to wait until Monday.

[2016-11-04 21:03] jdmaloney opened #198 "Loss of JPEG output from the SWIR Sensor"
Our morning data report indicated that the SWIR sensor stopped sending the JPEG file for each data set to the gantry-cache starting on 2016-11-02, and also so far for 2016-11-03 (don't know about the 4th yet).  These don't show up on the gantry-cache or in its logs.  Is this a known or desired situation?

[2016-11-04 22:09] nfahlgren commented on #136
@max-zilla I got this error:

[code]

[2016-11-04 22:44] smarshall-bmr commented on #198
The SWIR has just been reinstalled after being out for a month. Expect some anomalies while we get it back online.

[2016-11-05 14:35] max-zilla commented on #136
Looks like the uploader script can't communicate with the docker service API - that's the 192.168.99.100:5455 IP it references when it says 'connection refused'.

That IP is here in the script:
https://github.com/terraref/computing-pipeline/blob/master/scripts/plantcv/PlantcvClowderUploader_Globus.py#L265

we probably just need to update to whatever the correct docker ip address is on your system.

[2016-11-06 00:33] nfahlgren commented on #136
@max-zilla I tried changing the docker service configuration so that it would give the container the same IP address you are using, but after trying some things I think that's only possible if I create a custom network for the container. For now I just edited the script as you suggested (we could make a flag to control the API address).

I'm running into one last (I think) problem. Our Globus endp

[2016-11-06 14:53] Mamatemenrs opened #199 "Tractor data points fall outside of the plot boundaries"
Some of the tractor data points do not overlay with the plot boundary. The problem might be due to the accuracy of the tractor GPS.  One solution is to review each tractor data and manually edit to move them to fit the plot polygons. Has anyone noticed this issue?

[2016-11-06 16:37] Mamatemenrs commented on #199
![tractor_aug25_1](https://cloud.githubusercontent.com/assets/22641377/20039638/cd9e8d4a-a40c-11e6-8522-dc8821ec787c.jpg)
![fig2](https://cloud.githubusercontent.com/assets/22641377/20039639/cf0ccde0-a40c-11e6-8509-aaa9e5c92ae0.jpg)

[2016-11-06 17:52] rickw-ward commented on #199
![image](https://cloud.githubusercontent.com/assets/21243879/20040126/00a1ba58-a40f-11e6-8a80-53f0ff5c22d3.png)

[2016-11-06 18:16] anfrench commented on #199
... and 4)we think that both RTK systems are accurate to cm level, 5) that the non-USDA RTK system has a constant bias at the farm level, meaning that we ought to be able to shift the utm eastings and northings by constant values for all MAC surveys. Those x and y shifts have been mentioned previously but are subject to revision.

[2016-11-06 22:45] rickw-ward commented on #199
Talked with John Heun of Pedro's program.  More clarity on how to do this will come tomorrow.

[2016-11-07 04:54] dlebauer commented on #199
See documentation https://terraref.gitbooks.io/terraref-documentation/content/user/geospatial-information.html

[2016-11-07 14:26] max-zilla commented on #136
@nfahlgren yes, this is the final piece that we still handle manually at Maricopa. I have an issue to resolve this but hasn't been a priority yet:
https://github.com/terraref/computing-pipeline/issues/105

I think you just need to"
1.  go to www.globus.org and login as the terrarefdanforth user
2. Click 'Endpoints' at the top and find the ddpscbioinfo#apollo endpoint. It should say 'not activated'

[2016-11-07 19:35] max-zilla opened #200 "Sample data space"
@dlebauer @craig-willis @robkooper @jterstriep
I have created a sample data space with two examples of various sensors.
https://terraref.ncsa.illinois.edu/clowder/datasets?space=57e42cd44f0cff4b58dd3eea

Where we had extractors, I chose examples where the extractor had been run. No particular reason for any dates or locations.

I was thinking we could:
- have this space accessible by a shared 'dem

[2016-11-07 19:41] dlebauer opened #201 "Upload UAV NDVI data to terraref.org/bety"
### Description

@rickw-ward has provided NDVI data for five dates.

* Data are ready for upload here: https://docs.google.com/spreadsheets/d/1qeyYA4x8WX_OnahC6Dr7k1Ut4TuSObMJyYFvOyA_1gY/edit#gid=0
* Citation is Ward, Rick 2016 unpublished https://terraref.ncsa.illinois.edu/bety/api/beta/citations?author=~Ward&key=
* [ ] genotypes need to be identified, but this can be done later. All values are m

[2016-11-07 22:40] ZongyangLi commented on #193
@dlebauer Please review the [canopycover datasets](https://drive.google.com/open?id=0B5QCp_Onc6nOZ3Zsa044REdva0E) in May. I put one days data in a csv file.

[2016-11-07 23:04] dlebauer commented on #193
@ZongyangLi that looks great - only problem is that the date should have format `YYYY-MM-DDTHH:MM:SS` instead of `MM/DD/YYYYTHH:MM:SS`.

[2016-11-07 23:08] gsrohde commented on #201
@dlebauer In preparation for bulk upload, I had to make the following changes:

## CSV file:

Column "sitename" must be "site".
Hyphens are required in date values; e.g., 2016-08-08, not 20160808.

## Database:

"NDVI" must be a trait variable in the `trait_covariate_associations` table.  I added a row for trait NDVI (with optional covariate "age").

Entries in the `citations_sites` table must be

[2016-11-07 23:09] ZongyangLi commented on #193
@dlebauer My bad. This should be work!

[https://drive.google.com/open?id=0B5QCp_Onc6nOMFRwZjdCcl9hOWs](https://drive.google.com/open?id=0B5QCp_Onc6nOMFRwZjdCcl9hOWs)

[2016-11-07 23:13] dlebauer commented on #193
@max-zilla should we upload these directly to BETYdb or will the extractor do this?

[2016-11-07 23:18] ZongyangLi commented on #193
@dlebauer
I also create a height distribution from ply files. It records total number of points in a height level. For example, Z coordinates is divided into 400 levels, assuming level 65 is the ground plane, level 65 may contains 120000 points from the point cloud data. I'm not sure how to build the csv file. Could you give me a field name of the csv file as canopy cover above?

[2016-11-07 23:33] dlebauer commented on #193
@ZongyangLi For each plot, could you find the height that contains 95% of the points and provide this height (in units of meters above the ground) as the trait 'height' with method '95th quantile point cloud' or something along these lines?

[2016-11-07 23:33] dlebauer commented on #193
@ZongyangLi alternatively, you could just call the trait '95th_quantile_height'.

[2016-11-08 00:19] nfahlgren commented on #136
@max-zilla I think that did it, it definitely transferred the test snapshot directory

[2016-11-08 04:53] dlebauer commented on #124
No rush to release

[2016-11-08 04:54] dlebauer commented on #187
@zongyangli yes that sounds correct

[2016-11-08 14:22] rickw-ward commented on #187
does focusing on 16 units e/w preclude consideration of the middle two rows of a single, four-row plot since those two middle rows will be in separate units?   Does it not make sense to make a boundary for each row separately instead of two rows units?

[2016-11-08 15:02] dlebauer commented on #187
We can have many ways to define plots - single, double, quadruple rows.
This should be driven by use cases, only different when necessary, and
hierarchical where possible. So if you define the plot shapes and names we
can generate them.
On Tue, Nov 8, 2016 at 8:22 AM Rick Ward <notifications@github.com> wrote:

[2016-11-08 15:37] jterstriep commented on #195
I couldn't get the terra.ply2las.py run. I finally tracked down the problem to a bad virtualenv at /projects/arpae/terraref/shared/extractors/pyenv/bin/activate. Once activated, python still points to the ROGER module python rather than the wrapper in the virtualenv so the terra.ply2las.py doesn't find pyclowder.

Should I fix this? Is anything else using /projects/arpae/terraref/shared/extractors

[2016-11-08 15:56] max-zilla commented on #195
@jterstriep I also realized during testing yesterday that the extractor requires two additional modules to be loaded or it will fail on the actual extraction (GCC and proj4) - I updated the batch_launcher.sh and ran git pull on the one you're using.

You can fix that, sure - nothing else is using that environment. I had copied it from /home/mburnet2/extractors/pyenv rather than recreating it which

[2016-11-08 16:07] jterstriep commented on #195
@max-zilla OK, I'll rebuild it.

We might want to revisit this. I'm beginning to think batch_launcher.sh for each extractor might not be the best approach.

[2016-11-08 17:46] max-zilla commented on #195
@jterstriep uploaded a sample PLY file to Google Drive for you:
https://drive.google.com/file/d/0B42lleyRvKnlaFlWRXQyMzhCZ1U/view?usp=sharing

Verified at http://rabbitmq.ncsa.illinois.edu:15672/#/queues/clowder/terra.ply2las that the ply2las queue is empty with 0 consumers - uploading that PLY file to a new dataset as the Maricopa Site user in Clowder should trigger a message that your extractor

[2016-11-08 20:29] ZongyangLi commented on #193
Here is the plant height estimation using 3d Scanner data  in season 2(in units of meters):
[https://drive.google.com/open?id=0B5QCp_Onc6nOM1R4TUZQdTdwSkU](https://drive.google.com/open?id=0B5QCp_Onc6nOM1R4TUZQdTdwSkU)

Assuming that the lowest point is the ground plane.

Below is an easy way to show these data:
[https://drive.google.com/open?id=0B5QCp_Onc6nOdzI0VzExZ1o0dzQ](https://drive.google.c

[2016-11-08 22:32] gsrohde commented on #201
@dlebauer I was going to finish this this afternoon but I realized I need to add a treatment for this data set.  (No existing treatment is associated with the Rick Ward citation.)

[2016-11-08 22:47] dlebauer commented on #193
@gsrohde could you please insert the datasets that Zongyang provided above ([here as a zip file with five csv files, one per date](https://drive.google.com/open?id=0B5QCp_Onc6nOM1R4TUZQdTdwSkU))?

[2016-11-08 22:50] dlebauer commented on #193
actually @max-zilla and @ZongyangLi is there already an extractor that will put these into BETYdb, or should @gsrohde go ahead and uploads them?

[2016-11-08 22:51] dlebauer commented on #201
@gsrohde the treatment should be the same as the one for Maria's data, and if it does not exist it can be 'observational'

[2016-11-08 22:55] gsrohde commented on #193
@ZongyangLi    Closer, but not there yet.  The date should have the form “YYYY-MM-DDTHH:MM:SS” not “MM-DD-YYYYTHH:MM:SS”.  So, for example "05-07-2016T09:42:14” should be “2016-05-07T09:42:14”, assuming “05” is the month and “07” is the day of the month.

From: ZongyangLi <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/computing-pipeline <reply@reply.github.com<mailt

[2016-11-08 22:59] gsrohde commented on #193
@ZongyangLi Sorry -- maybe I wasn't looking at the latest files.  The dates are in the right format in https://drive.google.com/open?id=0B5QCp_Onc6nOM1R4TUZQdTdwSkU.

[2016-11-08 23:16] ZongyangLi commented on #193
@gsrohde I think you are right, there are two different traits, the first is 'canopy cover', file above is in a wrong format, the right one is here:
[https://drive.google.com/open?id=0B5QCp_Onc6nOSXRtZjRhU2E3cVU](https://drive.google.com/open?id=0B5QCp_Onc6nOSXRtZjRhU2E3cVU)

The second datasets is 95th quantiles height estimation:
[https://drive.google.com/open?id=0B5QCp_Onc6nOM1R4TUZQdTdwSkU](ht

[2016-11-08 23:22] gsrohde commented on #201
@dlebauer The names of Maria's treatments are "Control", "low density", "medium density", and "high density".  Which, if any of these, should I use?  Or is it better to have distinct treatments for distinct citations (even if the treatments are essentially the same)?  Or does it matter?

[2016-11-08 23:23] dlebauer commented on #201
Use "Control"; density treatments were from the first season.

[2016-11-08 23:28] gsrohde commented on #201
Also, what should the access level be?

[2016-11-08 23:29] dlebauer commented on #201
2

On Tue, Nov 8, 2016 at 5:28 PM Scott Rohde <notifications@github.com> wrote:

[2016-11-08 23:40] gsrohde commented on #201
OK, done (except for adding cultivar information).

[2016-11-09 15:55] gsrohde commented on #193
@dlebauer I will wait to do anything pending @max-zilla and @ZongyangLi's answer whether or not there is an extractor to handle this.

[2016-11-09 16:00] gsrohde commented on #193
I re-read @ZongyangLi's message and see there is no extractor for 'height estimation', so I will upload that data.

[2016-11-09 16:46] gsrohde commented on #193
@dlebauer, @ZongyangLi, @max-zilla: OK, the 95th quantile height data is in.  The trait id numbers are 13823–16164.  I had to first add '95th_quantile_height' to the `trait_covariate_associations` table.  (I used 'age' as the (optional) covariate.)

Note that before the canopy cover data can be inserted, either directly via the API or via an extractor, the 'canopy_cover' variable will need an entr

[2016-11-09 16:49] dlebauer commented on #193
@gsrohde I thought we discussed either a) removing the requirements that there be trait_covariate_associations or b) having it auto-populate when a new variable is added. Otherwise, we will keep running into this issue.

[2016-11-09 22:23] gsrohde commented on #193
@dlebauer I do remember some discussion, but I don't remember what, if anything, we decided.

Thinking about it now, this seems like a reasonable behavior:

1. Any column heading that matches an existing variable name will be recognized as a trait variable except (a) if it is listed in the `trait_covariate_associations` table as a covariate; (b) in the unlikely event that it also happens to match

[2016-11-10 01:06] dlebauer commented on #193
Yes that sounds correct
On Wed, Nov 9, 2016 at 3:23 PM Scott Rohde <notifications@github.com> wrote:

[2016-11-10 16:24] max-zilla commented on #98
Pictures!
<img width="613" alt="screen shot 2016-11-10 at 10 22 53 am" src="https://cloud.githubusercontent.com/assets/14166971/20184910/e4b32d26-a72f-11e6-9955-b6343e190328.png">
<img width="639" alt="screen shot 2016-11-10 at 10 23 20 am" src="https://cloud.githubusercontent.com/assets/14166971/20184909/e4b09afc-a72f-11e6-8658-8ad826f6b2ee.png">

[2016-11-14 01:59] czender commented on #88
@yanliu-chn please update the NCO build/module on roger to 4.6.2-beta03 which contains some new features helpful to the hyperspectral calibration. Thank you.

[2016-11-14 03:50] yanliu-chn commented on #88
Done. set default to 4.6.2-beta03. To use:

[code]

[2016-11-14 18:41] czender commented on #88
@max-zilla or @yanliu-chn  @craig-willis
hyperspectral workflow now requires that the eight VNIR calibration *.nc files just added to HS scripts directory reside in the same directory as hyperspectral_workflow.sh. Since they all are in the same git directory, this should be automatic. But if extractors ever separate them, some paths will need to be modified. HS workflow now _requires_ NCO 4.6.2-be

[2016-11-14 19:45] rachelshekar commented on #181
@jdmaloney - update needed

[2016-11-14 19:48] rachelshekar commented on #194
@jterstriep  - can this issue be closed?

[2016-11-14 19:50] rachelshekar commented on #145
can this issue be closed?

[2016-11-14 19:50] rachelshekar commented on #101
can this issue be closed?

[2016-11-14 19:55] rachelshekar commented on #184
is this running now?

[2016-11-14 20:13] craig-willis commented on #184
There are still a few open issues:
* Are the provided Cloud9/pyClowder and JupyerLab environments acceptable?
* If so, I'll need to officially publish these via NDS Labs before closing.
* As far as I know, the 502 error from Clowder is still there, but should probably be a separate issue
* The Tool Server seems to go down periodically, but unrelated to this ticket and should probably be a separate

[2016-11-16 19:58] dlebauer commented on #156
@Zodiase before we close this ... is the extractor actually running?

We can downscale the met data to 15 minutes

[2016-11-16 20:01] dlebauer commented on #173
@Zodiase yep the two examples that @robkooper pointed out should work and I can help if you have any questions about how to use R. The part I am not familiar with is how to query and subset from the geostreams API (in download.clowder).

* download.clowder which just does a query and downloads the geostream to disk, see for example https://github.com/PecanProject/pecan/blob/master/modules/data.atm

[2016-11-16 20:03] #109 closed

[2016-11-16 20:04] dlebauer commented on #121
@solmazhajmohammadi what is the status of this issue?

[2016-11-16 20:08] Zodiase commented on #156
@dlebauer I can't really tell if the extractor is running or not. I don't know much (anything) about deployment. @max-zilla Is the extractor running?

[2016-11-16 20:09] dlebauer commented on #41
@nfahlgren can you please update this issue and create a new one if we are going to do something else with the [documented pipeline](https://terraref.gitbooks.io/terraref-documentation/content/genomic-data-standards.html)?

[2016-11-16 20:11] max-zilla commented on #156
@dlebauer @Zodiase the extractor has been completed and ready but it isn't deployed on production yet, @robkooper and I were waiting until after the event last week to install PostGIS plugin on production.

Postgres is on that machine now so I can get the geostreams stuff set up this week and deploy on production.

[2016-11-17 15:34] dlebauer commented on #188
@remotesensinglab and @Mamatemenrs
* do you have the files that you need?
* can you review and flush out the UAV documentation? https://terraref.gitbooks.io/terraref-documentation/content/user/protocols-UAV.html

[2016-11-17 15:38] #187 closed

[2016-11-17 15:38] dlebauer commented on #186
Is this waiting on #188 ?

[2016-11-17 15:51] dlebauer commented on #184
@craig-willis I'd say great - go ahead and publish these.

However, the tool server crashed. Please open a separate issue. Or maybe someone else on the team (@jterstriep?) can assist?

[2016-11-17 15:53] dlebauer commented on #136
@max-zilla and @nfahlgren what is the status here? Can it be closed?

[2016-11-17 15:58] craig-willis commented on #184
Thanks, @dlebauer

I've confirmed that both the dev and production instances of the toolserver are currently running. What specifically are you seeing -- the list isn't appearing in Clowder?

[2016-11-17 15:58] dlebauer commented on #156
@Zodiase can we upscale these to 15 minutes before inserting into the database? Everything should be averaged except precipitation should be the sum.

[2016-11-17 16:08] dlebauer commented on #97
remaining issues:
* [ ] link cultivars to trait records
* [ ] associate plots with experiments

[2016-11-17 16:26] dlebauer commented on #152
@nfahlgren Two issues to address and one other thought

* [ ] how much does the result depend on distance to sensor?
* [ ] one scientist* raised the concern that the light is not strong enough to saturate the photosynthetic machinery -
  * Maybe this is a concern for physiological measurements, but less important for phenotyping where the differences are more important.
  * *I can track down the s

[2016-11-17 17:19] Zodiase commented on #156
@dlebauer OK I can make that change. How do you want to partitioning the data records into 5-minute chunks? For example, if the first record in the first file in the dataset is at `00:01:12`, does the first 5-minute block start from `00:01:12` to `00:06:12`, or `00:00:00` to `00:05:00` or `00:01:00` to `00:06:00`? The latter two styles may fragment blocks. For example, the last few records in the

[2016-11-17 17:24] max-zilla commented on #101
I plan to install geostreams stuff today/tomorrow and deploy this on production, then I'll close.

[2016-11-17 17:33] Zodiase commented on #156
@dlebauer I just glanced at one of the dataset files and apparently neither the files nor the dataset has a clean temporal cut-off. So the latter two styles would definitely create issues. Another strategy would be using `00:01:12` as the start time of the block, and keep adding data records until the next one falls out of `00:06:12`, and use the time of the last added one as the end time of the b

[2016-11-17 17:37] #136 closed

[2016-11-18 20:58] craig-willis opened #204 "Toolserver security and authentication"
NCSA security has started scanning Nebula VMs for security vulnerabilities. One identified vulnerability is unsecured Docker containers, specifically Cloud9 and other services that provide shell access. Currently, toolserver containers use default passwords.

### Description
We should consider adding authentication to the Tool Server containers using non-default passwords. This would also prevent

[2016-11-18 20:58] craig-willis commented on #184
Dockerfiles are now part of ndslabs:
https://github.com/nds-org/ndslabs-clowder/tree/master/dockerfiles/devenv

Images available via ndslabs Dockerhub account:
https://hub.docker.com/r/ndslabs/jupyterlab-pyclowder/
https://hub.docker.com/r/ndslabs/cloud9-pyclowder/

Opened #204 to address toolserver authentication/security concerns.

[2016-11-18 20:59] #184 closed

[2016-11-18 21:00] craig-willis commented on #160
@rachelshekar @max-zilla
I'm assigned to this ticket, but not clear what my role is.

[2016-11-18 21:10] rachelshekar commented on #160
@dlebauer - who should be working on this? It's a huge task.

[2016-11-18 21:11] max-zilla commented on #160
@craig-willis @rachelshekar I created this originally. Craig we can discuss on Tuesday.

[2016-11-18 21:40] robkooper commented on #204
I would like for it to use clowder username and password. This can be done by going to the clowder/api/users/me endpoint with a username and password.

I would love to see how toolmanager works and how it comparses to the toolserver we have. If possible it would be good to use toolmanager.

[2016-11-18 22:00] craig-willis commented on #204
Thanks @robkooper.  The "toolmanager" is basically an extended (and misnamed) version of the toolserver to run in the Labs Workbench environment developed for NDSC6.  The idea was to show how to extend the TERRA toolserver to work with other services, in this case Dataverse.
The main changes were:
* using dind (docker in docker), which is likely unnecessary for TERRA
* fronting with nginx as a rev

[2016-11-22 15:43] max-zilla commented on #101
I installed geostreams database on production and deployed the geospatial metadata extractor. Closing this issue.

[2016-11-29 14:42] max-zilla commented on #195
@jterstriep any updates on this?

the ```terra.demosaic``` queue is slowly filling up since there's only 1 extractor currently deployed on a VM - up to 257,000 messages. this is this one:

[code]

(most of those messages are datasets that will be checked and determined to be irrelevant, but they still need to be checked)

...this might be a good case to test with.

[2016-11-29 18:37] FlyingWithJerome opened #205 "Wavelength Number for VNIR and SWIR"
@solmazhajmohammadi
@czender and I noticed that the wavelength number in SWIR from November 2 is pretty strange. It is 273 instead of 272 (SWIR) or 955 (VNIR) we've usually seen.
Is it a fault or the wavelength number can be something other than 272 and 955?
The exact file is in
[code]
and the error message is generated by hyperspectral_workflow.sh by executing:
[code]

Error Message:
[code]

[2016-11-29 19:12] max-zilla commented on #136
@nfahlgren i know this is a closed issue, but next time you are going to run something with this please do a docker pull on the image first. @jdmaloney and I found a flag in the globus transfers that needed to be changed so timestamps were properly updated and I pushed it this morning.

[2016-11-29 21:59] max-zilla commented on #181
@jdmaloney and I noticed this suddenly got fixed this morning - PLY files are now moving (currently on Nov 5) and counting. @smarshall-bmr @TinoDornbusch was anything done this morning to address PLY transfer over FTP? Was anything restarted? whatever was done, this is now working...

[2016-11-29 22:09] solmazhajmohammadi commented on #181
@max-zilla PLY worker has been restarted today. The licensing issue has been resolved,  you should see the ply data from side cameras as well.

[2016-11-29 22:29] solmazhajmohammadi commented on #205
@FlyingWithJerome,
New sensor has been installed on late October. 11/02 should be the first set of data with new sensor, all the data after Nov 2nd has been collected with 273 bands.
I can look at the settings to see if we can reduce the spectral resolution to 272, if you think it is necessary.

[2016-11-30 03:51] TinoDornbusch commented on #181
Yes, ply worker is working again.

However for the side 3D we have still have to do some adjustment. @jdmaloney We need to delete the folders on the gantry cache server:
/gantry_data/LemnaTec/MovingSensor.reproc2016-8-18/scanner3DLowerOnWestSide
/gantry_data/LemnaTec/MovingSensor.reproc2016-8-18/scanner3DLowerOnEastSide

They do not contain properly calibrated data.

Newly computed ply files for e

[2016-11-30 03:54] jdmaloney commented on #181
@TinoDornbusch These directories have been deleted, we'll be removing the data that was in them from the ROGER side as well so things are in sync.

[2016-11-30 14:07] TinoDornbusch commented on #181
@JD Maloney. We or better the software are not able to create folders under /gantry_data/LemnaTec/MovingSensor.reproc2016-8-18

[2016-11-30 14:14] TinoDornbusch commented on #181
@jdmaloney  now it works thanks. Ply worker is running now for east scanner system

[2016-11-30 14:17] jdmaloney commented on #181
@TinoDornbusch I made no changes to the directory, must have been something in the software. Just saw your last two messages.

[2016-11-30 15:05] rachelshekar commented on #85
@jterstriep - has this been deployed?

[2016-11-30 15:06] rachelshekar commented on #193
@dlebauer - who should this issue be assigned to?

[2016-11-30 15:08] rachelshekar opened #206 "FLIR calibration"
How close are we to having calibrated data from this sensor?

[2016-11-30 15:10] rachelshekar opened #207 "FLIR - compute plot level means"
This follows from issue #151 which processed output from the FLIR camera and put Level 1 FLIR data in /sites/ua-mac/Level_1/flirIrCamera

This issue should include the following steps:

* [x] subset FLIR images to the plot level
  * if there is any soil in the image, it should be excluded from the temperature calculation
* [x] generate thumbnail with plot boundaries shown
* [ ] compute mean temper

[2016-11-30 16:03] dlebauer commented on #206
@rachelshekar based on https://github.com/terraref/computing-pipeline/issues/151#issuecomment-247247854, my understanding is that this sensor is internally calibrated and the output is in units of milli Kelvin (mK). @ZongyangLi, @Mamatemenrs or @remotesensinglab could you please confirm and close this?

[2016-11-30 16:08] dlebauer commented on #193
@rachelshekar I've assigned it to @ZongyangLi. The remaining step is to automate the insertion into BETYdb. For the samples above we uploaded manually, but it should be straightforward to automate this step now that the data and metadata are in the correct format for BETYdb.

[2016-11-30 16:18] ZongyangLi commented on #206
@rachelshekar @dlebauer
I think there is a parameter in metadata to describe the calibrated vs. uncalibrated data: `"sensor_fixed_metadata": {
"calibrated": "true"
}`

If the raw data is uncalibrated, it would be done in the extractor.
Codes mentioned in #151 had provided an extractor to generate the calibrated data from this sensor. And it had been deployed by @max-zilla .

[2016-11-30 16:18] #206 closed

[2016-11-30 16:32] ZongyangLi commented on #193
@dlebauer @rachelshekar
Extractor codes for 'canopy cover' is now in @max-zilla 's branch: [https://github.com/terraref/extractors-stereo-rgb/tree/canopycover/canopycover](https://github.com/terraref/extractors-stereo-rgb/tree/canopycover/canopycover), i think it is ready for deploy.

Shall we close this issue and open another issue for 'Height distribution' because this creation looks for a set o

[2016-11-30 16:38] rachelshekar commented on #144
@FlyingWithJerome - can this be closed?

[2016-11-30 16:39] rachelshekar commented on #183
@hmb1 and @FlyingWithJerome please update this issue.

[2016-11-30 16:39] rachelshekar commented on #194
@jterstriep ???

[2016-11-30 16:46] rachelshekar commented on #145
@max-zilla and @jterstriep  - can this issue be closed?

[2016-11-30 16:50] rachelshekar commented on #150
@Mamatemenrs and @remotesensinglab - please update this issue

[2016-11-30 17:06] max-zilla commented on #145
@rachelshekar not yet. i'll try to get this updated this week - JD and I are dealing with some pipeline things today.

[2016-11-30 17:37] dlebauer commented on #193
@ZongyangLi yes, please open another issue for 'Height distribution'.

before closing this, there are a few issues:
* @rmgarnett found that the quantiles do not correlate well with measured height, I suspect because there is a varying fraction of points that represent the soil surface.
* we currently insert '95th quantile height' but it would be better if we could come up with the best estimate of

[2016-11-30 17:50] rachelshekar commented on #188
@remotesensinglab and @Mamatemenrs please update this issue

[2016-11-30 17:52] rachelshekar commented on #185
@Mamatemenrs - please update this issue

[2016-11-30 17:54] rachelshekar commented on #41
Phil from Todd’s group is working on this
@nfahlgren and @nshakoor  - where did we leave this? Should we discuss using / contributing to CoGe? Or should we discuss deploying pipeline at NCSA? Both? Other?
CoGe only partially meets our needs.  Should we work with CoGe developers to implement changes?  This may take longer than we have
Can use pipeline that Phil’s group is using.  Should we implemen

[2016-11-30 18:00] rachelshekar commented on #173
@Zodiase - can you update this?

[2016-11-30 18:04] rachelshekar commented on #87
@jdmaloney ???

[2016-11-30 18:05] jdmaloney commented on #87
@rachelshekar This is running now, the code is all ready.  It's processing the backlog up to a point, and will continue once @max-zilla and I get the pipeline all fixed up.

[2016-11-30 18:14] rachelshekar commented on #200
@max-zilla - should this be closed?

[2016-11-30 18:14] rachelshekar commented on #199
@Mamatemenrs - can this issue be closed?

[2016-11-30 18:16] rachelshekar commented on #198
@jdmaloney - has this been corrected?

[2016-11-30 18:16] rachelshekar commented on #197
can this be closed?

[2016-11-30 18:17] max-zilla commented on #197
no. jeff is picking this back up this week.

[2016-11-30 18:27] czender commented on #205
@solmazhajmohammadi @FlyingWithJerome It is not strictly necessary to use 272 instead of 273 bands in the hyperspectral workflow. However, changing from 272 to 273 means that no SWIR images from before 11/2 will be directly comparable (i.e., without interpolating wavelengths) to files after 11/2. If this is acceptable to @dlebauer and others, we will make the workflow work with either 272 or 273 S

[2016-11-30 18:49] jdmaloney commented on #198
@rachelshekar Yes, I'll close the issue.

[2016-11-30 18:49] #198 closed

[2016-11-30 19:06] Mamatemenrs commented on #199
Yes, please.

[2016-12-01 17:07] rachelshekar commented on #207
@solmazhajmohammadi - can we use RGB to mask FLIR?

[2016-12-01 17:07] czender commented on #205
We would also like clarity on whether the 273 wavelengths duplicate the 272 wavelength grid and add one more, or whether all 273 wavelengths are slightly shifted. This would help us understand whether interpolation or simple hyperslabbing are required to intercompare 272 with 273 wavelength images.

[2016-12-01 17:16] FlyingWithJerome commented on #144
Yes, I will close it

[2016-12-01 17:26] rachelshekar commented on #194
This is not a problem - Jeff

[2016-12-01 17:26] #194 closed

[2016-12-01 17:27] dlebauer commented on #194
per discussion today ... Roger can currently handle the largest files; takes approx. 1.5 hr to process

[2016-12-01 17:31] rachelshekar commented on #201
Need to add genotype data before closing.

[2016-12-01 17:33] dlebauer commented on #201
@rickw-ward do you have times for these flights?

[2016-12-01 17:34] czender commented on #194
If the project has extra money to spend, consider adding some big memory (e.g., 1 TB or greater) nodes to Roger (or another cluster). Then if working with 128 GB plant reflectance field becomes troublesome, a potential hardware workaround (fatter nodes) will be available.

[2016-12-01 17:35] solmazhajmohammadi opened #208 "Hyperspectral Calibration"
Meeting notes from 2016/11/16
Charlie Zender:
" Reflectances are too high when white counts are close to dark counts (denominator is small) and/or exposure (numerator) is large. White reference calibration standard is suspect. Dark counts look reasonable. White reference is uneven, possibly too low in UV and NIR."
Here is the examples from @czender
![rfl_img_max](https://cloud.githubusercontent.co

[2016-12-01 17:46] solmazhajmohammadi commented on #208
Here is the data I got from  2016/10/21 using 20ms exposure time at 2:58PM:
![ref](https://cloud.githubusercontent.com/assets/17046539/20805189/5f59e97a-b7bb-11e6-8249-004fbf48682e.jpg)
@czender can you please let me know the exact timestamp, so I can look at the same data that you used to plot your data.

[2016-12-01 18:06] solmazhajmohammadi commented on #208
@czender , Do you have spectralon target in the FOV when you are processing your data? If spectralon target is in your region of interest, so this will explain why you are getting these data. Please let me know exactly which data you are looking at.
your white reference is the average of the pixels in the spectralon target. So in your calibrated data, you might see values greater than one, when yo

[2016-12-01 20:42] #199 closed

[2016-12-01 20:50] #181 closed

[2016-12-01 21:25] solmazhajmohammadi commented on #205
@czender This was not a decision to change the wavelength grid. Unwanted change that happened when we got a new camera.
The wavelength spread(how many nanometers a given pixel represents) for the new camera is 5.90-5.91nm and for the old sensor is 5.914-5.920nm. And in total spectral resolution has been increased by 4.6190nm.
linear interpolation between the two adjacent pixels can solve this.

[2016-12-02 17:01] rickw-ward commented on #201
@dlebauer I have lost the thread- which flights?

[2016-12-02 18:56] solmazhajmohammadi commented on #88
Please find the white spectralon measurement using SWIR camera here:

https://drive.google.com/drive/folders/0B9h5V5JdLLXmRHZJN0d1VXJLNVE?usp=sharing

Each folder contains one line of dark reference measurement. The raw file is the scan of spectralon target and 8 calibrated color targets on the top of the spectralon target, please choose your region of interest only from white target.
Please note

[2016-12-02 20:52] dlebauer commented on #205
I understand the new camera has very slightly different specifications, and changing the wavelength grid is imposed by the manufacturer. Summarizing from above:

* wider spectral range by (<4.62nm of ~1500 nm total)
* higher spectral resolution (narrower bands) (by <0.01nm  of ~5.6nm)
* more bands (273 instead of 272)

@czender to reply to your comment " IMHO changing wavelength grids should be a

[2016-12-02 20:52] dlebauer commented on #205
@solmazhajmohammadi can you work with @craig-willis to put the metadata from the new SWIR into the appropriate location?

[2016-12-02 21:59] czender commented on #205
That's all fine with me. I didn't know until yesterday that there would be other instruments with SWIR-like characteristics to intercompare with. NB: We already interpolate the Spectralon reflectance from the factory to the SWIR and VNIR grids, so it's nothing too new.

[2016-12-02 22:21] czender commented on #88
I'll defer this until the camera is repaired and someone affirms that the SWIR spectralon measurements apply to the repaired camera.

[2016-12-06 15:47] max-zilla opened #209 "Conversion of captured images to plot-level tiles"
This piece of functionality is necessary for several extractors and project deliverables. It is related to #159 that factors out geospatial metadata extraction.

- https://github.com/terraref/computing-pipeline/issues/207 FLIR - compute plot level means
- https://github.com/terraref/computing-pipeline/issues/85 Create full field stitched mosaic

We want to avoid duplicating effort if possible, and

[2016-12-06 15:58] Mamatemenrs commented on #185
Eventually, @rickw-ward and his group have processed the UAV data. So, I have no more updates on this issue. Thanks.

[2016-12-06 17:15] rachelshekar commented on #152
Still need more information how to get traits from this camera, what is the further goal for PSII data.
Still working with Noah on how to process the data
-Zongyang

[2016-12-06 17:15] rachelshekar commented on #188
Rick has already processed some of the data.  He will provide reference data.  Wasit will create Level 1 phenotypic data.

[2016-12-06 17:28] rachelshekar commented on #106
@jdmaloney  - is this running now?

[2016-12-06 17:38] rachelshekar commented on #188
Wasit et al  will work on the documentation and requirement for UAV products and data. I think Rick is doing plot level phenotype analysis for the UAV data.

[2016-12-06 18:54] max-zilla commented on #195
@robkooper @jterstriep

Rob, Jeff has pushed some edits to the PLY->LAS extractor based on making things better suited for the HPC environment. He took a look at how we had the extractors set up on Roger and had some modifications to the code to better prepare for HPC environment.

These are edits to a **pyClowder 1** extractor. We went over those changes together and several of them fit the direc

[2016-12-06 20:37] max-zilla commented on #195
Needed to create pull request for Clowder to support doing this for files: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1085/overview

The dataset extractors (aka the majority of them) should be fine.

[code]

Now to generate the UUID lists.

[2016-12-07 15:54] hmb1 commented on #183
HI David,
 do you have a long name for the spectral-index TCARI/OSAVI
Thanks

[2016-12-07 16:21] max-zilla commented on #193
@ZongyangLi i've picked this back up, sorry for the delay. I ran your canopy cover extractor successfully and included it in an update of the demosaic extractor for pyClowder 2. Should be able to deploy this week.

Here's the pull request FYI:
https://github.com/terraref/extractors-stereo-rgb/pull/3/files

[2016-12-07 17:23] dlebauer commented on #183
@hmb1 CF doesn't have a standard name but for NDVI it is

* standard_name normalized_difference_vegetation_index
* definition: "Normalized_difference_vegetation_index", usually abbreviated to NDVI, is an index calculated from reflectances measured in the visible and near infrared channels. It is calculated as NDVI = (NIR - R) / (NIR + R) where NIR is the reflectance in the near-infrared band and R

[2016-12-07 18:17] ZongyangLi commented on #193
@max-zilla This is great! Thanks a lot!

[2016-12-07 18:41] dlebauer commented on #193
@max-zilla when we run the extractor we should compute these values for all plots within a season. For example, for any data after June this would include `select name, geometry from sites where name like 'MAC%Season 2%';`

[2016-12-08 08:27] Zodiase commented on #156
I've implemented the aggregation logic and the code is currently in this branch: https://github.com/terraref/extractors-meterological/tree/5-min-aggregation

@max-zilla Could you test it? I only added some testing code in `parser.py` and played with some test data (also included in the branch) locally. I think it would be better to test from a deployed extractor.

To change aggregation options:
-

[2016-12-08 16:40] ZongyangLi opened #210 "Insert plot level height histogram into Clowder geostreams; height into BETYdb"
### Description

We have scripts to generate plot level height histogram on Roger. The next step is to create a pipeline for this extractor.

### Completion Criteria

- [x] @solmazhajmohammadi need to provide a parameter of "the position of the calibration object"
    - we are now making our assumptions of where is the (0,0,0) point in the field coordinate system.
    - from @solmazhajmohammadi we

[2016-12-08 17:19] dlebauer opened #211 "Upload tractor data to BETYdb"
TODO

* [x] make sure variables are defined in [terraref BETYdb](terraref.ncsa.illinois.edu/bety/variables) (if they do not exist
* [x] upload csv files to google docs
  * we can discuss formatting here
  * see [documentation for bulk uploads](https://pecan.gitbooks.io/betydbdoc-dataentry/content/bulk%20upload.html), especially the traits.csv template

[2016-12-08 18:44] solmazhajmohammadi commented on #208
@remotesensinglab Continuing the discussion from Google doc in here:
I have used the average of dark image and subtracted the value. I didn’t  see the behaviour in my dataset.

[2016-12-08 18:56] czender commented on #208
I suggest that when the HS extractor is running, we all look at the same output file...

[2016-12-09 20:06] max-zilla commented on #197
Going to close this issue and move discussion to #195 / new issues.

[2016-12-09 20:06] #197 closed

[2016-12-09 20:15] max-zilla opened #212 "Build lists of dataset IDs to be submitted for extraction"
In order to complete the bulk extraction on older datasets, a list of dataset UUIDs that have not yet been processed needs to be created for each extractor. This is done directly from the Mongo database and written into a file.

**example mongo query - demosaic extractor**
Find all datasets where we can't find any metadata created by the demosaic extractor.
[code]

**extractors with lists to be ge

[2016-12-09 20:22] max-zilla opened #213 "Update remaining extractors to use pyClowder 2"
In order to perform bulk processing efficiently and safely, and to make extractors more robust and fail-resistant, we want to migrate them to use the new PyClowder2 python library instead of the original PyClowder, which has several 'hacks' to support our pipeline that 2 makes formal and complete.

This is not terribly difficult, but I am testing as I go along to make sure behavior does not change

[2016-12-09 20:24] max-zilla opened #214 "Submit bulk lists to extraction queue"
Following #212 (to generate lists) and #213 (to add error queue for recovering failed extractions) the UUIDs should be submitted to RabbitMQ for extraction.

**lists to be submitted**
- [ ] demosaic
- [ ] flirIr
- [ ] plantCV
- [ ] hyperspectral
- [ ] ply2las
- [ ] netCDF
- [ ] canopy cover
- [ ] sensorposition (geospatial)
- [ ] environmentlogger

we will iterate through each list and submit the

[2016-12-09 20:25] max-zilla commented on #195
Creating sub-issues for the final drive to completion.
#212
#213
#214

[2016-12-10 21:47] Mamatemenrs commented on #211
Tried to define a variable in BETYdb, not sure if it is an access issue I could not define. Though, the csv file is shared through google docs. @dlebauer @remotesensinglab

[2016-12-12 15:35] jdmaloney commented on #87
This has been completed, automated, and is gathering metrics that will be added into our monitoring.

[2016-12-12 15:35] #87 closed

[2016-12-12 16:07] craig-willis opened #215 "Extractor development VM for hyperspectral output"
Currently, extractor development requires 1) installing the Clowder stack locally and downloading sample data via Clowder/Globus or 2) using the integrated tool-launcher, which is currently not efficient for components requiring larger sample data (e.g., hyperspectral workflow output).  A third option is to setup a dedicated VM with the TERRA-REF mounted locally read-only.  This VM can be used to

[2016-12-12 16:14] craig-willis commented on #215
Initial VM created on ROGER "terra-extractor-development" 141.142.170.146 with ua-mac directories mounted under /data/terra.

[2016-12-12 16:21] dlebauer commented on #211
@Mamatemenrs did you
1. check this variables list https://terraref.ncsa.illinois.edu/bety/variables
2. try to add variables to https://terraref.ncsa.illinois.edu/bety/variables/new?

If you still have access permissions we can take a look. But you should have permission to 'create' records. If you need to modify existing records I can increase your permissions. But if you still can't create a new

[2016-12-12 16:26] gsrohde commented on #211
@Mamatemenrs I tried temporarily downgrading my permission levels to match yours.  I could access the "New Variable" edit page with no problem.  I didn't actually try creating a new variable.  What do you see when you try to define a variable?  What was the name of the variable you tried to define?

[2016-12-12 16:32] max-zilla commented on #213
@jterstriep I just created a pull request for my 3D scanner extractor repo.
https://github.com/terraref/extractors-3dscanner/pull/1/files

- attempts to incorporate your changes from the other branch (command line args, setup.py)
- does not move Dockerfile or setup.py outside the ply2las file. The idea is that this repo will eventually hold multiple 3dscanner extractors, ply2las is just one of the

[2016-12-12 18:54] craig-willis commented on #215
@czender
Until the hyperspectral workflow is fully deployed, is there sample data from the batch runs on ROGER that Henry can use for initial development?  Maybe it can be copied to a subdirectory under ua-mac/Level_1?

[2016-12-13 00:08] jterstriep commented on #213
Part of the configuration is designed around code sharing (eliminating duplication), ease of development, manual and automated testing, automatic builds, and continuous deployments. To meet the needs of all those systems, setup.py and requirements.txt definitely need to be at the root. Of course, this assumes the additional extractors are closely related. If not, then the extractors should be in t

[2016-12-13 03:32] Mamatemenrs commented on #211
Added two variables canopy_temperature and tractor_canopy_height. I shared the CSV file to your email via google docs dlebauer@illinois.edu @dlebauer . Anyway, here is link to the file https://docs.google.com/spreadsheets/d/1NNKtmWFBdoh2iaaXZh9fsu_nNRLMpytJ8Av1bHxpgIg/edit?usp=sharing

[2016-12-13 14:21] max-zilla commented on #213
@jterstriep understood, i'll move setup and requirements to the root. The repo extractors will theoretically all operate on the same type of sensor data so it makes sense to keep them together in that regard, even if their purposes may be different.

Will rename the file as well, just couldn't remember what the reason was.

We're transitioning to pyClowder 2, yeah. Primary reason is that @robkoope

[2016-12-13 14:58] ZongyangLi commented on #152
Some gif files created by a set of PSII raw data:
https://drive.google.com/open?id=0B5QCp_Onc6nOSW41Z3kzU0VQak0

[2016-12-13 15:30] rachelshekar commented on #152
code from noah
https://github.com/nfahlgren/shared_jupyter_notebooks/blob/master/terraref/psII_analysis_demo.ipynb

[2016-12-13 15:30] rachelshekar opened #216 "PSII photo processing"
- if light is saturating, but measurements are relative.
- LEDs are more powerful than Danforth

How to plot data?

Lemnatec sent test data to Noah to compare hand measurements with camera data.  Noah will process this to determine if the camera values are relevant.

Fmax and Fmean look the same
frame 1=fdark, frame2=fmin, frame3=fmax.  Only use these frames.

can a 3d point cloud be used to ident

[2016-12-13 15:30] rachelshekar commented on #152
Notes from phone meeting https://github.com/terraref/computing-pipeline/issues/216

[2016-12-13 19:50] gsrohde commented on #211
@Mamatemenrs Looking at your data file, I thought I should make sure you understand that the variable names in the column headings must match the variable names in the database _exactly_.  In particular, since the units are not part of the name, they shouldn't be in the heading either.  This is all explained here: https://pecan.gitbooks.io/betydbdoc-dataentry/content/bulk%20upload.html.

@dlebauer

[2016-12-13 23:29] smarshall-bmr commented on #216
While giving tours we had a specialist in Photosystem II express doubt that we would be able to saturate the system @TinoDornbusch knows more about this then I do though. Theoretically we should see saturation as "clipping" on the response curve.

I have taken data sets at varying light intensities, exposure times, different distances apart (to characterize leakover distances) and different times

[2016-12-13 23:40] dlebauer commented on #216
@smarshall-bmr the question of how to address this criticism should be captured in the first bullet point in the issue 'Are we saturating the PSII? does it matter for comparison across genotypes?'

What do you mean by 'clipping'? Can you link (or give the dates of) the datasets that you generated at varying light intensities and propose a method of testing if we are saturating PSII?

[2016-12-13 23:42] dlebauer commented on #216
PS the specialist was [Steve Long](http://lab.igb.illinois.edu/long/). Noah said that this concern was pointed out many times with respect to the system at Danforth.

[2016-12-14 14:48] max-zilla commented on #145
Just updated the NCO version in dockerfile and added a 3rd output, JSON format, to netCDF extractor. Closing this issue,

[2016-12-14 14:52] max-zilla commented on #88
Just updated the extractor for NCO 4.6.2-beta03 FYI.

[2016-12-14 14:56] max-zilla commented on #156
I'm pulling this code today while updating the extractor and will test, @Zodiase

[2016-12-14 15:56] yanliu-chn commented on #88
Saw the issue. Thanks! This is consistent with the ROGER nco deployment. Charlie has now pushed a few new releases, let’s update when the next official version comes out. Thanks! -Yan

From: Max Burnette <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/computing-pipeline <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, December 14, 2016 at 8:52

[2016-12-14 16:07] rachelshekar commented on #85
Need #209  to be completed first

[2016-12-14 16:08] rachelshekar commented on #207
Solmaz: I think 3D fusion with IR data would be a better option, using RGB is also good idea. I still have not had a chance to look at the data and test it.

[2016-12-14 16:08] rachelshekar commented on #207
@solmazhajmohammadi -please test the data

[2016-12-14 16:09] rachelshekar commented on #205
@czender - can this issue be closed?

[2016-12-14 16:37] max-zilla commented on #85
#209 can extend from this, but I intend to deploy this extractor even before 209 is completed. This week I updated the extractor for HPC environment based on discussions with @jterstriep and Rob has to fix the terra-clowder VM because some hardware failed yesterday.

[2016-12-14 16:44] rachelshekar commented on #155
Already existing API clients for this

[2016-12-14 16:57] #205 closed

[2016-12-14 17:14] max-zilla commented on #213
Finished initial updates of all extractors; now starting to test updates against clowder-dev.

[2016-12-14 22:18] dlebauer commented on #211
@gsrohde I think for now enforcing standard units and scales is okay, it could be a quagmire to do on-the-fly conversions. But perhaps providing users with a notification of the units that the database assumes after the bulk upload is tested would be useful

@Mamatemenrs I see you created the variable "tractor_canopy_height". I am thinking that these data could be stored as "canopy_height" with th

[2016-12-15 15:52] craig-willis opened #219 "Requirements/mockup for landing page UI"
Discuss and collect requirements for the revised landing page UI (http://terraref.org/) for the upcoming Phenome meeting.  The ultimate goal is to refactor the landing page UI to improve usability for end users.

Completion criteria:
- [ ] Requirements captured in [Google doc](https://docs.google.com/document/d/18Re-yOplJmzcvobMlZO45AnFYndagOS4QnECAtWVIZs/edit)
- [ ] Preliminary mockup
- [ ] Revie

[2016-12-15 16:04] dlebauer commented on #46
@max-zilla it seems like the next step is to create new issues for more manageably sized tasks and close this one ... correct?

[2016-12-15 16:11] max-zilla commented on #46
Yep, just haven't gotten around to it yet.

[2016-12-15 16:28] Mamatemenrs commented on #211
@gsrohde my bad. forgot to delete the units with parentheses from the CSV file. I'll correct that. @dlebauer I created "tractor_canopy_height" in order to differentiate the variable from the existing "canopy_height" variable, I will update. Can you tell me how to add a new field such as "method" to an existing variable in BETYdb ?.Or I can add measurement description to "Notes" field.

[2016-12-15 16:35] Zodiase commented on #173
@robkooper So I know that I could do `https://terraref.ncsa.illinois.edu/clowder-dev/api/geostreams/datapoints?stream_id=5&sensor_id=2` to get the the data points filtered by stream and sensor. Now I also need to filter by `start_time` and `end_time`, is that supported and how may I do that?

[2016-12-15 16:40] max-zilla commented on #173
@Zodiase

[code]

&since=
&until=

are the start/end time I think you want, passed in as a string. In Clowder the PostGres query that's generated:

[code]

see also:
http://stackoverflow.com/questions/23335970/postgresql-query-between-date-ranges

I haven't done this query before but the basic idea should work.

[2016-12-15 16:48] dlebauer commented on #157
@max-zilla what is the status of this issue?

[2016-12-15 16:54] max-zilla commented on #157
@dlebauer https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1051/overview

Still waiting on reviewers. I'll add @robkooper as a reviewer in case he can accelerate things, I've fixed all the known issues with the PR as of a couple weeks ago.

[2016-12-15 17:01] robkooper commented on #157
@max-zilla can you deploy this on terra-clowder-dev. Biggest thing we have to look at with pull request that it does not break geodahboard.

[2016-12-15 17:03] robkooper commented on #173
Make sure to pass the date time as a iso8601 date to make sure it is parsed correctly

[2016-12-15 17:07] Zodiase commented on #173
@dlebauer
So `https://terraref.ncsa.illinois.edu/clowder-dev/api/geostreams/datapoints?stream_id=5&sensor_id=2&since=2016-07-05T17:00:00Z&until=2016-07-05T17:05:00Z` should output a JSON document containing the list of data points from sensor `2`, stream `5` and within that 5-minute block. I don't know what the value of the stream ID or the sensor ID would be since they are assigned when the senso

[2016-12-15 17:10] dlebauer commented on #175
@rmgarnett is there anything you need to complete this?

[2016-12-15 17:12] Zodiase commented on #173
@dlebauer
Due to the nature of the raw data from the datasets, along with the aggregation logic, when requesting data points within a certain 5-minute time span, there might be multiple non-overlapping records which should add up to the entire time span needed.

[2016-12-15 17:14] dlebauer commented on #201
@rickw-ward looks like we have the dates: https://docs.google.com/spreadsheets/d/1qeyYA4x8WX_OnahC6Dr7k1Ut4TuSObMJyYFvOyA_1gY/edit#gid=0

@gsrohde have these been uploaded?

[2016-12-15 17:18] max-zilla commented on #157
@robkooper I can deploy to terra-clowder-dev but I haven't used/deployed geodashboard before, will need to track down some help for that. Will likely wait until Jan 3 given the other things I'm trying to get out this week.

[2016-12-15 17:22] dlebauer commented on #201
Method should be https://terraref.ncsa.illinois.edu/bety/methods/6000000003

[2016-12-15 17:23] dlebauer commented on #201
@rickw-ward can you confirm - was the NDVI measured by the Parrot Sequoia or the MicaSense camera?

[2016-12-15 17:48] max-zilla commented on #195
@jterstriep couple items

https://github.com/terraref/computing-pipeline/issues/213
- i'm setting up a VM on Roger for final 2 extractors here that weren't deployed on a VM before, meteorological (datparser) and 3dscanner ply2las. Then I can close this issue.

- I updated hyperspectral extractor to pyClowder 2 and installed pyClowder 2 in the pyenv for this installation on Roger:
```/projects/arpa