[2017-08-17 21:46] dlebauer commented on #268
See also related issue exists for the point cloud data. https://github.com/terraref/computing-pipeline/issues/257. My comment there was "Goal is for (raster, point cloud) files to differ where it is useful, but have similar interfaces where applicable."

Here are some examples:

* are files OGC compliant?
* where applicable, and to the extent practical, is the following information available in a

[2017-08-20 18:44] smarshall-bmr commented on #350
The platform that holds the targets blew over in the morning of the 8/9 scans. I caught it in the afternoon but the 75% panel apparently got flipped over in the process of putting everything back upright. The images from the morning are all too dark for me to identify if the targets are in place so the first scan I can confirm the presence of the target starts after I set the target stand back up.

[2017-08-22 11:32] hmb1 commented on #350
Hi Stuart,
thanks for the updates  this image is from the VNIR scan on:
 VNIR/2017-08-16/2017-08-16__11-09-33-766

If you identify the targets in the image  that would be grand:

![frame 00028](https://user-images.githubusercontent.com/6428656/29563514-d6d18388-8735-11e7-808f-517bab8268e0.png)

[2017-08-22 12:17] hmb1 commented on #350
Hi stuart,
the scans from 2017-08-09 are pretty variable  - if you could again identify the targets
thanks

![frame](https://user-images.githubusercontent.com/6428656/29565032-2a8c3b66-873c-11e7-8c38-70361e797a72.png)

[2017-08-22 14:49] jdmaloney commented on #342
@lhx-x Sorry for this, was preparing for a conference out of town and ran out of time.  This week is much more open, let me know what times work for you and we'll set this test up.  For commands, you'll want to have the iperf package installed.

Command will be: iperf -c 141.142.169.14

Make sure you have port 5001 open on your host's firewall if it isn't open already.  That's the default port for

[2017-08-22 17:49] lhx-x commented on #342
@jdmaloney Thanks! No worry if you are not available at this time. I'll be ready in the next few days.

[2017-08-23 14:33] dlebauer commented on #352
Would it be possible to install the GoPros at the same time?

I would suggest the following timeline:

* ASAP: Decide which sensors to move
* At least 1 month before next planting season:
    * Move sensors
    * Update  fixed metadata
    * Run test scans
    * evaluate output, especially for geolocation

[2017-08-23 15:58] craig-willis opened #353 "Kubernetes cluster for extractors and Workbench"
After discussions with @robkooper and @max-zilla, we're exploring using the same container cluster (via Kubernetes) to support both the extractor pipeline and Workbench.  This will allow us to share common infrastructure on OpenStack and a common method for scaling up when needed.  This will also reduce the time required for reprocessing, allowing us to easily scale up in the short term.

Initial

[2017-08-23 17:59] craig-willis commented on #353
@jdmaloney  If possible, please change the export from ROGER to 141.142.210.150/29 to read-write. We'd like to use this for testing before deploying in the TERRA project on OpenStack.

[2017-08-23 18:21] craig-willis commented on #310
@max-zilla  How are we documenting the terrautils library going forward?

[2017-08-23 18:23] max-zilla commented on #310
@craig-willis for release, i would start with a short paragraph about each module and what kinds of things it contains. detail beyond that might be excessive for now...

[2017-08-23 19:36] craig-willis commented on #268
Thanks, @dlebauer.

* Looking at the various OGC tests, I don't see one specifically for GeoTIFF.  I've created a TeamEngine account, which appears to focus on OGC web services.  There is a test for GeoPackage, and it is possible to translate GeoTIFF to GeoPackage via the gdal_translate, but I think we'd be testing gdals compliance, not ours.  Aside from simply using GDAL 2.x,  Is there a specific

[2017-08-23 20:37] dlebauer commented on #310
I am a big fan of inline documentation ... would it make sense to put the short paragraphs inside the .py files and use pydoc https://docs.python.org/2/library/pydoc.html or similar to generate html documentation?

[2017-08-23 22:05] dlebauer commented on #268
I've always found the CF convention of time (units of `<interval> since <reference date>`) to be cumbersome, so I have no issue with using a timestamp. The only issue I see with time_utc is that it is more difficult for users to interpret than the local time, which can be represented in ISO-8601 format as YYYY-MM-DDTHH:MM-HH:MM like 2007-04-05T12:30-02:00. My understanding is that this is how we a

[2017-08-24 13:34] rachelshekar commented on #320
@gsrohde can this be closed?

[2017-08-24 16:37] rachelshekar commented on #320
@gsrohde please deploy and close

[2017-08-24 17:03] rachelshekar commented on #350
@hmb1 thinks the hyperspectral camera many not be directly above the targets.  It is also possible that the camera is not parallel to the ground.  @smarshall-bmr  - can you look into the latter issue?

[2017-08-24 17:10] jdmaloney commented on #353
@craig-willis I'm seeing an export to: 141.142.210.144/29 is that the one you're desiring the change for?  Just want to double check, as there is no export for the above CIDR range.

[2017-08-24 17:24] craig-willis commented on #353
@jdmaloney My mistake -- I couldn't find my original request.  That should be ti.

[2017-08-25 18:41] craig-willis opened #354 "Change heightmap extractor to produce GeoTIFFS"
Currently the 3dscanner heightmap extractor produces BMP files that are not georeferenced.  The extractor should be updated to produce accurately georeferenced GeoTIFFs that can also be used for fullfield stitching.

Using the existing terrautils create_geotiff method, it looks like there are a number of factors with the 3D scanner that need to be considered (and currently aren't). Per discussions

[2017-08-28 16:51] craig-willis commented on #354
The terrautils method calculate_gps_bounds (https://github.com/terraref/terrautils/blob/master/terrautils/extractors.py#L293) needs to be updated to handle the 3dscanner data.

[2017-08-28 17:21] craig-willis commented on #353
After discussions with @robkooper , will deploy in the Nebula OpenStack TERRA project. On ROGER today, there are 7 instance with a total of 24VCPUs and 60GB RAM for extractors. The  Nebula Workbench instance uses 4 VCPU/32GB RAM (and was scaled up to 4 instances with total 16VCPU/96GB for PI4 workshop).  We currently have 24VCPU/100GB RAM available on OpenStack. Kubernetes requires master/controll

[2017-08-29 17:43] craig-willis commented on #268
@dlebauer Thanks for the details.  A few comments/questions:
* Local time is always Champaign? (I noticed that BETY API appears to be returning UTC also).
* The FLIR example is helpful.  This means that the extractors will need to each provide a set of variables to the create_geotiff method.  In conversations with Max, the georeferencing information can be calculated at a higher level (i.e., put i

[2017-08-29 21:08] Paheding commented on #351
@dlebauer  I have added those metadata to the soil mask data product and pushed the updated extractor via GitHub.
@max-zilla  I tested it locally, it works as expected.  Let me know if it gives any error on your end.

[2017-08-31 16:06] rachelshekar commented on #352
@ZongyangLi and @solmazhajmohammadi please comment

[2017-08-31 16:07] rachelshekar commented on #271
@dlebauer to meet with Todd, @nfahlgren, and @nshakoor

[2017-08-31 16:10] hmb1 commented on #350
Issue closed as calibration data from the above two days is unusable

[2017-08-31 16:10] #350 closed

[2017-08-31 17:31] mabitter-x commented on #352
For many machine learning applications it would be useful to have a single image taken of each plot in its entirety.  This will be true of all of the snapshot-capture imagers.  This would encompass the StereoTop, Thermal, PRI/NDVI multispec, and even the pushbroom style hyspec imagers depending on the way you have it set up.

The value of this cannot be understated.  Images of plants in the wind i

[2017-08-31 18:12] dlebauer commented on #350
Why is it unusable and what needs to be done in the future to ensure that calibration scans are usable?

[2017-09-08 15:26] Paheding commented on #351
@dlebauer Can we close this issue.

[2017-09-08 17:13] dlebauer commented on #351
@Paheding I've closed and created an issue to review the extractor and output here: https://github.com/terraref/reference-data/issues/184

[2017-09-08 17:13] #351 closed

[2017-09-14 21:09] smarshall-bmr opened #355 "Develop Orthophoto to Supplement Stitched Stereo Images"
On the call today we talked about some of the unavoidable shortcomings of image stitching and how we might work around these problems in the future.

First some background. You can skip the next 3 paragraphs if you want to get to the point.

Right now our image stitch is based on a 2m "target distance." This works just fine at the beginning of the season when the plants are all roughly the same he

[2017-09-15 14:47] ZongyangLi commented on #355
@smarshall-bmr Thanks for the details of Orthophoto, I will try my best to follow your idea of Orthophoto, please point me out if I make any misunderstanding.

1. The TD(target distance) is really in a big range for late season's scan, it might be impossible to get a well aligned full field map because of the FOV changes a lot from 75% to 240% of this TD.
2. The orthophoto is actually an rgb image

[2017-09-15 19:29] smarshall-bmr commented on #355
@ZongyangLi

1. That's exactly right.
2. The orthophoto itself doesn't have any depth information but it is being pulled from a 3D model so you can simultaneously pull a second image that does include depth information.  I think there are some image formats that allow for a 4th value to be stored so instead of an RGB image it would be a RGBD where the "D" is a depth value, maybe a format like this

[2017-09-19 17:21] dlebauer commented on #355
Would http://opendronemap.org/ meet this need?

[2017-09-20 14:28] dlebauer opened #356 "Clip Level 1 images to plot, analyze, combine"
Given limitations of the full field stitching algorithm for downstream analyses ( https://github.com/terraref/computing-pipeline/issues/326#issuecomment-314895910,
https://github.com/terraref/computing-pipeline/issues/326#issuecomment-314592669, https://github.com/terraref/reference-data/issues/183#issuecomment-330697397), we need to have a protocol that supports the following workflow:

1. for a

[2017-09-20 16:16] craig-willis opened #357 "Reprocess stereoTop data for 2016-2017"
Re-run  full stereoTop pipeline extractors on all data though September 20th, 2017. This includes: bin2tif, fieldmosaic, and canopycover extractors.

Re-processing steps:
* [x] Query to remove raw metadata from MongoDB and generate list of datasetIds and names
* [x] Use list to reload LemnaTec metadata using new cleaning process
* [x] Delete Level 1 RGB data on disk and in Clowder (rgb_geotiff, st

[2017-09-21 15:41] dlebauer opened #358 "Upload 2016 PhenoTractor data to trait database"
The earlier issue https://github.com/terraref/computing-pipeline/issues/211 was closed, apparently before the data was inserted into the trait database.

Data are in https://docs.google.com/spreadsheets/d/1NNKtmWFBdoh2iaaXZh9fsu_nNRLMpytJ8Av1bHxpgIg/edit#gid=698446872 Need to be uploaded

Method = 'Maricopa Phenotractor'
Citation title = 'Maricopa Field Station Data and Metadata'

### Completion C

[2017-09-21 16:18] NewcombMaria commented on #358
I can help with the steps to reformat data and upload the data to betydb.  I'll talk with Pedro and we'll make a plan.  I've never uploaded to clowder but if that's of interest I can learn with some guidance from someone in Illinois.

[2017-09-21 16:23] NewcombMaria commented on #186
Rick Ward and Sara Harders have re-processed 2016 UAV data in Pix4D and to my understanding orthomosaics are ready.  Is there any standardized way of naming UAV orthomosaics and associated metadata info?  Did KSU establish a method?

[2017-09-21 17:36] #358 closed

[2017-09-21 17:36] dlebauer commented on #358
Issue moved to [terraref/reference-data #192](https://github.com/terraref/reference-data/issues/192) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-21 21:27] dlebauer commented on #186
### Metadata

Make sure this page is up to date: https://terraref.gitbooks.io/terraref-documentation/content/user/protocols-UAV.html

(it can be edited here: https://github.com/terraref/documentation/edit/master/user/protocols-UAV.md)

### File Organization

The most important is that everything is organized consistently. It is easy to reorganize and rename as long as the same basic conventions ar

[2017-09-22 14:10] craig-willis commented on #353
Deployed terra-wb-master1: 2 cpu 4 GB RAM and two compute nodes terra-wb-node1, terra-wb-node2 as 4cpu 8GB instances.  Have allocated IPs and waiting for exports from ROGER.  Instance will be deployed as www.workbench.terraref.org and the old single-node system users and data will be migrated.

[2017-09-22 15:10] gpmorrisksu commented on #186
Hi David,

Can you provide a link to the Gdrive folder in the screen shot?

Thanks,
Geoff

-----------------------------------------------------------------------------------------------------------------------
Geoff Morris, Assistant Professor
Department of Agronomy | Kansas State University
3004 Throckmorton Plant Science Center | Manhattan KS, 66506
E-mail: gpmorris@k-state.edu<mailto:gpmorris@

[2017-09-22 15:58] dlebauer commented on #186
It's not a public folder so I sent you an invite. These data are Rick's so please don't share  Beyond the team without his permission.

[2017-09-22 17:37] craig-willis commented on #353
www.workbench.terraref.org now points to Kubernetes cluster (with valid TLS).  Note, users have not been migrated yet, so the system isn't usable.

Also, created new repo https://github.com/terraref/workbench-catalog to house service specifications instead of using nds-org branch.

[2017-09-27 15:36] rickw-ward opened #361 "shape files for seasons MAC field scanner seasons 1 and 2"
### Description

We want to ensure that the plot-level means we generate for Terra MAC UAV flights are made using polygon coordinates and plot/entry attribute information  that correspond to the equivalent used in the batch extractors under development.   Is it possible for your team to generate shp file sets for seasons 1 and 2?

### Completion Criteria

* [x] shp file for seasons 1&2 provided to

[2017-09-27 16:06] rickw-ward commented on #361
I'll figure out the direct connection, but not this week.   Hoping to generate plot level means tomorrow.

I assume the shp file sets will contain range and column information- additional info on location attributes is welcome.

[2017-09-27 17:14] dlebauer commented on #361
@rickw-ward see if these work [mac_plots.zip](https://github.com/terraref/computing-pipeline/files/1338083/mac_plots.zip)

Here is the code that I used:

[code]

Note

* for season 1
   * we used the term 'plot' rather than 'range and pass'
   * for each 'plot' we include separate definitions of both the full plot as well as the E and W subplots.
* for season 2, we have definitions that use both t

[2017-09-27 17:17] rickw-ward commented on #361
checking now

[2017-09-27 17:27] dlebauer commented on #186
exporting shapefiles covered in this issue: https://github.com/terraref/computing-pipeline/issues/361; the files I generated are here: [mac_plots.zip](https://github.com/terraref/computing-pipeline/files/1338083/mac_plots.zip)

[2017-09-27 18:23] rickw-ward commented on #361
@dlebauer please compare shp file set you sent with those in zips below to see offset in E/W axis.  Ours are for inner two rows only, but that doesn't explain offset.   The link below is to an in-season NDVI orthomosaic that shows actual rows (and foundations of gantry and sprinkler heads).

[MAC 2 row season 2 sorghumexpfall2016v5_lblentry_1to7.zip](https://github.com/terraref/computing-pipeline/

[2017-09-27 18:26] rickw-ward commented on #361
@dlebauer This screen  capture shows shift between our two plot polygons.  Sorry- I still can't consolidate into one directory.

![capture](https://user-images.githubusercontent.com/21243879/30930390-743bc816-a376-11e7-8b9f-bf481a29091a.PNG)

[2017-09-27 18:48] dlebauer commented on #361
I'll take a closer look at the files you sent later today.

Neither version eeds to capture the plot perfectly. I know we discussed at length last year... but perhaps we should create a new set that excludes the range ends and is better centered between columns.

[2017-09-27 22:43] rickw-ward commented on #361
I'll use my .shp files for season 2.   Perhaps the E/W shift of the shp file you sent is due to the conversion formula between coordinate reference systems?

[2017-09-27 22:48] dlebauer commented on #361
Hopefully it isn't because of conversion between coordinate reference systems. There are obvious limitations to using different definitions of plot boundaries.

My understanding is that our database contains definitions from the [F13_TERRA_field_book](https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=1433617856) that were measured with the gantry and were

[2017-09-27 22:50] dlebauer commented on #307
Can this be closed?

[2017-09-27 23:01] dlebauer commented on #361
looks like this discussion from last fall: https://github.com/terraref/computing-pipeline/issues/187 should have been resolved by https://github.com/terraref/computing-pipeline/issues/196.

It is unclear why there is still a discrepancy. In https://github.com/terraref/computing-pipeline/issues/187 I proposed that we could have multiple definitions of plots, but now I think we should try to identif

[2017-09-28 12:59] #307 closed

[2017-09-28 14:59] craig-willis opened #362 "Process to handle scan programs"
Per discussion with @smarshall-bmr, there are potentially multiple scans and scan programs on a given day.  We need a process to capture the scan program information, update the cleaned metadata with the final program name/tag and update downstream extractors to respect this information (e.g., fullfield needs to run on a day for files associated with a program).

We need a way to determine if we h

[2017-09-28 16:18] craig-willis opened #363 "Georeference LAS files"
Per https://github.com/terraref/reference-data/issues/185#issuecomment-331208513, we need to translate the PLY coordinates to lat/long coordinates in ply2las extractor. Currently, the files use the point-cloud reference, which isn't right.

Completion criteria:
* [ ] Update ply2las extractor to create merged LAS file in lat/long
* [ ] Update plant_height extractor subset the LAS files  by plot so

[2017-09-28 16:43] craig-willis opened #364 "Get traitvis application running in Kubernetes"
The traitvis application currently runs on a standalone VM.  This could easily be run in the Workbench Kubernetes instance.

Completion criteria:
* [x] Create yaml file for application and associated repo for apps
* [x] Change u/p to use new viewer user
* [ ] Resolve cron env var problem
* [ ] Document process for updating application going forward
* [ ] Review

[2017-09-29 19:20] dlebauer commented on #362
Craig compiled a list of unique scripts that @smarshall-bmr can annotate:

In addition, the metadata field (appears to) provide a link to a copy of the script version run on a particular on an ftp server ftp://10.160.21.2//gantry_data/LemnaTec/ScriptBackup/, but this is not resolving.

the metadata looks like

[code]

* @smarshall-bmr where is this ftp server?
* @jdmaloney do you know where this f

[2017-09-29 19:34] max-zilla commented on #362
we have the /gantry_data directory accessible on the cache server, but the ScriptBackup is not currently whitelisted for the transfer pipeline. there are 1,687 scripts listed there, e.g.:
[code]

@craig-willis this probably obviates your scan unless we have scripts in your results that dont appear here.

Here is a list I generated.
[script_list.txt](https://github.com/terraref/computing-pipeline/f

[2017-09-29 19:42] craig-willis commented on #362
The list I generated has 80 entries.

https://docs.google.com/spreadsheets/d/1tMkPT2jtMgTficfSDx80-RpB6PXuzry2gLEZG_ajvl8/edit

I gather what you've got is specific versions on specific dates?  That would be better for true traceability, if we can reference the specific script from the dataset metadata.

[2017-09-29 21:11] craig-willis commented on #362
@dlebauer Along with the program descriptions, should we consider linking to the fieldbook spreasheet (or something that references the fieldbook) from the dataset metadata?

https://docs.google.com/spreadsheets/d/1eQSeVMPfrWS9Li4XlJf3qs2F8txmddbwZhjOfMGAvt8/edit#gid=665425213

[2017-09-29 21:37] dlebauer commented on #362
@craig-willis that would seem reasonable. Not sure the best way to do this. Much of this could be inserted into the BETYdb managements table (and some of it is there). Only issue is that the record keeping hasn't been consistent over the years.

@smarshall-bmr what are your thoughts?

[2017-10-02 14:30] max-zilla commented on #362
@craig-willis @robkooper here's an exam question for ya.

right now we trigger the full field extractor by:
- checking every incoming geotiff file and adding it to the list for that day+sensor
- if our # of geotiffs for that day+sensor == the number of raw datasets used to generate the geotiffs for that day, trigger
- (e.g. trigger RGB GeoTIFF full field when RGB Geotiff count == stereoTop raw_dat

[2017-10-02 15:26] craig-willis commented on #362
@max-zilla As discussed, your first option seems practical for November.

[2017-10-02 16:29] smarshall-bmr commented on #362
Description of the scans is available here:
https://docs.google.com/spreadsheets/d/1tMkPT2jtMgTficfSDx80-RpB6PXuzry2gLEZG_ajvl8/edit#gid=0

[2017-10-02 22:15] dlebauer commented on #361
@rickw-ward for season 2, it looks like we have defined the same plots as those in your shape files _in addition_ to the other set of plots that do not align. In the image below you can see the plots from your shapefile (grey) with the plots in the database on top (thin red line):

![image](https://user-images.githubusercontent.com/464871/31101875-2ad4614c-a795-11e7-8cba-f010651939ab.png)

I've de

[2017-10-02 22:23] rickw-ward commented on #361
Good news David.  Thanks.

[2017-10-04 17:19] max-zilla commented on #357
@robkooper FYI
To simplify this pipeline I am introducing a small new extractor:
https://github.com/terraref/extractors-metadata/tree/master/cleaner
terraref/ext-metadata-cleaner

This extractor binds to nothing - that is, it does not trigger automatically on any kind of file or dataset. It can only be triggered manually.

When triggered on a dataset, it will (optionally) delete all metadata curre

[2017-10-04 17:37] max-zilla commented on #357
Basically here's the sketch I came up with last night:
<img width="550" alt="screen shot 2017-10-04 at 12 36 34 pm" src="https://user-images.githubusercontent.com/14166971/31190461-c135d532-a900-11e7-87c3-064cd687e2da.png">

[2017-10-04 20:44] ZongyangLi commented on #363
During the past few days, I did a bunch of tests for georeferencing las files. Since there is no further comment from @jterstriep ,@yanliu-chn , it's not quite clear for me if I am in a right way. Any suggestion is welcome if you have experience in georeferencing las files.

I will list all the potential options below and try to explain the blocking for each option.

1. [x,y,z] to [lon, lat, eleva

[2017-10-05 14:31] dlebauer commented on #363
I think that for now, if the point clouds can be in gantry[xyz] that will be a good first step, and would be the minimum requirement for a data product sufficient for the first data release.

I am a little confused about how scale and offset work. Is it possible, for example, to have all points in the range [0, 100] and then provide values of scale and offset that would allow users to translate to

[2017-10-05 14:57] ZongyangLi commented on #363
@dlebauer
In part 2 of option 3, I kind of show the example of providing UTM 12 scale and offset. Let me explain more what I learn in recent days.

In LAS Point format 3, which we are using now, there are 3 different field name: X,Y,Z relate to the coordinate. X, Y, Z are 32bit long integer(if someone is able to convert it to 64bit data, please point me out how could I get that). Remember our reso

[2017-10-05 15:16] dlebauer commented on #363
@ZongyangLi thanks for the clarification - I didn't realize that in this last example you had used the scale and offset. I had assumed that the data could be stored in smaller values and that the software would automagically handle the scale and offset. Would it be an option to provide the data in gantry[xyz] and then provide the UTM scale/offset in a descriptive metadata field?

Page 2 of the [LA

[2017-10-05 15:25] ZongyangLi commented on #363
@dlebauer I had uploaded my codes to https://github.com/terraref/extractors-3dscanner/blob/master/ply2las/ply2las.py
It's just a las to las convert now, I think we could provide UTM offset in the VLR descriptive metadata field.

Thanks for pointing me out 64bit is available in LAS 1.4, actually when I discuss with @pless this Monday, we agreed that we should use LAS header format 1.4 and point for

[2017-10-05 19:41] dlebauer commented on #167
@rickw-ward Not sure if this is on the way but when I overlay plots on the file  named "set 88 june 13 2016 run 062316_rgba_thermal_ir.tif" it appears to be incorrectly georeferenced (twisted clockwise relative to the N-S axis of the gantry field)

![image](https://user-images.githubusercontent.com/464871/31248841-c61b1258-a9da-11e7-9a5c-2af4c677d897.png)

[2017-10-05 23:02] rickw-ward commented on #167
I’ll send a qc’d geotiff in the AM.  That thermal geotiff wasn’t georeferenced.

[2017-10-06 13:56] rickw-ward commented on #167
@dlebauer  and @NewcombMaria this is the link to the georectified NDVI  geotiff that I shared as a screen capture:
 https://drive.google.com/a/email.arizona.edu/file/d/0B5btztQSCEFxLXR3RkU3V3JzZTQ/view?usp=sharing  .

This is the link to the temporary directory where the latest file sets are stored:  https://drive.google.com/drive/folders/0B5btztQSCEFxU18zSXVQa1NrM1U?usp=sharing .

We have focused

[2017-10-09 16:30] dlebauer commented on #361
Here are the shapefiles for season 1, 2, 4

[season124shpfiles.zip](https://github.com/terraref/computing-pipeline/files/1369204/season124shpfiles.zip)

Let me know if these work for you

[2017-10-12 19:50] max-zilla commented on #363
@jterstriep

[2017-10-12 20:52] jterstriep commented on #363
LAS 1.4 does not support 64bit for x,y,z coordinates regardless of point format. I think the 64bit referenced on page 2 is only talking about indexing and offsets not the actual point data.

[2017-10-12 23:12] #361 closed

[2017-10-13 17:09] max-zilla commented on #363
@ZongyangLi I am implementing your code above for LAS 2 LAS conversion and should have some tests ready later today. @jterstriep and I took a look yesterday.

I am going to replace one piece of your code - get_origin_utm_coordinate() - because we are using that same formula in our metadata cleaning so we can reference that and you don't have to generate again.

[2017-10-14 01:49] #320 closed

[2017-10-16 14:17] max-zilla commented on #363
Implemented the ply2las code w/ metadata reference in this merged PR:
https://github.com/terraref/extractors-3dscanner/pull/11

[2017-10-16 16:16] ZongyangLi commented on #363
@max-zilla May I take a look at the reference code about replacing the piece of `get_origin_utm_coordinate()`
This function is the key translating formula from ply coordinate to gantry coordinate as mentioned in https://github.com/terraref/documentation/issues/162
I just want to make sure it's the same.

[2017-10-16 16:23] max-zilla commented on #363
@ZongyangLi code is here:
https://github.com/terraref/terrautils/blob/master/terrautils/lemnatec.py#L806

I believe only difference is incorporation of 'location in camera box' offset applied to locations.

[2017-10-16 19:02] nfahlgren opened #365 "Re-test Danforth Globus monitor transfers"
### Description

The Danforth Center Bioinformatics endpoint moved to a new server, so the Globus monitor service needs to be re-tested on the new system. The monitor Docker service is running and has mounted the data directory containing all of the TERRA-REF indoor system datasets. Clowder seems to be down at the moment, but a test transfer can be done when it's back up. This test should be done

[2017-10-16 19:07] dlebauer commented on #365
@nfahlgren do you need any help on the NCSA end?

[2017-10-16 19:10] nfahlgren opened #366 "Update PlantCV extractor and upload experiment LT1"
### Description

Once the Globus monitor service at the Danforth Center is running successfully (issue #365), the PlantCV extractor can be updated (https://github.com/terraref/extractors-lemnatec-indoor/pull/3) and redeployed and the TERRA-REF experiment LT1 (TM015_F_051616 and TM016_F_052716) can be uploaded and processed.

[2017-10-16 19:14] nfahlgren commented on #365
@dlebauer I'm pretty confident that following @max-zilla's instructions from issue #136 I can get the monitor service working again. The only thing stopping the test at the moment is that I get a `502 Bad Gateway` error when I go to https://terraref.ncsa.illinois.edu/clowder/.

[2017-10-16 23:02] nfahlgren commented on #365
Hmm, mostly looks good but it's not transferring files. It has created the folder(s) here: `/danforth/raw_data/test/`.  It's definitely queuing the files. The only error I see (I think) is `cannot connect to NCSA API`. Here's a sample of the log:

[code]

[2017-10-16 23:12] dlebauer commented on #365
@jdmaloney can you help Noah with this?

[2017-10-17 13:13] max-zilla commented on #365
@nfahlgren the code has changed somewhat since Oct 2016. I can't recall if any changes would impact your pipeline. But the NCSA API issue you're running into is in the custom config file:
[code]
should be:
[code]
I just started the Globus monitor up so you should be able to run this, but I currently have the Clowder uploader piece paused because we're hitting things heavily on reprocessing side.

[2017-10-17 14:59] nfahlgren commented on #365
Thanks @max-zilla I updated the config_custom.json file but I'm still seeing the NCSA API error.

Permission-wise, our endpoint ID changed, I can't remember if you had to whitelist it on your end.

[code]

[2017-10-17 15:27] max-zilla commented on #365
@nfahlgren I did need to whitelist that, yes. just updated entry for terrarefdanforth user which will hopefully advance things

[2017-10-17 15:51] nfahlgren commented on #365
@max-zilla ah, I just realized I could see the transfers in the terrarefdanforth Globus logs. Looks like I have a permission issue (Globus can't read the directory). I'll whitelist it and see if that fixes it.

[2017-10-17 16:00] nfahlgren commented on #365
@max-zilla that did it, the test Globus upload worked.

[2017-10-17 16:52] nfahlgren commented on #365
Looks like it's working, so I'll close this issue and set up the monitor as a system service

[2017-10-17 16:52] #365 closed

[2017-10-18 19:31] jdmaloney commented on #342
@lhx-x You still want to test this, my schedule is pretty open.  If you still want to just shoot me a time.

[2017-10-19 20:27] dlebauer opened #367 "Add scratch dir. to roger for use in workbench"
As a user of workbench I would like to be able to write out files without hogging resources or running into file size limitations in a docker image.

### Proposed (and implemented) Solution

To meet this need, I propose to make a globally read/writeable 'scratch' directory under terraref/users thus:

[code]

The name 'scratch' should make it clear that there is no guarantee of persistence.

I impl

[2017-10-19 20:41] craig-willis commented on #367
There are a few things to tease out here that are complexities of workbench:

1. We already create and mount a global shared filesystem for each user's home directory in Workbench. These volumes are mounted into every running container under /home/user and mapped into known volumes in the Docker image.  On the "old" workbench instance, this is a shared Cinder volume. In the new instance, this is a

[2017-10-19 20:58] dlebauer commented on #367
@craig-willis,

1. re /home/user
  * where is the global shared filesystem for each user's home directory? Can this be /gpfs/largeblockFS/projects/arpae/terraref/users/username?
   * I presume user2 can't access user1's `/home/user1`, correct? Having a consistent scratch directory would make analysis scripts more portable / easier to share between user1 and user2.
   * having an environment variab

[2017-10-19 21:06] craig-willis commented on #367
For now, this is on the workbench system under /var/glfs/global. Yes, it can be on ROGER and I think this is a good idea (but will require system changes)

Within workbench, users can't see each other's directories. However,
 /gpfs/largeblockFS/projects/arpae/terraref/users will be visible 1) if we retain the mount (i.e., /data/terraref/users, but can disable this going forward) and 2) if they hav

[2017-10-25 16:49] nfahlgren commented on #366
@dlebauer is there anything else you need from me on this issue? I listened to the recording of the meeting from yesterday and it sounds like there is confusion about where this is at.

[2017-10-25 17:09] dlebauer commented on #366
Sorry when I spoke of my concern about these data I didn't realize that this issue and PR https://github.com/terraref/extractors-lemnatec-indoor/pull/3 had been submitted last week. I apologize for being anxious!

At this point it would be helpful if you can confirm that the experiment metadata including treatments, cultivars, experiments, and managements are in BETYdb so the BETYdb inserts will w

[2017-10-25 18:30] craig-willis opened #368 "Pipeline scalability problem"
As we scale up re-processing, we've been looking at some pipeline scalability issues that are likely related to the move from ROGER OpenStack to Nebula.   Running the bin2tif extractors via the Kubernetes cluster, as we scale up extractors across more instances, we're seeing increased per-dataset processing times. We've explored several possible causes including MongoDB connections, Clowder (Akka)

[2017-10-25 18:36] craig-willis commented on #368
For tracking:

**Problem:  Slow deletes**

Possible cause: MongoDB connection limits.
Symptom: netstat showed only 10 active connections with > 30 simultaneous extractors
Solution: Increase connection pool size via client argument
Outcome: Increase in pool size, but no performance improvement

Possible cause: ElasticSearch delete not asynchronous
Solution: Disable ElasticSearch plug in (temporary)

[2017-10-26 15:34] craig-willis commented on #368
Working with JD and the Nebula team, the actual problem appears to be network latency between the Nebula system (NCSA) and ROGER (NPCF).

We ran a set of tests from  2 Ubuntu VMs, one in ROGER OpenStack, one on Nebula. Both are mounting the TERRA-REF data from cg-ces02.ncsa.illinois.edu over NFS. Both are 8 vcpu systems, each running the same number of processes.

Test 1. tracert from VM to cg-ces

[2017-10-26 15:39] craig-willis commented on #368
Met with @dlebauer , @robkooper  and @jterstriep on 10/26 to discuss options.  Currently, the extractor pipeline is deployed via Docker containers on a small Kubernetes cluster on Nebula.  We considered the following options for the ongoing re-processing task:
* Do nothing and let pipeline run with current network issues
* Increase ROGER OpenStack allocation
* Run via ROGER TORQUE/PBS system
* Run

[2017-10-26 15:41] craig-willis commented on #368
What needs to be done to get things running on ROGER TORQUE:
* [ ] Create and test Python virtualenv with all extractor dependencies
* [ ] For each extractor, write and test the batch process. We'll focus on the heavier processes first.
** [ ] stereoRGB
** [ ] FLIR
** [ ] 3d Scanner

[2017-10-27 13:58] craig-willis commented on #368
For those following along, comment from NetEng (https://jira.ncsa.illinois.edu/browse/NETENG-275):

[2017-10-27 21:41] craig-willis commented on #368
Latest update. Will work with JD to get the requested information.

[2017-11-03 14:42] dlebauer commented on #331
@craig-willis can this be closed?

[2017-11-09 03:42] dlebauer opened #370 "Add License file PRs to each extractors repository"
Add a file called LICENSE.md to each extractor or software repository, submit a pull request, and assign all of the contributors to the repository for review.

The project specification is to use an MIT/BSD (or CC-BY 4.0) compliant license. Contributors can approve the PR or suggest an alternative MIT/BSD-compatible LICENSE. In cases w/ IP (only sunshade extractor so far) it is up to the authors t

[2017-11-09 20:02] weiqin61 commented on #370
extractor-stereo-rgb
https://github.com/terraref/extractors-stereo-rgb/pull/22

[2017-11-09 20:10] weiqin61 commented on #370
extractor-multispectral
https://github.com/terraref/extractors-multispectral/pull/16

[2017-11-09 20:19] weiqin61 commented on #370
extractor-3dscanner
https://github.com/terraref/extractors-3dscanner/pull/13

[2017-11-09 20:41] weiqin61 commented on #370
computing-pipeline
https://github.com/terraref/computing-pipeline/pull/371

[2017-11-09 20:45] weiqin61 commented on #370
extractors-meterological
https://github.com/terraref/extractors-meterological/pull/6

[2017-11-09 20:51] weiqin61 commented on #370
https://github.com/terraref/extractors-hyperspectral
I don't have access to add a file

[2017-11-09 20:53] weiqin61 commented on #370
extractors-metadata
https://github.com/terraref/extractors-metadata/pull/9

[2017-11-09 20:55] weiqin61 commented on #370
https://github.com/terraref/extractors-sunshade

I don't have access to add a file

[2017-11-09 20:56] weiqin61 commented on #370
https://github.com/terraref/extractors-lemnatec-indoor

I don't have access to add a file

[2017-11-09 20:58] weiqin61 commented on #370
terrautils

https://github.com/terraref/terrautils/pull/37

[2017-11-10 15:22] weiqin61 commented on #370
extractors-hyperspectral
https://github.com/terraref/extractors-hyperspectral/pull/41

[2017-11-10 15:33] weiqin61 commented on #370
extractors-lemnatec-indoor
https://github.com/terraref/extractors-lemnatec-indoor/pull/6

[2017-11-10 22:09] dlebauer opened #372 "get_site_boundaries("2017-06-30", city = "Maricopa") does not work as expected"
[code]

should return all sites in Maricopa associated with all experiments that were running on that date.

There were six experiments on that date:

[code]

| id         | name                                | start_date | end_date   |
|------------|-------------------------------------|------------|------------|
| 6000000017 | MAC Season 4: Border Plots          | 2017-04-20 | 2017-09-18 |
| 60

[2017-11-11 16:17] max-zilla commented on #372
https://github.com/terraref/terrautils/blob/master/terrautils/betydb.py#L163
Bug is here, we get list of experiments but then return in first iteration of loop (first experiment found). Probably didn't catch this because it was tested where only one experiment was active.

[2017-11-11 16:18] max-zilla commented on #372
I will fix this weekend, should be quick.

[2017-11-11 16:34] jterstriep commented on #372
I think there is an additional problem. The postgis API defaults to returning 200 records so any call to get_sites will get only that limited set. Of course, you can work around this by passing in special args (limit, etc) but is this the desired behavior?

[2017-11-11 17:22] dlebauer commented on #372
limit=none can be hard coded as default for all tables except traits.
On Sat, Nov 11, 2017 at 10:34 AM Jeff Terstriep <notifications@github.com>
wrote:

[2017-11-11 17:26] dlebauer commented on #372
PS remember to return _distinct_ sites since experiments are not independent

[2017-11-11 17:35] jterstriep commented on #372
I'm in favor of setting limit=none as the default for get_sites which would
impact most of the other betydb get_ functions.

On Sat, Nov 11, 2017 at 11:22 AM David LeBauer <notifications@github.com>
wrote:

[2017-11-13 14:02] max-zilla commented on #372
https://github.com/terraref/terrautils/pull/39 this should address these requirements, merged this morning.

[2017-11-13 19:43] craig-willis opened #373 "Process for finding unprocessed files"
Working with @max-zilla on this.  Due to various unexpected outage scenarios, we have files that were dropped at different stages during the processing pipeline.  This is resulting in a low number of fullfield images being generated:

Define and execute the following process:
* Identify raw datasets with missing datasets in level1.  Trigger extraction on those missing datasets
* Identify level1 da

[2017-11-13 19:45] craig-willis commented on #368
Brief update on this issue. NCSA NetEng is still trying to identify the cause of the network latency.   This will not be resolved during this reprocessing cycle.

In the meantime, we've borrowed OpenStack resources from ISDA/BrownDog and started running some of the extraction processes on ROGER via TORQUE.  This is the best solution at this time.

[2017-11-13 19:50] craig-willis commented on #367
@dlebauer Spoke with JD about this and he sees no problem with us using the ROGER scratch space for Workbench storage.

I started configuring the system to test this and ran into an immediate problem trying to migrate user data.

In the near term, I would like to continue using the Workbench internal shared storage with the users directory mounted with the goal of moving to this model after we've

[2017-11-14 16:26] max-zilla opened #374 "Stereo RGB bin2tif unit test"
PyClowder 2:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder2/browse/pyclowder

Here is a sample stereoTop dataset including 2 bin files and metadata.json:
[stereoTop sample.zip](https://github.com/terraref/computing-pipeline/files/1471598/stereoTop.sample.zip)

The raw metadata.json file must be cleaned in order to work with the extractor code:
[code]

Then you can pa

[2017-11-15 12:12] craig-willis commented on #373
We've identified a large number of missing rgb_geotiffs and re-queued for processing along with a smaller number of missing records in the rule monitor databases.   All of these are processing now, but the number of fullfield images is still unchanged.

[2017-11-15 12:51] craig-willis commented on #368
Beginning yesterday, the TERRA reservation on ROGER is no longer active. We are seeing long queue times as we compete with other projects for resources.

[2017-11-15 15:01] ZongyangLi commented on #338
@dlebauer @max-zilla
Since this extractor is similar to laser height extractor, I'm going to update this extractor next. As I mentioned before, at least 4 traits values can be generated. Shall we insert all of them into BETYDB?

[2017-11-15 15:35] dlebauer commented on #352
* PRI, NDVI x2, PAR sensor, spectrometer, and CO2 sensor have all been removed and are either in Stuart’s custody or shipped to manufacturer for factory recalibration.
* FLIR will be recalibrated in Arizona, under supervision of Andy French. Development of protocols will be done by the TERRA-REF team ( @remotesensinglab and @solmazhajmohammadi ) , Andy will provide test chamber and software

Once

[2017-11-15 16:42] dlebauer commented on #338
which exactly are the four parameters? For example, mean + variance of leaf angle can be inserted into a single row (w/ statname = SD and stat = sqrt(variance)) etc ...

[2017-11-15 17:05] weiqin61 commented on #374
The very first initialization is done, the next step is to think of what to test in the unittest and how to make it.

[2017-11-16 17:10] max-zilla commented on #374
thanks for this, @weiqin61

For others, this uses the unittest package:
https://docs.python.org/2/library/unittest.html
I've not used this before but it seems useful.

[2017-11-16 17:44] max-zilla opened #375 "Make extractor scripts into modules"
We want to move the extractor util scripts (e.g. Zongyang's bin2tif code) into a module so we can import that module in the extractor itself, and in test code. This will make it more obvious to developers what code is the 'guts' and what code is the 'clowder extractor wrapper'.

As part of this we can also remove functions in the module scripts that are outdated/have been moved to terrautils.

[2017-11-16 20:31] weiqin61 commented on #374
after spoke with @max-zilla and @craig-willis this morning, we decided to move the `test_bin2tif.py` to the same directory as where `bin_to_geotiff.py` is, so that we can import it.
The new commit related to this issue is https://github.com/terraref/extractors-stereo-rgb/commit/d36cb045be6f4ef10c0aa062ce056fc550f09913
Now you can run
[code]

[2017-11-20 15:05] NewcombMaria commented on #352
The VNIR is currently located on the West side of the camera box and Stuart mentioned that the VNIR may not be able to fully image the most Eastern experimental plots with the field planting arrangement that we've been following.  If the VNIR is relocated, can it be shifted eastward so that it can image all of the experimental plots across the Y axis?  (another alternative would be to extend the Y

[2017-11-21 21:51] ZongyangLi commented on #338
@dlebauer
Four parameters are: mean of distribution, variance of distribution, best fitted two-parameter, reduced chi-square
I am not quite clear that how to insert in a single row with four different values?

@max-zilla
Since I am not using hard code bety key anymore, I am not able to query database now. Could you tell me how to 'set a BETYDB_KEY environment variable to correct value'?

[2017-11-29 16:10] dlebauer opened #376 "New data product: plot level plant/soil masks from RGB"
@dlebauer commented on [Wed Nov 29 2017](https://github.com/terraref/reference-data/issues/209)

generate image and plot - level plant / soil masks from the RGB pipeline.

### Description

The plot level masks can be used for shape analyses

The image level masks can be used to clip plants from the the RGB images for analysis (and is blocking implementation of the [texture analysis](https://github

[2017-11-29 16:32] max-zilla opened #377 "Example refactoring extractors to minimize # scripts"
Now that we have version 1.0 of extractors, we should clean them up as part of unit testing writing.

Just talked with @weiqin61 and she is going to create pull requests for ply2las, eventually flir and bin2tif to show how we'd like to structure.

Goals:
- review deprecated python scripts e.g. @ZongyangLi Get_FLIR.py and move any functions/constants we use into the main terra_flir2tif.py python fi

[2017-11-30 14:03] max-zilla commented on #377
@craig-willis @robkooper fyi. after further discussions with @jterstriep and @dlebauer the current thinking is...

1. move all non-Clowder components of extractor into a python package named after the sensor.

for example, in the stereo-rgb repo we would have a stereo-rgb python package that is generic from Clowder - it just takes input files or data and does the actual science on the data. we did

[2017-11-30 15:43] NewcombMaria commented on #352
@smarshall-bmr and @dlebauer we met as a local group earlier this week and discussed a written pre-season protocol/checklist for scanner system and field optimizations before data collection.  We came up with the following 6 steps that need to be completed before relocating any sensors.  Please review and suggest any edits/improvements/additions.

Between-season relocation of sensors/cameras, acco

[2017-11-30 16:37] dlebauer commented on #338
@ZongyangLi

We can divide them into rows like
* leaf angle distribution (mean, variance)
   * are these fitted assuming a beta distribution? If so we don't need to separately store the alpha and beta parameters b/c they can be computed from mean and variance (https://stats.stackexchange.com/a/12239)
* [chi_leaf](https://www.betydb.org/variables/568)

[2017-11-30 17:15] max-zilla commented on #362
we are accounting for this now.

[2017-11-30 17:20] max-zilla commented on #352
need to keep info in fixed metadata for previous and new time ranges.

[2017-11-30 17:31] TinoDornbusch commented on #352
As already stated, within the year1 support contract, I could help the Mac team to establish some local scripts (based on Matlab/Octave) for simple feature extraction for quality control  onsite for the different sensors.

Visualisation of data could either be done in Matlab or with Microsoft tools (Power BI). This would be relatively easy and straightfoward.

This would allow faster response time

[2017-11-30 17:44] JeffWhiteAZ commented on #352
Would there be a need for new scripts if the proposed Python scripts for each sensor are sufficient? It might help our QC efforts at MAC if we were using the same tools as used for the main processing work flow.

-          Jeff

From: TinoDornbusch [mailto:notifications@github.com]
Sent: Thursday, November 30, 2017 10:32 AM
To: terraref/computing-pipeline <computing-pipeline@noreply.github.com>
C

[2017-11-30 21:18] dlebauer commented on #352
@TinoDornbusch it would be useful to have QA/QC scripts that we can use in the overall pipeline, for which Octave would work. Within the scope of this issue, it would be useful if you could write scripts related to analyzing the targets to confirm that we are seeing what we expect to see. However, it would be better to evaluate the level 1 products generated by the pipeline at NCSA as those have a

[2017-12-01 17:56] #257 closed

[2017-12-01 20:51] ZongyangLi commented on #338
@dlebauer @max-zilla

It seems to me that Bety query for season 3 is not as expected.
When I test the date '2017-02-23' it returns 701 records in west side. It's the same on '2017-01-15'

[2017-12-01 21:10] dlebauer commented on #338
@ZongyangLi I can probably track this down but can you please give me the code that you used and some details about the difference between what you expected and what you got?

[2017-12-01 21:30] ZongyangLi commented on #338
@dlebauer From terrautils.betydb, using function as: `get_site_boundaries('2017-01-15', city="Maricopa")`, I got
[2017-01-15.txt](https://github.com/terraref/computing-pipeline/files/1523027/2017-01-15.txt)
They are 701 west plot records. What I expected is 864 west and east records for the full field.

[2017-12-01 23:45] dlebauer commented on #338
@ZongyangLi please try again ... I didn't create all of the required associations. You should now get 864 each for the full plots and E and W halves, thus:

[code]

returns 2592 (=864*3)

[2017-12-04 22:21] dlebauer commented on #336
@nfahlgren what is the status? Which of these datasets are included in the beta release? Do you have the experimental metadata required for https://github.com/terraref/reference-data/issues/137?

[2017-12-04 22:26] nfahlgren commented on #336
@dlebauer TM015 and TM016 were processed as part of the beta release. The extractor framework is in place to add in the other experiments at some point. Experimental metadata was added to Clowder as part of the upload, although it still doesn't conform to the MIAPPE standard yet.

[2017-12-04 22:29] dlebauer commented on #336
How do these map to the experiment numbers LT1, LT2, ... from your talk last week

![image](https://user-images.githubusercontent.com/464871/33579693-3ebfef62-d910-11e7-934b-dfa1e0a89caf.png)

?

[2017-12-04 23:24] nfahlgren commented on #336
@dlebauer LT1 = TM015 and TM016 (1a and 1b). I think I added everything to BETYdb for TM015. Let me know how it all looks and I can add TM016

[2017-12-04 23:49] dlebauer commented on #336
Thanks that looks good, though I only see LT1a ... If you can add the remaining experiments and treatments, and let me know the names (best is a table with the experiment name / treatment name combinations), then I can link these in the database. Something like:

| experiment                                | treatment                       |
|-------------------------------------------|-----------

[2017-12-04 23:50] dlebauer commented on #336
Actually ... is LT1a the same as the pilot? Are the associations in the table above the correct ones?

[2017-12-05 00:19] dlebauer commented on #336
@nfahlgren thanks, I've created the associations for LT1a. Just to confirm, I think the only data in the database are from the pilot experiment (at least, I can't find any associated with these treatments).

[2017-12-05 15:33] craig-willis opened #378 "Move data and processing from ROGER to Condo"
We are in the process of syncing data from ROGER to the Condo. This issue tracks all steps to move both data and processing to use the Condo mounts by 12/10.

Tasks:
* [x] Change Globus to use Condo endpoint
  * [x] Create endpoint on Condo (JD)
  * [x] Change scripts in AZ (JD)
  * [x] Disable/confirm Danforth
* [x] Complete sync from ROGER to Condo
* [x] Clowder/Kubernetes
  * [x] Shutdown Rabbi

[2017-12-05 15:44] jdmaloney commented on #378
@craig-willis NFS mount information:
host: cnfs.ncsa.illinois.edu
Note: Since we have our own file system on the condo, paths are truncated.  All paths start at /terraref/...

[2017-12-05 15:48] max-zilla commented on #378
Folder requirements for extractors...

canopycover/meantemp
```Level_1/fullfield```
bin2tif
[code]

[2017-12-05 17:01] nfahlgren commented on #336
@dlebauer browsing through the newest collections I suspect that something is wrong with the extractor. I see PlantCV output data in the datasets but none of the output images or the BETYdb traits file, so I must have something wrong in there.

[2017-12-05 17:07] max-zilla commented on #336
@nfahlgren can you link to an example?

[2017-12-05 17:17] nfahlgren commented on #336
Here's one: https://terraref.ncsa.illinois.edu/clowder/files/5a0331624f0c624704ccd91f?dataset=5a03315f4f0c624704ccd8bd&space=

[2017-12-05 17:42] max-zilla commented on #336
@nfahlgren the BETYdb traits file is no longer stored - we upload to bETYdb but don't store the CSV afterward.

as for the images, is that not the _mask and _col etc. files?
https://terraref.ncsa.illinois.edu/clowder/datasets/5a03315f4f0c624704ccd8bd

https://terraref.ncsa.illinois.edu/clowder/files/5a0606334f0c624705387581?dataset=5a03315f4f0c624704ccd8bd&space=
https://terraref.ncsa.illinois.edu

[2017-12-05 17:47] nfahlgren commented on #336
@max-zilla oh yeah, you're right :) I got confused about dataset versus file level.

[2017-12-05 17:51] dlebauer commented on #336
But we don't have any data from those runs in BETYdb (the only data we have is from June 2014).

[2017-12-05 18:44] nfahlgren commented on #336
Not really sure how to evaluate it.

[2017-12-05 19:30] NewcombMaria commented on #352
Group discussion during today's Tuesday teleconference resulted in decision to relocate the VNIR camera at this time.  For all other sensors recommended to be moved, this time can be used to come up with detailed plans to be prepared to do the relocation immediately after the wheat harvest.  During the VNIR relocation, is it possible to shift it a bit to the east to be able to scan the entire plot

[2017-12-05 20:35] nfahlgren commented on #336
Maybe the BETYdb data failed to load because the experiment/treatments were not entered beforehand?

[2017-12-05 20:53] nfahlgren commented on #336
@dlebauer here are the links for LT1b

[Experiment](https://terraref.ncsa.illinois.edu/bety/experiments/6000000031)
[Citation](https://terraref.ncsa.illinois.edu/bety/citations/6000000015)
[Well-watered treatment](https://terraref.ncsa.illinois.edu/bety/treatments/6000000029)
[Water deficit treatment](https://terraref.ncsa.illinois.edu/bety/treatments/6000000030)

[2017-12-05 23:13] dlebauer commented on #336
@nfahlgren yes ... I think the API post will fail if the appropriate citation and treatments do not exist. It doesn't care about the experiment.

For the record, this is how I linked records for LT1b (similar to what I did for LT1a):

[code]

[2017-12-06 14:35] craig-willis opened #379 "Add OMD/check_mk monitoring support to Workbench"
TERRA systems are currently monitored using the ISDA OMD (open monitoring distribution) system.  Workbench instances are typically monitored using the NDS Nagios instance hosted at SDSC.  For consistency, migrate the TERRA Workbench services to the ISDA/OMD service.

Completion criteria:
* [x] Update check_kube to support check_mk output
* [x] Create Docker check_mk agent image with check_kube sup

[2017-12-06 14:50] craig-willis commented on #379
* check_kube now supports check_mk formatted responses (https://github.com/craig-willis/check_kube/releases/tag/v0.2)
* New github repo and Dockerhub image for checkmk-kube (https://github.com/nds-org/checkmk-kube, https://hub.docker.com/r/ndslabs/checkmk-kube/builds/)

[2017-12-06 14:51] max-zilla commented on #336
We don't preserve the CSVs for these, but can we construct the CSV contents for BETY from the metadata we attached to each file?
https://terraref.ncsa.illinois.edu/clowder/files/5a0331654f0c624704ccd9ab

if so we could write a simple extractor that just gets each PCV dataset, get the files' metadata, recreate CSV and submit it without other stuff. Otherwise we'll have to requeue them for PCV extra

[2017-12-06 15:13] craig-willis commented on #379
Created PR for admin repo

[2017-12-06 15:37] craig-willis commented on #379
After move to condo is complete, add checks for NFS mounts

[2017-12-06 16:39] weiqin61 commented on #377
I am starting splitting the extractor functions out of the extractor repository and make them into modules now. The first step is splitting 3d scanner functions out of the `extractor-3dscanner` repo and set up a new repo `scanner_3d`. The repo is a python package that continues modules and tests.
https://github.com/terraref/scanner_3d
If this refactor works, I will refactor other repos and add mor

[2017-12-06 17:04] nfahlgren commented on #336
@max-zilla yep, I think I could write a dataset-level extractor to reconstruct the CSV and do the BETYdb submission without requeuing the PlantCV extractor.

For the PlantCV extractor, we currently use this function to initialize the data included in the CSV file:

[code]

Now that I have gone through the process of adding some of these items to BETYdb I realize that these need to match the databa

[2017-12-07 17:36] ZongyangLi commented on #338
@dlebauer
That works now, thanks!

Could you send me an example of this trait record, like the example for canopy_height you sent me before.

[2017-12-07 20:49] pless commented on #338
@dlebauer We are still trying to figure out the process for putting more than one trait (or a multi-part trait) into betydb.

I think you answered this question 22 days ago with the following:

"which exactly are the four parameters? For example, mean + variance of leaf angle can be inserted into a single row (w/ statname = SD and stat = sqrt(variance)) etc ..."

but @ZongyangLi and I need one lev

[2017-12-07 21:47] dlebauer commented on #338
@pless what do you mean by 'multi-part trait'? Are these five parameters (chi, alpha, beta, mean, variance) that map to three distributions (chi-square, beta, gaussian)?

My suggestion would be to insert (chi, alpha, beta) and drop the mean and variance.

The documentation for inserting multiple traits associated with a single observation is here: https://pecan.gitbooks.io/betydbdoc-dataentry/cont

[2017-12-07 22:01] dlebauer commented on #338
@ZongyangLi and @pless ... @nfahlgren has more experience inserting a vector of traits and his plantcv extractor, and generates the csv file here: https://github.com/terraref/extractors-lemnatec-indoor/blob/master/plantcv/terra_plantcv.py#L196

[2017-12-07 22:29] dlebauer commented on #338
Sorry I got confused ... the 'chi_leaf' parameter is not the parameter from a chi-square fit but the ratio of horizontal to vertical leaf projections. Defined in eq 15.4 of Campbell and Norman
[campbell1998ieb_ch15.pdf](https://github.com/terraref/computing-pipeline/files/1540825/campbell1998ieb_ch15.pdf).

[2017-12-07 22:37] dlebauer commented on #338
@ZongyangLi and @pless we are sorting out which parameters to store on a separate channel. Current thinking is to keep two parameters: leaf_angle(mean, sd) and chi_leaf(mean, sd) separately. This would require a csv with a slightly different format ... the first 7 columns would be the same, but the traits would be stored separately on different rows in order to accomodate the SD as shown below.

I

[2017-12-11 14:51] ZongyangLi commented on #338
@dlebauer Thank you very much for the examples.

I was confused too about the chi-square distribution before. Now it's clear for me to give out a real 'chi-leaf' parameter. I will make this change and send an example csv file ASAP.

[2017-12-12 20:41] ZongyangLi commented on #338
@dlebauer I did some more investigation about the chi_leaf parameter, is that Campbell's function you mentioned before is an 'Ellipsoidal distribution function', which is the same as [this paper](http://mercury.ornl.gov/metadata/ornldaac/daac_citations/2006/wang_li_su.pdf) in paragraph 3.3

At the same time, I am using 'Two-parameter Beta distribution' which describe in paragraph 3.2. If both this

[2017-12-12 21:13] dlebauer commented on #338
@ZongyangLi for the trait database the most straightforward way to represent the two parameter beta distribution would be to use the t (mean) and sigma_t (SD) from section 3.2. Would that work? The two parameters B(mu, nu) could be computed with a helper function using equations 23&24 in the paper, but it could cause trouble if someone downstream included mu & nu alongside t & sigma in a statistic

[2017-12-12 21:48] ZongyangLi commented on #338
@dlebauer
We can use the mean and SD, and we can calculate two parameters by them, they are initial function like the figure I show when I create this issue.

I intended to apply the best-fitted mean and SD(fit by two-parameter function, red line in the figure), in that case we might able to remain more information from original angle distribution.

[2017-12-13 14:48] dlebauer commented on #338
@ZongyangLi can you illustrate what you propose in a table like https://github.com/terraref/computing-pipeline/issues/338#issuecomment-350116059? That will make it easier to confirm that we are on the same page.

The Season 2 plots are unique ... they include the center two rows of a four-row plot. These have been discussed and visualized in https://github.com/terraref/reference-data/issues/194#is

[2017-12-13 21:51] ZongyangLi commented on #338
![1253](https://user-images.githubusercontent.com/20230686/33962906-bd331bee-e018-11e7-980b-eeed1064f94a.png)
@dlebauer I hope this figure contains all the information I would like to illustrate. X-axis represent for 90 degrees from 0 degree to 90 degree. Y-axis represent for number of points that in that degree range.
All the blue points are source LAD data from laser scanner. I am able to calcul

[2017-12-13 22:35] dlebauer commented on #338
We are stuck with the experimental design, and the data and data products
are designed to support spatial queries. Hopefully this is sufficiently
flexible to build general algorithms with. Just like the databases, we need
to build algorithms around the data we have.

Perhaps we should discuss offline.

[2017-12-14 14:48] craig-willis commented on #379
Mount checks working and moved to condo.

[2017-12-14 14:48] #379 closed

[2017-12-15 14:16] pless commented on #338
Thanks to @ZongyangLi and @dlebauer and everyone for working to resolve this.  One thing that has been discussed is that it seems like the two parameters of the Beta Distribution can be computed from the mean and SD, and David pointed to a formula to do that.

In this case, that doesn't work.

Briefly; *IF* you have a distribution that is exactly a beta distribution, then you can convert the mean

[2017-12-15 14:42] rmgarnett commented on #338
@pless There is another option. You could report the mean and variance that correspond to the best-fit beta parameters, allowing people to calculate them if desired. There is actually a level of non-arbitrariness to such a decision; the Gaussian with the reported moments would be the best-fitting Gaussian to the beta distribution you fit (in the sense of minimizing KL divergence), which may in fac

[2017-12-18 20:40] dlebauer commented on #338
@rmgarnett I think chi-square was a red herring ... The chi parameter is from a spherical distribution.

@ZongyangLi and @pless I think what Roman is describing is consistent with the reference. I'm pasting section 3.2 here for reference. I will leave it up to you to choose which parameters to enter so long as they aren't exact transformations of each other.

![e1d30b7d-767d-4440-b576-44ddd01c23e6

[2018-01-10 14:39] max-zilla opened #380 "Initialize centralized PSQL db with filesystem & extractor data"
As discussed on Jan 10...
-populate a postgres db Files table with files from the /sites directory. this will be used to query for file counts e.g. by date, by size etc. for various purposes.
- @jdmaloney will initially populate main file table by reading over gpfs. eventually we will also have a daily script to double-check new files and make sure everything from AZ is included in db.
- I will mo

[2018-01-10 14:42] max-zilla commented on #377
Example for bin2tif is done and ongoing work can be tracked here: https://github.com/terraref/computing-pipeline/issues/375

[2018-01-10 14:42] #377 closed

[2018-01-10 14:43] max-zilla commented on #374
example is done

[2018-01-10 14:43] #374 closed

[2018-01-10 14:45] #370 closed

[2018-01-10 14:45] #367 closed

[2018-01-10 14:46] max-zilla commented on #354
this was done.

[2018-01-10 14:46] #354 closed

[2018-01-10 14:47] #347 closed

[2018-01-10 14:48] #345 closed

[2018-01-10 14:48] #343 closed

[2018-01-10 14:49] #310 closed

[2018-01-10 14:50] #297 closed

[2018-01-10 14:51] #270 closed

[2018-01-10 14:51] #275 closed

[2018-01-10 14:52] #171 closed

[2018-01-10 14:53] #372 closed

[2018-01-10 16:06] craig-willis commented on #378
Update on this -- there has been some delay, but the endpoint will  likely be up on Condo by end of week.

[2018-01-10 16:07] craig-willis commented on #368
Closing this issue since ROGER is gone. Will open separate issue for performance/scale analysis with Condo.

[2018-01-10 16:07] #368 closed

[2018-01-10 16:07] #353 closed

[2018-01-10 16:08] craig-willis commented on #331
With new Kubernetes cluster, this is done.

[2018-01-10 16:08] #331 closed

[2018-01-10 16:11] #290 closed

[2018-01-10 16:28] max-zilla opened #381 "Workbench backup"
Data corruption from Nebula outage indicates current backup isn't sufficient. Do the following:
- backup etcd using new procedure
- backup user data to Condo

[2018-01-10 16:36] max-zilla opened #382 "Architectural design for centralized logging"
Previously, we had:
- InfluxDB for pipeline files & extraction statuses
- ELK stack at one point for python logging centralization
- Pipeline from Arizona just puts logs in text format

2018:
- centralized logging for extractors (for analysis of issues, troubleshooting, tracking)
- logging for pipeline
- queryable database of status with lifecycle tracking for a given file. for example, take a ste

[2018-01-10 16:40] max-zilla opened #383 "Performance analysis"
Perform preliminary analysis of extractor performance via kubernetes on condo-mounted data.

Could be significant reduction in performance from Roger.

Criteria:
- define & document results of network & data tests (based on ROGER tests)
- run some actual scaled extractors and see performance as we scale
-

[2018-01-10 16:42] max-zilla opened #384 "Modify backup to nearline/port backup code"
Port backup code to Condo.

Completion criteria TBD.

* [ ] Need to update documentation https://github.com/terraref/documentation/edit/master/data-backup.md

[2018-01-10 19:53] ZongyangLi commented on #338
@dlebauer
An example output csv file is [here](https://drive.google.com/open?id=1T30K9ETqedqvOInOL3yUHAf-P7RtTfwF).

I am not clear the definition of 'entity' so I do not fill it yet.

[2018-01-10 20:24] ZongyangLi opened #385 "Batch processing for s4 height, TERRA_REF height paper relate"
@JeffWhiteAZ and @rmgarnett are leading an initial TERRA REF height estimation paper. I am trying to provide reference data. They are:

1. 4 sets of plot-level height histogram, using middle 25%, 50%, 75% and full plot points.
2. A set of sub-plot histogram using full plot points.
3. Use sub-plot histogram to create a subplot-level ground level data, using data as early as we can find, noting the

[2018-01-10 21:17] max-zilla opened #386 "Finalize stereo_rgb science package"
Evaluate current state of the science package, including Max's PR:
https://github.com/terraref/stereo_rgb/pull/3

We can update the PR with additional fixes/adjustments.

- complete the review + merge
- function names, file structures, docstrings, test structure
- push to pypi

[2018-01-10 21:19] max-zilla opened #387 "Clean up pyclowder2 pull request"
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder2/pull-requests/53/overview

This is latest pyclowder2 PR that adds additional Client functionality but it needs work.

[2018-01-10 21:21] max-zilla opened #388 "Update dev documentation for how/why"
Update documentation for extractor developers to explain how / why
- Purpose of science package and structure
- terrautils/pyclowder
- Test cases (why and what you need to cover)
- Extractors: separating the science components from the extractor
  - Define requirements for how science package operates (per file)
  - Dockerized and batch support?

[2018-01-10 21:22] dlebauer commented on #385
@ZongyangLi there are a few options:

The fastest way to process these data would be to use globus to transfer data to comet and run the pipeline as a batch job there.

But this also brings up the question - how will these outputs be different from what is in the beta release? Is there anything about the data in the beta release that makes it invalid? If the code is ready it may also be an option

[2018-01-10 21:38] dlebauer commented on #338
@ZongyangLi

* It isn't clear what _src and _fit refer to - can you define the method and variables?
* this is missing the [chi_leaf parameter](https://terraref.ncsa.illinois.edu/bety/variables/568)?
* entity is a way of identifying measurements are related, e.g. were taken on the same plant or leaf. If you exclude it from the csv file it will be automatically assigned an arbitrary identifier. It

[2018-01-10 21:55] ZongyangLi commented on #385
@dlebauer
I didn't realize that these outputs would be added into our database. To my understanding, the data is an initial data looking for a further investigation. So what I expected is a file system like Roger, we can easily access all the data from there, and save outputs on the file system.

If we would like to deploy the new version, it should be save as a different 'method' compared with 'c

[2018-01-10 22:05] rmgarnett commented on #385
Indeed this is an initial investigation into a methods paper led by @JeffWhiteAZ and @NewcombMaria. It's not yet clear what the conclusion will be.

We can include the data into the database as well. One big question at the moment that is not yet resolved is ground subtraction, and how it should be handled.

[2018-01-10 22:18] dlebauer commented on #385
@rmgarnett should we figure out the ground subtraction before doing a full season of reprocessing?

@ZongyangLi To answer 1) data should be available now on workbench. Can you work out the method there? For processing the full season the data should be available on Globus by Friday for transfer to Comet. @craig-willis can answer 2 and 3.

When we reprocess the data, we would first purge the old ca

[2018-01-10 22:21] rmgarnett commented on #385
@dlebauer If we're processing the season anyway there is no additional cost to computing the requested ground statistics.

[2018-01-11 01:24] jterstriep commented on #386
I'd like to add additional bullet points to Max's comment which should be true of all the science packages since these are really libraries.
* Remove all print statements
* Use proper logging based on getLogger(__name__)
* Don't use logging.basicConfig
* Don't mask Exceptions. Exceptions should be caught and re-raised with an informational message.

[2018-01-11 01:39] jterstriep commented on #386
The current code catches exceptions and "prints" a message but then continues execution as if nothing had happened. That's almost certainly wrong.

[2018-01-11 17:41] ZongyangLi commented on #338
<img width="466" alt="screen shot 2018-01-11 at 11 36 14 am" src="https://user-images.githubusercontent.com/20230686/34838431-aeeded22-f6c3-11e7-93c9-5b4466d2daa8.png">
@dlebauer about the chi_leaf parameter, I was thinking that's the 'x' in equation 15.4, is that right? With this 'x' confirmed, we are able to rebuild the leaf angle.

The definition of 'x' is: the ratio of average projected areas

[2018-01-12 04:55] dlebauer commented on #338
@ZongyangLi the reference for chi_leaf is [Cambell 1990](
The reference is in here: http://www.sciencedirect.com/science/article/pii/016819239090030A?via%3Dihub) but it looks like @RemkoDuursma has already implemented all of the functionality we need in an R package called [LeafAngle](https://cran.r-project.org/web/packages/LeafAngle/LeafAngle.pdf).

In R the code to generate the distribution woul

[2018-01-12 15:24] max-zilla opened #389 "scanner3DTop data in SWIR dataset subdirectory"
On the gantry cache there is a SWIR folder:
```/gantry_data/LemnaTec/MovingSensor/SWIR/2017-12-03/2017-12-03__13-19-25-248/```

That contains an entire subdirectory of scanner3DTop data:
[code]

spot checks indicate these also exist where the should:
[code]

...so we aren't sure where these came from. but the pipeline sees a PLY file and tries to redirect it to Level_1 directory (which we do for t

[2018-01-12 15:28] dlebauer commented on #338
@ZongyangLi it looks like the implementation is fairly straightforward; : https://github.com/cran/LeafAngle/blob/master/R/fthetaf.R

[2018-01-12 15:38] dlebauer commented on #338
[Campbell 1990](https://github.com/terraref/computing-pipeline/files/1626544/1-s2.0-016819239090030A-main.pdf)

The equation is below

![c51a95fd-1f14-429c-b548-3735bc7f00a5](https://user-images.githubusercontent.com/464871/34882457-483573fc-f77c-11e7-855e-57f9c23085db.png)

[2018-01-12 15:58] NewcombMaria commented on #389
I see the misplaced folder in the cache server on our side (FileZilla screen view below).  I don't know how it got there, but it is possible that it was copied there erroneously.  I know from experience that we don't have any restrictive permissions for downloading, uploading, copying cache folders.  Let's see if @smarshall-bmr or @rjstrand know more, but it's likely it was somehow copied by mista

[2018-01-12 16:08] dlebauer commented on #389
We should restrict permission so only the machine wires here. Instructions for managing permission are here: https://technet.microsoft.com/en-us/library/bb456977.aspx

if there are  directories that need to be manually added - like uav or logs - those should restricted to specific users or groups on an as needed basis.

[2018-01-12 16:41] ZongyangLi commented on #338
'it looks like the implementation is fairly straightforward; : https://github.com/cran/LeafAngle/blob/master/R/fthetaf.R'

@dlebauer I guess you probably mean this function: https://github.com/cran/LeafAngle/blob/master/R/fitdistribution.R
I may choose an easy way of `Xfit <- -3 + (mean(anglesrad) / 9.65)^-0.6061` or figure out the 'optimize chisq' method. Is that correct?

[2018-01-12 17:35] dlebauer commented on #338
@ZongyangLi the equation in line 37 of [fittheta.R](https://github.com/cran/LeafAngle/blob/master/R/fthetaf.R#L37) appears to be a direct implementation of the pdf in the abstract.

The [documentation](https://www.rdocumentation.org/packages/LeafAngle/versions/1.2-1/topics/fitdistribution) says `Xfit <- -3 + (mean(anglesrad) / 9.65)^-0.6061` condition is not recommended:

Then it fits the function

[2018-01-12 19:30] ZongyangLi commented on #338
@dlebauer Here is the link to the code: https://github.com/terraref/extractors-3dscanner/blob/ZongyangLi-patch-1/leafAngles/leafAngleDistribution.py

The main process can be divide into 3 sections from [line 95](https://github.com/terraref/extractors-3dscanner/blob/ZongyangLi-patch-1/leafAngles/leafAngleDistribution.py#L95) to [line 99](https://github.com/terraref/extractors-3dscanner/blob/Zongyan

[2018-01-15 23:01] #366 closed

[2018-01-16 18:40] craig-willis commented on #378
Globus endpoint is available, but there will be another migration in ~2 months (tracked as separate issue). Nothing to do for Danforth until the endpoint changes. Starting back on full-field analysis now.

[2018-01-17 15:01] max-zilla commented on #388
Basic start here: https://github.com/terraref/documentation/pull/171

[2018-01-17 15:10] NewcombMaria opened #390 "Remove VNIR data from 5 dates Dec 12, 23 and Jan 1, 2, 4"
The VNIR camera was out of position (shifted south temporarily) and does not match the metadata offset information during the dates between  2017-12-12 and 2018-01_10.  At that same time the mirror in the VNIR camera was flawed so the data quality is questionable.  I suggest removing all of the VNIR data from the following dates for the two reasons that the camera location does not match the metad

[2018-01-18 15:44] craig-willis commented on #385
Late update to this ticket. As discussed during the team meeting last week, we're still working on how to support this type of processing with the loss of ROGER.  In the short term, the most reliable approach would be to transfer the desired data to an XSEDE resource via Globus. David has a startup allocation on XSEDE Comet that can be used.  You'll just need to create an XSEDE account (https://po

[2018-01-18 16:18] ZongyangLi commented on #385
David had help me setup a startup allocation, I am now transferring data to the endpoint of 'SDSC Data Oasis' on Globus, I found a directory named by my username there, and I was able to create directories under the 'temp_project'. After the transferring, I will start running a job through Comet.

[2018-01-18 17:22] ZongyangLi commented on #385
@craig-willis Do you have any idea how can we install or find all the python dependencies on Comet such as PILLOW, OPENCV, lmfit, utm and so on.

[2018-01-18 17:39] dlebauer commented on #385
@ZongyangLi two options:

1. open a ticket at XSEDE.org to ask them for their recommendation
   * install appropriate modules?
   * link to the docker container that defines dependencies
   * perhaps use Singularity
2. I've applied for ECSS support which can help further optimize the workflow

[2018-01-18 17:53] dlebauer commented on #385
@ZongyangLi could you also add Craig Willis as a user on your Comet allocation?

[2018-01-18 17:58] ZongyangLi commented on #385
Sure @craig-willis Could you send me your username on XSEDE?

[2018-01-19 21:09] ZongyangLi commented on #338
@dlebauer The output can be divided into two levels:
1. The first level output comes from each point cloud file, implemented by function `full_day_gen_angle_data`, it will output a set of 'npy' file that contains xyz coordinate, leaf normal vector in the position, let's name it output A, it's one file output.

2. The second level output is an integration from output A, implemented by function `ful

[2018-01-23 17:03] max-zilla opened #391 "Clean up Mongo DB"
- deduplicate collections
- unify date hierarchy and fix orphaned collections
- ensure proper nesting of all Level_1 data

[2018-01-23 17:04] dlebauer commented on #391
* [ ] add annual, monthly, and complete collections for Thermal IR GeoTIFFs. There are only daily collections like this one: https://terraref.ncsa.illinois.edu/clowder/collection/5a02fa3f4f0c624704c7d8c6

[2018-01-23 17:13] dlebauer opened #392 "Missing trait data in BETYdb that should be generated by extractors"
At present I see data from the canopy_height extractor, but none of the following that I expect:

* surface_temperature from FLIR
** Update extractor
* hyperspectral indices from hyperspectral pipeline
* canopy_cover from the stereo rgb pipeline

[2018-01-23 18:58] dlebauer commented on #382
For requirements I am going to add:

- number of times each data portal is accessed,
- how much data is retrieved
- something unique about the user
   - username where access is restricted
   - IP address otherwise

If a single sign / unified identify management across interfaces would help we should also discuss the time required to implement such a service

[2018-01-23 21:29] dlebauer commented on #322
How much effort will this take? If we are going to do it, it seems like it would be a good idea to do so while I am updating the documentation and preparing the initial data publication.

[2018-01-24 16:36] craig-willis commented on #373
This ultimately depends the GPFS database solution and will need to be postponed until a future sprint.

[2018-01-24 16:44] craig-willis commented on #381
etcd backup process now running. Backups currently go to NDS node at SDSC.  Will need to rethink backup process for Gluster data (i.e., use condo directly) once the UID problem is resolved.

[2018-01-24 16:44] #381 closed

[2018-01-24 19:37] max-zilla commented on #382
The linked google doc above has been updated. Look for "PROPOSED DESIGN - JAN 24, 2018" halfway down.

[2018-01-24 20:14] max-zilla opened #393 "Evaluate fullfield progress for RGB + FLIR"
Currently the stereo RGB and flir Geotiff converters have 0 remaining tasks in the queue. We need to see if we truly now have full coverage and the status of fullfield database.

This is following on #357

[2018-01-24 20:14] max-zilla commented on #357
Continued in #393

[2018-01-24 20:14] #357 closed

[2018-01-24 20:15] max-zilla opened #394 "Transfer gpfs_scratch directory to Condo"
When last talked with @jdmaloney we had transferred the /sites directories completely to condo but the EnvironmentLogger and VNIR data in /gpfs_scratch on Roger still needs transferred.

[2018-01-24 20:16] max-zilla commented on #378
gpfs scratch is last remaining data, covered specifically in issue #394

[2018-01-24 20:16] #378 closed

[2018-01-24 20:25] max-zilla commented on #386
Remaining work:
- pypi uploading
- brief code review with @robkooper @jterstriep @craig-willis

[2018-01-24 20:41] max-zilla commented on #387
@jterstriep should have permissions on bitbucket now.

[2018-01-25 18:01] dlebauer commented on #338
@ZongyangLi we should address this question along with https://github.com/terraref/computing-pipeline/issues/356 and come up with a generic solution of how to compute plot level means when there are two separate datasets taken on the same scan

[2018-01-25 18:14] dlebauer opened #395 "Put terrautils onto pypi"
Completion criteria

* [ ] pip install terrautils

[2018-01-25 18:37] craig-willis opened #396 "Review and refactor stereo_rgb science package"
Per review of stereo_rgb science package in https://github.com/terraref/computing-pipeline/issues/386, we have identified a few concerns that need to be addressed for this as an example of the new "Science package" module (for example, it should be using standard modules for csv generation and ordered dictionaries)

Completion criteria:
* [x] Review existing code, make recommendations for changes

[2018-01-25 18:38] craig-willis commented on #386
Moving to new milestone. As discussed, this separate from work now in issue #396.

[2018-01-25 18:39] craig-willis commented on #387
Per discussion, this is limited in scope to the changes requested for TERRA and understood that it will likely require work from pyclowder team with ongoing communication.

[2018-01-25 19:20] #388 closed

[2018-01-25 19:21] craig-willis commented on #380
Pulling this out of sprint since we've deprioritized for short term.

[2018-01-25 19:22] craig-willis commented on #384
Moving this to the current sprint temporarily.  @jdmaloney the scratch move is a higher priority. Let me know if you can't complete both in this two-week timeframe.

[2018-01-25 19:24] craig-willis commented on #382
Removing from current sprint since we've deprioritized.

[2018-01-25 19:26] craig-willis commented on #394
Per meeting today, this is high priority as it is blocking any progress on VNIR, soil_mask and canopy_height data products.

[2018-01-25 19:28] craig-willis opened #397 "Implement initial process for generating filesystem information"
In lieu of the GPFS policy engine implementation, we urgently need a record of what's on disk to track progress.  Implement a process to generate this information.

Completion criteria
* [ ] New code in admin repo
* [ ] Data on disk

[2018-01-25 19:30] craig-willis opened #398 "Generate fullfield products"
We continue to have problems with the fullfield pipeline.  This is a best-effort task to generate as many fullfield products as possible along with trait data.

* Implement additional logging in rule-checker and field-mosaic
* Generate remaining full-fields (brute force kick-off)
* Evaluate status of existing files (remove pre-break files)
* Troubleshooting/diagnosis of fullfield and trait generat

[2018-01-25 19:36] craig-willis opened #399 "Run soil mask and indices for existing VNIR data"
The hyperspectral workflow to generate NC from raw data is partially complete.  This task is to run the soil_mask and hyperspectral indices process for the existing VNIR data to generate review data.

Completion criteria:
* [x] VNIR data copied from ROGER scratch to condo (blocking)
* [x] Register existing datasets with Clowder?
* [x] Run soil_mask extractor on existing inputs
* [ ] Run hyperspect

[2018-01-25 19:41] craig-willis opened #400 "Fix and re-run irrigation extractor"
Opted to create a new ticket for this since it's really separate from  https://github.com/terraref/reference-data/issues/196.

Fix and re-run the irrigation extractor:

Completion criteria:
* [x] Fix problem (what's coming out of pipe), implement change,
* [x] review/merge PR
* [x] ~~Get irrigation polygons and figure out what to do with it (i.e., BETY treatment).  Need to have documentation addre

[2018-01-25 19:45] craig-willis opened #401 "Stability concerns: planning/design"
We continue to have stability issues with Nebula and it will likely continue.  We need to identify some way to mirror parts of the system to allow users to access during outages.  For example, can we deploy (or have a way to deploy) a snapshot of key databases to AWS with subset of sample data. Such as  Clowder, BETY, Thredds with sample data; some sample netcdf.

Completion criteria:
* [x] Meetin

[2018-01-25 19:48] craig-willis opened #402 "Bring back THREDDS and Pecan machines"
Per planning meetings, we need to bring back Thredds and Pecan machines.  (There was also a comment to look at adding envt logger data https://github.com/terraref/reference-data/issues/222, but I'm not sure if we committed to this).

Completion criteria:
* [x] THREDDS machine is running
* [x] Pecan machine in is running as expected
* [ ] Address reference-data/issues/222, if in scope

[2018-01-25 19:49] craig-willis opened #403 "Plan for how to use ECSS"
Define our plan for using the XSEDE ECSS allocation.

Completion criteria
* [ ] Meetings with team, as needed
* [ ] Document defining requirements/plan in Google docs
* [ ] Review meeting with team

[2018-01-25 19:51] craig-willis opened #404 "Publish terrautils to pypi"
We want the terrautils package to be published.

Completion criteria:
* [x] Terrautils published to pypi
* [x] Documentation describing how to do this in the future
* [x] Review documentation with team members

[2018-01-25 19:52] craig-willis commented on #395
Oops, I wrote a duplicate in #404

[2018-01-25 19:52] #395 closed

[2018-01-25 22:16] dlebauer opened #405 "refactor laser3D extractor"
Following from https://github.com/terraref/computing-pipeline/issues/338

We want to move science functionality that currently exists in https://github.com/terraref/extractors-3dscanner into the new https://github.com/terraref/scanner_3d repository

* looks like the directory 'scanner_3d' currently contains ply2las and plant_height
  * these should be separate modules
  * plant height extractor sh

[2018-01-25 22:49] dlebauer commented on #405
@jterstriep you mentioned using a python interface or equivalent of lastools. I found laspy but not equivalent functions for lasclip, lasmerge, or las2dem. Any suggestions?

[2018-01-26 01:12] dlebauer commented on #402
Not committed to providing envt logger data on thredds but if it is a quick update it would be nice to provide the concatenated daily files

[2018-01-26 15:01] dlebauer commented on #338
@ZongyangLi I moved the refactoring to #405, where @weiqin61 will lead the refactoring effort

[2018-01-26 15:07] ZongyangLi commented on #385
@dlebauer @craig-willis
The transfer from globus terraref to comet scratch stopped when it reach 1 TB. It's the same as my Data Oasis Limits.

[2018-01-26 15:16] ZongyangLi commented on #385
Let me try it again, I start two transfer and they both stopped after transferring about 500 GB data. Maybe it's one time 500GB limits.

[2018-01-26 16:59] dlebauer commented on #403
I started a draft workplan, but will wait to meet with team and ECSS expert before flushing out https://docs.google.com/document/d/1hsFsAsmYQfuLe1frtEQoRDmNBnZYPXGYrn_PsWempwE/edit

[2018-01-26 20:41] craig-willis commented on #394
As of this morning, we have some initial data transferred from ROGER scratch and can start testing the soil_mask and hyperspectral indices.

[2018-01-26 20:56] dlebauer commented on #400
Renamed irrigation_flux (kg/m2/s) to irrigation_transport (kg/s) following cf vocabulary

The first step: fix problem should be resolved by two PRs:
* https://github.com/terraref/extractors-environmental/pull/25
* https://github.com/terraref/terrautils/pull/42

[2018-01-26 23:49] dlebauer commented on #400
Draft queries to define irrigation zones are here: https://gist.github.com/dlebauer/28d9b22b7c4c88c35f96ae167aa45e71 waiting on replies to https://github.com/terraref/reference-data/issues/196#issuecomment-360920825

[2018-01-26 23:55] dlebauer commented on #385
Perhaps try opening a ticket with Comet support?
On Fri, Jan 26, 2018 at 9:21 AM ZongyangLi <notifications@github.com> wrote:

[2018-01-29 02:07] weiqin61 commented on #405
https://github.com/terraref/canopy_height
Here is the package for canopy_height

[2018-01-31 16:04] robkooper commented on #402
I'll use #406 as to solve terraref/reference-data#222

[2018-01-31 16:04] #402 closed

[2018-01-31 16:59] dlebauer opened #407 "Issues w/ THREDDS server: slow & won't plot x,y"
In testing out the new THREDDS server, I found the following issues that did not appear in the previous iteration:

* the server is very slow ... to load a plot in Panoply takes ~1m. Before it was possible to scan along a dimension (like a movie along y dimensions) at < 1 s / frame. Now that is not really practical. Perhaps this should be a separate issue?
* When I try to plot x,y dimensions I get

[2018-02-02 15:05] craig-willis commented on #397
Closing this since JD was able to run the GPFS policy process.

[2018-02-02 15:05] #397 closed

[2018-02-02 19:21] ZongyangLi opened #408 "Calculating plot boundaries from bety query(BUG)"
### Description

In my recent test in canopy_height extractor, something unexpected appear:

From a BETY query from [terrautils](https://github.com/terraref/terrautils/blob/master/terrautils/betydb.py#L123) we can get these two records for example:

MAC Field Scanner Season 4 Range 42 Column 12 W: { "type": "MultiPolygon", "coordinates": [ [ [ [ -111.974868140365928, 33.07603706158018, 0.0 ], [ -1

[2018-02-02 21:31] dlebauer commented on #408
@ZongyangLi thanks - you found an error in the underlying data that should have been caught in https://github.com/terraref/reference-data/issues/194#issuecomment-334314169 but was overlooked. I will fix it.

[2018-02-02 21:42] dlebauer commented on #408
@ZongyangLi see if it is fixed now.

[2018-02-02 22:18] ZongyangLi commented on #408
@dlebauer Yes it fixed now.

My further concern is about the reprocessed canopy_height data. It will have such an issue within two subplots.

[2018-02-02 23:38] dlebauer commented on #408
you or I can rename the plots for the reprocessed data, correct?
On Fri, Feb 2, 2018 at 4:19 PM ZongyangLi <notifications@github.com> wrote:

[2018-02-05 15:40] dlebauer commented on #408
@ZongyangLi please remind me when it is time to upload the canopy_height data so that I can fix it.

[2018-02-05 22:29] ZongyangLi commented on #408
@dlebauer
Sorry I don't quite get the idea. When you say upload the data did you mean upload created csv file from extractor?
I thought the data was uploaded when the canopy_height extractor run in the pipeline.

To my understanding, the canopy_height extractor is continues running on clowder pipeline now, it had uploaded error data into BETYdb. The key time point is the time when you fixed s4 E/W

[2018-02-06 12:05] craig-willis commented on #392
@dlebauer  (or @gsrohde  I've been looking at the canopy_cover extractor to see why it isn't posting to BETY.  After working through several bugs in the python code, I'm now getting an HTTP 400 when POSTing to the traits endpoint. Below is a snippet of the CSV file:

[code]

What is the best way for me to troubleshoot the 400 error?

[2018-02-06 13:46] robkooper commented on #392
which machine are you posting this to? you should see something in bety/logs/production.log

[2018-02-06 17:33] gsrohde commented on #392
The problem (or at least _a_ problem) is the format of date/time.  The time portion should use colons and decimal points as separators: 12:00:00.000

The API does send a response to requests, but I don't know if your extractor captures it.  It might be useful to have a debug mode that logs this somewhere so you at least get a clue as to what is going wrong.

[2018-02-06 18:51] craig-willis commented on #392
Thank you, @gsrohde. Apparently the extractor is not outputting the error string -- I'll update.  I am seeing one when POSTing manually.
[code]

It looks like the file doesn't conform to requirements in more ways than one.

[2018-02-06 20:36] gsrohde commented on #392
Try replacing "-d" with "--data-binary".

[2018-02-06 20:43] craig-willis commented on #392
Thanks, @gsrohde. I missed that in the bety docs

[2018-02-06 22:18] craig-willis opened #410 "Terrautils bety.submit_traits has no return information"
Testing the canopy_cover extractor, the submit to BETY was failing due to formatting errors. The submit_traits method should return an error along with the BETY supplied messages.

Acceptance criteria:
* Terrautils bety.submit_traits returns error and BETY message

[2018-02-07 02:50] craig-willis opened #411 "Setup automated builds for extractor images"
The following Docker images are manually built and should be automated via github:
* [ ] ext-sunshade-soilmask
* [ ] ext-rulechecker
* [ ] metadata-cleaner
* [ ] ext-lemnatec-plantcv
* [ ] ext-3dscanner-heightmap
* [ ] ext-geotiff-fieldmosaic
* [ ] ext-metadata-sensorposition

[2018-02-07 19:56] max-zilla commented on #398
we currently have around half of the full-field products generated. this is main issue following #393

[2018-02-07 19:56] #393 closed

[2018-02-07 19:59] max-zilla commented on #373
Have loaded @jdmaloney initial file list into a postgres database (rulemonitor db on terra-postgres, filesystem table) with filepaths queryable to facilitate this process. Will follow on with this in #398

[2018-02-07 19:59] #373 closed

[2018-02-07 20:44] max-zilla commented on #387
any updates Jeff?

[2018-02-07 20:56] max-zilla commented on #405
We want to look at using other libraries e.g. laspy

[2018-02-07 21:13] robkooper commented on #407
Fixed problem with script that would generate bad path names.
Looks like this particular dataset is not correct, others seem to work.

Seems something changed somewhere in 2017, early 2016 works, late 2017 does not.

[2018-02-08 16:23] max-zilla commented on #400
Merged terrautils PR.

[2018-02-08 16:39] max-zilla commented on #403
Should discuss Parsl & overall changes to workflow management.

[2018-02-08 17:19] jdmaloney opened #412 "Unexplained Reprocess of scanner3DTop Data"
Description:
Noticed a large amount of generated on gantry-cache that did not co-incide with data being gathered by the normal daily scans.  This data showed up in the MovingSensor.reproc2016-8-18 directory and looks to be that all scanner3DTop data from ~2017-07 and onward got reprocessed.

Details:
The reprocessing dates (based on file create time) started close to Jan 12.  There is about 26TB o

[2018-02-08 17:32] dlebauer commented on #84
* Metadata consistency: check that time and geolocation of concurrently run sensor scans are consistent (eg https://github.com/terraref/reference-data/issues/226)
* scan alignment #153
* Hyperspectral #190
* Radiometer data https://github.com/terraref/reference-data/issues/229

[2018-02-08 21:22] craig-willis commented on #392
@gsrohde Similar question for the meantemp extractor:

[code]

Sample record:
[code]

[2018-02-08 22:01] craig-willis commented on #392
Ah, I think I see what happened.  The dataset I chose was a wheat fullfield image, but the extractor is hardcoded for Sorghum.  @max-zilla is this something we've already addressed?

[2018-02-11 15:53] NewcombMaria commented on #412
@jdmaloney the cache server shows where the 2018-01-12 reprocessing by the ply worker began.  The best I can determine is that the reprocessing tracks back to steps that Stuart took after Slack general channel discussion on Jan 12 and the resulting gitbhub #389 (Scanner 3DTop data in SWIR dataset subdirectory).  Stuart wrote in slack on 2018-01-12 that he reset the pl-worker to repopulate the Lemn

[2018-02-11 16:00] NewcombMaria commented on #412
To prevent unplanned reprocessing from happening again I will check the settings in the ply-worker hardwarelni.xml file and ensure that the settings don't change going forward.  I don't know why some specific dates did not transfer back to NCSA.  In Oct/Nov we did not have a crop in the field - data from those months are not important.  Data from August and Sept 20 dates are important.

[2018-02-14 17:02] Paheding opened #413 "Quality indices for assessing hyperspectral data"
**Title**: Produce quality indices for assessing hyperspectral data

### Description:
The quality index essentially helps to indicate possible issues on the captured images such as issues in senor focus, pixel resolution, noise level, etc. which may be caused by the scanning mechanism, optical influences, and scanning environment.  The quality scores will be extracted from individual hyperspectral

[2018-02-14 20:16] craig-willis commented on #394
All done.

[2018-02-14 20:16] #394 closed

[2018-02-14 20:37] #391 closed

[2018-02-15 15:36] ZongyangLi commented on #338
@dlebauer @weiqin61 @pless

Leaf angle distribution code had uploaded [here](https://github.com/terraref/extractors-3dscanner/pull/23).
You can find both beta-parameter and chi-fit-parameter from [output](https://drive.google.com/open?id=1IwLrvi39Krk-UbtMjVMSyd9E42W0Ro2R) csv file.

Here is a visualization for out leaf angle distribution for both parameter: the red line in the first figure shows a

[2018-02-15 17:17] max-zilla opened #414 "Move ScriptBackup directory from AZ to NCSA"
On the cache server:
/gantry_data/LemnaTec/ScriptBackup

Has a selection of C# scripts corresponding to gantry operation:
[code]

If not already, we should be moving this to NCSA along with other data to have a permanent backup.

[2018-02-15 17:33] max-zilla opened #415 "Review backup situation on cache server"
We need to take a careful look at backup setup for the gantry+cache server.
- any computers inside gantry box
- cache server
- other hardware?
...that is running mission-critical software, as @jterstriep reminds us it is "when, not if" that hardware fails, we aren't sure we have a solid backup/recovery plan.

@jdmaloney was involved in initial setup of cache server to some degree, but with Stuart'

[2018-02-15 17:34] max-zilla commented on #338
@ZongyangLi thinks this is ready to deploy in pipeline.

[2018-02-15 17:45] max-zilla commented on #338
More clarification:

- right now this script needs both a PLY file (or LAS file) and matching PNG greyscale file. We store PNG in raw_data and PLY in Level_1.
- the script expects same footprint for PNG and PLY, to associate greyscale values with points in point cloud.
- we eventually want to take LAS files, stitch them together and clip to plots, then run this extractor on plot-level data
- but w

[2018-02-15 18:41] craig-willis commented on #392
Update on this issue.  The surface_temperature variable and methods have been created.  The extractor is currently failing to post to BETY due to values outside of the allowable range.  For this input file: https://terraref.ncsa.illinois.edu/clowder/files/5a0cfa184f0ca87e15c1763d?dataset=5a0cfa164f0ca87e15c175e7, 85/865 values are < 0.

[2018-02-16 18:03] jdmaloney commented on #412
@NewcombMaria Thanks for looking into this, I began deleting the data on the gantry-cache that we'd already brought back here to NCSA and it started to repopulate again so something is still running and automatically creating those file (the recreation started pretty much right after I deleted those files).

The IP Address of the machine that appears to be doing the work is 10.160.21.81 if that he

[2018-02-16 18:12] dlebauer commented on #392
I changed the units from K to C and valid range - can you try again?
On Thu, Feb 15, 2018 at 11:41 AM Craig Willis <notifications@github.com>
wrote:

[2018-02-16 18:20] dlebauer commented on #338
Sounds like this isn't ready to deploy. At this point wouldn't it be easier and more robust to refactor to use existing tools as described in https://github.com/terraref/computing-pipeline/issues/405 ?

[2018-02-16 18:31] craig-willis commented on #392
@dlebauer Max noted that the negative values were related to numpy nodata values (-99) on the border rows.  Would it be sufficient to ignore nodata values when calculating the mean temp?

[2018-02-17 02:46] dlebauer commented on #392
Yes go ahead. Most of the other T values are in C
On Fri, Feb 16, 2018 at 3:48 PM Craig Willis <notifications@github.com>
wrote:

[2018-02-17 14:57] max-zilla commented on #392
https://github.com/terraref/extractors-multispectral/pull/12 I thought we decided the opposite?

[2018-02-17 15:35] dlebauer commented on #392
I think we should use cf conventions with level 1 sensor data. BETYdb is less strict. I changed it because I assumed the extractor was failing because of incorrect units. So I searched variables in BETYdb and saw most are in C. I think it is a good idea to have a standard and SI units is an easy overall approach to remember but in the case of T it appears C is the convention and will likely be eas

[2018-02-17 15:50] dlebauer commented on #392
PS for more context: CF is a convention. There is no convention for traits. We can and keep cf for traits in this case.  Maybe it makes sense in the pipeline. The important thing will be to provide trait data in a more standardized way - eg however it is stored in BETYdb can be changed / harmonized when it is exported to ICASA and BRAPI. Note that we have standard name and standard units fields in

[2018-02-19 14:25] craig-willis commented on #392
https://github.com/terraref/extractors-multispectral/pull/22

[2018-02-20 15:00] max-zilla commented on #396
Reviewed and merged the big PR. additional work can be done in additional PRs.

[2018-02-20 16:38] ZongyangLi opened #416 "Set up deep learning environment on Comet or Roger"
The following extractors are looking for a gpu based deep learning environment. It's a good time to build a docker container or Singularity Image file for this.

All the dependencies I am using now are:

- Normal python lib: pyyaml, sympy, h5py, cython, numpy, scipy

- Some particular lib: opencv3, easydict, pytorch

Some other dependencies might need to be added as project ongoing.

[2018-02-21 16:43] max-zilla opened #417 "Error reading PLY headers"
Encountering the following error on heightmap extractor:
[code]

encountered this on test files from 2018-02-12, 2016-05-03, 2016-11-30.

[2018-02-21 20:17] max-zilla commented on #386
- move get_image_shape to terrautils()
- entry_points in setup.py for conversion & canopy cover
- update test.py
- move test data outside repository - GitHub large file service? Clowder?

[2018-02-21 20:25] max-zilla commented on #401
Had a meeting to discuss, now @robkooper @craig-willis and I need to sit down.

[2018-02-21 20:26] max-zilla commented on #404
@jterstriep hoping to finish this week

[2018-02-21 20:27] max-zilla commented on #386
also need to published to pypi

[2018-02-21 20:27] #396 closed

[2018-02-21 20:32] max-zilla commented on #398
stereo rgb, flir IR have completed generation @ 80% threshold and need to be evaluted for exhaustiveness.

Remaining full field (laser 3D heightmap stitch) on hold pending fix of the heightmap PLY -> BMP conversion #417

[2018-02-21 20:35] max-zilla commented on #400
@dlebauer should update pull request based on Wei's suggestions in extractors-environmental.

[2018-02-21 20:47] max-zilla commented on #405
@weiqin61 perhaps look at one of our merged LAS files and see if we can use laspy las2dem to generate an angle map/heightmap.

[2018-02-21 20:55] max-zilla opened #418 "Elasticsearch reindex completion"
The reindexing of elasticsearch is not completing properly, but it completes on my local laptop. Need to determine why this is not completing.
[x] try running on terra-clowder directly

@robkooper

[2018-02-22 14:06] max-zilla commented on #417
Before working a lot on this, @weiqin61 is going to look at las2dem function in laspy to see if we can convert merged LAS to bmp/geotiff directly without needing PLYReader.

[2018-02-22 15:31] max-zilla commented on #418
Working theory with help from @robkooper is that, when we call /api/reindex, it deletes the index and recreates.

However, default behavior for any other incoming documents is to check if index exists and create if not.

So we think what was happening was:
1) reindex deletes index
2) some other source creates index when it POSTs before reindex can do so
3) reindex tries to create index and fails b

[2018-02-22 16:30] max-zilla commented on #418
pull request created: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1220/overview

[2018-02-22 17:11] max-zilla commented on #412
we may need input from LemnaTec (@TinoDornbusch maybe?) to modify the start date of PLY Worker,  so that we aren't reprocessing repeatedly.

Should also consider status of raw_data - if we have old raw_data that is triggering PlyWorker, we should verify it has been transferred and delete from cache server.

[2018-02-23 03:35] dlebauer commented on #405
@weiqin61 could you give an update on the progress with this?

[2018-02-24 11:47] craig-willis opened #419 "Incomplete data in geostreams?"
For the upcoming DataDrivenAg hackathon, I was trying to do the following:
* Find all sensor data contained within a plot boundary for some time period

The hope was to use the new sensorquery API, but this is still not fully working. Instead, I tried going to Geostreams directly:

Find the Geostreams sensor associated with a given Season 4 plot -- I picked something in the middle of the field:
[c

[2018-02-25 20:27] dlebauer commented on #386
* [ ] need to update readme
* does it make sense to have nested stereo_rgb/stereo_rgb/ directories?
* would it make sense to keep bin2tif which produces a Level 1 product separate from, e.g, canopy_cover that produces a Level 3 (trait) product?

[2018-02-26 13:54] max-zilla commented on #419
We can discuss when you get in. The "Datasets" streams are all driven by sensorposition extractor which we haven't been running more than 3 at once while doing the full field processing. Currently there are ~6 million messages to process there:
http://rabbitmq.ncsa.illinois.edu:15672/#/queues/clowder/terra.metadata.sensorposition

I would expect a number of the RGB Geotiffs, for example, are in th

[2018-02-26 16:13] jterstriep commented on #386
Regarding readmes -- Unfortunately, pypi does not support the same markdown
as github so directly using the REAMDE.md when publishing doesn't work
well. I ended up creating a description.rst for the terrautils package. We
should do the same for stereo_rgb.

The nested stereo_rgb/stereo_rgb is the proper format for packages. The
first stereo_rgb is more like the distribution name and the second is

[2018-02-27 14:53] craig-willis commented on #399
Trying to run soil_mask on existing inputs and running into OOM errors via Kubernetes.  @max-zilla  will maybe need some help purging the queue(s) so we can process only the small stuff in the short term.

[2018-02-28 20:06] Paheding commented on #413
A sample result from testing on the SWIR data quality. Note that starting 2017-12-06, the focus was changed to a better one, thus the quality scores lower (lower is better) than the image captured in 2017-12-03.

![image](https://user-images.githubusercontent.com/24866799/36810219-b1ece9aa-1c8f-11e8-92b9-9768f1ef403a.png)

[2018-03-02 15:33] craig-willis opened #420 "Terrautils enhancements for BETY"
We've run into problems with hardcoded values in the traits extractors. We need to be able to :

* [ ] Get cultivar name by plot for use in submit to bety
* [ ] Get author from method name

[2018-03-06 15:40] NewcombMaria commented on #412
@jdmaloney and @max-zilla the PlyWorker needed to be re-started over the weekend and again it started re-processing files in the MovingSensor.reproc2016-8-18 directory.  It might be that some of the processed folders were removed while the associated old raw_data remained on the gantry cache?  I'm not certain.  For now we decided yesterday to stop the PlyWorker temporarily.

[2018-03-07 20:16] max-zilla commented on #386
Wei has updated the tests and get_image_shape() is in terrautils in this PR: https://github.com/terraref/terrautils/pull/45

- update readme
- decide final structure - pypi? include this + terrautils in larger library?

[2018-03-07 20:49] dlebauer opened #421 "laser3d: use las2dem to generate canopy height and leaf angle rasters"

[2018-03-08 17:41] dlebauer commented on #336
Next step: @nfahlgren is going to write the betydb insertion extractor and @max-zilla will review

[2018-03-13 01:09] dlebauer commented on #408
Yes this should be fixed when we refactor the laser3d extractor and reprocess the height data

[2018-03-13 01:09] #408 closed

[2018-03-13 14:50] max-zilla commented on #356
https://docs.google.com/document/d/1CYxI03rZS6kZRff4RTXQ5ZJDApMdclc4T2PbiMftMXg/edit notes here

[2018-03-13 15:01] max-zilla commented on #356
ACTION ITEMS
- Max will soon share commands to go from a plot & time to a set of clipped GeoTIFF images for that plot
- We identify initial target extractors - RGB canopy cover, FLIR mean temperature, panicle counts - and try current approach + alternative approaches w/ manual visual inspection to attempt to quantify the relative accuracy of these approaches
- reconvene to determine integrating be

[2018-03-13 16:05] dlebauer commented on #352
@rjstrand could you please upload the new proposed positions

Will start w/ moving VNIR/SWIR south

[2018-03-13 16:16] dlebauer commented on #208
follow up in #289.

[2018-03-13 16:16] #208 closed

[2018-03-13 16:24] remotesensinglab commented on #352
Is fusion of VNIR-SWIR with stereo important? Who are working on it? Original layout of sensors was designed to make sure having the same FOV for both Stereo RGB and VNIR/SWIR. Do we still need that?

1) VNIR+SWIR - align in the center, and move south,  reduces shadow, increases sunlight coverage.

2) If possible, we can move Stereo RGB and FLIR as well, to south?

3) If we can not move Stereo RGB

[2018-03-13 16:36] JeffWhiteAZ commented on #352
On having RGB aligned w hyperspectral cameras. Presumably the original intention of having the same FOV was:
1. To facilitate comparisons of RGB-based phenotypes (cover, red-green index ...) with vegetation indices such as NDVI from the VNIR.
2. To allow creating a 3-D reconstruction that could assist in analyses of any hyperspectral data (e.g., correcting for leaf angle)
Intention number 1 seems

[2018-03-13 16:42] dlebauer commented on #352
proposed locations from @rjstrand

![camera arrangment 001](https://user-images.githubusercontent.com/464871/37356240-7e448d14-26b3-11e8-8362-76c5f9b15472.jpeg)

![camera arrangment 002](https://user-images.githubusercontent.com/464871/37356239-7e30fc0e-26b3-11e8-854c-997a58bc42fc.jpeg)

![camera arrangment 003](https://user-images.githubusercontent.com/464871/37356238-7e25085e-26b3-11e8-91ba-16da

[2018-03-13 16:43] JeffWhiteAZ commented on #352
On targets.
Design-wise, I think we can mount an arm with a small target, holding the arm in place using magnets. We can at least use such an assembly in wheat or other crops with low height variation and with sorghum before the crop gets too tall.
Have we heard from image analysis people about possible issues with having the arm+panel in the FOV of other images?
For ground-based targets, it would

[2018-03-13 17:08] dlebauer commented on #352
Here are some illustrations of the 3 options summarized by @remotesensinglab in https://github.com/terraref/computing-pipeline/issues/352#issuecomment-372727152

1. spectralon target extending outside the camera box
2. extended target from the gantry arm.
3. Low maintenance ceramic tiles on the ground.

(I am interpreting 'on the ground' as 'staked into the ground')

<img width="245" alt="image" s

[2018-03-13 17:22] JeffWhiteAZ commented on #352
Maria can comment with more knowledge of scan heights and reach, but I don't think option 2 is viable. The arm would have to be quite long (in Y = East-west direction) because the hyperspectral cameras only scan to within a certain distance. Unless it were above a persons height, it thus would be a substantial safety issue.
I favor a combination of the box-mounted arm and fixed-position targets.

[2018-03-14 14:44] jterstriep commented on #387
A new pull request has been created for pyclowder and has been approved by @robkooper  but has not been merged into master yet. But pyclowder was published to PyPI and is currently available there.

[2018-03-14 14:44] #387 closed

[2018-03-14 15:00] jterstriep commented on #404
Terrautils has been uploaded to PyPI in both source and wheel distributions. Two version are currently available. Version 1.1.0 supports the terraref namespace so code would 'import terraref.terrautils', version 1.0.0 supports the original 'import terrautils'.

Installation automatically installs all dependencies listed in the setup.py. This is slightly different from the group's practice of placi

[2018-03-14 19:09] max-zilla commented on #384
@jdmaloney any updates here?

[2018-03-14 19:11] dlebauer commented on #392
other than hyperspectral, which is no longer expected, these are now in the database and this can be closed https://traitvis.workbench.terraref.org/

[2018-03-14 19:11] #392 closed

[2018-03-14 19:13] max-zilla commented on #404
This introduces the terraref package space (1.1) so using pip install will need to use the new import.

pip install terrautils==1.0.0 will be the same as before.

[2018-03-14 19:18] max-zilla commented on #404
tag & push current docker image as 1.0.0.

new version of docker becomes 1.1.0 and extractors building from it will require the new import syntax.

[2018-03-14 19:22] max-zilla commented on #404
https://github.com/terraref/terrautils/pull/46

[2018-03-14 19:27] craig-willis commented on #403
Updating this ticket. Initial call with ECSS support on 3/8 with followup scheduled for 3/16.  Will document recommendation after that call.

[2018-03-14 19:39] max-zilla commented on #398
- should queue up remaining files that were skipped due to fullfield eligibility, but not for this data release.
- how many of these fullfields were skipped given the scan program name? go through scan program names, dates, metadata and the rulechecker DB and determine what is EXPECTED BUT MISSING.

[2018-03-14 19:56] max-zilla commented on #417
Plan is to use LAStools to merge and laspy to convert to GeoTIFF and bypass this issue by operating on converted LAS files instead. this issue no longer relevant for upcoming pipeline

[2018-03-14 19:56] #417 closed

[2018-03-15 18:40] max-zilla opened #422 "refine clip_raster function for edge cases"
I wanted to provide some sample clipped geotiffs to use as test for the extractor revisions to use instead of fullfield mosaic. However, the first one I chose is encountering an error so I wanted to share.

https://drive.google.com/file/d/1fSgjg29u2BzvjftaAmXcfWt7pa4LB6f5/view?usp=sharing
https://drive.google.com/file/d/1QZeNzZWfChNZh6H0BWuXFFAVJzaV57ey/view?usp=sharing
Here are links to the two .

[2018-03-15 18:42] max-zilla commented on #356
Further discussion occurring here before proceeding: https://github.com/terraref/computing-pipeline/issues/422

[2018-03-15 19:56] #301 closed

[2018-03-15 19:57] dlebauer commented on #301
closing because, in practice, users have been more inclined to use octave or translate code to Python

[2018-03-15 19:59] dlebauer commented on #224
closing since no one is curently working on sensor fusion

[2018-03-15 19:59] #224 closed

[2018-03-15 20:00] dlebauer commented on #121
closing since we currently have no plans to pursue a sensor future data product

[2018-03-15 20:00] #121 closed

[2018-03-16 20:47] ZongyangLi commented on #422
@max-zilla
May I ask where are these gdal.py codes comes from? I do not remember I had write such codes.

The one I can find most similar to this is here: http://karthur.org/2015/clipping-rasters-in-python.html
I am wondering if this gdal.py is the newest version for this blog?

[2018-03-16 20:59] dlebauer commented on #422
@ZongyangLi it looks like they were contributed by a @PoppinBenny (Xingchen? @jterstriep do you know?)

see https://github.com/terraref/terrautils/blame/improve-datapoint-creation-logic/terrautils/gdal.py#L137

[2018-03-16 21:02] ZongyangLi commented on #422
@dlebauer Thanks, I see. I updated my comment for this.

[2018-03-19 04:48] NewcombMaria commented on #352
Regarding targets, which are needed independently of sensor relocation, I've talked with people about the engineering logistics and it seems in theory that any of the 3 options that @dlebauer illustrated in the March 13 comment could work, with preference for the first option of extending an arm down from the camera box, less than 2 meters from the sensors to definitely clear the tops of plants.

[2018-03-19 11:45] remotesensinglab commented on #352
If the option 1 is feasible, it would be a preferred solution.

[2018-03-19 13:11] max-zilla commented on #418
Currently at about 10 million / expected 13 million documents indexed.

[2018-03-21 19:10] craig-willis commented on #404
@robkooper Please add max-zilla as owner

[2018-03-21 19:21] craig-willis opened #423 "Utilize lasmerge from lastools"
As part of the laser3d refactor, we want to move away from PDAL to some other package for merging to LAS files. (PDAL was designed to work with PLY files, not LAS).  After some analysis, lastools was selected. This task is to update the laser3d  science package to use the lastools merge function.

Completion criteria:
* [x] Implement change
* [x] Unit test including test data
* [ ] Update document

[2018-03-21 19:24] craig-willis opened #424 "Utilize las2dem from lastools"
As part of the laser3d refactor, we want to move away from PDAL to some other package for converting LAS files to geotiff. (PDAL was designed to work with PLY files, not LAS).  After some analysis, lastools was selected. This task is to update the laser3d  science package to use the lastools las2dem function.

This task covers usage for both height_map and angle_map (it should just be a single fla

[2018-03-21 19:24] craig-willis commented on #421
Duplicate (no description

[2018-03-21 19:24] #421 closed

[2018-03-21 19:30] max-zilla commented on #386
https://github.com/terraref/stereo_rgb/pull/5 - final PR changes
https://github.com/terraref/documentation/pull/182 - documentation for how to do this

[2018-03-21 19:53] max-zilla commented on #400
@dlebauer I was attempting to finalize this PR. however, the cfunits python library has a dependency on the C library UDUNITS:

I add this to the Dockerfile:
[code]

With that + pip install cfunits a bug is encountered when trying to import cfunits:
[code]

I spent a few minutes trying to understand why this was failing.
https://bitbucket.org/cfpython/cfunits-python/src/ac37a81ede9b54ff8f4256909d0

[2018-03-21 19:54] craig-willis opened #425 "Globus task status updates from gantry cache are failing"
Globus transfers are completing, but the gantry cache can't close status (thinks things are still ongoing when they aren't).

Completion criteria:
* [x] identify problem
* [x] fix problem

[2018-03-21 19:59] craig-willis opened #426 "Create script to automate milestone creation and migration across sprints"
I'm tired of manually creating milestones and moving issues.

Fix it.

[2018-03-21 21:51] Paheding commented on #413
@dlebauer Currently I am converting the QC indices from Hyperspectral to RGB, thermal images.  I have set at an empirical threshold to hyperspectral and working on the RGB and thermal. To find an optimal threshold, I mainly focus on image illumination, signal and noise ratio, and image contrast (e.g., blurriness).
As for finding a threshold for illumination, I generate a set of images with various

[2018-03-22 14:15] craig-willis commented on #416
@ZongyangLi  Sorry for the delay getting started on this.  I'm working on an image now and have opened a ticket with SDSC support. From their response, they are testing an official Pytorch image now.  I'll still try to get mine running in the short term

[2018-03-22 14:32] craig-willis commented on #403
ECSS call notes are here https://docs.google.com/document/d/1NmgrsG-YXj3ZbEsARheU2ciAMXT3Mx8WBHd3-7rpkAk/edit along with some preliminary thoughts.  I'll create separate issues for some of the prototype tasks.

[2018-03-22 14:38] craig-willis opened #427 "2018 pipeline architecture"
This epics covers the design/documentation, prototyping and implementation of changes to the 2018 pipeline architecture based on lessons learned from 2017.  This includes addressing the loss of ROGER, continued use of Kubernetes, leveraging external XSEDED resources on Comet/Bridges via systems such as Condor.

[2018-03-22 17:15] max-zilla opened #428 "Determine threshold for QAQC metrics"
@Paheding provided the following images as representative of the various levels of light that we see at different times of day/weather in the field. The goal here is to decide where the thresholds are in bright/dark images where we reject them as being too bright/dark.

Darkness levels:
![screen shot 2018-03-22 at 11 56 47 am](https://user-images.githubusercontent.com/14166971/37785433-1f2b9194-2d

[2018-03-22 17:37] craig-willis commented on #416
Just for tracking purposes:
http://www.sdsc.edu/support/user_guides/comet.html talks a bit about the official images on Comet
https://github.com/mkandes/naked-singularity/tree/master/definition-files/us/ucsd/sdsc/comet contains  Martin's definition files

[2018-03-22 18:54] dlebauer commented on #426
Does zenhub already support this? https://www.zenhub.com/guides/managing-cross-repo-milestones

[2018-03-22 18:57] craig-willis commented on #426
Well, that's convenient! Thanks, @dlebauer.

[2018-03-22 18:57] #426 closed

[2018-03-27 15:22] max-zilla commented on #424
LAStools actually charges for this feature. $12k for us. so I looked into pktools as an alternative:
http://pktools.nongnu.org/html/pklas2img.html

Not super easy to get running but once you do it works. Here's how I installed on an empty terrautils docker image:
[code]

Need to rotate output but you get the idea:
![screen shot 2018-03-27 at 10 22 39 am](https://user-images.githubusercontent.com/1

[2018-03-27 20:21] max-zilla commented on #423
Quick update that uses plyfile and laspy to avoid LAStools licensing issues:
[code]

can discuss more in person.

[2018-03-27 20:33] dlebauer commented on #352
For sensor relocation, today we discussed a few alternatives in this pptx file
[Camera arrangment without lighting.pptx](https://github.com/terraref/computing-pipeline/files/1853700/Camera.arrangment.without.lighting.pptx)

And agreed to move forward with configuration 4a

![image](https://user-images.githubusercontent.com/464871/37993409-3c9684ae-31d4-11e8-90cb-78a474b04253.png)

[2018-03-28 02:41] dlebauer commented on #424
What is the white? Has the soil already been filtered out?
On Tue, Mar 27, 2018 at 10:23 AM Max Burnette <notifications@github.com>
wrote:

[2018-03-28 14:45] NewcombMaria commented on #352
Yesterday Bob, John and I moved the camera box to the east limit and looked at alignment with the eastern-most experimental row.  We confirmed that the position of the FLIR in configuration 4a captures the entire experimental plot on the east side within the field of view of the FLIR.

[2018-03-28 16:22] dlebauer commented on #305
@craig-willis has prototyped a geoserver on workbench

* dockerfile: https://github.com/nds-org/data-driven-ag/tree/master/geoserver
* demo of use: https://www.youtube.com/watch?feature=player_embedded&v=znjWGtwIMko

[2018-03-28 16:24] dlebauer commented on #276
we have a nice protocol for deploying webapps as docker images on workbench, e.g. traitvis.workbench.terraref.org

Given a dockerfile, the deployment process can be handled by our team on a case-by-case basis

[2018-03-28 16:24] #276 closed

[2018-03-28 17:23] dlebauer commented on #428
For now, lets start to define the thresholds and actions in this table: https://docs.google.com/spreadsheets/d/1xcTk2Qs6A32ZHj5pkjHqG-0iBw6bxM_gaFzW2Qx1naY/edit#gid=250258672

feel free to adjust the table. I avoided using columns like min, max because there are many potential combinations of [threshold, condition, and action]

[2018-03-28 17:26] dlebauer commented on #428
But ... I think filling out this table would be a good start to completing this issue (currently the issue is too broadly scoped, but I think it can be closed after we figure out how and where we are storing this information.

[2018-03-28 17:36] craig-willis commented on #416
From Comet/XSEDE support:

@ZongyangLi  Will this work?

[2018-03-28 17:42] craig-willis commented on #398
On terra-clowder from @max-zilla  a dump of the rulemonitor db with all the unique FF scans we have and their counts as of friday 3/16 /home/mburnet2/scans.csv.

[2018-03-28 17:58] dlebauer commented on #401
Meeting notes: https://docs.google.com/document/d/1mRtcruPLK-qwso1eStnCWrBiFv66APpwD2oNqHqE4Ls/edit

[2018-03-28 18:41] Paheding commented on #428
@dlebauer  The table looks good, I will fill it out and edit it based on the experimental results.

I have generated canopy cover (CC) percentage and quality score (QS) using a known image with different lighting conditions (see attached). It provides us a pretty clue on how the lighting affects the CC and QS. Next, we need to decide a threshold value based on these results.

https://drive.google.

[2018-03-28 19:17] craig-willis opened #429 "Update terrautils pypi package to use terraref namespace"
Following on from #404, use the new namespace going forward.

Completion criteria:
* [x] Tag github for 1.1.0 release
* [x] Update package spec and setup.py
* [x] Update documentation
* [x] Push to pypi (v.1.1.1)

[2018-03-28 19:18] max-zilla commented on #404
follow on with: https://github.com/terraref/computing-pipeline/issues/429

[2018-03-28 19:18] #404 closed

[2018-03-28 19:43] max-zilla commented on #399
look into possible running without soil masks. get indices that aggregate over soil AND leaves. right now soil mask is prerequisite for indices.

[2018-03-28 19:48] max-zilla commented on #400
consider if there is another library besides cfunits if we can't get cfunits piece properly.

[2018-03-28 19:50] max-zilla commented on #400
try ```apt-get install udunits-bin libudunits2-dev```

[2018-03-29 18:53] craig-willis opened #430 "Setup tasks for ECSS prototype"
Tasks:
* [x] Grant access to Globus endpoint
* [x] Grant access to Bridges project
* [x] Get bin2tif components installed on Bridges, ideally via Singularity
* [x] Setup HTCondor VM/EL7

[2018-03-30 14:53] max-zilla commented on #429
Updated the PR: https://github.com/terraref/terrautils/pull/46

I pushed 1.1.1 then had to update setup.py a bit further because there was an old reference to description.rst and now it's readme.rst. So it's 1.1.2 is latest.

To be consistent going forward the package name also was updated:
https://pypi.python.org/pypi/terraref-terrautils

(terraref- prefix like the science packages)

[2018-03-30 14:53] #429 closed

[2018-04-02 15:21] max-zilla commented on #400
The new apt-get install worked!

[code]

20 gallons/day * ~3.78541 liters/gallon = 75.7082 liters/day
75.7082 liters/day / 86400 seconds/day =  ~0.000876252314815 liters/second

[2018-04-04 13:38] max-zilla commented on #400
Purging datapoints: on terra-postgres, log into geostream db.
```delete from datapoints where stream_id = 3212;```

To submit irrigation collection to the extractor:
[code]

[2018-04-04 13:51] max-zilla commented on #400
https://terraref.ncsa.illinois.edu/clowder/api/geostreams/datapoints?stream_id=3212

[2018-04-04 18:50] jdmaloney commented on #384
Backup bundling is running, but progressing slowly due to NFS/Nebula limitations.  Per conversation with Max I'm closing this ticket since it is running.

[2018-04-04 18:50] #384 closed

[2018-04-04 19:10] max-zilla commented on #403
@dlebauer spoke with Don about DES - his vision was using their Condor submission stuff. Rather than us deploying submission queue on workbench, use existing ones. don't reinvent the wheel.

@robkooper - NCSA is using old hardware to set up campus cluster. looking at leveraging passive compute on student machines. Fairly sure we cannot use the existing submission nodes because they are tied to LSS

[2018-04-04 19:12] max-zilla commented on #401
@robkooper reports there is a meeting on 4/5 to discuss Nebula stability.

[2018-04-04 19:14] max-zilla commented on #423
I will share test files from August 2017 for comparison. LAS files are not same size from new/old method but the individual datapoints have fewer fields - are all points still present?

[2018-04-04 19:15] jdmaloney commented on #412
Removing files from /gantry_data/LemnaTec/3DScannerRawDataTopTmp/scanner3DTop has cleared up this issue and now we know how to control what gets processed.  We'll be adding removal of files from that directory to our clean up procedures.

[2018-04-04 19:15] #412 closed

[2018-04-04 19:15] max-zilla commented on #424
I will share test files from August 2017 for comparison. pklas2img seems to be applying implicit z filtering below certain threshold:
![screen shot 2018-04-04 at 1 37 59 pm](https://user-images.githubusercontent.com/14166971/38329159-9641fa58-3812-11e8-947e-ed3ad77d8eb3.png)

[2018-04-04 19:16] max-zilla commented on #400
@dlebauer please review the new datapoints and we can close.

[2018-04-04 19:25] max-zilla commented on #423
look @ changing LAS data type to support floats for lat/lon, but header having offset and scale that should be sufficient.

[2018-04-04 19:33] craig-willis commented on #416
Latest update

[2018-04-04 19:49] max-zilla commented on #423
- properly georeferencing LAS files first.
- Band1 in output geotiff to Float32 with better name if possible (CF name)
- can we clip LAS to plots on the fly? merge point clouds? rethink workflow here

[2018-04-04 20:21] max-zilla opened #431 "Fix LAS -> GeoTIFF georeferencing"
https://github.com/terraref/laser3d/pull/2

In the new implementation using plyfile + laspy + pktools, the LAS file headers include offset and scale that are supposed to georeference the LAS. However, pklas2img creates a geotiff that is not correctly georeferenced.

Currently in that PR, my code uses same transformation we used for Solmaz's BMP files to rotate and georeference the TIF file to a ne

[2018-04-04 21:06] rynge commented on #430
Starting with the submit host (141.142.209.167), please make sure firewalls allow connections on port 9618 and 11001. The first one is for HTCondor, the second one for pyGlidein. See the two arrows in:

https://github.com/WIPACrepo/pyglidein/blob/master/docs/overview.png

For the HTCondor config on the submit host, first create a pool_password by running:

condor_store_cred -c -f /etc/condor/pool_

[2018-04-05 16:12] NewcombMaria commented on #415
I talked with Bob Strand about back-up methods for computers in the gantry cab.  Bob will be on-site next week and we will talk through a method, prioritizing the LemnaControl computer.  I'll update this issue again when we have an established method.

[2018-04-05 21:10] craig-willis commented on #430
@rynge  I have things mostly working between the VM and Bridges using your example, but the job isn't getting picked up by the client:

Server is running and logging calls to jsonrpc:
[code]

Submitted test job:
[code]

Job is idle on submit node:
[code]

Client returns immediately with nothing to do
[code]

Likely a configuration problem on my part.

[2018-04-06 13:38] rynge commented on #430
@craig-willis The server output above does not show that it found any jobs, and hence the client did not think any new glideins were needed. Are you still running the server? It should have a line on stdout like:

INFO:server:state is updated to [{'count': 1, 'cpus': 1, 'memory': 1024, 'gpus': 0, 'disk': 5242.88, 'os': None}]

[2018-04-06 14:42] craig-willis commented on #430
Thanks @rynge.  I've restarted things and do not see that line.

Here's the submit call:
[code]

Adding the --debug flag to pyglidein_server, I see the following during startup:
[code]

Condor version is 8.6.10
[code]

[2018-04-06 16:26] max-zilla commented on #431
Current progres, ran into same error @ZongyangLi  observed with LAS overflows trying to convert to lat/long. So instead I'm converting to UTM with an offset. This generates the TIF but it's coarse (1m resolution) and not in the correct spot yet. Changing -dx and -dy to 0.1 (or smaller) makes the pixels smaller but does not increase sampling.

My test data is 2017-08-10__00-01-19-561. metadata.json

[2018-04-06 16:46] rynge commented on #430
@craig-willis You do have the line:

DEBUG:server:1, 1024, 5242880, undefined, ( regexp("bridges.psc.edu",Machine) ) && ( TARGET.Arch == "X86_64" ) && ( TARGET.OpSys == "LINUX" ) && ( TARGET.Disk >= RequestDisk ) && ( TARGET.Memory >= RequestMemory ) && ( TARGET.HasFileTransfer )

Please try running the client now.

[2018-04-06 17:25] craig-willis commented on #430
@rynge  Behavior is the same, but here's the server output with debug:

[code]

I did change the Glidein.tarball and Cluster.user values in the client config from rynge to willis8.

I've added you to sudoers on the VM, if useful.  I'm currently running the server under the default centos user.

[2018-04-06 20:27] rynge commented on #430
@craig-willis It seems pyglidein does not work with the newest version of Tornando. In the previous post, I had specified an older version using tornado==4.5.3, but that has already broken. The updated instructions for the server are now:

virtualenv venv
. venv/bin/activate
pip install --upgrade setuptools
pip install minio
pip install https://github.com/tornadoweb/tornado/archive/v4.5.3.zip
pip

[2018-04-06 21:01] craig-willis commented on #430
That did it.  Thanks, @rynge.  Since our allocation is on Bridges large memory partition, I do need to tweak some of the settings, but I see how this will work.

[2018-04-09 13:51] rynge commented on #430
Cool. Note that you can have multiple partitions specified in the config file. I would recommend to just having one for now to keep it simple, but keeping in mind that you can have multiple ones if the workloads in the future require it.

[2018-04-11 18:19] Paheding commented on #428
I have added additional results as we discussed last time, plz check https://drive.google.com/open?id=1OuXE_8y9xVfIGV4YEX1AlogYx7p5bAe1

[2018-04-12 13:15] max-zilla commented on #428
I ran our test image through CC and got the same ~5% value. I exported the mask this time:
![screen shot 2018-04-12 at 8 14 41 am](https://user-images.githubusercontent.com/14166971/38679520-93798062-3e29-11e8-9eee-2c215e220264.png)
![screen shot 2018-04-12 at 8 12 54 am](https://user-images.githubusercontent.com/14166971/38679524-95b9724c-3e29-11e8-91dc-5d3048367a94.png)
![screen shot 2018-04-12

[2018-04-12 13:18] max-zilla commented on #428
Histogram counts ~14,000 plant pixels vs. 238,000 non-plant pixels

14,000/252,000 = 5.5%

[2018-04-12 15:19] max-zilla commented on #431
OK, I think this is looking better now:
![screen shot 2018-04-12 at 9 58 55 am](https://user-images.githubusercontent.com/14166971/38685706-224f8eea-3e38-11e8-816b-70d6677508ea.png)

This is 4 consecutive laser3d scans converted from PLY to LAS to TIF from 2017-08-07 (first 4 scans of the day). Among issues I solved:
- LAS header was off by order of magnitude (0.01 vs 0.001) which resulted in the

[2018-04-12 15:26] max-zilla commented on #431
[code]

That will be sufficient to run.

[2018-04-12 16:31] max-zilla commented on #431
I wonder if the striping at high resolution (e.g. 0.01m) is a result of PDAL or pktools rounding our coordinates "under the hood" and not using enough decimal places to correctly render millimeter-level data. If we have < 7 or so significant digits we'd expect to see this snapping.

[2018-04-12 16:37] dlebauer commented on #431
Won't scale and offset allow you to get below this limit?
On Thu, Apr 12, 2018 at 11:32 AM Max Burnette <notifications@github.com>
wrote:

[2018-04-12 17:18] max-zilla commented on #431
Scale and offset are for LAS, which is fine. This is converting Las to Tif, it seems the way PDAL calculates pixel locations is where the truncation happens.

[2018-04-17 20:17] craig-willis opened #432 "Missing scan_programs.csv in pypi package"
The terrautils lemnatec.py currently depends on data/scan_programs.csv being included in the package to read the full-field eligibility flag.   When installing via pip, this file isn't included.

[2018-04-18 19:07] craig-willis commented on #423
Speaking with @weiqin61, this issue is still active -- there is a PR ready for review
https://github.com/terraref/laser3d/pull/8

[2018-04-18 19:32] craig-willis opened #433 "Generic summary statistics from geotiff + leaf angle statistics from angle map"
Per https://github.com/terraref/computing-pipeline/issues/405, the next step is to compute the leaf angle summary statistics from the angle map.

See https://github.com/terraref/computing-pipeline/issues/338#issuecomment-357304136 for specifics of R code using Leaf angle package.  Basic statistics can be implemented in python or R.

In the short term, you can calculate the basic summary statistics

[2018-04-19 16:31] dlebauer commented on #428
* looks like it is misclassifying pixels that are either too bright or shaded
@pless

* what can be done with respect to the camera / scan settings that will reduce problems w/ saturation?
* is there some threshold % of saturated pixels above which the extractor should not run?
* confirm that canopy cover algorithm works on shaded pixels

[2018-04-19 22:04] craig-willis opened #434 "Resolve globus-uploader bottleneck"
While diagnosing problems with the full-field generation process, I noticed that the overall pipeline is still working through February (2/8 in process as of 4/19).  The current [globus-uploader](https://github.com/terraref/computing-pipeline/blob/master/scripts/globusmonitor/globus_uploader_service.py) assumes a single process.  We can easily parallelize this by adding another status (e.g., PENDI

[2018-04-19 22:10] craig-willis commented on #398
Identified problem with fullfield process due to bin2tif (and likely ir) posting metadata after the files are uploaded.  Tentative fix for this in bin2tif is providing more complete, though incomplete still, fullfields.  First image generated using this method is 2/7/2018.

[2018-04-20 14:29] craig-willis commented on #434
@dlebauer I made a temporary change yesterday to see if we could easily parallelize the globus-uploader component.  The system is now working through 2/9 at a rate of ~2-3 days worths of data per day.  There's no way it will make it through the complete backlog before next week, and scaling the cluster nodes alone won't help and will require more fundamental system changes.

Given our discussion y

[2018-04-20 14:37] craig-willis commented on #434
Blocked by https://github.com/terraref/computing-pipeline/pull/409

[2018-04-20 14:49] dlebauer commented on #434
@craig-willis that sounds like a good plan though it would be okay to hold off until we know the planting date and see if we are close enough.

What does 'change the state' mean? This would prioritize new data?

@NewcombMaria when is Sorghum planting planned?

[2018-04-20 14:53] craig-willis commented on #434
@dlebauer
Yes. The way the globus-uploader works now each task can have a state of SUCCEEDED (transfer complete), PROCESSED (submitted to clowder), ERROR (re-try later), or FAILURE (don't retry later).   The processing loop starts with tasks in the SUCCEEDED state then, once those are complete, moves on to tasks in the ERROR state.

I'm confirming with Max, but I believe if I put the current backl

[2018-04-20 20:54] craig-willis opened #436 "Clowder error when scaling up globus-uploader"
After scaling up the globus-uploader and the rulechecker to work through the backlog of globus transfer, I'm seeing these errors intermittently. At this point, I've seen 8 in ~260 tasks.

[code]

[2018-04-20 20:55] craig-willis commented on #436
@robkooper Any thoughts how to troubleshoot this?

[2018-04-20 22:09] craig-willis opened #437 "Test parallel Clowder instances"
Once again scaling up system components hits a bottleneck with Clowder.  We need to determine whether we can scale up Clowder for processing.  Past discussions have indicated that we should be able to run parallel Clowder instance, but it's unclear whether we'll hit other issues (i.e., ElasticSearch https://github.com/terraref/computing-pipeline/issues/436  or Mongo).

Completion criteria:
* [ ] D

[2018-04-20 23:59] max-zilla commented on #436
@robkooper this looks liek ElasticSearch exception again - do we disable indexing temporarily?

[2018-04-22 01:54] craig-willis opened #438 "Verifying globus task coverage"
While looking into scaling up the globus-uploader, noticed gaps in task coverage (2/15 - 2/23, 4/5 - 4/14). These may be valid, but I wasn't sure how to verify.

[code]

[2018-04-23 11:30] craig-willis opened #439 "Globus-monitor improved error handling and alerting"
Working through the backlog of globus tasks, I've noticed a few things that might be worth improving:

* The error statuses are unclear whether they belong to the transfer or monitor steps.  For example, it wasn't clear whether FAILURE was a transfer failure or just an unused code for the monitor.
* Some ERROR states are recoverable, some aren't.  For example, the Clowder/ElasticSearch error is li

[2018-04-23 17:07] craig-willis commented on #436
This appears to be due to unassigned shards on es-1.

[2018-04-25 19:31] craig-willis commented on #434
Re-opening this since it's really still a problem and actively being worked on.
* As of today, we're running 2 uploaders because of failures with Elastic Search
* The problem with ES is actually not related to load, it's because Puppet is restarting the nodes too frequently because of incorrectly identified changes.  However, the more uploaders running, the more errors we see.
* I've manually set

[2018-04-25 19:56] dlebauer commented on #425
from @robkooper: Sounds like the gantry-side database needs to be updated when there is a successful transfer. Currently the status is not updated.

[2018-04-25 20:48] Paheding commented on #428
@dlebauer Here are few thoughts for your questions:

- Manually set ISO value may help in reducing problems of saturation due to illumination. However, it requires some efforts to manually change ISO value based on the illumination condition in the field.

- For finding a threshold to prevent the extractor run, we may convert RGB values to the appropriate hue, saturation, and value (HSV) coordinat

[2018-04-26 20:19] craig-willis opened #440 ""Hanging" extractors"
We've noticed that extractors can sometimes get into a "hung" state where there is work to do in the queue but nothing is being processed.  After further investigation, it looks like there are "unacknowledged" messages in the queue although the extractors report "Done processing". This indicates a bug in pyclowder2, most likely in

https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos

[2018-05-02 14:39] Paheding commented on #428
@pless @ZongyangLi What would be your suggestions on this issue? Is it necessary to try deep learning based canopy segmentation algorithm to improve accuracy?

[2018-05-02 15:43] craig-willis commented on #425
@jdmaloney Any thoughts on this?  Max mentioned that he asked you to look into the problem.

[2018-05-02 20:04] craig-willis commented on #416
@ZongyangLi Have you had the chance to look at the images provided by SDSC?

[2018-05-02 20:07] craig-willis commented on #401
This is getting stale.  We need to synthesize meeting notes and plan to close.

[2018-05-02 20:08] craig-willis commented on #403
Met with Mats today and he demonstrated Pegasus workflow for bin2tif pipeline. We still need to provide pipeline code and workplan.  Also create github repo for workflow POC.

[2018-05-02 20:10] dlebauer commented on #399
* need to clear message queue
* trigger on small files that we can actually handle
  - assume all v. lg files are errors (?)

[2018-05-02 21:09] dlebauer commented on #386
It looks like all of the PRs have been merged except https://github.com/terraref/extractors-stereo-rgb/pull/25, which just needs max's review

[2018-05-03 22:14] max-zilla commented on #398
Rulechecker is a switchboard for many extractors and triggers from a file being added to a dataset. Several of our extractors upload files before attaching metadata, so rulechecker would trigger before metadata was uploaded and respond by saying md is missing. If md is added as a final step consistently we could trigger on that, but not every extractor uploads metadata. I briefly discussed with Cr

[2018-05-09 19:08] max-zilla commented on #386
reviewed, cleaned up and merged.

[2018-05-09 19:08] #386 closed

[2018-05-09 19:12] max-zilla commented on #434
https://github.com/terraref/computing-pipeline/pull/441

This PR adjusts status handling because there was a dict not shared between parallel instances which would result in duplicates potentially. Merged and deployed.

[2018-05-14 15:32] ZongyangLi commented on #416
@craig-willis Sorry about the delay, I will have a try next.

[2018-05-15 11:55] craig-willis commented on #398
Update - RGB fullfields are (generally) being generated for the new season starting 5/1. We are missing fullfields for 5/13 and 5/14, likely due to connection error in globus-monitor (need to monitor this component).  We are also missing fullfields for 5/2 and 5/4, likely due to other pipeline failures.

After manually triggering, there is an entry in the fullfield extractor log for 5/2:
[code]
So

[2018-05-16 11:38] RemkoDuursma opened #444 "LeafAngle package (about to be) deleted from CRAN"
Since there was some discussion about the use of (my) `LeafAngle` package, I have to let you know it will be deleted from CRAN. It is quite outdated (I wrote it in 2008-9), and better implemented in `RLeafAngle` (not mine).

But you can still install it via,

[code]

[2018-05-16 17:28] dlebauer commented on #444
@RemkoDuursma thanks for letting us know - it seems like a simple update and coincidentally we got the PR using LeafAngle today: https://github.com/terraref/laser3d/pull/9

If you have any thoughts or references related to estimating leaf angles from point clouds or surface elevation maps (both ~1mm resolution) they would be appreciated!

We will either switch the source to bitbucket or go ahead a

[2018-05-16 17:28] #444 closed

[2018-05-17 15:57] craig-willis opened #446 "Implement locking for dataset creation in Globus uploader"
Because Clowder allows multiple datasets to have the same name, we've frequently run into a problem with duplicate datasets during the Globus upload process. This results in downstream problems, such as extractors not triggering because of incomplete data if files are split across datasets.

We've discussed implementing a method in the Clowder API -- getOrCreateDataset or similar -- that would ret

[2018-05-17 15:59] craig-willis commented on #398
We've determined that this is likely caused by the somewhat rare case that files in a dataset are split across two transfers this is now tracked in https://github.com/terraref/computing-pipeline/issues/446

[2018-05-17 16:13] robkooper commented on #446
The other option is to add to clowder the option to do a get_or_create_dataset(). We should be able to use : https://stackoverflow.com/a/16362833

[2018-05-17 16:20] craig-willis opened #447 "Change fullfield resolution, percentage for generation, and image used for trait calculation"
Changes to fullfield generation process both increasing resolution and percentage of images required for generation.

Currently, the value is 2% for RGB fullfield and 20% for IR:
https://github.com/terraref/extractors-stereo-rgb/blob/master/fieldmosaic/terra_fieldmosaic.py#L147

Completion task:
* Add separate image for QC at ~20% or < 500MB
* Change percentage for fullfield generation (rulechecke

[2018-05-17 16:55] craig-willis commented on #446
Implementing this in Clowder would obviously be the best option, if this is an acceptable approach.

[2018-05-23 17:20] craig-willis commented on #446
As noted on Slack, the Mongo docs (and the SO post above) indicate that this isn't a reliable mechanism unless there's a unique index (https://docs.mongodb.com/manual/reference/method/db.collection.findAndModify/#upsert-and-unique-index). I think we run into the same problem --- with 20+ uploaders running, usually the dataset creation collision happens in a very short period (~ms). We're seeing th

[2018-05-24 15:58] max-zilla opened #449 "Handle datasets where position recording is disabled"
For some metadata files the PLC control is disabled and no xyz position is being recorded:
[code]

This currently causes failure on metadata cleaning process and datasets are not being uploaded to Clowder. We need to catch this.

First thought after discussion with @craig-willis is we include entry in cleaned metadata indicating no position info, then update extractors that expect it to gracefully

[2018-05-24 16:23] max-zilla commented on #428
@dlebauer @pless @ZongyangLi this was brought up on the Tuesday call. Can we get input on this threshold so we can finalize extractor and deploy?

[2018-05-24 16:55] max-zilla commented on #447
Just pushed rulechecker that requires 98% of GeoTIFFs. Also pushed field mosaic that will generate 2/10/100 resolutions regardless of sensor and trigger trait extractors directly so there is less noise on those queues (and cc will only run on 100% image)

[2018-05-24 18:16] #423 closed

[2018-05-24 18:17] #418 closed

[2018-05-24 18:17] max-zilla commented on #400
@dlebauer

[2018-05-24 18:26] craig-willis commented on #438
The information here is correct.

[2018-05-24 18:26] #438 closed

[2018-05-24 18:26] max-zilla commented on #434
We can close this issue when we merge: https://github.com/terraref/computing-pipeline/pull/443

[2018-05-24 18:28] weiqin61 commented on #433
https://github.com/terraref/laser3d/pull/9

[2018-05-24 18:30] craig-willis commented on #416
Removing milestone.  Zongyang, please update this issue when you've had the chance to review.

[2018-05-24 18:31] craig-willis commented on #430
Provided basic bin2tif scripts for use in Condor/Pegasus pilot.

[2018-05-24 18:31] #430 closed

[2018-05-24 18:31] craig-willis commented on #403
This will be considered complete when we have the ECSS workplan submitted and approved.

[2018-05-24 18:35] max-zilla commented on #431
We need to create 3 follow-up tickets:
- deploy new ply2las extractor using this code (Max)
- finish code using LAStools that clips the pointcloud to plot and uses blast2dem to generate TIFF (Wei)
- deploy the TIFF creation code as extractor for heightmap (Max)

[2018-05-24 18:39] max-zilla commented on #398
I just deployed new fullfield with higher threshold. Once we see those, we can close this.
https://github.com/terraref/computing-pipeline/issues/447

[2018-05-24 18:49] craig-willis opened #450 "Confirm FLIR end-to-end pipeline"
With the FLIR device online, we need to confirm the FLIR pipeline is working end-to-end:

Task is complete when:
* [x] 98% coverage (pending the locking fix)
* [x] Fullfield generated since FLIR came online with 2%/10%/full resolution
* [x] mean temp traits are in BETY and valid and written to disk
* [x] Flir extractor improvements match bin2tif

[2018-05-24 18:52] craig-willis opened #451 "Monitoring/alerts for globus pipeline"
Completion criteria:
* [ ] Alerts via Check_MK when globus tasks in FAILURE or ERROR status
* [ ] Alerts via Check_MK when monitor/uploader pods are in restart (indicates unhandled exception)

[2018-05-24 18:52] craig-willis commented on #439
Replaced by https://github.com/terraref/computing-pipeline/issues/451

[2018-05-24 18:52] #439 closed

[2018-05-24 18:54] craig-willis commented on #436
Actual cause was puppet restarts due to detected change in ES config that has been corrected.

[2018-05-24 18:54] #436 closed

[2018-05-24 18:55] ZongyangLi commented on #416
I am currently working on this.

Since we don't have a gpu resource right now, I need to convert the code from gpu to cpu first. And the result seems unexpected now. So I have not try the Singularity image yet.

[2018-05-24 18:59] craig-willis commented on #416
Thanks, Zongyang. Just to confirm -- you don't have access to GPUs via your Comet allocation?

[2018-05-24 19:06] ZongyangLi commented on #416
No I did not apply for a gpu resource.

[2018-05-25 14:06] NewcombMaria commented on #450
This issue has overlap with reference-data issues #230 (FLIR temp conversion with window: results from in-house calibration).  R scripts for temp conversion are referenced at
 https://github.com/terraref/reference-data/issues/230

[2018-05-25 15:18] NewcombMaria commented on #449
@max-zilla I reviewed 05/15 directories in the cache and can confirm that this was a test of the FLIR camera in single-image capture mode rather than scan mode.  There's no need to process these types of images - they're for local use to determine how the camera is operating.  It's probably safe to make a processing rule that if there are files like this in the future with "no gantry position data

[2018-05-30 19:28] sbrad77 commented on #425
Hi Shannon,
I’m out of the office in Europe until the 7th of June, I’ll take a look at this when I get back.

Best,
JD Maloney

[2018-05-31 16:43] craig-willis commented on #446
Per discussion with @robkooper  and @max-zilla, we will move ahead with creating a new endpoint in Clowder to lock the collection using intent exclusive (IX) lock in combination with the findAndModify call above.   See also https://docs.mongodb.com/manual/faq/concurrency/#which-operations-lock-the-database.

Assigning to @max-zilla

[2018-05-31 18:03] craig-willis commented on #446
After further discussion, back on me to try the etcd approach.

[2018-05-31 18:04] #434 closed

[2018-05-31 18:10] sbrad77 commented on #449
Known condition - we don't have good error handling

Per Maria - recommendation is not uploading data into clowder
Per Team evaluation - we should not have it in an error state in Globus Monitor
We would need to create a handler to record there is raw data that is not processed

Not a priority for next sprint - but is an operational concern and should be addressed

Solution - gracefully skip posit

[2018-05-31 18:22] #250 closed

[2018-05-31 18:29] craig-willis commented on #322
We're not going to do this for now. Re-open if a priority.

[2018-05-31 18:29] #322 closed

[2018-05-31 18:31] craig-willis commented on #437
We're doing this in production.

[2018-05-31 18:31] #437 closed

[2018-05-31 20:36] craig-willis commented on #447
Can close when PR merged

[2018-06-04 20:21] craig-willis commented on #398
We are missing fullfields for 5/7, 5/25, and 5/26.  I've resubmitted all stereotop  datasets to rule checker for these dates and we have near complete coverage on filesystem (rgb_geotiff) but the counts in rulemonitor do  not match.  See https://docs.google.com/spreadsheets/d/1emUW6xu9i0zMh1jUupgqPmIIz_IVjDv-DZWEKbZNCz8/.

[2018-06-04 20:55] craig-willis commented on #447
Spot checking a few fullfields, and we're certainly seeing the 3 resolutions.  I've opened the thumb and 10pct in QGIS and they look okay.  One concern looking at 6/2/2018:

![image](https://user-images.githubusercontent.com/4334350/40941124-86e34544-680f-11e8-8d34-264b51e69497.png)

We have > 99% coverage on the rgb_geotiffs (missing <1% likely due to race condition in processing), however there

[2018-06-04 23:13] NewcombMaria commented on #447
@craig-willis the day scans running now skip over the walkways between plots to save some run-time.  I'm keeping track of this type of coverage in the scan log in column J 'field_area'.

I can view the thumb for 6/2 for the afternoon sun_flir_ scan, but not the morning shade_rgb_eastedge thumb.  The thumb of the afternoon sun_flir_ scan looks good except at the south end. The skipped rows are expe

[2018-06-06 09:39] craig-willis commented on #447
Thanks, @NewcombMaria . We're still not processing fullfields as quickly as we'd like -- the 6/2 images were completed later on 6/4, 6/3 images are available now.  As for the south end of the image, this is likely due to our 98% threshold, which we're working on.  Do you think the problem with the east edge is an artifact of our processing or the scan program?

[2018-06-06 09:46] craig-willis commented on #447
@max-zilla I'm not seeing any fullfields for FLIR even though we have data.  Looking at the ir_geotiff tab on the tracking spreadsheet https://docs.google.com/spreadsheets/d/1emUW6xu9i0zMh1jUupgqPmIIz_IVjDv-DZWEKbZNCz8/edit#gid=192543672  rulemonitor has incomplete data for 5/19-5/25 as well as 6/2.  We have reasonable coverage for RGB GeoTiff for the same period.

[2018-06-06 09:53] craig-willis opened #454 "Cache BETY data in uploader"
The globus uploader process may be causing heavy load on BETY resulting in 500 errors due to frequent calls to the sites/experiments tables. Since this data is generally static and read-only, it should be possible to cache in the uploader to reduce the number of errors/retries during processing.

[2018-06-07 18:23] craig-willis commented on #440
Ready to merge Clowder PR, can close this PR when deployed for TERRA.

[2018-06-07 18:23] max-zilla opened #455 "Generate JPG thumbnail for full field images"
@JeffWhiteAZ suggested creating a compressed JPEG file from the 10 or 100 full field image to give a very small-filesize image for QA/QC purposes.

Fullfield extractor should be updated to include a JPEG output downsampled from the big GeoTIFFs.

[2018-06-07 18:31] max-zilla opened #456 "Support variable FOV for metadata"
The FOV for RGB was changed for a couple weeks in June 2017 and will do so again around June 15 2018. @NewcombMaria described this as calibration.

We need to support FOV that differs from the static metadata stored in Clowder so when the scanner box is raised higher we get correct footprint of the geotiff.

[2018-06-07 18:42] craig-willis opened #457 "Level_1 data is failing to be discovered during backup process"
Identify cause and resolve.

[2018-06-07 18:45] craig-willis opened #458 "Automatic cleanup failed on cache server"
Around June 1st the gantry cache filed causing processing and pipeline failures.

We need to understand what happened
Document process and make sure Max/Craig have access to do what is needed

[2018-06-07 18:51] craig-willis commented on #415
@NewcombMaria Curious if there's been any update on this.

[2018-06-07 18:56] NewcombMaria commented on #456
Follow-up and minor clarification:  the FOV was increased within one script that was run as part of a field campaign specifically focused on canopy temp, to cover more field area in less time (reduce the change in canopy and ambient air temp from start to end of scan).  FLIR was the primary camera of interest for canopy temp data.  We increased FOV by raising the camera box higher above the plant

[2018-06-07 18:59] craig-willis opened #459 "Identify and flag bad FLIR data from season 4"
Per https://github.com/terraref/reference-data/issues/178, identify and flag all bad Flir data from Season 4.

[2018-06-07 19:11] craig-willis commented on #416
Closing this issue. @ZongyangLi  please open a new issue if you need anything further.

[2018-06-07 19:11] #416 closed

[2018-06-07 19:17] #362 closed

[2018-06-07 19:21] max-zilla opened #460 "Get LASTools working in Wine with blast2dem"
https://github.com/terraref/laser3d/pull/10

This PR attempts to re-introduce LASTools support using wine so that we can install wine in the heightmap dockerfile like this: https://github.com/terraref/extractors-3dscanner/pull/26/files

However I've been unable to get good results from blast2dem using this method. We need to figure out right parameters to convert LAS to GeoTIFF DEM, possibly inclu

[2018-06-07 19:22] max-zilla opened #461 "Deploy updated heightmap extractor"
Need to deploy heightmap extractor that uses laser3d science package as has started here:
https://github.com/terraref/laser3d/pull/10

...once we have the blastdem conversion working properly (https://github.com/terraref/computing-pipeline/issues/460)

[2018-06-07 19:22] max-zilla commented on #431
1) ply2las done
2) https://github.com/terraref/computing-pipeline/issues/460
3) https://github.com/terraref/computing-pipeline/issues/461

[2018-06-07 19:22] #431 closed

[2018-06-07 19:24] craig-willis opened #462 "Create pipeline operational checklist and log"
We need an operational checklist and log for the pipeline.

* How do we know that each component is running as expected?
* How do we know what to expect as output for each day?
* How does the team know when a problem occurs?

Started tracking Stereo and FLIR, but we need something more complete.
https://docs.google.com/spreadsheets/d/1emUW6xu9i0zMh1jUupgqPmIIz_IVjDv-DZWEKbZNCz8/edit#gid=1024884416

[2018-06-08 14:57] max-zilla opened #463 "Split BETY and geostreams outputs from trait extractors (canopycover)"
https://github.com/terraref/computing-pipeline/pull/445 - new extractors
https://github.com/terraref/extractors-stereo-rgb/pull/33 - trimmed cc extractor

- remove uploader code from canopycover extractor - generate CSV and geostreams files
- move the uploader code for BETYdb to a separate extractor that takes a CSV generated by a trait extractor and uploads w/ better metadata logging
- same for g

[2018-06-08 14:57] craig-willis opened #464 "Update flir2tif extractor to match bin2tif"
The flir2tif extractor is our of sync with bin2tif (logging enhancements, etc).

* [x] Review existing branches and either close or implement
* [x] Confirm changes made to bin2tif are applied to flir2tif
* [ ] Release/tag

[2018-06-08 14:59] craig-willis opened #465 "Update meantemp to use new BETY/geostreams extractors"
Related to #445 and #463. Apply same changes to meantemp:

* Make sure it's running on full resolutio images
* remove uploader code from extractor - generate CSV and geostreams files
* purge bety and geostreams for S6 and resubmit
* rerun meantemp for season 6

[2018-06-08 19:05] craig-willis opened #466 "FLIR fullfield is missing the colormap information"
The newly generated FLIR fullfields don't have color information but the individual images do.

https://terraref.ncsa.illinois.edu/clowder/files/5b1aa7d44f0c6118f1b19dc3?dataset=5b18d5ed4f0cd6f866bab597&space=

Would be nice to have so users don't need to load the geotiff into QGIS.

[2018-06-11 02:17] weiqin61 commented on #433
Currently we face the issue of distinguishing of leaf angle and ground, the leaf angle would only require leaf angle information while ground would need height value (z), which is now in the current leaf angle geotiff. We might think of using las point cloud to do the leaf angle fit in the future, and we would come back to this issue after laser3d package is done.

[2018-06-11 02:28] weiqin61 commented on #460
https://github.com/LAStools/LAStools/blob/3fceab161f4d3faccbada8bdfbb0962484b33697/ArcGIS_toolbox/scripts/blast2dem.py

find a link that might help, at least it shows how to use blast2dem in python with flags

[2018-06-11 03:34] NewcombMaria commented on #456
@max-zilla nice explanation and image.  Your first option seems perfect, the metadata including both 'height above canopy' (or 'height above average canopy') and also the FOV formula to get a single estimated FOV for the whole field for your algorithm.  That allows the possibility of a future data-user  incorporating actual height data for each plot (heights differ among plots) to calculate actual

[2018-06-11 18:25] max-zilla opened #467 "stereo RGB camera 3D reconstruction"
We need to figure out status of this effort.

- Zongyang has looked at this in Season 2 with these chessboard images (left/right)
![image](https://user-images.githubusercontent.com/14166971/41249801-b8b5f60a-6d7a-11e8-8597-54bd30ff5eb4.png)
![image 1](https://user-images.githubusercontent.com/14166971/41249807-bdd8e2d2-6d7a-11e8-9783-98fb7129ebdf.png)

- After Season 2, something changed and the p

[2018-06-11 20:14] max-zilla commented on #456
@NewcombMaria will need help from someone at LemnaTec to add the height above gantry field to metadata. Need this anyway the moving of the sensors. @TinoDornbusch  may know where FOV calculations originated.

[2018-06-12 02:40] craig-willis commented on #447
We have explanations and corrective measures for the missing fullfields.  In the case of FLIR for 5/19 - 5/25, the flir2tif extractor was missing the fix for metadata/upload order. In the case of 5/25 specifically, we have zero byte files due to the NFS outage.  We can merge this PR, but I'd like one final walk-through of the changes to make sure we've covered everything (changes to fullfield extr

[2018-06-13 13:14] max-zilla commented on #463
Before Nebula issues, the canopycover extractor successfully generated two CSV files for Bety and Geostreams respectively. The bety extractor ran successfully, but the geostreams extractor did not have a chance to run/test yet before we scaled things down.

in the meantime I made a corresponding PR for meantemp with similar changes:
https://github.com/terraref/extractors-multispectral/pull/27

[2018-06-13 14:27] craig-willis opened #468 "Confirm canopycover using full resolution"
Per https://github.com/terraref/extractors-stereo-rgb/pull/33

* [x] Confirm canopycover extractor using fullfield
* [x] Confirm data in geostreams
* [x] Confirm data in BETY
* [ ] QC actual values

PR can be merged when this is done.

[2018-06-13 14:30] craig-willis opened #469 "Resolve zero-byte problem"
We've encountered a problem with zero byte files in the bin2tif path, but likely elsewhere.

Possible solutions:
[ ] Check for zero byte files and treat as unprocessed (possible concurrency problem). May need additional creation time check
[ ] Alternatively we could scan for these conditions periodically, because this is usually associated with a major outage.

[2018-06-13 14:31] craig-willis commented on #398
Causes identified were related to outages -- zero byte files on disk. Created new issue.

https://github.com/terraref/computing-pipeline/issues/469

[2018-06-13 14:31] #398 closed

[2018-06-13 14:32] craig-willis commented on #447
Fullfields are generating correctly. Created separate issue to track trait generation. https://github.com/terraref/computing-pipeline/issues/468

[2018-06-13 14:32] #447 closed

[2018-06-13 14:35] craig-willis commented on #450
PR https://github.com/terraref/extractors-multispectral/pull/27/ depends on this review.

[2018-06-13 15:11] max-zilla commented on #425
It seems this is occurring for very old tasks that are no longer queryable via Globus (even on UI):
[code]

Going to update service to account for this.

[2018-06-13 15:41] max-zilla commented on #425
@jdmaloney I think this comes down to 2 issues:
1) old tasks returning 404 that weren't being caught
2) for ones that were, the terra-logging InfluxDB is down and currently we do not continue if that's the case.

I just created this branch and deployed:https://github.com/terraref/computing-pipeline/tree/catch-globus-404s so once I verify the 404 bug is fixed I will close. Until Nebula stuff is res

[2018-06-13 15:42] max-zilla commented on #425
https://github.com/terraref/computing-pipeline/pull/470

[2018-06-13 18:13] craig-willis commented on #342
Stale issue, closing. Please open a new issue if work remains.

[2018-06-13 18:13] #342 closed

[2018-06-13 18:14] craig-willis commented on #339
Done for 2017. Separate issue for 2018.

[2018-06-13 18:14] #339 closed

[2018-06-13 18:15] craig-willis commented on #348
Stale issue, closing. @dlebauer   please open a new issue if work remains.

[2018-06-13 18:15] #348 closed

[2018-06-13 18:35] craig-willis commented on #355
Stale issue. No comments in last 2 months. If necessary, create new issues based on this discussion.

[2018-06-13 18:35] #355 closed

[2018-06-13 18:36] craig-willis commented on #260
Stale issue. No comments in last 2 months. If necessary, create new issues based on this discussion.

[2018-06-13 18:36] #260 closed

[2018-06-13 18:37] max-zilla commented on #467
This seems to be a follow-on from this long-stale issue:
https://github.com/terraref/computing-pipeline/issues/355

[2018-06-13 18:38] craig-willis commented on #84
@dlebauer      This is a stale issue with comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:40] craig-willis commented on #188
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:40] #188 closed

[2018-06-13 18:40] #84 closed

[2018-06-13 18:41] craig-willis commented on #334
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:41] #334 closed

[2018-06-13 18:41] craig-willis commented on #162
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:41] #162 closed

[2018-06-13 18:42] craig-willis commented on #141
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:42] #141 closed

[2018-06-13 18:44] craig-willis commented on #329
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:44] #329 closed

[2018-06-13 18:46] craig-willis commented on #185
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:46] #185 closed

[2018-06-13 18:53] craig-willis commented on #183
This is a stale issue with no comments in last 2 months. Please create new issues if work remains or put this content in the documentation.

[2018-06-13 18:53] #183 closed

[2018-06-13 18:57] #410 closed

[2018-06-13 18:58] sbrad77 opened #471 "Track Blue Waters - Data Management Plan or Re-allocation"
Blue Waters Allocation Expiring - need to submit a Data Management Plan or Obtain a Re-allocation

### Description
We received a letter from Blue Waters asking for a Data Management Plan for the project data on Blue Waters
When we submitted a Data Management Plan we were told by Jay Roloff and Brett Bode that since this is an active project whose data sets are anticipated to continue to grow betwe

[2018-06-13 19:00] #375 closed

[2018-06-13 19:00] #364 closed

[2018-06-13 19:03] sbrad77 commented on #471
Emailed Jay Roloff for direction
Completed a Data Management Plan
It was evaluated and since we are an active project whose data is anticipated to continue to grow through March 2019 - we were given the recommendation to get approval for extension of allocation and obtain a new letter of support from Director's Office.
Spoke with:
Amber Moore
Susan Vincent
Stacey Dudinsky

I have a meeting with Sc

[2018-06-13 19:07] sbrad77 commented on #471
[TERRA Project BW Storage and CyberGIS Roger Support Letter Final v2 (1).pdf](https://github.com/terraref/computing-pipeline/files/2099530/TERRA.Project.BW.Storage.and.CyberGIS.Roger.Support.Letter.Final.v2.1.pdf)

Original Support Letter

[2018-06-13 19:07] sbrad77 commented on #471
Did not mean to close issue - only comment

[2018-06-14 13:01] max-zilla commented on #464
PR was merged:
https://github.com/terraref/extractors-multispectral/pull/28

With nebula outage have been unable to deploy yet.

[2018-06-14 13:13] max-zilla commented on #455
This JPG should also include colormap like:
https://github.com/terraref/computing-pipeline/issues/466

[2018-06-14 15:09] max-zilla commented on #422
@ZongyangLi Benny was a student last semester, no longer on the project. It seems the code was indeed copied from that site although not perfectly - I added some corrects and we're closer.
https://github.com/terraref/terrautils/pull/51

However I'm seeing weird artifacts in the clip.

LEFT IMG
![screen shot 2018-06-14 at 10 07 00 am](https://user-images.githubusercontent.com/14166971/41420759-d0a6

[2018-06-14 15:20] max-zilla commented on #422
part of me wonders if we should just scrap this code and use something simpler if possible...

[2018-06-14 18:18] max-zilla commented on #440
I should review this: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder2/pull-requests/67/overview

Once this is merged, we make new version of pyclowder (2.1) and build/deploy with terrautils.

[2018-06-14 18:22] max-zilla commented on #446
waiting on nebula.

[2018-06-14 18:27] max-zilla commented on #460
Max needs to send data to test: 1) LAS file and 2) plot geometry to try clipping

[2018-06-14 18:28] sbrad77 commented on #471
Met with Scott Wilkin this morning and we have a draft for a new letter of support from the Director’s Office to support the extension.  This will be signed by Bill Gropp and submitted to Blue Waters for implementation (before the deadline should not be a problem).

[2018-06-14 18:43] max-zilla commented on #454
https://github.com/terraref/terrautils/blob/master/terrautils/betydb.py

- create a global variable at the top of this file with a dict of the data
  - get_sites
  - get_experiments
  - ...start with these and possibly more later
- in the functions that reference these data, refer to global variable and only make the call if the data doesn't exist in the call

If you have terrautils installed:
[co

[2018-06-15 13:56] max-zilla commented on #422
Overhauled this to use rasterio for clipping. It includes nodata values where the plots don't overlap but otherwise works. Maybe this is OK for now - extractors can filter these zeroes if desired.
![screen shot 2018-06-15 at 8 53 06 am](https://user-images.githubusercontent.com/14166971/41471558-9c3ca1e8-7079-11e8-899d-28d24ebdf49c.png)
![screen shot 2018-06-15 at 8 53 11 am](https://user-images.g

[2018-06-15 14:57] max-zilla commented on #460
@weiqin61 one recent LAS file you can test with is accessible via Globus:
```/ua-mac/Level_1/laser3d_mergedlas/2018-06-01/2018-06-01__01-37-22-494/canner3DTop_L1_ua-mac_2018-06-01__01-37-22-494_merged.las```

The file is ~1.5 GB.

This LAS file crosses the field across columns in Range 30. Example (with geotiff conversion that is best we currently have but we should be able to improve):

![screen

[2018-06-18 14:17] max-zilla commented on #466
Created branch to attend to both this and #455
https://github.com/terraref/extractors-stereo-rgb/tree/fullfield-JPG-with-colormap

[2018-06-18 15:42] max-zilla commented on #465
This is continuation of #207

[2018-06-18 15:42] max-zilla commented on #207
Closing this issue to finalize in https://github.com/terraref/computing-pipeline/issues/465

[2018-06-18 15:42] #207 closed

[2018-06-18 15:44] max-zilla commented on #405
waiting on https://github.com/terraref/computing-pipeline/issues/460 to finalize.

[2018-06-18 17:25] craig-willis opened #472 "Renew workbench SSL certificate"
Your InCommon SSL certificate for *.workbench.terraref.org will expire soon. Date and time of expiration: 06/26/2018 23:59 GMT

[2018-06-18 17:30] craig-willis opened #473 "Pilot Pegasus integration into TERRA-REF pipeline"
Based on the Workplan defined in https://github.com/terraref/computing-pipeline/issues/403 and the proof-of-concept provided through ECSS (https://github.com/terraref/workflow-pilot) the next step is to pilot how the Pegagus model will fit into the TERRA-REF pipeline.

This will include:
* [ ] Generating the workflow/graph
* [ ] Executing/monitoring the run on local and external resources (e.g., P

[2018-06-20 00:37] weiqin61 commented on #460
https://groups.google.com/forum/#!searchin/lastools/blast2dem|sort:date/lastools/v9p3x-8eXEw/_8D1CW_RAgAJ

The post explains why we see white stripes when first using blast2dem, cause we need to use buffers when processing in tiles. Also, there is a 2 billion points limit when using blast2dem, which comes back to the bounding box issue.

[2018-06-21 19:42] craig-willis opened #474 "Process to pre-pull images for Workbench and extractors"
Due to continued slowness on Nebula, we often see timeouts/errors during image pulls.  Devise a method to pre-pull images

[2018-06-22 17:56] max-zilla commented on #460
Current progress...
[code]

3 plots:
<img width="837" alt="screen shot 2018-06-22 at 12 50 40 pm" src="https://user-images.githubusercontent.com/14166971/41791472-7199872e-761b-11e8-9d18-022ae679a8c8.png">

Same-day fullfield:
<img width="855" alt="screen shot 2018-06-22 at 12 50 48 pm" src="https://user-images.githubusercontent.com/14166971/41791499-7fbae60e-761b-11e8-809d-ff2744e51143.png">

Ran

[2018-06-25 16:24] sbrad77 commented on #471
Letter signed and submitted to Blue Waters.
Per BWAM-10389 - Extend NCSA TERRAref project (bacn)
https://jira.ncsa.illinois.edu/browse/BWAM-10389
The TERRARef project has been extended to 3/31/2019.
Best,
Brett
[https://app.zenhub.com/files/41696258/44271acd-eea8-4006-a130-bae933ef4697/download](https://app.zenhub.com/files/41696258/44271acd-eea8-4006-a130-bae933ef4697/download)

[2018-06-25 16:31] sbrad77 opened #475 "TERRA Q11 report-due on July 25, 2018 by COB"
[ ] Shannon needs template
[ ] Shannon needs copy of/link to previous report

Estimate - this will take more than one sprint

Hello everyone,

It’s Q11 report time! Please complete your parts of the attached quarterly report for the TERRA project and return to me by COB on July 25, 2018.  Please make sure to submit your report on time. It becomes increasingly difficult to submit our report on time

[2018-06-25 20:00] max-zilla commented on #460
@robkooper and i discused a quick check - read PLY into numpy and write directly to geotiff instead of going through LAS first

[2018-06-25 20:16] max-zilla commented on #467
@ZongyangLi can you explain a bit of what you would need to resume work on this for season 6?
- new checkerboard images?
- metadata (e.g. lens settings)
- something else?

[2018-06-25 20:23] max-zilla commented on #467
Chessboard images are needed for both sides of camera.

[2018-06-25 20:36] JeffWhiteAZ commented on #467
Do we have anything approaching a standard operating procedure (SOP) for the stereo cameras?
If I understand correctly, each image should be taken with the board in a different position. Should the angle from the vertical be varied or kept fairly constant?

[2018-06-25 21:07] ZongyangLi commented on #467
@JeffWhiteAZ I think you are correct, each image should be taken with the board in a different position, but the angle from the vertical should keep constant.

[2018-06-25 21:13] ZongyangLi opened #476 "Get RGB images from a plot for particular days"
We are looking for a more convenient method of downloading RGB image, especially for a plot for particular days.

@max-zilla suggests to use some method from geostream. We will discuss it here.

[2018-06-25 21:31] ZongyangLi opened #477 "Access hand measurements' phenotype data"
We have lots of hand measurement phenotype data available for 2017 plant season.

@NewcombMaria could provide source data from csv file.
@max-zilla said bety query should be work for all the available traits.
@robkooper suggests to think about the more general way of accessing traits hand measurements.

Now we are about to setup the model, so a csv file from 2017 s4 plant season should be great fo

[2018-06-26 16:15] max-zilla commented on #425
Gantry monitor seems fine so far in resolving 404s and catching gaierror. terra-logging still not running to my knowledge but i think this is ready to be closed.

[2018-06-26 16:16] max-zilla commented on #422
Jeff raised some concerns about this code (the idea of the utility of folders full of image shards) but this is ready as-is if there is use.

[2018-06-26 16:17] max-zilla commented on #469
Generic function created here:
https://github.com/terraref/terrautils/pull/52

[2018-06-26 16:18] max-zilla commented on #469
once we merge this PR we can implement in extractors.

[2018-06-26 17:53] max-zilla commented on #460
Reading PLY into numpy simply returns 3 long arrays with XYZ coordinates:
[code]

Converting this to geotiff is not trivial - there are 76,584,572 coordinates in this example but software to write numpy to geotiff requires cell resolution information. If we take the min/max of XY for this array...
[code]
...we can use (max-min)/scale to get the number of pixels desired in output raster. For exampl

[2018-06-27 18:34] NewcombMaria commented on #467
@ZongyangLi @max-zilla we collected calibration images of the black/white checkerboard this morning.  Jeffrey D. wrote a script to take 25 images and we moved the checkerboard between images.  There's also a meter stick in each image.  The name of the scan is 'S6_Sorghum_2018_Calibration_Checkerboard_RGB_IR.cs', start time 08:46.  Examples (png conversions) copied below.

Let us know if these imag

[2018-06-27 18:43] ZongyangLi commented on #467
@NewcombMaria Thank you very much for the fast respond of calibration images.

I have some little concerns about the images:
1. The chessboard seems not in a flat plane, in the second example, the left top corner is a little bit low.
2. Some corner is covered by leaves or some other boundaries, this might affect the corner extraction position.

[2018-06-27 18:54] NewcombMaria commented on #467
@ZongyangLi we are limited in options for placing targets now because the plants are so tall.  We only have one target table that is about 40cm wide - a ladder is needed now for me to reach the top of the table.  When the checkerboard is rotated the corners fall off the edge of the table.

If needed I can cut leaves to get them out of the way, and if needed I can try to mount it on a board.  There

[2018-06-27 18:59] ZongyangLi commented on #467
@NewcombMaria Sure! I will take a look at all 25 images and see if it works.

[2018-06-27 22:55] NewcombMaria commented on #467
Thanks @ZongyangLi.  We can mount the checkerboard on solid board so the full surface is rigid.  Any other guidance is welcome before we collect more images.

[2018-06-28 14:31] ZongyangLi commented on #476
@max-zilla Could you please point me out where are the reference methods if they are already existed?

[2018-06-28 15:15] max-zilla commented on #476
@ZongyangLi the data are accessible via geostreams but unfortunately this is impacted by the Nebula outages at NCSA so they aren't currently accessible. The basic steps are:

**via GUI**
https://terraref.ncsa.illinois.edu/clowder/
Go to Explore -> Plot Map or Plot List (not currently running)
select the plot you are interested in - it will have a list of streams by sensor e.g. "RGB GeoTIFFs Datase

[2018-06-28 15:16] max-zilla commented on #476
@sathp this will also be useful to you once the system is back up.

[2018-06-28 15:19] ZongyangLi commented on #476
@max-zilla This is amazing. I will try it out once Nebula is back.

[2018-06-28 18:07] #471 closed

[2018-06-28 18:09] max-zilla commented on #440
@robkooper and I will update terrautils to use this new pyclowder docker image then update extractors.

[2018-07-01 13:55] NewcombMaria commented on #467
@ZongyangLi I collected a better set of checkerboard images on 2018-06-29 between 08:51 and 09:01.  The checkerboard is mounted on a black platform.  There's also a set from earlier in the morning (08:04 to 08:13) but the checkerboard is in partial sun from the east side so the images may not be useful.  Here are a couple examples from the second set (~25 images per set)
![image](https://user-imag

[2018-07-02 15:17] ZongyangLi commented on #467
@NewcombMaria Thank you, I think it's good for the camera calibration now.

[2018-07-03 13:12] jdmaloney opened #478 "KSU Automated Data Transfer Pipeline"
**Description**
Need to automate transfer of UAV data from KSU to NCSA on a weekly basis to hit a milestone that the project requires.

**Details**
JD is working with Mark from KSU (when he returns from vacation) to hopefully get automated Globus transfers running between KSU and NCSA via the Terra endpoint.  If absolutely necessary a fall back of using a different transfer mechanism is possible,

[2018-07-05 18:21] max-zilla commented on #475
@sbrad77 has created a shared google doc and started working on this.

[2018-07-05 18:33] max-zilla commented on #458
@jdmaloney any updates on this topic?

[2018-07-05 18:34] max-zilla commented on #457
@jdmaloney any updates on this topic?

[2018-07-05 18:35] jdmaloney commented on #457
@max-zilla Not at this point, haven't been able to work on it since Nebula outage

[2018-07-05 18:44] jdmaloney commented on #458
@max-zilla Purge script is fixed, I'm re-writing the 2-day verify script first before turning it back on

[2018-07-06 14:55] pless commented on #476
Hi Max,
 Is this still down (https://terraref.ncsa.illinois.edu/clowder/)?

Is there an ETA for it to come back?

[2018-07-06 14:58] max-zilla commented on #476
@pless yes. the systems folks are hoping to bring everything back online today, so we hope to start bringing all of our machines back online Monday morning.

[2018-07-06 14:58] pless commented on #476
Great, thanks!

[2018-07-09 18:51] ZongyangLi commented on #476
@max-zilla
As Nebula restarted, I tried this again, I am not able to find 'Explore -> Plot Map or Plot List'. I had already login using my account.

[2018-07-09 19:53] max-zilla commented on #476
@ZongyangLi the Postgres machine (which drives geostreams) is up and running so this should be active, I'm asking @robkooper about it. seems to be an issue with the Postgres plugin properly registering in Clowder:
[code]

[2018-07-09 20:57] max-zilla commented on #476
@ZongyangLi should be working now.

[2018-07-10 17:55] craig-willis opened #479 "BrAPI implementation plan"
We need to get this back on the radar.  Preliminary planning for BrAPI implementation and define followup issues.

[2018-07-10 17:56] craig-willis opened #480 "Pegasus implementation plan"
We have the prototype from Mats.  Now that Nebula is back online, we need to plan how to move forward with an eye toward November data release (2016-2017 reprocessing).

[2018-07-10 18:09] dlebauer commented on #476
@ZongyangLi once you get this to work, could you please update the tutorial https://github.com/terraref/tutorials/blob/master/sensors/06-list-datasets-by-plot.Rmd or create a new one that illustrates the approach?

[2018-07-10 19:22] max-zilla commented on #476
Here is the sample python script I sent Zongyang so we can formalize into tutorial later. @sathp might also be useful for you.
[code]

[2018-07-11 00:18] ZongyangLi commented on #476
I will do it when I finish this.

[2018-07-11 13:13] max-zilla commented on #464
v1.2 is running and outputs look good including PNG.

https://terraref.ncsa.illinois.edu/clowder/datasets/5b4602214f0ca37248d7de28

[2018-07-11 13:13] #464 closed

[2018-07-11 13:14] #425 closed

[2018-07-11 13:37] max-zilla opened #481 "Improve bety and geostreams extractors"
The current code in the bety and geostreams extractors is taken from the canopycover/meantemp extractors, but now that they are separate there is an opportunity to improve the code that's running.

- better tracking of progress, e.g. if geostreams or bety crashes halfway through
- potential optimizations to geostreams lookup (caching?)
- improve logging

[2018-07-11 13:38] max-zilla commented on #463
both extractors running and look good. created followup issue to track some of the requests discussed in this PR.

https://github.com/terraref/computing-pipeline/issues/481

[2018-07-11 13:40] #463 closed

[2018-07-11 15:12] max-zilla commented on #465
just need @craig-willis to approve the PR, it is deployed and working.

[2018-07-11 15:16] max-zilla commented on #440
This was been buiit into pyclowder2 and a new terrautils was deployed using it, starting with globus-uploader.

[2018-07-11 15:16] #440 closed

[2018-07-12 17:51] max-zilla commented on #469
merged. will make followup issue to implement.

[2018-07-12 17:53] max-zilla opened #482 "implement terrautils file_exists() check in extractors"
...such as bin2tif, etc. this will avoid zero byte issue we encounter periodically with Nebula.

[2018-07-12 17:53] max-zilla commented on #469
https://github.com/terraref/computing-pipeline/issues/482

[2018-07-12 17:54] #469 closed

[2018-07-12 17:55] max-zilla commented on #422
merged.

[2018-07-12 17:55] #422 closed

[2018-07-12 18:01] max-zilla commented on #454
this is completed and deployed.

[2018-07-12 18:01] #454 closed

[2018-07-12 18:19] max-zilla commented on #468
Canopycover is using full resolution currently. QA of data values is separate issue.

[2018-07-12 18:19] #468 closed

[2018-07-12 18:23] max-zilla commented on #460
Current plan is to use this PLY conversion for LAS and for stitched heightmap. implementation is done.

[2018-07-12 18:23] #460 closed

[2018-07-12 18:33] max-zilla commented on #475
me and @robkooper need to review the current document.

[2018-07-12 18:43] max-zilla commented on #458
In progress on Condo

[2018-07-12 18:43] max-zilla commented on #457
Running and working again. 2 months of data per 1 day.

[2018-07-12 18:43] #457 closed

[2018-07-16 13:55] max-zilla commented on #466
OK, got this working now. ~2.3 MB image output.

![out_test](https://user-images.githubusercontent.com/14166971/42762448-0509a8a0-88d6-11e8-82a3-0c9af8edc76d.png)

[2018-07-16 13:57] max-zilla commented on #455
Got this working for both FLIR and RGB.

FLIR 2.3 MB.
RGB 330 MB.

[2018-07-16 14:33] marklucascork commented on #478
I am in the process of collecting the required sorghum data and centralizing it in one place in order to make the scheduled data transfer easier.

[2018-07-16 16:02] max-zilla commented on #433
@weiqin61 some code to help.

**Getting PLY files from Globus**
Right now you need 2 pieces from 2 different places.
- east/west PLY from /ua-mac/Level_1/scanner3DTop/
- metadata.json from matching /ua-mac/raw_data/scanner3DTop/

Some dates you could use:
[code]

...so pick a dataset(s) from those dates and download the 2 PLY files from Level_1 and the metadata.json file from raw_data into the sam

[2018-07-17 12:43] marklucascork commented on #478
The current KSU TERRA data organization is described below. We may need to re-organize this somewhat to make the uploads simpler.

Stitched images, plot-level summaries and plot boundary metada for a season are stored in a folder named as follows: 2017_ASH_TERRA. For 2018 this will be 2018_ASH_TERRA.

**Stitched Images**

Stitched Images are stored in a sub-folderfolder named by the date the compo

[2018-07-17 14:24] max-zilla opened #483 "Account for multiple scans per day of same script"
At this point the same scan script is sometimes run 2-3 times per day. Our pipeline must treat those as separate scans where necessary (e.g. field stitching).

Fortunately as illustrated by @jdemieville-ua the "script copy path on FTP server" contains a unique hash appended to the script name that we can use to differentiate instances. This should be incorporated in the metadata cleaner code.

cur

[2018-07-17 14:58] max-zilla commented on #483
PR for terrautils that includes this is here:
https://github.com/terraref/terrautils/pull/54

rulechecker will also need to be updated to account for this.

[2018-07-17 15:03] max-zilla commented on #466
Note that if the results look unusual for current files, could be attributable to this newly discovered issue:
https://github.com/terraref/computing-pipeline/issues/483

...where multiple FLIR scans with same scan name are being combined into one. I have a PR for a fix that will create distinct outputs going forward.

[2018-07-18 15:41] jdmaloney commented on #478
Just got off a Skype call with @marklucascork and @max-zilla.  Mark is checking with Jeff to get approval to restructure the dataset at KSU.  He will also be sending instructions for getting an account on Beocat.  Once we have an account I will write a cron job that will run here at NCSA to bring data in to the terraref file system, to make it available via our Globus endpoint and also hopefully t

[2018-07-18 17:15] Paheding commented on #428
@ZongyangLi I applied uniform pixel intensity changes by certain scales, such as decrease all pixel values by 0.1-0.9 or increase by 1.2--2 scale factors.

[2018-07-19 07:02] Andrewzhzy opened #484 "Geometry coordinate system used in Clowder datapoints"
### Description

I noticed the coordinate systems used in sensors and datapoints are different.
In sensors, they are something like: (-111.974925070941, 33.0752463177059, 0). I think it should be lat/lngs. But in datapoints, they are something like: (33.0752456246289, -68.0249705271937). I'm pretty confused with coordinate system that were used in datapoints metadata.

Thanks

[2018-07-19 15:20] Andrewzhzy commented on #484
I'm using the clowder API to get scanners/cameras data from same plot in a season. Those coordinates are from the polygons.
I got those coordinates by accessing the API: /api/geostreams/datapoints?stream_id=ID
For example I got the id from Season 4 Range 20 Column 9 is 21167
Then those coordinates was showed in geometry->coordinates
I think the ordering is not the major issue for me. 33.075245 for

[2018-07-19 17:04] max-zilla commented on #462
https://docs.google.com/document/d/1q-JyPKlOh_7Y3BJeTg2gHSJ9XIUoecXEVGrx5Iz11vA/edit Notes started here.

[2018-07-19 17:09] max-zilla commented on #462
To start, I will ask @tcnichol to start performing these daily checks and updating spreadsheet.

Will require various parties granting access to necessary systems.

[2018-07-19 18:13] max-zilla commented on #455
consider using 5% instead of 2 or 10

[2018-07-19 18:15] marklucascork commented on #478
I wrote to Geoff yesterday about centralizing the different data types under a single directory on Beocat. I also suggested setting up a Linux group so that we can set appropriate permissions on the directory and its contents.

Instructions for getting an account on Beocat:

1. The first thing to do to get access to Beocat is to apply for an EID. The link to the application page is http://eid.ksu.

[2018-07-19 18:16] craig-willis commented on #465
We have fullfields for 7/6 - 7/9 generated on 7/13-7/14 with no csv output

[2018-07-19 18:20] jdmaloney commented on #458
Waiting on backup to Nearline to complete (raw_data will be done by end of day), Level_1 will begin this weekend

[2018-07-20 17:29] max-zilla commented on #484
I believe what we're seeing is the incorrect outputs of the old version of the 3d scanner’s sensorposition algorithm that wasn't properly being georeferenced (the coordinates are in the ocean east of Florida). The new extractor should fix this but we need to reprocess the metadata for the incorrect data. I see the coordinates as well - I will take a closer look to verify we have a corrected algori

[2018-07-23 14:59] max-zilla commented on #461
this has been deployed and outputs have been generated (e.g. 2018-07-08)

[2018-07-23 14:59] #461 closed

[2018-07-23 15:01] max-zilla commented on #405
both ply2las and heightmap are deployed and the science package update was pushed.
https://github.com/terraref/laser3d/pull/11

[2018-07-23 15:01] #405 closed

[2018-07-24 13:19] max-zilla commented on #466
These are being generated automatically, but I adjusted the algorithm slightly to ignore temp values <= 0 when determining scaling. Originally I was getting scaled images that over-considered the low end so all values were getting crushed at the high end:
![screen shot 2018-07-24 at 8 18 02 am](https://user-images.githubusercontent.com/14166971/43140823-24880fce-8f1a-11e8-932c-d141abe0786b.png)

F

[2018-07-24 14:48] max-zilla commented on #465
CSV outputs now being generated, e.g. https://terraref.ncsa.illinois.edu/clowder/datasets/5b55d9a04f0cda74074d8cf0

[2018-07-25 19:10] ZongyangLi opened #485 "Panicle detection extractor deployment"
We are going to deploy our panicle detection extractor on Bioinformatics core facility at the Donald Danforth Plant Science Center(HTCondor). I am now creating this issue to address the current status and bugs that blocking the deployment. Associate codes had been uploaded here: [https://github.com/terraref/extractors-3dscanner/tree/ZongyangLi-patch-1/panicle_detection](https://github.com/terraref

[2018-07-25 21:39] dlebauer commented on #485
@ZongyangLi Last time we looked into the boundary issues the problem was in terrautils so I will defer to @max-zilla first ... I wouldn’t be surprised if it is in BETYdb, but it would be easier to debug this if starting with either the specific API calls or the analogous SQL queries that are generating the unexpected data.

With respect to not having subplots in season 2, that is because they were