[2016-12-15 18:10] craig-willis commented on #219
Closing, this should be in documentation repo.
https://github.com/terraref/documentation/issues/106

[2016-12-15 18:10] #219 closed

[2016-12-15 18:18] robkooper commented on #157
Don't deploy geodashboard, @lmarini is checking out to make sure your changes work with geodashboard. Just deploy this code with search in clowder so people can test it with Terra.

[2016-12-15 19:33] rmgarnett commented on #175
The work is completed. How shall I report the results?

[2016-12-15 20:28] max-zilla commented on #195
@jterstriep some progress - qsub is starting & triggering hyperspectral extractor correctly, but I found a new wrinkle.

Most of Zender's code is in a file called hyperspectral_workflow.sh in the same directory as the python script. In the extractor python script, it uses subprocess to call:
[code]

...now this works fine when calling python directly, but in the batch job context I need to change

[2016-12-15 21:12] robkooper commented on #195
I like option 1 since that does not change the working directory.

[2016-12-15 21:19] yanliu-chn commented on #195
If you qsub a script, it copies to a tmp location anyway.

The location of the workflow shell script should be part of the extractor config. That means you can define an entry in config.py in the extractor. If the location changes from one deployment to another, you can refer to an env var in config.py, while the env var is set up in $HOME/.bashrc

Thanks,
Yan

From: Max Burnette <notifications@gi

[2016-12-15 21:19] jterstriep commented on #195
I suggest option 3.

Implement proper setup.py files so that when the extractor is installed both the python script and the shell script get copied to the bin directory (in this case,  /gpfs/largeblockFS/projects/arpae/terraref/shared/extractors) and the hyperspectral_workflow.sh script will be found using $PATH. Plus all the other benefits I discussed this morning.

[2016-12-15 21:20] gsrohde commented on #201
@dlebauer I uploaded this data set on 11/8 (see https://github.com/terraref/computing-pipeline/issues/201#issuecomment-259294680).  The dates were already in the upload, and I set the method manually to "UAV based NDVI" (on 12/02?—they were all updated on that date).  So to reiterate, as far as I know, the only thing remaining is to add the `culitvar_id` values to tie in the genotype information (

[2016-12-15 21:21] jterstriep commented on #195
@yanliu-chn, config.py is no more!

[2016-12-15 21:23] yanliu-chn commented on #195
The /gpfs/largeblockFS/ stuff is somewhat irrelavant: pbs tries to copy the stdout/stderr to where it should be (by default, the dir where the job was submitted), but somehow it tried to do that after the job is done and the temp stderr/stdout was deleted.

From: Max Burnette <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/computing-pipeline <reply@reply.github.com<m

[2016-12-15 21:23] max-zilla commented on #195
Thanks all. For this afternoon I'll just quickly add a command line arg, and if it works I'll later use your 3dscanner setup.py as a template to update as you suggest @jterstriep .

[2016-12-15 21:25] yanliu-chn commented on #195
Ok. Then we can assume there is always an env var $EXTRACTOR_WORKFLOW_BINDIR there. Then in python extractor code, send $EXTRACTOR_WORKFLOW_BINDIR/ex.sh to bash.

From: Jeff Terstriep <notifications@github.com<mailto:notifications@github.com>>
Reply-To: terraref/computing-pipeline <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, December 15, 2016 at 3:21 PM
To: terraref/comp

[2016-12-15 22:09] dlebauer commented on #201
@gsrohde final step for updating the cultivar_id is to run the updates in [this sheet](https://docs.google.com/spreadsheets/d/107aijRIvO5i-HHwVDQTXn0-9sE02cXO_MdZk3DERzQ0/edit#gid=407425670) that adds a cultivar_id given a particular site_id.

After running the relevant updates, you can close this issue and then open a new one in which we can consider a more automated solution for capturing the cu

[2016-12-15 22:23] dlebauer commented on #175
@rmgarnett good question. Having the results (and putting this in a quarterly report) is sufficient to close this issue because it specifically follows from a milestone.  Please put the figure and summary stats here here for quick reference. I'll put the rest of my thoughts in #210 which deals with automation of the height extractor.

[2016-12-15 22:29] dlebauer commented on #210
@ZongyangLi @rmgarnett @pless

For this extractor, I would suggest that we write the summary stats (histogram) into the metadata and insert a few statistics into BETYdb. For example, we have inserted a trait called '95th quantile height'.

But the key trait from the point cloud is the height estimate calibrated to field measurements. This trait will have the same name as the trait that Maria measu

[2016-12-15 22:45] dlebauer commented on #211
@Mamatemenrs you can add a new method here: terraref.ncsa.illinois.edu/bety/methods/new

We are working on the ability add methods in the bulk upload, but for now just provide a link to the new method record that you create. Here is an example: https://terraref.ncsa.illinois.edu/bety/methods/6000000003

[2016-12-16 17:18] max-zilla commented on #213
Mostly finished testing - might need another tweak to hyperspectral extractor logic that moves files into same directory, but Jeff is refactoring some of that code right now.

[2016-12-16 17:18] #213 closed

[2016-12-17 21:23] liyawang opened #220 "Where is the adapter file used for trimming?"
### Description

When trimming reads with following command:

java –jar Trimmomatic-0.35/trimmomatic-0.35.jar PE -phred33 -trimlog trimlogPE.txt SampleA_R1.fastq.gz SampleA_R2.fastq.gz SampleA_R1.PE.fastq.gz SampleA_R1.SE.fastq.gz SampleA_R2.PE.fastq.gz SampleA_R2.SE.fastq.gz ILLUMINACLIP:adapters.fa:2:30:10 SLIDINGWINDOW:5:20 LEADING:20 TRAILING:20 MINLEN:60 2> trim.out

An adapters.fa file is ne

[2016-12-19 17:35] phloz commented on #220
I have attached the adapter.fa file.  It was basically created based on the attached pdf file from Illumina.

The file names were created by Hudson Alpha, who sequenced this data.  In this case, IDTW_PCRfree_PI365512_ATTACTCG-TATAGCCT_Sorghum_I549_L1_R1.fastq.gz_PE.fq.gz:

As you stated, PI365512, is the Sample name.
ATTACTCG-TATAGCCT is the barcode.
PCRfree is significant meta data about the libr

[2016-12-20 00:20] liyawang commented on #220
Thanks.

[2016-12-20 00:20] #220 closed

[2016-12-20 02:37] Mamatemenrs commented on #211
The variable names in the CVS file updated (please see the link below). I will add methods for tractor data.
https://docs.google.com/spreadsheets/d/1NNKtmWFBdoh2iaaXZh9fsu_nNRLMpytJ8Av1bHxpgIg/edit?usp=sharing

[2016-12-22 07:22] rmgarnett commented on #175
[correlation analysis.pptx](https://github.com/terraref/computing-pipeline/files/668205/correlation.analysis.pptx)

[2016-12-22 07:22] #175 closed

[2016-12-22 07:32] pless commented on #175
on the last slide of this pptx, both axes have the same label.  is that
correct?

On Thu, Dec 22, 2016 at 2:22 AM, Roman Garnett <notifications@github.com>
wrote:

[2016-12-22 08:04] rmgarnett commented on #175
Fixed.

[2016-12-22 15:43] dlebauer commented on #175
I don't see the fixed version ...

On Thu, Dec 22, 2016 at 12:04 AM Roman Garnett <notifications@github.com>
wrote:

[2016-12-22 15:46] rmgarnett commented on #175
I edited my original comment; the file above contains the modified figure.

[2016-12-22 15:48] dlebauer commented on #210
@rmgarnett what are the (slope, intercept) parameters from the model in #175?

When estimating height at the plot level, can we also estimate uncertainty?

[2016-12-22 15:51] dlebauer commented on #175
Thanks!
On Thu, Dec 22, 2016 at 7:46 AM Roman Garnett <notifications@github.com>
wrote:

[2016-12-22 15:59] rmgarnett commented on #210
[hand height] = 28.2cm + 0.661 * [89th height percentile]

The RMSE/MAE gives a rough estimate of L2/L1 uncertainty. I will do a more thorough analysis in January now that all height distributions are extracted.

[2016-12-22 16:03] dlebauer commented on #175
@rmgarnett what are your suggestions for dealing with the ground issues? Are these responsible for the poor predictions of plants under 60 cm?

![img_2204](https://cloud.githubusercontent.com/assets/464871/21431391/e1878202-c81b-11e6-8e79-f98d1b949a1e.PNG)

[2016-12-22 16:15] dlebauer commented on #210
@rmgarnett I suspect RMSE scales with height?

From your plot it is hard to tell how the data are distributed b/c of overlapping points. But I gather strongly right-skewed. I wonder if log transforming x and y would be appropriae, if it would more evenly weight the smaller values. The small plants are important too!

![img_2204](https://cloud.githubusercontent.com/assets/464871/21432070/c5f5cadc-c

[2017-01-03 19:14] rachelshekar commented on #47
Consistent use of polygons for plot tiling, Geodashboard meeting Jan 17

[2017-01-04 20:03] ZongyangLi commented on #210
@dlebauer
I have got all height distribution data for season 2 from 8/8 to 11/25, and I created 90th and 95th height percentile csv file, according to @rmgarnett 's research.
[90th percentile](https://drive.google.com/open?id=0B5QCp_Onc6nOTi1MdGhiMlZ4VkU)
[95th percentile](https://drive.google.com/open?id=0B5QCp_Onc6nOZmE5MUt5d1JwSnM)
Scanner3DTop data in Season 2 is much better than those in Seas

[2017-01-05 16:24] hmb1 commented on #183
Hi David, & Charlie,
 The ncap2 script "hyperspectral_indicies_make.nco" Is running circa 90 seconds for a 127G input file. Its size is less than 5% of original file-size.  I have sacrificed some performance over legibility.  Prior to calculating the indices the required wavelengths are hyperslabbed out from the "rfl_img" netCDF variable ; and have var names like R600, R710, R790 etc.  If these  v

[2017-01-05 17:08] max-zilla commented on #214
Closing this issue because the Clowder instance rebuild will accomplish this without needing separate lists.

[2017-01-05 17:08] #214 closed

[2017-01-05 17:11] dlebauer commented on #210
@solmazhajmohammadi could you please check into whether we can recover useful data from 10/13 to 11/04?

@ZongyangLi we need to discuss with @rmgarnett about how to implement this extractor.

[2017-01-05 17:15] max-zilla commented on #121
Relates to:
- IR data
- 3D data
- RGB data

Build estimated model from RGB data and use to correct 3D point cloud @solmazhajmohammadi does that sound correct?

[2017-01-05 17:16] dlebauer commented on #121
@solmazhajmohammadi could you please divide this issue into separate tasks and define the outcome?

[2017-01-05 17:18] max-zilla commented on #193
@ZongyangLi and @pless have a CSV for full field season 2 to upload into BETYdb.

[2017-01-05 17:22] dlebauer commented on #88
closing per suggestion from @czender  - other issues (uncertainty, reflectance, etc) cover outstanding calibration issues

[2017-01-05 17:22] #88 closed

[2017-01-05 17:25] max-zilla commented on #208
@jterstriep and I will prioritize this sensor/output ASAP.

[2017-01-05 17:39] max-zilla commented on #150
if you have a python script, please upload to GitHub so we can review and prep extractor.

Here is the preferred repository for the script:
https://github.com/terraref/extractors-multispectral
please let me know if you don't have access. Easiest way would just be to create your own branch and add the file, then create a pull request.

[2017-01-05 17:42] solmazhajmohammadi commented on #141
@ZongyangLi @max-zilla @dlebauer
I checked the data, irregular pointcloud data caused by Fraunhofer software bug. It should be fixed now, you can skip those data.

[2017-01-05 18:02] max-zilla commented on #155
Other steps:
- how to query THREDDS server?
- what netCDF files do we want query-able?
- how do we get necessary data from betyDB to execute the query?

[2017-01-05 18:16] craig-willis commented on #160
Discussed with Max and this is complete. Closing.

[2017-01-05 18:16] #160 closed

[2017-01-05 19:55] dlebauer commented on #155
@max-zilla

We can start with the hyperspectral level 1 (reflectance) and level 2 (indices) files. Use case is 'compute plot level statistics (starting with mean).

We may also consider converting geotiff to netcdf (`gdal_translate` seems to do this). This would facilitate subsetting and standardize the geospatial query workflow?

The easiest way to get plot boundaries from BETYdb is with the API

[2017-01-05 20:26] solmazhajmohammadi commented on #121
The current script is aligning the raw data from RGB and 3D scanner. Since that the scans has been done in different time, 3D data needs to be adjusted based on the RGB data.
Following steps summarize the process:

- Aligning 3D and RGB (Done)

- 3D reconstruction from Stereo pair (In progress)

- Correct the point cloud data based on the 3D data from stereo camera (In progress)

IR and Stereo dat

[2017-01-05 20:38] gsrohde commented on #155
@max-zilla The API documentation for querying is here: https://pecan.gitbooks.io/betydb-data-access/content/API/beta_API.html.  See the section "Matching using regular expressions" for use of the "=~" operator.

[2017-01-05 20:59] dlebauer commented on #121
@solmazhajmohammadi what is the output of aligning two datasets? Will there be an adjustment to the coordinate systems of these data products? A new data product? Could you create a new GitHub issue for the steps required to add these algorithms to the pipeline?

[2017-01-05 21:04] dlebauer commented on #193
@ZongyangLi for Season 1 and 2 data please just upload the data to google drive and @gsrohde can insert it into BETYdb, but moving forward this extractor should insert the results directly into BETYdb

[2017-01-05 21:13] dlebauer commented on #183
@hmb1

* It is okay to sacrifice performance for legibility - we can refactor later if necessary
* the script is easy to read ... though I don't see where it writes a new file ...
* could you add a section to the [README](https://github.com/terraref/computing-pipeline/blob/master/scripts/hyperspectral/README.md) with this script and an example of its use?
  * @max-zilla should the hyperspectral ca

[2017-01-05 21:24] robkooper opened #221 "restore clowder instance for terraref"
The clowder instance for terraref had a catastrophic disk failure.

- [x]  create new vm
- [x]  install required software
- [x]  install clowder
- [x]  copy backup of spaces/users
- [ ]  import existing data

[2017-01-05 21:49] ZongyangLi commented on #193
@dlebauer I totally agree with you!

I think extractor for canopy cover percentage is really close to deploy.

Things for traits from 3d scanner is a little bit different from those in stereo camera as I described in #210

1. we need a parameter to understand where are the coordinates represent for in the field, with this parameter we can confirm an exactly plot level traits, or this will always b

[2017-01-05 22:03] dlebauer commented on #193
@ZongyangLi

I am not clear what you mean by "we need a parameter to understand where are the coordinates represent for in the field, " Doesn't each point have an x,y,z coordinate in the gantry coordinate system? We have code for transforming x,y to lat, lon.

If an individual plot is made up of several raw files, is the problem one of being able to identify the files within the plot (a use case f

[2017-01-05 22:24] ZongyangLi commented on #193
@dlebauer
Each point have an x,y,z coordinate in there individual coordinate system, not in gantry coordinate system, for example, in one days scan, all x coordinates are in range of [-600, 600], y coordinates are in range of [-700, -23000], and there is a parameter in metadata that tells us where is the laser sensor in the gantry system: `"position x [m]": "98.1015","position y [m]": "0",`, but w

[2017-01-05 23:38] dlebauer commented on #209
@yanliu-chn and @jterstriep this is the issue that came up today. We discussed options in December but have not yet come up with a generalized approach. I think we determined that it will be helpful to have a generalized approach. However, the next step is to come up with a plan of action. Can one of you take the lead on this?

[2017-01-06 15:44] hmb1 commented on #183
With ncap2 scripts  the single input and single output file are defined on the command line. Scripts cannot open files directly.  New variables are defined in output.

[2017-01-06 19:22] remotesensinglab commented on #211
**Below is the methodology for the tractor data. We can close this issue if there are no further comments.**

The phenotractor was equipped with three types of sensors for measuring plant height, temperature and canopy spectral reflectance.  A RTK GPS was installed on top of the tractor, see the Figure 1.

 ![tractor_height](https://cloud.githubusercontent.com/assets/22847312/21729962/14c72e26-d41

[2017-01-06 19:35] dlebauer commented on #211
@remotesensinglab thanks for posting the methods ... before closing please update the documentation https://github.com/terraref/documentation/edit/master/user/protocols-tractor.md (should be a simple copy-paste of what you've written, though you can use also use Latex syntax for the equations if you prefer.  )

[2017-01-09 16:07] Mamatemenrs commented on #211
@dlebauer @remotesensinglab made 2 commits on Update protocols-tractor.md , waiting to be approved.

[2017-01-09 17:31] dlebauer commented on #211
@Mamatemenrs I've merged your changes https://github.com/terraref/documentation/pull/108 thanks!

[2017-01-09 17:31] #211 closed

[2017-01-09 17:40] craig-willis opened #223 "Ability to mount data to Tool Launcher containers"
### Description

Currently, the Tool Launcher copies data into the Docker container via the Clowder API (via HTTP).  As per ticket #215, for some development workflows this model won't work (e.g., hyperspectral), as the files are too large.  This ticket encompasses changes to the Tool Launcher to support mounting data on ROGER directly (RO).
https://github.com/terraref/computing-pipeline/issues/21

[2017-01-09 17:41] craig-willis commented on #215
Confirmed the VM is working for hyperspectral workflow. Opened ticket #223 to update tool launcher.  Closing this ticket.

[2017-01-09 17:41] #215 closed

[2017-01-09 19:44] ZongyangLi commented on #193
@gsrohde Could you please help me uploading [90th percentile](https://drive.google.com/open?id=0B5QCp_Onc6nOTi1MdGhiMlZ4VkU) and [95th percentile](https://drive.google.com/open?id=0B5QCp_Onc6nOZmE5MUt5d1JwSnM) into BETYdb?

[2017-01-10 00:29] solmazhajmohammadi opened #224 "Seraching for a set of data with the same gantry position(IR+3D Fusion)"
@max-zilla, do we have a script to do the following search?
 -Searching among all the IR json files to provide the data that are collected in the same row scan( same gantry position in X axis).

Can we use the whole-field mosaic script for a row scan of IR data? Otherwise I have a Matlab script to do it, I can rewrite it in C++

This is blocking https://github.com/terraref/computing-pipeline/issue

[2017-01-10 16:43] craig-willis opened #225 "Jupyter notebook now requires token to login"
### Description
Updates to the jupyter/scipy-notebook:latest image enable default token authentication, which prevents Clowder users from being able to access the image. This issue is related to #204.

### Completion Criteria
* [ ] Notebook is available with password authentication using a default password
* [ ] Docker image pushed
* [ ] Update test documentation
* [ ] PR reviewed and merged

[2017-01-10 16:50] max-zilla commented on #224
@solmazhajmohammadi i think this should be possible. I'll try to take a look before Thursday.

[2017-01-10 17:27] gsrohde commented on #193
@ZongyangLi Did you want me to give you instructions on how to upload these or did you just want me to go ahead and do it myself?

One concern I have is that some of the dates for the 95th_quantile_height data overlap with the set you had me upload earlier (from Nov. 8).  Of course, this is 98 days worth of data whereas the earlier set was only 5 days worth.  Should this data _replace_ the earlier

[2017-01-10 17:52] ZongyangLi commented on #193
@gsrohde It will be great if you can give me instructions on how to upload these by myself.

I believe this data should replace the earlier datas for the 95th_quantile_height from Nov. 8. Datas here have more correlation to the hand measurements.  Could you give me an example of operating BETYdb or a document?

[2017-01-10 18:02] dlebauer commented on #193
@gsrohde I believe the uploads from Nov 8 were associated with different (but overlapping) plot definitions. So they are not truly duplicates, but we can delete these anyway. Are there any dates uploaded on Nov 8 that were not uploaded at this time?

@ZongyangLi do you also have values for 'height', i.e. those that are estimated based on the model that @rmgarnett fit?

[2017-01-10 18:08] ZongyangLi commented on #193
@dlebauer Is that a 'height' using:
[hand height] = 28.2cm + 0.661 * [89th height percentile]
Not yet, but it would be quite easy to get that.

[2017-01-10 19:12] dlebauer commented on #193
Yes ... the variable name should be 'height' and the method should include the formula.

@rmgarnett also had some thoughts on estimating uncertainty using RMSE in #210. (is that a duplicate issue?). But we can add that later.

[2017-01-10 19:13] dlebauer commented on #210
@rmgarnett have you made any progress on adding uncertainty?

[2017-01-10 19:21] max-zilla commented on #195
@czender i just ran the hyperspectral extractor on Roger with this dataset:
https://terraref.ncsa.illinois.edu/clowder/datasets/587024414f0c0dbad1a78b83

I duplicated this dataset on clowder-dev to make sure the extractor would work even if files weren't in a specific folder structure on ROGER, i.e. in an arbitrary Clowder instance, so I updated my code to move any /tmp files into one directory so

[2017-01-10 19:31] gsrohde commented on #193
@dlebauer The five dates uploaded on Nov. 8 are included in the set we are about to upload.  I will delete them.

@ZongyangLi I will send you upload instructions shortly.  I plan to give instructions on how to upload the data using the `curl` utility if that is OK.  Check to see if you have it installed.

[2017-01-10 19:45] czender commented on #195
Hi Max,
Thanks for testing this. The failure appears to be a false positive check emitted by the QAQC program. "The height of the image should always be 169 pxl" is something that @FlyingWithJerome apparently checks for in QAQC, but there is really no reason why an image should have 169 scanlines. We expect y = height = scanlines to vary. Jerome, please disable or alter this particular test if tha

[2017-01-10 19:55] max-zilla commented on #195
@czender @FlyingWithJerome thanks Charlie. The directory problem in this case was that if one runs this extractor out on a random server that can't access the files locally, it has to download them from Clowder first - Clowder creates a certain directory structure to avoid filename collisions that wasn't compatible with the workflow script (it wouldn't find every file in one folder, for example) s

[2017-01-10 20:03] czender commented on #195
"The _raw file was only 400 MB, so I'd like to get your thoughts before trying on e.g. a 102 GB _raw file." @max-zilla @solmazhajmohammadi @dlebauer @hmb1 We've discussed before what the maximum expected raw filesize would be and my recollection is that Lemnatec said 64 GB is the size of a raw file produced by a full field-width scan. The workflow works (I have tested it many times) on 64 GB raw f

[2017-01-10 20:11] max-zilla commented on #195
That is fine with me - the large file was a SWIR file from early May so it could very well be deprecated at this point:
https://terraref.ncsa.illinois.edu/clowder/datasets/58713c954f0cc129fb5b88c7

[2017-01-10 20:18] dlebauer commented on #195
Getting the extractor to work on data from May is a very low priority ... so sticking with the 64GB max size is reasonable.

[2017-01-10 20:24] solmazhajmohammadi commented on #195
@czender For a single row scan, the file size should not exceed the 64 GB(when we are running with minimum speed of 0.02m/s).
It might be just a test on the system to see if it is able to handle the larger file size, or system was running in free run mode(for the whole field).
Anyhow, If there is a file size larger than 64GB, please let me know the date and time. I can check it.

[2017-01-10 20:43] gsrohde commented on #193
@ZongyangLi The curl command to use is
[code]
(This is more-or-less covered in the "Using curl to Upload the Data Samples" section of [BETYdb Data Entry Workflow documentation](https://pecan.gitbooks.io/betydbdoc-dataentry/content/trait_insertion_api.html).)

But you will need to sign up for an account on TERRAref and request creator status in order to get an API key that works.  The guestuser API

[2017-01-10 21:22] ZongyangLi commented on #193
@gsrohde Thanks! I will follow your instructions and try it myself.

[2017-01-10 22:38] rmgarnett commented on #210
I will pick this up again this week.

On Wed, Jan 11, 2017 at 2:13 AM David LeBauer <notifications@github.com>
wrote:

[2017-01-11 16:42] czender opened #228 "Hyperspectral workflow fails the metadata step with test dataset"
### Description

The hyperspectral_tst* files at http://dust.ess.uci.edu/tmp provide a minimal image and metadata to test trivial changes to the workflow. However, the workflow fails in the metadata stage. Please investigate and fix.

### Details

[code]
### Completion Criteria

* [ ] Now it works for @FlyingWithJerome
* [ ] Now it works for @hmb1
* [ ] Now it works for @czender

[2017-01-11 20:39] max-zilla commented on #195
@czender @FlyingWithJerome OK, an update.

summary: extractor successfully triggered on VNIR file. still getting error on SWIR file.

**VNIR**
https://terraref.ncsa.illinois.edu/clowder/datasets/587024414f0c0dbad1a78b83
.nc file here, the output is on Roger at
[code]
output is 1.3 GB from a 400mb input.

**SWIR**
https://terraref.ncsa.illinois.edu/clowder/datasets/58713f394f0cc129fb5c2436
Tried tr

[2017-01-11 22:12] czender commented on #195
@max-zilla the VNIR results look good.

I will fix the camera-type check so it assigns wvl_nbr == 273 to SWIR camera when I figure-out how to create a branch and a pull request. For now, what puzzles me is that your text output pasted above does not contain any printed variables. In other words, it does not contain the printed value of $wvl_nbr. So two things appear to need fixing. But SWIR is not

[2017-01-12 04:49] Paheding commented on #150
For extracting NDVI or PRI values from a .bin files, a python script has been uploaded in a branch named "Create binFile_NDVI_Extractor" with a pull request.

[2017-01-12 14:31] max-zilla commented on #221
Import is still in progress. The flirIrCamera is currently uploading and has been since Saturday afternoon, but this is the most complex/largest collection to recreate - this is one of the longest file lists, and each flirIr dataset only has a single file in it so there are more datasets created than, e.g. ps2Top which has a long file list but 100 files per dataset so it processes much more quickl

[2017-01-12 14:48] max-zilla opened #230 "Execute hyperspectral extraction on 2016 data"
Following discussions in #195....
- successfully performed VNIR test extraction with current hyperspectral code on Roger
- generated list of dataset IDs for all VNIR datasets to execute
- camera-type check is being adjusted for identification of SWIR camera

As soon as Roger maintenance completes this morning, I will start processing.

@czender @FlyingWithJerome
However, based on a few spot checks

[2017-01-12 14:49] max-zilla commented on #195
Going to close this issue now that the components are working at a basic level, with further adjustments going into https://github.com/terraref/computing-pipeline/issues/230

[2017-01-12 14:49] #195 closed

[2017-01-12 14:58] dlebauer commented on #230
Did the time stamp change from the YYYY-MM-DD HH:MM:SS specification at some point @smarshall-bmr?

@max-zilla and @craig-willis Should we fix the metadata instead of the code? I think the code should follow the standard. But efficiency of implementation and interoperability may favor generality.

[2017-01-12 15:24] dlebauer commented on #155
@jterstriep could you please meet with @robkooper to flush out the steps required to implement this?

[2017-01-12 15:36] max-zilla opened #231 "Define v0, v1, v2 search features for TERRA"
Restructuring from #46 and #47. This issue is a discussion to decide critical features to support searchwise. I'll make a first cut based on past discussions. We can create action item tasks for v0, v1 features as we begin work on them.

**v0**
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/994/overview
this is my initial pull request to overhaul ElasticSe

[2017-01-12 15:37] max-zilla commented on #46
Closing this issue for #231.

[2017-01-12 15:37] #46 closed

[2017-01-12 15:37] max-zilla commented on #47
Closing this issue for #231.

[2017-01-12 15:37] #47 closed

[2017-01-12 15:52] max-zilla commented on #224
@solmazhajmohammadi while this isn't currently possible via UI until I finish rebuilding instance ( #221 ) I can run queries directly against the Mongo database.

For example:
[code]
...this query says to find all datasets with product name A615 (the FLIR sensor) and a gantry X position of 163.1635.

The result (I restrict to just one) is an ID of dataset in Clowder. From that ID, we can determine

[2017-01-12 15:57] dlebauer commented on #200
@max-zilla do we need to re-create this sample data space? We need this for the Feb milestone

[2017-01-12 15:59] max-zilla commented on #200
Yes, this needs to be recreated. @robkooper could potentially recover from old database but I think easiest to just make a new one with a couple good samples of each dataset. I'll make sure this gets created next week.

[2017-01-12 16:05] dlebauer opened #232 "Tools to validate standards compliance"
We need to run tests that ensure the data products meet data and metadata format specifications.

### Description

ARPA-E milestone for Nov 2017 is to have tests that data products match published metadata standards

### Details

* would prevent issues with changing source meta-data
* could be used to ensure correct data format from providers
* a test for extractors

* BETYdb has a solid suite of

[2017-01-12 16:26] rachelshekar commented on #54
@nshakoor - what is the status of this?  Will Steve be willing to share data?  If so, when?

[2017-01-12 16:26] rachelshekar commented on #85
@max-zilla - please update

[2017-01-12 16:26] dlebauer commented on #216
@ZongyangLi and @nfahlgren can you please summarize the results of your meeting, update this isssue, and create new ones as necessary?

[2017-01-12 16:27] dlebauer commented on #221
* [ ] re-create sample data space
* [x] re-import sensor metadata

[2017-01-12 16:29] rachelshekar commented on #106
@jdmaloney - status?

[2017-01-12 16:30] dlebauer commented on #221
@robkooper can any data be recovered from the database? For example, the UAV / Tractor data? Or the sample data that Max had prepared?

[2017-01-12 16:31] rachelshekar commented on #128
@jdmaloney - are we getting this data now?

[2017-01-12 16:33] rachelshekar commented on #152
@ZongyangLi - did you get the information you needed from Noah to start on this?

[2017-01-12 16:33] max-zilla commented on #85
@ZongyangLi have you shared the mosaic script you used to generate the examples on ```/projects/arpae/terraref/users/zongyang/fullFieldStitch/```? I'd like to add it as extractor to
https://github.com/terraref/extractors-stereo-rgb so I can get ready to deploy.

Apologies if you've shared before and I forgot.

[2017-01-12 16:34] rachelshekar commented on #156
@max-zilla - please update

[2017-01-12 16:34] jdmaloney commented on #128
@rachelshekar No we are not

[2017-01-12 16:37] max-zilla commented on #156
@Zodiase I integrated your code and deployed to the extractor VM, but the hardware failure this week delayed my ability to test. Assigning this to myself so I can close once I confirm everything's good but it's 99% ready.

[2017-01-12 16:38] dlebauer commented on #210
@ZongyangLi you can go ahead and insert the data that you have. We can create another issue for adding uncertainty to the height calculations (moving forward this should be done by default ... )

[2017-01-12 16:44] dlebauer commented on #167
@rickw-ward what is the status of the 2016 UAV data? I see we have uploaded NDVI. Are there other datasets to upload (height? temperature?) Do you have plot level summaries ready to upload (or have we already done this?)

[2017-01-12 16:46] ZongyangLi commented on #216
From discussion with @nfahlgren , I am planning to create 2 extractors for this:

- [ ] convert bin files into gray scale images,

- [ ] create pseudocolored Fv/Fm image using F-images and create a Fv/Fm histogram.

[2017-01-12 16:49] FlyingWithJerome commented on #230
@max-zilla
I think your interpretation is correct. The first few batches of metadata (probably before June) used "time" as the keyword to identify the time of gantry, and then it had been changed to "Time." Now we need to add one more keyword "timestamp."

@dlebauer
So far we have three regular expression patterns to match different time patterns we had observed in metadata (and we need to add one

[2017-01-12 16:50] ZongyangLi commented on #152
Yes, planning to create 2 extractors for this:
1. bin files converter
2. Fv/Fm pseudocolored image and histogram

[2017-01-12 17:14] rachelshekar commented on #221
Repo IDs have changed
Sample data in the database may be able to be restored

[2017-01-12 17:14] max-zilla commented on #221
@robkooper we should look at:
- [ ] restoring sensor metadata space & data
- [ ] restoring UAV space & data
- [ ] restoring my Sample Data space
...to see if we can recover them before trying to rebuild.

@craig-willis @dlebauer are eager to see if this is possible.

[2017-01-12 17:20] ZongyangLi commented on #85
@max-zilla
https://github.com/terraref/computing-pipeline/tree/demosaic_extractor/scripts/stereoImager
Here is the script I uploaded before.
I used 'full_day_to_tiles.py' to generate the examples on Roger.
'terra_full_stitched_tiles.py' is a script that supposed to run as an clowder extractor, looking forward a list of geotiff file as input.

please let me know if there is anything I can do.

[2017-01-12 17:20] rachelshekar commented on #224
x coordinate within one mm.
what is the margin of error?
what should be done with duplicate data?  use time stamp?

[2017-01-12 17:22] dlebauer commented on #231
#222 provides another use case

[2017-01-12 17:22] max-zilla commented on #224
No specific coordinates, idea is to get coordinate from 3D scanner for various rows and get position of IR around the 3D scan position for each row.

[2017-01-12 17:23] max-zilla commented on #156
Remember UIUC and Kansas, and Charlie may have code pull from netCDF already.

[2017-01-12 17:26] max-zilla commented on #231
@craig-willis and I should talk about this and how we might break the task down between us.

[2017-01-12 17:30] rachelshekar commented on #141
@ZongyangLi - please let us know if this is fixed.

[2017-01-12 17:35] max-zilla commented on #221
@robkooper

Space IDs from my local backup of Terra production:
**Sample Data** 57e42cd44f0cff4b58dd3eea
**UAV** 5769760ee4b0058ffbb11c8c
**Sensor Metadata** unfortunately I don't have this one in my backup. But @robkooper  might've found this one already when you sent this to @craig-willis in TERRA Hipchat:
[code]

[2017-01-12 17:37] ZongyangLi commented on #141
@rachelshekar I think this issue should be closed since it's for season 1.

I guess we are talking about unexpected data in season 2 from 10/13 to 11/04 which I mentioned in #210 . And from @solmazhajmohammadi we know that 3d data for those days are not able to fixed.

[2017-01-12 17:45] max-zilla commented on #150
@Paheding thanks for uploading, I will take a look at follow up.

[2017-01-12 17:46] #212 closed

[2017-01-12 17:46] max-zilla commented on #212
Generated these into files.

[2017-01-12 17:51] rachelshekar commented on #155
need use cases to proceed (organized by hierarchy, grouping needed?) organize by day

start with hyperspectral files.

THREDD server needs to be configured or Java script written first - 1 week work

[2017-01-12 17:51] dlebauer commented on #155
@ashiklom could you define a few use cases?

[2017-01-12 17:52] rachelshekar commented on #155
@jterstriep are there other options?  is there a new THREDDS version available?  @czender?

[2017-01-12 17:58] dlebauer commented on #155
THREDDS 4.6.8 was released Jan 9 2017 https://github.com/Unidata/thredds/releases/tag/v4.6.8

More info http://www.unidata.ucar.edu/software/thredds/current/tds/TDS.html

[2017-01-12 18:03] solmazhajmohammadi commented on #210
@dlebauer @ZongyangLi, for the data from 10/13 to 11/04, the png files have not been collected correctly, but we can get the height information from the scans that it is done at ~5m

[2017-01-12 18:04] solmazhajmohammadi commented on #210
@smarshall-bmr can you please scan the checker boards to find the pointcloud origin?

[2017-01-12 18:13] ZongyangLi commented on #210
@solmazhajmohammadi,  are you saying to estimate the plot level height base on the highest points in the remaining 3d data? That might be different from what we have done before, because we are using all point cloud data to create a height histogram and calculate quantiles data to make predictions.

[2017-01-12 18:20] ashiklom commented on #155
Off the top of my head...
* Download only one reflectance spectrum for a particular species, without accessing the entire thing.
* For a set of species, under a particular set of treatments, download only visible reflectance (400:700 nm)
* For all species, download the green- and red-edge wavelengths for calculating my own custom vegetation index.

[2017-01-12 18:42] solmazhajmohammadi commented on #210
@ZongyangLi This could be an option, otherwise the data has been collected with a wrong setting, so we are not able to recover it.

[2017-01-12 18:59] dlebauer commented on #97
### Experiments

Season 1:

relationships are first two columns of https://docs.google.com/spreadsheets/d/1iHmSyFeCO7np_lxYyvdiXQQcAwBJpIKpeAOyMXFd-OY/edit#gid=901711246

for each unique expt name add all of the associated sites where `name like 'UA MAC Season 1 Plot [col B]%`
For For season 2:

* add a experiment named "Stay-green RILs F10"
* add all sites `where name like 'Season 2%'`

[2017-01-12 20:34] ZongyangLi commented on #193
95th quantiles height for season 2 uploaded.

[2017-01-12 20:38] rickw-ward commented on #167
More to come from 2016 and also started collecting data on the 2017 wheat crop.

2016 data needs work.  I'm catching up with our situation now.

[2017-01-13 05:52] smarshall-bmr commented on #128
The active log .csv isn't able to be modified while the gantry is operating but I do have one "full" log that runs from 2/15/16 until 6/3/2016. I pulled a copy using a USB drive, any particular place I should put it on the cache server @jdmaloney ?

[2017-01-13 05:58] smarshall-bmr commented on #216
@ZongyangLi @nfahlgren LemnaTec prepared an Octave script for me to use in order to check data that produces a Fv/Fm image as well as a response histogram. Would this be helpful for you?

[2017-01-13 14:34] czender commented on #230
@max-zilla @dlebauer @FlyingWithJerome It is not a problem to add "timestamp" to the list of synonyms searched for the year/month/date. By now it is no surprise that upstream folks have or will change metadata names without testing their changes on the existing hyperspectral workflow. Sophisticated workflows like this always grow a bit crufty as names are tweaked to better reflect their intent. Th

[2017-01-13 14:58] craig-willis commented on #230
Another option might be to have a process that runs to correct/standardize the metadata.  This way we can centralize these types of transformations instead of requiring each extractor to handle them locally. We might consider something to detect these changes as well, if we can't rely on folks upstream to notify us.

[2017-01-13 16:02] czender opened #233 "Document Git workflow (was "Zender needs hand-holding with Git)"
### Description

I need GitHub help before I can update hyperspectral workflow.
With the old permissions, I would edit locally the master branch of
computing-pipeline, and then push that directly to GitHub.
With the new permissions, GitHub refuses to let me push master, and
instead requires that I submit a pull request.

### Details

I do not know how to do this, and I need help from a Git-guru to

[2017-01-13 16:28] dlebauer commented on #233
@czender

Assuming you have already committed your changes

1. create new branch
[code]

2. go to github, open the branches tab, and under 'active branches' create pull request

[2017-01-13 17:03] czender commented on #233
Thanks both, I am trying David's recipe for now...

[2017-01-13 17:16] dlebauer commented on #230
I want to re-emphasize here that we should be focusing on Season 2. The metadata should have been standardized by https://github.com/terraref/reference-data/issues/25 (closed July 2016) and there should not have been any changes (other than adding fields) since the beginning of Season 2 (Aug 2016).

I would rather not worry about having an extra meta-data transformation layer. It sounds like a lot

[2017-01-13 17:29] dlebauer commented on #230
PS here is the test for FLIR metadata: https://gist.github.com/dlebauer/52f934a28d5d8185ba1bd89644155c46

If this my recommendation from above is sensible and worth implementing, I can create the same test for the rest of the metadata files.

[2017-01-13 17:35] ZongyangLi commented on #216
@smarshall-bmr Thanks a lot! Is this the LemnaTec script you mentioned:
https://github.com/terraref/computing-pipeline/blob/master/scripts/PS2/GetPS2.m

I think I am writing script like this, except the way of determining a Fmax.

[2017-01-13 17:48] gsrohde commented on #97
@dlebauer To be clear, should all of the season 1 experiments should have the same start and end dates?  Looking at all of the managements in https://terraref.ncsa.illinois.edu/bety/managements, the latest harvest date is 2016-07-14.  There are planting dates 2016-04-19, 2016-04-20, and 2016-08-03.  I assume the latter is for season 2.  There are no planting dates in May.  So should the duration b

[2017-01-13 18:33] dlebauer commented on #97
Yes.  duration is "2016-04-19 to 2016-07-14" for all season 1 experiments

On Fri, Jan 13, 2017 at 11:48 AM Scott Rohde <notifications@github.com>
wrote:

[2017-01-13 18:37] dlebauer commented on #141
@ZongyangLi if these data can not be fixed, will the extractor skip them? Does there need to be some sort of QA flag in these directories, should they be moved to a bad data folder, or should we delete them?

[2017-01-13 18:39] dlebauer commented on #141
In short, before closing I want to make sure that we have a robust way of handling these so that we don't end up accidentally processing them with the extractors and inserting errors into downstream datasets.

[2017-01-13 19:53] czender commented on #233
apparently my first PR (for branch swir_273_channels) was approved but not merged yet and now @dlebauer wants another change so then i further edited branch swir_273_channels and commited new stuff to determine sensor type from _metadata.json file instead of wvl_nbr and created new branch called  sensor_type_from_metadata for that, and made PR for that. Is it a good idea to issue this command loca

[2017-01-13 20:01] max-zilla commented on #233
I haven't used those commands, but typically once this is merged into master you don't need these branches anymore. You can switch back to master (latest and greatest) and branch off of that for future work.

I think I confused things just now by approving your 2nd pull request (sensor type from metadata) and merging it without realizing it would also merge the swir_273 branch. In general I think

[2017-01-13 20:08] ZongyangLi commented on #141
@dlebauer I think they should not remain in the folder.

[2017-01-13 20:20] dlebauer commented on #141
@jdmaloney how do you suggest we handle these files (scanner3DTop from 10/3-11/14)? I wouldn't want to break the transfer logs / file checks or have them missing without explanation (e.g. if we just deleted or moved the files).

@ZongyangLi what would it take to have the extractor skip these dates ... e.g. if a filename triggers the extractor, would it be sufficient to append the filenames with so

[2017-01-13 20:35] czender commented on #233
i created the second branch because i didn't think that any subsequent (to my PR) commits to the first branch would be applied. because they did not exist at the time of the PR, and were not described in the original PR. but the new mods were written in response to a review of the PR, so maybe I should have been more optimistic.

please continue to be fast at merging because i need feedback in rea

[2017-01-13 20:42] max-zilla commented on #233
Luckily subsequent commits DO retroactively apply to pull requests, and I believe it'll even mark outdated comments in the PR if you're looking at a comment for a line of code that's been updated later.

[2017-01-13 20:54] czender commented on #228
Jerome's initial PR has been merged and now the test fails in a new location. @hmb1 please try to get this to succeed. Problem appears to stem from 1x1 geometry of test image:

zender@aerosol:~/terraref/computing-pipeline/scripts/hyperspectral$ hyperspectral_workflow.sh -d 0 -i ${DATA}/terraref/hyperspectral_tst_raw -o ~/hyperspectral_tst.nc
Input #00: /Users/zender/data/terraref/hyperspectral_tst

[2017-01-13 21:05] dlebauer commented on #233
and in general, you could develop on a 'feature branch' indefinitely, only merging to master when it is ready to deploy. https://www.atlassian.com/git/tutorials/comparing-workflows/feature-branch-workflow

We need to document a common workflow for the team, but it will follow that one.

[2017-01-13 22:05] gsrohde commented on #97
@dlebauer I did season 1.  I used insert statements of the form
[code]

I have two questions about season 2:

Site names for season 2 come in two forms: they either match the regular expression
[code]
or match
[code]

Should I associate the "Season 2 Stay-green RILs F10" experiment with any site that contains the string 'Season 2'?

Secondly, there is no management corresponding to the season 2 ha

[2017-01-13 22:21] rmgarnett commented on #210
I have been reinvestigating the hand measurements using @ZongyangLi's most-recent data. The final model may differ from what's written above, but it will be the same form. I presume the extractor will be easy to modify if we wish to change the model slightly?

[2017-01-13 22:27] rmgarnett commented on #193
To follow up on @dlebauer's comments, I believe we should be doing some work to reject points lying on the ground from the height distributions before extracting any percentiles. What I propose is to look at the height distributions for each plot before emergence, find (say) the 99th percentile, and store this value/bin as the ground level for that bin. Then, when processing height distributions,

[2017-01-13 22:31] dlebauer commented on #210
Yes, we could store parameters as metadata and have the extractor pick them
up (eg if they change by crop, year, or location)
On Fri, Jan 13, 2017 at 4:21 PM Roman Garnett <notifications@github.com>
wrote:

[2017-01-13 22:33] dlebauer commented on #97
Yes associate with all season 2 sites

End date is Dec 2 2016
On Fri, Jan 13, 2017 at 4:05 PM Scott Rohde <notifications@github.com>
wrote:

[2017-01-13 22:36] rmgarnett commented on #210
Perfect.

[2017-01-13 22:41] rmgarnett commented on #193
Using such a technique, we get a more-linear relationship, ignoring the short plants:

<img width="538" alt="screen shot 2017-01-13 at 16 40 00" src="https://cloud.githubusercontent.com/assets/583945/21948189/1b6c647a-d9af-11e6-8c21-9187d38772c7.png">

[2017-01-13 22:54] ZongyangLi commented on #193
One possibility for problem in short plants might be the incorrect input data:
I happened to notice that in 20160831, almost all of plots have a same highest point level at lv. 83, then I checked the raw ply files, it seems point above lv. 83 was 'disappeared'.

[2017-01-13 23:00] rmgarnett commented on #193
Indeed, omitting 2016-08-31, things look nicer:

<img width="550" alt="screen shot 2017-01-13 at 16 59 28" src="https://cloud.githubusercontent.com/assets/583945/21948571/b5b3f172-d9b1-11e6-893e-a376c9104178.png">

[2017-01-13 23:02] gsrohde commented on #97
@dlebauer OK, season 2 is now done.  But it occurred to me that maybe id numbers for the experiments and experiments_sites are supposed to be in the 6 billion range.  If so, I'm not sure what mechanism @robkooper uses to make sure each machine starts autonumbering at the correct place.

[2017-01-14 00:12] czender commented on #183
@hmb1 I prefer files to be self-documenting. Look at hyperspectral_calibration.nco for an example. Please add equivalent information at the top of all scripts you write for Terraref or NCO.

[2017-01-14 00:21] czender commented on #233
according to this feature branch, @dlebauer, i should push my newfeature branch upstream with
git push -u origin newfeature
instead of
git push origin newfeature
as you recommend above. Is my understanding correct?
I'm not sure what the operational difference is between these two styles. Any insight to offer?

[2017-01-14 02:45] dlebauer commented on #233
-u is alias for--set-upstream It sets the upstream branch so you can `git pull` from it without specifying where from. It's a shortcut. I prefer to be explicit

see

http://explainshell.com/explain?cmd=git+push+-u+origin+newfeature

[2017-01-16 16:22] hmb1 commented on #228
Hi Charlie,
the y=1,x=1 was causing some spooky behaviour in hyperspectral_calibration.nco.
To get round it I changed the line :+1:

from:
  **rfl_img=rfl_rfr_fct;*(xps_img-xps_img_drk)/(xps_img_wht-xps_img_drk)**

to
 **rfl_img=(xps_img-xps_img_drk)/(xps_img_wht-xps_img_drk)*rfl_rfr_fct;**

 can also correct it by casting e.g
**rfl_img[wavelength,y,x]==rfl_rfr_fct;*(xps_img-xps_img_drk)/(xps_img_

[2017-01-16 16:49] czender commented on #228
Please re-enter all the code above using Github's code marker (the angle brackets). Otherwise the syntax is distorted and the syntax is crucial. The key thing about any change is that is must not increase the memory usage by one iota, e.g., as indicated in the comment in the following:
[code]

[2017-01-16 17:01] hmb1 commented on #228
OK Well Ill implement the second method - That is swapping the arguments about.
`rfl_img=(xps_img-xps_img_drk)/(xps_img_wht-xps_img_drk)Xrfl_rfr_fct;`

[2017-01-16 17:28] czender commented on #228
Sounds good. Please run the new and old methods side-by-side and verify neither memory usage nor answers change (e.g., due to carrying out division integer rather than float).

[2017-01-17 02:34] czender commented on #228
Also, the "spooky behavior" needs to be addressed :) Is it fixable? Users will not know advance to avoid the arithmetic ordering I picked, and will be just as mystified as I by the failure.

[2017-01-17 15:50] max-zilla commented on #230
@czender how long roughly does one run take on a 64 GB input file? I am troubleshooting the bulk run this morning and trying to run test on this dataset from 05/01:
https://terraref.ncsa.illinois.edu/clowder/datasets/58702ad54f0c0dbad1a81378

...64.8 GB raw file.

The output doesn't seem to have errors:
[code]
...but I'm trying to determine if I'm seeing a timeout issue in the pipeline workflow, o

[2017-01-17 16:02] czender commented on #230
Last time I checked it took 94 minutes, so let it run...

[2017-01-18 19:01] rachelshekar commented on #95
@dlebauer - was this post for discussion or can you add deliverables?

[2017-01-18 19:24] max-zilla commented on #200
rebuilding it here: https://terraref.ncsa.illinois.edu/clowder/spaces/57e42cd44f0cff4b58dd3eea

[2017-01-18 20:40] gsrohde commented on #201
@dlebauer I looked at the spreadsheet with the update statements and there are some problems:

1. The update statements have no WHERE clauses, so each one will update the whole traits table.  For example, where you wrote
[code]
I'm assuming you perhaps intended
[code]
(Notice the extra "Field" before "Plot": all season 2 sitenames containing the string "Plot" have the form "MAC Field Scanner Field

[2017-01-18 20:51] max-zilla commented on #200
The sample dataset is now populated.

[2017-01-18 22:58] gsrohde commented on #97
@dlebauer I re-did the `experiments` and `experiments_sites` inserts with the correct id range restriction in effect.  Did a hotfix release to set the starting id numbers correctly.

[2017-01-18 23:08] gsrohde commented on #97
@dlebauer Can this be closed?

[2017-01-19 01:14] dlebauer commented on #145
Is the extractor inserting these metadata into clowder?

In this sample dataset https://terraref.ncsa.illinois.edu/clowder/datasets?space=57e42cd44f0cff4b58dd3eea there is only gantry metadata, but the information from the netcdf header is not available.

[2017-01-19 01:17] #97 closed

[2017-01-19 04:23] Paheding commented on #150
@max-zilla  The python script for extracting NDVI from .bin files can found in [here](https://github.com/Paheding/extractors-multispectral/blob/25c7fdefd3b38628c2efed73d36d20a1445ee838/binFile_NDVI_Extractor)
The code reads all .bin files from current directory, extracts the NDVI values, and saves the extracted values to  a .csv file automatically.

[2017-01-19 05:17] dlebauer commented on #201
I think the update statements here will work https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q or at least provide enough information to identify site-cultivar pairs

[2017-01-19 05:20] dlebauer commented on #95
@Andrade-Pedro do you have suggestions on how we should make these data available?

[2017-01-19 05:48] Zodiase commented on #156
@max-zilla How are datasets from UIUC and Kansas different from MAC datasets? Would the current message subscription (`*.dataset.files.added`) work for them? Do they have different schemas? And why would the extractor need code to pull data from netCDF? Shouldn't it only pull from clowder datasets and put into geostream?

[2017-01-19 15:29] max-zilla commented on #145
The hyperspectral netCDFs are crashing the VM when it tries to download them, since the VM only has 8GB memory.

This won't happen when Roger filesystem is mounted but i need to make sure with @jdmaloney that we are ready to do that again without filesystem errors.

[2017-01-19 15:51] gsrohde commented on #201
@dlebauer I assume you mean use columns R and S in https://docs.google.com/spreadsheets/d/1xIRwroYObD125I0TDCDp3YPIGPi2Qzeh-vlUCg_b85Q/edit#gid=732810075 (the fourth sheet) to generate the update statements?

[2017-01-19 17:15] rachelshekar commented on #207
@ZongyangLi - are you still waiting for feedback from @solmazhajmohammadi on this?

[2017-01-19 19:11] max-zilla commented on #156
@Zodiase i have not seen the UIUC/Kansas datasets yet.... I put that comment there as a note during the meeting, but i think the netCDF note was not for this specific extractor but for other met data we might see.

[2017-01-19 20:01] max-zilla commented on #150
https://github.com/terraref/extractors-multispectral/pull/6/files

@Paheding I merged your PR and implemented the code into the extractor framework. I have not tested yet but you can see how this was done here.
- renamed your script to DirectoryExtractor.py to preserve it.
- terra_bin2csv.py is the extractor script with 3 components. this is configured to be notified whenever any .bin file is uplo

[2017-01-19 20:08] Paheding commented on #150
Sounds good. Thanks.

Sidike Paheding (Patrick), Ph.D.
Postdoctoral Research Associate
Center for Sustainability
Saint Louis University

On Thu, Jan 19, 2017 at 2:01 PM, Max Burnette <notifications@github.com>
wrote:

[2017-01-19 20:13] max-zilla commented on #221
flirIrCamera finally finished at 3AM, and we determined from memory patterns we should be safe to run 2 threads on this at once. cropCircle and ndviSensor running now.

[2017-01-19 20:14] max-zilla commented on #230
@jdmaloney mentioned this in terra room, but when moving from my sites/ua-mac/Level_1/hyperspectral_manualcheck directory to the proper /hyperspectral one, I no longer have write permissions for the extractor outputs. Can you add group write permissions to all the /Level_1 directories so my extractors can write to them? Thanks.

[2017-01-19 21:29] dlebauer commented on #156
Data flow should be raw --> geostreams --> netCDF

The raw--> netCDF developed alongside the hyperspectral extractor is a special case

The raw --> geostreams extractor may need special handling for each data source. We should open separate issues for each additional source. later we can write the geostreams to netCDF extractor and we will only need one.

[2017-01-19 21:58] dlebauer commented on #230
Didn't we decide the extractors should have write access, but not
individuals?
On Thu, Jan 19, 2017 at 1:14 PM Max Burnette <notifications@github.com>
wrote:

[2017-01-19 21:59] dlebauer commented on #201
Yes
On Thu, Jan 19, 2017 at 8:51 AM Scott Rohde <notifications@github.com>
wrote:

[2017-01-19 22:54] max-zilla commented on #230
That seems to be how it's configured, but if so I'll still need to work out a solution for hyperspectral, since that isn't on a VM with mounted permissions like the others are - instead, it's running a job on Roger node and since I'm the one starting it, I'm not allowed. If you <dlebauer> were to start it i think that would be fine since you own the directories,, but that isn't a good long-term so

[2017-01-20 00:03] dlebauer commented on #230
If you send me a command line statement I can run it. Do you mean "chmod -R
+w groupname sites/ua-mac/Level_1/'? (Easiest if you just tell me what to
run)

[2017-01-20 18:00] dlebauer opened #237 "Combine las files during ply2las"
Is there a reason to keep the east and west las files separate, or can these be merged into a single file?

### Completion Criteria

* [x] decide if it is reasonable to combine each pair of point clouds into a single file
* **if yes**
  * [x] implement
   * [x] deploy
* **if no**
   * [ ] explain and close issue

[2017-01-20 18:46] solmazhajmohammadi commented on #237
I dont see a reason to keep east and west files, as long as we have ply files we should be OK.
The routine to combine the pair is listed here, under suggestion:
https://github.com/terraref/computing-pipeline/issues/98

[2017-01-20 18:47] solmazhajmohammadi commented on #207
@rachelshekar I'm working on deploying it on clowder

[2017-01-20 21:30] ZongyangLi commented on #237
Totally agree! I would prefer a single file for each scan.

Is there anywhere i can find such an example of combined las file?

[2017-01-20 22:19] solmazhajmohammadi commented on #144
@FlyingWithJerome the current scans are done in ~50ms frame rate and 0.04m/s speed  (which is twice faster than requirement for external trigger signal).
Meaning: just one out of two row scan is written into the hypercube.

In this case(Frame rate> 25ms and scan speed = 0.04m/s) the data is downsampled by sampling every 2 element. you need to consider this to get the correct georefrenced hyeprcube

[2017-01-24 01:17] solmazhajmohammadi commented on #224
@max-zilla Here is an example:
If the gantry position for 3d-scanner is "X", I should look for all the data that is taken with following X position:
Range:[ (X - 1.961) to (X + 0.761)]
 The result of the query should be around 10-30 images(depend on the overlap between images, gantry position and etc. ) 1-3 row scan with different Y position.

Following steps should limit the duplicated data:

_**

[2017-01-24 15:29] max-zilla commented on #230
5 of these are running now. 1,300 datasets queued. Will monitor progress next day or two.

[2017-01-25 15:06] rachelshekar commented on #237
@max-zilla plz help

[2017-01-25 15:18] dlebauer commented on #237
Or @ZongyangLi could you update the extractor? I know that there is a lasmerge function in lastools.

[2017-01-25 15:18] rachelshekar commented on #41
David,

    I was able to get the CoGe API to work so submissions to CoGe can be done on the command line.    However, after our conference call on Nov. 7th, I steered away from pursing
     the CoGe pipeline based on that conversation.   While I’ll proceed as instructed, I’m still of the opinion that CoGe is not geared to this large of a genomic analysis undertaking because of its limited compute

[2017-01-25 15:18] rachelshekar commented on #41
Phil,

David and I have both received commitments from Eric Lyons and others at CyVerse that they will continue to improve CoGe and their infrastructure to enable TERRA-REF’s needs. My recommendation is that David do what he can to implement CoGe in the TERRA-REF framework. But if CoGe/CyVerse is insufficient at this time for our internal DDPSC needs then you should use whatever other tools and pi

[2017-01-25 15:29] solmazhajmohammadi commented on #237
Following command will do the merge
`docker run -v /Path/ToThe/File/data:/data -t pdal/pdal pdal merge /data/InputEast.las /data/InputWest.las /data/output/MergedOutput.las`

[2017-01-25 15:39] max-zilla commented on #237
I'll add this command and redeploy this afternoon.

[2017-01-25 16:02] hmb1 commented on #228
The spooky behaviour has been address by mods in the ncap2 code

[2017-01-25 16:02] #228 closed

[2017-01-25 16:07] max-zilla opened #238 "Sensorposition extractor should organize by plot"
After discussion with me, @dlebauer , @robkooper , we have an updated organization strategy for geodata to better integrate with geodashboard. The current extractor code is here, deployed to a VM but currently not running pending these updates:
https://github.com/terraref/extractors-metadata/tree/master/sensorposition

**the old way**
geostream sensor = a site, e.g. Maricopa
geostream stream = an

[2017-01-25 16:19] dlebauer commented on #238
@max-zilla the plot boundaries can be queried from terraref.ncsa.illinois.edu/bety. The 'canonical' plots (full size). Unfortunately ... the site isn't up. Presumably if these boundaries are stored in the geostreams database, they can be called by extractors that want to know how to subset a plot (#159)?

[2017-01-25 16:22] dlebauer commented on #238
@max-zilla here is a set of shapefiles https://drive.google.com/drive/u/0/folders/0B5btztQSCEFxVUZ6SlRHVDBpdWM that represent the plots excluding the boundary rows. These are the shapes that should be used for subsetting images.

[2017-01-25 16:44] max-zilla commented on #238
OK. I included the shapefiles in the repo for now.

Looking up plots dynamically via Bety has some appeal. We could also potentially store in the geostreams database, that would make the extractor incompatible with generic Clowder deployments (without custom geostreams plot table) but the extractor's so specific to our project that maybe that's fine.

The shapefile is the best short-term option so

[2017-01-25 17:20] max-zilla commented on #238
@Zodiase @yanliu-chn I think we could use Shapely to query the .shp by lat/long and get polygons (plots) the coords intersect with in python.

[2017-01-25 17:44] max-zilla commented on #237
This will take a slight tweak to extractor logic, but I don't think it's a big deal:
- right now, it triggers when .ply file is added to clowder and converts it to .las
- as a result, extractor is only aware of one single .ply file at a time (the one that triggered it)

changes:
- instead, we need this to operate on a DATASET level - dataset extractors are aware of all files in a dataset - it'll g

[2017-01-25 18:08] max-zilla commented on #237
https://github.com/terraref/extractors-3dscanner/pull/2/files FYI.

[2017-01-25 18:13] dlebauer commented on #237
alternatively, would it make sense to have a separate extractor that
combines two las files and deletes the originals?

On Wed, Jan 25, 2017 at 12:08 PM Max Burnette <notifications@github.com>
wrote:

[2017-01-25 18:20] max-zilla commented on #237
@dlebauer I considered that, but my argument would be that is unnecessary extra complexity to write a whole separate extractor. We don't currently have PLY->LAS conversions we want to do WITHOUT merge, and it didn't seem like having a _east LAS file while the _west LAS file (& merge) are still pending would be very valuable alone?

Either way we arrive at the same destination, but this way we hand

[2017-01-25 20:43] dlebauer commented on #237
Up to you. I wasn't sure if that would make it easier to do post processing rather than re-generating all of the files. e.g. when we update the in-file metadata we won't want to re-compute (especially if/when we do so for hyperspectral data).

[2017-01-26 02:36] czender commented on #233
I have a workable recipe now. Will re-open later if necessary. Thanks for the help Max and David.

[2017-01-26 02:36] #233 closed

[2017-01-26 02:44] czender commented on #183
The opening message in this issue states "https://terraref.ncsa.illinois.edu/bety/api/beta/sites?key=9999999999999999999999999999999999999999 is where the definitive plot boundaries are stored but we could convert these to..." But this address gives me a "Bad Gateway" issue. Please explain/fix. @hmb1 now that pipeline works with test dest, how about adding a step that calls your scripts and thus a

[2017-01-26 15:04] craig-willis opened #239 "Add support to toolserver to mount data directly"
Task related to https://github.com/terraref/reference-data/issues/78

The original request: "When data are downloaded or loaded into a docker container, remove the folder names that are random strings and have two levels of nesting."  We also discussed simply mounting the data directly into the container instead of retrieving via Clowder API.

This ticket encompasses the following:
* Mount data vi

[2017-01-26 15:27] dlebauer commented on #183
@czender the database is down (but @robkooper is working on it). @robkooper or @gsrohde is the database somewhere we you can hit https://terraref.ncsa.illinois.edu/bety/api/beta/sites?key=9999999999999999999999999999999999999999 and post the output?

[2017-01-26 15:38] dlebauer commented on #183
The database is back up and the sites are
[sites.json.txt](https://github.com/terraref/computing-pipeline/files/732683/sites.json.txt)

The sites of interest have names like "MAC Field Scanner Season 2 Range * Pass *"

[2017-01-26 15:43] max-zilla commented on #85
@ZongyangLi added it in. https://github.com/terraref/extractors-stereo-rgb/pull/5

After talking with @robkooper I think in the short term we aren't going to run this as a Clowder extractor because we still need to implement collection-level extractors.

Instead I've made some slight modifications to your code and deployed it directly on ROGER so I can run it on there across dates. I'm installing

[2017-01-26 15:44] #200 closed

[2017-01-26 15:51] max-zilla commented on #230
This has been progressing. A lot of outputs in April/May and it's starting on early September now.

539 datasets processed.

[2017-01-26 15:53] max-zilla commented on #145
This is redeployed and running now.

[2017-01-26 15:53] #145 closed

[2017-01-26 15:55] max-zilla commented on #207
@solmazhajmohammadi let me know if you want to discuss anything. I am just about ready to re-deploy the flir extractor that populates Level_1 directory and get that running again.

[2017-01-26 15:58] max-zilla commented on #152
@ZongyangLi extractor is ready here:
https://github.com/terraref/extractors-multispectral/tree/master/psii

I ended up combining your two extractors into one: convert 101 files to PNG, then generate image and histogram. Once @jdmaloney has the mount to Roger NFS ready (should be quick) I can get this running.

[2017-01-26 15:58] #152 closed

[2017-01-26 16:02] max-zilla commented on #221
cropCircle and ndviSensor still running, but I updated extractors to be more robust in recognizing when their outputs already exist on Roger. This meant I could start re-deploying extractors without waiting for the raw_data rebuild to be totally done. I've started doing so.

- [ ] stereoTop.demosaic
- [ ] stereoTop.canopycover
- [ ] hyperspectral
- [ ] netcdf

code updated; just need to run on VM

[2017-01-26 16:05] max-zilla commented on #150
Quick update that this extractor is deployed to the VM and dependencies installed - as soon as @jdmaloney has the output directory mounted (so we can write outputs to Level_1 directory properly) I will start running.

[2017-01-26 16:10] dlebauer opened #240 "Subset brightest pixels for PSII images."
Adjust approach to use the brightest pixels and use these to compute Fv/Fm.

This is a suggestion from the group at Rothamstead, but should be discussed first.

### Completion Criteria

* [x] decide how to threshold the images
* [x] implement in the pipeline.

[2017-01-26 16:31] max-zilla commented on #156
@robkooper @dlebauer this extractor raises a question given our discussions yesterday. If we want to store the geostream info by plot as discussed, we'll probably want a "plot' that covers the entire field as well somehow (or a marker to the side of the field) to indicate the met data is not specific to a plot, but instead to the entire location.

I thought about adding the met datapoint to EVERY

[2017-01-26 17:11] rachelshekar commented on #207
@solmazhajmohammadi please share the code with Max

[2017-01-26 17:12] dlebauer commented on #238
BETYdb is back up ... could you see if these plot boundaries will work? https://terraref.ncsa.illinois.edu/bety/api/beta/sites?key=9999999999999999999999999999999999999999

[2017-01-26 17:15] dlebauer commented on #183
@hmb1 here is the appropriate query https://terraref.ncsa.illinois.edu/bety/api/beta/sites?key=9999999999999999999999999999999999999999&limit=none&sitename=~MAC+Field+Scanner+Season+2+Range

@max-zilla

[2017-01-26 17:15] czender commented on #207
@hmb1 this issue is analogous to what we wish to do with the hyperspectral instruement data

[2017-01-26 17:21] rachelshekar commented on #237
Max will keep the East and West files AND create a merged file

[2017-01-26 17:23] solmazhajmohammadi commented on #207
I am writing FLIR mosaic extractor. will finalize this by the end of next week
 still needed to add the search limitation to the code(Issue https://github.com/terraref/computing-pipeline/issues/224), we will discuss this with @max-zilla tomorrow

[2017-01-26 17:25] max-zilla commented on #237
@ZongyangLi @solmazhajmohammadi 3 options:

**we start with**
2 east/west PLY files

**option 1 - 2 PLY, 1 LAS** (this is current version)
keep 2 east/west PLY files
create 1 merged LAS file

**option 2 - 2 PLY, 3 LAS**
keep 2 east/west PLY files
create east/west LAS files
create 1 merged LAS file

**option 3 - 3 PLY, 1 LAS**
keep 2 east/west PLY files
create 1 merged PLY file
create 1 merged LAS

[2017-01-26 17:26] max-zilla commented on #230
@czender @solmazhajmohammadi The location of the hyperspectral outputs:

On Roger:
```/projects/arpae/terraref/sites/ua-mac/Level_1/hyperspectral```

Via Globus:
```ua-mac/Level_1/hyperspectral```

[2017-01-26 17:30] rachelshekar commented on #183
@craig-willis - naming conventions

[2017-01-26 17:31] ZongyangLi commented on #237
@max-zilla option 1 works for me.
It's just @dlebauer comment that 'deletes the originals', and I think it will be better to keep 2 existed ply files.

[2017-01-26 17:37] nfahlgren commented on #240
On the one hand, thresholding these images is easy because fluorescence is very selective for plant vs non-plant. On the other hand, fluorescence will be low for leaves angled away from the camera, so thresholding will have to compromise somewhere.

[2017-01-26 17:41] max-zilla commented on #238
@yanliu-chn the RangePass field of the polygon is what we want - basically unique identifier for the plot.

If the lat/lon is between 2 polygons, the nearest plot should be sufficient.

[2017-01-26 17:51] czender commented on #144
@FlyingWithJerome this means, if I understand correctly, that the y dimension in the images needs a more sophisticated formula for georeferencing. The current formula is described in the "y@algorithm" attribute:

We need to change this formula as @solmazhajmohammadi describes, though only under the conditions she describes. Please change the formula and update the attribute accordingly.

[2017-01-26 17:53] rachelshekar commented on #106
@dlebauer - please define what information you want the report to contain

[2017-01-26 18:54] dlebauer commented on #240
@nfahlgren the idea from Malcolm was to threshold the 'brightest pixels' (which needs to be defined) ...

[2017-01-26 18:55] dlebauer commented on #240
By brightest - I mean those that are oriented perpendicular to the camera, excluding those angled away.

[2017-01-26 19:58] yanliu-chn commented on #238
Done. Please take the python file in /projects/arpae/sw/utilities/ and load it as a module.
<pre>
export PYTHONPATH=`pwd`:$PYTHONPATH
python

</pre>

[2017-01-26 20:01] yanliu-chn commented on #238
[code]

[2017-01-26 20:51] gsrohde commented on #201
@dlebauer I did the updates—all the trait rows I inserted on 2016-11-08 now have cultivar ids.  Note that many site names in column R don't match any existing trait sites.

[2017-01-26 20:56] #201 closed

[2017-01-26 21:00] gsrohde opened #241 "Come up with a good way to populate traits.cultivar_id based on traits.site_id and of ensuring the two are consistent."
We discussed using some sort of trigger function that would be activated whenever a trait is inserted or the site_id or cultivar_id of a trait is updated.

See https://github.com/PecanProject/bety/issues/475.

[2017-01-26 21:31] craig-willis commented on #230
Returning to the earlier discussion about "time" v "Time" v "timestamp"(https://github.com/terraref/computing-pipeline/issues/230#issue-200385894).   It looks like the "time" (or "Time") entry is there when there is position information and "timestamp" is there when "PLC control not available".  The last entry with "Time" (capital T) is in May, and from that point forward it's "time".  I'm wonderi

[2017-01-26 22:31] robkooper commented on #156
I agree, having a plat that is the whole site for the met data should work.

[2017-01-27 04:11] dlebauer commented on #156
we have a plot that is the whole site that we can use.

On Thu, Jan 26, 2017 at 4:31 PM, Rob Kooper <notifications@github.com>
wrote:

[2017-01-27 04:15] dlebauer commented on #201
that is expected result of not having data for the border rows.

[2017-01-27 14:28] max-zilla commented on #238
@yanliu-chn awesome, thanks for the quick turnaround!

[2017-01-27 18:11] dlebauer commented on #187
@rmgarnett FYI

[2017-01-27 18:57] rmgarnett commented on #175
New correlation plot with better ground rejection and discarding bad data:

<img width="491" alt="screen shot 2017-01-27 at 12 56 33" src="https://cloud.githubusercontent.com/assets/583945/22383597/1d0966d4-e490-11e6-8468-72426d90fdb6.png">

Things look a lot nicer.

[2017-01-28 07:57] remotesensinglab commented on #144
I noticed this issues was closed. But would like to know if it was resolved? Can we get georeferenced hyperspectral cubes stitched over the entire field?

[2017-01-31 10:09] TinoDornbusch commented on #240
@nfahlgren  I have two ways in mind:
1. Compute Probabilty density function of intensity in the PS2 image. Use the 99 percentile for measure of brightest Pixel (to avoid outliers). Use a threshold relative to this.
2. Use a local adaptive threshold

[2017-01-31 10:14] TinoDornbusch commented on #216
@nfahlgren  @ZongyangLi   I am in the Loop now and happy to contribute to write the Extractor. Can anyone help me to get Clowder running and briefly Show me how it works?

I would then share this Knowledge with my colleagues.

[2017-01-31 14:09] TinoDornbusch commented on #230
@craig-willis Do you need any correction of time / timestamp / Time in the source Code?

[2017-01-31 14:19] craig-willis opened #242 "Toolserver instability issues"
We've had several reports of the toolserver being unavailable on both Clowder instances. When investigating the reports, the toolserver instances have been running and responsive.

The purpose of this ticket is to track incidents, identify the root cause, and resolve the problem.

The toolserver API is currently open on port 8080, unsecured. The contain logs suggest a fair amount of malicious traf

[2017-01-31 14:27] dlebauer commented on #230
Or maybe @czender can answer.

Most important is that the names and formats don't change unless necessary, and if necessary, with a enough warning (a month) so downstream fixes can be made and tested.

[2017-01-31 14:36] craig-willis commented on #230
@TinoDornbusch
Could you provide an explanation of why these values changed?

I think the "Time" vs "time" change is older -- maybe an earlier correction to the metadata to use lowercase (the last case of "Time" I see is from 5/20/2016).

However, "time" versus "timestamp" seems to still be a problem. Why are there two different labels for the same value? For example:

VNIR/2016-12-06/2016-12-06__

[2017-01-31 15:00] craig-willis commented on #242
The main toolserver instance was affected by the OpenStack outage on Sunday (FS was read-only).  The API was responding but wouldn't create new instances.  I've rebooted the instance.  The toolserver-dev instance was unaffected.

[2017-01-31 15:02] robkooper commented on #242
Can we start with blocking port 8080 to the world and only give access to NCSA.

[2017-01-31 15:03] craig-willis commented on #242
I've added a new security group for the toolservers restricting 8080 to 141.142.208/20 to cover the two Clowder instances.  I also added the Docker ephemeral range. I hate that we open this, but until I get the nginx proxy in place it needs to stay open.

[2017-01-31 15:12] craig-willis opened #243 "Add tools to toolserver"
Tracking ticket for updates to the production toolserver instance.

List of tools to add
* jupyter+plantCV
* rocker/geospatial
* rocker/ropensci (RStudio analysis environment)
* ndslabs/cloud9-pyclowder (Cloud9 devlopment environment for pyClowder)
* ndslabs/jupyterlab-pyclowder (JupyterLab alpha environment)

# Completion criteria
* [x] Confirm list of tools to add
* [x] Update tools on toolserve

[2017-01-31 15:18] craig-willis opened #244 "Deploy Labs Workbench for Phenome2017"
The Phenome2017 workshop will use a dedicated instance of the Labs Workbench environment.   This will need to support ~30 users running rocker/ropensci and rocker/geospatial environments.

### Completion Criteria
* [x] Deploy dedicated cluster in OpenStack/NDS-hackathon space
* [x] Custom service catalog (i.e., git repo) with rocker tools and Jupyter/PlantCV
* [x] DNS entry for www.phenome2017.nds

[2017-01-31 16:38] FlyingWithJerome commented on #230
@craig-willis @TinoDornbusch @dlebauer
By now "time" / "timestamp" / "Time" are all keywords and will be guaranteed to be captured, so a little bit disorder in the metadata won't affect the downstream too much so far. Probably using three keywords bothers upstream people to manage the metadata. But hopefully we will not have more keywords.

[2017-01-31 16:46] craig-willis commented on #244
* http://www.phenome2017.ndslabs.org/ is now responding.
* https://github.com/nds-org/phenome2017-specs currently has service definitions for the rocker/ropensci and geospatial containers

[2017-01-31 16:47] nfahlgren commented on #216
@TinoDornbusch: @ZongyangLi and @max-zilla created a version 1 extractor for PSII that converts the raw images to PNG and generates a histogram of Fv/Fm on the whole field-of-view. The code is here: https://github.com/terraref/extractors-multispectral/tree/master/psii. Right now it doesn't subset the plant pixels or generate any traits (e.g. mean Fv/Fm, etc.) but the plan was to extend the extract

[2017-01-31 17:10] dlebauer commented on #243
Two more to add:

* jupyter+plantCV (This could replace the Basic Jupyter notebook)
* rocker/geospatial

[2017-01-31 18:41] czender commented on #230
@max-zilla How many wallclock days did it take to process the 2016 data? We may want to re-process after we add some new features to the workflow, and correct some metadata issues.
Also, do you know why the output filenames all end with an underscore? I've just added the workflow script invocation as global metadata so we can see if there are clues in that.

[2017-01-31 18:48] dlebauer commented on #230
@FlyingWithJerome can you make sure the metadata generated by the extractor downstream is consistent (e.g. wether time, timestamp or Time is passed, just make it 'time')

If you are working on the metadata now I have a few other suggestions for changes to the metadata, but I will address these in a separate issue. (my assumption is that we can update metadata later without re-running the entire pi

[2017-01-31 18:49] czender commented on #230
@FlyingWithJerome the output file does not contain a "time" variable. Instead it contains "frametime". However, the attributes say "The datestamp for each frame is stored in the *_frameindex.txt file which is archived in the time variable". This is inconsistent. Perhaps I wasn't clear but what I thought I asked is:
1. Rename frametime as time
2. Create a new variable called frametime which is NC_S

[2017-01-31 19:18] dlebauer commented on #230
@czender and @FlyingWithJerome did you ever export nc metadata to json in the extractor? If so, shouldn't it show up here: https://terraref.ncsa.illinois.edu/clowder/files/587e8efe4f0cd67174dd1dcb?dataset=58702ad54f0c0dbad1a81378&space=57e42cd44f0cff4b58dd3eea

[2017-01-31 19:37] czender commented on #230
We never added a separate step and created a separate JSON file. We (@hmb1) added the capability of NCO to do so, however. Would you like a separate file (i.e., output_metadata.json), or a new attribute in the existing file that contains the JSON dump of the metadata?

[2017-01-31 19:40] dlebauer commented on #230
@czender my understanding is that there is metadata at the dataset level and the file level. It would make sense to add this to the file-level metadata, since it applies to the output .nc files but not the input files. so you could create both the output_metadata.json and insert it into the Clowder metadata database (@max-zilla can suggest how to do this)

[2017-01-31 19:56] solmazhajmohammadi commented on #144
@remotesensinglab I dont think that we have stitched hyperspectral data, just because of the file size. But Charlie and Jerome are georefrencing the hyperspectral data
@czender @FlyingWithJerome
Please note that this condition may change, as we are planning to come up with a solution to speed up the hyperspectral scan. Current scan speed is not matching with triggering signal and randomly sampling

[2017-01-31 20:35] craig-willis commented on #242
@robkooper Are both instances monitored now?

[2017-01-31 21:30] dlebauer opened #245 "add extractor for met data from Illinois"
Update the [extractors-meteorological](github.com/terraref/extractors-meteorological] extractor to accept met data collected from the UI Energy Farm.

Data are available on Box here: https://uofi.app.box.com/files/0/f/11140468834/Public and a sample to get started with are here:
[Weather CEN_Avg15_test.txt](https://github.com/terraref/computing-pipeline/files/743283/Weather.CEN_Avg15_test.txt)

Th

[2017-02-01 07:54] dlebauer opened #246 "PSII"

[2017-02-01 14:28] max-zilla commented on #230
@dlebauer the link you posted was run through the netCDF extractor:
[code]
...which extracts the metadata. However, even with the Roger filesystem mounted, it appears our VM with 4GB ram chokes trying to handle the 195GB file (wasn't sure if this would be the case depending on how the header is read). I will talk with @robkooper about possible workarounds for large .nc files, but in a pinch we cou

[2017-02-01 15:32] czender commented on #230
Now that there's a separate JSON file with the metadata, I'm not sure how else to help with this because I don't know how to post it to Clowder. BTW, the command to dump the metadata in JSON format is ncks -m -M --json in.nc. It should only require trivial amounts of RAM. If this is not your experience, let me know.

[2017-02-01 18:03] robkooper commented on #242
which 2 instances?

[2017-02-01 18:04] craig-willis commented on #242
toolserver (141.142.210.18) and toolserver-dev (141.142.210.19)

[2017-02-01 18:46] craig-willis opened #247 "Change Clowder landing page title and description"
The current landing page is not informative for users that are not familiar with Clowder.

For example, the [SEAD](https://sead2.ncsa.illinois.edu/) project simply calls the instance "SEAD"  and provides a description of the service.

I suggest that we consider the following:
* Rename Clowder to "Sensor Data Portal" or similar
* Remove references to Clowder from the landing page
* Provide a brief

[2017-02-01 19:12] dlebauer commented on #247
That sounds great ... In the description, there should also be a description of the tool launcher. Is there a simple way to link to the environment manager from the front page or user home page?

[2017-02-01 20:23] robkooper commented on #242
both monitored

[2017-02-01 20:38] dlebauer commented on #41
@mbomhoff is CoGe ready to support the TERRA pipeline?
@phloz what is the timeline for getting this started ?

[2017-02-01 21:11] mbomhoff commented on #41
@dlebauer I am finishing it up now, should be deployed by end of next week.  For reference, this is the guide I am using:  https://terraref.gitbooks.io/terraref-documentation/content/genomic-data-product.html

[2017-02-01 22:03] craig-willis opened #248 "Solution for creation of new data products that depend on multiple inputs"
As discussed in Spring 2017 planning meeting, the current Clowder extractor architecture does not support the creation of data products that rely on multiple sensor inputs, specifically the sensor fusion output or Roman's machine learning models.

We've discussed a few options:
* Collection-level extractors (create a collection from multiple sensors)
* External process running on Roger (cron task)

[2017-02-01 22:03] rachelshekar opened #249 "List TERRA-REF extractors, algorithms, data that we want/will have for 2017"
- [x] Add to excel spreadsheet
- Name
- Level
- Location
- ...
- [x] Add to powerpoint
- [x] Work with contributor to verify all outputs

References in Google Docs:
* [Overview slide](https://docs.google.com/document/d/1zmpXNcrxUrKsO1YwXZA3VegfI1j0S8bUjTTHimmM7p4/edit)
* [TERRA REF pipeline extractors spreadsheet](https://docs.google.com/spreadsheets/d/1LLiQSFHbEWoo_FkvG1nl-XoSq_lZ_o6VazfxmPfOH9Y/

[2017-02-01 22:20] craig-willis opened #250 "Toolserver v2 and cloud development environment support"
Toolserver v2 encompasses the following:
* Security/authentication
* Scalability
* Stability
* Mounting data locally

Cloud development environment support encompasses:
* VM(s) to support development
* Process to containerize VM dependencies for use with the toolserver
* Documentation

[2017-02-01 22:47] Paheding commented on #150
@max-zilla I installed pyClowder2 for extractor development, and ran the example_extractor named "wordcount.py".  It gives some error as follows:
![image](https://cloud.githubusercontent.com/assets/24866799/22529534/67b9b6f0-e89d-11e6-8d35-fc864165a6a6.png)
It seems there is a problem about connection. Any advice on this? Thanks.

[2017-02-02 00:15] robkooper commented on #150
this looks like rabbitmq is not up and running.

Did you install the docker images for rabbitmq and/or clowder?

[2017-02-02 14:42] craig-willis commented on #247
I'll need input from @max-zilla or @robkooper  on this one. We can certainly link to the environment manager from the description, but I'm not sure how difficult it would be to add it elsewhere in Clowder.  I'm also not sure of the steps or effort required to customize Clowder as I've suggested above.

[2017-02-02 14:48] robkooper commented on #247
@craig-willis made you admin, you can change some aspects right now.

[2017-02-02 15:07] robkooper commented on #247
If there is a writeup somewhere we can add a link to the Help menu as well (I will need to do that from the command line).

[2017-02-02 16:09] max-zilla commented on #238
@yanliu-chn trying to deploy this this morning - ran into a snag because python claims it cannot open the shapefile:

[code]

...installing GDAL from scratch on the VM to see if I can resolve this, but might need your help if not.

[2017-02-02 16:13] max-zilla opened #251 "Permissions on Danforth Globus endpoint"
@nfahlgren when I connect to the Danforth Center Biomatics Globus endpoint with my mburnet2 account, I can see the sorghum_pilot_dataset folder listed but if I try to browse into it:
[code]

I need to get the SnapshotInfo.csv files with plant barcodes so I can rebuild the Clowder collection with proper metadata (danforth pipeline parses barcode from it into several traits that extractor requires t

[2017-02-02 16:14] max-zilla commented on #169
I have finished initial write of those code - scope increased slightly so we could pump data to InfluxDB instance for time series charts. Setting aside for today to focus on geodashboard & danforth data, but will pick back up ASAP.

[2017-02-02 16:23] max-zilla commented on #230
@czender just want to clarify:
- hyperspectral extractor generates .nc file.
- we have a netcdf extractor that will extract .nc netadata into JSON/XML/CDF formats. it places outputs in same directory as .nc file

Here is the salient portion of the JSON code:
[code]

...i think only modification is to update netCDF extractor so that the JSON file here is opened and parsed and added to Clowder as me

[2017-02-02 16:29] yanliu-chn commented on #238
it needs gdal 2.0+ since gdal changed the programming api significantly from 2.0. OpenEx is 2.0 stuff.

[2017-02-02 16:46] dlebauer commented on #155
@robkooper and @jterstriep could you please provide an ETA, convert this to an epic and create smaller issues if necessary?

[2017-02-02 16:47] dlebauer opened #252 "Add extractor for data from EnvironmentLogger --> geostreams database"
* The data are transferred outside the core lemnatec pipeline -> JD, where are these?
* Otherwise the conversion should be similar.

[2017-02-02 16:47] Paheding commented on #150
I installed docker and pyClowder 2. Not sure about docker images, is there
any document that I can look a look for installing the docker images?
Thanks.

--------------------
*Sidike Paheding, Ph.D.*
Postdoctoral Research Associate
Center for Sustainability
Saint Louis University
http://www.remotesensinglab.org/paheding.html

On Wed, Feb 1, 2017 at 6:15 PM, Rob Kooper <notifications@github.com> wr

[2017-02-02 16:48] nfahlgren commented on #251
@max-zilla sorry about that, I locked down filesystem access to home directories and a few explicitly shared paths. I added the sorghum_pilot_dataset path to the whitelist, so you should have access now.

[2017-02-02 16:48] dlebauer opened #253 "meteorological"

[2017-02-02 16:48] #253 closed

[2017-02-02 16:48] dlebauer opened #254 "meteorologica"

[2017-02-02 16:49] #254 closed

[2017-02-02 16:50] max-zilla commented on #238
@yanliu-chn got it installed and working now. Also got thrown off because your script is called plotid_by_latlon but the plotQuery() method requires long, lat order :-)

Now I'm dealing with:
[code]

Not sure where it's hitting this yet.

[2017-02-02 16:51] robkooper commented on #155
Thredds is running, not configured yet
https://terraref.ncsa.illinois.edu/thredds/

[2017-02-02 16:54] yanliu-chn commented on #238
right. :) people always say latlon, not lonlat. but to make coding logic clear, we always do x and y, which is lon, lat.

the command line takes lon and lat. so if you can serve the point in that order, it should be fine.

[2017-02-02 16:55] dlebauer commented on #173
@Zodiase what is the status of this issue? I think we discussed the solution in Dec.

[2017-02-02 16:56] craig-willis commented on #247
@rachelshekar Do you want to weigh in on what to call this and what should be in the description?

[2017-02-02 17:04] max-zilla commented on #251
Bingo. Thanks @nfahlgren

[2017-02-02 17:04] #251 closed

[2017-02-02 17:08] rachelshekar commented on #144
@solmazhajmohammadi - we need a calculation to convert output file to new speeds.

[2017-02-02 17:10] Zodiase commented on #173
@dlebauer Yes and at the end of the discussion we agreed that if I could get the JSON data into R, it would take very little time for you to come up with the conversion algorithm (to netCDF). And I think [my comment above](https://github.com/terraref/computing-pipeline/issues/173#issuecomment-267383467) shows how to get the data in JSON, and I pointed a R library that does both downloading and par

[2017-02-02 17:13] Zodiase commented on #252
@dlebauer Who would be the person that knows where the data are and what is the schema/format of them?

[2017-02-02 17:15] rachelshekar commented on #54
Steve Kresovich has genomic and phenotypic data for the BAP.  This can be transferred as hapmap file and gbs data.  We have sequencing data for this now too.  @nshakoor will follow up with this.

[2017-02-02 17:40] smarshall-bmr commented on #128
@dlebauer I have uploaded the csv at https://drive.google.com/file/d/0BzWFmpKimq_6QWVmLXN0WVZBeFE/view?usp=sharing

[2017-02-02 17:44] jdmaloney commented on #128
@smarshall-bmr Sorry this issue slipped by me, we can get this one from Google Drive.  Future logs can go in: /gantry_data/LemnaTec/gantry_log on the gantry-cache machine.  Does that work for you?

[2017-02-02 17:44] rachelshekar commented on #183
Next, compute the means of the indices and the calculate the ratios.

[2017-02-02 17:52] rachelshekar commented on #210
@robkooper and @max-zilla - should this go into geostreams?  @ZongyangLi -what will be visualized?

[2017-02-02 17:56] rachelshekar opened #255 "What data goes to geodashboard, clowder, betydb? put this into extractors"
@robkooper and @max-zilla add info here

[2017-02-02 17:57] czender commented on #230
@dlebauer above asked me to create a JSON file so I added this creation to the HS workflow. @max-zilla says that step was already implemented (though not working at the time) by the "netCDF extractor" so now there are two JSON files. I will turn-off the JSON generation in the HS workflow. @max-zilla is the expert at putting things into clowder, so I suggest he do it.  Too many cooks :)

[2017-02-02 17:58] max-zilla commented on #255
this should be defined for each extractor - inputs/ouputs and where metadata/outputs are written. all feeds into overall picture of interoperability of extractors and algorithms.

[2017-02-02 18:29] czender commented on #183
I think @rachelshekar intended to say compute the means of the reflectances then calculate the ratios using the mean reflectances. Soon we use subsampled data to avoid soil, glare, but for now just use the entire image. @hmb1, is this clear?

[2017-02-02 18:31] hmb1 commented on #183
HI Charlie thanks for that clarification - that is the mean over the whole plot right ?

[2017-02-02 18:32] smarshall-bmr commented on #128
@jdmaloney That should work well. I'm anticipating that the system will spit out a new log file soon given the first one covers about 4 months.

[2017-02-02 18:47] czender commented on #183
Yes, implementation can be as simple as this:

NDVI= ( R900 -R680) / (R900+R680 );
NDVI@long_name="Normalized Difference Vegetation Index";
NDVI_avg= ( R900.avg() -R680.avg()) / (R900.avg()+R680.avg() );
NDVI_avg@long_name="Normalized Difference Vegetation Index";

Soon we will use where() clauses to exclude unwanted points, but for now the above should be OK. Obviously it does not make a mathemat

[2017-02-02 19:30] jdmaloney commented on #252
@Zodiase If you have access to Roger or the Terraref Globus Endpoint, the files are located at:
/gpfs/largeblockFS/projects/arpae/terraref/sites/ua-mac/raw_data/weather --> from Roger perspective
or
/gpfs/largeblockFS/projects/arpae/terraref/sites/ua-mac/raw_data/weather --> Globus perspective

[2017-02-02 19:30] dlebauer commented on #183
@czender by

I assume this statement should be qualified by 'in order to make the results comparable with lower resolution sensor data'? Is this correct? see https://github.com/terraref/reference-data/issues/86

[2017-02-02 19:47] czender commented on #208
@solmazhajmohammadi
Also tagging @FlyingWithJerome and @hmb1 and @dlebauer
Please examine the file:
`/projects/arpae/terraref/sites/ua-mac/Level_1/hyperspectral/2016-11-14/2016-11-14__12-02-00-886/3bc4bd12-ff75-4cac-bb25-ac1f444c0423_.nc
`
The variables containing the minimum and maximum reflectances for all
wavelengths are rfl_img_max and rfl_img_min. Reflectance values range
up to the high 20's.

[2017-02-02 20:04] dlebauer commented on #208
If you are asking whether values > 1 for reflectance at 664 nm is sensible, perhaps @remotesensinglab can help. I do know that the chlorophyll a fluoresces so the signal will contain both reflected energy from 664 and energy absorbed from other bands and re-emitted in 664. [This review](https://academic.oup.com/jxb/article/51/345/659/652534/Chlorophyll-fluorescence-a-practical-guide#11239099) sugg

[2017-02-02 20:30] czender commented on #183
The method I recommend implies energy conservation and, yes, scale invariance of the result. Avoid averaging ratios if possible.

[2017-02-02 20:53] max-zilla commented on #238
https://terraref.ncsa.illinois.edu/clowder/geostreams#

[2017-02-02 20:55] czender commented on #208
SIF is much smaller than the biases between our reflectances and reality. I don't think SIF significantly affects the representativeness of 664nm as an indicator of the calibration quality.
But it's fine if someone wants to use a different wavelength for comparison.

[2017-02-03 00:50] dlebauer commented on #173
@Zodiase got it. I think this is correct. But a few things before getting started

1. The test data / example api query you posted above no longer works (because I think the database was rebuilt).
2. The first step will be to find the sensor_id given the sitename (sensor name?) can you post the example queries for this?

[2017-02-03 03:02] dlebauer commented on #208
Yep I was wrong. Here is a good reference https://files.gitter.im/PecanProject/pecan/PEcAn_RTM/oyQf/Campbell_Middleton_Corp_kim_2008_STE.pdf

[2017-02-03 13:37] dlebauer commented on #144
Would using position + velocity * time in the metadata provide sufficient accuracy?

[2017-02-03 14:20] TinoDornbusch commented on #216
@nfahlgren @ZongyangLi @max-zilla  Thanks, I will be in Maricopa during the next two weeks and plan to work on the PSII analysis. lets discuss some "trial experiments". I had treatment with PS2 blocking herbicide in mind and to monitor the PS2 efficiency over time.

[2017-02-03 14:22] TinoDornbusch commented on #216
@smarshall-bmr  Stuart you think it might be possible to get some herbicide containing DCMU. In Europe this is not available anymore.

https://en.wikipedia.org/wiki/DCMU

[2017-02-03 14:26] dlebauer commented on #155
Awesome! If it's not a (big) distraction could get up a /samples/ folder
with a VNIR dataset that I could demo next week?
On Thu, Feb 2, 2017 at 10:51 AM Rob Kooper <notifications@github.com> wrote:

[2017-02-03 15:39] robkooper commented on #255
I think it be good to have a document somewhere where we list all extractors, with inputs as well as outputs. Some of this information might be in extractor_info.json.

[2017-02-03 15:40] robkooper commented on #255
As stated on Thursday, we should not be scared about duplicating information in different places if that makes it easier for a user to find information.

[2017-02-03 15:42] rachelshekar commented on #248
@dlebauer - should the the sensor fusion meeting be separate from the machine learning model meeting?

Who is doing sensor fusion besides Solmaz?

[2017-02-03 15:43] max-zilla commented on #255
@robkooper that's the document I intend to create as a result of this. Want to build on: https://docs.google.com/spreadsheets/d/1LLiQSFHbEWoo_FkvG1nl-XoSq_lZ_o6VazfxmPfOH9Y/edit#gid=0

[2017-02-03 16:00] craig-willis commented on #244
Added Jupyter/PlantCV container. The container includes the PlantCV github repo under /plantcv including sample data. I've attached a very simple Jupyter notebook based on the PlantCV documentation.

[PlantCV.ipynb.zip](https://github.com/terraref/computing-pipeline/files/750925/PlantCV.ipynb.zip)

[2017-02-03 16:32] czender commented on #208
This issue should remain open pending the resolution of the VNIR calibration exercise proposed four items above.

[2017-02-03 16:33] dlebauer commented on #208
Sorry I didn't mean to close

[2017-02-03 16:34] FlyingWithJerome commented on #144
@dlebauer @czender @solmazhajmohammadi
I'm thinking position + velocity * time would be the basic of the new formula, but Solmaz also mentioned the frame rate is now larger than 25ms which causes downsampling. Probably we need more adjustments to the basic formula (twice the y scanline/frame?) as @czender mentioned above.

[2017-02-03 16:47] czender commented on #144
@FlyingWithJerome please add arrays latitude(x) and longitude(y) using either pixel-based or velocity-based formulae, whichever you think is better, and we'll see how well it works. Neglect Earth's curvature, assume it's planar geometry. We should at some point discuss re-doing the coordinate system so it is based on a lower left (rather than lower right) corner reference and has longitude(x) and

[2017-02-03 17:08] FlyingWithJerome commented on #144
@czender
Will do. Planar latitude and longitude will probably be on in this weekend.

[2017-02-03 18:38] nfahlgren commented on #244
Not sure if any of this would be useful: https://github.com/danforthcenter/plantcv-workshop. We have some PlantCV Jupyter notebooks and some R Jupyter notebooks we used for a workshop.

[2017-02-03 18:56] Zodiase commented on #173
@dlebauer

To get the sensor ID from a sensor name, you could use something like: `https://terraref.ncsa.illinois.edu/clowder-dev/api/geostreams/sensors?sensor_name=UAMAC`, the returned JSON should always be an array/list of 0 or more matched items. Each item should have an `id` property and a `name` property. When working on the Meteorological extractor I remember @max-zilla saying that the searc

[2017-02-03 20:41] remotesensinglab commented on #208
All,
I looked at the image and spectra. I agree that it is not an issue related to SIF. SIF emission peaks are at 687-689 nm and 740 nm. Reflectances at these wavelengths should not be over 1 as well.  I also looked at another image (8afea01b-03de-4d80-a3d9-49afec5dfa26_.nc_588c96f44f0c06726ada5059), and think that there is overexposure on this image which is evident at 575 nm.
![119spectra_plot j

[2017-02-03 20:43] remotesensinglab commented on #208
I will look other images and see if I find other indicators of the issue. I tend to agree Solmaz' assessment that these areas over 1 might be coming from the white reference panels.

[2017-02-03 21:28] solmazhajmohammadi commented on #144
@FlyingWithJerome **position + velocity * time** is when system is running in free-run mode.
 In external triggering mode, system is triggered in every 0.9852 mm(in default speed = 0.02m/s).
If the system is running twice of this speed with more than 25ms frame rate, the data is downsampled(explained above).

[2017-02-03 21:43] craig-willis opened #256 "Dataset URL sent to tool launcher missing protocol"
The dataset URL sent to the tool launcher is missing the protocol, resulting in failed download.   This may be a Clowder or Nginx configuration problem?

What I see in the tool launcher:
[code]

[ToolManager line 57](https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/browse/app/controllers/ToolManager.scala#57)
[code]

[ToolManagerPlugin line 214](https://opensource.ncsa.il

[2017-02-03 21:55] craig-willis commented on #244
Thanks, @nfahlgren. I'll leave it to David to decide.

Curious -- do you already have Docker images with the Jupyter/R + PlantCV dependencies installed?

[2017-02-03 22:05] nfahlgren commented on #244
@craig-willis I don't, but I should learn how to set up one up one of these days...

[2017-02-03 22:36] craig-willis commented on #244
@nfahlgren Well, we have one for you now:

https://hub.docker.com/r/terraref/jupyter-plantcv/
https://github.com/terraref/toolserver-dockerfiles/tree/master/plantcv

I just launched the container, opened a terminal in Jupyter and cloned your workshop tutorial repo and the notebooks worked like a charm!

If you're ever interested in taking ownership of the Dockerfile and image, it's yours for the t

[2017-02-03 22:38] nfahlgren commented on #244
@craig-willis nice, thanks!

[2017-02-04 02:54] robkooper commented on #256
use https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/browse/app/controllers/Utils.scala#17

[2017-02-04 05:39] harshagrawal28 commented on #245
I have modified the extractors-meteorological to process data from UI energy farm but I don't know how the extractor can be triggered by data that appears on box.

 I tried testing the extractor on my local instance of Clowder but I was unable to upload the metadata.  It works when I try the wordcount extractor but not using meteorological. This content is new to me so I would need some help on th

[2017-02-05 23:27] dlebauer opened #257 "Updates to standardize LAS format / metadata"
LAS files should follow OGC las 1.4 standard
* specification: https://www.asprs.org/committee-general/laser-las-file-format-exchange-activities.html
* relevant article https://rapidlasso.com/2016/01/10/create-proper-las-1-4-files-with-lastools-for-free/
* Follow a similar convention to meteorology and hyperspectral use of CF naming conventions where applicable and consistent w/ standard
* also use

[2017-02-06 19:08] solmazhajmohammadi commented on #208
@czender The data is collected with 45ms exposure time. With this exposure time, spectralon target is saturated. Please check a dataset that has been collected with 25 or 20ms exposure time.

[2017-02-06 19:57] remotesensinglab commented on #208
That is a good point Solmaz. The data collected with 45ms exposure time may be overexposed, which may be why the reflectance is higher than 1 for some bright targets.

[2017-02-06 20:33] czender commented on #208
@solmazhajmohammadi @dlebauer as you can see with
`ncks -v xps_img_wht calibration_vnir_45ms.nc`
the maximum count measured is ~56000 out of ~64000 possible counts.
1. So why do you say 45ms saturates the spectralon target?
2. If you think 45ms saturates the target, why were images as recently as December being exposed with that duration? We need to never oversaturate the exposure.

[2017-02-06 20:44] dlebauer commented on #245
Please follow up with @Zodiase;  @max-zilla may also have some suggestions-

For the data on Box, I imagine the workflow could go something like:

* set up daily cron job to
  * download files from Box
  * diff oldfile newfile > maricopa-met-YYYYMMDD.csv
  * triggered by maricopa-met-YYYYMMDD.csv

But I am less familiar with the extractor configuration.

[2017-02-06 21:41] solmazhajmohammadi commented on #208
1. I see the maximum count for white target is 57351 with 45ms exposure time. However if you plot the data in 3D, you will see a clear cut which shows that  data is saturated. (I'll look into it to see why the maximum value in not 2^16. )
Anyway, the max in white target and sample data both is 57351. So you may see some values >1 when you are using the average value over the white reference.

2.

[2017-02-06 23:35] nfahlgren opened #258 "Remove existing genomic data"
The current genomic raw data in `/hudson-alpha/raw_data/2016-03-21/` is somewhat derived (it was converted from bzip2 to gzip). I would like to upload the original bzip2 files as @phloz's pipeline now takes bzip2. Could we remove the above folder since I will replace it?

It's not blocking anything as is, so it's low priority.

[2017-02-06 23:39] dlebauer commented on #258
Please go ahead and delete it if you have permissions. If not, let me know.

On Mon, Feb 6, 2017 at 5:35 PM Noah Fahlgren <notifications@github.com>
wrote:

[2017-02-06 23:43] nfahlgren commented on #258
@dlebauer ah I see, I can request deletes from Globus. Not sure if you or someone approved it, but it worked. Thanks!

[2017-02-06 23:43] #258 closed

[2017-02-06 23:47] dlebauer commented on #258
sorry - I thought you were talking about cyverse ... I love to rm -rf
everything!

On Mon, Feb 6, 2017 at 5:43 PM Noah Fahlgren <notifications@github.com>
wrote:

[2017-02-06 23:48] nfahlgren commented on #258
Who doesn't :)

Noah
--
Director, Bioinformatics Core Facility
Donald Danforth Plant Science Center
975 North Warson Road
St. Louis, MO 63132
Email: nfahlgren@danforthcenter.org
Phone: 314-587-1676

On Mon, Feb 6, 2017 at 5:47 PM, David LeBauer <notifications@github.com>
wrote:

[2017-02-07 02:23] remotesensinglab commented on #208
@czender,
I recall we evaluated the data with exposure time back in November or early December, and found that there are some level of saturation when exposure time is over 25ms. On the figure above, I suspect that the significant drop of reflectance at 575 nm is due to overexposure of this data.

[2017-02-07 16:37] Paheding commented on #150
@robkooper Yes, I installed them. Now when I ran the extractor named: wordcount.py, the extractor reports "Starting to listen for messages", so it seems working now. Thanks.

[2017-02-07 17:35] robkooper commented on #150
if you upload a text image, does it work? On a mac you need to upload to http://youripaddresss:9000 and not to http://localhost:9000/

[2017-02-07 21:17] Paheding commented on #150
@robkooper Not yet, could you provide steps to upload a text image? Thanks.

[2017-02-08 17:02] solmazhajmohammadi commented on #210
@rmgarnett @ZongyangLi
PointCloud data from 2016/08/07 to 2016/09/05 was collected with a wrong setting. There is no way to fix this dataset. Maybe we can delete them or mark them to exclude from the pipeline.
@dlebauer @max-zilla any idea?

[2017-02-09 15:55] max-zilla commented on #238
This is completed, closing this for now.

Ultimately this code has a lot of logic we'll want in other extractors for matching (lat,lon) to plot and posting to geostreams - I've added key portions to met and canopycover extractors but will keep considering how to generalize.

[2017-02-09 15:55] #238 closed

[2017-02-09 15:56] max-zilla commented on #156
This is complete and running with geostream component & 5-minute aggregations.

We can use #173 to discuss the netCDF portion.

[2017-02-09 15:56] #156 closed

[2017-02-09 15:57] max-zilla commented on #169
This is done for both Roger and Gantry, and we are testing/deploying new pipeline today.

[2017-02-09 15:57] #169 closed

[2017-02-09 17:19] rachelshekar commented on #256
Craig to do a short-term fix.  Rob/Max will work on a long-term solution.

[2017-02-09 17:34] rachelshekar commented on #247
@craig-willis Let's change this to sensor data portal for now and revisit later.

[2017-02-09 17:38] dlebauer commented on #210
Please don't remove them unless it is clear that they contain no useful
information - i.e. all points have been randomly redistributed. We can keep
them but exclude them from our workflow (even if the information is not
useful within the current scope of the project, others may find it useful).

One possibility:
* Describe the problem in a file called 'readme-error' and put it in every
folder with

[2017-02-09 18:12] rmgarnett commented on #210
I think that's reasonable.  Unfortunately, I am not sure these points can be used to reliably estimate height, but they could be useful for some other purpose.

I could try to learn a separate model for this range and for the days afterwards, but I hesitate to do so.

[2017-02-09 21:25] Zodiase commented on #252
@dlebauer @jdmaloney I roughly scanned the data files and noticed an inconsistency in file size/data point count and in some cases the naming conventions.

For example, `2017-01-26/WeatherStation_SecData_2017_01_26_1802.dat` is more than 10 times the size of `2017-01-27/WeatherStation_SecData_2017_01_27_0915.dat`. And while most folders contain files named `WeatherStation_SecData_*_*_*_*.dat`, som

[2017-02-09 21:31] jdmaloney commented on #252
@Zodiase I think there was a change in naming format there.  2016_08_09 was early on in the data collection and I think its naming scheme should be ignored, it's only for those first few days (new schema starts at 2016_08_10) and has been consistent since then.  In terms of the size variance I am not sure.  I'm just grabbing the files off the Network Storage device they have down at Maricopa, how

[2017-02-09 21:32] dlebauer commented on #252
@Andrade-Pedro can you comment on this? I believe this is the second met station you set up. Also can you give approximate coordinates

[2017-02-09 21:33] dlebauer commented on #252
@Andrade-Pedro I think JD answered but coordinates would be nice to have

[2017-02-12 14:56] Andrade-Pedro commented on #252
Ground weather station coordinates: 33.074457 N, 111.975163 W

[2017-02-13 13:36] hmb1 commented on #183
Hi Charlie,
 Am looking at the performance of   hyperspectral_calibration.nco   do you really need both 'xps_img'  and 'rfl_img' in the final NetCDF file ?

if not we could modify the formula to:
``xps_img= (rfl_rfr_fct/(xps_img_wht-xps_img_drk))*(xps_img-xps_img_drk);

This would save the cost of defining a huge var in ouptut ?

....Henry

[2017-02-13 18:26] czender commented on #183
We need rfl_img in the output, not necessarily xps_img which is de-interleaved version of the contents of the _raw (.bil) file. Have kept both so all information would be in one file. @dlebauer would you prefer all HS info in one file or can we eliminate xps_img (and shrink output files by ~30%)?

[2017-02-15 23:27] dlebauer commented on #183
I'll defer to @remotesensinglab

If xps_img can be recovered from reflectance then perhaps there is no need
for it to be in the level 1 product. Perhaps it could be added as a
separate level 0 or level 1 product.
On Mon, Feb 13, 2017 at 11:26 AM Charlie Zender <notifications@github.com>
wrote:

[2017-02-16 15:27] remotesensinglab commented on #183
I agree. No need to keep xps_img.

[2017-02-16 17:15] Zodiase commented on #252
@jdmaloney Wait I just noticed the data files you pointed to me has already been handled by the first Met extractor in #156. The path you gave me is exactly the same as the one in this comment: https://github.com/terraref/computing-pipeline/issues/156#issuecomment-248984197

[2017-02-16 17:26] craig-willis commented on #247
This was done last week, closing.

[2017-02-16 17:26] #247 closed

[2017-02-16 17:26] max-zilla commented on #252
@jdmaloney what data is David talking about "transferred outside core lemnatec pipeline"? We move the weather station data via pipeline. Does he mean the lightning data that we're doing the append-to-single-file stuff?

[2017-02-16 18:29] dlebauer commented on #252
Max there is the Environmental Logger and the Weather Station. There was
some confusion initially - Xingchen had already processed the weather
station data and will now work on the Environmental Logger data.

On Thu, Feb 16, 2017 at 11:26 AM Max Burnette <notifications@github.com>
wrote:

[2017-02-16 18:38] jdmaloney commented on #252
@Zodiase Here is the path to the other data:

/gpfs/largeblockFS/projects/arpae/terraref/sites/ua-mac/raw_data/EnvironmentLogger

[2017-02-17 00:39] dlebauer commented on #208
summary of discussion from today, for discussion next Tuesday:

1. [ ] Stop collecting data w/ exposure > 25ms;
    * [ ] remove overexposed images from 2016;
2. [ ] Get a new white reflectance standard ordered / installed (20-40%) to increase dynamic range of exposures. (currently calibrated to 95%)
    * we currently have 4%, 50%
3. [ ] Do calibration for multiple zenith angles;
   * currently o

[2017-02-17 15:50] FlyingWithJerome commented on #208
@dlebauer @czender
I would like to know if the data from Environmental Sensor is available (I know it had been deployed). If we have the real-time calibration data things would be much easier.

If calibration for multiple zenith angles is for compensating the SZA difference in one single scanline, won't 10 degrees be too big?

For the dynamic range of exposures, won't we need the data between 95%

[2017-02-17 16:33] czender commented on #208
@FlyingWithJerome and @hmb1 there will be a HS calibration telecon tues. noon pacific time at https://meet.illinois.edu/shekar/SN3T1Z79
please join if possible

on roger environmental sensor extractor places data at
/projects/arpae/terraref/sites/ua-mac/Level_1/EnvironmentLogger/

@dlebauer please point to this issue the person interested in calibration on yesterday's phone conf., and who's name s

[2017-02-17 16:37] dlebauer commented on #208
Sorry I thought I had properly introduced you to Wasit / @remotesensinglab

[2017-02-20 18:59] max-zilla commented on #230
@czender @dlebauer I updated the netCDF metadata extractor so that, in addition to CDL/XML/JSON files that are created and uploaded, the JSON file contents are added to .NC file as metadata.

[2017-02-21 15:57] nshakoor opened #260 "Create a dedicated test location for all sensors"
From email conversations with @solmazhajmohammadi and @rmgarnett, can we dedicate part of the field (5-6 meters) for regular test routines for the 3D scanner, hyperspectral, and other sensors? We can put the spectralon target as well as multiple targets with different known heights in the field and scan the area every day or week. We should have a separate pipeline running this dataset to make sur

[2017-02-21 16:24] dlebauer commented on #41
Thanks Matt, is it ready now? Can we start sending our jobs?

[2017-02-21 21:39] dlebauer opened #261 "Summarize trait data from current season"
Create a web page that summarizes:

* current experiments: records in experiments table for current season (or most recent season)
  * select records in experiments table w/ no end_date, or if none exist the most recent end_date
* records from managements table that occurred during currently running experiments
   * select all records from managements where date between experiments.start_date and

[2017-02-21 21:41] dlebauer commented on #261
@nickheyek

[2017-02-22 00:17] smarshall-bmr commented on #260
@nshakoor @solmazhajmohammadi @rmgarnett @remotesensinglab I should be able to set aside some area at the north end of the field to set up targets and reimplement the 6m daily scan. Do you have any specific scans you would like? @dlebauer would you have any recommendations for setup of the script so it runs through a separate pipeline? It would be great if this separate pipeline could be run local

[2017-02-22 16:32] rmgarnett commented on #260
Indeed there should be a larger discussion here.  Ideally we could have a quick, lightweight sanity check for the entire sensor suite that could be completely automated while taking only a small fraction of the field and the scanner time.

[2017-02-22 16:42] gsrohde opened #262 "Set up a read-only database account on the terraref server."
On the database server for http://terraref.ncsa.illinois.edu/bety:

* [x] Create a "read-only" role (named "viewer").
* [x] Give Rob the password for user "viewer".
* [x] Give user "viewer" SELECT access to all public tables in the bety database.
* ~~Remove trust authentication lines from `pg_hba.conf` and ensure scripts that rely on this authentication (if any) can still run by providing an alter

[2017-02-22 18:08] mbomhoff commented on #41
The functionality described in the guide I referenced above is available for use.  I have been working on some additions (incl. Variant Recalibration) based on a conversation with @phloz that are still under development.

[2017-02-22 21:07] Zodiase commented on #252
# Source File Schema

## Document (with example values)

[code]

## SensorReading

[code]

[2017-02-22 21:20] Zodiase commented on #252
# Conversion

[code]

[2017-02-22 21:24] dlebauer opened #263 "Collect diurnal hyperspectral images for calibration"
As discussed with @remotesensinglab, @czender, @smarshall-bmr

We need to image the spectralon targets every 15 min throughout the day,

The first priority is a clear day
The second priority is to collect images on cloudy days

These datasets will be used in the hyperspectral calibration.

### Details

* Scan spectralon target of varying reflectances every 15 min over the course of a clear day
* I

[2017-02-22 21:27] Zodiase commented on #252
@dlebauer I've listed the conversion I'm sure about. There are a couple other fields I'm not sure about. Could you provide a mapping like you did in https://github.com/terraref/computing-pipeline/issues/156#issuecomment-252131358?

[2017-02-22 22:16] dlebauer commented on #252
@Zodiase

* sunDirection not sure @czender?
* for wind velocity --> if you are converting to north and east vectors make sure to use appropriate trigonometry
* sensor par --> surface_downwelling_photosynthetic_photon_flux_in_air (mol m-2 s-1)
* sensor co2 --> mole_fraction_of_carbon_dioxide_in_air (umol/mol)
  * the units of this can be 'umol / mol' or 'ppm'

For the spectrometer fields, these wil

[2017-02-22 22:20] dlebauer commented on #252
@czender and @FlyingWithJerome where did we leave off with the creation of the Environmental logger files as netcdf? Should we leave those in netcdf files? If so, is there an issue (or should I create a new one) to make those as CF standard names?

[2017-02-22 23:10] FlyingWithJerome commented on #252
@dlebauer I doubled checked the [Environmental Logger Script](../blob/master/scripts/environmental_logger/environmental_logger_json2netcdf.py) in the computing pipeline, and the answer to the naming issue is yes. There is a TODO token in the line 252 for standard names.

@Zodiase @czender
If you would like to know how to convert the units, you may check the [Environmental Logger Script](../blob/ma

[2017-02-23 06:03] gsrohde commented on #262
I ran these commands:
[code]
As a test I added user jefft:
[code]

The `pg_hba.conf` file is controlled by `puppet` and is not supposed to be edited directly (it says).   There are some changes that should be made if we don't want all machine users to have full access to the bety database.

If an ident server is running on bety6, we could use _Ident_ authentication for all machine users, possibly

[2017-02-23 14:50] max-zilla commented on #105
This should be fixed for free when I move to the new Python SDK that Globus has put out, rather than the old GlobusOnline library. Hope to do that in next week or so.

[2017-02-23 14:52] max-zilla commented on #230
@czender are there sufficient updates to the workflow that we should re-run extractor on the 2016 data, or are more updates incoming?

[2017-02-23 15:01] max-zilla commented on #255
Just added a 2nd sheet to that Google Doc with input/output columns and some restructuring.

Advancing this alongside refactoring PyClowder2 geostreams code in extractors to avoid code duplication.

[2017-02-23 16:18] #244 closed

[2017-02-23 16:33] rachelshekar commented on #260
FYI @max-zilla

[2017-02-23 16:36] rachelshekar commented on #246
@dlebauer - please add content above

[2017-02-23 16:38] dlebauer commented on #246
I accidentally created this in the zenhub create issue interface that looked like a search interface

[2017-02-23 16:38] #246 closed

[2017-02-23 16:40] rachelshekar commented on #241
@gsrohde - what is the action here?  Or is it a discussion?

[2017-02-23 16:42] rachelshekar commented on #237
@ZongyangLi and @solmazhajmohammadi can this issue be closed?

[2017-02-23 16:44] czender commented on #252
@Zodiase sunDirection is computed (not measured) from time/location. it is not zenith angle. i'm not sure exactly what it is yet. the sensor documentation does not describe it. and the angle takes values that exceed 90 degrees during daytime, so it is neither a zenith angle nor an altitude. please leave it as sunDirection until we understand it. @solmazhajmohammadi or @TinoDornbusch  do you know h

[2017-02-23 16:44] dlebauer commented on #241
Action is writing and implementing the trigger function
On Thu, Feb 23, 2017 at 10:40 AM Rachel Shekar <notifications@github.com>
wrote:

[2017-02-23 16:45] dlebauer commented on #237
Last I checked these are still generated separately
On Thu, Feb 23, 2017 at 10:42 AM Rachel Shekar <notifications@github.com>
wrote:

[2017-02-23 16:49] max-zilla commented on #237
I have added code to accomplish this, but haven't yet back-processed old data to generate merged files. It should occur on new files, however - will close this and include a note to reprocess in #221.

[2017-02-23 16:49] #237 closed

[2017-02-23 16:50] max-zilla commented on #221
note: make sure old LAS files have been merged according to new extractor logic from #237

[2017-02-23 16:50] czender commented on #252
@FlyingWithJerome please note that the environmental logger script was moved to a new repository many months ago: https://github.com/terraref/extractors-environmental
It does not make sense to maintain the version in computing-pipeline. Please work with new repository and deprecate the old.

[2017-02-23 17:00] czender commented on #230
There has been some worthwhile changes and more are coming. I recommend re-running 2016 in two weeks. This should give time to get the latitude/longitude coordinates in, and some more _FillValues.

[2017-02-23 17:01] FlyingWithJerome commented on #252
@czender Yes, I had already cloned the new repo

[2017-02-23 17:10] rachelshekar commented on #252
New functionality from PiClowder 2 will help with this.  Xingchen will follow up with Max about this.

[2017-02-23 17:13] czender commented on #252
@FlyingWithJerome fine but your message above from yesterday points people to the old scripts. please stop doing that. it's confusing.

[2017-02-23 17:14] rachelshekar commented on #242
There has been a discussion of SSO within TERRA.  Nebraska said it's easier that it used to be.  However, this is not the highest priority. - David
Globus SSO would be complex because it has a shared endpoint. - @jdmaloney will double check

[2017-02-23 17:22] max-zilla commented on #257
@solmazhajmohammadi we can follow up about this - we should be able to implement this to existing extractor.

[2017-02-23 17:24] Zodiase commented on #252
@dlebauer @czender
So for `sunDirection`, I'll keep the name, unit and value untouched.
What about `spectrometer`? It's a huge list of numbers in both `spectrometer.wavelength` and `spectrometer.spectrum`.

[2017-02-23 17:26] remotesensinglab commented on #252
What sensor we are referring here by spectrometer ? Thanks

[2017-02-23 17:30] Zodiase commented on #252
@remotesensinglab I have no idea. But there's model and manufacturer info here https://github.com/terraref/computing-pipeline/issues/252#issuecomment-281804281.

[2017-02-23 17:33] rachelshekar commented on #248
David, Max, Craig, Rob and Jeff will meet to talk about this.

[2017-02-23 17:38] czender commented on #252
@Zodiase spectrometer wavelength and spectral fluxes, par, etc. are already archived by the extractor into the netCDF file. Do you want us to modify them in some way? Are you re-writing the environmental logger extractor?

[2017-02-23 17:39] rachelshekar commented on #249
@remotesensinglab @solmazhajmohammadi @nfahlgren @ZongyangLi  @rmgarnett
Please make sure your work is represented correctly on https://docs.google.com/spreadsheets/d/1LLiQSFHbEWoo_FkvG1nl-XoSq_lZ_o6VazfxmPfOH9Y/edit#gid=0

[2017-02-23 17:46] Zodiase commented on #252
@czender I think this issue is only to create an extractor to convert data to CF standard and pipe into geostream database.

[2017-02-23 18:20] czender commented on #252
Maybe our terminology for "extractor" differs. IMHO "converting to CF standard" should be done in existing extractor (when it is converted from JSON to netCDF). Any new extractor should expect to already find CF-compliant data with which it can do as it wishes.

[2017-02-23 19:49] max-zilla commented on #252
@czender @Zodiase so the question basically is, do we:
- expand [this code](https://github.com/terraref/extractors-environmental/tree/master/environmentlogger) to send the variables prepared in [this method](https://github.com/terraref/extractors-environmental/blob/master/environmentlogger/environmental_logger_json2netcdf.py#L195) to send them to geostreams at same time as generation of netCDF
or

[2017-02-23 22:35] gsrohde commented on #252
@czender Could sunDirection = azimuth?  The sample value shown above of 357.58 (nearly 360) at a little past midnight in a location well to the west of the center of the time zone makes this seem likely.

[2017-02-23 23:44] czender commented on #252
I don't have a preference between option 1 and 2. @FlyingWithJerome will soon alter the netCDF file so it's more CF'y (and you can do the same).  If it makes sense to you, you could use the ncks --json feature to pipe the resulting JSON info to Geostreams, either as the last step of the current extractor or as a new extractor.

[2017-02-23 23:49] czender commented on #252
@gsrohde it takes two angles to specify the solar position. i agree it's likely that sunDirection is some form of azimuth, but where's the corresponding altitude (complement of zenith angle)? zenith angle (not azimut) is what we need for irradiance purposes. we can compute it using well-known algorithms, but I'd still like to be sure what it is that the JSON file contains.

[2017-02-24 16:55] harshagrawal28 commented on #245
The current meteorological extractor is triggered when a new dataset of 24 files is uploaded to Clowder. When should this extractor for the Energy farm be triggered? Any particular way the files will be uploaded to Clowder?

As of now, the extractor is triggered by seeing any .dat file and is able to get the difference between the new and old file. The old file is stored on my local machine but wh

[2017-02-24 17:28] max-zilla commented on #256
Pull request created: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/clowder/pull-requests/1118/overview

[2017-02-26 17:01] dlebauer commented on #155
FYI One use case is remote visualization. I'm going to check it out today https://www.giss.nasa.gov/tools/panoply/

[2017-02-27 19:13] max-zilla opened #265 "Mass conversion of raw data to plot-level tiles"
in brief discussion between @dlebauer and I last Friday, we talked pros & cons of just splitting all our imagery data into plot tiles, like for every sensor we would:
1) transfer raw data to Roger
2) level 1 extractors convert raw data into GeoTIFF
3) we have process that scans a day of GeoTIFFs from a sensor and creates plot-level tiles
4) level 2+ extractors operate on plot GeoTIFFs
5) later on

[2017-02-27 19:26] max-zilla commented on #265
Note that the script I linked does NOT create plot-level tiles. Basic logic for mosaic extractor is:
- convert stereoTop .BIN files to GeoTIFF (this shouldn't be necessary since demosaic already does that - we should update to make it check for those first)
- get list of all GeoTIFFs inside the field bounds for one day, and create a VRT (virtual TIF) that combines them all
- feed VRT to [gdal2tile

[2017-02-27 20:24] rachelshekar opened #266 "Extractor development improvements"
_please edit this template before submitting a new pull request_

### Description

### Completion Criteria

[2017-02-27 22:54] rickw-ward commented on #153
reading..

[2017-03-02 15:42] dlebauer commented on #155
@robkooper does this need to be broken down into smaller issues?

[2017-03-02 15:51] rachelshekar opened #267 "257"

[2017-03-02 15:52] #267 closed

[2017-03-02 15:53] dlebauer opened #268 "Standardize geotiff / image metadata to be consistent w/ netcdf CF approach"
geoTIFF files should have useful metadata that is consistent with the CF approach used for met and hyperspectral data; should also comply w/ existing OGC standards

### Completion Criteria

* [x] make sure all level 1 image data are in geoTIFF format
* [x] define standard format for geoTIFF / image files
* [x]  added to extractor
* [ ] old geotiff files updated

[2017-03-02 15:55] dlebauer opened #269 "metadata"

[2017-03-02 15:55] #269 closed, assigned to nobody

[2017-03-02 15:56] dlebauer opened #270 "Update Level 1 data and metadata formats, make consistent across project"
A large epic to cover getting all metadata consistent for Nov 2017 release.

Scope of this epic is:

* file type and format
* names and units in metadata.
* organization of metadata in Clowder + embedded (e.g. EXIF)
* pointers to upstream provenance (incl. input data + algorithm version)
* organization of sensor metadata is out of scope, except for how it is linked to
* how to store quality inform

[2017-03-02 16:13] dlebauer commented on #41
I am going to close this issue and open a new one related to running the genomics pipeline

[2017-03-02 16:13] #41 closed

[2017-03-02 16:16] dlebauer opened #271 "Run CoGe on genomics pipeline"
Following #41

CoGe now supports our genomics pipeline.

This may take a long time to work through the 400(?) sequences, so we should get started asap.

### Completion Criteria

* [ ] begin processing data
* [ ] update documentation
* [ ] update terraref.org/data to link to data on CoGe / Cyverse website
* [ ] make data inputs and outputs publicly accessible

[2017-03-02 16:18] dlebauer opened #272 "Genomics data pipeline and data products"

[2017-03-02 16:23] dlebauer opened #273 "websites and APIs should provide useful information when servers are down"
When data servers are down (e.g. /clowder, /thredds, /bety), they should redirect to terraref.org/maintenance

https://github.com/terraref/terraref.github.io/blob/master/maintenance.md

So that users are not getting unhelpful errors.

API should also send an appropriate message

### Completion Criteria

* [x] browsers redirect to terraref.org/maintenance
* [x] API provides an appropriate error mes

[2017-03-02 16:28] rachelshekar opened #274 "Reevaluate BMS"
* Need to upload Sorghum Ontology
* Look at storing genomic and trait data
* test out BRAPI

[2017-03-02 16:44] rachelshekar opened #275 "Full field stitched mosaic"
how to support
how to ensure that it can be used with any dataset

[2017-03-02 16:45] rachelshekar opened #276 "Determine how to support webpages created by collaborators"
For example:

* full field interactive mosaic by @ZongyangLi and @pless
* interactive gwas by @zhenbinHU and @gpmorrisksu
* summary of data in BETYdb by @nickheyek

## TODO:

* [ ] add steps for deploying static + dynamic web apps to documentation
* [ ] consider re-organizing (perhaps all websites should be under terraref/www)?

See also #295

[2017-03-02 17:10] max-zilla commented on #252
@Zodiase let's add a geostreams push to existing EnvironmentLogger extractor output to geostreams, in addition to creating netCDF.

we can make a separate generic extractor later if we want.

[2017-03-02 17:14] rachelshekar commented on #271
@nfahlgren
- what is the direct link to the data?
- when will the raw data be made available?
year 1 and 2 have the same lines/populations.

[2017-03-02 17:19] FlyingWithJerome commented on #252
@max-zilla @Zodiase
Let me know if you have any questions on the Environmental logger source code, and I will keep track on your branch.

[2017-03-02 17:21] rachelshekar commented on #155
no.  rob

[2017-03-02 17:23] robkooper commented on #273
redirection see http://terraref.ncsa.illinois.edu/clowder-dev/
api not sure I want to redirect, I'd rather have it throw an error.

[2017-03-02 17:28] robkooper commented on #76
an example of an extractor with test data: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/browse

There is a test folder with in there a
- test file [VIS_SV_180_z1_1207272.png](https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/extractors-plantcv/raw/test/VIS_SV_180_z1_1207272.png)
- example output [VIS_SV_180_z1_1207272.png.jsonld](https://op

[2017-03-02 17:28] max-zilla commented on #76
checklist of extractors to create test.sh for:

- [ ] hyperspectral
- [ ] flir
- [ ] bin2csv
- [ ] psii
- [ ] environmentlogger
- [ ] datparser
- [ ] plantCV (pipeline)
- [ ] netCDF (header metadata extraction)
- [ ] sensorposition

[2017-03-02 17:29] robkooper commented on #273
This will need to be fixed/updated when services are detected down.

[2017-03-02 17:29] #273 closed

[2017-03-02 17:31] czender commented on #76
@hmb1 and @FlyingWithJerome would you please create a test.sh for the hyperspectral extractor and for the Environtmental Logger, respectively? The test workflow can be on hyperspectral_tst_raw (for HS) and on any EL file you pick Jerome.

[2017-03-02 17:46] Zodiase commented on #252
I looked at the `extractors-environmental` code and found one (minor-ish?) issue:

`extractors-meterological` processes the entire dataset in one pass, where it sees all the data and produce mostly full-size aggregated chunks except the head and tail.
To illustrate (`|`s are temporal aggregation cutoffs, `[]`s are final data entries):
[code]

However `extractors-environmental` processes the datase

[2017-03-02 18:01] dlebauer commented on #263
Issue moved to [terraref/extractors-hyperspectral #17](https://github.com/terraref/extractors-hyperspectral/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-02 18:01] #263 closed

[2017-03-02 18:38] czender commented on #252
I don't understand the issue that @Zodiase writes about above. @FlyingWithJerome and @Zodiase perhaps you can speak by phone to clarify.

[2017-03-02 18:59] Zodiase commented on #252
@czender

During aggregation, for simplicity, all temporal cutoffs are on the minutes with no offset.

Suppose one source data file starts at `09:03:23` and ends on `10:03:23` and we are doing 10-minute aggregation. The first cutoff would be `09:10:00`, so `09:03:23-09:10:00` would be the first aggregated data entry. Whereas the second one would be `09:10:00-09:20:00`. Also the last one would be `

[2017-03-02 19:41] max-zilla commented on #252
@Zodiase we can change the EnvironmentLogger extractor to wait for a full day of EL files in the dataset before processing - I believe we should still be able to use 23 or 24 as expected file count just like we do with the met datparser. That's probably better anyway so we end up with 1 day netCDF file per EL dataset instead of 24 netCDFs.

@czender we basically have 2 extractors, one takes a day

[2017-03-02 19:43] FlyingWithJerome commented on #252
@Zodiase @max-zilla

If I understand you correctly, the time period is decided by the raw file passed to EnvironmentLogger, not the EnvironmentLogger iteself. Some of them are collected hourly while the others are collected once two minutes. So for a single day we may have 24 or 720 files

[2017-03-02 19:44] max-zilla commented on #252
@FlyingWithJerome if I remember correctly, older datasets will have more files and newer files have the hourly cutoff, but I don't remember where that changed.

[2017-03-02 19:59] czender commented on #252
It may be helpful to know that the NCO [ncrcat](http://nco.sf.net/nco.html#ncrcat) operator takes a list of files as input, and concatenates the files while hyperslabbing along the record dimension, aka time, if specified with the -d time,start,end option. This feature can be used to repartition data into files with even hour boundaries, without losing any data. e.g.,
`ncrcat -d time,'2011-03-12 1

[2017-03-02 21:42] phloz commented on #271
@rachelshekar Some of the year 1 lines that didn't sequence or were low coverage were sequenced again in year2

@dlebauer I'm in communication with Matt Bomhoff.  Last I heard, he's working through some last issues integrating GATK Haplotypecaller.

[2017-03-02 22:25] rachelshekar opened #277 "data flow visualization"
use yesworkflow for documentation
tracks providence

do not need high level of detail - detail in google sheet is appropriate.

@dlebauer to talk to Bertram

[2017-03-02 22:45] dlebauer commented on #232
Examples for external standards compliance
* cfchecker --> CF compliance
* OGC --> http://www.opengeospatial.org/compliance

Also need to add internal compliance checks

Identify first class data products --> what need to be complied

For example, hyperspectral workflow has three products:
1. level 1: cubes clipped to plot of reflectance values at full resolution, CF + OGC compliant
2. level 2: cu

[2017-03-03 16:01] dlebauer commented on #232
next steps:

* identify first class data products
* for these, compile current metadata outputs from extractors
* map to OGC, CF, etc
* determine what compliance means

[2017-03-06 14:29] craig-willis opened #278 "Install Labs Workbench"
We're testing a version of Labs Workbench that includes support for mounting shared data to containers (such as TERRA ROGER data via NFS).  This version also includes support for fetching/mounting data from Clowder, per the current tool server.

### Completion Criteria

* [x] Determine usage requirements
* [x] Install Labs Workbench instances for TERRA dev and production
* [ ] Import user accounts

[2017-03-06 17:50] FlyingWithJerome commented on #144
@solmazhajmohammadi By "downsampling" in sampling every one out of two lines, does it mean that one line will be thrown away, or two lines will be merged together and sampled them together?

[2017-03-06 21:59] dlebauer commented on #80
@jdmaloney I am not sure why this one was closed. Where are the irrigation data going? Are they being processed by the weather data extractor?

[2017-03-06 22:58] dlebauer commented on #193
@rmgarnett and @ZongyangLi what is the status of entering these data into the database?

[2017-03-06 23:15] jdmaloney commented on #80
Irrigation data is dropped on the NAS by Pedro manually, supposedly monthly if I remember the plan correctly.  It hasn't been put on the NAS since we had the code in place to grab it (which has been checking since August). He places it there manually as he has to download it by hand from their special website thing, I'll ping him in email here to have him download it all and put it in there.  I th

[2017-03-06 23:17] jdmaloney commented on #80
Oh, just found out Pedro has an account here in the GitHub.

@Andrade-Pedro Could you dump the irrigation data onto the NAS (as far back as you have it)?  I'll suck it in and make sure it lands on the ROGER system here at NCSA.

[2017-03-07 00:40] Andrade-Pedro commented on #80
@jdmaloney I Just dropped 12 files on NAS server, one per month starting from March 2016

[2017-03-07 16:51] solmazhajmohammadi commented on #144
@FlyingWithJerome It is a random process and the line will be thrown away(most likely first line will be kept)

[2017-03-07 17:02] FlyingWithJerome commented on #144
@solmazhajmohammadi Thank you. If I understand you correctly, we will lose spatial information (because we scan one line, throw away one line, scan one line, throw away one line ....). And the pixel size won' change, because the line size remains the same

[2017-03-07 17:04] solmazhajmohammadi commented on #144
@FlyingWithJerome yes!

[2017-03-07 17:50] dlebauer opened #279 "Explore / prototype examples of using YesWorkflow for provenance capture and documentation"
### Yes Workflow

First steps:

* review #149
* start here: https://github.com/yesworkflow-org/yw-prototypes
* look at online example: http://absflow.westus.cloudapp.azure.com/

The initial goal is to focus on capturing inputs and outputs. The objective of this issue is to explore what it would look like to implement YesWorkflow in our pipeline for a few example extractors, so that we can evaluate

[2017-03-07 20:19] FlyingWithJerome commented on #144
@solmazhajmohammadi
Is there a flag in the metadata JSON so that our program can recognize that the picture is downsampled? By reading the "current setting speed" in the "sensor_variable_metadata" field, or speed [xyz] in the "gantry_system_variable_metadata?"

[2017-03-07 21:45] craig-willis opened #280 "Single sign-on support"
Opening new discussion issue for topic started in terraref/computing-pipeline#242

Q. Has there been any discussion of single sign on for TERRA?  Users must register for Clowder, Bety, Globus, ROGER, and now Labs Workbench.

A.  There has been a discussion of SSO within TERRA. Nebraska said it's easier that it used to be. However, this is not the highest priority. - David  Globus SSO would be comp

[2017-03-07 21:46] craig-willis commented on #242
Closing this since Toolserver will be replaced by Labs workbench.

[2017-03-07 21:46] #242 closed

[2017-03-07 21:47] craig-willis commented on #239
Replaced by https://github.com/terraref/computing-pipeline/issues/278

[2017-03-07 21:47] #239 closed

[2017-03-07 22:18] dlebauer commented on #106
@jdmaloney I think what you have is a good start - what are the next steps? Could you link to the current web page in the documentation? Can the interface be extended to log downstream datasets?

[2017-03-07 22:21] dlebauer commented on #277
Issue moved to [terraref/reference-data #102](https://github.com/terraref/reference-data/issues/102) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-07 22:21] #277 closed

[2017-03-07 23:00] jdmaloney commented on #106
@dlebauer Web documentation now has a link.  Can you elaborate on what you mean by downstream datasets?

I'll be adding transfer metrics to the page here soon as we've started logging those and should now have enough data for those graphs to be useful.  For Level_1 stuff I'll talk to Max, this can definitely visualize it, just a matter of feeding it data when extractors complete their runs.

[2017-03-07 23:46] dlebauer commented on #106
Downstream = Level_1 and other data product S beyond the raw files
transferred
On Tue, Mar 7, 2017 at 5:00 PM JD Maloney <notifications@github.com> wrote:

[2017-03-08 18:24] solmazhajmohammadi commented on #144
@FlyingWithJerome
 In JSON files, you can check "scanSpeedInMPerS [m/s]" and  "current setting frameperiod"  in the metadata.
If the scan speed("scanSpeedInMPerS [m/s]") is "0.04" and frame period ("current setting frameperiod" )is "50"(more than 25), then it means that data is downsampled.

[2017-03-08 21:38] max-zilla commented on #252
@FlyingWithJerome has this been completed? let me know if you have questions for me.

[2017-03-08 22:00] max-zilla commented on #85
heat map of plots by sensors - how many are inserting information, max/min, etc. create a separate issue for this.

in meantime I will get a cron job figured out with @jterstriep to help if necessary so we can generate these mosaics for stereoTop. then will close this.

[2017-03-08 22:01] #85 closed

[2017-03-08 22:07] max-zilla commented on #106
Let's close this and make a follow-up issue to discuss Level 1+ data. Initial version complete.

[2017-03-08 22:07] #106 closed

[2017-03-08 22:08] rachelshekar commented on #121
dependent on #224

[2017-03-08 22:09] craig-willis commented on #204
Closing since we will be using Labs Workbench to replace toolserver.

[2017-03-08 22:09] #204 closed

[2017-03-08 22:10] dlebauer commented on #224
when this is finished, can move on to https://github.com/terraref/computing-pipeline/issues/224

[2017-03-08 22:11] max-zilla commented on #128
@smarshall-bmr are there new logs available? can you move them into the cache directory @jdmaloney mentioned if so (might be a good idea to make this automatic if possible)?

[2017-03-08 22:13] #150 closed

[2017-03-08 22:22] max-zilla commented on #179
@yanliu-chn let's discuss how to get these reference systems in postgis so we can do conversions on-the-fly in a query, then we can close this.

[2017-03-08 22:23] #180 closed

[2017-03-08 22:31] max-zilla commented on #178
let's revisit this once we have the plot-level chops; becomes more trivial then

[2017-03-08 22:31] dlebauer commented on #178
closing this. Once we have plot-level geotiffs, we will be able to use imagemagik / ffmpeg

[2017-03-08 22:31] #178 closed

[2017-03-08 22:31] rachelshekar commented on #54
@nshakoor - please update

[2017-03-08 22:32] #54 closed

[2017-03-08 22:35] FlyingWithJerome commented on #252
@max-zilla
For sending the data to the geostream database? No, I think I need the host, port and an account of the geostream database to query and insert.

[2017-03-08 22:36] max-zilla commented on #207
@solmazhajmohammadi @ZongyangLi we are actually intending to do this part:
- subset FLIR images to the plot level

...for other sensors as well, so to the extent we can do this in a general way we can reuse the code. we have a shapefile of the plots now (and loaded into geostreams) so maybe we can have a call on next steps for this?

[2017-03-08 22:37] dlebauer commented on #167
@rickw-ward do you have an ETA for this?

[2017-03-08 22:38] max-zilla commented on #252
@FlyingWithJerome i will follow up with you tomorrow. your account will be your Clowder account, the URL is https://terraref.ncsa.illinois.edu/clowder/api/geostreams. can give examples of how to use that endpoint.

[2017-03-08 22:43] rickw-ward commented on #167
@SaraHarders can you update me by email of progress with 2016 UAV datasets?

[2017-03-08 22:51] #243 closed

[2017-03-08 22:53] dlebauer commented on #48
Closing. We will re-open or create a new issue when we are ready to support this. Not clear how much on the fly computing we are expected to provide

[2017-03-08 22:53] #48 closed

[2017-03-08 22:54] FlyingWithJerome commented on #252
@max-zilla
[code]

[2017-03-08 22:58] max-zilla commented on #252
@FlyingWithJerome ```requests.get("https://terraref.ncsa.illinois.edu/clowder/api/geostreams/datapoints?streamid=300&key=XYZ").raise_for_status()```

I'll email you the key to use instead of XYZ -  keep it secret please.

[2017-03-08 23:00] dlebauer opened #281 "Develop new calibration procedure for Hyperspectral Imagers"
@czender commented on [Thu Mar 02 2017](https://github.com/terraref/extractors-hyperspectral/issues/18)

# Description

We discussed pitfalls of current hyperspectral (HS) calibration procedure and agreed to attempt to improve calibration by expanding the temporal/angular resolution of the Spectralon reflectance imagery, utilizing the spectral downwelling irradiance from the Environmental Logger (

[2017-03-09 00:10] jterstriep commented on #262
Should we have a service level account for this rather than manually adding each user to the database? We're using LDAP to authenticate the user to the VM and the service level account would have read-only access so I think it would reasonably secure and easier to administer.

[2017-03-09 01:19] czender opened #282 "New hyperspectral calibration algorithm documentation"
### Description
This is the draft improved algorithm to retrieve spectral reflectance based on existing and soon-to-be available inputs mentioned in  #281. Suggestions and correction welcome (the more specific, the better). This draft is based on the algorithm proposed #88 from 2016.
For simplicity, the algorithm description currently omits the time dimension. It is implicit in all quantities belo

[2017-03-09 01:48] FlyingWithJerome commented on #252
@max-zilla

To protect the API Key, I plan to write the geostream in a separate module and only upload the pyc/pyo file instead of the source code.

Any comments?

[2017-03-09 02:26] dlebauer commented on #252
Please upload source code!
On Wed, Mar 8, 2017 at 7:48 PM JeromeMao <notifications@github.com> wrote:

[2017-03-09 04:34] max-zilla commented on #252
@FlyingWithJerome upload it without the key included, and pass in the key as a command line argument.

[2017-03-09 05:16] robkooper commented on #252
I would prefer to use auth with username/password. That way it gets assigned to a user instead of the system user (which is what happens when you use the key).

[2017-03-09 05:18] robkooper commented on #262
I agree with this, single account is easier. Only issue is if that password is given to others, but that should not matter since they can not access the database without SSH.

[2017-03-09 05:58] Zodiase commented on #252
I'm reading the existing environmental logger extractor code. Since I'm not that familiar with Python so I might have missed something, but so far [from this portion](https://github.com/terraref/extractors-environmental/blob/269548581268cec092dd2e5782ed8a848c8d653b/environmentlogger/environmental_logger_json2netcdf.py#L215) I don't think that extractor is doing any unit conversion other than renam

[2017-03-09 14:20] max-zilla commented on #252
@Zodiase I believe you are correct in both cases - the conversion is for the key only (not the value), and it needs to be both like the met extractor.

[2017-03-09 14:32] max-zilla opened #283 "Link extractors into LogStash"
Following #106

We need to track Downstream = Level_1 and other data products beyond the raw files
transferred

That is, # of files generated, # of bytes generated to start. we can log to InfluxDB & visualize in Grafana the way we do the other datasets.

template code....
[code]

- [x] verify the above template code is working as expected for transfer portion of code (existing implementation)
- [

[2017-03-09 14:49] remotesensinglab commented on #186
@dlebauer: My understanding on this issue is that Rick Ward wanted to do all processing and upload the summary  statistics to the server.  If this is not the case, please advise, we can do it. Maybe, we should coordinate a meeting with Rick and see what needs to be get done and what he prefers in terms of our involvement. This is an interesting area for my research and pubs as well, so good to tal

[2017-03-09 15:03] max-zilla opened #285 "rapid turnaround QAQC map of scanner data"
following on #85...

heat map of plots by sensors - how many are inserting information, max/min of basic traits, etc.

- [ ] I should discuss with @robkooper @jdmaloney on whether we can leverage existing infrastructure to get us part/most of the way there
- [ ] use association of dataset to plot (sensorposition extractor) to get sensor capture timestamps by plot & aggregate
- [ ] as trait-generat

[2017-03-09 15:07] max-zilla opened #286 "Get full field mosaic script running on cron job"
Following #85...

We want to get the full-field mosaic generation script running on each day starting w/ most recent completed day and moving backwards.

Version committed to accomplish this, ready for ROGER-specific modification, is here:
https://github.com/terraref/extractors-stereo-rgb/blob/master/mosaic/terra_mosaic.py

@jterstriep and I will see if anything else needs to be done and set up a

[2017-03-09 15:17] max-zilla opened #287 "Clean up EnvironmentLogger directory"
After ROGER maintenance is done, @jdmaloney and I should work together to clean up the EnvironmentLogger database of files named "enviromentlogger" (missing first 'n') that should be duplicates of the corrected versions with a typo in the name.

None of the erroneous files appear to be in Clowder so there shouldn't be any issue deleting these.

[2017-03-09 15:49] gsrohde commented on #262
@robkooper If there are no scripts that rely on the old bety password, you can close this (see task list at top).

[2017-03-09 17:08] rachelshekar commented on #249
Need extractors by end of May for v1 release in November

[2017-03-09 17:15] rachelshekar commented on #179
does post gis have an embedded query for projection on the fly?

[2017-03-09 17:16] dlebauer commented on #179
see http://gis.stackexchange.com/a/67245/1239

[2017-03-09 17:19] smarshall-bmr commented on #128
@max-zilla the newest log file is still only 70% full. I've found that if I restart the HMI computer it takes a bit for  the HMI to actually start up and in that time I can save a copy of the log file. If someone is interested in looking at the log data before it's automatically kicked out I can do this.

[2017-03-09 17:20] max-zilla commented on #179
@yanliu-chn thinks this may not be necessary to do on-the-fly conversions, as the incoming data is already in lat/long. the sensor position has the formula to convert XY to lat/long.

- [ ] make sure this is documented
- [ ] make sure we can support querying and inserting, see about on-the-fly conversions
- [ ] once implemented we can close

[2017-03-09 17:26] yanliu-chn commented on #179
- Converting b/w XY and latlon is straightforward  and described as math formula [here](https://github.com/terraref/documentation/blob/master/spatial-reference-system-data.md)
- I think we should keep only one geo projection in PostGIS database. PostGIS can do the reprojection on the fly using [ST_Transform](http://postgis.net/docs/ST_Transform.html).

[2017-03-09 17:28] max-zilla commented on #210
@ZongyangLi @rmgarnett any updates on this issue?

[2017-03-09 17:32] czender commented on #144
@solmazhajmohammadi @FlyingWithJerome we need a "formula" that unambiguously determines when data is downsampled. please confirm that the formula is:
[code]
If this is incorrect in any way, please provide a more accurate formula...

[2017-03-09 17:35] max-zilla commented on #144
scan speed can be determined by the file size, we won't find that in the metadata if I understand @solmazhajmohammadi correctly.

[2017-03-09 17:59] ZongyangLi commented on #207
@solmazhajmohammadi  said it's a better option to use 3d fusion with FLIR data to exclude soil from flir camera data. So I didn't do much investigate here.
I think it will be quite straightforward to get a plot level temperature if we can exclude soil first.

[2017-03-09 18:04] ZongyangLi commented on #210
I was worried about providing untrue data into Clowder geostream or BETYdb, so I asked for a transformation matrix to the gantry coordinate system in metadata to get a plot level height histogram.
If these uncertain result can be insert into those database, @max-zilla could you send me an instruction of Clowder geostreams?

[2017-03-09 18:27] czender opened #289 "New data reduction procedure for Spectralon calibration imagery"
### Description
The new hyperspectral imagery calibration procedure (#281) uses dedicated calibration imagery of Spectralon reflectors taken at multiple zenith angles (and possibly one day under both clear and overcast skies). This necessitates changes to the current reduction procedure, and subsequent use of, the Spectralon reflectance imagery.

### Completion Criteria

- [ ]  Convert new spectra

[2017-03-09 19:08] rickw-ward commented on #185
is the question what metadata and how to store it?

[2017-03-09 19:24] FlyingWithJerome commented on #252
@max-zilla @Zodiase
You are correct. Numerical correction on these values will come with geostreaming in the next patch.

[2017-03-09 19:29] FlyingWithJerome commented on #252
@max-zilla
But in this way, the API key will be hard coded in the driver (aka [terra_environmentlogger.py](../blob/master/environmentlogger/terra_environmentlogger.py)?

[2017-03-09 20:02] czender commented on #252
@Zodiase thanks for reporting this. A 273 degree temperature bias is worth fixing. @FlyingWithJerome please make sure to convert value not just units. Double-check to make sure there are no missing factors of 10, 100, 1000 missing from the values of any converted quantity. Please note any discrepancies between our data names/standard_names and the table Xingchen points to so we can discuss these M

[2017-03-09 21:18] solmazhajmohammadi commented on #144
@FlyingWithJerome
[code]

"lines" are specified in the header files(XXXX_raw.hdr).
The Error part is to make sure that the system is not running in any random speed. In this case the downsampling process would be completely random.
The second part of the code(repeated below) can be used for the early stage dataset where metadata doesnt have "scanSpeedInMPerS" key.
[code]
```("Position y [m]" > 18

[2017-03-09 21:26] FlyingWithJerome commented on #144
@solmazhajmohammadi @czender
This makes sense to me. I read through some of the metadata and could not find the "scanSpeedInMPerS" variable. Will implement the new downsampled georeference algorithm from here.

[2017-03-09 21:36] czender commented on #144
Thanks @solmazhajmohammadi. Hopefully this will fix the funny aspect ratio of downsampled images. If not, we've more work to do...

[2017-03-10 02:03] solmazhajmohammadi commented on #144
ScanspeedinMPerS was added recently with new software update. I think the data after October should have the scan speed in metadata. For the rest of the data hopefully the formula should fix the issue. Please Let me know if you have any issue.

Sent from my iPhone

On Mar 9, 2017, at 3:36 PM, Charlie Zender <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks @solmazhajmohamm

[2017-03-10 03:25] dlebauer commented on #185
The Original question requests specific information about the targets.

Similar to these

https://github.com/terraref/sensor-metadata/tree/master/targets

https://terraref.ncsa.illinois.edu/clowder/files/5873a9544f0cad7d8131b36a?dataset=5873a9434f0cad7d8131b29a&space=

https://terraref.ncsa.illinois.edu/clowder/files/5873a9544f0cad7d8131b363?dataset=5873a9434f0cad7d8131b29a&space=

https://terrare

[2017-03-10 18:43] FlyingWithJerome commented on #252
@max-zilla
The Geostream API works fine yesterday, but today it raises HTTPError 500 again; is it under maintenance right now?

[2017-03-10 18:53] max-zilla commented on #252
@FlyingWithJerome the postgres service was restarted, Clowder needed to be restarted as well to reconnect. Should work now.

[2017-03-13 17:04] FlyingWithJerome commented on #252
@max-zilla

I double checked the API documentation in the clowder and cannot find the parts for Geostream. I would like to know the the host address I can POST to, and whether it supports JSON-Encoded data (seems that it does not support Python json.dumps() encoder).

[2017-03-13 17:27] solmazhajmohammadi commented on #207
@max-zilla @ZongyangLi
Subseting the images to the plot level would be a good idea, It helps todo the overlaying RGB and IR as well. Since the IR and RGB data is collected at the same time, this would be another option to exclude the soil from plant, and we can compare the result with 3D +IR

[2017-03-13 17:53] max-zilla commented on #252
@FlyingWithJerome here are two examples of extractors that post to Geostreams:
https://github.com/terraref/extractors-meterological/blob/master/datparser/terra_met_datparser.py#L244
https://github.com/terraref/extractors-metadata/blob/master/sensorposition/terra_sensorposition.py#L162

See create_sensor, get_sensor_id, create_stream, get_stream_id also.

Basically for geostreams...
1. "sensor" is

[2017-03-13 18:01] FlyingWithJerome commented on #252
@max-zilla

Thanks, these two examples make more sense to me. I will double check if I have the pyclowder dependencies on my home machines and do some little researches on them

[2017-03-13 18:09] max-zilla commented on #252
@FlyingWithJerome make sure you use the newer PyClowder 2: https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder2/browse
[code]

The --force will overwrite any pyclowder 1 files if you already had them installed.

[2017-03-13 20:31] czender commented on #76
@hmb1 what is the status of the test.sh for the hyperspectral workflow? it can just be a one line command that invokes the workflow on the 1x1 pixel test file (for now).

[2017-03-14 14:31] max-zilla commented on #210
@ZongyangLi we can write data to geostreams that we can regenerate and replace later once we have corrections to the code, absolutely.

Here is a comment I left in another issue about Geostreams:
https://github.com/terraref/computing-pipeline/issues/252#issuecomment-286189327

If you look at the links there, you can see an example of how I use it. The basic approach is:

1) determine which "plot"

[2017-03-14 14:34] ZongyangLi commented on #210
@max-zilla Thanks a lot! I will take a look into it and start working on this.

[2017-03-15 13:39] craig-willis opened #290 "DNS/TLS for Workbench"
The Workbench service now at http://www.terraref.ndslabs.org needs a wildcard TLS cert.  The ndslabs.org domain is a temporary testing domain and is not intended to host services.

Completion criteria:
* [x] Get access to terraref.org DNS or possibly transfer ownership to NCSA
* [x] Add *.workbench.terraref.org wildcard DNS to terraref.org
* [x] Wildcard TLS certificate for workbench.terraref.org

[2017-03-15 13:41] craig-willis commented on #278
DNS/TLS opened as separate ticket #290

[2017-03-15 13:41] craig-willis commented on #223
This has been replaced by Labs Workbench in #278

[2017-03-15 13:41] #223 closed

[2017-03-15 14:35] max-zilla commented on #179
This is documented here:
https://terraref.gitbooks.io/terraref-documentation/content/user/geospatial-information.html

As @yanliu-chn indicated, one can use ST_Transform to transform between the two, e.g. in extractors.
[code]

[2017-03-15 14:37] #179 closed

[2017-03-15 14:42] dlebauer commented on #248
@craig-willis @max-zilla could you please summarize conclusions from the last meeting and identify next steps?

[2017-03-15 14:54] max-zilla commented on #207
@ZongyangLi @solmazhajmohammadi #265 I am starting to focus on - to get all images chopped into plot tiles.

[2017-03-15 14:55] max-zilla commented on #286
If we are going to convert everything to plot tiles (with gaps in between potentially) how does this fit in? With properly geocoded tile geotiffs it's possible we can use the same Google Maps display component.

[2017-03-15 15:14] dlebauer commented on #252
@FlyingWithJerome there is some confusion on this side - have you taken on this issue? If so, that is great. Or is there anything that @Zodiase can help with?

One other thought - instead of creating one file per day, can this netcdf file just be appended in time, perhaps creating a new one each year?

[2017-03-15 15:36] max-zilla commented on #265
@robkooper @jdmaloney @yanliu-chn @dlebauer @czender

Just spoke with Rob about moving this forward. I basically suggested:

- we have extractors that convert raw sensor images into standard geocoded GeoTIFF format
- we have a work script we run on Roger filesystem directly outside Clowder, probably a worker with some hefty memory.
  - loop across each sensor x day directory of GeoTIFFs
  - stitch

[2017-03-15 16:47] FlyingWithJerome commented on #252
@dlebauer
The unit conversion issue had already been fixed; I'm right now polishing the code based on Craig's feedback and adding geostream to the pipeline. Max had provided me some useful references on Geostream API.

[2017-03-15 18:01] czender commented on #265
Mentioning @hmb1 since he is looking into efficient means of clipping netCDF to shapefiles...

[2017-03-15 18:22] max-zilla commented on #265
@czender thanks. forgot to mention that I tagged you because I imagine the hyperspectral data might do this slightly differently than the others... e.g. maybe we bypass the GeoTIFF and modify your script to generate the .nc files per plot instead?

[2017-03-15 18:39] czender commented on #265
That's one possibility. If you have an ESRI shapefile or geoTIFF for a plot for which there's a corresponding hyperspectral image, please send it our way for experimentation...

[2017-03-15 18:40] dlebauer commented on #265
@max-zilla To answer some questions

we are well below the 10PB estimate at this point, and if we do get closer, we can eliminate some of the intermediate data products and then if we still need to save space we can use lossy compression / downscaling

Isn't this information available as the difference between collection and transfer dates? (or maybe the more important time range is the beginning

[2017-03-15 18:40] dlebauer commented on #265
@czender @hmb1 are these files sufficiently aligned to the x,y grid that `ncks -d x,xmin,xmax -d y,ymin,ymax in.nc out.nc` would be sufficient and efficient?

[2017-03-15 19:01] NewcombMaria commented on #265
@dlebauer and @max-zilla the 4-row plot arrangement and the issue of the 2 outer rows of each 4-row plot being 'border rows' only applies to Sorghum-season2.  Other seasons (Sorghum-season1, Wheat-season3, and the upcoming Sorghum-season4) are all planted as 2-row plots with both rows considered as data-collection rows.  The big differences between 2-row plot and 4-row plot arrangements is why Rom

[2017-03-15 19:21] max-zilla commented on #265
@dlebauer we have the plot boundaries in PostGIS and can build on that, I just used the shapefile as representative of the geometry we're working with so I could include that little picture.

@NewcombMaria that is helpful, thanks.

[2017-03-15 19:22] czender commented on #265
@dlebauer @hmb1 the rectangles above look rectangular to me so ncks will be efficient and fast on them. i am thinking of how best to use shapefiles at the "plant scale", e.g., how to mask the irregular regions of soil (or leaves) within a plot, as this seems like a useful capability for manipulating the hyperspectral data. we do not yet have a specific request like "can we get a netCDF file with v

[2017-03-15 20:29] max-zilla commented on #210
@ZongyangLi the "error registering extractors" is not a big problem - registering just makes Clowder allow that extractor to be selected in manual extractor lists in the GUI. If you got "Waiting for messages" I think it's working properly.

you do want pyclowder 2, yes

[2017-03-15 21:37] dlebauer commented on #265
@czender: @remotesensinglab is working on per-pixel classifications of sun/shade and plant/soil. That should be easier than irregular polygons (unlike plots, these irregular shapes will change in each image).

@NewcombMaria good point. We should re-visit Roman's proposal moving forward. For now we will keep these plot definitions for Sorghum Season 2.

[2017-03-15 21:47] czender commented on #265
OK. then the `ncks -d x,xmin,xmax -d y,ymin,ymax in.nc out.nc` method should suffice for HS imagery once @FlyingWithJerome commits the branch with the correct downsampled coordinates...

[2017-03-15 21:50] dlebauer commented on #265
PS what I envision is that the classification algorithm could add new boolean variables like 'sun_leaf' 'shade_soil', etc to the reflectance index data product. @remotesensinglab does that make sense?

[2017-03-16 01:54] remotesensinglab commented on #265
Hi David,
Yes, that is what I have in mind as well. Thanks,

Wasit

[2017-03-16 14:19] max-zilla commented on #248
@dlebauer we have not had a formal meeting on this specific topic yet.

The approach I am anticipating is the second one:
External process running on Roger (cron task)

...but only using this for complex modules that require e.g. an entire day of data, or several sensors' worth of data. In those cases we would be working against Clowder's capabilities to try and squeeze that functionality into exi

[2017-03-16 14:25] max-zilla commented on #265
@czender that min/max arg looks perfect. FWIW you can grab the shapefile from my image above here:
https://github.com/terraref/extractors-metadata/tree/master/sensorposition/shp/sorghumexpfall2016v5

...we can (and soon should) use geostreams API to get boundaries of each plot like so:
[code]
Right now it just has the centroid point in geometry but I have a script to run soon that'll store the pol

[2017-03-16 14:31] max-zilla commented on #265
As a first target of this effort, I would propose:

- [ ] select a sensor that has working converter to GeoTIFF (https://docs.google.com/spreadsheets/d/1LLiQSFHbEWoo_FkvG1nl-XoSq_lZ_o6VazfxmPfOH9Y/edit#gid=1888797382) - FlirIR would be a good choice as it also serves #207 directly
- [ ] verify converter is embedding appropriate georeference information in GeoTIFF
- [ ] target one recent day for th

[2017-03-16 15:13] max-zilla commented on #209
I'm going to close this issue as a similar discussion is occurring in #265. Should've just added those comments to this issue initially.

[2017-03-16 15:13] #209 closed

[2017-03-16 15:15] rachelshekar commented on #186
@rickw-ward -  are you planning to do the processing and uploads?  Do we need a teleconference to discuss?

[2017-03-16 15:26] max-zilla commented on #224
Once we split these files into plot-level, this issue should become unnecessary because we can find data in the same plot/day instead of needing specific gantry position. #265

[2017-03-16 15:54] solmazhajmohammadi commented on #183
@hmb1 we are working on adding some extra vegetation indices to your pipeline. I see you wrote everything in nco(netcdf operator), can I use "import numpy" to do the squerroot and etc
 there are some indices which require square/squareroot/log and iterate over a bunch of wavelengths.

[2017-03-16 16:06] max-zilla commented on #173
Want to push data to geostreams, and have code to go from geostreams to PEcAn netcdf format.

[2017-03-16 16:06] craig-willis commented on #290
Have access to account. Opened ticket with NCSA security to see if they will issue the cert or if we need to move ownership.

[2017-03-16 16:10] dlebauer commented on #173
Here is a pull request for the download.clowder and met2cf.clowder functions into PEcAn https://github.com/PecanProject/pecan/pull/1268

Next steps

1. determine how to integrate into PEcAn met workflow (deal with this in PEcAn PR https://github.com/PecanProject/pecan/pull/1268)
2. make Environmental sensor and met stations consistent with this
  * datalogger --> geostreams --> netcdf (rather than

[2017-03-16 16:17] craig-willis opened #291 "Prototype BRAPI interface"
Prototype a BRAPI interface to the TERRA-REF data. This will require mapping BRAPI concepts to the BETYdb model, implementing the API, and confirming conformance to BRAPI specification.

Completion criteria:
* [ ] Design documentation
* [ ] Create new tickets for downstream changes
* [ ] Stakeholder review

[2017-03-16 16:18] rachelshekar commented on #185
@remotesensinglab, @Paheding, and @rickw-ward do we still need this info?  If we already have it, where is it?

[2017-03-16 16:24] hmb1 commented on #183
Hi Solmaz,
 Can you please post the formulas here:
 The ncap2 operator has its own scripting language which has nothing to do with python. It has  a sqrt() function built in
...Henry

[2017-03-16 16:28] hmb1 commented on #183
..and also log(), log10() ,pow()

[2017-03-16 16:29] craig-willis commented on #290
For NCSA to provide the certificate - you will need to move the domain registration and coordinate with NCSA NetEng

You can also get wild card domain certs from a commercial provider.
https://www.digicert.com/wildcard-ssl-certificates.htm

[2017-03-16 16:33] max-zilla commented on #291
Relevant: https://docs.google.com/spreadsheets/d/1ykPJWi0kLSYXUV86U54E9SLuypBMoJUuJTkdpcxuU1g/edit#gid=0

[2017-03-16 16:34] rachelshekar commented on #208
@smarshall-bmr - can you give an update on this?  It is necessary to complete task #281

[2017-03-16 16:35] dlebauer commented on #208
@smarshall-bmr what we need is the diurnal images in #263

[2017-03-16 16:36] dlebauer commented on #208
@czender is this epic a duplicate of epic #281 (develop new calibration procedure) & can they be merged?

[2017-03-16 16:37] craig-willis commented on #290
Opened ticket with NCSA+NetEng about moving the domain.

[2017-03-16 16:41] dlebauer commented on #208
<img width="886" alt="screen shot 2017-03-16 at 11 38 25 am" src="https://cloud.githubusercontent.com/assets/464871/24007646/4016aaa6-0a3d-11e7-89e3-ab59a249693b.png">

[2017-03-16 16:42] czender commented on #208
@smarshall-bmr because these Spectralon images will be used for calibration, it is important to take them under conditions that are as geometrically simple ( and thus reproducible ) as possible. Ideally you would provide images at a complete set of zenith angles on (at least) two days: one completely clear sky data and one completely overcast day. Any clouds increase the likelihood that shadows or

[2017-03-16 16:47] czender commented on #208
@dlebauer this issue is a hodgepodge that has converged mostly on a subset of #281 that is best described by #289. So it could be merged with #289 (or visa versa).

[2017-03-16 16:51] craig-willis opened #293 "Experiments tables missing from BETYdb dump"
The experiments and experiments_sites tables are missing from the current BETYdb dump.

Completion criteria:
* [ ] Experiments* tables (and any other new tables) are included in the dump

[2017-03-16 16:56] smarshall-bmr commented on #289
The VNIR is currently completely out of service. A recent software update to implement x-axis scanning broke the data writing, LemnaTec is working on it now. I have the script ready for the calibration run so I'm hoping it can happen soon.

[2017-03-16 16:56] rachelshekar commented on #265
@solmazhajmohammadi , @remotesensinglab @Paheding  @pless  @ZongyangLi - what is the standard way of handling data for overlapping images?  Is the data averaged?

[2017-03-16 16:59] dlebauer commented on #268
@yanliu-chn could you please work on defining the geotiff standard format?

[2017-03-16 17:00] max-zilla commented on #265
@yanliu-chn suggests stitching together raw data as non-georeferenced image.

[2017-03-16 17:06] max-zilla commented on #265
@ZongyangLi suggests using GeoTIFF and stereoTop for initial tests instead of FlirIR.

[2017-03-16 17:32] Paheding commented on #265
@max-zilla  Are we going to have stitching for hyperspectral data? It would be very helpful for developing plant level classification algorithms.

[2017-03-16 17:36] dlebauer commented on #265
@Paheding The hyperspectral data are 0.75m x 20m non-overlapping swaths, so I do not think it would make as much sense to stitch these.

[2017-03-16 17:44] dlebauer commented on #293
Moving this to github.com/pecanproject/bety repository

[2017-03-16 17:46] dlebauer commented on #293
moved to https://github.com/PecanProject/bety/issues/491

[2017-03-16 17:54] dlebauer commented on #291
Here are a few open, live BRAPI examples (responses from users on the BRAPI mailing list)

---

from Cyril Pommier

You can use our current implementation of the Phenotypes call on GnpIS where you can have access to Wheat and Grapevine data.
This will allow you to get phenotyping observations from a single study or several studies in several locations and years.
You can have access to the full lis

[2017-03-16 22:58] robkooper commented on #293
need to make sure we dump database and can be downloaded. It should end up at

https://terraref.ncsa.illinois.edu/bety/dump/bety.tar.gz

[2017-03-17 13:34] max-zilla commented on #248
I am going to write a new rule-checker extractor that will delegate incoming files to appropriate extractors based on whatever rules apply to each extractor. The delegates can be normal extractors, these complex scripts, etc. Rules can be more comprehensive than typical Clowder extraction pipeline.

[2017-03-17 20:35] max-zilla commented on #265
@yanliu-chn @ZongyangLi  the demosaic geotiffs are misaligned south of the plots:
<img width="143" alt="screen shot 2017-03-17 at 3 32 14 pm" src="https://cloud.githubusercontent.com/assets/14166971/24061869/374c8eaa-0b27-11e7-943b-dcd67cc27004.png">

also, the left/right of demosaic are offset up/down and not left/right. im thinking some coordinates/offsets/XY are mixed up in the extractor:
<img

[2017-03-17 20:39] ZongyangLi commented on #210
@max-zilla
Could you give me the definition of all the input arguments to the geostreams. Because it seems I need to build all the arguments myself, such as `sensor_data stream_name geom`and so on

[2017-03-17 20:47] ZongyangLi commented on #265
@max-zilla I think the misaligned in the south might cause by lack of data in those region, because all the geo-information are base on the metadata in the json file.

For the left/right and up/down question, I do rotate a 90 degree to each image, that's base on my understanding of gantry position, if you could imagine that you are looking into the images from west to the east in the field, the le

[2017-03-17 20:59] ZongyangLi commented on #265
Besides, since the 'Field of View' in the metadata is still not reasonable as mentioned in #126 , the script I uploaded is still using my assumption of the FOV.

To get a better full stitched map, it might be useful to only use one side images.

[2017-03-17 21:14] dlebauer commented on #265
Not clear why https://github.com/terraref/computing-pipeline/issues/126 was closed but I reopened it.

[2017-03-17 21:21] yanliu-chn commented on #265
@ZongyangLi I and @max-zilla checked the code to georef the geotiff files. I see that the code calculated the bbox latlon using a math formula that assumes the earth is a perfect sphere. On the other hand, the code assigns EPSG:4326 as the projection. This project's datum uses an ellipsoid to model earth.

The right way, IMHO, to do this is:
- transform the center latlon to UTM12 (EPSG:32612) usin

[2017-03-17 21:27] ZongyangLi commented on #265
@yanliu-chn I think you are right, the earth model should be an ellipsoid.

Could you explain more about the idea of cell size as a square cell?

[2017-03-17 21:41] yanliu-chn commented on #265
So suppose the camera outputs a (x pixels * y pixels) image. The first question is what is the resolution of each pixel? if it is cx mm *  cy mm, is cx == cy?

but anyway, this image would cover (x * cx)mm * (y * cy)mm spatial extent. cx and cy are two values you pass to geotiff's geotransform metadata.

the cellsize problem arises when we convert to latlon projection bc 1) 1 degree of lat, in met

[2017-03-17 21:46] ZongyangLi commented on #265
Then my assumption is a square cell.

[2017-03-17 21:47] yanliu-chn commented on #265
sounds good. then you can calculate the cell size accordingly.

[2017-03-20 15:12] max-zilla commented on #265
@ZongyangLi if you would make a branch with suggested changes to this: https://github.com/terraref/extractors-stereo-rgb/blob/master/demosaic/terra_demosaic.py

I can run it on a few test datasets and see how it looks in the map. I'm open to just stitching the left side or right side instead of both if you feel the results would be better, not sure the pros/cons for that approach.

[2017-03-20 18:14] ZongyangLi commented on #265
@max-zilla I can try it. I was thinking @yanliu-chn is the expert in this subject, would it be much more straightforward to let @yanliu-chn finish this?

[2017-03-20 18:18] yanliu-chn commented on #265
i might not get it done faster than you bc i'm constantly overloaded and has a very small percentage of my time in this project.

[2017-03-22 00:09] remotesensinglab commented on #265
Clipping and storing data per plot would really helpful for someone who knows what is planted in each plot and interested just in several plots from plant research point. I also agree the pros of doing so mentioned above for data storage and management.

However, for me a mosaicked whole field image would be more useful for developing and testing methods. Plus the plots change from season to seaso

[2017-03-22 19:04] solmazhajmohammadi commented on #265
I have been looking at the cropping 3D data to the plots
![untitled](https://cloud.githubusercontent.com/assets/17046539/24215693/84a87e00-0f07-11e7-9e09-1ad26ac9aafa.jpg)
Pointclouds depend on the direction of the gantry is generated in different coordinate system. It seems to be a shift in the pointclouds depend on the direction. We need to find this shift, this issue depends on the [issue#44](h

[2017-03-24 13:41] max-zilla commented on #210
@ZongyangLi that is included in the geostreams source code:
https://opensource.ncsa.illinois.edu/bitbucket/projects/CATS/repos/pyclowder2/browse/pyclowder/geostreams.py

[code]

As an aside, not sure how you're chopping these to plots right now but this task becomes a lot easier after we have a way to stitch + clip images to plots: https://github.com/terraref/computing-pipeline/issues/265

[2017-03-24 13:42] max-zilla commented on #265
@remotesensinglab we've been discussing retaining the full mosaic, but we may not be able to store them all every day as a full-resolution image without doing some careful thinking about space usage and processing time for the overall pipeline, as those files will be significant in size. need to run a few tests first.

[2017-03-25 20:44] dlebauer commented on #265
@max-zilla we make both first. There are many options for dealing with redundant  (stitched & subset) files but unless there is a compelling reason to test, first priority is to implement and identify use cases and patterns. Options for removing redundant files can wait a year so we can release both in Nov beta release.  One or more major commercial cloud providers are interested in hosting such f

[2017-03-27 13:13] max-zilla commented on #265
@ZongyangLi let me know how things are going re: the coordinate fix - if you're running into trouble, we can maybe get some other cyberGIS eyes on things aside from @yanliu-chn to help out

[2017-03-27 15:00] ZongyangLi commented on #265
@max-zilla
I did some investigation on this last week. My understanding of Yan's suggestion is:
1. Use the lat/lon SE as (0, 0), and use gdal to convert it into UTM 12 in a flat coordinate system.
2. Use metadata in json file to get the meta image's center UTM 12 coordinate.
3. Use Field of View in json file to get the bbox of image, base on the assumption of square cells, also in UTM 12.
4. Trans

[2017-03-27 15:42] yanliu-chn commented on #265
My comments were for fixing the problem in https://github.com/terraref/extractors-stereo-rgb/blob/master/demosaic/bin_to_geotiff.py in getting the bbox and setting the correct geotransform properties in geotiff.

if the coord info in the camera uses gantry coord, please refer to https://github.com/terraref/documentation/blob/master/spatial-reference-system-data.md to convert to USDA coord which if

[2017-03-28 14:03] max-zilla commented on #286
This will be run on all sensors as part of #265.

[2017-03-28 15:48] harshagrawal28 commented on #279
YesWorkflow is basically a way of commenting the code using certain keywords to produce a flowchart showing the stages of computation and flow of data in the code.

Each YesWorkflow tag begins with an '@' symbol.
The most important tags in YesWorkflow are:
[code]

All keywords are case-insensitive. `@param,@in, @out` should appear between @begin and @end tags

Example:
The first pair of `@begin,@e

[2017-03-28 20:43] ZongyangLi commented on #265
@max-zilla
Added a function called 'get_bounding_box_fixed' here:
https://github.com/terraref/extractors-stereo-rgb/commit/39107d7e3e3423c789d229d45579d2c973e4efce

Please have a check and see if the stitching looks better.

[2017-03-29 04:13] dlebauer commented on #270
the name of this epic Implies that it is limited to level 1. But I think it should be all data products on the filesystem and in Clowder

Also in scope:  standard human readable file names

[2017-03-29 16:42] max-zilla commented on #265
@ZongyangLi we don't have the stitching code written yet - we need corrected geoTIFFs to write the code against, and I will probably not be the person writing that code.

https://terraref.ncsa.illinois.edu/clowder/datasets/58dbd6724f0c430e2bd7b246

I ran your updated code and the image shifted position and orientation:
![screen shot 2017-03-29 at 11 07 09 am](https://cloud.githubusercontent.com/as

[2017-03-29 17:08] ZongyangLi commented on #265
@max-zilla
I didn't use Yan's formula to fix the bounding box, I used a script in https://github.com/terraref/extractors-metadata/blob/use-pyclowder-geostreams/sensorposition/terra_sensorposition.py#L58, and I realize now that might be wrong.
I will try to use those formula and update the script after lunch.

[2017-03-29 18:27] max-zilla commented on #265
@ZongyangLi thanks - yeah the sensorposition code will also need to be fixed I believe, when we have a working formula for this extractor I'll use that in the other extractor(s) as well.

[2017-03-29 18:52] yanliu-chn commented on #265
@max-zilla @ZongyangLi I need to point out that MAC itself has a shift of 2.5m due to its initial error on reference location (and inherited by all the data using MAC). So to get lat lon, we will need gantry->USDA.

you can either do gantry->MAC in UTM12; UTM12->latlong; MAC -> USDA documented in https://github.com/terraref/documentation/blob/master/spatial-reference-system-data.md, or check Solma

[2017-03-29 18:56] ZongyangLi commented on #265
@yanliu-chn
The idea of 2.5m shifting means we need to add `Latitude: Uy = My - 0.000015258894
Longitude: Ux = Mx + 0.000020308287` to get a lat/lon, is that right?

[2017-03-29 18:57] yanliu-chn commented on #265
@ZongyangLi  Yes.

[2017-03-29 19:00] yanliu-chn commented on #265
@ZongyangLi let me explain. gantry->mac will get you the coord in meters; then you convert the coord to latlon (UTM12->EPSG:4326); then use the mac->usda formula to get the correct lat lon.

you can directly adjust the 2.5m in UTM12 along x and y direction if you know how many meters 0.000015258894 degrees of lat and 0.000020308287 degrees of lon are.

[2017-03-29 19:28] ZongyangLi commented on #265
@max-zilla I have just uploaded a bounding box method with formula in the repo.

https://github.com/terraref/extractors-stereo-rgb/tree/master/demosaic

[2017-03-29 19:59] max-zilla commented on #265
@ZongyangLi this looks close to correct based on the formula I applied above (original is the lower image, fixed is upper):
![screen shot 2017-03-29 at 2 37 01 pm](https://cloud.githubusercontent.com/assets/14166971/24472971/494da84a-148d-11e7-9d6e-a57646864568.png)
Again, for:
[code]

This seems to agree with our basic plot model:
[code]
North corner X is 207.3 and our gantry position is 207; sin

[2017-03-29 20:47] rachelshekar commented on #185
reminder to @remotesensinglab, @Paheding, and @rickw-ward

[2017-03-30 14:13] max-zilla commented on #265
@ZongyangLi @yanliu-chn I am generating a full day of demosaic TIFFs here:
[code]

there are ~4,200 of these to generate, might be completed by the time of the TERRA meeting but not sure.

[2017-03-30 15:35] rachelshekar commented on #186
Rick has confirmed that he will do processing and upload

[2017-03-30 15:35] remotesensinglab commented on #185
Attached is values we got from MicaSense for some of the reference panels used during the UAV data collection. If processed in Pix4D recent version, it may be incorporated in the software  already, but worth checking during the processing.

[Ref panel values.docx](https://github.com/terraref/computing-pipeline/files/882943/Ref.panel.values.docx)

This can be closed.

[2017-03-30 15:44] dlebauer commented on #278
I wrote up documentation [here](http://htmlpreview.github.io/?https://raw.githubusercontent.com/terraref/tutorials/master/workbench/ndslabs_workbench_intro.html) in the tutorials. Is there further documentation needed?

[2017-03-30 15:45] dlebauer commented on #278
what is required for acceptance testing? I think it is okay, aside from a few bugs like the fact that my environment shuts down. But in general the functionality is awesome / better than I had imagined!

[2017-03-30 15:50] max-zilla commented on #128
@smarshall-bmr any updates on this issue?

[2017-03-30 16:06] max-zilla commented on #289
@smarshall-bmr is VNIR back up and running?

[2017-03-30 16:08] rachelshekar commented on #289
Now up and running in predawn mode for calibration

[2017-03-30 16:12] jdmaloney commented on #128
@max-zilla @smarshall-bmr As we just discussed in today's meeting, we'll just wait to receive this file until it fills up each time

[2017-03-30 16:14] max-zilla commented on #193
@ZongyangLi let me know if you have questions about pushing into BETY.

[2017-03-30 16:20] rachelshekar commented on #183
@solmazhajmohammadi will work with Chris to provide metatdata

[2017-03-30 16:24] dlebauer commented on #185
@craig-willis assigned to you to enter into sensor metadata

[2017-03-30 16:29] max-zilla commented on #265
@pless and @ZongyangLi can focus on the stitching component of this. getting one big GeoTIFF for Feb 7.

@jterstriep has volunteered to handle the clipping to individual plot boundaries from that big GeoTIFF.

[2017-03-30 16:35] rachelshekar commented on #265
FOV issue is https://github.com/terraref/computing-pipeline/issues/126

[2017-03-30 16:36] rachelshekar commented on #126
@smarshall-bmr - can you provide us with the correct field of view?  Priority is stereo-top

[2017-03-30 16:40] #256 closed

[2017-03-30 16:42] max-zilla commented on #283
Will implement this in the demosaic extractor this week.

[2017-03-30 16:45] max-zilla commented on #248
This extractor is written and basically ready - once we have our stitching & clipping script ready from #265 we will use this to trigger those scripts on full days of data.

[2017-03-30 16:45] #248 closed

[2017-03-30 16:52] robkooper commented on #293
Cronjob now running:
# dump bety every hour
0 * * * * /home/kooper/dumpbety.sh

Script:
[code]

[2017-03-30 16:52] #293 closed

[2017-03-30 18:47] ZongyangLi commented on #193
@dlebauer
I think we have two things remain in this issue.
1. Insert existed 'height' trait into BETYdb, using the formula: `[hand height] = 28.2cm + 0.661 * [89th height percentile]`, this can be done this week.
2. To automate the insertion into BETYdb. This might need a support of https://github.com/terraref/reference-data/issues/44 and 'the extractor needs to be triggered on some particular set

[2017-03-30 19:00] rmgarnett commented on #193
@ZongyangLi Please make sure that the parameters in (1) are easily overridden.  The values you quote are using older, sometimes unreliable data.  I will rerun that correlation analysis.

[2017-03-30 19:33] craig-willis commented on #278
@dlebauer  I hadn't defined any acceptance criteria other than that stakeholders (i.e., you) are happy.  With your documentation and OK, we can close this and open specific tickets for bugs/enhancements.

Your comment about "my environment shuts down" -- is this the hanging problem you've mentioned?  The reason I ask is that we do have  a feature that containers are shutdown after n hours of inact

[2017-03-30 23:18] robkooper opened #295 "deploy web apps on terraref"
The two web apps that @pless and @zongyangli developed are on ROGER in /projects/arpae/terraref/users/dlebauer/webapps/

I couldn’t find any issues on GitHub though I know we’ve discussed a few times how to present html output, from making a viewer within Clowder to mounting the directory on the terraref web server.

* [x] move webapps to better location
* [ ] mount sites folder if needed
* [ ] de

[2017-03-31 02:44] dlebauer commented on #295
@nickheyek please ping Rob  and link to this issue when you submit your pull request

[2017-03-31 02:53] dlebauer commented on #278
@craig-willis we can close this. I conflated the two hanging big and shut down feature. Being able to use the persistent home directory makes shutting down a non issue. And there was no hanging today so I will keep my fingers crossed

[2017-03-31 02:53] #278 closed

[2017-03-31 19:34] max-zilla commented on #265
@ZongyangLi @yanliu-chn @jterstriep  @smarshall-bmr looks better w/ new calculations, but we can see where we need the FOV correction:
![screen shot 2017-03-31 at 2 28 55 pm](https://cloud.githubusercontent.com/assets/14166971/24566311/abb710a6-161e-11e7-8b9c-571c80f0de00.png)

Four images of same basic part of field with different images turned on/off:

Image A:
![screen shot 2017-03-31 at 2 29 2

[2017-03-31 19:39] dlebauer commented on #185
reopened until this has been added to available metadata

[2017-03-31 19:42] dlebauer commented on #183
@solmazhajmohammadi and @ac-gl-chris please see https://github.com/terraref/reference-data/issues/72 for more info on how this should be done https://github.com/terraref/reference-data/issues/105

[2017-03-31 19:49] dlebauer commented on #128
@jdmaloney Could you review the original task and propose an approach to putting all of the different sources of field log information into one location? The PLC logs are only one part, the two other crucial sources of information are the field book and field scanner log

@smarshall-bmr are you still using git commits to record changes to the scripts that define gantry operation?

[2017-04-04 13:31] max-zilla commented on #126
you can see examples of the misalignments that result from lack of FOV consideration in #265

[2017-04-04 15:14] jdmaloney commented on #287
This clean up has been completed today, duplicates with wrong spelled names are gone, and single files with wrong name have been moved to correct name.

[2017-04-04 15:14] #287 closed

[2017-04-04 16:50] max-zilla opened #296 "Back up Postgres DB on gantry"
The Postgres pipeline DB on Roger side is backed up already - @robkooper correct me if I'm wrong.

Right now there's no backup for the AZ gantry side pg db. We could recover the relevant info from the Roger side, but would be good to back this up now so we don't need to recover anything if that time comes.

Talking with JD and one simple approach would be:
- periodically create DB dump file on gan

[2017-04-04 17:37] rachelshekar commented on #207
Changing this to April milestone since dependent on https://github.com/terraref/computing-pipeline/issues/265

[2017-04-04 17:46] rachelshekar commented on #252
@FlyingWithJerome  - can you give an update on this issue?  Can it be closed?

[2017-04-04 18:03] dlebauer commented on #279
@tmcphillips and @ludaesch We currently have a large assortment of scripts orchestrated by RabbitMQ. RabbitMQ gets a message when a new file or dataset is generated and this may trigger one or more downstream processes. But there is currently no 'formal' relationship between the different steps.

It seems useful to annotate scripts using YesWorkflow. But is there a way to do so that also links the

[2017-04-04 18:16] FlyingWithJerome commented on #252
@max-zilla
Hi Max, I would like to know how to fill in the  "geom," "type," and "region" for create_sensor(), since the Environmental Logger has no region, type or geometry. If I had all of them as None, I will get a 400 Bad Request.
BTW, "connector" can be just a random Connector instance?

[2017-04-04 18:16] FlyingWithJerome commented on #252
@rachelshekar I'm working on this; will be finished in a not-so-far future

[2017-04-04 18:18] rachelshekar commented on #221
@max-zilla please update.

[2017-04-04 18:19] rachelshekar commented on #261
@nickheyek -  can you please give an update on this below?

[2017-04-04 18:21] rachelshekar commented on #257
@solmazhajmohammadi - please provide an update/next steps

[2017-04-04 18:40] nickheyek commented on #261
Sure!
At this point I have implemented code to pull data from the BETYdb API and create box plots for data associated with each variable measured in a given experiment. This is written in Python using the Pygal library.
Additionally, I have implemented a web application using the Flask web framework that displays the box plots mentioned above. Also on this web application is a timeline of manageme